//-- Profile - My address
.my-card__sect
	&.address__sect
		.btn-add-address
			color: $color-main

.list-address__sect
	padding: 30px 0

.edit-address
	&__wrap
		background-color: #ffffff
		padding: 25px 40px 10px
		@media ( max-width: 576px)
			padding: 25px 15px 10px
	&__box
		.switch-label
			padding: 1px
		.sublabel, .wrap-select
			margin-bottom: 10px
		.sublabel
			display: block
			font-size: 0.75rem
			
			@media (max-width: 576px)
				font-size: 0.625rem
		
		&.form-default
			label.label
				font-weight: 500
				font-size: 0.875rem
			.wrap-input input, .wrap-select select
				margin: 0
				font-size: 0.875rem
				@media (max-width: 576px)
					font-size: 0.75rem
			.wrap-input, .wrap-select
				height: auto
		.address-remove
			display: block
			margin-bottom: 20px
			color: $color-warning-1	
			font-size: 0.875rem
			@media (max-width: 576px)
				font-size: 0.75rem
			&:hover
				font-weight: 500
				
		.address-default
			display: flex
			align-items: center
			justify-content: space-between
			margin-bottom: 20px

		.filter-tag
			margin-bottom: -10px
			.icsvg-bookmark
				height: 17px
			.custom-control
				@media ( max-width: 576px )
					padding-left: 0
			.custom-control:last-child
				margin-bottom: 10px
				margin-right: 0
			.custom-control:not(:last-child)
				margin: 0 15px 10px 0
				@media ( max-width: 576px )
					margin: 0 10px 10px 0		
.box-address
	&__wrap
		min-height: 600px
		&.size-s
			max-width: 570px
			margin: auto
		h3.address-title
			font-size: 16px
			font-weight: 500
			margin-bottom: 20px
		.address-image
			text-align: center
			padding: 5vh 10vh 10vh
			> p
				margin-top: 10px
				font-weight: 600
				font-size: 0.875rem

	&__item
		width: 100%
		background: #fff
		align-items: center
		padding: 20px 40px
		position: relative
		&:not(:last-child)
			border-bottom: 1px solid $background
		@extend %d-flex-center
		@media (max-width: 767px)
			padding: 20px
		@media (max-width: 576px)
			padding: 20px 15px
		.address-icon
			min-width: 24px
			height: 24px
			@extend %d-flex-center	
			.svg
				height: 20px
				@media (max-width: 767px)
					height: 16px
		.address-edit
			width: 15%
			@media (max-width: 576px)
				width: 10%
			p
				color: $color-main
				text-transform: uppercase
				font-size: 0.75rem
				text-align: right
				cursor: pointer
				&:hover
					font-weight: 500
				@media (max-width: 767px)
					display: none
			i.ic
				display: none
				margin-left: auto
				transform: scale(0.75)
				cursor: pointer
				&:hover
					background-position: -24px -168px
				@media (max-width: 767px)
					display: block
			
		.address-info
			width: 80%
			margin-left: 40px
			@media (max-width: 767px)
				margin-left: 20px
			@media (max-width: 576px)
				margin-left: 15px
		.address-name, .address-location
			@media (max-width: 576px)
				font-size: .875rem
		.address-name
			margin-bottom: 10px
			font-weight: 600
		.address-location
			font-size: .875rem
			color: $color-gray-6
			@media (max-width: 576px)
				font-size: 0.75rem


		
			