.car-feature__sect
  .list-feature
    display: flex
    flex-wrap: wrap
    .squaredThree
      width: calc( 100% / 3 - 10px )
      margin-bottom: 10px
      &:not(:nth-child(3n))
        margin-right: 15px
      @media ( max-width: 767px )
        width: calc( 50% - 7px )
        &:not(:nth-child(3n))
          margin-right: 0
        &:not(:nth-child(2n))
          margin-right: 14px
      input[type="checkbox"]
        position: absolute
        visibility: hidden
      input[type="checkbox"]:checked + label.description
        .thumbnail
          // background-color: transparent
          border: 1px solid #00A550
        // span:first-of-type
        //   font-weight: 500
    .thumbnail
      padding: 10px
      text-align: center
      border: 1px solid #E8EAEF
      box-sizing: border-box
      border-radius: 4px
      cursor: pointer
      span
        display: block
        // margin-top: 5px
      img
        width: 30px
        height: auto
        margin: 0 auto
      @media ( max-width: 991px )
        span
          font-size: 0.875rem
      @media ( max-width: 480px )
        padding: 10px 5px
        span
          font-size: 0.75rem
        img
          width: 24px
    .squaredTwo
      width: calc( 50% - 7px )
      margin-bottom: 10px
      &:not(:nth-child(2n))
        margin-right: 14px
      input[type="checkbox"]
        position: absolute
        visibility: hidden
      input[type="checkbox"]:checked + label.description
        .thumbnail
          // background-color: transparent
          border: 1px solid #00A550
      .thumbnail
        span
          font-size: 0.75rem
        img
          width: 24px