//--- All about landing page, withdrive & selfdrive 
//---- Home for Selfdrive

//-- Component
.wrap-input
	.react-bootstrap-daterangepicker-container
		display: inline-block
		width: 100%
		position: relative
		z-index: 2
h3.title-car //-- Header Title Small
	color: $color-second
	font-weight: bold
	font-size: 1.25rem
	margin-bottom: .5rem
	&:hover, &:focus
		cursor: default
	@media (max-width: 767px)
		font-size: 1rem
h3.n-title //-- Header Title Default
	color: $color-base
	font-size: 1.75rem
	text-align: center
	font-weight: 700
	margin-bottom: 3rem
	&:hover, &:focus
		cursor: default
	@media (max-width: 480px)
		font-size: 1.5rem
		margin-bottom: 2rem

//-- Arrow Slider for Car, Blog, Features, New Destination
.car-area__sect, .blog__sect, .properties .props-body, .destination__sect, .features__sect
	.swiper-button-next, .swiper-button-prev
		position: absolute
		top: 45%
		z-index: 40
		background: none
		background-color: rgba(0,160,80,.8)
		width: 32px
		height: 32px
		display: flex
		align-items: center
		padding: 11px
		cursor: pointer
		border-radius: 100%
		right: 12vw
		transition: all .3s ease
		@media(max-width: 1399px)
			right: 2.5vw
		@media(max-width: 1199px)
			right: .5vw
		@media (max-width: 991px)
			right: 2.75%
		@media(max-width: 576px)
			display: none
		&:focus, &:hover
			outline: none
	.swiper-button-prev
		left: 12vw
		@media(max-width: 1399px)
			left: 2.5vw
		@media(max-width: 1199px)
			left: .5vw
		@media (max-width: 991px)
			left: 2.75%
	.swiper-button-prev i.i-arr, .swiper-button-next i.i-arr
		display: block
		position: relative
		width: 10px
		height: 10px
		background: none
		margin: 24px auto
		transform: rotate(135deg)
		border-left: none
		border-top: none
		border-right: 2px #fff solid
		border-bottom: 2px #fff solid
		left: 2.5px
	.swiper-button-next i.i-arr
		transform: rotate(-45deg)
		left: -2.5px
.car-area__sect, .blog__sect , .newspaper__sect , .properties .props-body, .gallery-top
	.swiper-pagination-bullet
		width: 4px
		height: 4px
		@media (max-width: 576px)
			width: 3px
			height: 3px
	.swiper-pagination-bullet-active
		background: #6c6c6e

.features__sect, .destination__sect
	h3.title-car
		color: #6e6e6e
		text-transform: uppercase
		font-size: 1.125rem
		margin-bottom: 1rem
	.swiper-button-next, .swiper-button-prev
		background: #fff
		box-shadow: 0 2px 4px rgba(0,0,0,.2)
		top: 50%
		right: -2vw
		@media(max-width: 1399px)
			right: -2.5vw
		@media(max-width: 1199px)
			right: 0vw
		@media(max-width: 991px)
			right: 0vw
		@media(max-width: 576px)
			display: none
		i.i-arr
			border-right: 2px #00a550 solid
			border-bottom: 2px #00a550 solid
	.swiper-button-prev
		left: -2vw
		right: auto
		@media (max-width: 1399px)
			left: -2.5vw
		@media(max-width: 1199px)
			left: 0vw
		@media(max-width: 991px)
			left: 0vw

//-- Arrow Slider for Destination
.destination__sect
	.m-container
		position: relative
		@media(max-width: 767px)
			padding: 0 15px
		.swiper-button-next, .swiper-button-prev
			background: #00a550
				// background-image: none
			// width: 45px
			// height: 45px
			// transition: all .3s ease-in
			top: 50%
			margin-top: 0
			opacity: .5
			@media (max-width: 576px)
				display: none
			&:hover, &:focus
				opacity: 1
			// i.i-arr
			// 	background-repeat: no-repeat
			// 	width: 45px
			// 	height: 45px
			// .swiper-button-next
			// 	right: 8vw
			// 	@media (max-width: 1399px)
			// 		right: 1.5vw
			// 	@media (max-width: 1199px)
			// 		right: -.25vw
			// .swiper-button-prev
			// 	left: 8vw
			// 	@media (max-width: 1399px)
			// 		left: 1.5vw
			// 	@media (max-width: 1199px)
			// 		left: -.25vw
			i.i-arr
				border-right: 2px #fff solid
				border-bottom: 2px #fff solid

//-- Main Section
.banner-home__sect
	height: calc(100vh - 60px)
	background-size: cover
	background-position: bottom
	background-repeat: no-repeat
	position: relative
	@extend %d-flex-center
	@media (max-width: 1199px)
		height: 708px
	@media (max-width: 991px)
		height: 964px
	@media (max-width: 767px)
		height: 600px
	&:after
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: rgba(0,0,0,.25)
		z-index: 0
	.container
		width: 70vw
		position: relative
		z-index: 1
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		@media (max-width: 1399px)
			width: 75vw
		@media (max-width: 1199px)
			width: 85vw
		@media (max-width: 991px)
			width: 95vw
		@media (max-width: 767px)
			width: 80vw
			height: 100%
		@media (max-width: 480px)
			width: 90vw
	&.landing-page
		.container
			width: 50vw
			@media (max-width: 1399px)
				width: 60vw
			@media (max-width: 1199px)
				width: 70vw
			@media (max-width: 991px)
				width: 80vw
			@media (max-width: 767px)
				width: 85vw
			@media (max-width: 480px)
				width: 95vw

	h1.slogan
		font-size: 2.5rem
		line-height: 50px
		color: #fff
		font-weight: bold
		text-align: center
		margin-bottom: 1.5rem
		@media (max-width: 1399px)
			font-size: 2.25rem
		@media (max-width: 991px)
			font-size: 2rem
		@media (max-width: 767px)
			font-size: 1.75rem
			margin-bottom: 1rem
			line-height: 42px
		&.landing-text
			color: #4B4D52
		span.dash
			@media (max-width: 576px)
				display: none
		span.break
			@media (max-width: 576px)
				word-break: break-all
				white-space: pre
	.inside
		border: 1px solid #fff
		border-radius: 25px
		background: rgba(0,0,0,.5)
		padding: 5px 25px
		color: #fff
		width: 100%
		margin-bottom: 3rem
		position: relative
		@media (max-width: 767px)
			flex-wrap: wrap
			align-items: flex-start
			margin-bottom: 3rem
			padding: 30px
			border-radius: 5px
		@media (max-width: 480px)
			padding: 10px 15px 20px

	.form-search
		@extend .d-flex
		flex: 1 1 50%
		position: relative
		height: 45px
		justify-content: flex-start
		@media (max-width: 767px)
			width: 100%
			flex: auto
			margin-bottom: 0.5rem
			border-bottom: 1px solid #fff

		&:after
			content: ""
			position: absolute
			right: 0
			width: 1px
			height: 30px
			background: #fff
			@media (max-width: 767px)
				display: none
		.blah
			height: 45px
			position: absolute
			left: 5%

		&.has-placeholder
			input::-webkit-input-placeholder
				color: #fff
	.fn-search
		flex: 0 5%
		@extend .d-flex
		padding-left: 20px
		@media (max-width: 767px)
			width: 100%
			padding-left: 0
			margin-top: .5rem
			flex: auto
		.btn-search
			@extend .d-flex
			background: white
			width: 35px
			height: 35px
			border-radius: 100%
			@media (max-width: 767px)
				width: 100%
				border-radius: 3px
				height: auto
				padding: .5rem .75rem
			> span
				display: none
				@media (max-width: 767px)
					color: #00a550
					font-weight: 500
					padding-left: 5px
					display: inline-block
					font-size: .875rem
	.banner-promo__wrap
		width: 55%
		.swiper-pagination-bullet
			width: 5px
			height: 5px
			@media (max-width: 576px)
				width: 4px
				height: 4px
		.swiper-pagination-bullet-active
			background: #ffffff
		@media (max-width: 1399px)
			width: 45%
		@media (max-width: 767px)
			width: 60%
			height: auto
		@media (max-width: 480px)
			width: 80%
			height: auto
		.fix-img
			padding-bottom: 38%
			box-shadow: 0px 1px 7px rgba(0,0,0,.3)
			background: #e8eaef
	//-- Insurance
.insurance-partner
	position: absolute
	bottom: -75px
	padding: 0.75rem 2rem 0
	background: #fff
	border-radius: 30px
	z-index: 1
	text-align: center
	@media (max-width: 576px)
		bottom: -65px
		padding: .75rem 1.5rem 0
		width: 100%
	p.lstitle
		color: #6e6e6e
		font-weight: 500
		font-size: .875rem
		margin-bottom: 5px
		@media (max-width: 576px)
			font-size: .825rem
	// .partner-logo
			// @extend %align-center
			// display: flex
			// position: relative
		// &:after
		// 	@extend %pseudo-e
		// 	left: 50%
		// 	height: 50%
		// 	width: 2px
		// 	top: auto
		// 	// transform: translateX(50%)
		// 	border-left: 1px solid #6e6e6e
		// 	border-right: 1px solid #6e6e6e
			// align-items: stretch
			// &__image
			// 	position: relative
			// 	@extend %d-flex-center
			// 	padding: 0 25px
			// 	display: flex
			// 	align-items: center
			// 	flex: 1
			// 	max-width: 150px
			// 	@media (max-width: 576px)
			// 		padding: 0 15px
			// 		max-width: 90px
			// 	&:not(:last-child)
			// 		&:after
			// 			content: ''
			// 			position: absolute
			// 			width: 2px
			// 			right: -2px
			// 			height: 40%
			// 			top: auto
			// 			border-left: 1px solid $color-gray-6
			// 			border-right: 1px solid $color-gray-6

		// &:after
		// 	@extend %pseudo-e
		// 	left: 50%
		// 	height: 50%
		// 	width: 2px
		// 	top: auto
		// 	// transform: translateX(50%)
		// 	border-left: 1px solid #6e6e6e
		// 	border-right: 1px solid #6e6e6e
	// .img-fluid
		// &:first-child
		// 	margin-right: 60px
		// 	@media (max-width: 576px)
		// 		margin-right: 45px
		// 		max-width: 100px
		// &.g-care
		// 	max-width: 125px
		// 	@media (max-width: 576px)
		// 		max-width: 85px

		// &:not(:last-child)
		// 	margin-right: 40px
		// 	@media (max-width: 576px)
		// 		margin-right: 20px
		// 		max-width: 100px

		// &.g-care
		// 	max-width: 125px
		// 	@media (max-width: 576px)
		// 		max-width: auto

//-- New search in home (sefldrive)
label.home-label
	font-size: 14px
	font-weight: 500
	color: #00a550
	width: 100%
	@media (max-width: 1399px)
		font-size: 12px
.inside.inside-new
	border: 1px solid #fff
	border-radius: 40px
	background: rgba(0,0,0,.5)
	padding: 15px 25px
	color: #fff
	width: 100%
	margin-bottom: 3rem
	position: relative
	@media (max-width: 1399px)
		padding: 10px 30px
		border-radius: 30px
	@media (max-width: 767px)
		flex-wrap: wrap
		align-items: flex-start
		margin-bottom: 3rem
		padding: 30px
		border-radius: 5px
	@media (max-width: 480px)
		padding: 20px
	.form-search
		@extend .d-flex
		flex: 1 1 50%
		position: relative
		justify-content: flex-start
		flex-wrap: wrap
		height: auto
		@media (max-width: 767px)
			width: 100%
			flex: auto
			margin-bottom: 1rem
			border-bottom: 1px solid #fff
		@media (max-width: 576px)
			margin-bottom: .5rem
		&:last-child
			@media (max-width: 767px)
				margin-bottom: 0
		&:after
			content: ""
			position: absolute
			right: 0
			width: 1px
			height: 35px
			background: #fff
			@media (max-width: 767px)
				display: none
		.blah
			height: 45px
			position: absolute
			left: 5%
		&.location
			> div
				width: 100%
			input
				background-color: transparent
				padding: 0 10px 0 0
				padding-left: 0!important
				color: #fff
				font-size: 18px
				@media (max-width: 1399px)
					font-size: 16px
				@media (max-width: 991px)
					font-size: 14px
				@media (max-width: 767px)
					font-size: 16px
					padding-right: 0
		&.has-timer
			.d-flex
				width: 100%
				justify-content: flex-start
				padding-left: 20px
				font-size: 18px
			@media (max-width: 991px)
				padding-left: 10px
			@media (max-width: 767px)
				padding-left: 0
			> div
				padding-left: 0
			.wrap-input, .wrap-select
				width: auto
.wrap-input.home-datetimerange
	span
		cursor: pointer
		display: flex
		align-items: center
		letter-spacing: 1.15px
		@media (max-width: 1399px)
			font-size: 16px
		@media (max-width: 480px)
			padding: 0
			font-size: 0.875rem
.wrap-select
	&.home-select
		@extend %align-center
		padding: 0
		background: transparent
		border: none
		height: auto
		width: auto
		padding-left: 15px
		position: relative

		&:before
			@extend %pseudo-e
			@extend %i-chevron-down
			transform: rotate(45deg) scale(.66157)
			left: auto
			right: 0
			top: 1.5px
			@media (max-width: 1399px)
				top: 0px
			@media (max-width: 1199px)
				top: 1px
			@media (max-width: 991px)
				top: 1.5px
			@media ( max-width: 576px )
				top: 2.5px

		select
			color: #fff
			padding: 0 18px 0 0
			font-size: 18px
			cursor: pointer
			letter-spacing: 1.15px
			width: auto
			line-height: 24px
			@media (max-width: 1399px)
				font-size: 16px
			@media (max-width: 576px)
				line-height: 27px
			@media (max-width: 480px)
				font-size: 0.875rem
		option
			background: rgba(0,0,0,.8)
.home-datetimerange
	i.i-chevron-down
		@extend %i-chevron-down
		transform: rotate(45deg) scale(.75)
		margin-left: 10px
		margin-top: -5px

//-- City tour

.opt-city-tour.d-flex
	width: 100%
	margin-bottom: .5rem
	> label.home-label, label.label
		width: 50%
		margin-bottom: 0
	.line-radio
		justify-content: flex-end
		width: 100%
		> label.custom-radio.custom-control
			font-weight: normal
	.custom-radio
		margin-bottom: 0
		padding-left: 1.25rem
		min-height: 1.125rem
		&:last-child
			margin-right: 0
	.custom-control-indicator
		width: .75rem
		height: .75rem
	.custom-control-description
		font-size: 13px

//-- Tab city tour / subsurb
.tab-opt-route
	@extend %d-flex
	justify-content: space-around
	width: 100%
	border-bottom: 1px solid #ccc
	margin-bottom: 1.5rem
	position: relative
	&:before
		content: ""
		position: absolute
		top: 12.5%
		left: 50%
		height: 60%
		width: 1px
		transform: translate(-50%, -12.5%)
		background-color: gray
	&.home
		border-bottom: 1px solid #fff
		&:before
			background-color: #fff
		> a.opt-route
			color: #fff
	> a.opt-route
		opacity: .5
		transition: .3s ease all
		padding: 0 1.5rem
		padding-bottom: 10px

		&.active, &:hover, &:focus
			opacity: 1
			border-bottom: 2px solid #00a550
// pick-time-until
.pick-time-until
	display: flex
	width: 100%
	margin-left: 20px
	border-bottom: 1px solid #ffffff
	@media (max-width: 576px)
		margin-left: 0
		padding-top: 8px
	label.home-label
		display: none
		@media (max-width: 576px)
			display: flex
			align-items: center
			min-width: 80px
			width: auto

	.time-selection
		width: 100%
		height: 100%
		position: relative

		i.i-chevron-down
			cursor: pointer
			position: absolute
			top: 2.5px
			right: 1px
			transform: scale(0.75) rotate(45deg)
			@extend %i-chevron-down
		.selected
			display: block
			cursor: pointer
			padding-left: 15px
			line-height: 24px

	.options
		@extend %picktime-options
		@media ( max-width:	576px)
			max-height: 220px
		@media ( max-width:	480px)
			max-height: 290px
		.custom-control
			width: 100%

		.custom-control-description
			color: #ffffff
	span.extra-info
		font-size: 12px
		color: gray
		display: block

//--- Home for With driver
.wd__sect
	// Override
	&.banner-home__sect
		height: auto
		padding: 6rem 0 8rem
		.form-search:after
			content: none
		.fn-search
			padding-left: 0px
			.btn-search-car
				width: 100%
				color: #00a550
		// .banner-promo__wrap
		// 	width: 100%
		// 	height: auto
	&.iframe
		background-image: none !important
		padding: 30px
		h1.slogan
			color: #141414

	// New style
	.wd-container
		@extend %d-flex-wrap
		@extend %full-container
		position: relative
		z-index: 2
	.wd-main-title
		width: calc(60% - 5rem)
		margin-right: 5rem
		@extend %flex-column
		justify-content: space-between
		h1
			text-align: left

	.wd-search
		width: 40%
		&__wrapper
			width: 100%
			@extend %flex-column
			background: rgba(0,0,0,.7)
			padding: 25px
			color: #fff
	.form-search
		display: flex
		flex-direction: column
		width: 100%
		margin-bottom: 1rem
		border-bottom: 1px solid #fff
		@media ( max-width: 576px )
			height: auto

		.d-flex
			width: 100%
			justify-content: flex-start

		.home-datetimerange span
			@media ( max-width: 576px )
				line-height: 27px

		.time-selection
			i.i-chevron-down
				top: 5px

		&.disabled
			border-bottom: none
			height: 100%

			.home-datetimerange
				@media (max-width: 576px)
					font-size: 0.875rem
			.wrap-input span, .wrap-select select
				cursor: none
			i.i-chevron-down
				display: none
			.wrap-input:before, .wrap-select:before
				display: none

		&.start-time-wd, &.end-time-wd
			.d-flex
				width: 100%
				justify-content: flex-start
			.home-select
				select
					padding-right: 0
			.home-datetimerange
				span
					position: relative
					line-height: 24px
					@media ( max-width: 576px )
						line-height: 27px
				i.i-chevron-down
					margin-left: 20px
					@media ( max-width: 991px )
						margin-left: 10px
					@media ( max-width: 767px )
						margin-left: 20px
					@media ( max-width: 576px )
						margin-left: 45px
					@media ( max-width: 480px )
						margin-left: 35px
		&.start-time-wd
			border: none
			.home-datetimerange
				width: 35%
				@media (max-width: 576px)
					padding-right: 20px
				@media (max-width: 480px)
					padding-right: 0
			.d-flex
				@media (max-width: 576px)
					flex-wrap: wrap
			.home-datetimerange, .timedatarange
				border-bottom: 1px solid #ffffff
				border-radius: 0

				@media ( max-width: 576px )
					width: 50%

			.pick-time-until
				width: 50%

				.selected
					@media ( max-width: 480px )
						line-height: 27px
						padding: 0
						font-size: 0.875rem

				@media( max-width: 576px )
					width: 100%
			.timedatarange
				width: 25%
				min-width: 85px
				@media ( max-width: 576px )
					width: 50%

				select
					width: 100%
					@media ( max-width: 576px )
						line-height: 27px

		.home-label
			font-size: 13px
		&.location
			border-bottom: none
			height: auto
			.wrap-input
				width: 100%
				border-bottom: 1px solid #fff
				@extend %align-center
				&:not(:last-child)
					margin-bottom: 1rem
				> div
					width: 91%
				.ic-remove-fill
					cursor: pointer
			input
				background-color: transparent
				padding: 5px
				color: #fff
				font-size: 1rem
				@media (max-width: 480px)
					font-size: .875rem
			.add-address
				border-bottom: none
				cursor: pointer
				> span
					padding-left: 5px
					color: $color-main
					@media (max-width: 480px)
						font-size: .875rem
		&.total-addr
			flex-direction: row
			border: none
			height: unset
			justify-content: flex-end
			> label
				width: auto
				margin-right: 25px
			span.total
				color: #fff
				border-bottom: 1px solid #fff
				width: 25%
		&.end-time-wd
			height: 100%
			.home-datetimerange
				position: relative
				width: 30.5%
				span
					position: relative
				@media (max-width: 576px)
					width: 50%
					padding-right: 20px
				@media (max-width: 480px)
					padding-right: 0
			.home-select
				width: 22%

				select
					width: 100%
					line-height: 24px
					@media (max-width: 576px)
						line-height: 27px
				@media (max-width: 576px)
					width: 50%

		.line-form, .notice, .delivery-at-start
			width: 100%

		.squaredFour.have-label
			margin-bottom: .75rem
			label
				&.home
					color: #fff

		.delivery-at-start
			color: #141414
			margin: 0
			margin-bottom: .5rem
			> i.ic
				position: static
			&.home
				color: #fff
			@media (max-width: 576px)
				font-size: .8125rem

		.notice
			font-size: .8125rem
			margin-bottom: .5rem
			a
				color: #00a550

//-- Tabs new search landingpage (selfdrive & withdriver)
//-- override style
.banner-home__sect.landing-page
	&::after
		content: none

//-- Newstyle
.search-by-service
	&__container
		width: 100%
		padding: 25px
		background: rgba(0,0,0,.35)
		margin-bottom: 3rem
		border-radius: 3px
		@media (max-width: 991px)
			padding: 15px
		@media (max-width: 480px)
			padding: 0
			background: transparent
		&.theme-light
			.start-time-wd
				.pick-time-until, .timedatarange
					border-color: #cccccc
			.time-selection
				background-color: #ffffff
				i.i-chevron-down
					border-color: #141414

				.options
					border-left: none
					border-right: none
					border-bottom: none
					background-color: #ffffff
					box-shadow: 1px 4px 4px rgba(0,0,0,.2)
					.custom-control-description
						color: #141414
				.extra-info
					color: gray

			.tab-opt-route.home
				border-color: #cccccc
				&::before
					background-color: #cccccc
			a.opt-route
				color: #141414
			a.opt-route.active, label.home-label
				color: #00a550

			.tabs-left
				a
					background-color: #cccccc
					border-color: #00a550
					.service-box
						color: #141414
				a.active
					background-color: #ffffff
					.service-box
						color: #00a550
			.wd-search__wrapper, .wrap-select.home-select option
				background-color: #ffffff
				color: #141414
			.wd-search .wd-search__wrapper .wrap-input, .form-search
				border-color: #cccccc
				color: #141414
			.form-search.location input::placeholder,
				color: #cccccc
			.fn-search .btn-search-car
				color: #ffffff
				background-color: #00a550
			.form-search.location input,.form-search .delivery-at-start.home, .home-select select, .form-search .notice,.form-search .squaredFour.have-label label.home
				color: #141414
			i.i-chevron-down, .home-select:before
				border-color: #141414

	&__wrapper
		@extend %d-flex
		width: 100%
		@media (max-width: 767px)
			flex-wrap: wrap
		.tabs-left
			width: 30%
			@media (max-width: 767px)
				width: 100%
				display: flex
	&__box
		width: 70%
		@media (max-width: 767px)
			width: 100%
		.wd-search
			width: 100%

.tabs-left
	> a
		display: block
		// margin-bottom: 2rem
		border-radius: 5px 0 0 5px
		background: rgba(0,0,0,.2)
		transition: all .3s ease
		@media (max-width: 767px)
			border-radius: 5px 5px 0 0
		&:first-child
			@media (max-width: 767px)
				margin-right: 5px
		&.active, &:hover, &:focus
			border-right: 2px solid #fff
			background: rgba(0,0,0,.7)
			@media (max-width: 767px)
				border-right: none
				border-bottom: 2px solid #fff
	.service-box
		padding: 15px 30px
		text-align: center
		color: #fff
		@media (max-width: 767px)
			padding: 10px 20px
			display: flex
			align-items: center
		i.ict
			@media (max-width: 767px)
				background-size: 180px
				margin-right: 10px
			&.ict-selfdrive
				@media (max-width: 767px)
					background-position: -73px -63px
					width: 28px
					height: 24px
			&.ict-withdriver
				@media (max-width: 767px)
					background-position: -153px -32px
					width: 27px
					height: 26px
.car-area__sect
	position: relative
	padding: 45px 0
	@media (max-width: 767px)
		padding: 30px 0
	&.no-pd-bottom
		padding-bottom: 0
	&.has-insurance
		padding: 100px 0 45px
	.swiper-container
		z-index: 0

//-- Features in landingpage
.features__sect
	position: relative
	padding: 50px 0
	z-index: 0
	@media (max-width: 767px)
		padding: 25px 0
	&.has-insurance
		padding: 130px 0 50px
		@media (max-width: 576px)
			padding-top: 90px
	.m-container
		position: relative
	.swiper-features
		padding-bottom: 30px
	.feature-img
		position: relative
		overflow: hidden
		transition: all .3s ease-in-out
	.fix-img
		padding-bottom: 66.67%
		border-radius: 5px

//-- Destination
.destination__sect
	position: relative
	padding: 60px 0
	.m-container
		z-index: 1
	&:first-child
		padding-top: 90px
	@media (max-width: 767px)
		padding: 30px 0
	&.wd-dest
		padding-top: 0
		padding-bottom: 90px
	.right-decoration, .left-decoration
		position: absolute
		bottom: 0
		right: 0
		img
			width: 100%
	.right-decoration
		width: 128px
		img
			display: block
	.left-decoration
		top: 0
		left: -15px
		right: auto
		z-index: -1
		img
			width: 65%
	.dest-item
		.dest-img
			// width: calc(20% - .5rem)
			// margin-right: .625rem

			// border-radius: 100%
			border-radius: 10px
			position: relative
			overflow: hidden
			transition: all .3s ease-in-out
			-webkit-mask-image: -webkit-radial-gradient(white, black)
			&:last-child
				margin-right: 0
			&:hover, &:focus
				cursor: pointer
				.fix-img
					overflow: hidden
					img
						transform: scale(1.1)
			h3
				color: #ffffff
				font-size: $size-med
				position: absolute
				bottom: 0%
				left: 0%
				// top: 50%
				// left: 50%
				// transform: translate(-50%, -50%)
				z-index: 2
				font-weight: bold
				width: 100%
				padding: 15px
				// padding: 0 15px
				// text-align: center
				@media (max-width: 576px)
					font-size: .875rem
				span
					display: block
					font-weight: 500
					font-size: .875rem
					@media (max-width: 576px)
						font-size: .75rem
		.fix-img
			padding-bottom: 70%
			&:before
				content: ''
				position: absolute
				// top: 0
				bottom: 0
				left: 0
				z-index: 1
				width: 100%
				height: 50%
				border-radius: 0 0 10px 10px
				background: linear-gradient(0deg, #141414 13.85%, rgba(20, 20, 20, 0) 100%)
				// background: rgba(0,0,0, .5)
				// border-radius: 100%
			img
				// border-radius: 100%
				border-radius: 10px
				transition: all .3s ease-in-out

//== Tutorial Section
.tutorial__sect
	position: relative
	background: #e5f6ea
	padding: 50px 0
	border-top: 1px solid #e8eaef
	border-bottom: 1px solid #e8eaef

	@media (max-width: 767px)
		padding: 35px 0

	.ex-container
		text-align: center
		position: relative
		// z-index: 1
	.step-box__wrap
		@extend .d-flex
		align-items: flex-start
		margin-bottom: 1.5rem
		flex-wrap: wrap
		@media (max-width: 576px)
			margin-bottom: 0rem
		.step-box__item
			width: calc(25% - 2.5rem)
			margin-right: 3.3333rem
			display: flex
			flex-direction: column
			align-items: center
			@media (max-width: 1199px)
				width: calc(25% - 1rem)
				margin-right: 1.3333rem
			@media (max-width: 576px)
				width: 50%
				margin-right: 0
				margin-bottom: .5rem
			&:last-child
				margin-right: 0
				@media (max-width: 576px)
					margin-bottom: 0
			// &:hover, &:focus
			//   cursor: pointer

		.step-img
			width: 90%
			margin-bottom: 1.5rem
			@media (max-width: 1399px)
				width: 70%
			@media (max-width: 1199px)
				width: 80%
			@media (max-width: 991px)
				width: 85%
				margin-bottom: 1.1rem
			@media (max-width: 767px)
				width: 95%
			@media (max-width: 576px)
				width: 65%
				margin-bottom: .5rem

		.step-detail
			text-align: center
			h3
				// color: #6c6c6e
				color: #6c6c6e
				font-weight: 600
				font-size: 1rem
				line-height: 24px
				margin-bottom: .5rem
				@media (max-width: 576px)
					font-size: .875rem
			p
				font-size: $size-sm
				margin-bottom: .5rem
	.s-all
		padding-top: 0
		margin: 0 15px
		@media (max-width: 576px)
			padding-top: 5px
			justify-content: flex-end

//-- Owner Section
.owner__sect
	background-size: cover
	background-repeat: no-repeat
	background-position: center 58%
	.ex-container
		width: 100%
		min-height: 500px
		display: flex
		justify-content: flex-end
		align-items: center
		@media (max-width: 767px)
			min-height: 400px
		@media (max-width: 576px)
			background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0))
	.inner__wrap
		max-width: 400px
		color: #ffffff
		@media (max-width: 480px)
			max-width: none
		h2
			font-weight: 700
			margin-bottom: 20px
			line-height: 1.25
			font-size: 2.5rem
			&:hover, &:focus
				cursor: default
			@media (max-width: 767px)
				font-size: 2rem
		p
			font-size: 1.125rem
			margin-bottom: 30px
			line-height: 1.5
			@media (max-width: 991px)
				font-size: 1rem
			&:hover, &:focus
				cursor: default
		.has-2btn
			.btn.btn--m
				@media (max-width: 480px)
					font-size: .875rem
				&:first-child
					margin-right: 1rem
					@media (max-width: 480px)
						margin-right: 10px

//-- Blog Section

.blog__sect
	padding: 50px 0
	position: relative
	background-repeat: no-repeat
	background-size: cover
	min-height: 500px
	@media (max-width: 767px)
		padding: 30px 0
	.swiper-pagination
		bottom: -5px
	.swiper-button-next, .swiper-button-prev
		top: 42%
		right: 9.5vw
		filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2))
		@media (max-width: 1399px)
			right: 2.5vw
		@media (max-width: 576px)
			display: none
			right: .5%
			top: 38%
	.swiper-button-prev
		left: 9.5vw
		@media (max-width: 1399px)
			left: 2.5vw
		@media (max-width: 576px)
			display: none
			left: .5%

.blog__background
	background: url('../images/homev2/blog-background.png')
	background-repeat: no-repeat
	background-size: cover
	position: absolute
	top: 0
	right: 0
	z-index: -1
	width: 509px
	height: 463px
	> svg
		position: absolute
		top: 40px
		right: 40px
		height: auto
		@media (max-width: 991px)
			width: 120px
			top: 20px
			right: 20px

		@media (max-width: 767px)
			width: 100px

		@media (max-width: 576px)
			width: 80px
			top: 15px
			right: 15px

.blog__wrap
	&-v2
		.blog-img
			position: relative
			border-radius: 5px
			overflow: hidden
			margin-bottom: 20px
			cursor: pointer
			&:hover
				img
					transform: scale(1.2)
			.fix-img
				padding-bottom: 66.8%
				img
					z-index: -2
					transition: all .3s ease
		.title-blog
			position: absolute
			bottom: 0
			left: 0
			width: 100%
			padding: 25px 20px 20px 20px
			&:before
				content: ""
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				background: linear-gradient(0deg,$color-base 0%, rgba(20, 20, 20, 0) 100%)
				opacity: 0.7
				border-radius: 0px 0px 5px 5px
				z-index: -1
			h3
				color: #fff
				text-align: center
				font-size: 16px
				font-weight: 700
				z-index: 10
				max-height: 48px
				text-overflow: ellipsis
				overflow: hidden
		.blog-detail
			padding-top: 20px
			position: relative
			margin-bottom: 20px
			&:after
				content: ""
				position: absolute
				width: 50%
				height: 5px
				top: 0
				left: 50%
				transform: translate(-50%)
				background: $color-gray-6
			.content
				text-align: center
				max-height: 72px
				text-overflow: ellipsis
				overflow: hidden
				margin-bottom: 20px

		.blog__item
			&:nth-child(3n + 3)
				margin-top: 80px
				@media (max-width: 991px)
					margin-top: 0
			&:nth-child(2n + 2)
				margin-top: 40px
				@media (max-width: 991px)
					margin-top: 0

		.blog-CTA
			display: flex
			justify-content: center
			p
				border: 1px solid
				border-radius: 999px
				padding: 9px 15px
				text-transform: uppercase
				color: $color-main
				cursor: pointer
				display: flex
				align-items: center
				line-height: 16px
				font-size: 14px
	.blog__item
		width: calc(33.33% - 1.5rem)
		margin-right: 2.25rem
		overflow: hidden
		-webkit-mask-image: -webkit-radial-gradient(white, black)
		margin-bottom: 3.5rem
		&:last-child
			margin-right: 0px
		@media (max-width: 767px)
			margin-bottom: 2rem
		.fix-img
			padding-bottom: 56.25%
			border-radius: 25px
			overflow: hidden
			-webkit-mask-image: -webkit-radial-gradient(white, black)
			img
				border-radius: 25px
		.blog-img
			position: relative
			transition: all .3s ease
			border-radius: 25px
			img
				transition: all .3s ease
			&:hover, &:focus
				cursor: pointer
				img
					transform: scale(1.2)
		.title-blog
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			padding: .5rem .75rem
			width: 80%
			background: rgba(0,0,0,.45)
			text-align: center
			z-index: 1
			@media (max-width: 576px)
				width: 85%
			h3
				font-size: $size-med
				color: #ffffff
				font-weight: 700
				line-height: 24px
				overflow: hidden
				-o-text-overflow: ellipsis
				text-overflow: ellipsis
				word-wrap: normal
				max-height: 72px
				display: -webkit-box
				-webkit-line-clamp: 3
				-webkit-box-orient: vertical
		.blog-detail
			display: flex
			align-items: center
			flex-direction: column
			padding: 10px 0
			.bar-line
				width: 10vw
				height: 2px
				background: $color-main
				margin-top: 1.5rem
				margin-bottom: 1rem
				@media (max-width: 767px)
					width: 30vw
			.content
				// text-align: center
				padding-top: .5rem
				p
					font-size: $size-sm
					margin-bottom: .5rem
					overflow: hidden
					display: -webkit-box!important
					-o-text-overflow: ellipsis
					text-overflow: ellipsis
					word-wrap: break-word
					-webkit-box-orient: vertical
					-webkit-line-clamp: 6
					line-height: 20px
					max-height: 120px
					@media (max-width: 480px)
						font-size: .75rem
					&:hover, &:focus
						cursor: default
			.group-info
				width: 100%
				@extend .d-flex
				justify-content: space-between
				.time-post
					i.ic.ic-clock
						background-position: -238px -72px
						background-size: 300px
						width: 18px
						height: 18px
					span
						font-size: 13px
						color: $color-main
						margin-left: 5px

//-- Newspaper Section
.newspaper__sect
	position: relative
	background-size: cover
	padding: 60px 0
	background-repeat: no-repeat
	-webkit-transform: translate3d(0,0,0)
	background-position: center
	@media (max-width: 767px)
		padding: 30px 0
	.news__item
		width: calc(33.33% - 2rem)
		margin-right: 3rem
		box-shadow: 0 2px 8px rgba(0,0,0,.3)
		transition: all .3s ease
		margin-bottom: 2rem
		@media (max-width: 991px)
			width: calc(33.33% - 1rem)
			margin-right: 1.5rem
		@media (max-width: 767px)
			width: 100%
			margin-bottom: 2.5rem
			margin-right: 0
			// margin-bottom: 1.125rem
		&:last-child
			margin-right: 0
			@media (max-width: 767px)
				margin-bottom: 0
		&:hover, &:focus
			cursor: pointer
			.fix-img
				&:after
					opacity: 1
					visibility: visible

	.fix-img
		padding-bottom: 62%
		&:after
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background: rgba(255,255,255,.1)
			opacity: 0
			visibility: hidden
			transition: all .3s ease
	.news-img
		position: relative
	.news-logo
		position: absolute
		bottom: -10px
		right: 0
		width: 5rem
		height: 4rem
		padding: 10px
		background: $color-third
		@extend .d-flex
		img
			max-width: 100%
			height: auto

//--- Download app section
.down-app
	&-main
		position: absolute
		top: 0
		left: -10%
		height: 100%
		width: 100%
		object-fit: cover
		@media ( max-width: 1199px )
			left: auto
			right: 10%
			width: auto

		@media ( max-width: 991px )
			right: -70px
			width: 1300px
			height: auto
			object-fit: contain
		@media ( max-width: 767px )
			right: -20%
		@media ( max-width: 576px )
			right: auto
			left: -670px

	&-1, &-2
		position: absolute
		// img
		display: block
		@media (max-width: 991px)
			max-width: 100%
			height: auto

	&-1
		top: calc( 50% + 20px)
		// top: 50%
		right: 44.5%
		transform: translate(-50%, -50%) rotateZ(-1deg)
		// transform: translate(-50%,-50%)

		@media ( max-width: 1199px )
			right: auto
			left: 21%
			width: 35%
		@media ( max-width: 991px )
			left: 25%
			// right: 320px
			// transform: translate(-50%,-50%) rotateZ(-1deg)
			// transform: translate(-50%, -50%) rotateZ(-4deg)
			width: 37%

		@media (max-width: 767px)
			width: 38%
			left: 19%
			// right: 245px

		@media (max-width: 576px)
			bottom: -21%
			left: 30%
			top: auto
			width: 190px
			transform: translate(-50%,-50%) 

	&-2
		bottom: 0
		left: calc( 50%)
		// left: calc( 50% + 50px )
		transform: translateX(-50%)
		z-index: 3
		@media ( max-width: 1199px )
			left: 52%
			width: 43%
		// 	right: 220px
		// 	transform: none
		@media ( max-width: 991px )
			// bottom: 0
			left: 53%
			width: 45%
			// right: -165px
			transform: translateX(-50%)
		@media (max-width: 767px)
			width: 50%
			left: 47%
			// right: -20px
			// right: -205px
		@media (max-width: 576px)
			bottom: 0
			width: 230px
			right: auto
			left: calc( 33% + 120px )
			margin-left: 0

	&__sect
		position: relative
		overflow: hidden
		background-size: cover
		background-position: -140px center
		// background-image: url("../images/homev2/background.svg")
		// background-position: center bottom
		// background-size: cover
		background-repeat: no-repeat
		@media (max-width: 1024px)
			background-position: -200px 30px

		@media (max-width: 991px)
			// background-size: cover
			background-size: 1470px auto
			background-position: 65% -20px !important
		@media (max-width: 767px)
			// background-position: -590px 15px !important
			background-position: 65% -10px !important
		@media (max-width: 576px)
			background-position: -710px -75px !important
		

		&::before, &::after
			content: ""
			background-size: cover
			background-repeat: no-repeat
			position: absolute
			z-index: 2
			height: 150px
			width: 150px
			@media (max-width: 991px)
				height: 120px
				width: 120px
			@media (max-width: 767px)
				height: 100px
				width: 100px
			@media (max-width: 576px)
				height: 80px
				width: 80px

		&::before
			background-image: url(../images/homev2/dots1.svg)
			left: 40px
			top: 40px
			@media (max-width: 991px)
				left: 20px
				top: 20px
			@media (max-width: 767px)
				left: 15px
				top: 15px
			@media (max-width: 576px)
				display: none

		&::after
			background-image: url(../images/homev2/dots2.svg)		
			bottom: 40px
			right: 40px

			@media (max-width: 991px)
				bottom: 20px
				right: 20px
			// @media (max-width: 767px)
			// 	bottom: 80px
			@media (max-width: 576px)
				bottom: 15px
				right: 15px

		.ex-container
			@extend .d-flex
			height: 620px
			flex-wrap: wrap
			justify-content: flex-end
			@media (max-width: 991px)
				min-height: 425px
			@media (max-width: 767px)
				height: 600px
			@media (max-width: 576px)
				align-items: flex-start
				justify-content: center
				height: 500px
		.app-content
			// width: calc(60% - 1rem)
			text-align: right
			z-index: 1
			margin-right: 40px

			// display: flex
			// height: 620px
			// flex-wrap: wrap
			// justify-content: flex-end
			// @media (max-width: 991px)
			// 	min-height: 425px
			// @media (max-width: 767px)
			// 	height: 600px
			// @media (max-width: 576px)
			// 	align-items: flex-start
			// 	justify-content: center
			// 	height: 500px

			@media (max-width: 1199px)
				padding-left: 25px

			@media (max-width: 991px)
				max-width: 50%
				margin-right: 20px
				// max-width: 370px

			@media (max-width: 767px)
				max-width: fit-content
				padding-left: 0

			@media (max-width: 576px)
				width: 100%
				margin-right: 0
				padding-left: 0
				padding-top: 70px
				text-align: center
			h2
				font-weight: 700
				margin-bottom: 20px
				line-height: 1.25
				font-size: 2.5rem
				&:hover, &:focus
					cursor: default
				@media (max-width: 991px)
					font-size: 1.875rem
				@media (max-width: 767px)
					font-size: 1.75rem
				@media (max-width: 480px)
					font-size: 1.5rem
			p
				font-size: 1.125rem
				margin-bottom: 30px
				line-height: 1.5
				@media (max-width: 991px)
					font-size: 1rem
				@media (max-width: 576px)
					font-size: 0.85rem
				&:hover, &:focus
					cursor: default
		.app-img
			width: calc(40% - 1rem)
			margin-right: 0
			text-align: center
			@media (max-width: 991px)
				width: 40%
			@media (max-width: 767px)
				width: 100%
				display: none
			// img
			// 	max-width: 80%
			// 	height: auto
			// 	@media (max-width: 767px)
			// 		max-width: 35%
			// 	@media (max-width: 576px)
			// 		max-width: 50%
		.store
			display: flex
			justify-content: flex-end
			@media (max-width: 576px)
				max-width: none
				justify-content: center
				width: 100%
				margin-bottom: 2rem
				padding: 0 35px
			.func-app:first-child
				margin-right: 10px
			.func-app
				@media (max-width: 767px)
					width: 160px
// .down-app__sect
// 	background-position: 30%
// 	background-size: cover
// 	background-repeat: no-repeat
// 	.ex-container
// 		@extend .d-flex
// 		height: 600px
// 		flex-wrap: wrap
// 		@media (max-width: 991px)
// 			min-height: 425px
// 	.app-content
// 		width: calc(60% - 1rem)
// 		margin-right: 2rem
// 		@media (max-width: 1199px)
// 			padding-left: 25px
// 		@media (max-width: 991px)
// 			width: 60%
// 			margin-right: 0
// 		@media (max-width: 767px)
// 			width: 100%
// 			margin-right: 0
// 			padding-left: 0
// 			padding-top: 30px
// 			text-align: center
// 		h2
// 			font-weight: 700
// 			margin-bottom: 20px
// 			line-height: 1.25
// 			font-size: 2.5rem
// 			&:hover, &:focus
// 				cursor: default
// 			@media (max-width: 991px)
// 				font-size: 1.875rem
// 			@media (max-width: 767px)
// 				font-size: 1.75rem
// 			@media (max-width: 480px)
// 				font-size: 1.5rem
// 		p
// 			font-size: 1.125rem
// 			margin-bottom: 30px
// 			line-height: 1.5
// 			@media (max-width: 991px)
// 				font-size: 1rem
// 			&:hover, &:focus
// 				cursor: default
// 	.app-img
// 		width: calc(40% - 1rem)
// 		margin-right: 0
// 		text-align: center
// 		@media (max-width: 991px)
// 			width: 40%
// 		@media (max-width: 767px)
// 			width: 100%
// 		img
// 			max-width: 80%
// 			height: auto
// 			@media (max-width: 767px)
// 				max-width: 35%
// 			@media (max-width: 576px)
// 				max-width: 50%
// 	.store
// 		display: flex
// 		@media (max-width: 991px)
// 			max-width: 320px
// 		@media (max-width: 767px)
// 			max-width: none
// 			justify-content: space-around
// 			width: 100%
// 			margin-bottom: 2rem
// 			padding: 0 35px
// 		.func-app:first-child
// 			margin-right: 10px
