.step-ins__sect
  margin: 80px auto
  @media (max-width: 576px)
    margin: 60px auto
  .step-bar
    // margin: 100px 0 0
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25))
    .find-ins, .detail-ins
      @extend %just-center
      background-color: #fff
      padding: 15px 0 15px 10px
      width: 50%
      cursor: pointer
      span
        color: #6E6E6E
        font-weight: 500
        &:first-child
          margin-right: 10px
    .find-ins
      position: relative
      border-radius: 999px 0 0 999px
      background-color: #00A550
      span
        color: white
      &::after
        content: ""
        position: absolute
        height: 100%
        width: 40px
        right: -20px
        background-color: #F8F9FB
        clip-path: polygon(5% 0, 0 0, 95% 50%, 0 100%, 5% 100%, 100% 50%)
        bottom: 0
        z-index: 2
      &.active
        &::after
          clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 100% 50%)
          background-color: #00A550
          background-color: white
    .detail-ins
      position: relative
      border-radius: 0 999px 999px 0
      &::before
        content: ""
        position: absolute
        height: 100%
        width: 20px
        left: 0px
        background-color: #00A550
        clip-path: polygon(100% 50%, 0 0%, 0 100%)
        bottom: 0
      &.active
        background-color: #00A550
        span
          color: white
        &::before
          display: none

      
    @media (max-width: 767px)
      .find-ins, .detail-ins
        span
          font-size: 0.875rem
    @media (max-width: 480px)
      .find-ins, .detail-ins
        span
          font-size: 0.75rem
          &:first-child
            margin-right: 3px
      .find-ins
        &::after
          width: 20px
      .find-detail
        &::before
          width: 20px
          right: -10px
        
.ins-detail__sect , .ins-price__sect 
  margin-bottom: 80px
.ins-container
  padding: 80px 25px
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1)
  h4
    font-size: 1.75rem
    font-weight: bold
    margin-bottom: 20px
  h4.subtitle
    font-size: 1.5rem
  h5
    font-size: 1rem
    font-weight: 500
  h6
    font-size: 1rem
    font-weight: 500
  strong
    font-weight: 500
  .btn-center
    text-align: center
    margin-top: 10px

  .options
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    margin-bottom: 15px
  .option-ins
    @extend %align-center
    .ic
      cursor: pointer
  .title-ins
    @extend %align-center
    flex-wrap: wrap
    margin-bottom: 20px
    h5.car_company
      position: relative
      color: #00A550
      font-weight: 500
      margin-left: 60px
      &::before
        position: absolute
        content: ""
        clip-path: polygon(0 0, 100% 50%, 0 100%)
        background-color: #6E6E6E
        height: 20px
        width: 12px
        bottom: 5px
        left: -35px
        // margin: -20px -35px
        // font-size: 2.5rem
        // color: black
  .title-price-box
    @extend %align-center
    margin-top: 35px
    .type-ins
      margin-left: 10px
  .vehicle-type .squaredFour
    // width: 20%
    margin: 0 0 20px
    // .squaredFour
    input[type="radio"]
      position: absolute
      visibility: hidden
    input[type="radio"]:checked + label.description
      .thumbnail
        background-color: transparent
        border: 1px solid $color-base
      span:first-of-type
        font-weight: 500
  .box-half
    width: 50%
    margin-bottom: 1rem
  @media (max-width: 991px)
    h4, h4.subtitle
      font-size: 1.25rem
    // h5
    //   font-size: 1rem
    .title-ins
      h5.car_company
        &::before
          height: 15px
          width: 10px
    
  @media (max-width: 767px)
    padding: 60px 25px
    // h4
    //   font-size: 1.25rem
    p, .btn
      font-size: 0.875rem
    .option-ins
      label
        font-size: 0.875rem
    // .vehicle-type .squaredFour
    //   width: 25%
  @media (max-width: 576px)
    box-shadow: none
    padding: 0
    // h4
    //   font-size: 1rem
    //   margin-bottom: 10px
    h4.subtitle
      font-size: 1rem
    h5
      font-size: 0.875rem
    .title-ins
      margin-bottom: 10px
      h5.car_company
        margin-left: 40px
        &::before
          // margin: -16px -27px
          left: -20px
    .box-half
      width: 100%
  @media (max-width: 480px)
    // p, .btn
    //   font-size: 0.75rem
    // .option-ins
    //   label
    //     font-size: 0.75rem
    .title-ins
      h5.car_company
        margin-left: 20px
        // width: 100%
        font-size: 0.875rem
        &::before
          left: -15px
          height: 12px
          // margin: -15px -20px
          // font-size: 1.875rem
          // display: none
    .vehicle-type .squaredFour
      width: 50%
  &.explain-container
    padding: 10px 0
    border-radius: 8px
    .explain-ins
      // @extend %d-flex-center-between
      // position: relative
      padding: 20px
      margin-right: 5px
      &:not(:first-child)
        border-top: 1px solid #E8EAEF
      h6
        font-size: 1rem
        font-weight: 500
        cursor: pointer
        width: fit-content
        margin-right: 15px
      p
        margin-top: 1rem
      svg
        margin-right: 10px
        width: 36px
        height: 36px
      i.i-chevron-down
        display: block
        // position: absolute
        // right: 30px
        // top: 25px
        width: 12px
        height: 12px
        background: none
        border-left: none
        border-top: none
        border-right: 1px #6E6E6E solid
        border-bottom: 1px #6E6E6E solid
        transform: rotate(-45deg)
        cursor: pointer
      &.active
        i.i-chevron-down
          transform: rotate(45deg)
          border-color: #00A550
          margin-bottom: 5px
      @media (max-width: 767px)
        h6
          font-size: 0.875rem
      @media (max-width: 480px)
        // i.i-chevron-down
        //   display: none
        svg
          margin-right: 10px
          width: 30px
          height: 30px
    .explain-title
      @extend %d-flex-center-between
    //   h5
    //     margin: auto auto 20px
    

  .ic-black-circle
    margin-right: 5px
    &.active
      background-position: -341px -120px
  .box-car__detail
    margin-bottom: 20px
    background: #f3fbf7
    padding: 30px 20px 15px
    & > div
      @extend %d-flex-wrap
      margin-bottom: 20px
    .col-title
      width: 115px
      margin-right: 10px
      p
        font-weight: 500
        @media (max-width: 480px)
          font-size: 0.875rem
    .col
      width: calc( 100% - 125px )
      @extend %d-flex-wrap
      .option
        @extend %align-center
        border: 1px solid #A9AAAD
        box-sizing: border-box
        border-radius: 18px
        padding: 5px 10px
        margin: 0 10px 10px 0
        cursor: pointer
        p
          // font-weight: 500
        img
          margin-right: 5px
          width: 24px
          height: auto
        svg
          margin-left: 5px
        &.active, &:hover
          border-color: #00A550
          p
            color: #00A550
        &.child
          border: none
          // &.active
          //   p
          //     color: #00A550
      .others
        p
          color: #6E6E6E
      .option-ins
        margin-right: 40px
      .wrap-select
        max-width: 100px
        select
          font-size: 1rem
          padding: 11px 20px
          @media (max-width: 767px)
            font-size: 0.875rem
            padding: 14px 20px
    & > div
      &:first-child
        .col
          .option
            @extend %d-flex-center

    @media (max-width: 767px)
      .col-title
        width: 95px
      .col
        width: calc( 100% - 105px )
    @media (max-width: 576px)
      padding-bottom: 10px
      .col-title, .col
        width: 100%
      .col-title
        margin-bottom: 1rem

  .box-car__info
    @extend %just-center
    flex-wrap: wrap
    margin-bottom: 20px
    // background: #f3fbf7
    // width: calc( 80% - 25px )
    // margin-right: 25px
    .left
      background: #f3fbf7
      width: calc( 80% - 25px )
      margin-right: 25px
      padding: 30px 20px 15px
      & > div
        @extend %d-flex-wrap
        margin-bottom: 20px
      .col-title
        width: calc( 20% - 10px )
        margin-right: 10px
        p
          font-weight: 500
          @media (max-width: 480px)
            font-size: 0.875rem
      .col
        width: 80%
        @extend %d-flex-wrap
        .option
          @extend %align-center
          border: 1px solid #A9AAAD
          box-sizing: border-box
          border-radius: 18px
          padding: 5px 10px
          margin: 0 10px 10px 0
          cursor: pointer
          p
            // font-weight: 500
          img
            margin-right: 5px
            width: 24px
            height: auto
          svg
            margin-left: 5px
          &.active, &:hover
            border-color: #00A550
            p
              color: #00A550
          &.child
            border: none
            // &.active
            //   p
            //     color: #00A550
        .others
          p
            color: #6E6E6E
        .option-ins
          margin-right: 40px
      & > div
        &:first-child
          .col
            .option
              @extend %d-flex-center

          
      @media (max-width: 576px)
        .col-title, .col
          width: 100%
          margin-bottom: 1rem
    .right
      width: 20%
      padding: 30px 15px 20px
      box-sizing: border-box
      height: fit-content
      &.border-box
        border: 1px solid #E8EAEF
      p
        font-weight: 500
        text-align: center
        margin-bottom: 15px
        @media (max-width: 480px)
          font-size: 0.875rem
      .mfg-mobile
        display: none
      .mfg
        @extend %d-flex-wrap
        @extend %d-flex-center-between
        // height: calc(100% - 30px)
        .year
          width: 50%
          // font-weight: 500
          text-align: center
          margin-bottom: 10px
          &.active, &:hover
            color: #00A550
          // @media (max-width: 480px)
          //   font-size: 0.875rem
    @media (max-width: 991px)
      .left
        .col-title
          width: calc( 22% - 10px )
        .col
          width: 78%
    @media (max-width: 767px)
      .left
        width: 100%
        margin: 0
        padding-bottom: 15px
      .right
        width: 100%
        border: none
        padding: 30px 0 0
        p
          text-align: left
          font-size: 1rem
          text-transform: uppercase
        &.border-box
          border: none
        .mfg
          display: none
        .mfg-mobile
          display: initial
    //---------------------------------------------------------------------
    // padding: 30px 20px 10px
    // & > div
    //   @extend %d-flex-wrap
    //   width: 100%
    //   margin-bottom: 20px
    // .col-title
    //   width: calc( 20% - 10px )
    //   margin-right: 10px
    //   p
    //     font-weight: 500
    //     @media (max-width: 480px)
    //       font-size: 0.875rem
    // .col
    //   width: 80%
    //   @extend %d-flex-wrap
    //   .option
    //     @extend %align-center
    //     border: 1px solid #A9AAAD
    //     box-sizing: border-box
    //     border-radius: 18px
    //     padding: 5px 10px
    //     margin: 0 10px 10px 0
    //     cursor: pointer
    //     p
    //       // font-weight: 500
    //     img
    //       margin-right: 5px
    //       width: 24px
    //       height: auto
    //     svg
    //       margin-left: 5px
    //     &.active
    //       border-color: #00A550
    //       p
    //         color: #00A550
    //     &.child
    //       border: none
    //       // &.active
    //       //   p
    //       //     color: #00A550
    //   .others
    //     p
    //       color: #6E6E6E
    //   .option-ins
    //     margin-right: 40px
    // & > div
    //   &:first-child
    //     .col
    //       .option
    //         @extend %d-flex-center

        
    // @media (max-width: 576px)
    //   padding-bottom: 0
    //   .col-title, .col
    //     width: 100%
    //     margin-bottom: 1rem
    //   .col
    //     .option-ins
    //       margin-bottom: 10px
    // // .right
    // //   width: 20%
    // //   padding: 30px 15px 20px
    // //   box-sizing: border-box
    // //   height: fit-content
    // //   &.border-box
    // //     border: 1px solid #E8EAEF
    // //   p
    // //     font-weight: 500
    // //     text-align: center
    // //     margin-bottom: 15px
    // //     @media (max-width: 480px)
    // //       font-size: 0.875rem
    // //   .mfg-mobile
    // //     display: none
    // //   .mfg
    // //     @extend %d-flex-wrap
    // //     @extend %d-flex-center-between
    // //     // height: calc(100% - 30px)
    // //     .year
    // //       width: 50%
    // //       // font-weight: 500
    // //       text-align: center
    // //       margin-bottom: 10px
    // //       &.active
    // //         color: #00A550
    // //       // @media (max-width: 480px)
    // //       //   font-size: 0.875rem
    // @media (max-width: 991px)
    //   .left
    //     .col-title
    //       width: calc( 22% - 10px )
    //     .col
    //       width: 78%
    // @media (max-width: 767px)
    //   .left
    //     width: 100%
    //     margin: 0
    //   // .right
    //   //   width: 100%
    //   //   border: none
    //   //   padding: 30px 0 0
    //   //   p
    //   //     text-align: left
    //   //     font-size: 1rem
    //   //     text-transform: uppercase
    //   //   &.border-box
    //   //     border: none
    //   //   .mfg
    //   //     display: none
    //   //   .mfg-mobile
    //   //     display: initial
  // --------------------------------------------------------------------------//
      
  a.link-fanpage
    color: $color-main
    text-decoration: underline
    font-weight: 500
  a.ins-question
    margin: 20px 0
    color: $color-link
    // cursor: pointer
    font-weight: 500
    &::after
      position: absolute
      margin: 9px 0 0 5px
      content: ""
      width: 8px
      height: 8px
      transform: rotate(315deg)
      border-left: none
      border-top: none
      border-right: 1px solid $color-link
      border-bottom: 1px solid $color-link 
      @media (max-width: 767px)
        margin-top: 8px
        width: 6px
        height: 6px
      @media (max-width: 480px)
        margin-top: 6px
  .wrap-input
    height: 45px
    border: 1px solid $background
    max-width: 145px
    @include radius(3px)
    &:focus,
    &.is-focused 
      border: 1px solid $color-base
    i
      position: absolute
      top: 9px
      left: 13px
      z-index: 1
    input 
      background-color: transparent
    .react-datepicker__input-container 
      width: 100%
    &.has-dropdown
      position: relative
      cursor: pointer
      // margin-bottom: 1rem
      &:before 
        position: absolute
        top: 11px
        right: 5px
        content: ""
        background: url($main_sprites) 0 -48px no-repeat
        background-size: $main_sprites_size
        width: 24px
        height: 24px
    .value
      display: block
      padding: 11px 20px
      font-size: 1rem
      @media ( max-width: 767px )
        font-size: 0.875rem
        
      // &.placeholder
      //   color: shade($color-third, 30%)
    // border-bottom: 1px solid #E8EAEF
    // width: fit-content
    // span
    //   display: flex
    //   cursor: pointer
    //   .i-chevron-down
    //     display: block
    //     width: 15px
    //     height: 15px
    //     border-left: none
    //     border-top: none
    //     border-right: 2px solid black
    //     border-bottom: 2px solid black
    //     transform: rotate(45deg) scale(.75)
    //     margin: 3px 0 0 10px
    //   @media (max-width: 480px)
    //     font-size: 0.75rem
    //     .i-chevron-down
    //       height: 10px
    //       width: 10px
    //       margin-top: 4px

  .type-ins
    background: #57A8FF
    border-radius: 12px
    color: #fff
    padding: 2px 10px
    width: fit-content
    height: fit-content
    font-size: 0.875rem
  .box-50
    width: 50%
    margin-bottom: 1rem
    @media (max-width: 767px)
      width: 100%
    
  .notice-form
    margin: 30px 0

  .ins-price-box
    width: 100%
    overflow: auto
    margin: 30px 0
    padding: 5px 0
  .ins-price-container, .ins-price-extra
    display: flex
    width: 100%
    padding-right: 5px
    h5
      font-weight: 500
    h6
      font-size: 1.25rem
      font-weight: 500
      line-height: 40px
    p
      margin-bottom: 15px
      font-size: 0.875rem
      line-height: 25px
    p.price-total
        font-size: 1rem
    p.cost
      font-size: 0.875rem
      font-style: italic
    // Popup
    // .price-extra
    //   line-height: 42px
    .option-ins
      i.ic-black-circle
        margin-bottom: 15px
        width: 27px
      p
        width: calc( 100% - 35px )
    .ins-price-title
      width: 35%
      margin-right: 10px
      .unit
        @extend %d-flex-center
        color: #6E6E6E
        min-height: 70px
      .title-1
        @extend %d-flex-center
        min-height: 108px
        background: #DDEEFF
        border-radius: 8px
        margin-bottom: 10px
      .title-2
        background: #DDEEFF
        border-radius: 8px
        .benefit
          text-align: center
          padding: 15px 0
          border-bottom: 1px solid #fff

        .rules
          @extend %d-flex
          width: 100%
          border-bottom: 1px solid #fff
          .box-sm
            // width: 17%
            max-width: 55px
            .tt-box
              font-weight: 500
              line-height: initial
          .box-m
            width: 150px
          .box-sm, .box-m
            @extend %d-flex-center
            background: #BDDEFF
            padding: 0 10px
            p
              margin: 0
          .box-lg
            width: calc( 100% - 55px )
          .box-l
            width: calc( 100% - 150px )
          .box-lg, .box-l
            padding: 15px 0 0 5px
            p.cost
              margin-left: 35px
          @media (max-width: 991px )
            .box-m
              width: 30%
            .box-l
              width: 70%
            
        .total-price-ins
          @extend %d-flex
          padding-top: 15px
          min-height: 286px
          .box-m
            width: 150px
          .box-sm
            width: 18%
          .box-l
            width: calc( 100% - 150px )
            padding-left: 5px
          .box-lg
            width: 81%
          .price-total
            font-weight: 500
          @media (max-width: 991px)
            .box-m
              width: 30%
            .box-l
              width: 70%
          @media (max-width: 767px)
            .price-total
              font-size: 0.875rem

    .ins-price-company
      width: calc( 32.5% - 10px )
      border-radius: 18px 18px 8px 8px
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15)
      &:last-child
        margin-left: 10px
        .ins-company
          img
            height: 30px
      .ins-company
        @extend %d-flex-center
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15)
        height: 70px
        border-radius: 18px 18px 0px 0px
        img
          height: 40px
          width: auto
      .package
        width: 50%
        text-align: center
        padding: 20px 0 40px
        .suggest
          position: relative
          h6
            line-height: 18px
          span
            position: absolute
            background: #F44336
            color: #FFF
            border-radius: 8px
            font-size: 0.75rem
            font-weight: 400
            left: 65%
            bottom: 0
            padding: 0 4px
            // line-height: 18px
            @media (max-width: 991px)
              left: 62%
              font-size: 0.65rem
              bottom: 2px
        .ins-quantity-sold
          @extend %d-flex-center
          margin: 5px 0
          span
            margin-left: 5px 
            font-weight: 500
        p.note
          font-size: 0.75rem
          color: #6E6E6E
          margin-bottom: 0
        p.price-total
          font-weight: 500
          color: #00A550
        p.price-unselected
          color: #A9AAAD
        .btn
          border-radius: 18px
        .line-bottom
          border-bottom: 1px solid #E8EAEF
          margin: 15px 0
        // .ins-space
        //   margin-bottom: 40px
        .space.ins
          margin: 25px auto
        .space.ins-tnds
          margin: 23px auto
  .ins-price-extra
    .option-ins
      i.ic-black-circle
        width: 27px
      .tooltip
        margin-bottom: 15px
        
    .ins-price-title
      width: calc( 64% - 5px )
      margin-right: 0
      .title-1
        min-height: 75px
      .title-2
        .rules
          .box-l
            @extend %align-center
        .total-price-ins
          min-height: 250px
    .ins-price-company
      width: 36%
      .ins-company
        img
          height: 40px !important
      .package
        padding: 15px 0 40px
    h6
      font-size: 1rem !important
    p
      font-size: 0.875rem
  @media (max-width: 991px)
    .ins-price-container
      width: 965px
      padding: 5px 5px 5px 0
      .ins-price-title
        min-width: 340px
        .title-1
          min-height: 115px
      .ins-price-company
        min-width: 300px
    .ins-price-container, .ins-price-extra
      h5
        font-size: 1rem
      h6
        font-size: 0.875rem
  @media (max-width: 767px)
    // .ins-price-container
    //   width: 910px
      // .ins-price-title
      //   width: 300px
    .ins-price-container, .ins-price-extra
      p, p.cost
        font-size: 0.75rem
      p.price-total
        font-size: 0.875rem
  @media (max-width: 767px)
    .ins-price-extra
      width: 100%
      min-width: 600px
      .ins-price-title
        width: calc(65% - 5px)
      .ins-price-company
        width: 35%


  // .ins-price
  //   display: grid
  //   grid-column-gap: 10px
  //   grid-template-columns: 35% auto auto
  //   margin: 30px 0
  //   h5
  //     font-weight: 500
  //   h6
  //     font-size: 1.25rem
  //     font-weight: 500
  //   p
  //     margin-bottom: 15px
  //     font-size: 0.875rem
  //     line-height: 24px
  //   p.price-total
  //       font-size: 1rem
  //   p.cost
  //     font-size: 0.875rem
  //     font-style: italic
  //   i
  //     margin-bottom: 15px
  //   @media (max-width: 991px)
  //     grid-template-columns: 330px 295px 295px
  //     overflow-x: auto
  //     padding: 5px 5px 5px 0
  //     h5
  //       font-size: 1rem
  //     h6
  //       font-size: 0.875rem
  //     // p
  //     //   font-size: 0.875rem
  //   @media (max-width: 767px)
  //     grid-template-columns: 290px 295px 295px
  //     p, p.cost
  //       font-size: 0.75rem
  //     p.price-total
  //       font-size: 0.875rem
      
  // .ins-menu
  //   grid-column: 1
  //   grid-row: 3 / span 6
  //   background: #DDEEFF
  //   border-radius: 8px
  // .list-price-1,.list-price-2
  //   border-radius: 0 0 8px 8px
  //   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15)
  // .list-price-1
  //   grid-column: 2
  //   grid-row: 2 / span 6
  // .list-price-2
  //   grid-column: 3
  //   grid-row: 2 / span 6
  // .price-box
  //   width: 50%
  //   text-align: center
  //   p.price-total
  //     font-weight: 500
  //     color: #00A550
  //   .btn
  //     border-radius: 18px

  // .group-1
  //   @extend %d-flex-center
  //   grid-column: 1
  //   grid-row: 2
  //   background: #DDEEFF
  //   border-radius: 8px
  //   padding: 40px 0 20px
  //   margin-bottom: 10px
  // .group-2
  //   grid-column: 1
  //   grid-row: 3
  //   padding: 15px 0
  // .group-3, .group-4, .group-5
  //   border-top: 1px solid #FFFF
  // .group-3
  //   @extend %d-flex
  //   grid-column: 1
  //   grid-row: 4
  //   .box-sm
  //     @extend %d-flex-center
  //     width: 17%
  //     height: 100%
  //     background: #BDDEFF
  //     padding: 0 10px
  //     p
  //       margin: 0
  //   .box-lg
  //     width: 83%
  //     padding: 15px 5px 0
  //     p.cost
  //       margin-left: 34px
  // .group-4
  //   @extend %d-flex
  //   grid-column: 1
  //   grid-row: 5
  //   .box-sm
  //     @extend %d-flex-center
  //     width: 17%
  //     height: 100%
  //     background: #BDDEFF
  //     padding: 0 8px
  //     p
  //       margin: 0
  //   .box-lg
  //     width: 83%
  //     padding: 15px 5px 0
  // .group-5
  //   @extend %d-flex
  //   grid-column: 1
  //   grid-row: 6
  //   padding-top: 15px
  //   .box-sm
  //     width: 18%
  //   .box-lg
  //     width: 80%
  //   .price-total
  //     font-weight: 500
  //     @media (max-width: 767px)
  //       font-size: 0.875rem
      
  // .group-6, .group-12
  //   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15)
  //   height: 70px
  //   border-radius: 18px 18px 0px 0px
  // .group-6
  //   @extend %d-flex-center
  //   grid-column: 2
  //   grid-row: 1
  //   img
  //     height: 40px
  //     width: auto

  // .group-7
  //   @extend %d-flex
  //   grid-column: 2
  //   grid-row: 2
  //   padding: 15px 0
  //   .price-box
  //     // position: relative
  //     .suggest
  //       position: relative
  //       span
  //         position: absolute
  //         background: #F44336
  //         color: #FFF
  //         border-radius: 8px
  //         font-size: 0.75rem
  //         font-weight: 400
  //         line-height: normal
  //         left: 65%
  //         bottom: 5px
  //         padding: 1px 4px
  //         @media (max-width: 991px)
  //           left: 62%
  //           font-size: 0.65rem
  //           bottom: 2px
  //     .ins-quantity-sold
  //       @extend %d-flex-center
  //       margin: 5px 0
  //       span
  //         margin-left: 5px 
  //         font-weight: 500
  //     p.note
  //       font-size: 0.75rem
  //       color: #6E6E6E
  //       margin-bottom: 0
  // .group-8, .group-9, .group-10, .group-11, .group-13, .group-14, .group-15, .group-16, .group-17
  //   border-top: 1px solid #E8EAEF
  //   padding-top: 15px
  // .group-8
  //   grid-column: 2
  //   grid-row: 3
  // .group-9
  //   @extend %d-flex
  //   grid-column: 2
  //   grid-row: 4
  // .group-10
  //   @extend %d-flex
  //   grid-column: 2
  //   grid-row: 5
  // .group-11
  //   @extend %d-flex
  //   grid-column: 2
  //   grid-row: 6
  //   padding-bottom: 40px
  // .group-12
  //   @extend %d-flex-center
  //   grid-column: 3
  //   grid-row: 1
  //   img
  //     height: 30px
  //     width: auto
  // .group-13
  //   @extend %d-flex
  //   grid-column: 3
  //   grid-row: 2
  //   padding: 15px 0
  //   .price-box
  //     .suggest
  //       position: relative
  //       span
  //         position: absolute
  //         background: #F44336
  //         color: #FFF
  //         border-radius: 8px
  //         font-size: 0.75rem
  //         font-weight: 400
  //         line-height: normal
  //         left: 65%
  //         bottom: 5px
  //         padding: 1px 4px
  //         @media (max-width: 991px)
  //           left: 62%
  //           font-size: 0.65rem
  //           bottom: 2px
  //     .ins-quantity-sold
  //       @extend %d-flex-center
  //       margin: 5px 0
  //       span
  //         margin-left: 5px 
  //         font-weight: 500
  //     p.note
  //       font-size: 0.75rem
  //       color: #6E6E6E
  //       margin-bottom: 0
  // .group-14
  //   grid-column: 3
  //   grid-row: 3
  // .group-15
  //   @extend %d-flex
  //   grid-column: 3
  //   grid-row: 4
  // .group-16
  //   @extend %d-flex
  //   grid-column: 3
  //   grid-row: 5
  // .group-17
  //   @extend %d-flex
  //   grid-column: 3
  //   grid-row: 6
  //   padding-bottom: 40px
  // .group-18
  //   @extend %d-flex-center
  //   grid-column: 1
  //   grid-row: 1

  .notice-form.notice-form-m
    h6
      font-size: 1.25rem
      font-weight: 500
      @media (max-width: 767px)
        font-size: 1rem
  
  .bg-aqua > div, .bg-white > div
    @extend %d-flex-center-between
    p.price-title
      font-weight: 500
  .bg-aqua
    background: #DDEEFF
    padding: 40px 20px 0
    border-radius: 16px 16px 0 0
    .logo-ins
      // background-color: #fff
      // border-radius: 50%
      // width: 32px
      // height: 32px
      margin: 0 5px 13px 0
      img
        max-height: 24px
        width: auto
        max-width: 45px
      
  .bg-white
    padding: 20px
    h5
      margin-bottom: 20px
    .price-tnds
      p
        margin-bottom: 10px
        font-weight: 500
        &:last-child
          font-weight: normal
          margin-bottom: 0
      h5
        margin-bottom: 10px
    .logo-tnds
      margin-right: 10px
      @media (max-width: 576px)
        width: 50px

  .line-white, .line-gray
    width: calc(100% + 40px)
    margin-left: -20px
    margin-bottom: 20px
  .line-white
    border-top: 1px solid #FFFFFF
  .line-gray
    border-top: 1px solid #E8EAEF
  .price-container
    // width: 80%
    // max-width: 800px
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25)
    border-radius: 16px
    margin: 10px 0 40px
    p
      margin-bottom: 20px
    .btn
      // border-radius: 18px
      padding: 5px 10px
  .wrap-price-ins
    width: 80%
    margin: auto
    .unit
      color: #6E6E6E
      // margin-bottom: 15px
  
  @media (max-width: 767px)
    .price-container
      h5
        font-size: 0.875rem
      .btn
        font-size: 0.75rem
    .wrap-price-ins
      width: 100%
  @media (max-width: 480px)
    .bg-aqua
      padding: 40px 10px 0
    .bg-white
      padding: 20px 10px
      // p.price-title
      //   width: 100%
    .line-white, .line-gray
      width: calc(100% + 20px)
      margin-left: -10px
    // .price-container
    //   p
    //     width: 100%
    
  a.btn-back-list
    left: initial
    top: initial
    .i-arr-left-dark
      width: 22px
      height: 15px
    @media (max-width: 767px)
      display: inline
      position: relative

.end-container
  background-color: #ECF5F3
  border-top: 1px dashed #A9AAAD
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1)
  // margin: auto
  padding: 40px calc( 10% + 20px )
  @media (max-width: 767px)
    padding: 40px 25px
  @media (max-width: 576px)
    width: calc( 100% + 50px )
    margin-left: -25px
    padding: 40px 25px
  .btn
    width: 100%
  .total-price > div
    @extend %d-flex-center-between
    h5
      font-size: 1.25rem
      font-weight: 500
      margin-bottom: 40px
    p
      font-weight: 500
      margin-bottom: 15px
    .coupon-ins
      font-size: .75rem
      color: #6e6e6e
      background: #FFF
      padding: 0.3rem 0.75rem
      margin-bottom: 15px
      // cursor: pointer
  @media (max-width: 767px)
    .btn
      font-size: 0.875rem
    .total-price > div
      h5
        font-size: 1rem
      p
        font-size: 0.875rem
      
        

.box-quarter
  width: 25%
  padding: 0 0 1rem
  @media (max-width: 991px)
    width: 50%
  @media (max-width: 480px)
    width: 100%

.ins-procedure
  @extend %d-flex-center-between
  align-items: flex-start
  flex-wrap: wrap
  .step
    @extend %d-flex-wrap
    @extend %just-center
    align-content: flex-start
    width: calc( 25% - 2rem )
    img
      margin-bottom: 15px
      max-width: 220px
      width: 100%
      // padding: 0 10px
    p
      width: 100%
      text-align: center
    &.step-tnds
      width: calc( 100% / 3 )
    @media (max-width: 767px)
      width: calc( 50% - 1rem )
      &:nth-child(1), &:nth-child(2)
        margin-bottom: 2rem
      img
        max-width: 150px
      p
        width: 100%
    @media (max-width: 576px)
      display: flex
      flex-wrap: wrap
      justify-content: center
      width: 100%
      &:not(:last-child)
        margin-bottom: 2rem
      p
        width: 100%
      img
        padding: 0
        width: 50%
      &.step-tnds
        width: 100%
.ins-detail__sect, .ins-price__sect, .step-ins__sect, .price-list__sect, .explain__sect, .payment__sect, .insurance__guide
  .ex-container
    padding: 0 25px
    @media (max-width: 480px)
      padding: 0 10px
.price-list__sect, .payment__sect, .explain__sect
  margin-bottom: 100px
  @media (max-width: 767px)
    margin-bottom: 60px
.price-list__sect
  .btn-back-ins
    cursor: pointer
    @media (max-width: 767px)
      p
        display: none
.explain__sect
  .bar-line
    width: 14%
    height: 2px
    background-color: #C4C4C4
    margin-bottom: 20px
  .explain__header
    width: 100%
    h5
      text-align: center
      position: relative
      &::before, &::after
        content: ""
        position: absolute
        width: calc( 50% - 270px )
        height: 3px
        background-color: #C4C4C4
        top: 13px
        @media (max-width: 767px)
          display: none
      &::after
        right: 0
      &::before
        left: 0      
  // @media (max-width: 767px)
  //   .bar-line
  //     display: none
  //   h5
  //     margin: auto auto 20px
  // .explain-container
  //   display: flex
  //   flex-wrap: wrap
  //   justify-content: space-between
  //   .box-explain
  //     width: calc( 25% - 2rem )
  //     margin-bottom: 20px
  //     p
  //       text-align: justify
  //       &:first-child
  //         font-weight: 500
  //         margin-bottom: 10px
      
  //     @media (max-width: 991px)
  //       width: calc( 50% - 2rem )
          
  //     @media (max-width: 576px)
  //       width: 100%
  //       &:nth-child(7)
  //         margin-bottom: 0
.payment__sect, .explain__sect
  h5
    font-size: 1.25rem
    margin-bottom: 20px
    font-weight: bold
    @media (max-width: 767px)
      font-size: 1rem

.explain__sect, .payment__sect, .insurance__guide
  @media (max-width: 767px)
    p
      font-size: 0.875rem
  // @media (max-width: 480px)
  //   p
  //     font-size: 0.75rem
  
  // Popup Insurance
.popup-ins-container
  margin: 20px auto
  a.link-fanpage
    color: $color-main
    text-decoration: underline
    font-weight: 500
  strong
    font-weight: 500
  .label
    font-weight: 500
    text-align: center
    display: block
    &:not(:last-child)
      margin-bottom: 10px

// Popup Insurance register
.tutorial_register_ins
  @extend %just-center
  flex-wrap: wrap
  p
    width: 100%
  img
    max-width: 400px
    margin-top: 20px
    @media (max-width: 480px)
      max-width: 100%
  .wrap-img
    @extend %d-flex-wrap
    justify-content: space-between
    img
      max-width: 100%
    .origin-car-img
      width: calc(50% - 10px)
      text-align: center
      @media (max-width: 480px)
        width: 100%

// Landing Page 
.insurance-landipage
  &-title
    z-index: 2
    h1, h2, h6
      color: #FFF
      margin-bottom: 15px
      text-align: center
    h1
      font-size: 2.25rem
      font-weight: 700
    h2
      font-weight: 700
      font-size: 2rem
    h6
      font-weight: 500
      font-size: 1.5rem
    .ins-landing__wrap
      @extend %d-flex-wrap
      .type-ins-box
        @extend %just-center
        flex-wrap: wrap
        max-width: 280px
        background: #d5dadb
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1), 0px 0px 4px rgba(0, 0, 0, 0.1)
        border-radius: 8px
        padding: 20px
        cursor: pointer
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1)
        &:first-child
          margin-right: 20px
        svg
          width: 80px
          height: auto
        p
          width: 100%
          text-align: center
          font-weight: 700
          margin-top: 10px
        &:hover
          background: #fff
          box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2)
          outline-color: rgba(255, 255, 255, 0)
          outline-offset: 15px
          // text-shadow: 1px 1px 2px #427388
    @media( max-width: 991px)
      h1
        font-size: 1.75rem
      h2
        font-size: 1.5rem
      h6
        font-size: 1rem
      .ins-landing__wrap
        .type-ins-box
          max-width: 250px
          svg
            width: 60px
          p
            font-size: 0.875rem
    @media( max-width: 767px)
      h1
        font-size: 1.5rem
      h2
        font-size: 1.25rem
      .ins-landing__wrap
        .type-ins-box
          width: calc( 50% - 10px)
          p
            font-size: 0.75rem
    @media( max-width: 480px)
      h1
        font-size: 1.25rem
      .ins-landing__wrap
        justify-content: center
        .type-ins-box
          width: 100%
          &:first-child
            margin-right: 0
            margin-bottom: 20px
.ins-landing-partner__wrap
  @extend %d-flex
  // flex-wrap: wrap
  .ins-partner-logo
    @extend %d-flex-center
    background: #F8F9FB
    border: 1px solid #E8EAEF
    box-sizing: border-box
    border-radius: 4px
    width: 200px
    height: 110px
    &:not(:last-child)
      margin-right: 15px
    img
      max-width: 130px
      max-height: 90px
      width: auto
      height: auto
  @media( max-width: 767px)
    .ins-partner-logo
      width: 110px
      height: 80px
      margin-bottom: 10px
      &:not(:last-child)
        margin-right: 10px
      img
        max-width: 100%
        max-height: 70px
        padding: 0 10px
    
.ins-landing-partner
  padding-bottom: 10px !important   
.has-ins-landing
  padding: 0 !important

// TNDS
.vehicle-type.has-tnds
  .squaredFour
    width: 15% 
    .description
      span
        margin: 0
        max-width: 80px

    @media ( max-width: 991px)
      width: 25%
    @media ( max-width: 576px)
      width: calc( 100% / 3 ) !important
  .thumbnail
    margin: 0 0 10px

.ins-container
  .sub-title
    font-weight: 500
    margin-right: 80px
    margin-bottom: 15px

// Animation
@keyframes fadeInAnimation
  0%
    opacity: 0
  100%
    opacity: 1

.fadein-ins
  animation: fadeInAnimation ease 2s