.ins-step {
  margin: 35px 0;
  .m-container {
    @media (max-width: 1199px) {
      max-width: 1100px;
      padding: 45px 25px;
    }
    @media (max-width: 991px) {
      padding: 45px 25px;
    }
  }
  @media (max-width: 991px) {
    margin: 20px 0;
  }
  @media (max-width: 576px) {
    margin: 0;
  }
  &__select {
    display: flex;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
    // .step1 {
    //   display: flex;
    //   justify-content: center;
    //   width: 50%;
    //   background-color: #00a550;
    //   padding: 15px 0 15px 10px;
    //   cursor: pointer;
    //   border-radius: 999px 0 0 999px;
    //   clip-path: polygon(0% 0%, 95% 0, 100% 50%, 95% 100%, 0% 100%);
    //   span {
    //     font-size: 20px;
    //     line-height: 24px;
    //     font-weight: 400;
    //     font-style: normal;
    //     color: #fff;
    //     &:first-child {
    //       font-weight: 700;
    //       font-size: 24px;
    //       margin-right: 25px;
    //       // color: #ffffff;
    //     }
    //   }
    // }
    // .step2 {
    //   display: flex;
    //   justify-content: center;
    //   width: 50%;
    //   background-color: #fff;
    //   padding: 15px 0 15px 10px;
    //   cursor: pointer;
    //   border-radius: 0 999px 999px 0;
    //   clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 5% 50%);
    //   span {
    //     font-size: 20px;
    //     line-height: 24px;
    //     font-weight: 400;
    //     font-style: normal;
    //     color: #6e6e6e;
    //     &:first-child {
    //       font-weight: 700;
    //       font-size: 24px;
    //       margin-right: 25px;
    //     }
    //   }
    // }

    .step1,
    .step2 {
      @extend %just-center;
      background-color: #fff;
      padding: 15px 0 15px 10px;
      width: 50%;
      cursor: pointer;
    }
    .step1 {
      position: relative;
      border-radius: 999px 0 0 999px;
      background-color: #00a550;
      span {
        color: white;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        &:first-child {
          font-weight: 700;
          font-size: 24px;
          margin-right: 25px;
        }
      }
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 40px;
        right: -20px;
        background-color: #f8f9fb;
        clip-path: polygon(0 0, 0 0, 95% 50%, 0 100%, 0 100%, 100% 50%);
        bottom: 0;
        z-index: 2;
      }
      &.active {
        &::after {
          clip-path: polygon(
            0 0,
            100% 0,
            100% 50%,
            100% 100%,
            0 100%,
            100% 50%
          );
          // background-color: #00a550;
          background-color: white;
        }
      }
    }
    .step2 {
      position: relative;
      border-radius: 0 999px 999px 0;

      span {
        font-size: 20px;
        line-height: 24px;
        color: #6e6e6e;
        &:first-child {
          font-weight: 700;
          font-size: 24px;
          margin-right: 25px;
        }
      }

      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 20px;
        left: 0px;
        background-color: #00a550;
        clip-path: polygon(100% 50%, 0 0%, 0 100%);
        bottom: 0;
      }
      &.active {
        background-color: #00a550;

        &::before {
          display: none;
        }
      }
    }

    @media (max-width: 991px) {
      .step1,
      .step2 {
        span {
          font-size: 16px;
          line-height: 18px;
          &:first-child {
            font-size: 18px;
            margin-right: 16px;
          }
        }
      }
    }

    @media (max-width: 767px) {
      .step1,
      .step2 {
        span {
          font-size: 14px;
          line-height: 18px;
          &:first-child {
            font-size: 18px;
            margin-right: 14px;
          }
        }
      }
    }

    @media (max-width: 576px) {
      .step1,
      .step2 {
        span {
          font-size: 14px;
          line-height: 16px;
          &:first-child {
            font-size: 16px;
            margin-right: 12px;
          }
        }
      }
    }
    @media (max-width: 480px) {
      .step1,
      .step2 {
        span {
          font-size: 12px;
          line-height: 14px;
          &:first-child {
            font-size: 14px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.ins-infor {
  margin-bottom: 60px;
  @media (max-width: 576px) {
    margin-bottom: 30px;
  }
  .m-container {
    padding: 0;
    @media (max-width: 1199px) {
      max-width: 1100px;
    }
    .ins-con {
      padding: 80px 25px;
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);

      @media (max-width: 991px) {
        padding: 60px 25px;
        h3 {
          font-size: 24px;
        }
        .infor-car {
          padding-bottom: 25px;
          span {
            font-size: 18px;
          }
          svg {
            height: 18px;
          }
        }
      }
      @media (max-width: 767px) {
        box-shadow: none;
        padding: 25px;
        h3 {
          font-size: 20px;
          padding-bottom: 44px;
        }
        .infor-car {
          padding-bottom: 25px;
          span {
            font-size: 16px;
          }
          svg {
            height: 16px;
          }
        }
      }
      @media (max-width: 480px) {
        .infor-car {
          padding-bottom: 25px;
          span {
            font-size: 14px;
          }
          svg {
            height: 14px;
          }
        }
      }
      h3 {
        font-weight: 700;
        font-size: 28px;
        color: #141414;
        padding-bottom: 44px;
        text-align: center;
      }
      .infor-car {
        display: flex;
        align-items: center;
        padding-bottom: 25px;
        span {
          font-size: 20px;
          font-weight: 700;
          &:nth-child(2) {
            color: red !important;
            padding-left: 4px;
          }
          &:last-child {
            font-weight: 500;
            color: #00a550;
          }
        }
        svg {
          margin: 0 10px 0 5px;
          height: 24px;
          width: auto;
          cursor: pointer;
        }
      }
      .box-infor {
        background-color: #f2faf6;
        padding: 40px 0 40px 25px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 25px;
        @media (max-width: 576px) {
          padding: 25px 0 25px 10px;

          & > div {
            margin-bottom: 15px;

            .box-infor__title {
              width: 100%;
              padding-bottom: 20px;
              p {
                font-size: 14px;
                padding-top: 0 !important;
              }
            }
            .box-infor__options {
              width: 100%;
              &--opt {
                margin: 0 10px 10px 0;
                img {
                  width: 18px;
                  height: auto;
                }
                p {
                  font-size: 14px;
                }
                svg {
                  width: 14px;
                  height: auto;
                }
              }
              &--two {
                svg {
                  width: 20px;
                }
                p {
                  font-size: 14px;
                }
              }
            }
          }
        }
        & > div {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 30px;
          &:last-child {
            margin-bottom: 0;
            .box-infor__title {
              p {
                padding-top: 15px;
              }
            }
          }
          .box-infor__title {
            width: 115px;
            margin-right: 10px;

            p {
              font: 16px;
              font-weight: 700;
              color: #141414;
            }
          }
          .box-infor__options {
            width: calc(100% - 125px);
            display: flex;
            flex-wrap: wrap;
            &--opt {
              display: flex;
              align-items: center;
              border: 1px solid #a9aaad;
              box-sizing: border-box;
              border-radius: 36px;
              padding: 5px 10px;
              margin: 0 15px 15px 0;
              cursor: pointer;
              img {
                width: 24px;
                height: auto;
                margin-right: 5px;
              }
              p {
                font-size: 16px;
                color: #141414;
              }
              svg {
                margin-left: 5px;
                width: 16px;
                height: auto;
              }
            }
            .parent {
              img {
                margin-left: 5px;
                margin-right: 0;
                width: 16px;
                height: auto;
              }
            }
            .other {
              p {
                color: #6e6e6e;
              }
            }
            .child {
              border: none;
            }
            .disp-none {
              display: none;
            }
            .active {
              border-color: #00a550;
              p {
                color: #00a550;
              }
            }
            &--two {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              margin-bottom: 15px;
              padding-right: 20px;
              svg {
                width: 24px;
                height: auto;
                margin-right: 10px;
                cursor: pointer;
              }
              p {
                font-size: 16px;
                color: #141414;
              }
            }
            &--select {
              border: 1px solid #e8eaef;
              select {
                background-color: #f2faf6;
                width: 100px;
                color: #141414;
              }
            }
          }
        }
      }
      .ques-car {
        display: flex;
        align-items: center;
        margin-bottom: 60px;
        cursor: pointer;
        @media (max-width: 991px) {
          margin-bottom: 45px;
        }
        @media (max-width: 767px) {
          span {
            font-size: 14px;
          }
          svg {
            height: 14px;
          }
        }
        @media (max-width: 480px) {
          span {
            font-size: 12px;
          }
          svg {
            height: 12px;
          }
        }
        @media (max-width: 576px) {
          margin-bottom: 30px;
        }
        span {
          font-size: 16px;
          font-weight: 700;
          color: #57a8ff;
          margin-right: 10px;
        }
        svg {
          height: 16px;
          width: auto;
        }
      }
      .car-options {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 45px;
        @media (max-width: 767px) {
          margin-bottom: 25px;
          .car-option {
            svg {
              width: 20px;
              &:last-child {
                width: 16px;
              }
            }
            p {
              font-size: 14px;
            }
          }
          .option-50 {
            width: 100%;
          }
          .option-25 {
            width: 100%;
          }
        }

        .car-option {
          display: flex;
          align-items: center;
          // flex-wrap: wrap;
          margin-bottom: 15px;
          svg {
            width: 24px;
            height: auto;
            margin-right: 10px;
            cursor: pointer;
            &:last-child {
              margin-left: 5px;
            }
          }
          p {
            font-size: 16px;
            color: #141414;
          }
        }
        .option-50 {
          width: 50%;
        }
        .option-25 {
          width: 25%;
        }
      }
      .btn-center {
        text-align: center;
        // margin-top: 10px;
      }
      .date-register {
        margin: 15px 0 75px;
        @media (max-width: 576px) {
          margin: 13px 0 55px;
          span {
            font-size: 14px;
          }
        }
        span {
          border: 1px solid #e8eaef;
          padding: 15px 25px 15px 15px;
        }
      }
      .btn-submit {
        text-align: center;
        @media (max-width: 576px) {
          button {
            font-size: 14px;
            padding: 10px 30px;
          }
        }
        // @media (max-width: 480px) {
        //   button {
        //     font-size: 14px;
        //     padding: 10px 30px;
        //   }
        // }
        button {
          font-size: 16px;
          font-weight: 500;
          color: #00a550;
          border: 1px solid #00a550;
          padding: 10px 90px;
          border-radius: 3px;
          &:hover {
            color: #fff;
            background-color: #00a550;
          }
        }
      }
      h4 {
        font-weight: 700;
        font-size: 28px;
        color: #141414;
        padding-bottom: 25px;
        @media (max-width: 991px) {
          font-size: 24px;
          padding-bottom: 20px;
        }
        @media (max-width: 576px) {
          font-size: 20px;
          padding-bottom: 15px;
        }
      }
      .no-buss {
        font-size: 14px;
        color: #ffffff;
        background-color: #57a8ff;
        padding: 2px 10px;
        border-radius: 12px;
        width: fit-content;
        height: auto;
        margin-bottom: 40px;
      }
      .ins-value-con {
        overflow-x: auto;
        width: 100%;
        margin-bottom: 25px;
        padding: 5px;
      }
      .ins-value {
        display: flex;
        padding-bottom: 10px;
        width: 100%;
        @media (max-width: 991px) {
          width: 942px;
        }
        &-title {
          width: 34%;
          .currency {
            p {
              color: #6e6e6e;
              text-align: center;
              padding: 28px 0;
              @media (max-width: 1199px) {
                padding: 24px 0;
              }
            }
          }
          .ins-money {
            background-color: #ddeeff;
            border-radius: 8px;
            margin-bottom: 8px;
            @media (max-width: 1199px) {
              p {
                font-size: 18px;
                padding: 63px 0;
              }
            }
            p {
              color: #141414;
              text-align: center;
              padding: 60px 0;
              font-size: 20px;
              font-weight: 700;
            }
          }
          .ins-benefit {
            background-color: #ddeeff;
            border-radius: 8px;
            .ben {
              @media (max-width: 1199px) {
                p {
                  font-size: 18px;
                }
              }
              p {
                color: #141414;
                text-align: center;
                padding: 15px 0;
                font-size: 20px;
                font-weight: 700;
              }
            }
            .white-line {
              border: 0.5px solid #ffffff;
            }
            .ben-rule {
              display: flex;
              width: 100%;
              @media (max-width: 1199px) {
                p {
                  font-size: 14px;
                  line-height: 24px;
                }
              }
              &__title {
                display: flex;
                align-items: center;
                background-color: #bddeff;
                max-width: 62px;
                @media (max-width: 1199px) {
                  max-width: 59px;
                }
                p {
                  font-size: 16px;
                  color: #141414;
                  font-weight: 600;
                  padding: 2px;
                }
              }
              &__options {
                width: calc(100%-62px);
                padding: 20px 5px;
                .rule-option {
                  display: flex;
                  align-items: center;
                  margin-bottom: 24px;
                  &:last-child {
                    margin-bottom: 0;
                  }
                  svg {
                    margin-right: 8px;
                    width: 24px;
                    height: 24px;
                  }
                }
                .rule-note {
                  margin: 0 0 14px 32px;
                  font-style: italic;
                  &:last-child {
                    margin: 0 0 0 32px;
                  }
                }
              }
            }
            .ins-total {
              display: flex;
              width: 100%;
              .ben-rule__title {
                width: 66px;
                background-color: #ddeeff;
              }
              .ben-rule__options {
                width: calc(100% - 66px);
                padding: 20px 5px;

                p {
                  margin-bottom: 24px;
                  @media (max-width: 1199px) {
                    font-size: 14px;
                    line-height: 24px;
                  }
                }
                .fee-total {
                  @media (max-width: 1199px) {
                    font-size: 14px;
                  }
                  color: #141414;
                  font-weight: 600;
                }
                .promotions {
                  @media (max-width: 1199px) {
                    font-size: 14px;
                  }
                  font-style: italic;
                }
                .value-total {
                  @media (max-width: 1199px) {
                    font-size: 14px;
                  }
                  font-weight: 700;
                  margin-bottom: 60px;
                }
              }
            }
          }
        }
        &-partner {
          width: calc(33% - 8px);
          margin-left: 8px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
          border-radius: 18px 18px 8px 8px;
          .ins-partner {
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
            border-radius: 18px 18px 0 0;
            padding: 20px;
            @media (max-width: 1199px) {
              img {
                height: 32px;
              }
              p {
                font-size: 20px;
              }
            }
            img {
              height: 40px;
              width: auto;
              margin-right: 12px;
            }
            p {
              font-size: 24px;
              font-weight: 500;
            }
          }
          .ins-two-options {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            .ins-option {
              width: 50%;
              text-align: center;
              &-money {
                @media (max-width: 1199px) {
                  .package1 {
                    p {
                      font-size: 18px;
                    }
                  }
                  .price-money {
                    font-size: 18px;
                  }
                }
                .package1 {
                  display: flex;
                  // justify-content: center;
                  align-items: center;
                  padding-top: 16px;
                  p {
                    position: relative;
                    left: 50%;
                    transform: translate(-50%, 0);
                    font-size: 20px;
                    font-weight: 500;
                  }
                  span {
                    // margin-left: 10px;
                    background-color: #f44336;
                    border-radius: 16px;
                    font-size: 12px;
                    font-weight: 400;
                    color: #ffffff;
                    padding: 0 4px;
                    position: relative;
                    left: 55%;
                    transform: translate(-50%, 0);
                  }
                }
                .cart {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  padding: 7px;
                  @media (max-width: 1199px) {
                    padding: 9px;
                  }
                  svg {
                    width: 18px;
                    height: 18px;
                    margin-right: 5px;
                  }
                  span {
                    font-size: 14px;
                    font-weight: 500;
                  }
                }
                .price-money {
                  font-size: 20px;
                  font-weight: 700;
                  padding: 11px 0;
                }
                .note-money {
                  font-size: 12px;
                  color: #6e6e6e;
                  padding-bottom: 8px;
                  @media (max-width: 1199px) {
                    padding-bottom: 9px;
                  }
                }
              }
              .gray-line {
                border: 0.5px solid #e8eaef;
              }
              &-benefit {
                padding: 29px 0;
              }
              &-ben-rule {
                padding: 20px 5px;
                .ins-option-rule {
                  @media (max-width: 1199px) {
                    font-size: 14px;
                  }
                  margin-bottom: 24px;
                  font-size: 16px;
                  line-height: 24px;
                  &:last-child {
                    margin-bottom: 0;
                  }
                }
                .ins-option-rule-note {
                  @media (max-width: 1199px) {
                    font-size: 12px;
                  }
                  margin-bottom: 14px;
                  font-size: 14px;
                  font-style: italic;
                  line-height: 24px;
                  &:last-child {
                    margin-bottom: 0;
                  }
                }
                .red-text {
                  color: #f44336;
                }
                .gray-text {
                  color: #a9aaad;
                }
              }
              &-total {
                padding: 20px 5px;
                line-height: 24px;
                .ins-option-fee-total {
                  @media (max-width: 1199px) {
                    font-size: 14px;
                  }
                  font-size: 16px;
                  font-weight: 500;
                  margin-bottom: 24px;
                }
                .ins-option-promotions {
                  @media (max-width: 1199px) {
                    font-size: 12px;
                  }
                  font-size: 14px;
                  font-style: italic;
                  margin-bottom: 24px;
                }
                .red-text {
                  color: #f44336;
                }
                .ins-option-value-total {
                  @media (max-width: 1199px) {
                    font-size: 14px;
                  }
                  font-size: 16px;
                  font-weight: 700;
                  color: #00a550;
                  margin-bottom: 24px;
                }
                .buy-btn {
                  button {
                    @media (max-width: 1199px) {
                      font-size: 14px;
                      padding: 8px 20px;
                    }
                    color: #ffffff;
                    background-color: #00a550;
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 500;
                    border-radius: 18px;
                    padding: 8px 30px;
                  }
                }
              }
            }
          }
        }
      }

      .note-form {
        background-color: #fef8f3;
        padding: 25px;
        margin-bottom: 25px;
        @media (max-width: 576px) {
          h5 {
            font-size: 16px;
          }
          p {
            font-size: 14px;
          }
        }
        h5 {
          font-size: 20px;
          margin-bottom: 24px;
          font-weight: 500;
        }
        p {
          font-size: 16px;
          margin-bottom: 16px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .contact {
        font-size: 16px;
        @media (max-width: 576px) {
          font-size: 14px;
        }
        .fanpage {
          text-decoration: underline;
          font-weight: bold;
          color: #00a550;
        }
      }
    }
  }
}
