.login__sect 
	height: 100vh 
	background-repeat: no-repeat
	background-size: cover
	@extend %d-flex-center
	.form-login.form-default 
		max-width: 480px
		width: 100%
		background: #fff
		padding: 60px 25px 25px
		@media (max-width: 1399px)
			padding: 45px 25px 20px
		@media (max-width: 480px)
			height: 100vh
			background: rgba(255, 255, 255, .8)
			// backdrop-filter: blur(15px)
		h2
			padding-bottom: 20px 
	.login 
		text-align: center
		margin-bottom: 1.5rem 
		img 
			width: 80%
			@media (max-width: 1399px)
				width: 70%
			@media (max-width: 991px)
				width: 65%
			@media (max-width: 480px)
				width: 80%
