// Map List - Map View
//=== Map list/ Map View Header Control - Override code in page.scss
.finding-control
	width: 100%
	background: #fff
	position: relative
	z-index: 11
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3)
	@media (max-width: $large-screen)
		box-shadow: none
		border-bottom: 1px solid #f7f8f7

	.options
		background-color: #ffffff
		.custom-control-description
			color: #141414
	.wrapper-find
		width: 100%
		padding: 18px 20px 18px 35px
		max-width: 1260px
		display: flex
		flex-wrap: wrap
		position: relative
		margin: 0 auto
		align-items: center
		@media (max-width: 767px)
			padding: .4rem 15px
		@media (max-width: 576px)
			max-width: none
			padding: .25rem 10px
	.line-form
		@extend %align-center
		margin-bottom: 0px
		border-bottom: 1px solid #e8e8e8
		padding-bottom: .125rem
		@media (max-width: $xlarge-screen)
			padding-bottom: 0
		&.end-time-wd
			height: auto
			.wrap-input
				width: 100%
				@media (max-width: 480px)
					p
						font-size: 14px
		&.disabled
			border-bottom: none
			.wrap-input span, .wrap-select select
				cursor: auto
			i.i-chevron-down
				display: none
			.wrap-input:before, .wrap-select:before
				display: none

		// General for form
		label.label
			margin-bottom: 0px
			color: $color-main
			font-weight: 500
			text-align: left
			font-size: .875rem
			@media (max-width: $xlarge-screen)
				font-size: .8125rem
		span.value.placeholder, input::-webkit-input-placeholder
			color: #141414
		span.value.placeholder, input, .wrap-input, .wrap-select select
			font-size: .875rem
			line-height: 21px
		span.value.placeholder, .wrap-select
			@extend %align-center
		i.i-chevron-down
			@extend %i-chevron-down
			border-right: 2px #141414 solid
			border-bottom: 2px #141414 solid
			position: static
			transform: rotate(45deg) scale(.5)

		.wrap-select // Back to default
			padding: 0
			height: auto
			border: none
			&:before
				@extend %pseudo-e
				@extend %i-chevron-down
				transform: rotate(45deg) scale(.441)
				left: auto
				right: 0
				top: 2px
				border-right: 2px #141414 solid
				border-bottom: 2px #141414 solid
			select
				width: auto
				padding: 0px 16px 0 5px
				font-size: .875rem
				line-height: 21px
				@media (max-width: $xlarge-screen)
					font-size: .8125rem

		&.location // Address
			width: calc(30% - 3rem)
			margin-right: 3rem
			position: relative
			max-width: 290px
			@media (max-width: 1199px)
				width: calc(35% - 1rem)
				margin-right: 3rem
			label.label
				width: 22%
			.wrap-input
				width: 78%
				@media (max-width: $xlarge-screen)
					width: 76%
				&.r-map
					@media (max-width: $xlarge-screen)
						width: 70%
				input
					font-size: .875rem
					@media (max-width: $xlarge-screen)
						font-size: .8125rem
			.blah
				height: 24px
				margin: -15px auto 15px
				transform: scale(0.2)
			span.route // withdriver
				@include ellipsis(100%)
				display: block
		&.has-timer // Datetimepicker
			width: calc(25% - 2rem)
			margin-right: 2.5rem
			@media (max-width: $xlarge-screen)
				width: calc(23.5% - 1rem)
				margin-right: .5rem
			&:last-child
				margin-right: 0
			.wrap-input
				margin-left: 8px
				@media ( max-width: 1199px )
					margin-left: 0
				i
					margin-left: 5px
			label.label
				width: 28%
			.wrap-input, .wrap-select
				width: auto
		&.pick-time-until
			width: calc(20% - 2rem)
			margin-left: 0
			@media (max-width: 1199px)
				width: calc(18% - 1rem)
			.wrap-input
				width: 100%
				position: relative
				margin: 0
				> span.value
					position: relative
				i
					position: absolute
					top: 3px
					right: 0
					left: unset
			label.label
				line-height: 21px

// Tab-mode
.tab-mode
	width: calc(30% - .5rem)
	margin-right: .5rem
	justify-content: center
	align-items: center
	@media (max-width: $xlarge-screen)
		width: calc(36% - .5rem)
		margin-right: .5rem
	&.hide-on-lg
		display: flex
		@media (max-width: $large-screen)
			display: none
	ul
		display: flex
		li
			padding: 8.5px 20px
			@media (max-width: $xlarge-screen)
				padding: 8.5px 12px
			&:nth-child(1)
				border-right: 1px solid #e8e8e8
			a
				font-weight: 600
				color: #a9aaad
				font-size: 1rem
				@media (max-width: $xlarge-screen)
					font-size: .875rem
				&.active
					color: #00a550
	/* Tab mode Filter in tablet down */
	&.show-on-lg
		position: relative
		display: none
		@media (max-width: $large-screen)
			display: flex
			width: 100%
			justify-content: center
			bottom: 10px
			position: fixed
			z-index: 99
		.instant-booking
			position: absolute
			right: 26px
			top: 50%
			transform: translateY(-50%)
			border-radius: 50%
			width: 36px
			height: 36px
			background-color: #ffffff
			box-shadow: 2px 4px 4px rgba(0,0,0,0.15)
			cursor: pointer
			transition: .3s all ease
			@media ( max-width: 576px)
				right: 16px
			i.ic
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%,-50%)
			&.active, &:hover
				background-color: #00a550
				i.ic
					background-position: -95px -220px
		.tab-box
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25)
			width: 35%
			@extend %d-flex
			padding: 8px 5px
			border-radius: 30px
			background: #fff
			position: relative
			min-width: 210px
			@media (max-width: 576px)
				width: 50%
			@media (max-width: 480px)
				padding: 5px
			&:after
				content: ""
				position: absolute
				left: 50%
				width: 1px
				top: 0
				height: 100%
				background-color: #e8e8e8
		// @media (max-width: $xsmall-screen)
		// 	padding: .5rem 0
		.view-mode, .f-filter
			width: 50%
			text-align: center
			font-weight: 600
			color: #141414
			&:hover, &:focus
				cursor: pointer
			@media (max-width: $medium-screen)
				font-size: .875rem
			@media (max-width: $xsmall-screen)
				font-size: 12px
			> i
				margin-right: 5px
		.f-filter
			position: relative
			&.has-dot-red:after
				position: absolute
				top: 0px
				content: ""
				background-color: #fc4a4a
				width: 5px
				height: 5px
				border-radius: 100%

// Filter
.content-filter
	.squaredFour
		input[type="checkbox"]
			position: absolute
		label
			display: block
			position: relative

	a.btn.btn-reset
		position: relative
		&.has-dot-red:after
			position: absolute
			top: 12px
			content: ""
			background-color: #fc4a4a
			width: 5px
			height: 5px
			border-radius: 100%

//Slide Prev & Next
.module-map
	@media (max-width: 991px)
		float: none
		width: 100%
	.has-list
		.map-container
			height: calc(100vh - 120px)
			overflow-x: hidden
			overflow-y: auto
			@media (max-width: 991px)
				width: 100%
				height: calc(100vh - 50px)
		.tag-filter
			margin-bottom: 10px
			@media (max-width: 576px)
				margin-bottom: 5px

	.swiper-button-prev, .swiper-button-next
		position: absolute
		overflow: hidden
		line-height: 150px
		white-space: nowrap
		background-image: none
		border-radius: 2px
		text-indent: 40px
		top: unset
		bottom: 0px
		width: 50px
		height: 103px
		margin-top: 0
		-webkit-transition: opacity 0.2s ease-out
		transition: opacity 0.2s ease-out
		z-index: 150
		cursor: pointer
		&:after
			position: absolute
			top: 50%
			left: 50%
			width: 0
			height: 0
			border-style: solid
			border-width: 8px
			margin: -8px
			content: ""
			margin-top: -6px
	.swiper-button-prev
		left: 0
		background: -webkit-linear-gradient(left, #dce1e1, rgba(220,225,225,0))
		background: linear-gradient(to right, #dce1e1, rgba(220,225,225,0))
		&:after
			border-color: transparent #fff transparent transparent
	.swiper-button-next
		right: -1px
		background: -webkit-linear-gradient(right, #dce1e1, rgba(220,225,225,0))
		background: linear-gradient(to left, #dce1e1, rgba(220,225,225,0))
		&:after
			border-color: transparent transparent transparent #fff

//== Slide List Map
.swiper-container.swiper-car-inmap
	margin-top: 0px
	position: absolute
	bottom: 0px
	left: 0
	z-index: 9
	height: auto
	@media (max-width: 991px)
		bottom: 60px
	@media (max-width: 576px)
		bottom: 70px
	.list-map-wrapper
		padding-top: 30px
.car-item-inmap
	padding: 5px 0 5px
	position: relative
	&.swiper-slide-active
		.car-item-wrapper
			opacity: 1
			background: #ffffff
			transform: translate(0, -30px)
			box-shadow: 0 20px 20px 0 rgba(0,0,0,0.3)
			@media (max-width: 576px)
				transform: translate(0,0)
				box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3)
	&:nth-child(3n)
		margin-right: 0px
	.car-item-wrapper
		box-shadow: 0px s3px 3px rgba(0,0,0,0.3)
		position: relative
		padding: 5px 5px
		display: block
		opacity: .8
		background: #f7f8fb
	.car-item-body
		@extend .df-full
		flex-wrap: nowrap
		position: relative
		.car-item-img
			flex-basis: 40%
			width: 40%
			.fix-img
				padding-bottom: 75%
		.car-item-info
			flex-basis: 60%
			width: 60%
			@extend .d-flex
			flex-wrap: wrap
			margin-left: 10px
			p
				font-size: .75em
			.rating
				flex-basis: 100%
				span.star
					i
						background-size: 48px 15px
						width: 14px
						height: 14px
						&.full
							background-position: -33px 0
						&.half
							background-position: -16px 0px
			.car-name
				flex-basis: 100%
				line-height: 1.125em
				p
					width: 100%
					font-weight: bold
					height: 15px // needed
					overflow: hidden // needed
					//white-space: nowrap       // needed
					word-break: normal
					text-overflow: ellipsis
					display: flex
					direction: ltr
					-webkit-line-clamp: 1
					-webkit-box-orient: vertical

			.features
				flex-basis: 100%
				p
					span:last-child
						margin-left: .5rem
				i.ic.ic-tag, i.ic.ic-clock
					background-position: -44px -15px
					background-size: 250px
					width: 15px
					height: 15px
				i.ic.ic-clock
					background-position: -30px -15px
		.is-instant-book
			content: ""
			position: absolute
			top: 0px
			right: 0px
			width: 20px
			height: 20px
			box-shadow: 2px 2px 3px rgba(0,0,0,.3)
			@extend .d-flex
			border-radius: 100%

//-- Box search with driver
.wd-search
	//-- Override
	&__box
		&.wd__sect
			.form-search
				.wrap-input
					border: none
					height: auto
				input, select
					color: #141414
				&.location
					border-bottom: none
					.wrap-input
						height: auto
						width: 100%
						border-radius: 0
						&:not(.total-addr):not(.add-address)
							border-bottom: 1px solid #e8e8e8
						i.ic
							position: static
				span.total
					color: #141414
					border-bottom: 1px solid #e8e8e8

	//-- New style for finding
	&__wrap
		position: absolute
		left: 0
		width: 500px
		background: #fff
		top: 50px
		padding: 3rem 2rem 2rem
		box-shadow: 0 0 15px -3px rgba(0,0,0,.25)
		z-index: 90
		&.has-scroll
			height: 85vh
			overflow-y: auto
			overflow-x: hidden
		button.close
			@extend %close-btn
			color: #141414
		.fn-search
			padding-top: .5rem
			> .btn
				margin-bottom: 0
		.map-route
			width: 100%
			margin-bottom: .75rem
			.fix-map
				padding-bottom: 36%

// box searching on mobile
.show-on-lg-and-down
	.line-form
		&.end-time-wd, &.start-time-wd
			height: auto
			.home-select select
				width: 100%
				line-height: 24px
			.home-datetimerange, .home-select
				width: 25%
				span.value
					position: relative
					line-height: 24px
				@media ( max-width: 576px )
					width: 50%
			.d-flex
				width: 100%
				justify-content: flex-start
				@media (max-width: 576px)
					flex-wrap: wrap
			.home-datetimerange
				padding-right: 10px
				@media ( max-width: 767px )
					padding-right: 0
				i.i-chevron-down
					margin-left: 20px
					@media ( max-width: 991px )
						margin-left: 10px
					@media ( max-width: 767px )
						margin-left: 0
					@media ( max-width: 576px )
						margin-left: 45px
					@media ( max-width: 480px )
						margin-left: 25px

		&.start-time-wd
			border: none
			@media (max-width: 576px)
				flex-wrap: wrap

			.home-datetimerange, .wrap-select, label.label
				border-bottom: 1px solid #ffffff
				border-radius: 0

		&.disabled
			border-bottom: none
			.home-datetimerange
				width: auto
				span
					cursor: auto

	.form-default
		label.label
			color: $color-main
			@media ( max-width: 480px )
				font-size: 0.875rem
		&.form-finding .line-form .pick-time-until label.label
			display: none
			@media ( max-width: 576px)
				display: inline-block
				border: none
				width: auto
				margin-right: 15px

	.pick-time-until
		flex: 1
		@media ( max-width: 576px )
			margin-left: 0
			padding-top: 10px
			line-height: 1.8
		.extra-info
			display: inline
			margin-left: 5px
		.options
			top: auto
			bottom: 100%
		.time-selection
			flex: 1
			cursor: pointer
		.value
			display: block
			position: relative
		i.i-chevron-down
			position: absolute
			top: 2px
			right: 0
			left: unset
			transform: rotate(45deg) scale(0.75)
			@extend %i-chevron-down
			@media (max-width: 576px)
				top: 7px
			@media (max-width: 480px)
				top: 4px

.module-map
	position: relative

.tag-filter
	display: none
	position: relative
	height: auto
	cursor: pointer
	@media (max-width: 991px)
		display: flex
		padding: 0 20px
		margin: 15px 0
	@media (max-width: 576px)
		margin: 10px 0
		padding: 0 10px
	.swiper-wrapper
		align-items: center
	.reset-filter
		width: 40px
		height: 40px
		border-radius: 50%
		margin-right: 15px
		background: #ffffff
		@extend %d-flex-center
		&.has-dot-red
			&:before
				content: ""
				position: absolute
				top: 4px
				right: 0px
				width: 7px
				height: 7px
				background-color: #fc4a4a
				border-radius: 100%
				@media ( max-width: 576px	)
					top: 1px
					right: 1px
		i.ic
			margin: 0
		@media ( max-width: 576px )
			margin-right: 10px
			height: 34px
			width: 34px
	&.has-map
		position: absolute
		top: 0
		left: 0
		width: 100%
		z-index: 99
	&-item
		background-color: #fff
		padding: 8px 15px
		font-size: 0.875rem
		font-weight: 500
		border-radius: 999px
		width: auto
		@extend %inline-flex-center

		@media ( max-width: 576px )
			font-size: 0.75rem
			padding: 5px 10px

		i.ic
			transform: scale(0.85)

		.ic-car-black
			margin-right: 5px
		svg.svg-stars 
			margin-right: 5px

		&:not(:last-child)
			margin-right: 15px
			@media ( max-width: 576px )
				margin-right: 10px
		&.active
			color: #ffffff
			background-color: $color-main
			.ic-car-black
				background-position: -356px -339px
			.ic-location-black
				background-position: -306px -315px
			.ic-thunderbolt
				background-position: -95px -220px
			svg.svg-stars, svg.svg-mini-star
				fill: #ffffff

.map-view
	position: absolute
	bottom: 30px
	right: 65px
	font-weight: 600
	display: inline-flex
	background-color: #ffffff
	border-radius: 999px
	z-index: 99
	padding: 10px 20px
	cursor: pointer
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3)
	@media ( max-width: 991px )
		display: none

	.ic
		margin-right: 15px

.vehicle-type
	display: flex
	flex-wrap: wrap
	@media ( max-width: 576px )
		margin-bottom: 10px
	&.has-modal
		.thumbnail
			width: 120px
			height: 120px
			@media ( max-width: 991px )
				width: 105px
				height: 105px
			@media ( max-width: 480px )
				width: 75px
				height: 75px
	.squaredFour
		padding-left: 0
		display: block
		width: calc(#{percentage(1/3)} - #{(30/3)}px)
		margin: 0 15px 20px 0
		cursor: pointer
		input[type="checkbox"]:checked + label.description
			.thumbnail
				background-color: transparent
				border: 1px solid $color-base
			span:first-of-type
				font-weight: 500

		&:nth-child(3n)
			margin-right: 0
		.description
			text-align: center
			display: block
			position: relative
			padding-left: 0
			font-size: 0.8125rem
			&::after
				display: none
			span
				display: block
				max-width: 60px
				margin: 0 auto

		.extra-info
			font-size: 0.75rem
	.thumbnail
		border-radius: 50%
		background-color: $color-third
		border: 1px solid transparent
		width: 80px
		height: 80px
		margin: 0 auto 10px auto
		padding: 0.5rem
		@extend %d-flex-center
