.body {
  padding: 0 15px;
  max-width: 1265px;
  position: relative;
  @media (max-width: 991px) {
    padding: 0;
  }
}

.box-select {
  background-color: #ffffff;
  padding: 23px 35px;
  display: flex;
  line-height: 20px;
  border-bottom: 1px solid #e8e8e8;
  @media (max-width: 991px) {
    display: none;
  }
  &__item {
    display: flex;
    margin-right: 68px;
    border-bottom: 1px solid #e8e8e8;
    span {
      padding-right: 1px;
      font-size: 14px;
      &:first-child {
        color: #00a550;
        font-weight: 500;
        padding-right: 10px;
      }
    }
    .arrow-down {
      border-right: 2px solid #141414;
      border-bottom: 2px solid #141414;
      width: 20px;
      transform: rotate(45deg) scale(0.3);
      margin-right: 2px;
    }
  }
}

.box-container {
  display: flex;
  // height: 100%;
  .box-filter {
    @media (max-width: 991px) {
      display: none;
    }
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #ffffff;
    padding: 30px 35px;
    width: 360px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    &-title {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 16px;
      width: 100%;
      &:nth-child(4) {
        margin-bottom: 0;
      }
    }
    &-select {
      font-size: 14px;
      padding: 12px 20px;
      border: 1px solid #e8e8e8;
      border-radius: 3px;
      margin-bottom: 20px;
      width: 100%;
    }
    &-checkbox {
      margin-bottom: 20px;
      width: 100%;
      .ic.ic-question-mark {
        transform: scale(0.85);
      }
      svg {
        width: 12px;
        height: auto;
      }
    }

    .btn-unfiltered {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #00a550;
      border: 1px solid #00a550;
      border-radius: 3px;
      width: 100%;
      padding: 10px;
      cursor: pointer;
      &:hover {
        background-color: #ebf2f7;
      }
      button {
        font-size: 20px;
        padding-left: 10px;
      }
    }
  }

  .box-show {
    width: calc(100% - 360px);
    padding-top: 15px;
    @media (max-width: 991px) {
      width: 100%;
      .has-scroll {
        height: 100vh;
      }
    }
    &-items {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      .box-show-item {
        margin: 0 7.5px 15px 7.5px;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 5px;
        width: calc(50% - 15px);
        @media (max-width: 576px) {
          width: 100%;
        }
        &__img {
          position: relative;
          img {
            width: 100%;
            height: 100%;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
          }
          .trip-ins {
            position: absolute;
            bottom: 0;
            margin: 15px 15px 20px;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 3px 10px;
            border-radius: 20px;
            span {
              font-size: 12px;
              padding: 5px;
              color: #ffffff;
            }
          }
          .booking-quick {
            position: absolute;
            top: 0;
            right: 0;
            margin: 15px;
            background-color: rgba(0, 0, 0, 0.8);
            padding: 2px 10px 4px;
            border-radius: 20px;
            span {
              font-size: 12px;
              padding: 5px;
              color: #ffffff;
            }
          }
        }
        &__desc {
          position: relative;
          padding: 9px 15px 15px;
          .item__title {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            span {
              font-size: 18px;
              font-weight: 700;
              line-height: 24px;
              &:last-child {
                font-size: 16px;
                color: #00a550;
              }
            }
          }
          .item__star {
            margin-bottom: 10px;

            .star {
              margin-bottom: 10px;
              span {
                font-size: 16px;
                font-weight: 500;
                &:nth-child(3) {
                  font-size: 14px;
                  color: #6e6e6e;
                  font-weight: 400;
                  margin: 0 10px;
                }
                &:last-child {
                  font-size: 14px;
                  color: #6e6e6e;
                  font-weight: 400;
                }
              }
            }
          }
          .item__choose {
            margin-bottom: 10px;

            span {
              font-size: 13px;
              color: #6e6e6e;
              padding: 5px 12px;
              background-color: #e8eaef;
              font-weight: 500;
              border-radius: 3px;
            }
          }
          .item__address {
            .ic.ic-sm-car-location {
              transform: scale(1);
              margin-right: 5px;
            }
            span {
              font-size: 14px;
              @media (max-width: 767px) {
                font-size: 13px;
              }
              @media (max-width: 576px) {
                font-size: 14px;
              }
            }
          }
          .five-star-owner {
            position: absolute;
            bottom: 0px;
            right: 15px;
            background: #f2f5f5;
            padding: 16px 4px 0 4px;
            clip-path: polygon(50% 20%, 100% 0, 100% 100%, 0 100%, 0 0);
          }
        }
      }
    }
  }
}

.fixed-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 15px;
  right: 45px;

  @media (max-width: 991px) {
    position: fixed;
    right: 0;
    width: 100%;

    .fixed-button {
      width: 35%;
      justify-content: space-between;
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: #e8e8e8;
      }
      .fixed-1 {
        width: 50%;
      }
      .fixed-2 {
        width: 50%;
        display: flex;
      }
    }
  }
  @media (max-width: 767px) {
    .fixed-button {
      width: 40%;
    }
  }
  @media (max-width: 576px) {
    .fixed-button {
      width: 50%;
    }
  }
  @media (max-width: 480px) {
    .fixed-button {
      width: 65%;
    }
  }

  .fixed-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 999px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;

    .fixed-1,
    .fixed-2 {
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 767px) {
        p {
          font-size: 14px;
        }
      }
      // @media (max-width: 576px) {
      //   p {
      //     font-size: 12px;
      //   }
      // }
      @media (max-width: 480px) {
        p {
          margin-left: 7px;
        }
      }
      p {
        margin-left: 15px;
        font-size: 16px;
        font-weight: 700;
      }
      i {
        width: 24px;
        height: 24px;
      }
    }
    .fixed-2 {
      display: none;
    }
  }
}

.box-swiper {
  display: none;
  width: 100%;
  height: 100%;
  padding: 15px 0 0 15px;
  position: relative;
  @media (max-width: 991px) {
    display: flex;
  }
}
