//-- Modal Promo, Promo Detail, Share Code 
  
//===== Promo Code ==== 
.section_promo-title 
  padding-top: 60px
  padding-bottom: 1px 
  background: url(../images/try-7.png)
  background-position: center
  background-size: cover
  @media (max-width: 1199px)
    background-size: 100%
  @media (max-width: 991px)
    background-size: 132%
  @media (max-width: 767px)
    background-size: 172%
  @media (max-width: 576px)
    background-size: 200%
  @media (max-width: 480px)
    background-size: 280%
  h4 
    padding-right: 30px
    color: #fff
    font-size: 1.875em
    font-weight: 700
    line-height: 1.25
    margin-bottom: .5rem
    @media (max-width: 480px)
      font-size: 1.7em
  .form-default
    width: 35%
    @media (max-width: 991px)
      width: 50%
    @media (max-width: 576px)
      width: 100%
  .wrap-input.has-ico-search 
    border: none
    input
      width: calc(100% + 30px)
      
//==== Modal Promotion ========
.modal-content
  .modal-header
    &.header-promo
      padding-bottom: 1px
      .form-default 
        padding-top: .5rem
      .wrap-input.has-ico-search 
        input
          width: calc(100% + 30px)
.modal-body
  .body-promo
    div:last-child
      .box-promo
        border-bottom: none
    .box-promo
      width: 100%
      display: flex
      align-items: center 
      border-bottom: 1px solid #eee8ee
      padding-top: 5px 
      padding-bottom: 15px 
      &:last-child
        border-bottom: none
      @media (max-width: 480px)
        padding-top: 5px
      .left 
        width: 15%
        @media (max-width: 480px)
          width: 18%
        .img-promo 
          max-width: 100% 
          height: auto 
      .center 
        width: 60%
        padding: 0 15px
        @media (max-width: 480px)
          padding: 0 10px
        .code 
          font-size: 15px 
          font-weight: bold 
          @media (max-width: 480px)
            font-size: 14px
        .desc 
          font-size: 14px 
          color: $color-second
          @media (max-width: 480px)
            font-size: 12px
          span
            color: #00a550
        &.center-payment 
          width: 70%
          p.code 
            margin-bottom: .5rem 
          p.desc 
            margin-bottom: 0 
            font-size: 12px
      .right
        width: 25%
        display: flex 
        justify-content: flex-end
      
        .btn-sm
          font-size: 14px
          @media (max-width: 480px)
            height: 30px 
            line-height: 30px
            font-size: 10px
            padding: 0 8px
    .link-desc 
      transition: all .3s ease
      color: $color-second
      position: relative 
      display: block
      &.chevron-down:after, &.chevron-up:after
        content: ""
        position: absolute 
        top: 5px
        left: 54px
        background-image: url(../images/main_sprites.png)
        background-position: -16px -341px
        background-size: 450px 
        width: 15px 
        height: 10px 
        vertical-align: middle
        text-indent: -9999px
      &.chevron-up:after
        left: 75px
        background-position: -29px -341px
      &:hover, &:focus 
        color: #00a550
        &.chevron-down:after
          background-position: -16px -351px
        &.chevron-up:after
          background-position: -29px -351px
    &.payments // Modal - Payments 
      padding-top: 1rem
      .left
        width: 10% 
        img 
          width: 40px 
          height: 40px
      .box-promo 
        padding-top: 15px 
        padding-bottom: 15px 
      .center.center-payment
        padding: 0 30px 
        width: 80% 
        p.code 
          margin-bottom: 0 
          font-weight: normal
          color: #141414
      .right-payment 
        width: 10% 
        .custom-control 
          margin-right: 0 
          margin-bottom: 0
    &.gateway-payments
      padding-top: 1rem
      .center
        p.code 
          margin-bottom: 0 
          font-weight: normal
          color: #141414
      label.custom-control 
        margin-right: 0 
        margin-bottom: 0

      

.box-wrap-promo
  border: 1px solid #e8e8e8
  padding: 5px 10px
  background: #fff
  border-radius: 3px
  width: 150px
  position: relative
  display: flex
  align-items: center
  margin-bottom: 10px
  img 
    width: 30px
    height: 30px
  p 
    font-size: .875rem
    text-transform: uppercase
    font-weight: bold
    padding-left: 10px

//== Promo Code Details ====
.promo-details
  border: 1px solid #e8e8e8
  .promo-header
    .cover-promo
      background-size: 100%
      background-position: center
      width: 100%
      height: 150px 
    .cover-detail 
      position: relative
      padding: 0 15px
      display: flex 
      justify-content: center
      align-items: center
      flex-direction: column
      .img-promo 
        width: 80px
        height: 80px
        margin-top: -45px
        img 
          max-width: 100%
          height: auto
          object-fit: cover
          box-shadow: 1px 3px 3px rgba(0,0,0,.2)
      .desc 
        text-align: center
        padding-top: 15px
        h4 
          font-size: 1.65em
          font-weight: bold
          @media (max-width: 480px)
            font-size: 1.45em
        p 
          color: $color-second
          @media (max-width: 480px)
            font-size: 13px
          span.green 
            color: $color-main
  .promo-body
    text-align: center
    padding: 30px 0px
    @media (max-width: 480px)
      padding: 15px 0px
    h3 
      font-weight: bold
      font-size: 1.2em
      color: #00a550
      @media (max-width: 480px)
        font-size: 1em
    p 
      margin-bottom: .5rem 
      @media (max-width: 480px)
        font-size: 13px
    .code-promo 
      border: 2px solid #00a550
      padding: 2.5px
      color: #00a550
      font-weight: bold
    ul 
      text-align: justify
      margin-left: 25px
      li
        position: relative
        @media (max-width: 480px)
          font-size: 13px
        &:before 
          position: absolute
          content: ""
          left: -15px
          width: 5px
          height: 5px
          background-color: #141414
          top: 10px
          border-radius: 50%
          @media (max-width: 480px)
            width: 4px 
            height: 4px 
            top: 8px
  .promo-footer
    display: flex 
    justify-content: center
    padding-bottom: 30px
    @media (max-width: 480px)
      padding-bottom: 15px
          
//------ Share Code 
.scode_wrapper 
  background-color: #00a550 
  color: #fff 
  position: relative
  overflow: hidden 
  z-index: 10 
  h3
    text-align: center 
    font-size: 2.25rem
    padding-top: 45px 
    margin-bottom: 15px
    font-weight: bold 
    @media (max-width: 1199px)
      font-size: 2rem 
    @media (max-width: 767px)
      font-size: 1.75rem
    @media (max-width: 480px)
      font-size: 1.5rem
      padding-top: 30px
  .scode_grid
    display: grid 
    grid-gap: 2rem 
    grid-template-columns: calc(60% - 1rem) calc(40% - 1rem)
    padding-bottom: 2rem 
    padding: 0 15px 
    margin: 0 auto
    align-items: center
    @media (max-width: 991px)
      grid-template-columns: calc(50% - 2rem) calc(50% - 2rem)
      grid-gap: 4rem
    @media (max-width: 767px)
      grid-template-columns: calc(50% - 1rem) calc(50% - 1rem)
      grid-gap: 2rem
      padding: 0 
    @media (max-width: 480px)
      grid-template-columns: calc(50%) calc(50%)
      grid-gap: .5rem
    p.desc 
      text-align: justify
      font-size: 1.25rem 
      margin-bottom: 1rem
      @media (max-width: 1199px)
        font-size: 1.15rem
      @media (max-width: 991px)
        font-size: 1rem
      @media (max-width: 480px)
        font-size: 14px
        margin-bottom: .5rem
      span:last-child
        display: inline-block
    .img-share 
      text-align: center 
      img 
        max-width: 85%
        height: auto
        @media (max-width: 1199px)
          max-width: 100%
    .form-default 
      .space.m 
        @media (max-width: 480px)
          display: none
      .line-form
        .has-ico.right
          width: 60%
          @media (max-width: 991px)
            width: 100%
          i  
            left: auto 
            right: 13px
            cursor: pointer 
          input
            padding-right: 44px !important
            padding-left: 20px !important 
            font-size: 1rem
            @media (max-width: 480px)
              font-size: 14px
            &:focus, &:hover
              border: none !important
        &.d-flex 
          justify-content: flex-start
          .btn-share 
            width: 50px 
            height: 50px 
            border-radius: 100% 
            display: flex
            justify-content: center 
            align-items: center
            margin-right: 5px 
            &:last-child 
              margin-right: 0px
            &.ic-fb
              background-color: #3b5998
            &.ic-gg
              background-color: #dd4b39
            &.ic-in
              background-color: #007fb1
            &.ic-tweet
              background-color: #00aced
            &.ic-mail
              background-color: #7f7f7f
            @media (max-width: 767px)
              width: 40px 
              height: 40px 
            @media (max-width: 480px)
              width: 30px 
              height: 30px 
              
.scode_social 
  .social_box 
    padding: 45px 15px
    .d-flex 
      flex-wrap: wrap 
      h4 
        width: 100%
        text-align: center
        font-size: 1.75rem
        margin-bottom: 2rem
        text-transform: uppercase
        color: #a9aaad
        font-weight: bold
        @media (max-width: 991px)
          font-size: 1.5rem
        @media (max-width: 767px)
          font-size: 1.25rem
    .wr-btn-share 
      @include flexbox()
      flex-direction: column 
      width: 100%
      align-items: center 
      .wr-btn 
        width: 45%
        @media (max-width: 991px)
          width: 60%
        @media (max-width: 480px)
          width: 100%
        &:first-child 
          margin-bottom: 1rem
          margin-left: 2px 
      button.btn.btn--m 
        font-size: 1rem
        @media (max-width: 767px)
          font-size: 0.875rem