.m-container
  padding: 45px 0
  @media ( max-width: 991px )
    padding: 45px
  @media ( max-width: 767px )
    padding: 30px
  @media ( max-width: 576px )
    padding: 30px 15px
  h5
    font-size: 1.25rem
    font-weight: 600
    margin-bottom: 20px
    @media ( max-width: 576px )
      font-size: 1rem
  .notice-form
    font-size: 0.875rem
    border-radius: 2px
    padding: 10px 15px
    @media ( max-width: 480px )
      font-size: 0.75rem
      padding: 10px 5px
    p:not(:last-child)
      margin-bottom: 10px
  .car-brands
    margin-bottom: 30px
    @media ( max-width: 576px )
      margin-bottom: 20px

.sharedcode
  &__header
    background-position: 100%
    background-repeat: no-repeat
    background-size: cover
    min-height: 420px
    h3
      text-align: center
      font-weight: 700
      margin-bottom: 30px
      font-size: 2.25rem
    @media ( max-width:767px )
      background-size: auto 70vw
      background-color: #f7fbfe      
      background-position-y: bottom
      h3
        font-size: 1.5rem
        margin-bottom: 10px

    .main-title
      @media ( max-width: 767px )
        width: 100%
    .header-image
      width: 55%
      img
        max-width: 100%
        height: auto
      @media ( max-width: 767px )
        width: 65%
        margin-top: 1rem
      img
        display: block
        max-width: 100%
    .sharedcode_content
      display: flex
      align-items: center
      justify-content: space-between
      @media ( max-width: 767px )
        flex-direction: column
        justify-content: center

    // &_wrapper
    //   max-width: 1260px
    //   margin: auto
    //   padding: 45px 0
    //   @media ( max-width: 1399px )
    //     max-width: 870px
    //   @media ( max-width: 991px )
    //     padding: 45px
    //   @media ( max-width: 767px )
    //     padding: 30px
    //   @media ( max-width: 576px )
    //     padding: 30px 15px
    // .regular-text
    //   color: #4F508A
    //   font-weight: 500
    //   margin-bottom: 10px
    //   @media ( max-width: 576px )
    //     font-size: 10px
    h6
      color: #4F508A
      font-size: 1.25rem
      font-weight: 500
      margin-bottom: 15px
      @media ( max-width: 576px )
        font-size: 1rem
        margin-bottom: 10px
    p
      color: #4F508A
      // font-size: 16px
      margin-bottom: 15px
      @media ( max-width: 576px )
        margin-bottom: 10px
        font-size: 0.875rem
    .open-popup
      color: #FA7D19
      display: flex
      align-items: center
      margin-bottom: 25px
      font-size: 14px
      @media ( max-width: 576px )
        margin-bottom: 10px
        font-size: 12px
      span
        position: relative
        &::before
          position: absolute
          bottom: 0
          left: 0
          content: ''
          width: 100%
          height: 1px
          background-color: #FA7D19
      svg
        margin-left: 5px
        path
          fill: #FA7D19
    .copy-code
      // display: flex
      margin-bottom: 15px
      // filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25))
      .container
        filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25))
        display: flex
      &::before
        content: ''
        position: absolute
        clip-path: circle(60.0% at 50% 25%)
        background-color: #e2eef7
        width: 8px
        height: 8px
        // top: 0
        margin-left: 44px
        z-index: 2
      &::after
        content: ''
        position: absolute
        clip-path: circle(60.0% at 50% 75%)
        background-color: #dbe8f3
        width: 8px
        height: 8px
        // bottom: 0
        margin-left: 44px
        z-index: 2
        margin-top: -8px
      @media ( max-width: 576px )
        margin-bottom: 10px
      input
        // background: url('../images/sharedcode/background-input.svg')
        // background-repeat: no-repeat
        width: fit-content
        border-radius: 0 5px 5px 0
        clip-path: polygon(0% 15%, 2% 0, 100% 0, 100% 100%, 2% 100%, 0% 85%)
        background-color: #FFF
        font-weight: 500
        text-align: center

        // @media ( max-width: 576px )
        //   background: url('../images/sharedcode/background-input_mobile.svg')
        //   height: 36px
        //   width: 160px

      // input
      //   height: 100%
      //   background: transparent
      //   font-weight: 500
      //   text-align: center
      //   @media ( max-width: 576px )
      //     font-size: 12px
      .icon
        padding: 10px 12px
        border-radius: 5px 0 0 5px
        // background: url('../images/sharedcode/background-copy.svg')
        // background-size: 100%
        // background-repeat: no-repeat
        // width: 45px
        // height: 45px
        // clip-path: polygon(0 0, 90% 0, 90% 15%, 100% 15%, 100% 85%, 90% 85%, 90% 100%, 0% 100%)
        clip-path: polygon(0 0, 92% 0, 100% 15%, 100% 85%, 92% 100%, 0% 100%)
        // clip-path: circle(10% at 100% 0)
        background-color: #E8EAEF
        margin-right: -0.1px        
      .ic
        @media ( max-width: 576px )
          transform: scale(0.8)

    .sharedcode-media
      display: flex
      margin-top: 25px
      svg
        cursor: pointer
        width: 45px
        height: 45px
        @media ( max-width:767px )
          width: 40px
          height: 40px
        @media ( max-width:576px )
          width: 30px
          height: 30px

      svg:not(:last-child)
        margin-right: 20px
        @media ( max-width:576px )
          margin-right: 15px

 
  // &-content
  //   @extend .m-container
    // max-width: 1260px
    // margin: auto
    // padding: 45px 0
    // @media ( max-width: 1399px )
    //   max-width: 870px
    // @media ( max-width: 991px )
    //   padding: 45px
    // @media ( max-width: 767px )
    //   padding: 30px
    // @media ( max-width: 576px )
    //   padding: 30px 15px
  // .m-container
  //   h3
  //     font-size: 1.25rem
  //     font-weight: 600
  //     margin-bottom: 20px
  //     @media ( max-width: 576px )
  //       font-size: 1rem
  //   .notice-form
  //     font-size: 0.875rem
  //     border-radius: 2px
  //     padding: 10px 15px
  //     @media ( max-width: 480px )
  //       font-size: 0.75rem
  //       padding: 10px 5px
  //     p:not(:last-child)
  //       margin-bottom: 10px
  //   .car-brands
  //     margin-bottom: 30px
  //     @media ( max-width: 576px )
  //       margin-bottom: 20px
      // &-item:last-of-type
      //   margin-bottom: 0
  &__info
    display: flex
    justify-content: space-between
    background: rgba(0, 168, 50, 0.05)
    padding: 0 40px
    border-radius: 3px
    margin-bottom: 5px
    @media ( max-width: 576px )
      padding: 0 20px
      flex-direction: column
      align-items: center
      text-align: center
      margin-bottom: 10px

    .info-content
      padding: 25px 0
      display: flex
      flex-direction: column
      justify-content: center
      @media ( max-width: 576px )
        padding: 15px 0 0
      .ic-question-mark
        transform: scale(0.75)
        @media ( max-width: 576px )
          transform: sacle(0.65)
      // .heading
      //   font-size: 18px
      //   display: flex
      //   align-items: center
      //   @media ( max-width: 576px )
      //     font-size: 16px
      .description
        color: #A9AAAD
        font-size: 12px
        @media ( max-width: 576px )
          font-size: 10px
      .ic-mark-question
        transform: scale(0.65)
      .unit
        font-size: 12px
        color: #00A550
        .num
          font-size: 45px
          font-weight: 900
          margin-right: 7px
          @media ( max-width: 576px )
            font-size: 32px
            margin-right: 4px
    .info-image
      padding: 10px 0
      width: 30%
      display: flex
      justify-content: center
      align-items: center
      @media ( max-width: 576px )
        width: 50%
      // img
      //   height: auto
      //   width: 100%

.sharedcode__card
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  margin-top: 20px
  // @media ( max-width: 576px )
  //   flex-direction: column
  .card-wrapper
    display: flex
    justify-content: center
    width: calc(50% - 10px)
    margin-bottom: 20px
    background: #F8F9FB
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15)
    border-radius: 3px
    padding: 20px 48px
    @media ( max-width: 991px )
      padding: 15px
    .card-image
      width: 32%
      max-width: 150px
      display: flex
      flex-wrap: wrap
      justify-content: center
      // .fix-img
      //   margin-bottom: 10px
      //   @media ( max-width: 480px )
      //     max-width: calc(100% - 32px)
      //     margin: 0 auto
      .label
        font-size: 0.75rem
        font-weight: 700
        padding: 5px 6px 4px 6px
        background-color: #00A550
        border-radius: 999px
        color: #fff
        margin-top: 10px
        

        @media ( max-width: 991px )
          font-size: 0.6rem
        // svg
        //   margin-right: 3px
        //   @media ( max-width: 576px )
        //     margin-bottom: 2px
      @media ( max-width: 767px )
        width: 40%
      // @media ( max-width: 576px )
      //   width: 25%
      // @media ( max-width: 480px )
      //   width: 40%
      img
        object-fit: contain
    .card-content
      margin-left: 30px
      display: flex
      flex-direction: column
      justify-content: center
      @media ( max-width: 767px )
        margin-left: 10px
      @media ( max-width: 576px )
        margin-left: 14px
      span
        font-weight: 500
        font-size: 0.875rem
      span:not(:last-child)
        margin-bottom: 10px
      p
        color: #6E6E6E
        font-size: 0.875rem
      @media ( max-width: 767px )
        span, p
          font-size: 0.75rem
    @media ( max-width: 576px )
      width: 100%
      padding: 20px

    
  
