.sharedcode {
  font-style: normal;
  &__information {
    h6 {
      font-weight: 500;
      font-size: 20px;
      line-height: 25px;
      color: #141414;
      margin-bottom: 20px;
      @media (max-width: 480px) {
        font-size: 16px;
      }
    }
  }
  &__cover {
    display: flex;
    background-color: #f2fbf5;
    padding: 0 40px;
    line-height: 125%;
    justify-content: space-between;
    margin-bottom: 5px;
    .cover-content {
      display: flex;
      padding: 25px 0;
      justify-content: space-evenly;
      flex-direction: column;
      font-weight: 400;
      h6 {
        font-size: 18px;
        font-weight: 400;
        margin: 0;
        @media (max-width: 480px) {
          font-size: 13px;
          line-height: 18px;
        }
        .ic-question-mark {
          transform: scale(0.7);
          cursor: pointer;
          @media (max-width: 480px) {
            display: none;
          }
        }
      }
      .desc {
        font-size: 14px;
        margin-top: 10px;
        color: #a9aaad;
        @media (max-width: 480px) {
          font-size: 12px;
        }
      }
      p {
        font-size: 12px;
      }
      .point {
        padding: 0;
        margin: 0;
        color: #00a550;
        .number {
          font-weight: 900;
          font-size: 45px;
          line-height: 120%;
          margin-right: 5px;
          padding: 0;
        }
        .string {
          font-size: 12px;
        }
      }
    }
    .cover-img {
      display: flex;
      padding: 11px 0;
      justify-content: center;
      align-items: center;
      width: 30%;
    }
  }
  &__statistics {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    @media (max-width: 767px) {
      margin-bottom: 15px;
    }
    &__item {
      display: flex;
      justify-content: space-between;
      padding: 15px 0;
      border-bottom: 1px solid #e8eaef;
      cursor: pointer;
      &:last-child {
        border-bottom: none;
      }
      @media (max-width: 480px) {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
  &__cardbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 32px;

    .cardbox-item {
      display: flex;
      width: calc(50% - 15px);
      justify-content: center;
      background: #f8f9fb;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
      border-radius: 3px;
      margin-bottom: 30px;
      @media (max-width: 767px) {
        width: 100%;
        margin-bottom: 15px;
      }

      .cardbox-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        img {
          display: block;
          margin: 0 auto;
        }
        .mipoint {
          display: flex;
          background: #00a550;
          border-radius: 10px;
          font-weight: 700;
          font-size: 14px;
          line-height: 18px;
          align-items: center;
          justify-content: center;
          color: #ffffff;
          padding: 1px 7px 1px 6px;
          margin-top: 12px;
          @media (max-width: 480px) {
            font-size: 11px;
            font-weight: 500;
            line-height: 16px;
          }
        }
      }

      .cardbox-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 24px 0;
        margin-left: 36px;

        p {
          color: #6e6e6e;
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          padding-bottom: 5px;
        }

        span {
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          color: #141414;
          margin-bottom: 6px;
        }
      }
    }
  }
  &__banner {
    background-image: url("../images/sharedcode/background.svg");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 415px;

    .m-container {
      h3 {
        font-weight: 700;
        font-size: 36px;
        line-height: 125%;
        color: #141414;
        text-align: center;
        margin-bottom: 33px;
        @media (max-width: 991px) {
          font-size: 30px;
        }
        @media (max-width: 767px) {
          font-size: 26px;
        }
        @media (max-width: 576px) {
          font-size: 22px;
        }
        @media (max-width: 480px) {
          font-size: 20px;
          line-height: 25px;
        }
      }
      .banner-wrapper {
        display: flex;
        justify-content: space-between;
        // @media (max-width: 991px) {
        // }
        // @media (max-width: 767px) {
        // }
        @media (max-width: 576px) {
          flex-direction: column;
        }
        .banner-content {
          display: flex;
          flex-direction: column;
          h6 {
            font-weight: 500;
            font-size: 20px;
            line-height: 25px;
            color: #4f508a;
            margin-bottom: 16px;
            @media (max-width: 991px) {
              font-size: 18px;
            }
            @media (max-width: 576px) {
              font-size: 16px;
            }
            @media (max-width: 480px) {
              line-height: 18px;
            }
          }
          .content1 {
            font-weight: 400;
            font-size: 14px;
            line-height: 125%;
            display: flex;
            color: #4f508a;
            margin-bottom: 20px;
            @media (max-width: 576px) {
              font-size: 12px;
            }
          }
          .referral-code {
            display: flex;
            margin-bottom: 25px;
            filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));

            .copy-paste {
              background: #e8eaef;
              padding: 10px 13px;

              border-radius: 5px 0 0 5px;
              clip-path: polygon(
                0 0,
                92% 0,
                100% 15%,
                100% 85%,
                92% 100%,
                0% 100%
              );
              background-color: #e8eaef;
              margin-right: -0.1px;

              .ic-copy {
                @media (max-width: 576px) {
                  transform: scale(0.75);
                }
              }
              @media (max-width: 576px) {
                padding: 6px 10px;
              }
            }
            p {
              background: #ffffff;
              display: flex;
              align-items: center;
              width: 100%;
              padding-left: 22px;
              font-weight: 500;
              font-size: 20px;
              line-height: 25px;
              color: #000000;

              border-radius: 0 5px 5px 0;
              clip-path: polygon(
                0% 15%,
                2% 0,
                100% 0,
                100% 100%,
                2% 100%,
                0% 85%
              );

              @media (max-width: 576px) {
                font-size: 12px;
                padding-right: 110px;
                width: auto;
              }
              @media (max-width: 480px) {
                padding-right: 90px;
              }
            }
          }
          .content2 {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #4f508a;
            margin-bottom: 10px;
            @media (max-width: 991px) {
              font-size: 14px;
            }
            @media (max-width: 576px) {
              font-size: 12px;
            }
            @media (max-width: 480px) {
              line-height: 12px;
            }
          }

          .content3 {
            font-weight: 400;
            font-size: 12px;
            line-height: 125%;
            color: #fa7d19;
            margin-bottom: 32px;
            text-decoration: underline;
            @media (max-width: 480px) {
              line-height: 12px;
            }
          }

          .social-media {
            display: flex;

            svg {
              cursor: pointer;
              margin-right: 22px;
              width: 45px;
              height: 45px;

              @media (max-width: 480px) {
                width: 28px;
                height: 28px;
              }
            }
          }
        }

        .banner-img {
          display: flex;
          justify-content: flex-end;
          height: auto;
          @media (max-width: 991px) {
            width: 70%;
          }
          @media (max-width: 767px) {
            width: 60%;
          }
          @media (max-width: 576px) {
            width: 100%;
          }
        }
      }
    }
  }
}
.noteform {
  background: #fff9f4;
  border-radius: 2px;
  padding: 10px 0;

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 9px;
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 125%;
      color: #141414;
      @media (max-width: 480px) {
        font-size: 11px;
      }
    }
  }
}
