//--- GPS Pages
.tracking_cars--wrap  
  height: 100%  
  .map-container
    height: calc(100vh - 115px)
    @media (max-width: 991px)
      height: calc(100vh - 105px)
    @media (max-width: 480px)
      height: calc(100vh - 95px)

      
//-- Intro GPS

.mitrack-wrapper .wrap-btn 
    padding: 15px 0

.mitrack-wrapper .wrap-btn a:first-child 
  margin-right: 10px

.fix-iframe 
  position: relative
  width: 100vw
  height: 98vh

.fix-iframe iframe.iframe 
  position: absolute
  top: 0 
  left: 0
  width: 100%
  height: 100%
  z-index: 1


//GPS Product Landing Page 
.pricing-gps__sect, .order-guide__sect, .equipment-install__sect, .info-gps__sect, .register-gps__sect 
	padding: 5rem 0
	p 
		margin-bottom: .5rem
		@media (max-width: 767px)
			font-size: .875rem
h3.tt-gps 
	color: $color-main
	font-size: 2rem 
	font-weight: 600
	margin-bottom: 1.5rem
	@media (max-width: 767px)
		font-size: 1.5rem
		margin-bottom: 1rem
	&.wh
		color: #fff
.feature-gps__sect, .order-guide__sect, .pricing-gps__sect
	.content 
		p.note 
			font-size: .8125rem 
			color: gray
.about-gps__sect, .feature-gps__sect, .order-guide__sect
	ul 
		padding-left: 30px
		text-align: justify
		@media (max-width: 767px)
			padding-left: 15px
		li 
			list-style: disc
			margin-bottom: .5rem 
			@media (max-width: 767px)
				font-size: .875rem

.gps-banner 
	position: relative
	height: 0
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	padding-bottom: 46%
	@media (max-width: 576px)
		padding-bottom: 0 
		display: flex
		justify-content: center
		align-items: center
		min-height: 300px
	.reg-container
		position: absolute
		left: 50%
		top: 25% 
		transform: translate(-25%, -50%)
		color: #fff
		text-align: right
		@media (max-width: 576px)
			position: static 
			transform: none
	.main-title 
		margin-bottom: 1rem
		h2 
			font-size: 4rem 
			letter-spacing: 3px
			font-weight: bold
			position: relative 
			@media (max-width: 991px)
				font-size: 3rem
			@media (max-width: 767px)
				font-size: 2.75rem
			@media (max-width: 576px)
				font-size: 2.25rem
		span 
			font-size: 2rem
			font-weight: 600
			@media (max-width: 767px)
				font-size: 1.5rem
			@media (max-width: 576px)
				font-size: 1.25rem
		
.about-gps__sect 
	background-size: contain
	background-repeat: no-repeat
	background-position: bottom center
	.m-container 
		padding: 6rem 0
		position: relative
		@media (max-width: 576px)
			padding: 4rem 15px
		&::before
			content: ""
			position: absolute
			top: 0
			width: 10% 
			height: 100%
			max-width: 250px
			background: $color-main
			opacity: 0.1
.feature-gps__sect 
	background: linear-gradient(90deg, #2A9572 0%, #00A550 100%)
	padding-bottom: 10rem
	position: relative
	@media (max-width: 576px)
		padding-bottom: 5rem
	.m-container 
		background: #fff
		padding: 6rem 
		box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.15)
		position: relative
		@media (max-width: 576px)
			padding: 3.5rem 15px
	.content 
		padding-left: 4rem
		margin-bottom: 1.5rem
		@media (max-width: 767px)
			position: relative
			z-index: 12
			padding-left: 0
	.product-img 
		position: absolute
		top: -100px
		right: 0
		z-index: 11
		@media (max-width: 991px)
			top: -50% 
			text-align: right
		img 
			width: 82%
			@media (max-width: 991px)
				width: 50% 
				opacity: .4
	.img-content 
		position: absolute
		left: 0
		@media (max-width: 576px)
			text-align: right
		img 
			width: 80%
			@media (max-width: 576px)
				width: 60%
.pricing-gps__sect
	position: relative 
	@media (max-width: 767px)
		padding-bottom: 0
	&::before
		content: ""
		position: absolute
		width: 30% 
		height: 100%
		bottom: 0
		background: url("../images/gps/gps-6.svg") no-repeat 
		background-position: bottom
		background-size: contain
		@media (max-width: 767px)
			width: 40%
	h3.tt-gps 
		@media (max-width: 991px)
			text-align: center
	.d-flex 
		align-items: flex-start
		flex-wrap: wrap
		.img-content 
			width: 40% 
			@media (max-width: 991px)
				margin-bottom: 1rem
				width: 35%
		.content 
			width: 60%
		.img-content, .content 
			@media (max-width: 991px)
				width: 100%
	.content 
		text-align: right
		@media (max-width: 991px)
			text-align: center
		.pricing-table 
			display: flex
			.col
				width: 40%
				padding: 2rem 1rem
				border-radius: 10px
				font-weight: 500
				margin-bottom: .5rem
				@media (max-width: 767px)
					padding: 2rem 0
				&.bg-pink, &.bg-green 
					width: 30%
					text-align: center
					font-weight: normal
				&.bg-pink 
					background: rgba(250, 125, 25, .1)
				&.bg-green
					background: rgba(0, 165, 80, .1)
				p 
					font-size: .875rem
					@media (max-width: 767px)
						font-size: .75rem
			p.off-set 
				height: 24px
				@media (max-width: 767px)
					height: 18px
		.extra 
			h4 
				font-size: 1rem
				@media (max-width: 767px)
					font-size: .875rem
			p 
				font-size: .875rem
				@media (max-width: 767px)
					font-size: .75rem
			ul 
				li 
					@media (max-width: 767px)
						font-size: .875rem
.order-guide__sect 
	padding-bottom: 0rem
	.content 
		position: relative
		top: -70px
		margin-left: 6rem
		padding: 6rem 6rem 2.5rem 
		background: rgba(250, 125, 25, .1)
		@media (max-width: 767px)
			margin-left: 2rem 
			top: -35px
			padding: 3rem 3rem 1.25rem
		p 
			margin-bottom: 0
.equipment-install
	&__box
		@extend %d-flex-wrap 
		.equipment-item
			width: calc(33.33% - 1.5rem)
			text-align: center
			@media (max-width: 767px)
				width: 100%
			&:not(:last-child)
				margin-right: 2.25rem
				@media (max-width: 767px)
					margin-right: 0
					margin-bottom: 1.5rem
			span 
				display: block 
				font-weight: 500
				margin-bottom: 1rem
			p
				text-align: justify
.info-gps
	&__sect 
		background: linear-gradient(270deg, #339179 0%, #01A959 72.82%)
	&__wrap 
		color: #fff
		width: 100%
		@extend %d-flex-wrap
		align-items: center
		.tt-gps 
			width: 40%
			@media (max-width: 767px)
				width: 100%
				text-align: center
		.equipment-install__box
			width: 60%
			flex-direction: column
			@media (max-width: 767px)
				width: 100%
		.equipment-item 
			@extend %d-flex
			align-items: center
			width: 100%
			margin-right: 0
			text-align: justify
			margin-bottom: 1.5rem
			@media (max-width: 767px)
				text-align: center
				flex-wrap: wrap 
			&:not(:last-child)
				margin-right: 0
			img 
				margin-right: 20px 
				@media (max-width: 767px)
					margin-right: 0
		.ct-info 
			@media (max-width: 767px)
				width: 100%
			.tt-equip
				font-weight: 600
				font-size: 1.25rem
				@media (max-width: 767px)
					font-size: 1rem
			p 
				@media (max-width: 767px)
					text-align: center
.register-gps__sect 
	.img-register
		margin-bottom: 1rem 
		img 
			width: 40% 
			@media (max-width: 767px)
				width: unset