block Modal 

div(role='dialog')
  .modal-backdrop.fade.in
  .fade.in.modal(role='dialog', tabindex='-1', style='display: block; padding-left: 6px;')
    .modal-sm.modal-dialog.notify-container-fluid
      .modal-content(role="document")
        .modal-header
          button.close(type="button")
            span(aria-hidden="true") x
            span.sr-only
        .modal-body 
          .notify-popup--wrapper
            .notify-body
              .notify-insurance
                h3 ĐẶT MUA SẢN PHẨM
                .popup-ins-container
                  p Cám ơn bạn đã đặt mua sản phẩm 
                    strong Bảo hiểm xe ô tô 
                    | qua ứng dụng Mioto ! 
                  p Bạn vui lòng cho Mioto xin thông tin số điện thoại, nhân viên Mioto sẽ liên hệ bạn ngay trong thời gian sớm nhất (từ 30-60 phút kể từ khi nhận được thông tin).
                  p Nếu cần hỗ trợ bạn vui lòng gọi đến Mioto hotline 
                    strong 
                      a.text-primary(href="tel:19009217") 19009217 
                    | (9AM-9PM) hoặc inbox 
                    a.link-fanpage Mioto Fanpage
                    |. Xin cám ơn.
                .form-default 
                  .line-form 
                    .wrap-input 
                      input.value(placeholder="Tên chủ xe")
                  .line-form 
                    .wrap-input 
                      input.value(placeholder="Số điện thoại")
                  .btn.btn-primary.btn--m GỬI THÔNG TIN


                