block Modal 

div(role='dialog')
  .modal-backdrop.fade.in
  .fade.in.modal(role='dialog', tabindex='-1', style='display: block; padding-left: 6px;')
    .modal-sm.modal-dialog.notify-container-fluid
      .modal-content(role="document")
        .modal-header
          button.close(type="button")
            span(aria-hidden="true") x
            span.sr-only
        .modal-body 
          .notify-popup--wrapper
            .notify-body
              .notify-insurance
                h3 BẠN KHÔNG TÌM THẤY THÔNG TIN XE?
                .popup-ins-container
                  p Để lại thông tin cho Mioto ngay hoặc gọi đến hotline
                    strong 
                      a.text-primary(href="tel:19009217") 19009217 
                    | (9AM-9PM). Nhân viên Mioto sẽ liên hệ lại bạn ngay trong thời gian sớm nhất. Xin cám ơn.
                .form-default 
                  .line-form 
                    .wrap-input 
                      input.value(placeholder="Tên chủ xe")
                  .line-form 
                    .wrap-input 
                      input.value(placeholder="Số điện thoại")
                  .line-form 
                    .wrap-input 
                      input.value(placeholder="Thông tin xe")
                  .line-form.end
                    textarea.textarea(placeholder="Lời nhắn đến Mioto")
                  .btn.btn-primary.btn--m GỬI THÔNG TIN


                