div(role='dialog')
  .modal-backdrop.fade.in
  .fade.in.modal(role='dialog', tabindex='-1', style='display: block; padding-left: 6px;')
    .modal-sm.modal-dialog.notify-container-fluid
      .modal-content(role="document")
        .modal-header
          button.close(type="button")
            span(aria-hidden="true") x
            span.sr-only
        .modal-body 
          .notify-popup--wrapper
            .notify-body
              .notify-insurance
                h3 THÔNG TIN ĐÃ ĐƯỢC GỬI!
                .popup-ins-container
                  .notice-form.notice-form-m
                    label.label Tên chủ xe: Nguyễn Văn A 
                    label.label Số điện thoại: 0123456789
                  p Mioto sẽ liên hệ bạn ngay trong thời gian sớm nhất. Xin cám ơn !