div(role='dialog')
  .modal-backdrop.fade.in
  .fade.in.modal(role='dialog', tabindex='-1', style='display: block; padding-left: 6px;')
    .modal-dialog.modal-sm
      .modal-content(role='document')
        .modal-header
          button.close(type='button')
            span(aria-hidden='true') ×
            span.sr-only
          h5.modal-title XUẤT XỨ
        .modal-body
          .tutorial_register_ins
            p Xem thông tin tại 
              strong Nước sản xuất 
              | trên 
              strong Giấy đăng kiểm
            .wrap-img
              .origin-car-img
                img.img-fluid(src="images/insurance/anonymous/origin_car1.png")
              .origin-car-img
                img.img-fluid(src="images/insurance/anonymous/origin_car2.png")
          .tutorial_register_ins
            p Xem thông tin tại góc trái bên dưới cavet xe.
            img(src="images/insurance/anonymous/tutorial1.png")
          .tutorial_register_ins
            p Xem thông tin tại mục 
              strong Nước sản xuất 
              | trên 
              strong Giấy đăng kiểm
            img(src="images/insurance/anonymous/tutorial2.png")
          
