- var features = []
- features.push('images/insurance/anonymous/ins-feature-1.png', 'images/insurance/anonymous/ins-feature-2.png', 'images/insurance/anonymous/ins-feature-3.png', 'images/insurance/anonymous/ins-feature-4.png')
.banner-home__sect.wd__sect.insurance-landipage(style="background-image: url(images/insurance/anonymous/banner_home.png); background-position: center;")
  .insurance-landipage-title
    .m-container
      h1 MUA BẢO HIỂM XE Ô TÔ ONLINE
      h2 PHÍ TỐT NHẤT CÙNG MIOTO!
      h6 Sản phẩm bảo hiểm
      .ins-landing__wrap
        .type-ins-box
          include ../../../images/ic-svg/explain-ins.svg
          p BẢO HIỂM VẬT CHẤT XE Ô TÔ 
        .type-ins-box 
          include ../../../images/ic-svg/tnds-ins.svg
          p BẢO HIỂM TNDS BẮT BUỘC
.features__sect.ins-landing-partner
  .m-container.ins-landing-partner
    h3.title-car ĐỐI TÁC BẢO HIỂM
    .ins-landing-partner__wrap 
      .ins-partner-logo
        img(src="images/homev2/mic.png")
      .ins-partner-logo
        img(src="images/pjico.png")
      .ins-partner-logo
        img(src="images/insurance/anonymous/pti.png")
.features__sect.has-ins-landing
  .m-container 
    h3.title-car TÍNH NĂNG NỔI bật
    .ins-landing-partner__wrap 
      .swiper-button-next.next-ft
        i.i-arr
      .swiper-button-prev.prev-ft
        i.i-arr
      .swiper-container.swiper-features
        .swiper-wrapper.feature-item
          each feature in features 
            .swiper-slide.ins-feature
              img.img-fluid(src=`${feature}`)
.insurance__guide
  .m-container
    h6 QUY TRÌNH CẤP GIẤY CHỨNG NHẬN BẢO HIỂM
    .ins-procedure
      .step
        img(src="images/insurance/anonymous/process1.svg")
        p 1. Khách gửi yêu cầu và được Mioto tư vấn
      .step
        img(src="images/insurance/anonymous/process2.svg")
        p 2. Thanh toán
      .step 
        img(src="images/insurance/anonymous/process3.svg")
        p 3. Mioto gửi 
          strong Giấy chứng nhận bảo hiểm 
          | qua email đến chủ xe trong vòng 
          strong 1 ngày 
          | kể từ thời điểm thanh toán.
      .step 
        img(src="images/insurance/anonymous/process4.svg")
        p 4. Mioto gửi 
          strong Giấy chứng nhận bảo hiểm 
          | (bản cứng) đến chủ xe trong vòng 
          strong 2-3 ngày 
          | làm việc.