//- .year-insurance_sect(style="background-image: url(images/insurance/baner_yearinsurance.png)")
//-   .m-container.d-flex
//-     .insurance-partner
//-       p.lstitle ĐỐI TÁC BẢO HIỂM
//-       .partner-logo
//-         .partner-logo__image.mic
//-           img.img-fluid(src="images/homev2/mic.png")
//-         .partner-logo__image.pjico
//-           img.img-fluid(src="images/pjico.png")
//-     .insurance__sect
//-       h1 MUA BẢO HIỂM XE Ô TÔ ONLINE
//-       h3 PHÍ TỐT NHẤT CÙNG MIOTO!
//-       h6 Tiết kiệm từ 20-40%
//-       .register_btn
//-         a.btn.btn--m.btn-primary Đăng ký nhận báo giá
//-       .banner-img
//-         img.img-fluid(src="images/insurance/car_insurance.png")
.step-ins__sect
  .ex-container 
    .step-bar.d-flex
      .find-ins.active
        span 1
        span Tìm sản phẩm bảo hiểm
      .detail-ins  
        span 2
        span Thông tin sản phẩm
div
  .ins-detail__sect 
    .ex-container
      .ins-container 
        h4.textAlign-center BẢO HIỂM VẬT CHẤT XE Ô TÔ
        .title-ins
          h5 THÔNG TIN XE
          h5.car_company TOYOTA VIOS G 2020 - MT
        //- Full
        .box-car__detail 
          div
            .col-title 
              p Hãng xe 
            .col 
              .option
                img(src="images/insurance/cars_logo/audi.png")
                p Audi
              .option
                img(src="images/insurance/cars_logo/bmw.png")
                p BMW
              .option
                img(src="images/insurance/cars_logo/chevrolet.png")
                p Chevrolet
              .option
                img(src="images/insurance/cars_logo/ford.png")
                p Ford
              .option 
                img(src="images/insurance/cars_logo/kia.png")
                p Kia 
              .option 
                img(src="images/insurance/cars_logo/mazda.png")
                p Mazda
              .option 
                img(src="images/insurance/cars_logo/mercedes.png")
                p Mercedes 
              .option 
                img(src="images/insurance/cars_logo/mistubishi.png")
                p Mistubishi 
              .option.active
                img(src="images/insurance/cars_logo/toyota.png")
                p Toyota 
              .option 
                img(src="images/insurance/cars_logo/honda.png")
                p Honda
              .option 
                img(src="images/insurance/cars_logo/hyundai.png")
                p Huyndai
              //- .option.d-flex 
              //-   img(src="images/insurance/cars_logo/suzuki.png")
              //-   p Suzuki 
              .option
                img(src="images/insurance/cars_logo/vinfast.png")
                p Vinfast 
              .option.others
                p Hãng khác
          div
            .col-title 
              p Mẫu xe
            .col 
              .option.active
                p Toyota Vios
                include ../../../images/ic-svg/ic_green-minus.svg  
              .option.child
                p Vios 1.3 MT
              .option.child.active 
                p Vios 1.3 MT
              .option.child 
                p Vios 1.3 MT
              .option 
                p Toyota Vios 1.5E
                include ../../../images/ic-svg/ic_green-plus.svg  
              .option
                p Toyota Vios 1.5E
                include ../../../images/ic-svg/ic_green-plus.svg  
              .option 
                p Toyota Vios 1.5G
                include ../../../images/ic-svg/ic_green-plus.svg  
              .option 
                p Toyota Vios G 1.5 CVT
                include ../../../images/ic-svg/ic_green-plus.svg  
          .d-flex.year-mfg
            .col-title
              p.fontWeight-5 Năm sản xuất
            .col 
              .wrap-input.has-dropdown.time.wrap-select
                select
                  option(value='0', disabled='', selected='') 2021
                  option(value='1') 2020
                  option(value='2') 2019
                  option(value='3') 2018
                  option(value='4') 2017
          div
            .col-title 
              p Truyền động
            .col 
              .option-ins.marginBottom-xs
                i.ic.ic-black-circle.active
                p Số sàn (MT)
              .option-ins.marginBottom-xs
                i.ic.ic-black-circle
                p Số tự động (AT)
        //- 2 cột
        //- .box-car__info
        //-   .left 
        //-     div
        //-       .col-title 
        //-         p Hãng xe 
        //-       .col 
        //-         .option
        //-           img(src="images/insurance/cars_logo/audi.png")
        //-           p Audi
        //-         .option
        //-           img(src="images/insurance/cars_logo/bmw.png")
        //-           p BMW
        //-         .option
        //-           img(src="images/insurance/cars_logo/chevrolet.png")
        //-           p Chevrolet
        //-         .option
        //-           img(src="images/insurance/cars_logo/ford.png")
        //-           p Ford
        //-         .option 
        //-           img(src="images/insurance/cars_logo/kia.png")
        //-           p Kia 
        //-         .option 
        //-           img(src="images/insurance/cars_logo/mazda.png")
        //-           p Mazda
        //-         .option 
        //-           img(src="images/insurance/cars_logo/mercedes.png")
        //-           p Mercedes 
        //-         .option 
        //-           img(src="images/insurance/cars_logo/mistubishi.png")
        //-           p Mistubishi 
        //-         .option.active
        //-           img(src="images/insurance/cars_logo/toyota.png")
        //-           p Toyota 
        //-         .option 
        //-           img(src="images/insurance/cars_logo/honda.png")
        //-           p Honda
        //-         .option 
        //-           img(src="images/insurance/cars_logo/hyundai.png")
        //-           p Huyndai
        //-         //- .option.d-flex 
        //-         //-   img(src="images/insurance/cars_logo/suzuki.png")
        //-         //-   p Suzuki 
        //-         .option
        //-           img(src="images/insurance/cars_logo/vinfast.png")
        //-           p Vinfast 
        //-         .option.others
        //-           p Hãng khác
        //-     div
        //-       .col-title 
        //-         p Mẫu xe
        //-       .col 
        //-         .option.active
        //-           p Toyota Vios
        //-           include ../../../images/ic-svg/ic_green-minus.svg  
        //-         .option.child
        //-           p Vios 1.3 MT
        //-         .option.child.active 
        //-           p Vios 1.3 MT
        //-         .option.child 
        //-           p Vios 1.3 MT
        //-         .option 
        //-           p Toyota Vios 1.5E
        //-           include ../../../images/ic-svg/ic_green-plus.svg  
        //-         .option
        //-           p Toyota Vios 1.5E
        //-           include ../../../images/ic-svg/ic_green-plus.svg  
        //-         .option 
        //-           p Toyota Vios 1.5G
        //-           include ../../../images/ic-svg/ic_green-plus.svg  
        //-         .option 
        //-           p Toyota Vios G 1.5 CVT
        //-           include ../../../images/ic-svg/ic_green-plus.svg  
        //-     div
        //-       .col-title 
        //-         p Truyền động
        //-       .col 
        //-         .option-ins
        //-           i.ic.ic-black-circle.active
        //-           p Số sàn (MT)
        //-         .option-ins
        //-           i.ic.ic-black-circle
        //-           p Số tự động (AT)
        //-     //- .d-flex.year-mfg
        //-     //-   .col-title.marginBottom-xs
        //-     //-     p.fontWeight-5 Năm sản xuất
        //-     //-   .col 
        //-     //-     .wrap-input.has-dropdown.time.wrap-select
        //-     //-       select
        //-     //-         option(value='0', disabled='', selected='') 2021
        //-     //-         option(value='1') 2020
        //-     //-         option(value='2') 2019
        //-     //-         option(value='3') 2018
        //-     //-         option(value='4') 2017
        //-   .right.border-box
        //-     p Năm sản xuất
        //-     .mfg
        //-       a.year 2021
        //-       a.year.active 2020
        //-       a.year 2019
        //-       a.year 2018
        //-       a.year 2017
        //-       a.year 2016
        //-       a.year 2015
        //-       a.year 2014
        //-       a.year 2013
        //-       a.year 2012
        //-       a.year 2011
        //-       a.year 2010
        //-       a.year 2009
        //-       a.year 2008
        //-       a.year 2007
        //-       a.year 2006
        //-     .mfg-mobile
        //-       .wrap-input.has-dropdown.wrap-select
        //-         select
        //-           option(value='0', disabled='', selected='') 2021
        //-           option(value='1') 2020
        //-           option(value='2') 2019
        //-           option(value='3') 2018
        //-           option(value='4') 2017
        a.ins-question Không tìm thấy xe của bạn?
        .space.m
        .title-ins 
          h5 XUẤT XỨ
        .options
          .option-ins.box-50
            i.ic.ic-black-circle 
            p.ic-mr Xe lắp ráp trong nước (Việt Nam)
          .option-ins.box-50
            i.ic.ic-black-circle.active
            p.ic-mr Xe nhập khẩu
        .title-ins 
          h5.ic-mr NGÀY ĐĂNG KÝ LẦN ĐẦU 
          .tooltip 
            i.ic.ic-question-mark 
            .tooltip-text Bạn vui lòng xem thông tin tại góc trái bên dưới cavet xe
        .wrap-input.has-dropdown.date
          .react-bootstrap-daterangepicker-container
            span.value.placeholder 05 / 06 / 2018
        //- .wrap-input
        //-   span
        //-     | Chọn ngày
        //-     i.i-chevron-down
        .space.m
        .title-ins 
          h5 MỤC ĐÍCH SỬ DỤNG
        .options
          .option-ins.box-quarter
            i.ic.ic-black-circle.active 
            p Không kinh doanh
          .option-ins.box-quarter
            i.ic.ic-black-circle
            p Kinh doanh
          .option-ins.box-quarter
            i.ic.ic-black-circle
            p Chạy Grab
          .option-ins.box-quarter
            i.ic.ic-black-circle
            p Xe bán tải

        .title-ins 
          h5 ĐIỀU KHOẢN BỔ SUNG
        .options
          .squaredFour.have-label.option-ins.box-50
            input(type="checkbox")
            label.ic-mr(style="position: static; padding-left: 15px;") ĐK 002 - Mất cắp bộ phận
            .tooltip 
              i.ic.ic-question-mark 
              .tooltip-text Xe được bảo hiểm trong trường hợp mất cắp bộ phận. Giới hạn số lần mất trộm/cắp: 01 lần cho mỗi bộ phận, không quá 2 lần/năm (Mức khấu trừ: 20% tổn thất và tối thiểu 2.000.000 đồng/vụ, tùy số nào lớn hơn).
          .squaredFour.have-label.option-ins.box-50
            input(type="checkbox" checked)
            label.ic-mr(style="position: static; padding-left: 15px;") ĐK 004 - Không khấu hao phụ tùng
            .tooltip 
              i.ic.ic-question-mark 
              .tooltip-text Xe được thay mới bộ phận và không tính khấu hao.
          .squaredFour.have-label.option-ins.box-50
            input(type="checkbox" checked)
            label.ic-mr(style="position: static; padding-left: 15px;") ĐK 005 - Lựa chọn cơ sở sửa chữa
            .tooltip 
              i.ic.ic-question-mark 
              .tooltip-text Chủ xe được đăng ký lựa chọn sửa chữa tại các garage trong và ngoài danh sách garage liên kết của nhà bảo hiểm
          .squaredFour.have-label.option-ins.box-50
            input(type="checkbox" checked)
            label.ic-mr(style="position: static; padding-left: 15px;") ĐK 006 - Bảo hiểm thủy kích
            .tooltip 
              i.ic.ic-question-mark 
              .tooltip-text Xe được bảo hiểm động cơ trong trường hợp ngập nước (Mức khấu trừ tối thiểu 20% tổn thất và tối thiểu 3.000.000 đồng/vụ, tùy số nào lớn hơn). 
        .btn-center
          button.btn.btn--m.btn-primary BÁO PHÍ SẢN PHẨM BẢO HIỂM
  .ins-price__sect.fadein-ins
    .ex-container
      .ins-container 
        h4.textAlign-center CHỌN GÓI BẢO HIỂM
        h4.subtitle TOYOTA VIOS G 2020 - MT
        p.type-ins Không kinh doanh
        //- .ins-price 
        //-   .ins-menu
        //-   .group-1
        //-     h5.marginBottom-xs SỐ TIỀN BẢO HIỂM
        //-   .group-2 
        //-     h5.textAlign-center QUYỀN LỢI BẢO HIỂM
        //-   .list-price-1
        //-   .group-3
        //-     .box-sm
        //-       p.fontWeight-5 A.
        //-         br 
        //-         | BH THÂN VỎ
        //-     .box-lg 
        //-       .option-ins
        //-         i.ic.ic-black-circle.active
        //-         p
        //-           strong ĐK 001 
        //-           | - BH vật chất xe
        //-       p.cost Phí niêm yết
        //-       p.cost Chương trình giảm phí T7/2021
        //-   .group-4
        //-     .box-sm
        //-       p.fontWeight-5 B.
        //-         br
        //-         | ĐIỀU KHOẢN BỔ SUNG
        //-     .box-lg
        //-       .option-ins
        //-         i.ic.ic-black-circle
        //-         p
        //-           strong ĐK 002 
        //-           | - Mất cắp bộ phận
        //-       .option-ins
        //-         i.ic.ic-black-circle.active
        //-         p
        //-           strong ĐK 004 
        //-           | - Không khấu hao phụ tùng
        //-       .option-ins
        //-         i.ic.ic-black-circle.active
        //-         p
        //-           strong ĐK 005 
        //-           | - Lựa chọn cơ sở sửa chữa
        //-       .option-ins
        //-         i.ic.ic-black-circle.active
        //-         p
        //-           strong ĐK 006 
        //-           | - BH thuỷ kích 
        //-   .group-5
        //-     .box-sm 
        //-     .box-lg 
        //-       p.fontWeight-5 Tổng phí
        //-       p.fontWeight-5 Tổng phí (gồm 10% VAT)
        //-       p.cost CTKM T7/2021-Giảm phí bh thuỷ kích
        //-       p.cost CTKM T7/2021-Giảm trên tổng hoá đơn
        //-       p.price-total TỔNG PHÍ ĐÃ GIẢM (gồm 10% VAT)
        //-   .group-6
        //-     img.img-fluid.ic-mr(src="images/pjico.png")
        //-     h5 BẢO HIỂM PJICO
        //-   .group-7
        //-     .price-box
        //-       div.suggest
        //-         span Đề xuất
        //-         h6 Gói 1
        //-       .ins-quantity-sold
        //-         img(src='images/ic-svg/cart.svg')
        //-         span 50
        //-       h6 490,000,000
        //-       p.note (Phí BH thấp nhất)
        //-     .price-box
        //-       h6 Gói 2
        //-       .ins-quantity-sold
        //-         img(src='images/ic-svg/cart.svg')
        //-         span 50
        //-       h6 590,000,000
        //-       p.note.marginBottom-s (Số tiền BH cao nhất)
        //-   .group-8
        //-   .group-9
        //-     .price-box
        //-       p 4,800,000
        //-       p.cost 5,200,000
        //-       p -
        //-     .price-box
        //-       p 5,780,000
        //-       p.cost 6,280,000
        //-       p -
        //-   .group-10 
        //-     .price-box 
        //-       p.price-unselected 530,000
        //-       p Tặng kèm 
        //-       p Tặng kèm 
        //-       p 270,000
        //-     .price-box 
        //-       p 600,000
        //-       p Tặng kèm 
        //-       p Tặng kèm 
        //-       p 330,000
        //-   .group-11 
        //-     .price-box 
        //-       p.fontWeight-5 5,600,000
        //-       p.fontWeight-5 8,000,000 
        //-       p - 
        //-       p.text-danger.cost -250,000
        //-       p.price-total 7,000,000
        //-       button.btn.btn--s.btn-primary CHỌN MUA
        //-     .price-box 
        //-       p.fontWeight-5 6,710,000
        //-       p.fontWeight-5 9,000,000 
        //-       p - 
        //-       p.text-danger.cost -350,000
        //-       p.price-total 8,000,000
        //-       button.btn.btn--s.btn-primary CHỌN MUA
        //-   .list-price-2
        //-   .group-12
        //-     img.img-fluid.ic-mr(src="images/homev2/mic.png")
        //-     h5 BẢO HIỂM MIC
        //-   .group-13
        //-     .price-box
        //-       div.suggest
        //-         h6 Gói 1
        //-         span Đề xuất
        //-       .ins-quantity-sold
        //-         img(src='images/ic-svg/cart.svg')
        //-         span 50
        //-       h6 490,000,000
        //-       p.note (Phí BH thấp nhất)
        //-     .price-box
        //-       h6 Gói 2
        //-       .ins-quantity-sold
        //-         img(src='images/ic-svg/cart.svg')
        //-         span 50
        //-       h6 590,000,000
        //-       p.note (Số tiền BH cao nhất)
        //-   .group-14
        //-   .group-15
        //-     .price-box
        //-       p 4,800,000
        //-       p.cost 5,200,000
        //-       p.text-danger.cost -260,000
        //-     .price-box
        //-       p 5,780,000
        //-       p.cost 6,280,000
        //-       p.text-danger.cost -370,000
        //-   .group-16
        //-     .price-box 
        //-       p 530,000
        //-       p Tặng kèm 
        //-       p Tặng kèm 
        //-       p 270,000
        //-     .price-box 
        //-       p 600,000
        //-       p Tặng kèm 
        //-       p Tặng kèm 
        //-       p 330,000
        //-   .group-17
        //-     .price-box 
        //-       p.fontWeight-5 5,600,000
        //-       p.fontWeight-5 8,000,000 
        //-       p - 
        //-       p.text-danger.cost -250,000
        //-       p.price-total 7,000,000
        //-       button.btn.btn--s.btn-primary CHỌN MUA
        //-     .price-box 
        //-       p.price-title 6,710,000
        //-       p.fontWeight-5 9,000,000 
        //-       p - 
        //-       p.text-danger.cost -350,000
        //-       p.price-total 8,000,000
        //-       button.btn.btn--s.btn-primary CHỌN MUA
        //-   .group-18
        //-     p (Đơn vị tính: VNĐ)
        .ins-price-box
          .ins-price-container
            //- .d-flex
            .ins-price-title
              .unit
                p Đơn vị tính: VNĐ
              .title-1 
                h5 SỐ TIỀN BẢO HIỂM 
              .title-2 
                .benefit 
                  h5 QUYỀN LỢI BẢO HIỂM
                .rules 
                  .box-sm
                    p.tt-box A.
                      br 
                      | BH THÂN VỎ
                  .box-lg 
                    .option-ins
                      i.ic.ic-black-circle.active
                      p
                        strong ĐK 001 
                        | - Bảo hiểm vật chất xe
                    p.cost Phí niêm yết
                    //- p.cost Chương trình giảm phí T7/2021
                .rules 
                  .box-sm
                    p.tt-box B.
                      br
                      | ĐIỀU KHOẢN BỔ SUNG
                  .box-lg
                    .option-ins
                      i.ic.ic-black-circle
                      p
                        strong ĐK 002 
                        | - Mất cắp bộ phận
                    .option-ins
                      i.ic.ic-black-circle.active
                      p
                        strong ĐK 004 
                        | - Không khấu hao phụ tùng
                    .option-ins
                      i.ic.ic-black-circle.active
                      p
                        strong ĐK 005 
                        | - Lựa chọn cơ sở sửa chữa
                    .option-ins
                      i.ic.ic-black-circle.active
                      p
                        strong ĐK 006 
                        | - BH thuỷ kích 
                .total-price-ins 
                  .box-sm 
                  .box-lg
                    p.fontWeight-5 Tổng phí
                    p.fontWeight-5 Tổng phí (gồm 10% VAT)
                    p.cost CTKM T7/2021-Giảm phí BH thuỷ kích
                    p.cost CTKM T7/2021-Giảm trên tổng hoá đơn
                    p.price-total TỔNG PHÍ ĐÃ GIẢM (gồm 10% VAT)
            .ins-price-company
              .ins-company 
                img.img-fluid.ic-mr(src="images/pjico.png")
                h5 BẢO HIỂM PJICO
              .d-flex
                .package
                  div.suggest
                    span Đề xuất
                    h6 Gói 1
                  //- .ins-quantity-sold
                  //-   include ../../../images/ic-svg/cart.svg
                  //-   //- img(src='images/ic-svg/cart.svg')
                  //-   span 50
                  h6 490,000,000
                  p.note (Phí BH thấp nhất)
                  .line-bottom
                  .space.ins
                  .line-bottom
                  //- p.ins-space 4,800,000
                  p 4,800,000
                  p.cost 5,200,000
                  //- p -
                  .line-bottom 
                  p.price-unselected 530,000
                  p Tặng kèm 
                  p Tặng kèm 
                  p 270,000
                  .line-bottom 
                  p.fontWeight-5 5,600,000
                  p.fontWeight-5 8,000,000 
                  p - 
                  p.text-danger.cost -250,000
                  p.price-total 7,000,000
                  button.btn.btn--s.btn-primary CHỌN MUA
                .package
                  div.suggest
                    h6 Gói 2
                  //- .ins-quantity-sold
                  //-   include ../../../images/ic-svg/cart.svg
                  //-   //- img(src='images/ic-svg/cart.svg')
                  //-   span 50
                  h6 490,000,000
                  p.note (Số tiền BH cao nhất)
                  .line-bottom
                  .space.ins
                  .line-bottom
                  p 4,800,000
                  p.cost 5,200,000
                  //- p -
                  .line-bottom 
                  p.price-unselected 530,000
                  p Tặng kèm 
                  p Tặng kèm 
                  p 270,000
                  .line-bottom 
                  p.fontWeight-5 5,600,000
                  p.fontWeight-5 8,000,000 
                  p - 
                  p.text-danger.cost -250,000
                  p.price-total 7,000,000
                  button.btn.btn--s.btn-primary CHỌN MUA
            .ins-price-company
              .ins-company 
                img.img-fluid.ic-mr(src="images/homev2/mic.png")
                h5 BẢO HIỂM MIC
              .d-flex
                .package
                  div.suggest
                    span Đề xuất
                    h6 Gói 1
                  //- .ins-quantity-sold
                  //-   img(src='images/ic-svg/cart.svg')
                  //-   span 50
                  h6 490,000,000
                  p.note (Phí BH thấp nhất)
                  .line-bottom
                  .space.ins
                  .line-bottom
                  p 4,800,000
                  p.cost 5,200,000
                  //- p.cost.text-danger -260,000
                  .line-bottom 
                  p.price-unselected 530,000
                  p Tặng kèm 
                  p Tặng kèm 
                  p 270,000
                  .line-bottom 
                  p.fontWeight-5 5,600,000
                  p.fontWeight-5 8,000,000 
                  p - 
                  p.text-danger.cost -250,000
                  p.price-total 7,000,000
                  button.btn.btn--s.btn-primary CHỌN MUA
                .package
                  div.suggest
                    h6 Gói 2
                  //- .ins-quantity-sold
                  //-   img(src='images/ic-svg/cart.svg')
                  //-   span 50
                  h6 490,000,000
                  p.note (Số tiền BH cao nhất)
                  .line-bottom
                  .space.ins
                  .line-bottom
                  p 4,800,000
                  p.cost 5,200,000
                  //- p.cost.text-danger -260,000
                  .line-bottom 
                  p.price-unselected 530,000
                  p Tặng kèm 
                  p Tặng kèm 
                  p 270,000
                  .line-bottom 
                  p.fontWeight-5 5,600,000
                  p.fontWeight-5 8,000,00 
                  p - 
                  p.text-danger.cost -250,000
                  p.price-total 7,000,000
                  button.btn.btn--s.btn-primary CHỌN MUA
        a.ins-question Tôi cần tư vấn thêm
        .notice-form.notice-form-m
          h6.marginBottom-xs Chương trình tháng 7:
          p 1. Giảm 
            strong 22-40% 
            | phí bảo hiểm thân vỏ cho Xe không kinh doanh, xe bán tải & Xe chạy Grab
          p 2. Giảm 
            strong 30% 
            | phí bảo hiểm thuỷ kích 
          p 3. Giảm 
            strong 5-10% 
            | tổng hoá đơn
          p 3. Giảm 
            strong 40% 
            | khi mua kèm BH Trách nhiệm dân sự
          p 4. Tặng kèm voucher giảm giá 
            strong 250k 
            | (hạn dùng 3 tháng) khi thuê xe tự lái & có tài xế trên Mioto
        p Liên hệ Mioto tại 
          strong 
            a(href="tel:19009217") 1900 9217 
          | (9AM-9PM) hoặc inbox 
          a.link-fanpage Mioto Fanpage
          |  nếu bạn cần hỗ trợ&nbsp;!
