//- .year-insurance_sect(style="background-image: url(images/insurance/baner_yearinsurance.png)")
//-   .m-container.d-flex
//-     .insurance-partner
//-       p.lstitle ĐỐI TÁC BẢO HIỂM
//-       .partner-logo
//-         .partner-logo__image.mic
//-           img.img-fluid(src="images/homev2/mic.png")
//-         .partner-logo__image.pjico
//-           img.img-fluid(src="images/pjico.png")
//-     .insurance__sect
//-       h1 MUA BẢO HIỂM XE Ô TÔ ONLINE
//-       h3 PHÍ TỐT NHẤT CÙNG MIOTO!
//-       h6 Tiết kiệm từ 20-40%
//-       .register_btn
//-         a.btn.btn--m.btn-primary Đăng ký nhận báo giá
//-       .banner-img
//-         img.img-fluid(src="images/insurance/car_insurance.png")
.step-ins__sect
  .ex-container 
    .step-bar.d-flex
      .find-ins
        span 1
        span Tìm sản phẩm bảo hiểm
      .detail-ins.active
        span 2
        span Thông tin sản phẩm
.price-list__sect
  .ex-container
    .ins-container(style="padding-bottom: 40px")
      .options.btn-back-ins
        a(href='' title="Quay lại").btn-back-list 
          i.i-arr-left-dark
        p.marginLeft-ml Quay lại
      h4.textAlign-center BẢN CHÀO PHÍ BẢO HIỂM KẾT HỢP XE Ô TÔ
      .wrap-price-ins
        p.unit Đơn vị tính: VNĐ
        .price-container
          .bg-aqua
            div
              p.price-title LOẠI XE
              p Toyota Innova E
            div 
              p.price-title NĂM SẢN XUẤT
              p 2020
            div 
              p.price-title MỤC ĐÍCH SỬ DỤNG
              p Không kinh doanh
            div 
              p.price-title THỜI HẠN BẢO HIỂM
              p 12 tháng
            .line-white
            div 
              p.price-title NHÀ BẢO HIỂM
              .d-flex
                .logo-ins
                  img(src="images/homev2/mic.png")
                p.price-title Bảo hiểm quân đội MIC
            div 
              p.price-title SỐ TIỀN BẢO HIỂM
              p.price-title 530,000,000
          .bg-white
            div 
              h5 QUYỀN LỢI BẢO HIỂM 
              H5 PHÍ BH
            div 
              p
                strong ĐK 001 
                | - BH vật chất xe
              P 5,000,000
            div 
              p
                strong ĐK 002 
                | - Mất cắp bộ phận
              P 300,000
            div 
              p
                strong ĐK 004 
                | - Không khấu hao phụ tùng
              P Tặng kèm
            div 
              p
                strong ĐK 005 
                | - Lựa chọn cơ sở sửa chữa
              P Tặng kèm
            div 
              p
                strong ĐK 006 
                | - Bảo hiểm thuỷ kích
              P 340,000
            .line-gray 
            div
              p.price-title Tổng phí
              p.price-title 5,600,000
            div 
              p.price-title Tổng phí (gồm 10% VAT)
              p.price-title 8,000,000
            div 
              p.price-title CTKM T7/2021 - Giảm trên tổng hoá đơn
              p.price-title -250,000
            div 
              h5.text-primary TỔNG PHÍ ĐÃ GIẢM (gồm 10% VAT)
              h5.text-primary 7,000,000
        .option-ins
          i.ic.ic-black-circle
          p.fontWeight-5 Tôi muốn mua kèm bảo hiểm TNDS
        .option-ins
          i.ic.ic-black-circle.active
          p.fontWeight-5 Tôi muốn mua kèm bảo hiểm TNDS  
        .space.s
        .price-container
          .bg-white
            div
              .d-flex 
                img.img-fluid.logo-tnds(src="images/insurance/anonymous/pti.png")
                .price-tnds
                  p Phí bảo hiểm TNDS bắt buộc
                  h5.text-primary 500,000
                  p.line-through 800,000
              button.btn.btn-primary Xem chi tiết
    .end-container
      .wrap-price-ins
        .total-price
          div 
            p Tổng phí BH vật chất  xe ô tô
            p 7,000,000
          div 
            p Tổng phí BH TNDS bắt buộc
            p 500,000
          div 
            p Mã khuyến mãi
            a.coupon-ins Nhập mã khuyến mãi
          div 
            h5.text-primary TỔNG PHÍ
            h5.text-primary 7,000,000
        button.btn.btn-primary.btn--m.marginBottom-m  ĐẶT MUA SẢN PHẨM BẢO HIỂM
        button.btn.btn-info.btn--m TÔI CẦN TƯ VẤN THÊM
.explain__sect
  .ex-container
    .explain__header
      //- .bar-line
      h5 GIẢI THÍCH CÁC THUẬT NGỮ VÀ ĐIỀU KHOẢN
      //- .bar-line
    .ins-container.explain-container
      .explain-title.explain-ins.active
        .explain-title
          include ../../../images/ic-svg/explain-ins.svg
          h6 BẢO HIỂM VẬT CHẤT XE Ô TÔ
        i.i-chevron-down
      //- .line-gray
      .explain-ins.active 
        .explain-title
          h6 ĐK 001 - Bảo hiểm vật chất xe (khấu trừ 500,000 vnd/vụ)
          i.i-chevron-down
        p Bảo hiểm vật chất xe do đâm va, hỏa hoạn, cháy nổ và các rủi ro bất khả kháng do thiên tai, mất toàn bộ xe do trộm cướp, hành vi phá hoại của bên thứ ba…. Hỗ trợ chi phí cứu hộ và vận chuyển xe bị thiệt hại đến nơi sửa chữa gần nhất (không quá 10% số tiền bảo hiểm).
      //- .line-gray
      .explain-ins 
        .explain-title
          h6 ĐK 002 - Bảo hiểm mất cắp bộ phận
          i.i-chevron-down
      //- .line-gray
      .explain-ins 
        .explain-title
          h6 ĐK 004 - Bảo hiểm mới thay cũ
          i.i-chevron-down
      //- .line-gray
      .explain-ins 
        .explain-title
          h6 ĐK 005 - Bảo hiểm lựa chọn cơ sở sửa chữa 
          i.i-chevron-down
      //- .line-gray
      .explain-ins 
        .explain-title
          h6 ĐK 006 - Bảo hiểm thủy kích
          i.i-chevron-down
      //- .line-gray
      .explain-ins 
        .explain-title
          h6 Số tiền bảo hiểm
          i.i-chevron-down
      //- .line-gray
      .explain-ins 
        .explain-title
          h6 Mức khấu trừ
          i.i-chevron-down
    //- .explain-container
    //-   .box-explain 
    //-     p ĐK 001 - Bảo hiểm vật chất xe (khấu trừ 500,000 vnd/vụ)
    //-     p Bảo hiểm vật chất xe do đâm va, hỏa hoạn, cháy nổ và các rủi ro bất khả kháng do thiên tai, mất toàn bộ xe do trộm cướp, hành vi phá hoại của bên thứ ba…. Hỗ trợ chi phí cứu hộ và vận chuyển xe bị thiệt hại đến nơi sửa chữa gần nhất (không quá 10% số tiền bảo hiểm).
    //-   .box-explain 
    //-     p ĐK 002 - Bảo hiểm mất cắp bộ phận
    //-     p Xe được bảo hiểm trong trường hợp mất cắp bộ phận. Giới hạn số lần mất trộm/cắp: 01 lần cho mỗi bộ phận, không quá 2 lần/năm (Mức khấu trừ: 20% tổn thất và tối thiểu 2.000.000 đồng/vụ, tùy số nào lớn hơn).
    //-   .box-explain 
    //-     p ĐK 004 - Bảo hiểm mới thay cũ
    //-     p Xe được thay mới bộ phận và không tính khấu hao.
    //-   .box-explain 
    //-     p ĐK 005 - Bảo hiểm lựa chọn cơ sở sửa chữa 
    //-     p Chủ xe được đăng kí lựa chọn sửa chữa tại các garage nằm ngoài danh sách garage liên kết của nhà bảo hiểm.
    //-   .box-explain 
    //-     p ĐK 006 - Bảo hiểm thủy kích
    //-     p Xe được bảo hiểm động cơ trong trường hợp ngập nước (Mức khấu trừ tối thiểu 20% tổn thất và tối thiểu 3.000.000 đồng/vụ, tùy số nào lớn hơn). 
    //-   .box-explain 
    //-     p Số tiền bảo hiểm
    //-     p Là số tiền mà chủ xe yêu cầu nhà bảo hiểm bảo hiểm cho xe của mình và được ghi trên Giấy chứng nhận bảo hiểm.
    //-   .box-explain 
    //-     p Mức khấu trừ
    //-     p Là số tiền chủ xe tự chịu trong mỗi sự cố. Trường hợp số tiền tổn thất nhỏ hơn Mức khấu trừ, nhà bảo hiểm không phải bồi thường cho tổn thất đó.
    //-   .box-explain 
.payment__sect 
  .ex-container
    h5 PHƯƠNG THỨC THANH TOÁN
    .notice-form.notice-form-m
      p.fontWeight-5 Chuyển khoản qua tài khoản ngân hàng của Mioto:
      p NH Vietcombank-CN Kỳ Đồng: Số TK: 0721-0006-52087
      p Nội dung: Thanh toán tiền mua Bảo hiểm -Tên chủ xe-SDT
.insurance__guide
  .ex-container
    h6 QUY TRÌNH CẤP GIẤY CHỨNG NHẬN BẢO HIỂM
    .ins-procedure
      .step
        img(src="images/insurance/anonymous/process1.svg")
        p 1. Khách gửi yêu cầu và được Mioto tư vấn
      .step
        img(src="images/insurance/anonymous/process2.svg")
        p 2. Thanh toán
      .step 
        img(src="images/insurance/anonymous/process3.svg")
        p 3. Mioto gửi 
          strong Giấy chứng nhận bảo hiểm 
          | qua email đến chủ xe trong vòng 
          strong 1 ngày 
          | kể từ thời điểm thanh toán.
      .step 
        img(src="images/insurance/anonymous/process4.svg")
        p 4. Mioto gửi 
          strong Giấy chứng nhận bảo hiểm 
          | (bản cứng) đến chủ xe trong vòng 
          strong 2-3 ngày 
          | làm việc.
