- var infoCars = []
- infoCars.push({"src": "./images/insurance/cars_logo/audi.png", "nameCar": "Audi"})
- infoCars.push({"src": "./images/insurance/cars_logo/bmw.png", "nameCar": "Bmw"})
- infoCars.push({"src": "./images/insurance/cars_logo/chevrolet.png", "nameCar": "Chevrolet"})
- infoCars.push({"src": "./images/insurance/cars_logo/ford.png", "nameCar": "Ford"})
- infoCars.push({"src": "./images/insurance/cars_logo/honda.png", "nameCar": "Honda"})
- infoCars.push({"src": "./images/insurance/cars_logo/hyundai.png", "nameCar": "Hyundai"})
- infoCars.push({"src": "./images/insurance/cars_logo/kia.png", "nameCar": "Kia"})
- infoCars.push({"src": "./images/insurance/cars_logo/mazda.png", "nameCar": "Mazda"})
- infoCars.push({"src": "./images/insurance/cars_logo/mercedes.png", "nameCar": "Mercedes"})
- infoCars.push({"src": "./images/insurance/cars_logo/mistubishi.png", "nameCar": "Mistubishi"})
- infoCars.push({"src": "./images/insurance/cars_logo/suzuki.png", "nameCar": "Suzuki"})
- infoCars.push({"src": "./images/insurance/cars_logo/toyota.png", "nameCar": "Toyota"})
- infoCars.push({"src": "./images/insurance/cars_logo/vinfast.png", "nameCar": "Vinfast"})

- var cars = []
- cars.push({"id": "c1", "name": "Vios"})
- cars.push({"id": "c2", "name": "Innova"})
- cars.push({"id": "c3", "name": "Camry"})
- cars.push({"id": "c4", "name": "Fortuner"})
- cars.push({"id": "c5", "name": "Corolla Altis"})
- cars.push({"id": "c6", "name": "Yaris"})
- cars.push({"id": "c7", "name": "Hilux"})
- cars.push({"id": "c8", "name": "Land Cruiser"})

- var c1Cars = []
- c1Cars.push({"id": "c11","name": "Vios G"})
- c1Cars.push({"id": "c12","name": "Vios G CTV"})
- c1Cars.push({"id": "c13","name": "Vios E CTV"})
- c1Cars.push({"id": "c14","name": "Vios TRD"})

.ins-step
  .m-container
    .ins-step__select
      .step1.active
        span 1
        span Tìm sản phẩm bảo hiểm
      .step2
        span 2
        span Thông tin sản phẩm
.ins-infor
  .m-container 
    .ins-con
      h3 BẢO HIỂM VẬT CHẤT XE Ô TÔ
      .infor-car
        span THÔNG TIN XE
        span *
        include ../../../images/insurance/arrow.svg
        span TOYOTA VIOS G 2020 - MT
      .box-infor
        div
          .box-infor__title
            p Hãng xe
          .box-infor__options
            each item in infoCars
              .box-infor__options--opt
                img(src=item.src)
                p=item.nameCar
            .box-infor__options--opt.other
              p Hãng khác
        div 
          .box-infor__title 
            p Truyền động
          .box-infor__options
            .box-infor__options--two
              include ../../../images/insurance/ic-unselected.svg
              p Số sàn (MT)
            .box-infor__options--two
              include ../../../images/insurance/ic-selected.svg
              p Số tự động (AT)
        div
          .box-infor__title 
            p Mẫu xe
          .box-infor__options
            .box-infor__options--opt.parent
              p Vios
              img.plus-minus1(src="./images/ic-svg/ic_green-plus.svg")
              img.plus-minus1.disp-none(src="./images/ic-svg/ic_green-minus.svg")
              //include ../../../images/ic-svg/ic_green-plus.svg
            .box-infor__options--opt.child.child1.disp-none
              p Vios G
            .box-infor__options--opt.child.child1.disp-none
              p Vios G CTV
            .box-infor__options--opt.child.child1.disp-none
              p Vios E CTV
            .box-infor__options--opt.child.child1.disp-none
              p Vios TRD
            .box-infor__options--opt.parent
              p Innova
              img.plus-minus2(src="./images/ic-svg/ic_green-plus.svg")
              img.plus-minus2.disp-none(src="./images/ic-svg/ic_green-minus.svg")
              //include ../../../images/ic-svg/ic_green-plus.svg   
            .box-infor__options--opt.child.child2.disp-none
              p Innova J
            .box-infor__options--opt.child.child2.disp-none
              p Innova G
            .box-infor__options--opt.child.child2.disp-none
              p Innova V
            .box-infor__options--opt.child.child2.disp-none
              p Innova E 
            .box-infor__options--opt.parent
              p Camry
              img.plus-minus3(src="./images/ic-svg/ic_green-plus.svg")
              img.plus-minus3.disp-none(src="./images/ic-svg/ic_green-minus.svg")
              //include ../../../images/ic-svg/ic_green-plus.svg
            .box-infor__options--opt.child.child3.disp-none
              p Camry G
            .box-infor__options--opt.child.child3.disp-none
              p Camry Grande
            .box-infor__options--opt.child.child3.disp-none
              p Camry Gli
            .box-infor__options--opt.parent
              p Fortuner
              img.plus-minus4(src="./images/ic-svg/ic_green-plus.svg")
              img.plus-minus4.disp-none(src="./images/ic-svg/ic_green-minus.svg")
              //include ../../../images/ic-svg/ic_green-plus.svg
            .box-infor__options--opt.child.child4.disp-none
              p Fortuner G  
            .box-infor__options--opt.parent
              p Corolla Altis
              img.plus-minus5(src="./images/ic-svg/ic_green-plus.svg")
              img.plus-minus5.disp-none(src="./images/ic-svg/ic_green-minus.svg")
              //include ../../../images/ic-svg/ic_green-plus.svg
            .box-infor__options--opt.child.child5.disp-none
              p Corolla Altis G
            .box-infor__options--opt.child.child5.disp-none
              p Corolla Altis E
            .box-infor__options--opt.parent
              p Yaris
              img.plus-minus6(src="./images/ic-svg/ic_green-plus.svg")
              img.plus-minus6.disp-none(src="./images/ic-svg/ic_green-minus.svg")
              //include ../../../images/ic-svg/ic_green-plus.svg
            .box-infor__options--opt.child.child6.disp-none
              p Yaris G
            .box-infor__options--opt.child.child6.disp-none
              p Yaris E CTV  
            .box-infor__options--opt.parent
              p Hilux
              img.plus-minus7(src="./images/ic-svg/ic_green-plus.svg")
              img.plus-minus7.disp-none(src="./images/ic-svg/ic_green-minus.svg")
              //include ../../../images/ic-svg/ic_green-plus.svg
            .box-infor__options--opt.child.child7.disp-none
              p Hilux 4x2
            .box-infor__options--opt.child.child7.disp-none
              p Hilux 4x4
            .box-infor__options--opt.parent
              p Land Cruiser
              img.plus-minus8(src="./images/ic-svg/ic_green-plus.svg")
              img.plus-minus8.disp-none(src="./images/ic-svg/ic_green-minus.svg")
              //include ../../../images/ic-svg/ic_green-plus.svg  
            .box-infor__options--opt.child.child8.disp-none
              p Land Cruiser GX 
        div 
          .box-infor__title 
            p Năm sản xuất
          .box-infor__options
            .box-infor__options--select
              select
                option(value='0') 2021
                option(value='1') 2020
                option(value='2') 2019
                option(value='3') 2018
                option(value='4') 2017
      .ques-car          
        span Không tìm thấy xe của bạn 
        include ../../../images/insurance/arrow-question.svg
      .infor-car 
        span XUẤT XỨ
        span *
        include ../../../images/insurance/ques.svg
      .car-options
        .car-option.option-50
          include ../../../images/insurance/ic-selected.svg
          p Xe lắp ráp trong nước (Việt Nam)
        .car-option.option-50
          include ../../../images/insurance/ic-unselected.svg
          p Xe nhập khẩu
      .infor-car 
        span NGÀY ĐĂNG KÝ LẦN ĐẦU
        span *
        include ../../../images/insurance/ques.svg
      .date-register
        span 30/03/2022
      .infor-car 
        span MỤC ĐÍCH SỬ DỤNG
        span *
        include ../../../images/insurance/ques.svg
      .car-options
        .car-option.option-25
          include ../../../images/insurance/ic-selected.svg
          p Không kinh doanh
        .car-option.option-25
          include ../../../images/insurance/ic-unselected.svg
          p Kinh doanh
        .car-option.option-25
          include ../../../images/insurance/ic-unselected.svg
          p Chạy Grab
        .car-option.option-25
          include ../../../images/insurance/ic-unselected.svg
          p Xe bán tải
      .infor-car 
        span ĐIỀU KHOẢN BỔ SUNG
        span *
      .car-options
        .car-option.option-50
          include ../../../images/insurance/ic-unselected.svg
          p ĐK 002 - Mất cắp bộ phận
          include ../../../images/insurance/ques.svg
        .car-option.option-50
          include ../../../images/insurance/ic-selected.svg
          p ĐK 004 - Không khấu hao phụ tùng
          include ../../../images/insurance/ques.svg
        .car-option.option-50
          include ../../../images/insurance/ic-selected.svg
          p ĐK 005 - Lựa chọn cơ sở sửa chữa
          include ../../../images/insurance/ques.svg
        .car-option.option-50
          include ../../../images/insurance/ic-selected.svg
          p ĐK 006 - Bảo hiểm thủy kích
          include ../../../images/insurance/ques.svg
      .btn-center
        button.btn.btn--m.btn-primary BÁO PHÍ SẢN PHẨM BẢO HIỂM
.ins-infor
  .m-container 
    .ins-con 
      h4 TOYOTA VIOS G 2020 - MT
      p.no-buss Không kinh doanh
      .ins-value-con
        .ins-value 
          .ins-value-title
            .currency
              p Đơn vị tính: VNĐ
            .ins-money 
              p SỐ TIỀN BẢO HIỂM
            .ins-benefit
              .ben
                p QUYỀN LỢI BẢO HIỂM
              .white-line
              .ben-rule
                .ben-rule__title
                  p A. 
                    br
                    | BẢO HIỂM THÂN VỎ
                .ben-rule__options
                  .rule-option
                    include ../../../images/insurance/ic-selected.svg
                    p
                      strong ĐK 001 
                      | - BH vật chất xe
                  p.rule-note Phí niêm yết
                  p.rule-note Chương trình giảm phí T7/2021
              .white-line
              .ben-rule
                .ben-rule__title
                  p B. 
                    br
                    | ĐIỀU KHOẢN BỔ SUNG
                .ben-rule__options
                  .rule-option
                    include ../../../images/insurance/ic-unselected.svg
                    p
                      strong ĐK 002 
                      | - Mất cắp bộ phận
                  .rule-option
                    include ../../../images/insurance/ic-selected.svg
                    p
                      strong ĐK 004 
                      | - Không khấu hao phụ tùng
                  .rule-option
                    include ../../../images/insurance/ic-selected.svg
                    p
                      strong ĐK 005 
                      | - Lựa chọn cơ sở sửa chữa
                  .rule-option
                    include ../../../images/insurance/ic-selected.svg
                    p
                      strong ĐK 006 
                      | - Bảo hiểm thủy kích
              .white-line
              .ins-total 
                .ben-rule__title
                .ben-rule__options
                  p.fee-total Tổng phí
                  p.fee-total Tổng phí (gồm 10% VAT)
                  p.promotions CTKM T7/2021-Giảm phí BH thuỷ kích
                  p.promotions CTKM T7/2021-Giảm trên tổng hoá đơn
                  p.value-total TỔNG PHÍ ĐÃ GIẢM (gồm 10% VAT)
          .ins-value-partner
            .ins-partner 
              img(src="./images/pjico.png")
              p BẢO HIỂM PJICO
            .ins-two-options
              .ins-option
                .ins-option-money
                  .package1
                    p  Gói 1
                    span Đề xuất
                  .cart
                    include ../../../images/ic-svg/cart.svg
                    span 10
                  p.price-money 490,000,000
                  p.note-money (Phí BH thấp nhất)
                .gray-line
                .ins-option-benefit
                .gray-line 
                .ins-option-ben-rule
                  p.ins-option-rule 4,800,000
                  p.ins-option-rule-note 5,200,000
                  p.ins-option-rule-note ---
                .gray-line 
                .ins-option-ben-rule
                  p.ins-option-rule.gray-text 530,000
                  p.ins-option-rule Tặng kèm
                  p.ins-option-rule Tặng kèm
                  p.ins-option-rule 270,000
                .gray-line 
                .ins-option-total 
                  p.ins-option-fee-total 5,600,000
                  p.ins-option-fee-total 8,000,000
                  p.ins-option-promotions ---
                  p.ins-option-promotions.red-text -250,000
                  p.ins-option-value-total 7,000,000
                  .buy-btn 
                    button CHỌN MUA
              .ins-option
                .ins-option-money
                  .package1
                    p  Gói 2
                  .cart
                    include ../../../images/ic-svg/cart.svg
                    span 5
                  p.price-money 590,000,000
                  p.note-money (Phí BH thấp nhất)
                .gray-line
                .ins-option-benefit
                .gray-line 
                .ins-option-ben-rule
                  p.ins-option-rule 5,780,000
                  p.ins-option-rule-note 6,280,000
                  p.ins-option-rule-note ---
                .gray-line 
                .ins-option-ben-rule
                  p.ins-option-rule.gray-text 600,000
                  p.ins-option-rule Tặng kèm
                  p.ins-option-rule Tặng kèm
                  p.ins-option-rule 330,000
                .gray-line 
                .ins-option-total 
                  p.ins-option-fee-total 6,710,000
                  p.ins-option-fee-total 9,000,000
                  p.ins-option-promotions ---
                  p.ins-option-promotions.red-text -350,000
                  p.ins-option-value-total 8,000,000
                  .buy-btn 
                    button CHỌN MUA
          .ins-value-partner
            .ins-partner 
              img(src="./images/homev2/mic.png")
              p BẢO HIỂM MIC
            .ins-two-options
              .ins-option
                .ins-option-money
                  .package1
                    p  Gói 1
                    span Đề xuất
                  .cart
                    include ../../../images/ic-svg/cart.svg
                    span 10
                  p.price-money 470,000,000
                  p.note-money (Phí BH thấp nhất)
                .gray-line
                .ins-option-benefit
                .gray-line 
                .ins-option-ben-rule
                  p.ins-option-rule 5,340,000
                  p.ins-option-rule-note 5,600,000
                  p.ins-option-rule-note.red-text - 260,000
                .gray-line 
                .ins-option-ben-rule
                  p.ins-option-rule.gray-text Không hỗ trợ
                  p.ins-option-rule Không hỗ trợ
                  p.ins-option-rule Không hỗ trợ
                  p.ins-option-rule Không hỗ trợ
                .gray-line 
                .ins-option-total 
                  p.ins-option-fee-total 5,940,000
                  p.ins-option-fee-total 8,000,000
                  p.ins-option-promotions ---
                  p.ins-option-promotions.red-text -250,000
                  p.ins-option-value-total 7,000,000
                  .buy-btn 
                    button CHỌN MUA
              .ins-option
                .ins-option-money
                  .package1
                    p  Gói 2
                  .cart
                    include ../../../images/ic-svg/cart.svg
                    span 5
                  p.price-money 600,000,000
                  p.note-money (Phí BH thấp nhất)
                .gray-line
                .ins-option-benefit
                .gray-line 
                .ins-option-ben-rule
                  p.ins-option-rule 6,430,000
                  p.ins-option-rule-note 6,700,000
                  p.ins-option-rule-note.red-text - 370,000
                .gray-line 
                .ins-option-ben-rule
                  p.ins-option-rule.gray-text Không hỗ trợ
                  p.ins-option-rule Không hỗ trợ
                  p.ins-option-rule Không hỗ trợ
                  p.ins-option-rule Không hỗ trợ
                .gray-line 
                .ins-option-total 
                  p.ins-option-fee-total 6,940,000
                  p.ins-option-fee-total 9,000,000
                  p.ins-option-promotions ---
                  p.ins-option-promotions.red-text -350,000
                  p.ins-option-value-total 8,000,000
                  .buy-btn 
                    button CHỌN MUA





      .ques-car          
        span Tôi cần tư vấn thêm 
        include ../../../images/insurance/arrow-question.svg
      .note-form
        h5 Chương trình tháng 7:
        p 1. Giảm 
          strong 22-40% 
          | phí bảo hiểm thân vỏ cho Xe không kinh doanh, xe bán tải & Xe chạy Grab
        p 2. Giảm 
          strong 30% 
          | phí bảo hiểm thuỷ kích 
        p 3. Giảm 
          strong 5-10% 
          | tổng hoá đơn
        p 4. Giảm 
          strong 40% 
          | khi mua kèm BH Trách nhiệm dân sự
        p 5. Tặng kèm voucher giảm giá 
          strong 250k 
          | (hạn dùng 3 tháng) khi thuê xe tự lái & có tài xế trên Mioto
      p.contact Liên hệ Mioto tại 
        strong
          a(href="tel:19009217") 1900 9217 
        | (9AM-9PM) hoặc inbox 
        a.fanpage Mioto Fanpage
        |  nếu bạn cần hỗ trợ !






