- var vehicletypes = []
- vehicletypes.push({'status':'','thumbnail':'images/vehicle-type/4 chỗ (sedan-4 cửa).png', 'description':'4-5 chỗ','subdesc':'( sedan )', 'quantity':'(15 xe)'})
- vehicletypes.push({'status':'','thumbnail':'images/vehicle-type/7 chỗ (gầm cao).png', 'description':'7 chỗ','subdesc':'(gầm cao)', 'quantity':'(420 xe)'})
- vehicletypes.push({'status':'','thumbnail':'images/vehicle-type/bán tải.png', 'description':'Bán tải', 'quantity':'(42 xe)'})
.step-ins__sect
  .ex-container 
    .step-bar.d-flex
      .find-ins.active
        span 1
        span Tìm sản phẩm bảo hiểm
      .detail-ins  
        span 2
        span Thông tin sản phẩm
div
  .ins-detail__sect 
    .ex-container
      .ins-container 
        h4.textAlign-center BẢO HIỂM TRÁCH NHIỆM DÂN&nbsp;SỰ BẮT&nbsp;BUỘC
        .title-ins
          h5 MỤC ĐÍCH SỬ DỤNG
        .options
          .option-ins.box-quarter
            i.ic.ic-black-circle.active 
            p Không kinh doanh
          .option-ins.box-quarter
            i.ic.ic-black-circle
            p Kinh doanh
        .title-ins
          h5 LOẠI XE
        .vehicle-type.has-tnds
          each item, index in vehicletypes
            div(class=item.status + 'squaredFour have-label')
              input(type="radio" name="filter-car-type" id=`radio-${index}`)
              label(for=`radio-${index}` class="description")
                .thumbnail
                  img(src= item.thumbnail alt="image" class="img-fluid")
                span!= item.description
        .title-ins
          h5 ĐIỀU KHOẢN BỔ SUNG 
        .options
          p.sub-title Bảo hiểm người ngồi trên xe 
          .options.box-half
            .option-ins.box-quarter
              i.ic.ic-black-circle.active 
              p Có
            .option-ins.box-quarter
              i.ic.ic-black-circle
              p Không
        .btn-center
          button.btn.btn--m.btn-primary BÁO PHÍ SẢN PHẨM BẢO HIỂM
  .ins-price__sect 
    .ex-container
      .ins-container 
        h4 XE 4 - 5 CHỖ
        p.type-ins Không kinh doanh
        .ins-price-box
          .ins-price-extra
            //- .d-flex
            .ins-price-title
              .unit
                p Đơn vị tính: VNĐ
              .title-2 
                .benefit 
                  h6 QUYỀN LỢI BẢO HIỂM
                .rules 
                  .box-m
                    p.fontWeight-5 A. BH TNDS BẮT BUỘC
                  .box-l
                    .option-ins
                      i.ic.ic-black-circle.active
                      p
                        strong Bảo hiểm trách nhiệm cho bên thứ 3 
                      .tooltip 
                        i.ic.ic-question-mark 
                        .tooltip-text Nhà bảo hiểm thay mặt chủ xe bồi thường các tổn thất về người và tài sản cho bên thứ ba (bên bị thiệt hai do xe của chủ xe gây ra).
                          br
                          | Về người: tối đa 150 triệu đồng/người /vụ.
                          br
                          | Về tài sản: theo tổn thất thực tế, tối đa 100.000.000đ.
                .rules 
                  .box-m
                    p.fontWeight-5 B. ĐIỀU KHOẢN BỔ SUNG
                  .box-l
                    .option-ins
                      i.ic.ic-black-circle
                      p
                        strong Bảo hiểm người ngồi trên xe
                      .tooltip 
                        i.ic.ic-question-mark 
                        .tooltip-text Nhà bảo hiểm bồi thường thiệt hại về thân thể đối với lái xe và người được chở trên xe với điều kiện những người này bị tai nạn khi đang ở trên xe, lên xuống xe trong quá trình xe ô tô đang tham gia giao thông. Mức trách nhiệm 10 triệu đồng/người/vụ.
                .total-price-ins 
                  .box-m
                  .box-l
                    p.fontWeight-5 Tổng phí
                    p.fontWeight-5 Tổng phí (gồm 10% VAT)
                    p.cost CTKM T7/2021-Giảm trên tổng hoá đơn
                    p.price-total TỔNG PHÍ ĐÃ GIẢM (gồm 10% VAT)
            .ins-price-company
              .ins-company 
                img.img-fluid.ic-mr(src="images/insurance/anonymous/pti.png")
                h6 BẢO HIỂM PTI
              .d-flex
                .package(style='width: 100%')
                  //- h6 150,000,000 VND
                  //- p /người/vụ
                  //- .line-bottom
                  .space.ins-tnds
                  .line-bottom
                  p.price-extra 500,000
                  .line-bottom 
                  p.price-unselected 50,000
                  .line-bottom 
                  p.fontWeight-5 550,000
                  p.fontWeight-5 570,000 
                  p.text-danger.cost -100,000
                  p.price-total 7,000,000
                  .btn.btn--s.btn-primary CHỌN MUA
        p Liên hệ Mioto tại 
          strong 
            a(href="tel:19009217") 1900 9217 
          | (9AM-9PM) hoặc inbox 
          a.link-fanpage Mioto Fanpage
          |  nếu bạn cần hỗ trợ&nbsp;!