.step-ins__sect
  .ex-container 
    .step-bar.d-flex
      .find-ins
        span 1
        span Tìm sản phẩm bảo hiểm
      .detail-ins.active
        span 2
        span Thông tin sản phẩm
.price-list__sect
  .ex-container
    .ins-container(style="padding-bottom: 40px")
      .options.btn-back-ins
        a(href='' title="Quay lại").btn-back-list 
          i.i-arr-left-dark
        p.marginLeft-ml Quay lại
      h4.textAlign-center BẢN CHÀO PHÍ BẢO HIỂM KẾT HỢP XE Ô TÔ
      .wrap-price-ins
        p.unit Đơn vị tính: VNĐ
        .price-container
          .bg-aqua
            div
              p.price-title LOẠI XE
              p 4-5 chỗ
            div 
              p.price-title MỤC ĐÍCH SỬ DỤNG
              p Không kinh doanh
            div 
              p.price-title THỜI HẠN BẢO HIỂM
              p 12 tháng
            .line-white
            div 
              p.price-title NHÀ BẢO HIỂM
              .d-flex
                .logo-ins.d-flex
                  img(src="images/insurance/anonymous/pti.png")
                p.price-title Bảo hiểm PTI
            div 
              p.price-title SỐ TIỀN BẢO HIỂM
              p.price-title 530,000,000
          .bg-white
            div 
              h5 QUYỀN LỢI BẢO HIỂM 
              H5 PHÍ BH
            div 
              p
                strong Bảo hiểm trách nhiệm cho bên thứ 3
              P 5,000,000
            div 
              p
                strong Bảo hiểm người ngồi trên xe
              p 50,000
            .line-gray 
            div
              p.price-title Tổng phí
              p.price-title 5,600,000
            div 
              p.price-title Tổng phí (gồm 10% VAT)
              p.price-title 8,000,000
            div 
              p.price-title CTKM T7/2021 - Giảm trên tổng hoá đơn
              p.price-title -250,000
            div 
              h5.text-primary TỔNG PHÍ ĐÃ GIẢM (gồm 10% VAT)
              h5.text-primary 7,000,000
        //- .space.s
    .end-container
      .wrap-price-ins
        .total-price
          div 
            p Tổng phí BH TNDS bắt buộc
            p 7,000,000
          div 
            h5.text-primary TỔNG PHÍ
            h5.text-primary 7,000,000
        button.btn.btn-primary.btn--m.marginBottom-m  ĐẶT MUA SẢN PHẨM BẢO HIỂM
        button.btn.btn-info.btn--m TÔI CẦN TƯ VẤN THÊM
.explain__sect
  .ex-container
    .explain__header
      h5 GIẢI THÍCH CÁC THUẬT NGỮ VÀ ĐIỀU&nbsp;KHOẢN
    .ins-container.explain-container
      .explain-title.explain-ins.active
        .explain-title
          include ../../../images/ic-svg/explain-ins.svg
          h6 BẢO HIỂM TNDS BẮT BUỘC
        i.i-chevron-down
      .explain-ins.active 
        .explain-title
          h6 Bảo hiểm TNDS bắt buộc 
          i.i-chevron-down
        p Nhà bảo hiểm thay mặt chủ xe bồi thường các tổn thất về người và tài sản cho bên thứ ba (bên bị thiệt hai do xe của chủ xe gây ra).
          br
          | Về người: tối đa 150 triệu đồng/người /vụ.
          br
          | Về tài sản: theo tổn thất thực tế, tối đa 100 triệu đồng/vụ.
      .explain-ins.active 
        .explain-title
          h6 Bảo hiểm người ngồi trên xe
          i.i-chevron-down
        p Nhà bảo hiểm bồi thường thiệt hại về thân thể đối với lái xe và người được chở trên xe với điều kiện những người này bị tai nạn khi đang ở trên xe, lên xuống xe trong quá trình xe ô tô đang tham gia giao thông. Mức trách nhiệm 10 triệu đồng/người/vụ.
.payment__sect 
  .ex-container
    h5 PHƯƠNG THỨC THANH TOÁN
    .notice-form.notice-form-m
      p.fontWeight-5 Chuyển khoản qua tài khoản ngân hàng của Mioto:
      p NH Vietcombank-CN Kỳ Đồng: Số TK: 0721-0006-52087
      p Nội dung: Thanh toán tiền mua Bảo hiểm -Tên chủ xe-SDT
.insurance__guide
  .ex-container
    h6 QUY TRÌNH CẤP GIẤY CHỨNG&nbsp;NHẬN BẢO&nbsp;HIỂM
    .ins-procedure
      .step.step-tnds
        img(src="images/insurance/anonymous/process1.svg")
        p 1. Khách gửi yêu cầu và được Mioto tư vấn
      .step.step-tnds
        img(src="images/insurance/anonymous/process2.svg")
        p 2. Thanh toán
      .step.step-tnds 
        img(src="images/insurance/anonymous/process3.svg")
        p 3. Mioto gửi 
          strong Giấy chứng nhận bảo hiểm 
          | qua email đến chủ xe trong vòng 
          strong 10 phút 
          | kể từ thời điểm thanh toán.

