block FAQs 

- var listMenu = []
- listMenu.push({'title': 'Dành cho chủ xe', 'clg': 'active', 'link': 'owner'})
- listMenu.push({'title': 'Dành cho khách xe', 'clg': '', 'link': 'customer'})

- var qaList = [] 
- qaList.push({'ques': 'Xe tôi mua năm 2006 có được đăng lên không?','status': 'active', 'answer': `<p>Để đảm bảo an toàn và chất lượng xe cho khách thuê, Mioto đang hỗ trợ tư vấn và duyệt các xe sản xuất từ năm 2005 trở lên.</p><p>Các chủ xe đảm bảo xe của mình đáp ứng đủ điều kiện an toàn cho khách thuê cũng như có đầy đủ các giấy tờ xe hợp pháp (cà vẹt xe hoặc giấy lưu hành xe (nếu xe thế chấp ngân hàng), giấy đăng kiểm, bảo hiểm xe).</p><p>Ngoài ra, các chủ xe cũng cần đảm bảo tuyệt đối xe cho thuê đúng với hình ảnh và thông tin đăng kí trên ứng dụng Mioto để giữ uy tín với khách hàng.</p><p>Tất cả các trường hợp có báo cáo vi phạm từ phía khách thuê về việc xe cho thuê không đúng với hình ảnh và thông tin đăng kí trên Mioto, ban quản lí ứng dụng sẽ tiến hành xác minh và xem xét gỡ bỏ đăng kí xe khỏi hệ thống.</p>`})
- qaList.push({'ques': 'Xe tôi giấy tờ thế chấp ngân hàng thì có được không ?','status': '', 'answer': ''})
- qaList.push({'ques': 'Tôi có thể lấy hình ảnh xe khác để đăng lên không?','status': '', 'answer': ''})

- var listFAQ = []
- listFAQ.push({'ic': 'ict-faqs ict-register-car', 'thumbnailURL': 'images/ic-faqs/owner/A-register-car.png', 'title': 'A. Đăng xe','list': [{'subhead' : '1. Hướng dẫn chung', 'content' : qaList}, '2. Thủ tục cho thuê xe', '3. Tính năng đặt xe nhanh', '4. Giao nhận xe', '5. Thông tin xe đăng ký', '6. Phí vận hành']})
- listFAQ.push({'ic': 'ict-faqs ict-management', 'thumbnailURL': 'images/ic-faqs/owner/B-manage-car.png', 'title': 'B. Quản lí xe trên Mioto','list': ['1. Quản lý lịch bận', '2. Duyệt yêu cầu thuê xe']})
- listFAQ.push({'ic': 'ict-faqs ict-pickup', 'thumbnailURL': 'images/ic-faqs/owner/C-pickup.png', 'title': 'C. Giao và nhận xe','list': ['1. Giấy tờ, thủ tục thuê xe', '2. Đánh giá sau chuyến đi']})
- listFAQ.push({'ic': 'ict-faqs ict-canceltrip', 'thumbnailURL': 'images/ic-faqs/owner/D-change-trip.png', 'title': 'D. Thay đổi lịch trình - hủy chuyến','list': ['1. Chủ xe hủy chuyến', '2. Khách thuê hủy chuyến']})
- listFAQ.push({'ic': 'ict-faqs ict-insurance', 'thumbnailURL': 'images/ic-faqs/owner/E-insurance.png', 'title': 'E. Quản lí rủi ro','list': ['1. Xử lí sự cố', '2. Gói bảo hiểm chuyến đi']})
- listFAQ.push({'ic': 'ict-faqs ict-question-more', 'thumbnailURL': 'images/ic-faqs/owner/F-custom-question.png', 'title': 'F. Câu hỏi khác','list': ['1. Xếp hạng xe trên ứng dụng', '2. Tính năng GPS', '3. Dịch vụ thuê xe tài xế', '4. Chương trình giới thiệu chủ xe mới', ' 5. Thành phố hoạt động']})

mixin qalist(listitem)
	.qa-list
		div(class='ques '+listitem.status)
			p.ques-content
				i.ic.ic-black-plus
				span!= listitem.ques
		if listitem.answer !== ""
			div.answer!= listitem.answer

.faqsv2-search__sect(style='background-image: url(images/background/bg-faqs.jpg);')
.body-container
	.faqsv2__sect 
		.sidebar.full-size
			.sidebar_content 
				ul 
					each item in listMenu
						li
							a(href='#'+item.link class=item.clg) #{item.title}
		.content
			.content-faqsv2
				h3#owner DÀNH CHO CHỦ XE
				.list-faqv2__wrap
					mixin list-faq(item)
						.faqsv2-box
							img(class="faqsv2-image" src=item.thumbnailURL alt="image")
							h6!= item.title
							.list-faqv2
								ul 
									each val in item.list 
										li.item
											if (typeof(val.subhead) !== 'undefined')
												a(href="" class="subhead")= val.subhead
												.qa-box
													for listItem in qaList
														+qalist(listItem)
											else
												a(href="" class="subhead")= val 

					for item in listFAQ
						+list-faq(item)

.faqs-footer
	img(src="images/background/bg-faqs.png" class="img-fluid")

