block FAQs 

- var listMenu = []
- listMenu.push({'title': 'Dành cho chủ xe', 'clg': 'active', 'link': 'owner'})
- listMenu.push({'title': 'Dành cho khách xe', 'clg': '', 'link': 'customer'})

- var listFAQ = []
- listFAQ.push({'ic': 'ict-faqs ict-register-car', 'thumbnailURL': 'images/ic-faqs/owner/A-register-car.png' ,'alt': 'A-register-car', 'title': 'A. Đăng xe','list': ['1. Hướng dẫn chung', '2. Thủ tục cho thuê xe', '3. Tính năng đặt xe nhanh', '4. Giao nhận xe', '5. Thông tin xe đăng ký', '6. Phí vận hành']})
- listFAQ.push({'ic': 'ict-faqs ict-management', 'thumbnailURL': 'images/ic-faqs/owner/B-manage-car.png','alt': 'B-manage-car' , 'title': 'B. Quản lí xe trên Mioto','list': ['1. Quản lý lịch bận', '2. Duyệt yêu cầu thuê xe']})
- listFAQ.push({'ic': 'ict-faqs ict-pickup', 'thumbnailURL': 'images/ic-faqs/owner/C-pickup.png','alt': 'C-pickup', 'title': 'C. Giao và nhận xe','list': ['1. Giấy tờ, thủ tục thuê xe', '2. Đánh giá sau chuyến đi']})
- listFAQ.push({'ic': 'ict-faqs ict-canceltrip', 'thumbnailURL': 'images/ic-faqs/owner/D-change-trip.png','alt': 'D-change-trip', 'title': 'D. Thay đổi lịch trình - hủy chuyến','list': ['1. Chủ xe hủy chuyến', '2. Khách thuê hủy chuyến']})
- listFAQ.push({'ic': 'ict-faqs ict-insurance', 'thumbnailURL': 'images/ic-faqs/owner/E-insurance.png','alt': '/E-insurance','title': 'E. Quản lí rủi ro','list': ['1. Xử lí sự cố', '2. Gói bảo hiểm chuyến đi']})
- listFAQ.push({'ic': 'ict-faqs ict-question-more', 'thumbnailURL': 'images/ic-faqs/owner/F-custom-question.png','alt': 'F-custom-question','title': 'F. Câu hỏi khác','list': ['1. Xếp hạng xe trên ứng dụng', '2. Tính năng GPS', '3. Dịch vụ thuê xe tài xế', '4. Chương trình giới thiệu chủ xe mới', ' 5. Thành phố hoạt động']})

.faqs-search__sect(style='background-image: url(images/background/bg-faqs.jpg);')
.body-container
	.faqs__sect 
		.sidebar.full-size
			.sidebar_content 
				ul 
					each item in listMenu
						li
							a(href='#'+item.link class=item.clg) #{item.title}
		.content
			.content-faqs
				h3#owner DÀNH CHO CHỦ XE
				.list-faq__wrap
					mixin list-faq(item)
						.faqs-box
							//- i(class=item.ic)
							img(class="faqs-image img-fluid" src=item.thumbnailURL alt=item.alt)
							h6!= item.title
							.list-faq 
								ul 
									each val in item.list 
										li.item
											a(href="")= val 	
					for item in listFAQ
						+list-faq(item)
.faqs-footer
	img(src="images/background/bg-faqs.png" class="img-fluid")

