block FAQs

- var qaList = [] 
- qaList.push({'ques': 'Xe tôi mua năm 2006 có được đăng lên không?','status': 'active', 'answer': `<p>Để đảm bảo an toàn và chất lượng xe cho khách thuê, Mioto đang hỗ trợ tư vấn và duyệt các xe sản xuất từ năm 2005 trở lên.</p><p>Các chủ xe đảm bảo xe của mình đáp ứng đủ điều kiện an toàn cho khách thuê cũng như có đầy đủ các giấy tờ xe hợp pháp (cà vẹt xe hoặc giấy lưu hành xe (nếu xe thế chấp ngân hàng), giấy đăng kiểm, bảo hiểm xe).</p><p>Ngoài ra, các chủ xe cũng cần đảm bảo tuyệt đối xe cho thuê đúng với hình ảnh và thông tin đăng kí trên ứng dụng Mioto để giữ uy tín với khách hàng.</p><p>Tất cả các trường hợp có báo cáo vi phạm từ phía khách thuê về việc xe cho thuê không đúng với hình ảnh và thông tin đăng kí trên Mioto, ban quản lí ứng dụng sẽ tiến hành xác minh và xem xét gỡ bỏ đăng kí xe khỏi hệ thống.</p>`})
- qaList.push({'ques': 'Xe tôi giấy tờ thế chấp ngân hàng thì có được không ?','status': '', 'answer': '<p>Để đảm bảo an toàn và chất lượng xe cho khách thuê, Mioto đang hỗ trợ tư vấn và duyệt các xe sản xuất từ năm 2005 trở lên.</p><p>Các chủ xe đảm bảo xe của mình đáp ứng đủ điều kiện an toàn cho khách thuê cũng như có đầy đủ các giấy tờ xe hợp pháp (cà vẹt xe hoặc giấy lưu hành xe (nếu xe thế chấp ngân hàng), giấy đăng kiểm, bảo hiểm xe).</p><p>Ngoài ra, các chủ xe cũng cần đảm bảo tuyệt đối xe cho thuê đúng với hình ảnh và thông tin đăng kí trên ứng dụng Mioto để giữ uy tín với khách hàng.</p><p>Tất cả các trường hợp có báo cáo vi phạm từ phía khách thuê về việc xe cho thuê không đúng với hình ảnh và thông tin đăng kí trên Mioto, ban quản lí ứng dụng sẽ tiến hành xác minh và xem xét gỡ bỏ đăng kí xe khỏi hệ thống.</p>'})
- qaList.push({'ques': 'Tôi có thể lấy hình ảnh xe khác để đăng lên không?','status': '', 'answer': '<p>Để đảm bảo an toàn và chất lượng xe cho khách thuê, Mioto đang hỗ trợ tư vấn và duyệt các xe sản xuất từ năm 2005 trở lên.</p><p>Các chủ xe đảm bảo xe của mình đáp ứng đủ điều kiện an toàn cho khách thuê cũng như có đầy đủ các giấy tờ xe hợp pháp (cà vẹt xe hoặc giấy lưu hành xe (nếu xe thế chấp ngân hàng), giấy đăng kiểm, bảo hiểm xe).</p><p>Ngoài ra, các chủ xe cũng cần đảm bảo tuyệt đối xe cho thuê đúng với hình ảnh và thông tin đăng kí trên ứng dụng Mioto để giữ uy tín với khách hàng.</p><p>Tất cả các trường hợp có báo cáo vi phạm từ phía khách thuê về việc xe cho thuê không đúng với hình ảnh và thông tin đăng kí trên Mioto, ban quản lí ứng dụng sẽ tiến hành xác minh và xem xét gỡ bỏ đăng kí xe khỏi hệ thống.</p>'})

.body-container.faqs-detail
	.faqs-detail__sect 
		a.back-to-faqs
			.icon
				.back-icon
				.bar
		.faqs-detail__wrap 
			.sidebar.full-size 
				.sidebar_content
					h3.title In this article
			.content
				.faqs
					h3.faqs-title Thông tin xe đăng ký 
					.qa-box
						mixin qa-list(item)
							.qa-list 
								div(class='ques '+item.status onclick="Toggle(this)")
									p.ques-content
										i.ic.ic-plus-no-circle
										span!= item.ques
								if item.answer !== ""
									.answer-content
										div.answer!= item.answer
											ul
												li test ul 1
												li test ul 2
												li 
													a(href='google.com') test ul 3
												li 
													a(href='google.com') test ul 4
													strong strong tag
						for item in qaList 
							+qa-list(item)

script.

	function Toggle(e){
		const nextE = e.nextElementSibling;
		const element = e;
		if(element.classList.contains('active')) {
			nextE.classList.remove("Fade-in");
			nextE.style.display = 'block';
			element.classList.remove("active");
			setTimeout(()=>{
				nextE.classList.add("Fade-out");
				
			},100)
			setTimeout(()=>{
				nextE.style.display = null;
			},1100)
		} else {
			
			nextE.classList.remove("Fade-out");
			setTimeout(()=>{
				element.classList.add("active");
				nextE.classList.add("Fade-in");
			},100)
		}
	}