block Home

.section-tutorial__title
	.main_title.d-flex
		h3.title HOW IT WORKS
		p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	.tutorial_tabs.d-flex
		a.active(href="#") Khách Thuê 
		a(href="#") Chủ Xe
.section-tutorial__detail
	.wrap-tutorial 
		.step
			.left
				.tutorial-img 
					.ict-large.ict-login
			.line-dot.bg-gradient-green
			.right 
				.tutorial-content
					.title-tt Đăng Nhập 
					.desc 
						p Đăng nhập vào Mioto qua Facebook, Google, số điện thoại hoặc email của bạn. Chúng tôi cần bạn xác thực số điện thoại trước khi đặt xe.
					span.number-step 1
		.step
			.left.order-2
				.tutorial-content 
					.title-tt Tìm Xe
					.desc 
						p Bạn có thể tìm xe ưng ý nhanh chóng ở nơi bạn muốn tìm, thời gian, hãng xe, cho thuê ngay
					span.number-step 2
			.line-dot
			.right.order-1
				.tutorial-img
					.ict-large.ict-search
		.step
			.left
				.tutorial-img 
					.ict.ict-car 
			.line-dot
			.right 
				.tutorial-content
					.title-tt Đặt Xe 
					.desc 
						p Lựa chọn chiếc xe mà bạn ưng ý và gửi Yêu cầu xe đến Chủ xe. Sau đó chủ xe sẽ nhanh chóng phản hồi đến bạn trong thời gian nhanh nhất.
						p 
							|Nếu bạn không muốn mất nhiều thời gian chờ đợi, có thể lựa chọn chiếc xe khác có tính năng 
							span.rent Cho Thuê Ngay 
							|để đặt xe trực tiếp mà không cần thông qua sự phản hồi từ phía Chủ xe
					span.number-step 3
		.step 
			.left.order-2
				.tutorial-content
					.title-tt Đặt Cọc 
					.desc 
						p Sau khi nhận được sự đồng ý từ phía Chủ xe, khách hàng có thể đặt cọc bằng 3 hình thức chuyển khoản, ví điện tử hoặc tiền mặt.
					span.number-step 4
			.line-dot
			.right.order-1
				.tutorial-img 
					.ict-large.ict-deposit
		.step
			.left
				.tutorial-img 
					.ict-large.ict-pickup
			.line-dot
			.right 
				.tutorial-content
					.title-tt Nhận xe
					.desc 
						p Bạn và chủ xe liên hệ gặp nhau để nhận xe. Ở Mioto, có nhiều chủ xe sẵn sàng đem xe đến tận nơi cho bạn.
						p Kiểm tra tình trạng và giấy tờ xe, xuất trình bản gốc các giấy tờ, kí hợp đồng, biên bản giao xe, nhận chìa khóa và bắt đầu hành trình của bạn
					span.number-step 5		
		.step
			.left.order-2
				.tutorial-content
					.title-tt Trả xe 
					.desc 
						p Sau khi hết thời gian thuê, bạn hoàn trả xe giống như tình trạng và thỏa thuận ban đầu. Kí xác nhận biên bản bàn giao, nhận lại giấy tờ để hoàn thành chuyến đi tuyệt vời của bạn.
						p Đừng quên cho điểm rating và nhận xét của bạn đến chủ xe để nâng cao chất lượng phục vụ cho những hành trình sắp tới nhé!
					span.number-step 6
			.line-dot.bg-gradient-green-reverse
			.right.order-1 
				.tutorial-img 
					.ict-large.ict-return
	.wrap-tutorial 
		.step
			.left
				.tutorial-img 
					.ict-large.ict-login
			.line-dot.bg-gradient-green
			.right 
				.tutorial-content
					.title-tt Đăng Nhập 
					.desc 
						p Đăng nhập vào Mioto qua Facebook, Google, số điện thoại hoặc email của bạn.
					span.number-step 1
		.step
			.left.order-2
				.tutorial-content 
					.title-tt Đăng Ký Xe 
					.desc 
						p Bạn chỉ cần đưa thông tin, mô tả, hình ảnh xe của bạn lên hệ thống. Cập nhật thời gian, mức giá mong muốn và các yêu cầu khác của bạn đối với khách thuê. 
					span.number-step 2
			.line-dot
			.right.order-1
				.tutorial-img
					.ict-large.ict-register
		.step
			.left
				.tutorial-img 
					.ict-large.ict-checked 
			.line-dot
			.right 
				.tutorial-content
					.title-tt Duyệt Xe
					.desc 
						p Bạn chỉ cần chờ trong vài phút, hệ thống sẽ kiểm duyệt xe của bạn có đáp ứng đủ hay không yêu cầu cho thuê.
					span.number-step 3
		.step 
			.left.order-2
				.tutorial-content
					.title-tt Nhận Và Phản Hồi
					.desc 
						p Khi có khách gửi yêu cầu thuê xe, bạn sẽ nhận được thông báo từ Mioto. Kiểm tra lại lịch xe của bạn, truy cập vào ứng dụng và xác nhận cho thuê sớm nhất có thể.
						p Khi có sự đồng ý cho thuê từ bạn, khách thuê sẽ chuyển tiền đặt cọc để hoàn tất việc đặt xe
					span.number-step 4
			.line-dot
			.right.order-1
				.tutorial-img 
					.ict-large.ict-allow
		.step
			.left
				.tutorial-img 
					.ict-large.ict-send-car
			.line-dot
			.right 
				.tutorial-content
					.title-tt Bàn Giao Xe 
					.desc 
						p Bạn và khách thuê liên hệ gặp nhau để bàn giao xe. 
						p Kiểm tra giấy phép lái xe, các giấy tờ liên quan và tài sản đặt cọc của khách.
						p Kiểm tra xe, ký hợp đồng, biên bản bàn giao và gửi chìa khóa xe của bạn cho vị khách đáng tin cậy.
					span.number-step 5		
		.step
			.left.order-2
				.tutorial-content
					.title-tt Nhận Xe
					.desc 
						p Sau khi hết thời gian thuê, gặp lại khách để kiểm tra xe, kí xác nhận biên bản bàn giao và nhận lại xe của bạn như thỏa thuận và tình trạng ban đầu.
						p Đừng quên cho điểm rating khách thuê và gợi ý họ cho điểm bạn trên ứng dụng Mioto. Điều này sẽ tăng uy tín của bạn trong cộng đồng thuê xe tự lái Mioto.
					span.number-step 6
			.line-dot.bg-gradient-green-reverse
			.right.order-1 
				.tutorial-img 
					.ict-large.ict-return
				



		
		

	