block insurance

.insurance-banner
  .m-container
    .insurance__sect
      .insurance-partner
        p.lstitle ĐỐI TÁC BẢO HIỂM
        .partner-logo
          .partner-logo__image.g-care
            img.img-fluid(src="images/global-care.png")
          .partner-logo__image
            img.img-fluid(src="images/homev2/mic.png")
          .partner-logo__image.pjico
            img.img-fluid(src="images/pjico.png")
      .insurance-box
        .content
          h3 BẢO HIỂM CHUYẾN ĐI
          h6 (Bảo hiểm thuê xe ô tô)
          p
            |Nhằm nâng cao trải nghiệm an toàn và giảm thiểu tổn thất có thể xảy ra do rủi ro trong quá trình thuê xe, Mioto kết hợp với 
            strong Bảo hiểm MIC 
            |và 
            strong Bảo hiểm PJICO 
            |triển khai sản phẩm 
            strong BẢO HIỂM CHUYẾN ĐI, 
            |dành riêng cho các giao dịch thuê xe tự lái trên Mioto.
      .insurance-box
        .img 
          include ../../../images/insurance/car.svg

.m-container(style="padding: 0 15px !important")
  .insurance__content
    .insurance-box.img-content
        include ../../../images/insurance/insurance.svg
    .insurance-box
      .content__right
        h5 Nội dung sản phẩm
        h3 Bảo hiểm chuyến đi
        p
          |Trong thời gian thuê xe, nếu xảy ra các sự cố va chạm ngoài ý muốn dẫn đến tổn thất về xe, khách thuê sẽ chỉ bồi thường số tiền 
          strong tối đa 2,000,000đ 
          |để sửa chữa xe (mức khấu trừ), nhà bảo hiểm sẽ hỗ trợ cho các chi phí phát sinh vượt mức khấu trừ.
        table 
          tr  
            th Thiệt hại xe 
            th Khách thanh toán 
            th BH thanh toán 
          tr 
            td <= 2 triệu 
            td <= 2 triệu
            td 0 triệu
          tr 
            td > 2 triệu
            td 2 triệu 
            td Giá trị còn lại
    //- .box
.m-container(style="padding: 0 15px !important")
  .insurance__content
    .insurance-box
      .content__left
        h5 Điều khoản bảo hiểm
        ul 
          li Bảo hiểm vật chất xe: đâm va, hỏa hoạn, cháy nổ
          li Bảo hiểm mất cắp, mất nguyên chiếc
          li Miễn phí cứu hộ tối đa 70km/vụ
          li Bảo hiểm thủy kích (khấu trừ 20% số tiền bảo hiểm, tối thiểu 3 triệu đồng)
          li Mức khấu trừ 2,000,000đ/vụ
        .notes * Mức khấu trừ: mọi sự cố ngoài ý muốn trong phạm vi bảo hiểm, số tiền tối đa khách thuê thanh toán là 2 triệu đồng (không bao gồm thiệt hại do xe không cho thuê được trong thời gian sửa chữa nếu có và các lí do chủ quan khác ngoài phạm vi bảo hiểm).
    .insurance-box.img-rules
      include ../../../images/insurance/rules.svg
.m-container(style="padding: 0 15px !important")
  .insurance__content 
    .procedure
      .insurance-box28
        h5 QUY TRÌNH XỬ LÍ NẾU XẢY RA SỰ CỐ
      .box2
        .insurance-box2
          .step
            include ../../../images/insurance/procedure1.svg
            p 1. Khách thuê chụp ảnh hiện trường
        .insurance-box2
          .step
            include ../../../images/insurance/procedure2.svg
            p 2. Khách thuê gọi đến trung tâm bồi thường của nhà bảo hiểm (MIC - 1900558891) (PJICO - 1900545455), đọc số hợp đồng bảo hiểm và làm theo hướng dẫn tổng đài.
        .insurance-box2
          .step
            include ../../../images/insurance/procedure3.svg
            p 3. Giám định viên bảo hiểm liên hệ khách thuê để hướng dẫn xử lí, xác minh thông tin và xác minh hiện trường (nếu có).
        .insurance-box2
          .step
            include ../../../images/insurance/procedure4.svg
            p 4. Giám định viên và chủ xe/khách thuê cùng mang xe ra Garage để giám định thiệt hại và 
              strong Báo giá sửa chữa.
        .insurance-box2
          .step
            include ../../../images/insurance/procedure5.svg
            p 5. Trung tâm bồi thường của nhà bảo hiểm ra Biên bản giám định thiệt hại.
        .insurance-box2
          .step
            include ../../../images/insurance/procedure6.svg
            p 6. Garage tiến hành sửa chữa theo báo giá.
.insurance__guide
  .m-container
    h5 HƯỚNG DẪN CHỌN XE CÓ BẢO HIỂM CHUYẾN ĐI
    .guide
      .insurance-box
        include ../../../images/insurance/guide1.svg
        p 1. Các xe có hỗ trợ dịch vụ bảo hiểm sẽ có logo Bảo hiểm chuyến đi tại ảnh đại diện của xe.
      .insurance-box
        include ../../../images/insurance/guide2.svg
        p 2. Quý khách hàng có thể thay đổi lựa chọn dịch vụ của 1 trong 2 nhà bảo hiểm MIC/PJICO tùy theo nhu cầu tại mục Bảo hiểm ở bước đặt xe. 
