block Payment Guide

- var stepTut = []
- stepTut.push({'img': 'ict ict-mioto', 'user': 'Khách thuê', 'title': 'Gửi yêu cầu thuê xe', 'desc': 'Đặt xe qua ứng dụng'})
- stepTut.push({'img': 'ict-large ict-allow', 'user': 'Chủ xe', 'title': 'Phê duyệt "Yêu cầu thuê xe"', 'desc': 'Phê duyệt qua ứng dụng'})
- stepTut.push({'img': 'ict ict-notif', 'user': 'Khách thuê', 'title': 'Nhận phản hồi "Yêu cầu thuê xe"', 'desc': 'Nhận thông báo qua Ứng dụng & Tin nhắn SMS'})
- stepTut.push({'img': 'ict-large ict-deposit', 'user': 'Khách thuê', 'title': 'Tiến hành Đặt cọc', 'desc': 'Đặt cọc 30% chuyến đi qua Ứng dụng'})
- stepTut.push({'img': 'ict-large ict-send-car', 'user': 'Chủ xe và Khách thuê', 'title': 'Hoàn thành đặt xe', 'desc': 'Nhận thông tin SĐT - Liên hệ xác minh thủ tục'})

.payment-guide__sect
	.m-container
		h3.n-title Hướng Dẫn Đặt Xe
		.tutorial.swiper-container.step-box__wrap
			.swiper-wrapper
				each step in stepTut
					.step-box__item.swiper-slide
						.step-detail
							h4.title!=step.user
							p.short-desc!=step.title
						.step-img
							.box-desc
								p!=step.desc
							div(class=`${step.img}`)
		.link-step-by-step
			a(href="#loginMomo" class="text-primary") 1. Đăng nhập vào Mini-app Mioto
			a(href="#searchCars" class="text-primary") 2. Tìm kiếm xe
			a(href="#useFilter" class="text-primary") 3. Sử dụng bộ lọc để tìm kiếm xe mong muốn
			a(href="#sendRequest" class="text-primary") 4. Lựa chọn xe mong muốn và gửi yêu cầu thuê xe
			a(href="#deposit" class="text-primary") 5. Thanh toán đặt cọc
			a(href="#contact" class="text-primary") 6. Nhận thông tin chủ xe và liên hệ

		.payment-guide-content
			p Bạn có thể đặt xe trực tuyến qua website Mioto.vn hoặc ứng dụng Mioto thông qua các bước đặt xe cơ bản
			p Vui lòng tham khảo thông tin chi tiết về từng bước tìm kiếm và đặt xe như sau:
		.payment-guide-detail
			.content-guide
				.method-item#loginMomo
					h4.method-name 1. Đăng nhập vào Mini-app Mioto
					.d-flex
						img.img-fluid.img-only(src="images/tutorial-booking/momo/signin.jpeg")
				.method-item#searchCars
					h4.method-name 2. Tìm kiếm xe
					p Bạn có thể tìm xe theo 3 cách sau:
					.box-classify.d-flex.flex-start
						.box-50
							p.method-title a. Tìm theo địa chỉ bạn nhập ở thanh tìm kiếm
							img.img-fluid.img-50(src="images/tutorial-booking/momo/search.jpeg")
						.box-50
							p.method-title b. Tìm theo danh mục các địa điểm nổi bật
							img.img-fluid.img-50(src="images/tutorial-booking/momo/destination.jpeg")
						.box-50
							p.method-title c. Tìm theo danh mục các xe nổi bật được thuê nhiều trên Mioto
							img.img-fluid.img-50(src="images/tutorial-booking/momo/car.jpeg")

				.method-item#useFilter
					h4.method-name 3. Sử dụng bộ lọc để tìm kiếm xe mong muốn
					p
						span.fontWeight-5 a. Sắp xếp:
						|  Hệ thống đang mặc định sắp xếp các xe theo chế độ tối ưu. Bạn có thể lựa chọn sắp xếp xe theo giá thấp đến giá cao, khoảng cách gần nhất hoặc các xe có điểm đánh giá cao nhất.
					p
						span.fontWeight-5 b. Mức giá:
						|  Hệ thống đang mặc định thể hiện xe tại mọi mức giá khác nhau. Bạn có thể thu gọn danh sách các xe nằm trong vùng giá mong muốn bằng cách di chuyển thanh mức giá.
					p
						span.fontWeight-5 c. Loại xe:
						|  Hệ thống đang mặc định hiển thị tất cá xe 4 chỗ và 7 chỗ. Bạn có thể lựa chọn chỉ xem riêng danh sách xe 4 chỗ hoặc danh sách xe 7 chỗ bằng cách bấm vào ô tương ứng.
					p
						span.fontWeight-5 d. Hãng xe:
						|  Hệ thống đang mặc định hiển thị tất cả xe của các hãng khác nhau. Bạn có thể lựa chọn chỉ xem riêng danh sách xe của một hãng yêu thích bằng cách bấm vào tên của hãng xe.
					.d-flex
						img.img-fluid.img-only(src="images/tutorial-booking/momo/filter.jpeg")

				.method-item#sendRequest
					h4.method-name 4. Lựa chọn xe mong muốn và gửi yêu cầu thuê xe
					.box-classify.d-flex.flex-start
						.box-50
							p
								strong a. Kiểm tra thông tin xe:
								|   Hình ảnh xe, số chuyến đi đã thực hiện, đánh giá của các khách hàng đã thuê trước đó.
								.d-flex
									img.img-fluid.img-50(src="images/tutorial-booking/momo/check1.jpeg")
						.box-50
							p
								strong b. Kiểm tra vị trí xe:
								|   Hệ thống sẽ khoanh vùng tọa độ trên bản đồ. Địa chỉ xe chính xác sẽ được hiển thị sau khi khách hàng tiến hành thanh toán đặt cọc.
								.d-flex
									img.img-fluid.img-50(src="images/tutorial-booking/momo/check2.jpeg")
					p
						strong c. Kiểm tra yêu cầu giấy tờ thuê xe và xem thông tin chủ xe
					.content-detail
						p.text-italic c1. Giấy tờ thuê xe
						p Để đảm bảo an toàn cho giao dịch thuê xe, khách thuê cần cung cấp cho chủ xe 
						p - CMND bản gốc & Giấy phép lái xe bản gốc (chủ xe đối chiếu và trả lại khách thuê)
						p - 1 trong 3 loại giấy tờ: Passport - Hộ khẩu - Sổ tạm trú (chủ xe giữ lại và hoàn trả sau khi khách trả xe)

						p.text-italic c2. Tài sản đặt cọc
						p 1 trong 2 hình thức: 
						p a. Xe máy kèm cà vẹt bản gốc giá trị từ 15 triệu đồng
						p b. 15 triệu đồng tiền mặt hoặc chuyển khoản
						p.text-primary Bên cạnh đó, bạn vui lòng kiểm tra kĩ phần giấy tờ yêu cầu của chủ xe để đảm bảo đủ điều kiện thuê xe, hạn chế các trường hợp hủy chuyến sau khi đã đặt cọc vì không đáp ứng đủ giấy tờ.
						p.text-primary Trường hợp bạn không có đầy đủ các giấy tờ yêu cầu, vui lòng ghi rõ trong mục lời nhắn gửi đến chủ xe hoặc liên hệ bộ phận CSKH của Mioto tại 19009217 để được linh hoạt hỗ trợ tìm kiếm các xe phù hợp.

						p.text-italic c3. Thông tin chủ xe
						p Mục này sẽ thể hiện điểm đánh giá dành cho chủ xe, nhận xét của khách thuê và thời gian phản hồi của chủ xe đối với các yêu cầu thuê xe...
						p Bạn có thể ưu tiên chọn các chủ xe có điểm đánh giá cao, thời gian phản hồi nhanh chóng và có nhiều nhận xét tích cực từ khách thuê.
						.d-flex
							img.img-fluid.img-only(src="images/tutorial-booking/momo/check3.jpeg")
					
					p.fontWeight-5 d. Kiểm tra giá, thời gian thuê, lựa chọn địa điểm giao nhận xe, thông tin giới hạn quãng đường/ngày
					.content-detail
						p.text-italic d1. Thời gian thuê
						p - Thời gian thuê xe được tính theo ngày, hệ thống mặc định thời gian nhận xe từ 21h hôm nay và trả xe vào 20h hôm sau.
						p - Bạn có thể linh hoạt tùy chỉnh thời gian nhận và trả xe. Nếu tổng thời gian dưới 24h sẽ làm tròn là 1 ngày. Theo thông lệ, đa phần các chủ xe trên Mioto chỉ giao xe từ 5h sáng - 10h tối hàng ngày nên bạn cần điều chỉnh thời gian cho phù hợp để dễ dàng thuê xe bạn nhé.
						p.text-italic d2. Địa điểm giao nhận xe
						p Bạn có thể lựa chọn 1 trong 2 hình thức giao nhận xe:
						p - Giao nhận tại địa điểm của chủ xe: Địa chỉ nhận xe sẽ được hiển thị chính xác sau khi bạn tiến hành thanh toán đặt cọc thành công trên hệ thống.
						p - Giao nhận tận nơi: Bạn có thể yêu cầu chủ xe giao đến địa chỉ nhà của mình và sẽ thanh toán thêm phí giao nhận xe (hệ thống sẽ tự động xác định khoảng cách từ vị trí chủ xe đến địa điểm giao xe để tính phí giao nhận xe).
						p.text-italic d3. Giới hạn quãng đường
						p Nếu cần di chuyển xa, bạn cần kiểm tra kĩ số km được phép di chuyển tối đa trong một ngày và số tiền phụ phí/km nếu vượt giới hạn. Mỗi chủ xe sẽ có các yêu cầu khác nhau về giới hạn quãng đường di chuyển và phụ phí.
					.d-flex
							img.img-fluid.img-only(src="images/tutorial-booking/momo/confirm.png")
					p.fontWeight-5 e. Kiểm tra lại yêu cầu thuê xe 
					p Bạn cần kiểm tra lại toàn bộ các thông tin trong yêu cầu thuê xe (thông tin xe, thời gian thuê, địa điểm nhận xe, khuyến mãi, tổng tiền thuê, các giấy tờ bắt buộc và yêu cầu khác).
					p Bạn có thể gửi lời nhắn đến chủ xe tại mục Lời nhắn để giới thiệu về lộ trình di chuyển, các giấy tờ bạn có hoặc các yêu cầu khác liên quan đến việc thuê xe... để chủ xe ra quyết định cho thuê nhanh chóng và admin Mioto dễ dàng hỗ trợ bạn hơn nhé.
					p Cuối cùng, bạn gửi yêu cầu thuê xe đến chủ xe bằng cách nhấn vào phím 
						strong Đặt xe
						| . Các chủ xe sẽ nhận được yêu cầu đặt xe từ bạn và sẽ phản hồi đến bạn (Đồng ý/ Từ chối cho thuê) trong thời gian sớm nhất.
					p.text-danger
						u Lưu ý:
						|   Để hỗ trợ bạn đặt xe nhanh hơn, hệ thống cho phép bạn gửi một lúc nhiều yêu cầu thuê xe đến nhiều chủ xe khác nhau và bạn có thể ưu tiên lựa chọn các chủ xe có phản hồi sớm bạn nhé.
					.d-flex
						img.img-fluid.img-only(src="images/tutorial-booking/momo/confirm_all.png")

				.method-item#deposit
					h4.method-name 5. Thanh toán đặt cọc
					.content-detail.payment-guide-content
						p Sau khi nhận được phản hồi đồng ý từ chủ xe (qua cả 2 hình thức: tin nhắn SMS & thông báo trên Momo), bạn vui lòng tiến hành thanh toán đặt cọc 30% tiền thuê xe qua ứng dụng Momo trong thời gian sớm nhất để hoàn tất quá trình đặt xe (phần tiền 70% còn lại bạn sẽ thanh toán trực tiếp cho chủ xe khi nhận xe).
						p Để hoàn tất quá trình đặt xe, bạn cần thanh toán đặt cọc 30% giá trị chuyến đi qua Momo.
						p Trường hợp nhiều khách đặt xe cùng một thời điểm, hệ thống sẽ ưu tiên khách hàng thanh toán sớm, vì vậy bạn vui lòng đặt cọc trong thời gian sớm nhất bạn nhé.
						p Bấm nút 
							strong THANH TOÁN 
							| để chuyến đến ví Momo
						.box-classify.d-flex.flex-start
							.box-50
								.d-flex
									img.img-fluid.img-50(src="images/tutorial-booking/momo/payment.png")
							.box-50 
								.d-flex
									img.img-fluid.img-50(src="images/tutorial-booking/momo/payment2.png")


				.method-item#contact 
					h4.method-name 6. Nhận thông tin chủ xe và liên hệ 
					.content-detail.payment-guide-content 
						p Sau khi thanh toán đặt cọc thành công, bạn sẽ nhận được số điển thoại và địa chỉ chính xác của chủ xe qua tin nhắn SMS & thông báo trên Momo. Bạn vui lòng liên hệ sớm với chủ xe để xác nhận lại lần nữa về lịch trình và các giấy tờ yêu cầu để đảm bảo chuyến đi của mình được diễn ra suôn sẽ và tốt đẹp. Bất cứ các vấn đề gì cần thắc mắc bạn có thể liên hệ 
							a.text-primary(href="tel:19009217")  19009217 (9AM - 9PM T2-T7)
							|  hoặc  
							a.text-primary(href="https://www.facebook.com/mioto.vn/")  Mioto Fanpage
							|  để được hỗ trợ.
					.d-flex
						img.img-fluid.img-only(src="images/tutorial-booking/momo/otp.png")