.year-insurance_sect(style="background-image: url(images/insurance/baner_yearinsurance.png)")
  .m-container.d-flex
    .insurance-partner
      p.lstitle ĐỐI TÁC BẢO HIỂM
      .partner-logo
        .partner-logo__image.mic
          img.img-fluid(src="images/homev2/mic.png")
        .partner-logo__image.pjico
          img.img-fluid(src="images/pjico.png")
    .insurance__sect
      h1 MUA BẢO HIỂM XE Ô TÔ ONLINE
      h3 PHÍ TỐT NHẤT CÙNG MIOTO!
      h6 Tiết kiệm từ 20-40%
      .register_btn
        a.btn.btn--m.btn-primary Đăng ký nhận báo giá
      .banner-img
        img.img-fluid(src="images/insurance/car_insurance.png")
.year-insurance_body
  .m-container.d-flex
    .img-price
      picture 
        source(media="(max-width: 767px)" srcset="images/insurance/price_insurance_767w.png 1x")
        img.img-fluid(srcset="images/insurance/price_insurance.png")