block Modal

div(role="dialog")
  .modal-backdrop.fade.in
  .fade.modal.in(role="dialog", tabindex="-1", style="display:block")
    .modal-sm.modal-dialog.notify-container-fluid 
      .modal-content(role="document")
        //- .modal-header
        //-   button.close(type="button")
        //-     span(aria-hidden="true") x
        //-     span.sr-only
        .modal-body
          .noti-content
            h4.title XÁC THỰC SỐ ĐIỆN THOẠI
            img(src="images/ic-svg/ic_otp.svg")
            p.fontWeight-5 Nhập mã gồm 6 chữ số được gửi tới
            p.noti-phone +84977148174
            .form-default 
              .line-form 
                .wrap-input 
                  input.value
            p Bạn chưa nhận được mã?
            p.req YÊU CẦU MÃ MỚI TRONG VÒNG 26s
            .req-newcode 
              p.fontWeight-5.ic-mr YÊU CẦU MÃ MỚI
              .option-req
                .req-box 
                  img(src="images/ic-svg/ic_phone.svg")
                  p Gọi điện thoại
                .req-box 
                  img(src="images/ic-svg/ic_sms.svg")
                  p Gửi tin nhắn
            .textAlign-center
              a.btn.btn--m.btn-primary.btn-not-allowed Xác thực
