block Modal

div(role="dialog")
	.modal-backdrop.fade.in
	.fade.modal.in(role="dialog", tabindex="-1", style="display:block")
		.modal-sm.modal-dialog.notify-container-fluid
			.modal-content(role="document")
				.modal-header
					button.close(type="button")
						span(aria-hidden="true") x
						span.sr-only
				.modal-body
					style.
						.table-reject-trip {
							width: 100%;
							margin-bottom: 1rem;
						}
						.table-reject-trip h6 {
							font-size: 1rem;
							margin-bottom: .5rem;
						}
						.table-reject-trip .main-row, .table-reject-trip .row-reject {
							width: 100%;
							border-left: 1px solid #f3f4f6;
						}
						.table-reject-trip .main-row {
							border-top: 1px solid #eee;
						}
						.notify-popup--wrapper.noti-wallet .table-reject-trip .main-row p {
							font-weight: 700;
							font-size: 13px;
						}
						.notify-popup--wrapper.noti-wallet .table-reject-trip .row-reject p {
							font-size: 13px;
						}
						.table-reject-trip .w-60 {
							width: 30%;
							padding: 10px 5px;
							border-bottom: 1px solid #eee;
							border-right: 1px solid #f3f4f6;
							height: 40px;
						}
						.table-reject-trip .w-60 p {
							font-weight: bold;
						}
						.table-reject-trip .w-40 {
							width: 35%;
							padding: 10px 5px;
							border-bottom: 1px solid #eee;
							border-right: 1px solid #f3f4f6;
							height: 40px;
						}
						.table-reject-trip p {
							margin-bottom: 0;
						}
						.notify-container-fluid .notify-popup--wrapper {
							display: flex;
							flex-direction: column;
							width: 100%;
							border-radius: 0px;
						}
						.notify-popup--wrapper.noti-wallet .notify-head {
							text-align: center;
							padding: 20px;
							background: lemonchiffon;
						}
						.notify-popup--wrapper.noti-wallet .notify-head h5 {
							font-size: 1.25rem;
							font-weight: 600;
						}
						.notify-popup--wrapper.noti-wallet .notify-head p {
							font-size: 1rem;
						}
						.table-reject-trip span.text-sm, .notify-popup--wrapper.noti-wallet .notify-content p.text-sm {
							font-size: 12px;
						}
						.notify-popup--wrapper.noti-wallet .img-contain {
							text-align: center;
							padding: 10px 0;
						}
						.notify-popup--wrapper.noti-wallet img.img-fluid {
								width: 40%;
							}

						.notify-popup--wrapper.noti-wallet .notify-body {
							padding: 20px 1.5rem 1.5rem;
							width: 100%;
						}
						.notify-popup--wrapper.noti-wallet .notify-content {
							margin-bottom: 0;
						}
						.notify-popup--wrapper.noti-wallet .notify-content p {
							margin-bottom: .5rem;
							font-size: .925rem;
						}
						.notify-popup--wrapper.noti-wallet .notify-content p:last-child {
							margin-bottom: 0
						}
						@media (max-width: 1199px) {
							.notify-popup--wrapper.noti-wallet img.img-fluid {
									width: 50%;
								}
						}

						@media (max-width: 576px) {
							.table-reject-trip .w-40, .table-reject-trip .w-60 {
								height: 45px;
							}
							.notify-popup--wrapper.noti-wallet img.img-fluid {
									width: 60%;
								}
							.notify-popup--wrapper.noti-wallet .notify-head p {
								font-size: .875rem;
							}
							.notify-popup--wrapper.noti-wallet .notify-body {
								padding: 15px 1rem;
							}
							.notify-popup--wrapper.noti-wallet .notify-content p {
								margin-bottom: .5rem;
								font-size: .875rem;
							}
						}
					.notify-popup--wrapper.noti-wallet
						.notify-head
							.img-contain
								img(src="https://n1-cstg.mioto.vn/m/campaign/Annoucement-2.png" class="img-fluid")
							h5 THÔNG BÁO
							p.text-primary V/v Chính sách điều chỉnh phí vận hành trên ứng dụng Mioto
						.notify-body
							.notify-content
								p
									| Kính gửi
									span.fontWeight-5    Quý đối tác,
								p Đội ngũ Mioto xin gửi lời cảm ơn đến toàn thể Quý đối tác đã tin tưởng hợp tác trong thời gian vừa qua.
								p
									|	Nhằm hướng đến việc tiếp tục thực hiện nâng cấp hệ thống vận hành, cải thiện chất lượng dịch vụ và triển khai thêm nhiều tiện ích mới dành cho các đối tác chủ xe trên hệ thống, Mioto xin trân trọng thông báo đến Quý đối tác về việc điều chỉnh mức phí vận hành, áp dụng cho các giao dịch đặt xe bắt đầu từ ngày
									span.fontWeight-6 		01/08/2019,
									|				chi tiết như sau:
								<div class="table-reject-trip">
									<div class="main-row d-flex">
										<div class="w-60">
											<p class="text-center"></p>
										</div>
										<div class="w-40">
											<p class="text-center">Hiện tại</p>
										</div>
										<div class="w-40">
											<p class="text-center">Từ ngày 01.08.2019</p>
										</div>
									</div>
									<div class="row-reject d-flex">
										<div class="w-60">
											<p class="text-center">Phí vận hành</p>
										</div>
										<div class="w-40">
											<p class="text-center">12%/Giá cho thuê</p>
										</div>
											<div class="w-40">
												<p class="text-center">15%/Giá cho thuê</p>
											</div>
									</div>
								</div>
								p Rất mong nhận được sự hợp tác nhiệt tình từ phía Quý đối tác.
								p Xin chúc Quý đối tác nhiều sức khỏe, kinh doanh hiệu quả và an toàn trên ứng dụng Mioto.
								p.fontWeight-6 MIOTO - ADMIN