block Modal 

div(role='dialog')
  .modal-backdrop.fade.in
  .fade.in.modal(role='dialog', tabindex='-1', style='display: block; padding-left: 6px;')
    .modal-sm.modal-dialog.notify-container-fluid
      .modal-content(role="document")
        .modal-header
          button.close(type="button")
            span(aria-hidden="true") x
            span.sr-only
        .modal-body 
          .notify-popup--wrapper
            .notify-head
              img.img-fluid(src="images/insurance/banner_insurance.png" style="width: 100%;")
            .notify-body
              .notify-content.notify-insurance
                h3 BẢO HIỂM CHUYẾN ĐI
                h6 (Bảo hiểm thuê xe ô tô)
                p Nhằm nâng cao trải nghiệm an toàn và giảm thiểu tổn thất có thể xảy ra do rủi ro trong quá trình thuê xe, Mioto kết hợp với 
                  strong Bảo hiểm MIC 
                  | và 
                  strong Bảo hiểm PJICO 
                  |triển khai sản phẩm 
                  strong BẢO HIỂM CHUYẾN ĐI
                  |, dành riêng cho các giao dịch thuê xe tự lái trên Mioto.
                .horizontal-line.marginTop-m
                p
                  strong I. Nội dung sản phẩm Bảo hiểm chuyến đi
                p Trong thời gian thuê xe, nếu xảy ra các sự cố va chạm ngoài ý muốn dẫn đến tổn thất về xe, khách thuê sẽ chỉ bồi thường số tiền 
                  strong tối đa 2.000.000đ 
                  | để sửa chữa xe (mức khấu trừ), nhà bảo hiểm sẽ hỗ trợ cho các chi phí phát sinh vượt mức khấu trừ.
                table 
                  tr  
                    th Thiệt hại xe 
                    th Khách thanh toán 
                    th BH thanh toán 
                  tr 
                    td <= 2 triệu 
                    td <= 2 triệu
                    td 0 triệu
                  tr 
                    td > 2 triệu
                    td 2 triệu 
                    td Giá trị còn lại
                .horizontal-line.marginTop-m
                p
                  strong II. Điều khoản Bảo hiểm
                p - Bảo hiểm vật chất xe: đâm va, hỏa hoạn, cháy nổ.
                p - Bảo hiểm mất cắp, mất nguyên chiếc.
                p - Miễn phí cứu hộ tối đa 70km/vụ.
                p - Bảo hiểm thủy kích (khấu trừ 20% số tiền bảo hiểm, tối thiểu 3.000.000 VNĐ)
                p - Mức khấu trừ: 2.000.000VNĐ/vụ 
                p.note * Mức khấu trừ: mọi sự cố ngoài ý muốn trong phạm vi bảo hiểm, số tiền tối đa bạn thanh toán là 2 triệu đồng (không bao gồm thiệt hại do xe không cho thuê được trong thời gian sửa chữa nếu có và các lí do chủ quan khác nằm trong phạm vi bảo hiểm).
                .horizontal-line.marginTop-m
                p
                  strong III. Quy trình xử lí nếu xảy ra sự cố
                p 1. Khách thuê chụp ảnh hiện trường.
                p 2. Khách thuê gọi đến trung tâm bồi thường của nhà bảo hiểm (MIC - 1900 55 88 91) (PJICO - 1900 54 54 55), đọc số hợp đồng bảo hiểm và làm theo hướng dẫn tổng đài.
                p 3. Giám định viên bảo hiểm liên hệ khách thuê để hướng dẫn xử lí, xác minh thông tin và xác minh hiện trường (nếu có).
                p 4. Giám định viên và chủ xe/khách thuê cùng mang xe ra Garage để giám định thiệt hại và ra 
                  strong Báo giá sửa chữa.
                p 5. Trung tâm bồi thường của nhà bảo hiểm ra 
                  strong Biên bản giám định 
                  |thiệt hại.
                p 6. Garage tiến hành sửa chữa theo báo giá.
                .horizontal-line.marginTop-m
                p
                  strong IV. Hướng dẫn chọn xe có Bảo hiểm chuyến đi
                p 1. Các xe có hỗ trợ dịch vụ bảo hiểm sẽ có logo 
                  strong Bảo hiểm chuyến đi 
                  |tại ảnh đại diện của xe.
                p 2. Quý khách hàng có thể thay đổi lựa chọn dịch vụ của 1 trong 2 nhà bảo hiểm MIC/PJICO tùy theo nhu cầu tại mục 
                  strong Bảo hiểm 
                  |ở bước đặt xe. 