block Modal

div(role="dialog")
	.modal-backdrop.fade.in
	.fade.modal.in(role="dialog", tabindex="-1", style="display:block")
		.modal-sm.modal-dialog.notify-container-fluid
			.modal-content(role="document")
				.modal-header
					button.close(type="button")
						span(aria-hidden="true") x
						span.sr-only
				.modal-body
					style.
						.notify-container-fluid .notify-popup--wrapper {
							display: flex;
							flex-direction: column;
							width: 100%;
							border-radius: 0px;
							background: url('https://i.imgur.com/mjCIM7s.png') no-repeat;
							background-position: top;
							background-size: 200%;
						}
						.notify-popup--wrapper.noti-wallet .p-2 {
							padding: .5rem!important
						}
						.notify-popup--wrapper.noti-wallet .notify-head {
							text-align: center;
							padding: 20px;
							padding-top: 3rem;
						}
						.notify-popup--wrapper.noti-wallet .notify-head h5 {
							font-size: 1.25rem;
							font-weight: 600;
						}
						.notify-popup--wrapper.noti-wallet .notify-head p {
							font-size: 1rem;
						}
						.notify-popup--wrapper.noti-wallet .notify-head .flex-fill {
							    flex: 1 1 auto!important;
						}
						.notify-popup--wrapper.noti-wallet .notify-head  .heading-logo {
							margin-bottom: 1rem;
						}
						.notify-popup--wrapper.noti-wallet .notify-head img.mioto {
							width: 45%;
						}
						.notify-popup--wrapper.noti-wallet .notify-head img.mic {
							width: 90%;
						}
						.notify-popup--wrapper.noti-wallet .notify-head img.glcare {
							width: 70%;
						}
						.table-reject-trip span.text-sm, .notify-popup--wrapper.noti-wallet .notify-content p.text-sm {
							font-size: 12px;
						}
						.notify-popup--wrapper.noti-wallet .img-contain {
							text-align: center;
							padding: 10px 0;
						}
						.notify-popup--wrapper.noti-wallet img.img-fluid {
								width: 40%;
							}

						.notify-popup--wrapper.noti-wallet .notify-body {
							padding: 20px 1.5rem 1.5rem;
							width: 100%;
						}
						.notify-popup--wrapper.noti-wallet .notify-content {
							margin-bottom: 0;
						}
						.notify-popup--wrapper.noti-wallet .notify-content .font-italic {
							font-style: italic;
						}
						.notify-popup--wrapper.noti-wallet .notify-content p {
							margin-bottom: .5rem;
							font-size: .925rem;
						}
						.notify-popup--wrapper.noti-wallet .notify-content p:last-child {
							margin-bottom: 0
						}
						.notify-popup--wrapper.noti-wallet .notify-content span.insurance {
							background: rgba(0,0,0,.5);
							color: #fff;
							border-radius: 3px;
							padding: 2px 4px;
							display: inline-flex;

							margin-left: 5px;
						}
						.notify-popup--wrapper.noti-wallet .notify-content span.insurance img {
							width: 32px;
							height: 18px;
							margin-left: 5px;
						}
						.notify-popup--wrapper.noti-wallet a {
							cursor: pointer;
						}
						@media (max-width: 1199px) {
							.notify-popup--wrapper.noti-wallet img.img-fluid {
									width: 50%;
								}
						}

						@media (max-width: 576px) {
							.notify-popup--wrapper.noti-wallet img.img-fluid {
									width: 60%;
								}
							.notify-popup--wrapper.noti-wallet .notify-head p {
								font-size: .875rem;
							}
							.notify-popup--wrapper.noti-wallet .notify-body {
								padding: 15px 1rem;
							}
							.notify-popup--wrapper.noti-wallet .notify-content p {
								margin-bottom: .5rem;
								font-size: .875rem;
							}
							.notify-popup--wrapper.noti-wallet .notify-head {
								padding-top: 20px;
							}
							.notify-popup--wrapper.noti-wallet .notify-head img.mioto {
								width: 55%;
							}
							.notify-popup--wrapper.noti-wallet .notify-head img.mic {
								width: 95%;
							}
							.notify-popup--wrapper.noti-wallet .notify-head img.glcare {
								width: 80%;
							}
						}
					.notify-popup--wrapper.noti-wallet
						.notify-head
							.heading-logo.d-flex
								.p-2.flex-fill
									.textAlign-left
										img(src="https://i.imgur.com/3SouECr.png" class="mioto")
								.p-2.flex-fill
									.textAlign-center
										img(src="https://i.imgur.com/gjC8aER.png" class="mic")
								.p-2.flex-fill
									.textAlign-right
										img(src="https://i.imgur.com/Kj7PK9Z.png" class="glcare")

							h5 BẢO HIỂM VẬT CHẤT XE Ô TÔ THEO CHUYẾN
						.notify-body
							.notify-content
								p
									| Kính gửi
									span.fontWeight-6 	Quý đối tác
									| ,
								p
									| Nhằm tiếp tục nâng cao mức độ an toàn đối với các giao dịch cho thuê xe trên ứng dụng, Mioto xin thông báo đến Quý đối tác về việc triển khai chương trình "Bảo hiểm vật chất xe ô tô theo chuyến", dành riêng cho các giao dịch trên ứng dụng Mioto, bắt đầu từ ngày
									span.fontWeight-5 	19/07/2019
									| .
								.space.m
								p
									span.fontWeight-6 Quyền lợi bảo hiểm:
								p
									| Các chủ xe đăng kí tham gia chương trình bảo hiểm chuyến đi MIC, sẽ có Logo
									span.insurance
										| 		Bảo hiểm bởi
										img(src='https://i.imgur.com/vWea0qC.png')
									|  tại hình ảnh xe. Tất cả các giao dịch cho thuê xe của chủ xe trên Mioto sẽ được bảo vệ bởi MIC, cụ thể:
								p
									| -
									span.fontWeight-6 Bảo hiểm mất cắp xe nguyên chiếc
									span.font-italic
										| (khi xảy ra rủi ro mất cắp, chủ xe cần khai báo với cơ quan công an để tiến hành điều tra và xác minh. MIC sẽ thực hiện thủ tục bồi thường xe nguyên chiếc trong vòng
										span.fontWeight-5 			30 ngày
										| 			 kể từ thời điểm có
										span.fontWeight-5 			Giấy xác nhận mất cắp xe
										|  				từ cơ quan điều tra).
								p
									| -
									span.fontWeight-6 Bảo hiểm vật chất xe ô tô
									|  (đâm va, cháy nổ)
									span.font-italic
										| (khi xảy ra các sự cố gây thiệt hại vật chất xe, MIC sẽ bảo lãnh khách thuê đối với các chi phí sửa chữa xe vượt quá giá trị >2 triệu đồng và thanh toán trực tiếp cho các Garage trong mạng lưới của MIC trên toàn quốc. Vì vậy, Quý đối tác có thể an tâm trong trường hợp khách thuê không đủ khả năng bồi thường khi gặp các sự cố lớn).
								p - Bảo hiểm không khấu hao phụ tùng khi thay thế
								p - Bảo hiểm lựa chọn cơ sở sửa chữa
								p
									| - Bảo hiểm thủy kích
									span.font-italic (khấu trừ 20% số tiền bảo hiểm, tối thiểu 3 triệu đồng)
								p - Miễn phí cứu hộ tối đa 70 km/vụ
								.space.m
								p
									span.fontWeight-6 Thủ tục đăng kí:
								p
									| Để đăng kí tham gia chương trình bảo hiểm, Quý đối tác vui lòng bấm vào ô "ĐĂNG KÍ THAM GIA" bên dưới để được tư vấn hoặc có thể tự thực hiện trên website bằng cách vào mục
									span.fontWeight-5 		Xe của tôi →
									|			 Chọn xe cần chọn
									span.fontWeight-5 			→ Quản lý xe → Giấy tờ xe
									|  		và cập nhật hình ảnh của các thông tin sau:
								p - 4 hình ảnh xe: Trái - Phải - Trước - Sau
								p - Hình ảnh Cà vẹt xe
								p - Hình ảnh Đăng kiểm xe
								p
									| - Hình ảnh Bảo hiểm TNDS
									span.font-italic.text-sm (* không bắt buộc cập nhật)
								.space
								div(style="margin-bottom: .5rem")
									p.font-italic.text-sm
										| *** Đợt 1 chương trình chỉ áp dụng cho các mẫu xe từ đời
										span.fontWeight-6 		2010
										|  		trở lên
									p.font-italic.text-sm
										| *** Đối với ứng dụng, Quý đối tác vui lòng cập nhật phiên bản mới nhất cho ứng dụng IOS (bản 117) và Android (114) để sử dụng tính năng mới. (Truy cập ứng dụng, vào mục "Cá nhân" để xem phiên bản hiện tại đang sử dụng)

								.space.m
								p
									span.fontWeight-6 Phí bảo hiểm:
									|  Chương trình do Mioto phối hợp với MIC thực hiện, thiết kế riêng để bảo vệ quyền lợi các chủ xe trên hệ thống. Không tính phí đăng kí và phí bảo hiểm trên mỗi giao dịch.
								.space.m
								p
									| Mọi vẫn cần hỗ trợ về chương trình bảo hiểm vật chất xe ô tô theo chuyến, Quý đối tác vui lòng liên hệ bộ phận CSKH Mioto tại
									span.fontWeight-5 			19009217 (9AM-6PM, T2-T7)
									| 			hoặc gửi tin nhắn đến
									a(href="https://www.facebook.com/mioto.vn/").fontWeight-5 			Mioto Fanpage.
								p Kính chúc Quý đối tác kinh doanh hiệu quả và an toàn trên ứng dụng Mioto.
								p.fontWeight-5 MIOTO TEAM
							.space.m

							.textAlign-center.d-flex
								a(href="https://docs.google.com/forms/d/e/1FAIpQLSdqgF74bUkFGQlKbz3A7XJFAzIw3M1ikgcaWj4PMbjcnuLL6g/viewform").btn.btn--m.btn-primary.ml-2 ĐĂNG KÝ THAM GIA
