block Modal

div(role="dialog").hidden
  .modal-backdrop.fade.in
  .fade.modal.in(role="dialog", tabindex="-1", style="display:block")
    .modal-sm.modal-dialog
      .modal-content(role="document")
        .modal-header
          button.close(type="button")
            span(aria-hidden="true") x
            span.sr-only
        .modal-body
          .module-register(style="background: none; padding: 5px")
            .form-default.form-s
              .line-form
                .notify-popup--wrapper.payment-method
                  style.
                    .notify-popup--wrapper.payment-method .notify-head {
                      width: 50%;
                      margin: 0 auto;
                      margin-bottom: 1rem;
                    }
                    .notify-popup--wrapper.payment-method .notify-head .fix-img {
                      box-shadow: none;
                      padding-bottom: 90%;
                    }
                    .notify-popup--wrapper.payment-method .notify-content {
                      margin-bottom: 0;
                    }
                    .notify-popup--wrapper.payment-method .notify-content p {
                      margin-bottom: .5rem;
                      font-size: .875rem;
                      color: #141414;
                    }
                    .notify-popup--wrapper.payment-method .notify-content p.tt-payment {
                      font-weight: bold;
                      color: #00a550;
                      font-size: 1rem;
                    }
                    .notify-popup--wrapper.payment-method .notify-content p .label {
                      text-decoration: underline;
                      display: inline-block;
                    }
                    .notify-popup--wrapper.payment-method .notify-content p span.ct-payment, .notify-popup--wrapper.payment-method .notify-content p span.detail {
                      font-weight: bold;
                      color: #1f383e;
                      margin-left: .5rem;
                      font-family: arial;
                    }
                    .notify-popup--wrapper.payment-method .notify-content p span.detail {
                      font-style: italic;
                      color: #00a550;
                    }
                    @media (max-width: 480px) {
                      .notify-popup--wrapper.payment-method .notify-head {
                        width: 60%;
                        padding-top: 1.75rem;
                      }
                      .notify-popup--wrapper.payment-method .notify-content p.tt-payment {
                        font-size: .875rem;
                      }
                      .notify-popup--wrapper.payment-method .notify-content p {
                        font-size: 13px;
                        margin-bottom: .5rem;
                      }
                    }
                  .notify-popup--wrapper.payment-method
                    .notify-head
                      .fix-img
                        img(src="https://n1-cstg.mioto.vn/m/campaign/payment.png")

                    .notify-body
                      .notify-content
                        p.tt-payment Thanh toán bằng hình thức chuyển khoản
                        p Bạn có thể thanh toán bằng cách chuyển khoản với thông tin tài khoản dưới đây:
                        p
                          span.label NH:
                          span.ct-payment BIDV - TMCP Đầu tư và Phát Triển VN
                        p
                          span.label CN:
                          span.ct-payment Nam Kỳ Khởi Nghĩa
                        p
                          span.label Tên TK:
                          span.ct-payment Công ty Cổ phần Mioto Việt Nam
                        p
                          span.label Số TK:
                          span.ct-payment 31310000905628
                        p
                          span.label Nội dung CK (nếu có):
                          span.detail Số_điện_thoại
                        p Vui lòng liên hệ hotline Mioto - 19009217

                      //- button(class="btn btn--m btn-primary btn-notify") BẮT ĐẦU
