block Modal

div(role="dialog")
  .modal-backdrop.fade.in
  .fade.modal.in(role="dialog", tabindex="-1", style="display:block")
    .modal-sm.modal-dialog.modal-dialog
      .modal-content(role="document")
        .modal-header
          button.close(type="button")
            span(aria-hidden="true") x
            span.sr-only
          h4.modal-title XOÁ XE
        .modal-body
          .form-default.form-s
            .line-form 
              .wrap-select
                select
                  option(value="") Xe hư
                  option(value="") Đổi xe 
                  option(value="") Mua xe mới 
            .line-form 
              .wrap-input 
                input.value(placeholder='Vui lòng nhập lý do hoặc lời nhắn')
            button.btn.btn-primary.btn--m Xoá xe