block Modal

div(role="dialog")
	.modal-backdrop.fade.in
	.fade.modal.in(role="dialog", tabindex="-1", style="display:block")
		.modal-sm.modal-dialog.notify-container-fluid
			.modal-content(role="document")
				.modal-header
					button.close(type="button")
						span(aria-hidden="true") x
						span.sr-only
				.modal-body
					style.
						.text-sub {
							color: #57a8ff
						}
						.table-reject-trip {
						width: 100%;
						margin-bottom: 1rem;
						}
						.table-reject-trip h6 {
							font-size: 1rem;
							margin-bottom: .5rem;
						}
						.table-reject-trip .main-row, .table-reject-trip .row-reject {
						width: 100%;
						border-left: 1px solid #f3f4f6;
						}
						.table-reject-trip .main-row {
						border-top: 1px solid #eee;
						}
						.notify-popup--wrapper.noti-wallet .table-reject-trip .main-row p {
						font-weight: 700;
						font-size: 13px;
						}
						.notify-popup--wrapper.noti-wallet .table-reject-trip .row-reject p {
						font-size: 13px;
						}
						.table-reject-trip .w-60 {
						width: 30%;
						padding: 10px 5px;
						border-bottom: 1px solid #eee;
						border-right: 1px solid #f3f4f6;
						height: 40px;
						}
						.table-reject-trip .w-40 {
						width: 35%;
						padding: 10px 5px;
						border-bottom: 1px solid #eee;
						border-right: 1px solid #f3f4f6;
						height: 40px;
						}
						.table-reject-trip p {
						margin-bottom: 0;
						}
						.notify-container-fluid .notify-popup--wrapper {
							display: flex;
							flex-direction: column;
							width: 100%;
							border-radius: 0px;
						}
						.notify-popup--wrapper.noti-wallet .notify-head {
							text-align: center;
							padding: 20px;
							background: lemonchiffon;
						}
						.notify-popup--wrapper.noti-wallet .notify-head h5 {
							font-size: 1.25rem;
							font-weight: 600;
						}
						.notify-popup--wrapper.noti-wallet .notify-head p {
							font-size: 1rem;
						}
						.table-reject-trip span.text-sm, .notify-popup--wrapper.noti-wallet .notify-content p.text-sm {
							font-size: 12px;
						}
						.notify-popup--wrapper.noti-wallet .img-contain {
							text-align: center;
							padding: 10px 0;
						}
						.notify-popup--wrapper.noti-wallet img.img-fluid {
								width: 40%;
							}

						.notify-popup--wrapper.noti-wallet .notify-body {
							padding: 20px 1.5rem 1.5rem;
							width: 100%;
						}
						.notify-popup--wrapper.noti-wallet .notify-content {
							margin-bottom: 0;
						}
						.notify-popup--wrapper.noti-wallet .notify-content > div {
							margin-bottom: 1rem;
						}
						.notify-popup--wrapper.noti-wallet .notify-content ul {
							padding-left: 0;
						}
						.notify-popup--wrapper.noti-wallet .notify-content ul li {
							list-style: none;
							font-size: .925rem;
						}
						.notify-popup--wrapper.noti-wallet .notify-content h6 {
							margin-top: 1.5rem;
							margin-bottom: .75rem;
							font-weight: 500;
							text-align: center;
							font-size: 1rem;
						}
						.notify-popup--wrapper.noti-wallet .notify-content p {
							margin-bottom: .5rem;
							font-size: .925rem;
						}
						.notify-popup--wrapper.noti-wallet .notify-content p:last-child {
							margin-bottom: 0
						}
						.notify-popup--wrapper.noti-wallet .textAlign-center {
							margin-top: 1rem;
						}
						@media (max-width: 1199px) {
							.notify-popup--wrapper.noti-wallet img.img-fluid {
									width: 50%;
								}
						}

						@media (max-width: 576px) {
							.table-reject-trip .w-40, .table-reject-trip .w-60 {
							height: 60px;
							}
							.notify-popup--wrapper.noti-wallet img.img-fluid {
									width: 60%;
								}
							.notify-popup--wrapper.noti-wallet .notify-head p {
								font-size: .875rem;
							}
							.notify-popup--wrapper.noti-wallet .notify-body {
							padding: 15px 1rem;
							}
							.notify-popup--wrapper.noti-wallet .notify-content p {
							margin-bottom: .5rem;
							font-size: .875rem;
							}
							.notify-popup--wrapper.noti-wallet .notify-content ul li {
								font-size: .875rem;
							}
						}
					.notify-popup--wrapper.noti-wallet
						.notify-head
							.img-contain
								img(src="https://n1-cstg.mioto.vn/m/campaign/payment_2.png" class="img-fluid")
							h5 Rút tiền nhanh từ ví Mioto với thẻ Viettel Pay!
						.notify-body
							.notify-content
								p Mioto phối hợp cùng Viettel Pay triển khai tính năng rút tiền nhanh dành cho các đối tác chủ xe Mioto thông qua tài khoản ngân hàng số Viettel Pay, rút ngắn thời gian xử lí trong vòng 1 ngày và tiết kiệm phí giao dịch.
								h6 Tiện ích từ Mioto
								<div class="table-reject-trip">
									<div class="main-row d-flex">
										<div class="w-60">
											<p class="text-center"></p>
										</div>
										<div class="w-40">
											<p class="text-center">Viettel Pay</p>
										</div>
										<div class="w-40">
											<p class="text-center">Chuyển khoản Ngân hàng</p>
										</div>
									</div>
									<div class="row-reject d-flex">
										<div class="w-60">
											<p class="text-center">Thời gian xử lí</p>
										</div>
										<div class="w-40">
											<p class="text-center">1 ngày làm việc</p>
										</div>
											<div class="w-40">
												<p class="text-center">3 ngày làm việc</p>
											</div>
									</div>
									<div class="row-reject d-flex">
										<div class="w-60">
											<p class="text-center">Phí giao dịch</p>
										</div>
										<div class="w-40">
											<p class="text-center">3,000 VNĐ/giao dịch</p>
										</div>
											<div class="w-40">
												<p class="text-center">11,000 VNĐ/giao dịch</p>
											</div>
									</div>
								</div>
								h6 Ưu đãi khác từ Viettel Pay
								ul
									li 1. Miễn phí chuyển khoản đển 43 ngân hàng
									li 2. Miễn phí rút tiền tại tất cả ATM và 200.000 cửa hàng Viettel Pay trên toàn quốc
									li 3. Không duy trì phí tài khoản
									li 4. Chiết khấu 5% mua thẻ cào, nạp cước điện thoại
									li 5. Hơn 100+ tiện ích thanh toán và mua sắm trên Viettel Pay
								p
									| Tư vấn, cài đặt và mở tài khoản
									span.fontWeight-6 			miễn phí - tận nhà
									| 		bởi nhân viên Viettel.
								p Các chủ xe trên ứng dụng có thể đăng kí mở tài khoản ngân hàng số Viettel Pay trong Ví của tôi.
							.textAlign-center
								a.btn.btn--m.btn-primary(href="https://www.mioto.vn/mywallet") Xem ví của tôi
