block Modal
        

div(role="dialog")
  .modal-backdrop.fade.in
  .fade.modal.in(role="dialog", tabindex="-1", style="display:block")
    .modal-sm.modal-dialog.notify-container-fluid 
      .modal-content(role="document")
        .modal-header
          button.close(type="button")
            span(aria-hidden="true") x
            span.sr-only
        .modal-body
          style.
            .notify-container-fluid .notify-popup--wrapper {
              display: flex;
              flex-direction: column;
              width: 100%;
              border-radius: 5px;
            }
            .notify-popup--wrapper.bg-promo-8 .notify-head {
              position: relative;
              width: 100%;
            }
         
            
            .notify-popup--wrapper.bg-promo-8.bg-wday .notify-head .fix-img {
              padding-bottom: 75%;
              box-shadow: none;
              border-radius: 0;
            }
        
            .notify-popup--wrapper.bg-promo-8.bg-wday .notify-body {
                padding: 25px 5rem;
                width: 100%;
            }
            .notify-popup--wrapper.bg-wday .notify-content {
                margin-bottom: 0;
                text-align: center;
            }
            .notify-popup--wrapper.bg-promo-8 .notify-content p {
                margin-bottom: .5rem;
            }
      
            
            .notify-popup--wrapper.bg-promo-8.bg-wday .notify-content p > span.pink {
              color: #F25381;
              font-weight: bold;
            } 
           
            
            .notify-popup--wrapper.bg-promo-8 .notify-content .bar-line {
                width: 8vw; 
                height: 3px; 
                background: #FFC087; 
                margin: 0 auto 1rem;
            }
          
           
            @media (max-width: 576px) {
               .notify-popup--wrapper.bg-promo-8.bg-wday .notify-body {
                padding: 15px 3rem;
              
            }
            
        
            }
          .notify-popup--wrapper.bg-promo-8.bg-wday
            .notify-head
              .fix-img 
                  img(src="https://i.imgur.com/jEguAcp.jpg" class="img-fluid" style="width: 100%;")
            .notify-body
              .notify-content
                p
                  | Nhân Ngày 
                  span.pink Phụ Nữ Việt Nam 20-10 
                  strong MIOTO 
                  | chúc một nửa Thế Giới luôn hạnh phúc và thành công trong cuộc sống! Và chúc bạn luôn duyên dáng và xinh đẹp trong mắt một nửa Thế giới còn lại.
                p.textAlign-right 
                  strong Mioto Team 

          
          