block Search Withdriver Dropdown

.wd__sect.wd-search__box
	.wd-search__wrap
		button(type="button").close ×
		.form-search.location.has-placeholder
			//- .d-flex.opt-city-tour
			//- 	label.home-label Lộ trình
			//- 	.line-radio.d-flex
			//- 		label.custom-radio.custom-control
			//- 			input(type="radio" name="setting-mode" class="custom-control-input")
			//- 			span.custom-control-indicator
			//- 			span.custom-control-description
			//- 				|Nội thành
			//- 		label.custom-radio.custom-control
			//- 			input(type="radio" name="setting-mode" class="custom-control-input")
			//- 			span.custom-control-indicator
			//- 			span.custom-control-description
			//- 				|Liên tỉnh
			.map-route
				.fix-map
					img(src="images/map@2x.png" class="map")
			.tab-opt-route
				a(href="#!" class="opt-route")
					| Nội thành
				a(href="#!" class="opt-route active")
					| Liên tỉnh
			label.home-label Lộ trình
			.wrap-input
				i.ic.ic-location-f
				div
					input( type="text" placeholder="Nhập thành phố, quận, địa chỉ...")
			.wrap-input
				i.ic.ic-sm-circle-fill
				div
					input( type="text" placeholder="Thêm lộ trình")
				i.ic.ic-remove-fill
			.wrap-input
				i.ic.ic-sm-circle-fill
				div
					input( type="text" placeholder="....")
				i.ic.ic-remove-fill
			.wrap-input
				i.ic.ic-location-f
				div
					input( type="text" placeholder="...")
			.wrap-input.add-address
				i.ic.ic-plus-fill
				span Thêm điểm nếu đi xa
		.form-search.total-addr
			label.home-label.w-2 Tổng số km
			span.total 1000km

		.fn-search
			a(href="!#").btn.btn--m.btn-primary.btn-search-car
				span TÌM KIẾM
