//- For owner setting
block Header Owner Settings

.sidebar-control.z-2
	.sidebar-settings.general-settings
		ul
			li
				a(href="list_cars.html")
					i.ic.ic-cars
					span.label Danh sách xe
			li
				a(href="manage_cars.html")
					i.ic.ic-setting-calendar
					span.label Lịch chung
			li
				a(href="tracking_cars.html")
					i.ic.ic-gps
					span.label
						| GPS
					sup.new-func BETA
			li
				a(href="#!")
					i.ic.ic-plus-black
					span.label Đăng ký xe
			li
				a(href="#!")
					img(src="images/ic-png/ic-hopdongmau-black.png")
					span.label Hợp đồng mẫu
			li
				a(href="owner_report.html")
					i.ic.ic-owner-wallet
					span.label Số dư:
						span.fontWeight-6.font-16 462,000

