block Info Car

.module-settings
	.info-car.status-trips
		.swiper-button-next
			i.i-arr
		.swiper-button-prev
			i.i-arr
		.info-img
			.fix-img
				img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/chervolet_cruze_2016/p/g/2017/11/27/13/2370.jpg" alt=page)
			p.status
				span.status.green-dot
				|Chờ duyệt
			.switch-on-off.show-on-small
				input#cb1.switch-input(type = "checkbox")
				label.switch-label(for = "cb1")
			.info-desc.show-on-small
				.group-name
					h1.title-car CHERVOLET CRUZE 2016
					span.star
						//- span.star_rate-num 5
						//- 	i.full
						i.full
						i.full
						i.half
						i
						i
					.mode-renting.group-name
						.mode-btn-group.control-group
							.controls
								input(type="checkbox" name="optsMode1" id="selfDrive" value="selfdrive" checked="checked")
								label.mode-label(for="optsMode1") Tự lái
							.controls
								input(type="checkbox" name="optsMode2" id="withDriver" value="withdriver")
								label.mode-label(for="optsMode2") Có tài


		.info-desc.hide-on-small
			.group-name
				span.lstitle DÒNG XE
				.info-desc__title
					h1.title-car CHERVOLET CRUZE 2016
					span.star
						span.star_rate-num 5
							i.full
			.space.m
			.mode-renting.group-name
				span.lstitle CHẾ ĐỘ CHO THUÊ
				.mode-btn-group.control-group
					.controls
						input(type="checkbox" name="optsMode1" id="selfDrive" value="selfdrive" checked="checked")
						label.mode-label(for="optsMode1") Tự lái
					.controls
						input(type="checkbox" name="optsMode2" id="withDriver" value="withdriver")
						label.mode-label(for="optsMode2") Có tài
			.space.m
			a.btn.btn-primary.btn--m.hide-on-small Ẩn xe
	.clear