block PC sidebar
.sidebar.sidebar-settings.hide-on-med-and-down
	ul
		li.heading
			p THÔNG TIN CHUNG
		li
			a.active(href="setting_details.html")
				i.ic.ic-infomation
				|Thông tin
		li
			a(href="setting_photos.html")
				i.ic.ic-photo
				|Hình ảnh
		li
			a(href="setting_locations.html")
				i.ic.ic-license
				|Giấy tờ
		li
			a(href="setting_history.html")
				i.ic.ic-management
				|Quản lý chuyến
		li
			a(href="setting_tracking.html ")
				i.ic.ic-gps
				|Định vị xe
		li.heading
			p CHO THUÊ TỰ LÁI
			span.status
				span.status.orange-dot
				|Đang chờ duyệt
		ul
			//- li
			//- 	a(href="setting_references.html")
			//- 		i.ic.ic-setting-rent
			//- 		|Cài đặt cho thuê
			li
				a(href="setting_pricing.html")
					i.ic.ic-setting-price
					|Cài đặt giá
			li
				a(href="setting_calendar.html ")
					i.ic.ic-setting-calendar
					|Cài đặt lịch
			li
				a(href="")
					i.ic.ic-thunderbolt
					|Đặt xe nhanh
			li
				a(href="")
					i.ic.ic-delivery
					|Hỗ trợ giao xe tận nơi
			li
				a(href="")
					i.ic.ic-policy
					|Thủ tục cho thuê
		li.heading
			p CHO THUÊ CÓ TÀI
			span.status
				span.status.orange-dot
				|Đang chờ duyệt
		ul
			//- li
			//- 	a(href="setting_references.html")
			//- 		i.ic.ic-setting-rent
			//- 		|Cài đặt cho thuê
			li
				a(href="setting_pricing.html")
					i.ic.ic-setting-price
					|Cài đặt giá
			li
				a(href="setting_calendar.html ")
					i.ic.ic-setting-calendar
					|Cài đặt lịch
			li
				a(href="")
					i.ic.ic-thunderbolt
					|Đặt xe nhanh
			li
				a(href="")
					i.ic.ic-delivery
					|Hỗ trợ đưa đón tận nơi
			li
				a(href="")
					i.ic.ic-policy
					|Thủ tục cho thuê