.sidebar-settings.show-on-med-and-down
    ul
        li
            a(href="setting_details.html")
                i.ic.ic-infomation
        li
            a(href="setting_photos.html")
                i.ic.ic-photo
        li
            a(href="setting_locations.html")
                i.ic.ic-license
                span.has-reddot
        li
            a(href="setting_references.html")
                i.ic.ic-mortgages
        li
            a(href="setting_references.html")
                i.ic.ic-setting-rent
        li
            a(href="setting_pricing.html")
                i.ic.ic-setting-price
        li
            a.active(href="setting_calendar.html")
                i.ic.ic-setting-calendar
        li
            a(href="setting_history.html")
                i.ic.ic-management
        li
            a(href="setting_tracking.html")
                i.ic.ic-gps