block SideBar Setting

.sidebar-settings.show-on-med-and-down
	ul
		li
			a(href="setting_details.html")
				i.ic.ic-infomation
		li
			a(href="setting_pricing.html")
				i.ic.ic-photo
		li
			a(href="setting_locations.html")
				i.ic.ic-license
		li
			a(href="setting_tracking.html ")
				i.ic.ic-gps
		li
			a(href="setting_vehicle.html")
				i.ic.ic-management
		li
			.sd-settings.open
				i.ic.ic-sd-notif
				.bg-overlay.dropdown
				.dropdown-menu
					span.status
						span.status.orange-dot
						|Đang chờ duyệt
					ul.sub-menu.flex-column
						li
							a(href="setting_pricing.html")
								i.ic.ic-setting-price
								|Cài đặt giá
						li
							a(href="setting_calendar.html ")
								i.ic.ic-setting-calendar
								|Cài đặt lịch
						li
							a(href="")
								i.ic.ic-thunderbolt
								|Đặt xe nhanh
						li
							a(href="")
								i.ic.ic-delivery
								|Hỗ trợ giao xe tận nơi
						li
							a(href="")
								i.ic.ic-policy
								|Thủ tục cho thuê
		li
			.wd-settings
				i.ic.ic-wd-notif
				.dropdown-menu


