block Header Container

.header-container
	.header-icon
		.js-toggle-right-slidebar.js-menu-mobile
			.trigger-menu
				span.three-bars-icon
		a.item-app.no-lg.show-on-med-and-down(href="#!")
			i.ic.ic-info-wh
	.logo-container
		//- .hat
		//- 	img(src="images/decorations/logo-spring-2.png" class="img-fluid")
		a(href="index.html") #{page}
	.info-container
		span 
			i.ic.ic-phone
			a(href="tel:1900 9217") 1900 9217
		span
			i.ic.ic-email
			| mioto@support.com
		span
			i.ic.ic-messenger
			a(href="https://www.messenger.com/t/mioto.vn" target="_blank") Facebook
	.menu-container
		ul
			li.has-magr
				a(title="" href="#!") <i class="ic ic-info-wh"></i> Learn More
			li
				a(title="" href="#!") Sign In
			li
				a.btn.btn-transparent.btn--m(title="" href="#!") Sign Up
	.clear
	//- .flower-spring
	//- 	.snow.snowflake.five.scale-4
	//- 		img(src="images/decorations/leaf-1.svg" class="img-fluid")
	//- 	.snow.snowflake.four.scale-5
	//- 		img(src="images/decorations/leaf-2.svg" class="img-fluid")
	//- 	.snow.snowflake.two.scale-2
	//- 		img(src="images/decorations/leaf-3.svg" class="img-fluid")
	//- 	.snow.snowflake.three.scale-6
	//- 		img(src="images/decorations/leaf-4.svg" class="img-fluid")
	//- 	.snow.snowflake.five.scale-4
	//- 		img(src="images/decorations/leaf-2.svg" class="img-fluid")
	//- 	.snow.snowflake.one.scale-3
	//- 		img(src="images/decorations/leaf-4.svg" class="img-fluid")
	//- 	.snow.snowflake.two.scale-1
	//- 		img(src="images/decorations/leaf-1.svg" class="img-fluid")
	//- 	.snow.snowflake.five.scale-4
	//- 		img(src="images/decorations/leaf-3.svg" class="img-fluid")
	//- 	.snow.snowflake.six.scale-2
	//- 		img(src="images/decorations/leaf-4.svg" class="img-fluid")
	//- 	.snow.snowflake.six.scale-4
	//- 		img(src="images/decorations/leaf-1.svg" class="img-fluid")
	//- 	.snow.snowflake.two.scale-1
	//- 		img(src="images/decorations/leaf-3.svg" class="img-fluid")
	//- 	.snow.snowflake.five.scale-4
	//- 		img(src="images/decorations/leaf-2.svg" class="img-fluid")
	//- .santa-claus
	//- 	img(src="images/homev2/noel.png" class="img-fluid")

	//- christmas
	//- .chrismast-snow
	//- 	.snow.snowflake.six.scale-1
	//- 		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" style="transform: scale(.8)">
	//- 			<path fill="#fff" d="M30.318 21.56l-0.534-1.999-3.81 1.017-3.223-1.866 4.010-1.764v-1.896l-4.010-1.764 3.223-1.866 3.81 1.017 0.534-1.999-1.811-0.482 1.859-1.075-1.039-1.79-1.855 1.074 0.483-1.81-1.999-0.533-1.017 3.809-3.214 1.857 0.472-4.334-1.638-0.948-3.529 2.582v-3.716l2.788-2.786-1.462-1.466-1.326 1.326v-2.145h-2.067v2.145l-1.326-1.326-1.463 1.466 2.788 2.786v3.716l-3.529-2.582-1.638 0.948 0.473 4.334-3.214-1.856-1.017-3.809-1.998 0.533 0.483 1.81-1.855-1.074-1.036 1.79 1.855 1.075-1.81 0.482 0.534 1.999 3.81-1.017 3.223 1.866-4.010 1.764v1.896l4.010 1.764-3.223 1.866-3.809-1.017-0.534 1.999 1.81 0.482-1.855 1.075 1.036 1.791 1.855-1.073-0.483 1.809 1.999 0.534 1.017-3.81 3.214-1.857-0.473 4.335 1.638 0.948 3.529-2.582v3.717l-2.788 2.785 1.463 1.466 1.326-1.325v2.146h2.067v-2.146l1.326 1.325 1.462-1.466-2.789-2.785v-3.717l3.529 2.582 1.638-0.948-0.472-4.335 3.214 1.857 1.017 3.81 1.999-0.534-0.483-1.809 1.855 1.073 1.039-1.791-1.859-1.075 1.811-0.483zM23.777 16l-3.243 1.429-2.472-1.429 2.472-1.428 3.243 1.428zM19.887 9.262l-0.382 3.512-2.474 1.433v-2.853l2.856-2.092zM12.109 9.262l2.856 2.092v2.853l-2.474-1.433-0.381-3.512zM8.219 16l3.243-1.428 2.472 1.428-2.472 1.429-3.243-1.429zM12.109 22.738l0.381-3.512 2.474-1.433v2.853l-2.856 2.092zM19.887 22.738l-2.856-2.092v-2.853l2.474 1.433 0.382 3.512z"></path>
	//- 		</svg>
	//- 	.snow.snowflake.two.scale-2
	//- 		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30px">
	//- 			<path fill="#fff" d="M30.318 21.56l-0.534-1.999-3.81 1.017-3.223-1.866 4.010-1.764v-1.896l-4.010-1.764 3.223-1.866 3.81 1.017 0.534-1.999-1.811-0.482 1.859-1.075-1.039-1.79-1.855 1.074 0.483-1.81-1.999-0.533-1.017 3.809-3.214 1.857 0.472-4.334-1.638-0.948-3.529 2.582v-3.716l2.788-2.786-1.462-1.466-1.326 1.326v-2.145h-2.067v2.145l-1.326-1.326-1.463 1.466 2.788 2.786v3.716l-3.529-2.582-1.638 0.948 0.473 4.334-3.214-1.856-1.017-3.809-1.998 0.533 0.483 1.81-1.855-1.074-1.036 1.79 1.855 1.075-1.81 0.482 0.534 1.999 3.81-1.017 3.223 1.866-4.010 1.764v1.896l4.010 1.764-3.223 1.866-3.809-1.017-0.534 1.999 1.81 0.482-1.855 1.075 1.036 1.791 1.855-1.073-0.483 1.809 1.999 0.534 1.017-3.81 3.214-1.857-0.473 4.335 1.638 0.948 3.529-2.582v3.717l-2.788 2.785 1.463 1.466 1.326-1.325v2.146h2.067v-2.146l1.326 1.325 1.462-1.466-2.789-2.785v-3.717l3.529 2.582 1.638-0.948-0.472-4.335 3.214 1.857 1.017 3.81 1.999-0.534-0.483-1.809 1.855 1.073 1.039-1.791-1.859-1.075 1.811-0.483zM23.777 16l-3.243 1.429-2.472-1.429 2.472-1.428 3.243 1.428zM19.887 9.262l-0.382 3.512-2.474 1.433v-2.853l2.856-2.092zM12.109 9.262l2.856 2.092v2.853l-2.474-1.433-0.381-3.512zM8.219 16l3.243-1.428 2.472 1.428-2.472 1.429-3.243-1.429zM12.109 22.738l0.381-3.512 2.474-1.433v2.853l-2.856 2.092zM19.887 22.738l-2.856-2.092v-2.853l2.474 1.433 0.382 3.512z"></path>
	//- 		</svg>
	//- 	.snow.snowflake.five.scale-4
	//- 		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30px">
	//- 			<path fill="#fff" d="M30.318 21.56l-0.534-1.999-3.81 1.017-3.223-1.866 4.010-1.764v-1.896l-4.010-1.764 3.223-1.866 3.81 1.017 0.534-1.999-1.811-0.482 1.859-1.075-1.039-1.79-1.855 1.074 0.483-1.81-1.999-0.533-1.017 3.809-3.214 1.857 0.472-4.334-1.638-0.948-3.529 2.582v-3.716l2.788-2.786-1.462-1.466-1.326 1.326v-2.145h-2.067v2.145l-1.326-1.326-1.463 1.466 2.788 2.786v3.716l-3.529-2.582-1.638 0.948 0.473 4.334-3.214-1.856-1.017-3.809-1.998 0.533 0.483 1.81-1.855-1.074-1.036 1.79 1.855 1.075-1.81 0.482 0.534 1.999 3.81-1.017 3.223 1.866-4.010 1.764v1.896l4.010 1.764-3.223 1.866-3.809-1.017-0.534 1.999 1.81 0.482-1.855 1.075 1.036 1.791 1.855-1.073-0.483 1.809 1.999 0.534 1.017-3.81 3.214-1.857-0.473 4.335 1.638 0.948 3.529-2.582v3.717l-2.788 2.785 1.463 1.466 1.326-1.325v2.146h2.067v-2.146l1.326 1.325 1.462-1.466-2.789-2.785v-3.717l3.529 2.582 1.638-0.948-0.472-4.335 3.214 1.857 1.017 3.81 1.999-0.534-0.483-1.809 1.855 1.073 1.039-1.791-1.859-1.075 1.811-0.483zM23.777 16l-3.243 1.429-2.472-1.429 2.472-1.428 3.243 1.428zM19.887 9.262l-0.382 3.512-2.474 1.433v-2.853l2.856-2.092zM12.109 9.262l2.856 2.092v2.853l-2.474-1.433-0.381-3.512zM8.219 16l3.243-1.428 2.472 1.428-2.472 1.429-3.243-1.429zM12.109 22.738l0.381-3.512 2.474-1.433v2.853l-2.856 2.092zM19.887 22.738l-2.856-2.092v-2.853l2.474 1.433 0.382 3.512z"></path>
	//- 		</svg>
	//- 	.snow.snowflake.one.scale-3
	//- 		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30px">
	//- 			<path fill="#fff" d="M30.318 21.56l-0.534-1.999-3.81 1.017-3.223-1.866 4.010-1.764v-1.896l-4.010-1.764 3.223-1.866 3.81 1.017 0.534-1.999-1.811-0.482 1.859-1.075-1.039-1.79-1.855 1.074 0.483-1.81-1.999-0.533-1.017 3.809-3.214 1.857 0.472-4.334-1.638-0.948-3.529 2.582v-3.716l2.788-2.786-1.462-1.466-1.326 1.326v-2.145h-2.067v2.145l-1.326-1.326-1.463 1.466 2.788 2.786v3.716l-3.529-2.582-1.638 0.948 0.473 4.334-3.214-1.856-1.017-3.809-1.998 0.533 0.483 1.81-1.855-1.074-1.036 1.79 1.855 1.075-1.81 0.482 0.534 1.999 3.81-1.017 3.223 1.866-4.010 1.764v1.896l4.010 1.764-3.223 1.866-3.809-1.017-0.534 1.999 1.81 0.482-1.855 1.075 1.036 1.791 1.855-1.073-0.483 1.809 1.999 0.534 1.017-3.81 3.214-1.857-0.473 4.335 1.638 0.948 3.529-2.582v3.717l-2.788 2.785 1.463 1.466 1.326-1.325v2.146h2.067v-2.146l1.326 1.325 1.462-1.466-2.789-2.785v-3.717l3.529 2.582 1.638-0.948-0.472-4.335 3.214 1.857 1.017 3.81 1.999-0.534-0.483-1.809 1.855 1.073 1.039-1.791-1.859-1.075 1.811-0.483zM23.777 16l-3.243 1.429-2.472-1.429 2.472-1.428 3.243 1.428zM19.887 9.262l-0.382 3.512-2.474 1.433v-2.853l2.856-2.092zM12.109 9.262l2.856 2.092v2.853l-2.474-1.433-0.381-3.512zM8.219 16l3.243-1.428 2.472 1.428-2.472 1.429-3.243-1.429zM12.109 22.738l0.381-3.512 2.474-1.433v2.853l-2.856 2.092zM19.887 22.738l-2.856-2.092v-2.853l2.474 1.433 0.382 3.512z"></path>
	//- 		</svg>
	//- 	.snow.snowflake.two.scale-1
	//- 		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30px">
	//- 			<path fill="#fff" d="M30.318 21.56l-0.534-1.999-3.81 1.017-3.223-1.866 4.010-1.764v-1.896l-4.010-1.764 3.223-1.866 3.81 1.017 0.534-1.999-1.811-0.482 1.859-1.075-1.039-1.79-1.855 1.074 0.483-1.81-1.999-0.533-1.017 3.809-3.214 1.857 0.472-4.334-1.638-0.948-3.529 2.582v-3.716l2.788-2.786-1.462-1.466-1.326 1.326v-2.145h-2.067v2.145l-1.326-1.326-1.463 1.466 2.788 2.786v3.716l-3.529-2.582-1.638 0.948 0.473 4.334-3.214-1.856-1.017-3.809-1.998 0.533 0.483 1.81-1.855-1.074-1.036 1.79 1.855 1.075-1.81 0.482 0.534 1.999 3.81-1.017 3.223 1.866-4.010 1.764v1.896l4.010 1.764-3.223 1.866-3.809-1.017-0.534 1.999 1.81 0.482-1.855 1.075 1.036 1.791 1.855-1.073-0.483 1.809 1.999 0.534 1.017-3.81 3.214-1.857-0.473 4.335 1.638 0.948 3.529-2.582v3.717l-2.788 2.785 1.463 1.466 1.326-1.325v2.146h2.067v-2.146l1.326 1.325 1.462-1.466-2.789-2.785v-3.717l3.529 2.582 1.638-0.948-0.472-4.335 3.214 1.857 1.017 3.81 1.999-0.534-0.483-1.809 1.855 1.073 1.039-1.791-1.859-1.075 1.811-0.483zM23.777 16l-3.243 1.429-2.472-1.429 2.472-1.428 3.243 1.428zM19.887 9.262l-0.382 3.512-2.474 1.433v-2.853l2.856-2.092zM12.109 9.262l2.856 2.092v2.853l-2.474-1.433-0.381-3.512zM8.219 16l3.243-1.428 2.472 1.428-2.472 1.429-3.243-1.429zM12.109 22.738l0.381-3.512 2.474-1.433v2.853l-2.856 2.092zM19.887 22.738l-2.856-2.092v-2.853l2.474 1.433 0.382 3.512z"></path>
	//- 		</svg>
	//- 	.snow.snowflake.four.scale-3
	//- 		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30px">
	//- 			<path fill="#fff" d="M30.318 21.56l-0.534-1.999-3.81 1.017-3.223-1.866 4.010-1.764v-1.896l-4.010-1.764 3.223-1.866 3.81 1.017 0.534-1.999-1.811-0.482 1.859-1.075-1.039-1.79-1.855 1.074 0.483-1.81-1.999-0.533-1.017 3.809-3.214 1.857 0.472-4.334-1.638-0.948-3.529 2.582v-3.716l2.788-2.786-1.462-1.466-1.326 1.326v-2.145h-2.067v2.145l-1.326-1.326-1.463 1.466 2.788 2.786v3.716l-3.529-2.582-1.638 0.948 0.473 4.334-3.214-1.856-1.017-3.809-1.998 0.533 0.483 1.81-1.855-1.074-1.036 1.79 1.855 1.075-1.81 0.482 0.534 1.999 3.81-1.017 3.223 1.866-4.010 1.764v1.896l4.010 1.764-3.223 1.866-3.809-1.017-0.534 1.999 1.81 0.482-1.855 1.075 1.036 1.791 1.855-1.073-0.483 1.809 1.999 0.534 1.017-3.81 3.214-1.857-0.473 4.335 1.638 0.948 3.529-2.582v3.717l-2.788 2.785 1.463 1.466 1.326-1.325v2.146h2.067v-2.146l1.326 1.325 1.462-1.466-2.789-2.785v-3.717l3.529 2.582 1.638-0.948-0.472-4.335 3.214 1.857 1.017 3.81 1.999-0.534-0.483-1.809 1.855 1.073 1.039-1.791-1.859-1.075 1.811-0.483zM23.777 16l-3.243 1.429-2.472-1.429 2.472-1.428 3.243 1.428zM19.887 9.262l-0.382 3.512-2.474 1.433v-2.853l2.856-2.092zM12.109 9.262l2.856 2.092v2.853l-2.474-1.433-0.381-3.512zM8.219 16l3.243-1.428 2.472 1.428-2.472 1.429-3.243-1.429zM12.109 22.738l0.381-3.512 2.474-1.433v2.853l-2.856 2.092zM19.887 22.738l-2.856-2.092v-2.853l2.474 1.433 0.382 3.512z"></path>
	//- 		</svg>
	//- 	.snow.snowflake.two.scale-2
	//- 		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="230" height="30px">
	//- 			<path fill="#fff" d="M30.318 21.56l-0.534-1.999-3.81 1.017-3.223-1.866 4.010-1.764v-1.896l-4.010-1.764 3.223-1.866 3.81 1.017 0.534-1.999-1.811-0.482 1.859-1.075-1.039-1.79-1.855 1.074 0.483-1.81-1.999-0.533-1.017 3.809-3.214 1.857 0.472-4.334-1.638-0.948-3.529 2.582v-3.716l2.788-2.786-1.462-1.466-1.326 1.326v-2.145h-2.067v2.145l-1.326-1.326-1.463 1.466 2.788 2.786v3.716l-3.529-2.582-1.638 0.948 0.473 4.334-3.214-1.856-1.017-3.809-1.998 0.533 0.483 1.81-1.855-1.074-1.036 1.79 1.855 1.075-1.81 0.482 0.534 1.999 3.81-1.017 3.223 1.866-4.010 1.764v1.896l4.010 1.764-3.223 1.866-3.809-1.017-0.534 1.999 1.81 0.482-1.855 1.075 1.036 1.791 1.855-1.073-0.483 1.809 1.999 0.534 1.017-3.81 3.214-1.857-0.473 4.335 1.638 0.948 3.529-2.582v3.717l-2.788 2.785 1.463 1.466 1.326-1.325v2.146h2.067v-2.146l1.326 1.325 1.462-1.466-2.789-2.785v-3.717l3.529 2.582 1.638-0.948-0.472-4.335 3.214 1.857 1.017 3.81 1.999-0.534-0.483-1.809 1.855 1.073 1.039-1.791-1.859-1.075 1.811-0.483zM23.777 16l-3.243 1.429-2.472-1.429 2.472-1.428 3.243 1.428zM19.887 9.262l-0.382 3.512-2.474 1.433v-2.853l2.856-2.092zM12.109 9.262l2.856 2.092v2.853l-2.474-1.433-0.381-3.512zM8.219 16l3.243-1.428 2.472 1.428-2.472 1.429-3.243-1.429zM12.109 22.738l0.381-3.512 2.474-1.433v2.853l-2.856 2.092zM19.887 22.738l-2.856-2.092v-2.853l2.474 1.433 0.382 3.512z"></path>
	//- 		</svg>
	//- 	.snow.snowflake.six.scale-5
	//- 		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30px">
	//- 			<path fill="#fff" d="M30.318 21.56l-0.534-1.999-3.81 1.017-3.223-1.866 4.010-1.764v-1.896l-4.010-1.764 3.223-1.866 3.81 1.017 0.534-1.999-1.811-0.482 1.859-1.075-1.039-1.79-1.855 1.074 0.483-1.81-1.999-0.533-1.017 3.809-3.214 1.857 0.472-4.334-1.638-0.948-3.529 2.582v-3.716l2.788-2.786-1.462-1.466-1.326 1.326v-2.145h-2.067v2.145l-1.326-1.326-1.463 1.466 2.788 2.786v3.716l-3.529-2.582-1.638 0.948 0.473 4.334-3.214-1.856-1.017-3.809-1.998 0.533 0.483 1.81-1.855-1.074-1.036 1.79 1.855 1.075-1.81 0.482 0.534 1.999 3.81-1.017 3.223 1.866-4.010 1.764v1.896l4.010 1.764-3.223 1.866-3.809-1.017-0.534 1.999 1.81 0.482-1.855 1.075 1.036 1.791 1.855-1.073-0.483 1.809 1.999 0.534 1.017-3.81 3.214-1.857-0.473 4.335 1.638 0.948 3.529-2.582v3.717l-2.788 2.785 1.463 1.466 1.326-1.325v2.146h2.067v-2.146l1.326 1.325 1.462-1.466-2.789-2.785v-3.717l3.529 2.582 1.638-0.948-0.472-4.335 3.214 1.857 1.017 3.81 1.999-0.534-0.483-1.809 1.855 1.073 1.039-1.791-1.859-1.075 1.811-0.483zM23.777 16l-3.243 1.429-2.472-1.429 2.472-1.428 3.243 1.428zM19.887 9.262l-0.382 3.512-2.474 1.433v-2.853l2.856-2.092zM12.109 9.262l2.856 2.092v2.853l-2.474-1.433-0.381-3.512zM8.219 16l3.243-1.428 2.472 1.428-2.472 1.429-3.243-1.429zM12.109 22.738l0.381-3.512 2.474-1.433v2.853l-2.856 2.092zM19.887 22.738l-2.856-2.092v-2.853l2.474 1.433 0.382 3.512z"></path>
	//- 		</svg>
	//- 	.snow.snowflake.three.scale-4
	//- 		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30px">
	//- 			<path fill="#fff" d="M30.318 21.56l-0.534-1.999-3.81 1.017-3.223-1.866 4.010-1.764v-1.896l-4.010-1.764 3.223-1.866 3.81 1.017 0.534-1.999-1.811-0.482 1.859-1.075-1.039-1.79-1.855 1.074 0.483-1.81-1.999-0.533-1.017 3.809-3.214 1.857 0.472-4.334-1.638-0.948-3.529 2.582v-3.716l2.788-2.786-1.462-1.466-1.326 1.326v-2.145h-2.067v2.145l-1.326-1.326-1.463 1.466 2.788 2.786v3.716l-3.529-2.582-1.638 0.948 0.473 4.334-3.214-1.856-1.017-3.809-1.998 0.533 0.483 1.81-1.855-1.074-1.036 1.79 1.855 1.075-1.81 0.482 0.534 1.999 3.81-1.017 3.223 1.866-4.010 1.764v1.896l4.010 1.764-3.223 1.866-3.809-1.017-0.534 1.999 1.81 0.482-1.855 1.075 1.036 1.791 1.855-1.073-0.483 1.809 1.999 0.534 1.017-3.81 3.214-1.857-0.473 4.335 1.638 0.948 3.529-2.582v3.717l-2.788 2.785 1.463 1.466 1.326-1.325v2.146h2.067v-2.146l1.326 1.325 1.462-1.466-2.789-2.785v-3.717l3.529 2.582 1.638-0.948-0.472-4.335 3.214 1.857 1.017 3.81 1.999-0.534-0.483-1.809 1.855 1.073 1.039-1.791-1.859-1.075 1.811-0.483zM23.777 16l-3.243 1.429-2.472-1.429 2.472-1.428 3.243 1.428zM19.887 9.262l-0.382 3.512-2.474 1.433v-2.853l2.856-2.092zM12.109 9.262l2.856 2.092v2.853l-2.474-1.433-0.381-3.512zM8.219 16l3.243-1.428 2.472 1.428-2.472 1.429-3.243-1.429zM12.109 22.738l0.381-3.512 2.474-1.433v2.853l-2.856 2.092zM19.887 22.738l-2.856-2.092v-2.853l2.474 1.433 0.382 3.512z"></path>
	//- 		</svg>
	//- 	.snow.snowflake.one.scale-1
	//- 		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px">
	//- 			<path fill="#fff" d="M30.318 21.56l-0.534-1.999-3.81 1.017-3.223-1.866 4.010-1.764v-1.896l-4.010-1.764 3.223-1.866 3.81 1.017 0.534-1.999-1.811-0.482 1.859-1.075-1.039-1.79-1.855 1.074 0.483-1.81-1.999-0.533-1.017 3.809-3.214 1.857 0.472-4.334-1.638-0.948-3.529 2.582v-3.716l2.788-2.786-1.462-1.466-1.326 1.326v-2.145h-2.067v2.145l-1.326-1.326-1.463 1.466 2.788 2.786v3.716l-3.529-2.582-1.638 0.948 0.473 4.334-3.214-1.856-1.017-3.809-1.998 0.533 0.483 1.81-1.855-1.074-1.036 1.79 1.855 1.075-1.81 0.482 0.534 1.999 3.81-1.017 3.223 1.866-4.010 1.764v1.896l4.010 1.764-3.223 1.866-3.809-1.017-0.534 1.999 1.81 0.482-1.855 1.075 1.036 1.791 1.855-1.073-0.483 1.809 1.999 0.534 1.017-3.81 3.214-1.857-0.473 4.335 1.638 0.948 3.529-2.582v3.717l-2.788 2.785 1.463 1.466 1.326-1.325v2.146h2.067v-2.146l1.326 1.325 1.462-1.466-2.789-2.785v-3.717l3.529 2.582 1.638-0.948-0.472-4.335 3.214 1.857 1.017 3.81 1.999-0.534-0.483-1.809 1.855 1.073 1.039-1.791-1.859-1.075 1.811-0.483zM23.777 16l-3.243 1.429-2.472-1.429 2.472-1.428 3.243 1.428zM19.887 9.262l-0.382 3.512-2.474 1.433v-2.853l2.856-2.092zM12.109 9.262l2.856 2.092v2.853l-2.474-1.433-0.381-3.512zM8.219 16l3.243-1.428 2.472 1.428-2.472 1.429-3.243-1.429zM12.109 22.738l0.381-3.512 2.474-1.433v2.853l-2.856 2.092zM19.887 22.738l-2.856-2.092v-2.853l2.474 1.433 0.382 3.512z"></path>
	//- 		</svg>
	//- 	.snow.snowflake.four.scale-3
	//- 		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px">
	//- 			<path fill="#fff" d="M30.318 21.56l-0.534-1.999-3.81 1.017-3.223-1.866 4.010-1.764v-1.896l-4.010-1.764 3.223-1.866 3.81 1.017 0.534-1.999-1.811-0.482 1.859-1.075-1.039-1.79-1.855 1.074 0.483-1.81-1.999-0.533-1.017 3.809-3.214 1.857 0.472-4.334-1.638-0.948-3.529 2.582v-3.716l2.788-2.786-1.462-1.466-1.326 1.326v-2.145h-2.067v2.145l-1.326-1.326-1.463 1.466 2.788 2.786v3.716l-3.529-2.582-1.638 0.948 0.473 4.334-3.214-1.856-1.017-3.809-1.998 0.533 0.483 1.81-1.855-1.074-1.036 1.79 1.855 1.075-1.81 0.482 0.534 1.999 3.81-1.017 3.223 1.866-4.010 1.764v1.896l4.010 1.764-3.223 1.866-3.809-1.017-0.534 1.999 1.81 0.482-1.855 1.075 1.036 1.791 1.855-1.073-0.483 1.809 1.999 0.534 1.017-3.81 3.214-1.857-0.473 4.335 1.638 0.948 3.529-2.582v3.717l-2.788 2.785 1.463 1.466 1.326-1.325v2.146h2.067v-2.146l1.326 1.325 1.462-1.466-2.789-2.785v-3.717l3.529 2.582 1.638-0.948-0.472-4.335 3.214 1.857 1.017 3.81 1.999-0.534-0.483-1.809 1.855 1.073 1.039-1.791-1.859-1.075 1.811-0.483zM23.777 16l-3.243 1.429-2.472-1.429 2.472-1.428 3.243 1.428zM19.887 9.262l-0.382 3.512-2.474 1.433v-2.853l2.856-2.092zM12.109 9.262l2.856 2.092v2.853l-2.474-1.433-0.381-3.512zM8.219 16l3.243-1.428 2.472 1.428-2.472 1.429-3.243-1.429zM12.109 22.738l0.381-3.512 2.474-1.433v2.853l-2.856 2.092zM19.887 22.738l-2.856-2.092v-2.853l2.474 1.433 0.382 3.512z"></path>
	//- 		</svg>
	//- 	.snow.snowflake.five.scale-5
	//- 		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px">
	//- 			<path fill="#fff" d="M30.318 21.56l-0.534-1.999-3.81 1.017-3.223-1.866 4.010-1.764v-1.896l-4.010-1.764 3.223-1.866 3.81 1.017 0.534-1.999-1.811-0.482 1.859-1.075-1.039-1.79-1.855 1.074 0.483-1.81-1.999-0.533-1.017 3.809-3.214 1.857 0.472-4.334-1.638-0.948-3.529 2.582v-3.716l2.788-2.786-1.462-1.466-1.326 1.326v-2.145h-2.067v2.145l-1.326-1.326-1.463 1.466 2.788 2.786v3.716l-3.529-2.582-1.638 0.948 0.473 4.334-3.214-1.856-1.017-3.809-1.998 0.533 0.483 1.81-1.855-1.074-1.036 1.79 1.855 1.075-1.81 0.482 0.534 1.999 3.81-1.017 3.223 1.866-4.010 1.764v1.896l4.010 1.764-3.223 1.866-3.809-1.017-0.534 1.999 1.81 0.482-1.855 1.075 1.036 1.791 1.855-1.073-0.483 1.809 1.999 0.534 1.017-3.81 3.214-1.857-0.473 4.335 1.638 0.948 3.529-2.582v3.717l-2.788 2.785 1.463 1.466 1.326-1.325v2.146h2.067v-2.146l1.326 1.325 1.462-1.466-2.789-2.785v-3.717l3.529 2.582 1.638-0.948-0.472-4.335 3.214 1.857 1.017 3.81 1.999-0.534-0.483-1.809 1.855 1.073 1.039-1.791-1.859-1.075 1.811-0.483zM23.777 16l-3.243 1.429-2.472-1.429 2.472-1.428 3.243 1.428zM19.887 9.262l-0.382 3.512-2.474 1.433v-2.853l2.856-2.092zM12.109 9.262l2.856 2.092v2.853l-2.474-1.433-0.381-3.512zM8.219 16l3.243-1.428 2.472 1.428-2.472 1.429-3.243-1.429zM12.109 22.738l0.381-3.512 2.474-1.433v2.853l-2.856 2.092zM19.887 22.738l-2.856-2.092v-2.853l2.474 1.433 0.382 3.512z"></path>
	//- 		</svg>
	//- 	.snow.snowflake.four.scale-1
	//- 		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30px">
	//- 			<path fill="#fff" d="M30.318 21.56l-0.534-1.999-3.81 1.017-3.223-1.866 4.010-1.764v-1.896l-4.010-1.764 3.223-1.866 3.81 1.017 0.534-1.999-1.811-0.482 1.859-1.075-1.039-1.79-1.855 1.074 0.483-1.81-1.999-0.533-1.017 3.809-3.214 1.857 0.472-4.334-1.638-0.948-3.529 2.582v-3.716l2.788-2.786-1.462-1.466-1.326 1.326v-2.145h-2.067v2.145l-1.326-1.326-1.463 1.466 2.788 2.786v3.716l-3.529-2.582-1.638 0.948 0.473 4.334-3.214-1.856-1.017-3.809-1.998 0.533 0.483 1.81-1.855-1.074-1.036 1.79 1.855 1.075-1.81 0.482 0.534 1.999 3.81-1.017 3.223 1.866-4.010 1.764v1.896l4.010 1.764-3.223 1.866-3.809-1.017-0.534 1.999 1.81 0.482-1.855 1.075 1.036 1.791 1.855-1.073-0.483 1.809 1.999 0.534 1.017-3.81 3.214-1.857-0.473 4.335 1.638 0.948 3.529-2.582v3.717l-2.788 2.785 1.463 1.466 1.326-1.325v2.146h2.067v-2.146l1.326 1.325 1.462-1.466-2.789-2.785v-3.717l3.529 2.582 1.638-0.948-0.472-4.335 3.214 1.857 1.017 3.81 1.999-0.534-0.483-1.809 1.855 1.073 1.039-1.791-1.859-1.075 1.811-0.483zM23.777 16l-3.243 1.429-2.472-1.429 2.472-1.428 3.243 1.428zM19.887 9.262l-0.382 3.512-2.474 1.433v-2.853l2.856-2.092zM12.109 9.262l2.856 2.092v2.853l-2.474-1.433-0.381-3.512zM8.219 16l3.243-1.428 2.472 1.428-2.472 1.429-3.243-1.429zM12.109 22.738l0.381-3.512 2.474-1.433v2.853l-2.856 2.092zM19.887 22.738l-2.856-2.092v-2.853l2.474 1.433 0.382 3.512z"></path>
	//- 		</svg>
	//- 	.snow.snowflake.two.scale-2
	//- 		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="230" height="30px">
	//- 			<path fill="#fff" d="M30.318 21.56l-0.534-1.999-3.81 1.017-3.223-1.866 4.010-1.764v-1.896l-4.010-1.764 3.223-1.866 3.81 1.017 0.534-1.999-1.811-0.482 1.859-1.075-1.039-1.79-1.855 1.074 0.483-1.81-1.999-0.533-1.017 3.809-3.214 1.857 0.472-4.334-1.638-0.948-3.529 2.582v-3.716l2.788-2.786-1.462-1.466-1.326 1.326v-2.145h-2.067v2.145l-1.326-1.326-1.463 1.466 2.788 2.786v3.716l-3.529-2.582-1.638 0.948 0.473 4.334-3.214-1.856-1.017-3.809-1.998 0.533 0.483 1.81-1.855-1.074-1.036 1.79 1.855 1.075-1.81 0.482 0.534 1.999 3.81-1.017 3.223 1.866-4.010 1.764v1.896l4.010 1.764-3.223 1.866-3.809-1.017-0.534 1.999 1.81 0.482-1.855 1.075 1.036 1.791 1.855-1.073-0.483 1.809 1.999 0.534 1.017-3.81 3.214-1.857-0.473 4.335 1.638 0.948 3.529-2.582v3.717l-2.788 2.785 1.463 1.466 1.326-1.325v2.146h2.067v-2.146l1.326 1.325 1.462-1.466-2.789-2.785v-3.717l3.529 2.582 1.638-0.948-0.472-4.335 3.214 1.857 1.017 3.81 1.999-0.534-0.483-1.809 1.855 1.073 1.039-1.791-1.859-1.075 1.811-0.483zM23.777 16l-3.243 1.429-2.472-1.429 2.472-1.428 3.243 1.428zM19.887 9.262l-0.382 3.512-2.474 1.433v-2.853l2.856-2.092zM12.109 9.262l2.856 2.092v2.853l-2.474-1.433-0.381-3.512zM8.219 16l3.243-1.428 2.472 1.428-2.472 1.429-3.243-1.429zM12.109 22.738l0.381-3.512 2.474-1.433v2.853l-2.856 2.092zM19.887 22.738l-2.856-2.092v-2.853l2.474 1.433 0.382 3.512z"></path>
	//- 		</svg>
	//- 	.snow.snowflake.three.scale-5
	//- 		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30px">
	//- 			<path fill="#fff" d="M30.318 21.56l-0.534-1.999-3.81 1.017-3.223-1.866 4.010-1.764v-1.896l-4.010-1.764 3.223-1.866 3.81 1.017 0.534-1.999-1.811-0.482 1.859-1.075-1.039-1.79-1.855 1.074 0.483-1.81-1.999-0.533-1.017 3.809-3.214 1.857 0.472-4.334-1.638-0.948-3.529 2.582v-3.716l2.788-2.786-1.462-1.466-1.326 1.326v-2.145h-2.067v2.145l-1.326-1.326-1.463 1.466 2.788 2.786v3.716l-3.529-2.582-1.638 0.948 0.473 4.334-3.214-1.856-1.017-3.809-1.998 0.533 0.483 1.81-1.855-1.074-1.036 1.79 1.855 1.075-1.81 0.482 0.534 1.999 3.81-1.017 3.223 1.866-4.010 1.764v1.896l4.010 1.764-3.223 1.866-3.809-1.017-0.534 1.999 1.81 0.482-1.855 1.075 1.036 1.791 1.855-1.073-0.483 1.809 1.999 0.534 1.017-3.81 3.214-1.857-0.473 4.335 1.638 0.948 3.529-2.582v3.717l-2.788 2.785 1.463 1.466 1.326-1.325v2.146h2.067v-2.146l1.326 1.325 1.462-1.466-2.789-2.785v-3.717l3.529 2.582 1.638-0.948-0.472-4.335 3.214 1.857 1.017 3.81 1.999-0.534-0.483-1.809 1.855 1.073 1.039-1.791-1.859-1.075 1.811-0.483zM23.777 16l-3.243 1.429-2.472-1.429 2.472-1.428 3.243 1.428zM19.887 9.262l-0.382 3.512-2.474 1.433v-2.853l2.856-2.092zM12.109 9.262l2.856 2.092v2.853l-2.474-1.433-0.381-3.512zM8.219 16l3.243-1.428 2.472 1.428-2.472 1.429-3.243-1.429zM12.109 22.738l0.381-3.512 2.474-1.433v2.853l-2.856 2.092zM19.887 22.738l-2.856-2.092v-2.853l2.474 1.433 0.382 3.512z"></path>
	//- 		</svg>

	//- .chrismast-snow
	//- 	.snow.snowflake.six.scale-1
	//- 		<svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
	//- 			<path d="M5.3785 1.50688C5.75809 1.77133 6.03805 2.02766 6.30855 2.39997C6.39872 2.52408 6.48887 2.64818 6.56959 2.88827C6.82118 3.49256 6.66485 4.18034 6.13837 4.48769C4.33132 5.74145 2.24801 3.00301 1.53611 1.89419L1.44591 1.77008C1.35574 1.64598 1.36522 1.52999 1.37467 1.41401C1.38413 1.29802 1.40305 1.06605 1.61175 0.966309C1.92007 0.874687 2.29962 1.13914 2.51778 0.923411C2.62685 0.815548 2.62689 0.815554 2.63634 0.69957C2.75488 0.475722 2.96355 0.375974 3.26242 0.400337C3.46167 0.416578 3.65147 0.548804 3.95034 0.573166C4.32992 0.837619 4.8993 1.2343 5.3785 1.50688Z" fill="#F9D1D8"/>
	//- 			<path d="M6.29773 2.51779C6.3879 2.64185 6.47806 2.76591 6.55878 3.00591C6.81039 3.60996 6.65408 4.29747 6.12761 4.60468C4.32061 5.85788 2.23721 3.12046 1.52529 2.01206L1.43508 1.888C2.45021 1.73733 3.69809 2.42259 4.45727 2.95131C4.89357 2.52004 5.60978 2.345 6.18862 2.6256C6.20752 2.39373 6.1981 2.50967 6.29773 2.51779Z" fill="#F393BE"/>
	//- 			<path d="M5.95177 5.52294C5.56273 5.37448 5.26388 5.35012 4.86539 5.31763C4.17749 5.1448 3.71718 4.64026 3.25688 4.13572C3.06709 4.00349 2.88677 3.75528 3.0053 3.53143C3.12383 3.30759 3.42267 3.33195 3.62192 3.34819C4.21966 3.39692 4.89816 3.68574 5.36791 4.07429C5.2872 3.8342 5.6144 3.51061 6.0129 3.54309C6.31176 3.56746 6.58226 3.93977 6.76259 4.18798C7.12327 4.6844 8.86482 6.69445 8.31943 7.23377C7.89258 7.54924 7.55084 6.82085 7.27088 6.56452C6.91966 5.95211 6.44043 5.67953 5.95177 5.52294Z" fill="#4D2C23"/>
	//- 		</svg>
	//- 	.snow.snowflake.two.scale-2
	//- 		<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
	//- 			<path d="M1.5748 5.45341C1.7909 5.32719 2.00699 5.20097 2.2601 5.12571C2.42755 5.09141 2.59888 5.00948 2.76633 4.97518C3.18688 4.86562 3.60355 4.8037 4.00858 4.88466C4.41749 4.91799 4.81475 5.09421 5.07769 5.40333C5.08157 5.3557 5.04068 5.35237 5.04456 5.30474C4.83804 4.80843 4.63152 4.31213 4.50679 3.82249C4.34893 3.23425 4.31374 2.65602 4.44211 2.09112C4.56272 1.62148 4.80212 1.20948 5.23044 1.00466C5.65876 0.799836 6.30136 0.996058 6.42998 1.43807C6.78817 1.08369 7.40541 1.08605 7.79102 1.40517C8.18051 1.67665 8.38704 2.17296 8.3891 2.6526C8.39505 3.08461 8.23743 3.50328 8.0428 3.87099C8.03892 3.91863 7.99415 3.96292 7.99415 3.96292C7.99803 3.91529 8.0428 3.87099 8.04669 3.82336C8.19266 3.54758 8.37951 3.27513 8.60726 3.00602C8.8759 2.74023 9.22244 2.52874 9.59434 2.51111C9.96624 2.49348 10.3635 2.66971 10.4999 3.01645C10.57 3.16601 10.5954 3.35987 10.7142 3.4175C10.8738 3.47846 11.0452 3.39653 11.2087 3.40986C11.5398 3.3889 11.8436 3.70135 11.8203 3.98713C11.8009 4.22529 11.6218 4.40247 11.4427 4.57966C11.3531 4.66825 11.3084 4.71255 11.2188 4.80115C11.0845 4.93404 10.995 5.02263 10.8606 5.15553C10.4577 5.5542 10.0547 5.95288 9.61862 6.25296C9.53295 6.29392 9.48818 6.33822 9.40251 6.37918L9.35774 6.42348L9.31298 6.46778C9.2682 6.51208 9.18253 6.55304 9.13775 6.59734C9.60515 6.92312 9.93822 7.3818 10.1 7.9224C10.3065 8.4187 10.3417 8.99693 10.3807 9.52753C10.373 9.62279 10.4022 9.76902 10.3945 9.86429C10.3828 10.0072 10.3303 10.1467 10.2816 10.2387C10.1395 10.4668 9.80465 10.5354 9.61184 10.3759C9.76764 10.4844 9.78523 10.7736 9.6918 10.9098C9.5536 11.0903 9.34526 11.1213 9.09992 11.1013C8.89546 11.0846 8.69878 10.9727 8.50209 10.8608C7.95291 10.5283 7.54582 9.9677 7.34319 9.42376C6.89752 10.3464 6.14802 10.9565 5.27584 11.5567C5.05586 11.7306 4.7541 11.8977 4.46398 11.922C4.17386 11.9463 3.85839 11.7768 3.75513 11.5286C3.20802 11.6758 2.67049 11.2005 2.54575 10.7108C2.42102 10.2212 2.63118 9.66297 2.91535 9.20667C3.24041 8.75369 3.5207 8.34502 3.84576 7.89205C3.54011 8.10687 3.23834 8.27405 2.90345 8.34265C2.56856 8.41124 2.15965 8.37791 1.88894 8.16406C1.61824 7.9502 1.48962 7.5082 1.71737 7.23908C1.26757 7.20242 0.975389 6.74707 0.969442 6.31507C0.988855 6.07691 1.22438 5.71253 1.5748 5.45341Z" fill="#F393BE"/>
	//- 			<path d="M7.12137 8.11063C7.38225 7.9401 7.49897 7.5181 7.39959 7.22231C7.8085 7.25565 8.23293 7.09846 8.54246 6.83601C8.63201 6.74741 8.71767 6.70644 8.72932 6.56355C8.73708 6.46829 8.70785 6.32207 8.62607 6.3154C8.50728 6.25777 8.41773 6.34636 8.29118 6.384C8.20552 6.42496 8.03806 6.45926 7.96793 6.3097C7.9348 6.21111 7.97958 6.16681 8.02824 6.07488C8.17032 5.84673 8.1566 5.50998 8.00857 5.30613C7.58025 5.51095 7.18506 5.81436 6.90865 6.1754C6.80151 5.97488 6.65348 5.77102 6.54245 5.61813C6.50544 5.56717 6.47232 5.46858 6.39054 5.46191C6.23086 5.40095 6.05953 5.48288 6.007 5.62243C5.95446 5.76199 5.9837 5.90822 6.01294 6.05444C5.81237 5.99014 5.53002 5.91918 5.3957 6.05207C5.26138 6.18497 5.28674 6.37882 5.40165 6.48408C5.51267 6.63697 5.63146 6.6946 5.78726 6.8032C5.56728 6.97705 5.50308 7.2595 5.60634 7.50766C5.74273 7.8544 6.07762 7.78581 6.31132 7.9487C6.58203 8.16256 6.8196 8.27781 7.12137 8.11063Z" fill="#FAC4C2"/>
	//- 			<path d="M7.47076 6.84587C7.55634 6.8047 7.64193 6.76353 7.72752 6.72236Z" fill="#ED9A95"/>
	//- 			<path d="M7.61152 7.14427C7.65629 7.10001 7.69717 7.10335 7.78284 7.06243C8.20338 6.953 8.05712 6.22252 7.67746 6.33528C7.55091 6.37287 7.46524 6.41379 7.33869 6.45138C6.98829 6.71024 7.26112 7.40312 7.61152 7.14427Z" fill="#ED9A95"/>
	//- 			<path d="M5.49243 7.40345C5.57801 7.36228 5.70833 7.27661 5.79392 7.23544Z" fill="#ED9A95"/>
	//- 			<path d="M5.6275 7.74944C5.71316 7.70852 5.8436 7.62335 5.92926 7.58243C6.05969 7.49725 6.16086 7.26598 6.09459 7.06896C6.02445 6.91953 5.82775 6.80769 5.65643 6.88953C5.56689 6.97804 5.48124 7.01897 5.35469 7.05655C4.96727 7.26449 5.24397 7.90979 5.6275 7.74944Z" fill="#ED9A95"/>
	//- 			<path d="M6.65567 8.26453C6.66343 8.16935 6.67119 8.07418 6.67895 7.97901C6.75863 7.50647 6.10438 7.45314 6.02469 7.92568C6.01693 8.02085 6.00918 8.11602 6.00142 8.2112C5.96263 8.68707 6.61688 8.7404 6.65567 8.26453Z" fill="#ED9A95"/>
	//- 			<path d="M7.46973 7.85193C7.4328 7.80079 7.39587 7.74966 7.35895 7.69853Z" fill="#ED9A95"/>
	//- 			<path d="M7.77297 7.6855C7.73984 7.587 7.70282 7.53608 7.62491 7.48182C7.51388 7.32906 7.30944 7.3124 7.17513 7.44516C7.04082 7.57792 7.02142 7.81585 7.13246 7.96861C7.17335 7.97195 7.16946 8.01954 7.16946 8.01954C7.2396 8.16897 7.4363 8.28081 7.60762 8.19897C7.77894 8.11713 7.83924 7.88252 7.77297 7.6855Z" fill="#ED9A95"/>
	//- 			<path d="M6.07275 6.34863C5.99882 6.24691 5.92489 6.14519 5.85095 6.04346Z" fill="#ED9A95"/>
	//- 			<path d="M6.29502 6.12676C6.22099 6.02492 6.14698 5.92308 6.07296 5.82124C5.81388 5.4648 5.3214 5.95159 5.58049 6.30804C5.65451 6.40988 5.72853 6.51172 5.80256 6.61356C6.06164 6.97001 6.59499 6.48654 6.29502 6.12676Z" fill="#ED9A95"/>
	//- 			<path d="M1.57669 5.45306C1.79279 5.32683 2.00888 5.20061 2.26199 5.12535C2.04201 5.29921 1.81814 5.52069 1.67218 5.79648C1.52621 6.07226 1.45814 6.40234 1.59841 6.70146C1.69778 6.99724 2.00937 7.21442 2.34038 7.19346C2.11652 7.41494 2.08933 7.74836 2.23348 7.99985C2.37763 8.25134 2.697 8.37326 2.991 8.30133C3.19934 8.27037 3.37843 8.09318 3.54976 8.01125C3.72109 7.92932 4.0112 7.90502 4.12223 8.05791C4.23325 8.2108 4.17294 8.44563 4.07563 8.62948C3.92966 8.90527 3.66103 9.17105 3.47417 9.4435C3.28731 9.71595 3.09657 10.036 3.11028 10.3728C3.12399 10.7095 3.38305 11.0663 3.71406 11.0453C3.69464 11.2835 3.92446 11.494 4.16981 11.514C4.41515 11.534 4.62736 11.4554 4.84346 11.3292C5.65921 10.9162 6.40484 10.3537 6.95765 9.63156C7.05108 9.49534 7.18927 9.31482 7.31971 9.22956C7.49104 9.14763 7.70327 9.06904 7.85906 9.17763C8.01486 9.28622 8.08499 9.43578 8.15124 9.63297C8.36164 10.0816 8.73948 10.496 9.21464 10.7265C9.31195 10.5427 9.40538 10.4065 9.5027 10.2226C9.49881 10.2702 10.0343 10.2659 10.0752 10.2693C10.1608 10.2283 10.2913 10.143 10.3769 10.1021C10.3653 10.245 10.3127 10.3845 10.2641 10.4765C10.122 10.7046 9.78712 10.7732 9.59431 10.6136C9.75011 10.7222 9.7677 11.0114 9.67427 11.1476C9.53607 11.3281 9.32774 11.3591 9.08239 11.3391C8.87794 11.3224 8.68125 11.2105 8.48456 11.0985C7.93539 10.7661 7.5283 10.2055 7.32566 9.66156C6.87999 10.5842 6.13049 11.1943 5.25832 11.7945C5.03833 11.9684 4.73657 12.1355 4.44645 12.1598C4.15634 12.1841 3.84086 12.0146 3.7376 11.7664C3.19049 11.9136 2.65297 11.4383 2.52823 10.9486C2.40349 10.459 2.61365 9.90077 2.89782 9.44446C3.22288 8.99149 3.50317 8.58282 3.82823 8.12985C3.52258 8.34467 3.22081 8.51185 2.88592 8.58045C2.55103 8.64904 2.14212 8.61571 1.87142 8.40186C1.60071 8.188 1.47209 7.746 1.69984 7.47688C1.25004 7.44021 0.957863 6.98487 0.951916 6.55286C0.990743 6.07656 1.22627 5.71218 1.57669 5.45306Z" fill="#FDECF2"/>
	//- 			<path d="M8.08094 3.92175C8.2269 3.64611 8.41374 3.37381 8.64147 3.10483C8.9101 2.8392 9.25664 2.62783 9.62854 2.61023C10.0004 2.59262 10.3977 2.76877 10.5341 3.11534C10.6042 3.26483 10.6296 3.45859 10.7484 3.5162C10.9081 3.57713 11.0794 3.49525 11.243 3.50858C11.574 3.48764 11.8778 3.79995 11.8545 4.08559C11.8351 4.32362 11.656 4.50072 11.477 4.67781C11.3874 4.76635 11.3426 4.81063 11.2531 4.89917C11.3504 4.71541 11.4068 4.52832 11.2958 4.3755C11.1477 4.17174 10.8576 4.19602 10.6084 4.22362C10.3592 4.25123 10.0359 4.17696 10.0144 3.93559C9.94818 3.7385 10.1273 3.56141 10.1019 3.36765C10.0727 3.2215 9.87596 3.10962 9.7124 3.09629C9.54883 3.08295 9.37751 3.16483 9.25095 3.20244C8.81876 3.45474 8.43135 3.66278 8.08094 3.92175Z" fill="#FDECF2"/>
	//- 			<path d="M5.22768 1.05172C5.656 0.846904 6.2986 1.04313 6.42722 1.48513C6.78541 1.13076 7.40265 1.13312 7.78826 1.45224C8.17775 1.72372 8.38428 2.22003 8.38634 2.69967C8.39229 3.13167 8.23467 3.55035 8.04004 3.91806C7.90961 4.00332 7.77916 4.08858 7.68961 4.17717C7.98932 3.53035 7.96966 2.76159 7.64823 2.16003C7.5781 2.01047 7.4632 1.90521 7.34829 1.79995C7.18861 1.73899 7.02893 1.67802 6.89849 1.76328C6.76805 1.84855 6.7194 1.94047 6.59285 1.97811C6.38839 1.96144 6.36691 1.71995 6.25588 1.56706C6.07861 1.21698 5.54315 1.22128 5.23361 1.48373C4.92408 1.74618 4.81124 2.12055 4.73929 2.49827C4.66345 2.92361 4.62464 3.39991 4.58969 3.82859C4.43183 3.24036 4.39664 2.66212 4.52502 2.09722C4.55608 1.71618 4.79936 1.25654 5.22768 1.05172Z" fill="#FDECF2"/>
	//- 		</svg>
	//- 	.snow.snowflake.five.scale-4
	//- 		<svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
	//- 			<path d="M2.88134 5.52996C2.68807 5.72108 2.4948 5.9122 2.38141 6.21328C2.26802 6.51435 2.4194 6.83701 2.67581 6.96135C2.93222 7.08569 3.20539 7.00452 3.39029 6.91615C3.76009 6.73942 4.03322 6.65825 4.40302 6.48151C4.77282 6.30478 5.13424 6.2308 5.42416 5.94412C5.80233 5.66463 6.10063 5.27519 6.2224 4.87136C6.34416 4.46753 6.29776 3.94654 5.96985 3.60949C5.81008 3.38959 5.38555 3.14811 5.0325 3.11934C4.76772 3.09775 4.6627 3.29606 4.46943 3.48719C3.96949 4.17051 3.46954 4.85383 2.88134 5.52996Z" fill="#F393BE"/>
	//- 			<path d="M5.26222 1.37855C5.26222 1.37855 3.81204 0.639701 3.05569 1.19868C2.29934 1.75766 0.824677 3.49936 1.41738 3.858C2.01007 4.21663 5.20808 3.13261 5.20808 3.13261L6.00633 2.05984L5.26222 1.37855Z" fill="#F0C6DD"/>
	//- 			<path d="M7.73294 3.75221C7.73294 3.75221 8.69157 5.07163 8.18325 5.85771C7.67494 6.64378 6.12035 8.27553 5.63267 7.71858C5.14498 7.16163 5.93422 4.01935 5.93422 4.01935L6.98886 3.07093L7.73294 3.75221Z" fill="#F0C6DD"/>
	//- 			<path d="M8.32607 0.800975C8.06129 0.779391 7.23792 2.16042 6.71673 2.01449C6.19554 1.86857 5.53972 1.19447 5.07328 1.46677C4.69511 1.74626 5.7291 2.14087 5.7291 2.14087C5.7291 2.14087 4.62422 3.70583 4.75048 4.33675C4.88512 4.86493 6.06601 4.54743 6.37267 4.05523C6.7676 3.57023 6.76762 3.57023 6.76762 3.57023C6.76762 3.57023 6.71736 4.18677 7.0704 4.21554C7.42345 4.24432 7.55358 3.73774 7.48207 3.52503C7.41057 3.31232 7.55747 2.60022 7.7675 2.20359C7.97753 1.80695 8.54059 1.4391 8.54059 1.4391C8.54059 1.4391 8.67912 0.829754 8.32607 0.800975Z" fill="#854133"/>
	//- 		</svg>
	//- 	.snow.snowflake.one.scale-3
	//- 		<?xml version="1.0" encoding="UTF-8"?>
	//- 		<svg viewBox="0 0 15 16" xmlns="http://www.w3.org/2000/svg">
	//- 		<path d="m1.6889 7.8744c0.18685-0.27245 0.44773-0.44297 0.71249-0.66112 0.17521-0.12956 0.38742-0.20816 0.56264-0.33771 0.47309-0.24912 0.94618-0.49824 1.4855-0.55016 0.54323-0.09956 1.0748-0.05623 1.4974 0.31385-0.03701-0.05097-0.03701-0.05097-0.07402-0.10193-0.41097-0.51297-0.85895-1.0769-1.2252-1.6342-0.39932-0.65587-0.67209-1.3494-0.73653-2.0738-0.03518-0.57824 0.10096-1.2384 0.5857-1.6304 0.48474-0.39201 1.3064-0.37298 1.6356 0.13333 0.29193-0.55157 1.0474-0.72972 1.6491-0.53683 0.60171 0.19289 1.0088 0.75349 1.2076 1.3451 0.16174 0.5406 0.11903 1.0645 0.03155 1.6328-0.00388 0.04763-0.00777 0.09526-0.01165 0.14289 0.00388-0.04763 0.00777-0.09527 0.05643-0.18719 0.11672-0.42201 0.18867-0.79972 0.38329-1.1674 0.2394-0.41201 0.5567-0.76972 1.022-0.92358 0.4654-0.15385 1.0339-0.05956 1.33 0.34815 0.111 0.15289 0.2182 0.35342 0.4187 0.41772 0.2006 0.06429 0.3797-0.1129 0.5919-0.19149 0.3836-0.16052 0.8957 0.12096 0.9465 0.50867 0.0584 0.29245-0.0914 0.61586-0.2335 0.84402-0.0486 0.09192-0.1012 0.23148-0.1907 0.32007-0.0973 0.18386-0.1947 0.36771-0.292 0.55157-0.3406 0.64349-0.6773 1.2394-1.0919 1.7809-0.0486 0.09193-0.1382 0.18052-0.2238 0.22149l-0.0448 0.04429-0.0448 0.0443c-0.0448 0.0443-0.1343 0.13289-0.1791 0.17719 0.6835 0.19955 1.258 0.72586 1.6651 1.2865s0.6838 1.2065 0.9156 1.8966c0.0293 0.14624 0.0994 0.29574 0.1287 0.44204 0.0253 0.1938 0.0546 0.34-0.0019 0.5272-0.1089 0.3268-0.4554 0.5383-0.7748 0.4163 0.2415 0.0677 0.3778 0.4144 0.2766 0.6459s-0.362 0.402-0.6151 0.4773c-0.2493 0.0276-0.5355 0.0043-0.814-0.1143-0.7614-0.2539-1.4625-0.7425-1.9436-1.4051-0.2275 1.2761-0.93012 2.3216-1.7555 3.3571-0.22775 0.2691-0.50027 0.5825-0.83904 0.6987-0.33878 0.1162-0.82946 0.0762-1.0067-0.2738-0.60353 0.3343-1.4389-0.0214-1.7642-0.5754-0.36232-0.6049-0.30408-1.3193-0.08616-1.9728s0.43196-1.2594 0.64988-1.9129c-0.27641 0.3611-0.58983 0.6711-1.022 0.9236-0.38743 0.2082-0.88976 0.311-1.3279 0.1315-0.43815-0.1796-0.72645-0.6825-0.56883-1.1012-0.54323 0.0995-1.0846-0.32817-1.2464-0.86877-0.16951-0.44534 0.04065-1.0036 0.36183-1.4089z" fill="#F393BE"/>
	//- 		<path d="m9.4141 7.5461c0.08944-0.0884 0.13802-0.18014 0.26442-0.21768z" fill="#ED9A95"/>
	//- 		<path d="m9.673 7.9031c0.04477-0.04425 0.08953-0.0885 0.1752-0.12943 0.47697-0.29644 0.13398-1.1388-0.34297-0.84231-0.13043 0.08517-0.26085 0.17035-0.35039 0.25886-0.13819 0.18035-0.20236 0.46254-0.05431 0.66622 0.11103 0.15276 0.39339 0.22368 0.57247 0.04666z" fill="#ED9A95"/>
	//- 		<path d="M7.1638 8.89771C7.29408 8.81264 7.38739 8.6767 7.47683 8.5883Z" fill="#ED9A95"/>
	//- 		<path d="M7.42239 9.25344C7.5567 9.12067 7.69101 8.98791 7.78443 8.85182C7.92261 8.67147 7.86799 8.33169 7.67517 8.17226C7.48236 8.01283 7.27015 8.09135 7.08719 8.31595C7.03854 8.40779 6.949 8.4963 6.86334 8.53722C6.5013 8.93884 7.01946 9.65172 7.42239 9.25344Z" fill="#ED9A95"/>
	//- 		<path d="m8.541 9.6803c-0.03325-0.09841-0.02163-0.241-0.05487-0.33941z" fill="#ED9A95"/>
	//- 		<path d="m8.9209 9.567c-0.03313-0.0985-0.02149-0.24127-0.05462-0.33978-0.07612-0.58104-0.91334-0.40977-0.79633 0.17461 0.03313 0.0985 0.0215 0.24127 0.05463 0.33978 0.11314 0.63195 0.90946 0.45735 0.79632-0.17461z" fill="#ED9A95"/>
	//- 		<path d="m9.7642 8.8214c-0.03693-0.05113-0.11468-0.10559-0.15161-0.15673z" fill="#ED9A95"/>
	//- 		<path d="m10.076 8.5115c-0.11491-0.10518-0.18893-0.20702-0.34861-0.26794-0.1967-0.11184-0.45757 0.05851-0.51785 0.29311-0.10506 0.27886 0.04299 0.48255 0.23969 0.59439 0.15192 0.15609 0.39339 0.22368 0.57247 0.04666 0.1791-0.17701 0.2471-0.50679 0.0543-0.66622z" fill="#ED9A95"/>
	//- 		<path d="M7.48828 7.43665C7.3735 7.33159 7.214 7.27074 7.09922 7.16569Z" fill="#ED9A95"/>
	//- 		<path d="m7.7239 7.0735c-0.11492-0.10517-0.2746-0.16609-0.38951-0.27126-0.42653-0.32219-0.90138 0.45346-0.47486 0.77565 0.11492 0.10517 0.2746 0.16609 0.38952 0.27126 0.42652 0.32219 0.90137-0.45346 0.47485-0.77565z" fill="#ED9A95"/>
	//- 		<path d="m9.0617 3.7769c0.1167-0.42179 0.18863-0.79931 0.38324-1.1668 0.23938-0.4118 0.55662-0.76932 1.022-0.92308 0.4653-0.15376 1.0339-0.05948 1.33 0.34803 0.111 0.15282 0.2181 0.35325 0.4187 0.41752s0.3797-0.11282 0.5919-0.19137c0.3835-0.16042 0.8957 0.12095 0.9464 0.50846 0.0585 0.29231-0.0913 0.61555-0.2334 0.84358-0.0486 0.09188-0.1012 0.23137-0.1907 0.31992 0.0603-0.2347 0.0388-0.47607-0.154-0.63555-0.2298-0.21043-0.6134-0.05-0.8665 0.02521-0.2979 0.11949-0.7107 0.13376-0.8548-0.11761-0.148-0.20376 0.0018-0.527-0.1054-0.72743-0.1071-0.20042-0.3486-0.26802-0.5608-0.18947-0.2083 0.03094-0.3835 0.16042-0.5626 0.33751-0.43608 0.29991-0.79813 0.7017-1.1641 1.1511z" fill="#FDECF2"/>
	//- 		</svg>

	//- 	.snow.snowflake.two.scale-1
	//- 		<svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
	//- 			<path d="M5.3785 1.50688C5.75809 1.77133 6.03805 2.02766 6.30855 2.39997C6.39872 2.52408 6.48887 2.64818 6.56959 2.88827C6.82118 3.49256 6.66485 4.18034 6.13837 4.48769C4.33132 5.74145 2.24801 3.00301 1.53611 1.89419L1.44591 1.77008C1.35574 1.64598 1.36522 1.52999 1.37467 1.41401C1.38413 1.29802 1.40305 1.06605 1.61175 0.966309C1.92007 0.874687 2.29962 1.13914 2.51778 0.923411C2.62685 0.815548 2.62689 0.815554 2.63634 0.69957C2.75488 0.475722 2.96355 0.375974 3.26242 0.400337C3.46167 0.416578 3.65147 0.548804 3.95034 0.573166C4.32992 0.837619 4.8993 1.2343 5.3785 1.50688Z" fill="#F9D1D8"/>
	//- 			<path d="M6.29773 2.51779C6.3879 2.64185 6.47806 2.76591 6.55878 3.00591C6.81039 3.60996 6.65408 4.29747 6.12761 4.60468C4.32061 5.85788 2.23721 3.12046 1.52529 2.01206L1.43508 1.888C2.45021 1.73733 3.69809 2.42259 4.45727 2.95131C4.89357 2.52004 5.60978 2.345 6.18862 2.6256C6.20752 2.39373 6.1981 2.50967 6.29773 2.51779Z" fill="#F393BE"/>
	//- 			<path d="M5.95177 5.52294C5.56273 5.37448 5.26388 5.35012 4.86539 5.31763C4.17749 5.1448 3.71718 4.64026 3.25688 4.13572C3.06709 4.00349 2.88677 3.75528 3.0053 3.53143C3.12383 3.30759 3.42267 3.33195 3.62192 3.34819C4.21966 3.39692 4.89816 3.68574 5.36791 4.07429C5.2872 3.8342 5.6144 3.51061 6.0129 3.54309C6.31176 3.56746 6.58226 3.93977 6.76259 4.18798C7.12327 4.6844 8.86482 6.69445 8.31943 7.23377C7.89258 7.54924 7.55084 6.82085 7.27088 6.56452C6.91966 5.95211 6.44043 5.67953 5.95177 5.52294Z" fill="#4D2C23"/>
	//- 		</svg>
	//- 	.snow.snowflake.four.scale-3
	//- 		<?xml version="1.0" encoding="UTF-8"?>
	//- 			<svg viewBox="0 0 15 16" xmlns="http://www.w3.org/2000/svg">
	//- 				<path d="m1.6889 7.8744c0.18685-0.27245 0.44773-0.44297 0.71249-0.66112 0.17521-0.12956 0.38742-0.20816 0.56264-0.33771 0.47309-0.24912 0.94618-0.49824 1.4855-0.55016 0.54323-0.09956 1.0748-0.05623 1.4974 0.31385-0.03701-0.05097-0.03701-0.05097-0.07402-0.10193-0.41097-0.51297-0.85895-1.0769-1.2252-1.6342-0.39932-0.65587-0.67209-1.3494-0.73653-2.0738-0.03518-0.57824 0.10096-1.2384 0.5857-1.6304 0.48474-0.39201 1.3064-0.37298 1.6356 0.13333 0.29193-0.55157 1.0474-0.72972 1.6491-0.53683 0.60171 0.19289 1.0088 0.75349 1.2076 1.3451 0.16174 0.5406 0.11903 1.0645 0.03155 1.6328-0.00388 0.04763-0.00777 0.09526-0.01165 0.14289 0.00388-0.04763 0.00777-0.09527 0.05643-0.18719 0.11672-0.42201 0.18867-0.79972 0.38329-1.1674 0.2394-0.41201 0.5567-0.76972 1.022-0.92358 0.4654-0.15385 1.0339-0.05956 1.33 0.34815 0.111 0.15289 0.2182 0.35342 0.4187 0.41772 0.2006 0.06429 0.3797-0.1129 0.5919-0.19149 0.3836-0.16052 0.8957 0.12096 0.9465 0.50867 0.0584 0.29245-0.0914 0.61586-0.2335 0.84402-0.0486 0.09192-0.1012 0.23148-0.1907 0.32007-0.0973 0.18386-0.1947 0.36771-0.292 0.55157-0.3406 0.64349-0.6773 1.2394-1.0919 1.7809-0.0486 0.09193-0.1382 0.18052-0.2238 0.22149l-0.0448 0.04429-0.0448 0.0443c-0.0448 0.0443-0.1343 0.13289-0.1791 0.17719 0.6835 0.19955 1.258 0.72586 1.6651 1.2865s0.6838 1.2065 0.9156 1.8966c0.0293 0.14624 0.0994 0.29574 0.1287 0.44204 0.0253 0.1938 0.0546 0.34-0.0019 0.5272-0.1089 0.3268-0.4554 0.5383-0.7748 0.4163 0.2415 0.0677 0.3778 0.4144 0.2766 0.6459s-0.362 0.402-0.6151 0.4773c-0.2493 0.0276-0.5355 0.0043-0.814-0.1143-0.7614-0.2539-1.4625-0.7425-1.9436-1.4051-0.2275 1.2761-0.93012 2.3216-1.7555 3.3571-0.22775 0.2691-0.50027 0.5825-0.83904 0.6987-0.33878 0.1162-0.82946 0.0762-1.0067-0.2738-0.60353 0.3343-1.4389-0.0214-1.7642-0.5754-0.36232-0.6049-0.30408-1.3193-0.08616-1.9728s0.43196-1.2594 0.64988-1.9129c-0.27641 0.3611-0.58983 0.6711-1.022 0.9236-0.38743 0.2082-0.88976 0.311-1.3279 0.1315-0.43815-0.1796-0.72645-0.6825-0.56883-1.1012-0.54323 0.0995-1.0846-0.32817-1.2464-0.86877-0.16951-0.44534 0.04065-1.0036 0.36183-1.4089z" fill="#F393BE"/>
	//- 				<path d="m9.4141 7.5461c0.08944-0.0884 0.13802-0.18014 0.26442-0.21768z" fill="#ED9A95"/>
	//- 				<path d="m9.673 7.9031c0.04477-0.04425 0.08953-0.0885 0.1752-0.12943 0.47697-0.29644 0.13398-1.1388-0.34297-0.84231-0.13043 0.08517-0.26085 0.17035-0.35039 0.25886-0.13819 0.18035-0.20236 0.46254-0.05431 0.66622 0.11103 0.15276 0.39339 0.22368 0.57247 0.04666z" fill="#ED9A95"/>
	//- 				<path d="M7.1638 8.89771C7.29408 8.81264 7.38739 8.6767 7.47683 8.5883Z" fill="#ED9A95"/>
	//- 				<path d="M7.42239 9.25344C7.5567 9.12067 7.69101 8.98791 7.78443 8.85182C7.92261 8.67147 7.86799 8.33169 7.67517 8.17226C7.48236 8.01283 7.27015 8.09135 7.08719 8.31595C7.03854 8.40779 6.949 8.4963 6.86334 8.53722C6.5013 8.93884 7.01946 9.65172 7.42239 9.25344Z" fill="#ED9A95"/>
	//- 				<path d="m8.541 9.6803c-0.03325-0.09841-0.02163-0.241-0.05487-0.33941z" fill="#ED9A95"/>
	//- 				<path d="m8.9209 9.567c-0.03313-0.0985-0.02149-0.24127-0.05462-0.33978-0.07612-0.58104-0.91334-0.40977-0.79633 0.17461 0.03313 0.0985 0.0215 0.24127 0.05463 0.33978 0.11314 0.63195 0.90946 0.45735 0.79632-0.17461z" fill="#ED9A95"/>
	//- 				<path d="m9.7642 8.8214c-0.03693-0.05113-0.11468-0.10559-0.15161-0.15673z" fill="#ED9A95"/>
	//- 				<path d="m10.076 8.5115c-0.11491-0.10518-0.18893-0.20702-0.34861-0.26794-0.1967-0.11184-0.45757 0.05851-0.51785 0.29311-0.10506 0.27886 0.04299 0.48255 0.23969 0.59439 0.15192 0.15609 0.39339 0.22368 0.57247 0.04666 0.1791-0.17701 0.2471-0.50679 0.0543-0.66622z" fill="#ED9A95"/>
	//- 				<path d="M7.48828 7.43665C7.3735 7.33159 7.214 7.27074 7.09922 7.16569Z" fill="#ED9A95"/>
	//- 				<path d="m7.7239 7.0735c-0.11492-0.10517-0.2746-0.16609-0.38951-0.27126-0.42653-0.32219-0.90138 0.45346-0.47486 0.77565 0.11492 0.10517 0.2746 0.16609 0.38952 0.27126 0.42652 0.32219 0.90137-0.45346 0.47485-0.77565z" fill="#ED9A95"/>
	//- 				<path d="m9.0617 3.7769c0.1167-0.42179 0.18863-0.79931 0.38324-1.1668 0.23938-0.4118 0.55662-0.76932 1.022-0.92308 0.4653-0.15376 1.0339-0.05948 1.33 0.34803 0.111 0.15282 0.2181 0.35325 0.4187 0.41752s0.3797-0.11282 0.5919-0.19137c0.3835-0.16042 0.8957 0.12095 0.9464 0.50846 0.0585 0.29231-0.0913 0.61555-0.2334 0.84358-0.0486 0.09188-0.1012 0.23137-0.1907 0.31992 0.0603-0.2347 0.0388-0.47607-0.154-0.63555-0.2298-0.21043-0.6134-0.05-0.8665 0.02521-0.2979 0.11949-0.7107 0.13376-0.8548-0.11761-0.148-0.20376 0.0018-0.527-0.1054-0.72743-0.1071-0.20042-0.3486-0.26802-0.5608-0.18947-0.2083 0.03094-0.3835 0.16042-0.5626 0.33751-0.43608 0.29991-0.79813 0.7017-1.1641 1.1511z" fill="#FDECF2"/>
	//- 			</svg>
	//- 	.snow.snowflake.two.scale-2
	//- 		<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
	//- 			<path d="M1.5748 5.45341C1.7909 5.32719 2.00699 5.20097 2.2601 5.12571C2.42755 5.09141 2.59888 5.00948 2.76633 4.97518C3.18688 4.86562 3.60355 4.8037 4.00858 4.88466C4.41749 4.91799 4.81475 5.09421 5.07769 5.40333C5.08157 5.3557 5.04068 5.35237 5.04456 5.30474C4.83804 4.80843 4.63152 4.31213 4.50679 3.82249C4.34893 3.23425 4.31374 2.65602 4.44211 2.09112C4.56272 1.62148 4.80212 1.20948 5.23044 1.00466C5.65876 0.799836 6.30136 0.996058 6.42998 1.43807C6.78817 1.08369 7.40541 1.08605 7.79102 1.40517C8.18051 1.67665 8.38704 2.17296 8.3891 2.6526C8.39505 3.08461 8.23743 3.50328 8.0428 3.87099C8.03892 3.91863 7.99415 3.96292 7.99415 3.96292C7.99803 3.91529 8.0428 3.87099 8.04669 3.82336C8.19266 3.54758 8.37951 3.27513 8.60726 3.00602C8.8759 2.74023 9.22244 2.52874 9.59434 2.51111C9.96624 2.49348 10.3635 2.66971 10.4999 3.01645C10.57 3.16601 10.5954 3.35987 10.7142 3.4175C10.8738 3.47846 11.0452 3.39653 11.2087 3.40986C11.5398 3.3889 11.8436 3.70135 11.8203 3.98713C11.8009 4.22529 11.6218 4.40247 11.4427 4.57966C11.3531 4.66825 11.3084 4.71255 11.2188 4.80115C11.0845 4.93404 10.995 5.02263 10.8606 5.15553C10.4577 5.5542 10.0547 5.95288 9.61862 6.25296C9.53295 6.29392 9.48818 6.33822 9.40251 6.37918L9.35774 6.42348L9.31298 6.46778C9.2682 6.51208 9.18253 6.55304 9.13775 6.59734C9.60515 6.92312 9.93822 7.3818 10.1 7.9224C10.3065 8.4187 10.3417 8.99693 10.3807 9.52753C10.373 9.62279 10.4022 9.76902 10.3945 9.86429C10.3828 10.0072 10.3303 10.1467 10.2816 10.2387C10.1395 10.4668 9.80465 10.5354 9.61184 10.3759C9.76764 10.4844 9.78523 10.7736 9.6918 10.9098C9.5536 11.0903 9.34526 11.1213 9.09992 11.1013C8.89546 11.0846 8.69878 10.9727 8.50209 10.8608C7.95291 10.5283 7.54582 9.9677 7.34319 9.42376C6.89752 10.3464 6.14802 10.9565 5.27584 11.5567C5.05586 11.7306 4.7541 11.8977 4.46398 11.922C4.17386 11.9463 3.85839 11.7768 3.75513 11.5286C3.20802 11.6758 2.67049 11.2005 2.54575 10.7108C2.42102 10.2212 2.63118 9.66297 2.91535 9.20667C3.24041 8.75369 3.5207 8.34502 3.84576 7.89205C3.54011 8.10687 3.23834 8.27405 2.90345 8.34265C2.56856 8.41124 2.15965 8.37791 1.88894 8.16406C1.61824 7.9502 1.48962 7.5082 1.71737 7.23908C1.26757 7.20242 0.975389 6.74707 0.969442 6.31507C0.988855 6.07691 1.22438 5.71253 1.5748 5.45341Z" fill="#F393BE"/>
	//- 			<path d="M7.12137 8.11063C7.38225 7.9401 7.49897 7.5181 7.39959 7.22231C7.8085 7.25565 8.23293 7.09846 8.54246 6.83601C8.63201 6.74741 8.71767 6.70644 8.72932 6.56355C8.73708 6.46829 8.70785 6.32207 8.62607 6.3154C8.50728 6.25777 8.41773 6.34636 8.29118 6.384C8.20552 6.42496 8.03806 6.45926 7.96793 6.3097C7.9348 6.21111 7.97958 6.16681 8.02824 6.07488C8.17032 5.84673 8.1566 5.50998 8.00857 5.30613C7.58025 5.51095 7.18506 5.81436 6.90865 6.1754C6.80151 5.97488 6.65348 5.77102 6.54245 5.61813C6.50544 5.56717 6.47232 5.46858 6.39054 5.46191C6.23086 5.40095 6.05953 5.48288 6.007 5.62243C5.95446 5.76199 5.9837 5.90822 6.01294 6.05444C5.81237 5.99014 5.53002 5.91918 5.3957 6.05207C5.26138 6.18497 5.28674 6.37882 5.40165 6.48408C5.51267 6.63697 5.63146 6.6946 5.78726 6.8032C5.56728 6.97705 5.50308 7.2595 5.60634 7.50766C5.74273 7.8544 6.07762 7.78581 6.31132 7.9487C6.58203 8.16256 6.8196 8.27781 7.12137 8.11063Z" fill="#FAC4C2"/>
	//- 			<path d="M7.47076 6.84587C7.55634 6.8047 7.64193 6.76353 7.72752 6.72236Z" fill="#ED9A95"/>
	//- 			<path d="M7.61152 7.14427C7.65629 7.10001 7.69717 7.10335 7.78284 7.06243C8.20338 6.953 8.05712 6.22252 7.67746 6.33528C7.55091 6.37287 7.46524 6.41379 7.33869 6.45138C6.98829 6.71024 7.26112 7.40312 7.61152 7.14427Z" fill="#ED9A95"/>
	//- 			<path d="M5.49243 7.40345C5.57801 7.36228 5.70833 7.27661 5.79392 7.23544Z" fill="#ED9A95"/>
	//- 			<path d="M5.6275 7.74944C5.71316 7.70852 5.8436 7.62335 5.92926 7.58243C6.05969 7.49725 6.16086 7.26598 6.09459 7.06896C6.02445 6.91953 5.82775 6.80769 5.65643 6.88953C5.56689 6.97804 5.48124 7.01897 5.35469 7.05655C4.96727 7.26449 5.24397 7.90979 5.6275 7.74944Z" fill="#ED9A95"/>
	//- 			<path d="M6.65567 8.26453C6.66343 8.16935 6.67119 8.07418 6.67895 7.97901C6.75863 7.50647 6.10438 7.45314 6.02469 7.92568C6.01693 8.02085 6.00918 8.11602 6.00142 8.2112C5.96263 8.68707 6.61688 8.7404 6.65567 8.26453Z" fill="#ED9A95"/>
	//- 			<path d="M7.46973 7.85193C7.4328 7.80079 7.39587 7.74966 7.35895 7.69853Z" fill="#ED9A95"/>
	//- 			<path d="M7.77297 7.6855C7.73984 7.587 7.70282 7.53608 7.62491 7.48182C7.51388 7.32906 7.30944 7.3124 7.17513 7.44516C7.04082 7.57792 7.02142 7.81585 7.13246 7.96861C7.17335 7.97195 7.16946 8.01954 7.16946 8.01954C7.2396 8.16897 7.4363 8.28081 7.60762 8.19897C7.77894 8.11713 7.83924 7.88252 7.77297 7.6855Z" fill="#ED9A95"/>
	//- 			<path d="M6.07275 6.34863C5.99882 6.24691 5.92489 6.14519 5.85095 6.04346Z" fill="#ED9A95"/>
	//- 			<path d="M6.29502 6.12676C6.22099 6.02492 6.14698 5.92308 6.07296 5.82124C5.81388 5.4648 5.3214 5.95159 5.58049 6.30804C5.65451 6.40988 5.72853 6.51172 5.80256 6.61356C6.06164 6.97001 6.59499 6.48654 6.29502 6.12676Z" fill="#ED9A95"/>
	//- 			<path d="M1.57669 5.45306C1.79279 5.32683 2.00888 5.20061 2.26199 5.12535C2.04201 5.29921 1.81814 5.52069 1.67218 5.79648C1.52621 6.07226 1.45814 6.40234 1.59841 6.70146C1.69778 6.99724 2.00937 7.21442 2.34038 7.19346C2.11652 7.41494 2.08933 7.74836 2.23348 7.99985C2.37763 8.25134 2.697 8.37326 2.991 8.30133C3.19934 8.27037 3.37843 8.09318 3.54976 8.01125C3.72109 7.92932 4.0112 7.90502 4.12223 8.05791C4.23325 8.2108 4.17294 8.44563 4.07563 8.62948C3.92966 8.90527 3.66103 9.17105 3.47417 9.4435C3.28731 9.71595 3.09657 10.036 3.11028 10.3728C3.12399 10.7095 3.38305 11.0663 3.71406 11.0453C3.69464 11.2835 3.92446 11.494 4.16981 11.514C4.41515 11.534 4.62736 11.4554 4.84346 11.3292C5.65921 10.9162 6.40484 10.3537 6.95765 9.63156C7.05108 9.49534 7.18927 9.31482 7.31971 9.22956C7.49104 9.14763 7.70327 9.06904 7.85906 9.17763C8.01486 9.28622 8.08499 9.43578 8.15124 9.63297C8.36164 10.0816 8.73948 10.496 9.21464 10.7265C9.31195 10.5427 9.40538 10.4065 9.5027 10.2226C9.49881 10.2702 10.0343 10.2659 10.0752 10.2693C10.1608 10.2283 10.2913 10.143 10.3769 10.1021C10.3653 10.245 10.3127 10.3845 10.2641 10.4765C10.122 10.7046 9.78712 10.7732 9.59431 10.6136C9.75011 10.7222 9.7677 11.0114 9.67427 11.1476C9.53607 11.3281 9.32774 11.3591 9.08239 11.3391C8.87794 11.3224 8.68125 11.2105 8.48456 11.0985C7.93539 10.7661 7.5283 10.2055 7.32566 9.66156C6.87999 10.5842 6.13049 11.1943 5.25832 11.7945C5.03833 11.9684 4.73657 12.1355 4.44645 12.1598C4.15634 12.1841 3.84086 12.0146 3.7376 11.7664C3.19049 11.9136 2.65297 11.4383 2.52823 10.9486C2.40349 10.459 2.61365 9.90077 2.89782 9.44446C3.22288 8.99149 3.50317 8.58282 3.82823 8.12985C3.52258 8.34467 3.22081 8.51185 2.88592 8.58045C2.55103 8.64904 2.14212 8.61571 1.87142 8.40186C1.60071 8.188 1.47209 7.746 1.69984 7.47688C1.25004 7.44021 0.957863 6.98487 0.951916 6.55286C0.990743 6.07656 1.22627 5.71218 1.57669 5.45306Z" fill="#FDECF2"/>
	//- 			<path d="M8.08094 3.92175C8.2269 3.64611 8.41374 3.37381 8.64147 3.10483C8.9101 2.8392 9.25664 2.62783 9.62854 2.61023C10.0004 2.59262 10.3977 2.76877 10.5341 3.11534C10.6042 3.26483 10.6296 3.45859 10.7484 3.5162C10.9081 3.57713 11.0794 3.49525 11.243 3.50858C11.574 3.48764 11.8778 3.79995 11.8545 4.08559C11.8351 4.32362 11.656 4.50072 11.477 4.67781C11.3874 4.76635 11.3426 4.81063 11.2531 4.89917C11.3504 4.71541 11.4068 4.52832 11.2958 4.3755C11.1477 4.17174 10.8576 4.19602 10.6084 4.22362C10.3592 4.25123 10.0359 4.17696 10.0144 3.93559C9.94818 3.7385 10.1273 3.56141 10.1019 3.36765C10.0727 3.2215 9.87596 3.10962 9.7124 3.09629C9.54883 3.08295 9.37751 3.16483 9.25095 3.20244C8.81876 3.45474 8.43135 3.66278 8.08094 3.92175Z" fill="#FDECF2"/>
	//- 			<path d="M5.22768 1.05172C5.656 0.846904 6.2986 1.04313 6.42722 1.48513C6.78541 1.13076 7.40265 1.13312 7.78826 1.45224C8.17775 1.72372 8.38428 2.22003 8.38634 2.69967C8.39229 3.13167 8.23467 3.55035 8.04004 3.91806C7.90961 4.00332 7.77916 4.08858 7.68961 4.17717C7.98932 3.53035 7.96966 2.76159 7.64823 2.16003C7.5781 2.01047 7.4632 1.90521 7.34829 1.79995C7.18861 1.73899 7.02893 1.67802 6.89849 1.76328C6.76805 1.84855 6.7194 1.94047 6.59285 1.97811C6.38839 1.96144 6.36691 1.71995 6.25588 1.56706C6.07861 1.21698 5.54315 1.22128 5.23361 1.48373C4.92408 1.74618 4.81124 2.12055 4.73929 2.49827C4.66345 2.92361 4.62464 3.39991 4.58969 3.82859C4.43183 3.24036 4.39664 2.66212 4.52502 2.09722C4.55608 1.71618 4.79936 1.25654 5.22768 1.05172Z" fill="#FDECF2"/>
	//- 		</svg>
	//- 	.snow.snowflake.six.scale-5
	//- 		<svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
	//- 			<path d="M2.88134 5.52996C2.68807 5.72108 2.4948 5.9122 2.38141 6.21328C2.26802 6.51435 2.4194 6.83701 2.67581 6.96135C2.93222 7.08569 3.20539 7.00452 3.39029 6.91615C3.76009 6.73942 4.03322 6.65825 4.40302 6.48151C4.77282 6.30478 5.13424 6.2308 5.42416 5.94412C5.80233 5.66463 6.10063 5.27519 6.2224 4.87136C6.34416 4.46753 6.29776 3.94654 5.96985 3.60949C5.81008 3.38959 5.38555 3.14811 5.0325 3.11934C4.76772 3.09775 4.6627 3.29606 4.46943 3.48719C3.96949 4.17051 3.46954 4.85383 2.88134 5.52996Z" fill="#F393BE"/>
	//- 			<path d="M5.26222 1.37855C5.26222 1.37855 3.81204 0.639701 3.05569 1.19868C2.29934 1.75766 0.824677 3.49936 1.41738 3.858C2.01007 4.21663 5.20808 3.13261 5.20808 3.13261L6.00633 2.05984L5.26222 1.37855Z" fill="#F0C6DD"/>
	//- 			<path d="M7.73294 3.75221C7.73294 3.75221 8.69157 5.07163 8.18325 5.85771C7.67494 6.64378 6.12035 8.27553 5.63267 7.71858C5.14498 7.16163 5.93422 4.01935 5.93422 4.01935L6.98886 3.07093L7.73294 3.75221Z" fill="#F0C6DD"/>
	//- 			<path d="M8.32607 0.800975C8.06129 0.779391 7.23792 2.16042 6.71673 2.01449C6.19554 1.86857 5.53972 1.19447 5.07328 1.46677C4.69511 1.74626 5.7291 2.14087 5.7291 2.14087C5.7291 2.14087 4.62422 3.70583 4.75048 4.33675C4.88512 4.86493 6.06601 4.54743 6.37267 4.05523C6.7676 3.57023 6.76762 3.57023 6.76762 3.57023C6.76762 3.57023 6.71736 4.18677 7.0704 4.21554C7.42345 4.24432 7.55358 3.73774 7.48207 3.52503C7.41057 3.31232 7.55747 2.60022 7.7675 2.20359C7.97753 1.80695 8.54059 1.4391 8.54059 1.4391C8.54059 1.4391 8.67912 0.829754 8.32607 0.800975Z" fill="#854133"/>
	//- 		</svg>
	//- 	.snow.snowflake.three.scale-4
	//- 		<svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
	//- 			<path d="M2.88134 5.52996C2.68807 5.72108 2.4948 5.9122 2.38141 6.21328C2.26802 6.51435 2.4194 6.83701 2.67581 6.96135C2.93222 7.08569 3.20539 7.00452 3.39029 6.91615C3.76009 6.73942 4.03322 6.65825 4.40302 6.48151C4.77282 6.30478 5.13424 6.2308 5.42416 5.94412C5.80233 5.66463 6.10063 5.27519 6.2224 4.87136C6.34416 4.46753 6.29776 3.94654 5.96985 3.60949C5.81008 3.38959 5.38555 3.14811 5.0325 3.11934C4.76772 3.09775 4.6627 3.29606 4.46943 3.48719C3.96949 4.17051 3.46954 4.85383 2.88134 5.52996Z" fill="#F393BE"/>
	//- 			<path d="M5.26222 1.37855C5.26222 1.37855 3.81204 0.639701 3.05569 1.19868C2.29934 1.75766 0.824677 3.49936 1.41738 3.858C2.01007 4.21663 5.20808 3.13261 5.20808 3.13261L6.00633 2.05984L5.26222 1.37855Z" fill="#F0C6DD"/>
	//- 			<path d="M7.73294 3.75221C7.73294 3.75221 8.69157 5.07163 8.18325 5.85771C7.67494 6.64378 6.12035 8.27553 5.63267 7.71858C5.14498 7.16163 5.93422 4.01935 5.93422 4.01935L6.98886 3.07093L7.73294 3.75221Z" fill="#F0C6DD"/>
	//- 			<path d="M8.32607 0.800975C8.06129 0.779391 7.23792 2.16042 6.71673 2.01449C6.19554 1.86857 5.53972 1.19447 5.07328 1.46677C4.69511 1.74626 5.7291 2.14087 5.7291 2.14087C5.7291 2.14087 4.62422 3.70583 4.75048 4.33675C4.88512 4.86493 6.06601 4.54743 6.37267 4.05523C6.7676 3.57023 6.76762 3.57023 6.76762 3.57023C6.76762 3.57023 6.71736 4.18677 7.0704 4.21554C7.42345 4.24432 7.55358 3.73774 7.48207 3.52503C7.41057 3.31232 7.55747 2.60022 7.7675 2.20359C7.97753 1.80695 8.54059 1.4391 8.54059 1.4391C8.54059 1.4391 8.67912 0.829754 8.32607 0.800975Z" fill="#854133"/>
	//- 		</svg>
	//- 	.snow.snowflake.one.scale-1
	//- 		<svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
	//- 		<path d="M5.3785 1.50688C5.75809 1.77133 6.03805 2.02766 6.30855 2.39997C6.39872 2.52408 6.48887 2.64818 6.56959 2.88827C6.82118 3.49256 6.66485 4.18034 6.13837 4.48769C4.33132 5.74145 2.24801 3.00301 1.53611 1.89419L1.44591 1.77008C1.35574 1.64598 1.36522 1.52999 1.37467 1.41401C1.38413 1.29802 1.40305 1.06605 1.61175 0.966309C1.92007 0.874687 2.29962 1.13914 2.51778 0.923411C2.62685 0.815548 2.62689 0.815554 2.63634 0.69957C2.75488 0.475722 2.96355 0.375974 3.26242 0.400337C3.46167 0.416578 3.65147 0.548804 3.95034 0.573166C4.32992 0.837619 4.8993 1.2343 5.3785 1.50688Z" fill="#F9D1D8"/>
	//- 		<path d="M6.29773 2.51779C6.3879 2.64185 6.47806 2.76591 6.55878 3.00591C6.81039 3.60996 6.65408 4.29747 6.12761 4.60468C4.32061 5.85788 2.23721 3.12046 1.52529 2.01206L1.43508 1.888C2.45021 1.73733 3.69809 2.42259 4.45727 2.95131C4.89357 2.52004 5.60978 2.345 6.18862 2.6256C6.20752 2.39373 6.1981 2.50967 6.29773 2.51779Z" fill="#F393BE"/>
	//- 		<path d="M5.95177 5.52294C5.56273 5.37448 5.26388 5.35012 4.86539 5.31763C4.17749 5.1448 3.71718 4.64026 3.25688 4.13572C3.06709 4.00349 2.88677 3.75528 3.0053 3.53143C3.12383 3.30759 3.42267 3.33195 3.62192 3.34819C4.21966 3.39692 4.89816 3.68574 5.36791 4.07429C5.2872 3.8342 5.6144 3.51061 6.0129 3.54309C6.31176 3.56746 6.58226 3.93977 6.76259 4.18798C7.12327 4.6844 8.86482 6.69445 8.31943 7.23377C7.89258 7.54924 7.55084 6.82085 7.27088 6.56452C6.91966 5.95211 6.44043 5.67953 5.95177 5.52294Z" fill="#4D2C23"/>
	//- 		</svg>
	//- 	.snow.snowflake.four.scale-3
	//- 		<?xml version="1.0" encoding="UTF-8"?>
	//- 		<svg viewBox="0 0 15 16" xmlns="http://www.w3.org/2000/svg">
	//- 			<path d="m1.6889 7.8744c0.18685-0.27245 0.44773-0.44297 0.71249-0.66112 0.17521-0.12956 0.38742-0.20816 0.56264-0.33771 0.47309-0.24912 0.94618-0.49824 1.4855-0.55016 0.54323-0.09956 1.0748-0.05623 1.4974 0.31385-0.03701-0.05097-0.03701-0.05097-0.07402-0.10193-0.41097-0.51297-0.85895-1.0769-1.2252-1.6342-0.39932-0.65587-0.67209-1.3494-0.73653-2.0738-0.03518-0.57824 0.10096-1.2384 0.5857-1.6304 0.48474-0.39201 1.3064-0.37298 1.6356 0.13333 0.29193-0.55157 1.0474-0.72972 1.6491-0.53683 0.60171 0.19289 1.0088 0.75349 1.2076 1.3451 0.16174 0.5406 0.11903 1.0645 0.03155 1.6328-0.00388 0.04763-0.00777 0.09526-0.01165 0.14289 0.00388-0.04763 0.00777-0.09527 0.05643-0.18719 0.11672-0.42201 0.18867-0.79972 0.38329-1.1674 0.2394-0.41201 0.5567-0.76972 1.022-0.92358 0.4654-0.15385 1.0339-0.05956 1.33 0.34815 0.111 0.15289 0.2182 0.35342 0.4187 0.41772 0.2006 0.06429 0.3797-0.1129 0.5919-0.19149 0.3836-0.16052 0.8957 0.12096 0.9465 0.50867 0.0584 0.29245-0.0914 0.61586-0.2335 0.84402-0.0486 0.09192-0.1012 0.23148-0.1907 0.32007-0.0973 0.18386-0.1947 0.36771-0.292 0.55157-0.3406 0.64349-0.6773 1.2394-1.0919 1.7809-0.0486 0.09193-0.1382 0.18052-0.2238 0.22149l-0.0448 0.04429-0.0448 0.0443c-0.0448 0.0443-0.1343 0.13289-0.1791 0.17719 0.6835 0.19955 1.258 0.72586 1.6651 1.2865s0.6838 1.2065 0.9156 1.8966c0.0293 0.14624 0.0994 0.29574 0.1287 0.44204 0.0253 0.1938 0.0546 0.34-0.0019 0.5272-0.1089 0.3268-0.4554 0.5383-0.7748 0.4163 0.2415 0.0677 0.3778 0.4144 0.2766 0.6459s-0.362 0.402-0.6151 0.4773c-0.2493 0.0276-0.5355 0.0043-0.814-0.1143-0.7614-0.2539-1.4625-0.7425-1.9436-1.4051-0.2275 1.2761-0.93012 2.3216-1.7555 3.3571-0.22775 0.2691-0.50027 0.5825-0.83904 0.6987-0.33878 0.1162-0.82946 0.0762-1.0067-0.2738-0.60353 0.3343-1.4389-0.0214-1.7642-0.5754-0.36232-0.6049-0.30408-1.3193-0.08616-1.9728s0.43196-1.2594 0.64988-1.9129c-0.27641 0.3611-0.58983 0.6711-1.022 0.9236-0.38743 0.2082-0.88976 0.311-1.3279 0.1315-0.43815-0.1796-0.72645-0.6825-0.56883-1.1012-0.54323 0.0995-1.0846-0.32817-1.2464-0.86877-0.16951-0.44534 0.04065-1.0036 0.36183-1.4089z" fill="#F393BE"/>
	//- 			<path d="m9.4141 7.5461c0.08944-0.0884 0.13802-0.18014 0.26442-0.21768z" fill="#ED9A95"/>
	//- 			<path d="m9.673 7.9031c0.04477-0.04425 0.08953-0.0885 0.1752-0.12943 0.47697-0.29644 0.13398-1.1388-0.34297-0.84231-0.13043 0.08517-0.26085 0.17035-0.35039 0.25886-0.13819 0.18035-0.20236 0.46254-0.05431 0.66622 0.11103 0.15276 0.39339 0.22368 0.57247 0.04666z" fill="#ED9A95"/>
	//- 			<path d="M7.1638 8.89771C7.29408 8.81264 7.38739 8.6767 7.47683 8.5883Z" fill="#ED9A95"/>
	//- 			<path d="M7.42239 9.25344C7.5567 9.12067 7.69101 8.98791 7.78443 8.85182C7.92261 8.67147 7.86799 8.33169 7.67517 8.17226C7.48236 8.01283 7.27015 8.09135 7.08719 8.31595C7.03854 8.40779 6.949 8.4963 6.86334 8.53722C6.5013 8.93884 7.01946 9.65172 7.42239 9.25344Z" fill="#ED9A95"/>
	//- 			<path d="m8.541 9.6803c-0.03325-0.09841-0.02163-0.241-0.05487-0.33941z" fill="#ED9A95"/>
	//- 			<path d="m8.9209 9.567c-0.03313-0.0985-0.02149-0.24127-0.05462-0.33978-0.07612-0.58104-0.91334-0.40977-0.79633 0.17461 0.03313 0.0985 0.0215 0.24127 0.05463 0.33978 0.11314 0.63195 0.90946 0.45735 0.79632-0.17461z" fill="#ED9A95"/>
	//- 			<path d="m9.7642 8.8214c-0.03693-0.05113-0.11468-0.10559-0.15161-0.15673z" fill="#ED9A95"/>
	//- 			<path d="m10.076 8.5115c-0.11491-0.10518-0.18893-0.20702-0.34861-0.26794-0.1967-0.11184-0.45757 0.05851-0.51785 0.29311-0.10506 0.27886 0.04299 0.48255 0.23969 0.59439 0.15192 0.15609 0.39339 0.22368 0.57247 0.04666 0.1791-0.17701 0.2471-0.50679 0.0543-0.66622z" fill="#ED9A95"/>
	//- 			<path d="M7.48828 7.43665C7.3735 7.33159 7.214 7.27074 7.09922 7.16569Z" fill="#ED9A95"/>
	//- 			<path d="m7.7239 7.0735c-0.11492-0.10517-0.2746-0.16609-0.38951-0.27126-0.42653-0.32219-0.90138 0.45346-0.47486 0.77565 0.11492 0.10517 0.2746 0.16609 0.38952 0.27126 0.42652 0.32219 0.90137-0.45346 0.47485-0.77565z" fill="#ED9A95"/>
	//- 			<path d="m9.0617 3.7769c0.1167-0.42179 0.18863-0.79931 0.38324-1.1668 0.23938-0.4118 0.55662-0.76932 1.022-0.92308 0.4653-0.15376 1.0339-0.05948 1.33 0.34803 0.111 0.15282 0.2181 0.35325 0.4187 0.41752s0.3797-0.11282 0.5919-0.19137c0.3835-0.16042 0.8957 0.12095 0.9464 0.50846 0.0585 0.29231-0.0913 0.61555-0.2334 0.84358-0.0486 0.09188-0.1012 0.23137-0.1907 0.31992 0.0603-0.2347 0.0388-0.47607-0.154-0.63555-0.2298-0.21043-0.6134-0.05-0.8665 0.02521-0.2979 0.11949-0.7107 0.13376-0.8548-0.11761-0.148-0.20376 0.0018-0.527-0.1054-0.72743-0.1071-0.20042-0.3486-0.26802-0.5608-0.18947-0.2083 0.03094-0.3835 0.16042-0.5626 0.33751-0.43608 0.29991-0.79813 0.7017-1.1641 1.1511z" fill="#FDECF2"/>
	//- 		</svg>
	//- 	.snow.snowflake.five.scale-5
	//- 		<?xml version="1.0" encoding="UTF-8"?>
	//- 			<svg viewBox="0 0 15 16" xmlns="http://www.w3.org/2000/svg">
	//- 				<path d="m1.6889 7.8744c0.18685-0.27245 0.44773-0.44297 0.71249-0.66112 0.17521-0.12956 0.38742-0.20816 0.56264-0.33771 0.47309-0.24912 0.94618-0.49824 1.4855-0.55016 0.54323-0.09956 1.0748-0.05623 1.4974 0.31385-0.03701-0.05097-0.03701-0.05097-0.07402-0.10193-0.41097-0.51297-0.85895-1.0769-1.2252-1.6342-0.39932-0.65587-0.67209-1.3494-0.73653-2.0738-0.03518-0.57824 0.10096-1.2384 0.5857-1.6304 0.48474-0.39201 1.3064-0.37298 1.6356 0.13333 0.29193-0.55157 1.0474-0.72972 1.6491-0.53683 0.60171 0.19289 1.0088 0.75349 1.2076 1.3451 0.16174 0.5406 0.11903 1.0645 0.03155 1.6328-0.00388 0.04763-0.00777 0.09526-0.01165 0.14289 0.00388-0.04763 0.00777-0.09527 0.05643-0.18719 0.11672-0.42201 0.18867-0.79972 0.38329-1.1674 0.2394-0.41201 0.5567-0.76972 1.022-0.92358 0.4654-0.15385 1.0339-0.05956 1.33 0.34815 0.111 0.15289 0.2182 0.35342 0.4187 0.41772 0.2006 0.06429 0.3797-0.1129 0.5919-0.19149 0.3836-0.16052 0.8957 0.12096 0.9465 0.50867 0.0584 0.29245-0.0914 0.61586-0.2335 0.84402-0.0486 0.09192-0.1012 0.23148-0.1907 0.32007-0.0973 0.18386-0.1947 0.36771-0.292 0.55157-0.3406 0.64349-0.6773 1.2394-1.0919 1.7809-0.0486 0.09193-0.1382 0.18052-0.2238 0.22149l-0.0448 0.04429-0.0448 0.0443c-0.0448 0.0443-0.1343 0.13289-0.1791 0.17719 0.6835 0.19955 1.258 0.72586 1.6651 1.2865s0.6838 1.2065 0.9156 1.8966c0.0293 0.14624 0.0994 0.29574 0.1287 0.44204 0.0253 0.1938 0.0546 0.34-0.0019 0.5272-0.1089 0.3268-0.4554 0.5383-0.7748 0.4163 0.2415 0.0677 0.3778 0.4144 0.2766 0.6459s-0.362 0.402-0.6151 0.4773c-0.2493 0.0276-0.5355 0.0043-0.814-0.1143-0.7614-0.2539-1.4625-0.7425-1.9436-1.4051-0.2275 1.2761-0.93012 2.3216-1.7555 3.3571-0.22775 0.2691-0.50027 0.5825-0.83904 0.6987-0.33878 0.1162-0.82946 0.0762-1.0067-0.2738-0.60353 0.3343-1.4389-0.0214-1.7642-0.5754-0.36232-0.6049-0.30408-1.3193-0.08616-1.9728s0.43196-1.2594 0.64988-1.9129c-0.27641 0.3611-0.58983 0.6711-1.022 0.9236-0.38743 0.2082-0.88976 0.311-1.3279 0.1315-0.43815-0.1796-0.72645-0.6825-0.56883-1.1012-0.54323 0.0995-1.0846-0.32817-1.2464-0.86877-0.16951-0.44534 0.04065-1.0036 0.36183-1.4089z" fill="#F393BE"/>
	//- 				<path d="m9.4141 7.5461c0.08944-0.0884 0.13802-0.18014 0.26442-0.21768z" fill="#ED9A95"/>
	//- 				<path d="m9.673 7.9031c0.04477-0.04425 0.08953-0.0885 0.1752-0.12943 0.47697-0.29644 0.13398-1.1388-0.34297-0.84231-0.13043 0.08517-0.26085 0.17035-0.35039 0.25886-0.13819 0.18035-0.20236 0.46254-0.05431 0.66622 0.11103 0.15276 0.39339 0.22368 0.57247 0.04666z" fill="#ED9A95"/>
	//- 				<path d="M7.1638 8.89771C7.29408 8.81264 7.38739 8.6767 7.47683 8.5883Z" fill="#ED9A95"/>
	//- 				<path d="M7.42239 9.25344C7.5567 9.12067 7.69101 8.98791 7.78443 8.85182C7.92261 8.67147 7.86799 8.33169 7.67517 8.17226C7.48236 8.01283 7.27015 8.09135 7.08719 8.31595C7.03854 8.40779 6.949 8.4963 6.86334 8.53722C6.5013 8.93884 7.01946 9.65172 7.42239 9.25344Z" fill="#ED9A95"/>
	//- 				<path d="m8.541 9.6803c-0.03325-0.09841-0.02163-0.241-0.05487-0.33941z" fill="#ED9A95"/>
	//- 				<path d="m8.9209 9.567c-0.03313-0.0985-0.02149-0.24127-0.05462-0.33978-0.07612-0.58104-0.91334-0.40977-0.79633 0.17461 0.03313 0.0985 0.0215 0.24127 0.05463 0.33978 0.11314 0.63195 0.90946 0.45735 0.79632-0.17461z" fill="#ED9A95"/>
	//- 				<path d="m9.7642 8.8214c-0.03693-0.05113-0.11468-0.10559-0.15161-0.15673z" fill="#ED9A95"/>
	//- 				<path d="m10.076 8.5115c-0.11491-0.10518-0.18893-0.20702-0.34861-0.26794-0.1967-0.11184-0.45757 0.05851-0.51785 0.29311-0.10506 0.27886 0.04299 0.48255 0.23969 0.59439 0.15192 0.15609 0.39339 0.22368 0.57247 0.04666 0.1791-0.17701 0.2471-0.50679 0.0543-0.66622z" fill="#ED9A95"/>
	//- 				<path d="M7.48828 7.43665C7.3735 7.33159 7.214 7.27074 7.09922 7.16569Z" fill="#ED9A95"/>
	//- 				<path d="m7.7239 7.0735c-0.11492-0.10517-0.2746-0.16609-0.38951-0.27126-0.42653-0.32219-0.90138 0.45346-0.47486 0.77565 0.11492 0.10517 0.2746 0.16609 0.38952 0.27126 0.42652 0.32219 0.90137-0.45346 0.47485-0.77565z" fill="#ED9A95"/>
	//- 				<path d="m9.0617 3.7769c0.1167-0.42179 0.18863-0.79931 0.38324-1.1668 0.23938-0.4118 0.55662-0.76932 1.022-0.92308 0.4653-0.15376 1.0339-0.05948 1.33 0.34803 0.111 0.15282 0.2181 0.35325 0.4187 0.41752s0.3797-0.11282 0.5919-0.19137c0.3835-0.16042 0.8957 0.12095 0.9464 0.50846 0.0585 0.29231-0.0913 0.61555-0.2334 0.84358-0.0486 0.09188-0.1012 0.23137-0.1907 0.31992 0.0603-0.2347 0.0388-0.47607-0.154-0.63555-0.2298-0.21043-0.6134-0.05-0.8665 0.02521-0.2979 0.11949-0.7107 0.13376-0.8548-0.11761-0.148-0.20376 0.0018-0.527-0.1054-0.72743-0.1071-0.20042-0.3486-0.26802-0.5608-0.18947-0.2083 0.03094-0.3835 0.16042-0.5626 0.33751-0.43608 0.29991-0.79813 0.7017-1.1641 1.1511z" fill="#FDECF2"/>
	//- 			</svg>
	//- 	.snow.snowflake.four.scale-1
	//- 		<?xml version="1.0" encoding="UTF-8"?>
	//- 			<svg viewBox="0 0 15 16" xmlns="http://www.w3.org/2000/svg">
	//- 				<path d="m1.6889 7.8744c0.18685-0.27245 0.44773-0.44297 0.71249-0.66112 0.17521-0.12956 0.38742-0.20816 0.56264-0.33771 0.47309-0.24912 0.94618-0.49824 1.4855-0.55016 0.54323-0.09956 1.0748-0.05623 1.4974 0.31385-0.03701-0.05097-0.03701-0.05097-0.07402-0.10193-0.41097-0.51297-0.85895-1.0769-1.2252-1.6342-0.39932-0.65587-0.67209-1.3494-0.73653-2.0738-0.03518-0.57824 0.10096-1.2384 0.5857-1.6304 0.48474-0.39201 1.3064-0.37298 1.6356 0.13333 0.29193-0.55157 1.0474-0.72972 1.6491-0.53683 0.60171 0.19289 1.0088 0.75349 1.2076 1.3451 0.16174 0.5406 0.11903 1.0645 0.03155 1.6328-0.00388 0.04763-0.00777 0.09526-0.01165 0.14289 0.00388-0.04763 0.00777-0.09527 0.05643-0.18719 0.11672-0.42201 0.18867-0.79972 0.38329-1.1674 0.2394-0.41201 0.5567-0.76972 1.022-0.92358 0.4654-0.15385 1.0339-0.05956 1.33 0.34815 0.111 0.15289 0.2182 0.35342 0.4187 0.41772 0.2006 0.06429 0.3797-0.1129 0.5919-0.19149 0.3836-0.16052 0.8957 0.12096 0.9465 0.50867 0.0584 0.29245-0.0914 0.61586-0.2335 0.84402-0.0486 0.09192-0.1012 0.23148-0.1907 0.32007-0.0973 0.18386-0.1947 0.36771-0.292 0.55157-0.3406 0.64349-0.6773 1.2394-1.0919 1.7809-0.0486 0.09193-0.1382 0.18052-0.2238 0.22149l-0.0448 0.04429-0.0448 0.0443c-0.0448 0.0443-0.1343 0.13289-0.1791 0.17719 0.6835 0.19955 1.258 0.72586 1.6651 1.2865s0.6838 1.2065 0.9156 1.8966c0.0293 0.14624 0.0994 0.29574 0.1287 0.44204 0.0253 0.1938 0.0546 0.34-0.0019 0.5272-0.1089 0.3268-0.4554 0.5383-0.7748 0.4163 0.2415 0.0677 0.3778 0.4144 0.2766 0.6459s-0.362 0.402-0.6151 0.4773c-0.2493 0.0276-0.5355 0.0043-0.814-0.1143-0.7614-0.2539-1.4625-0.7425-1.9436-1.4051-0.2275 1.2761-0.93012 2.3216-1.7555 3.3571-0.22775 0.2691-0.50027 0.5825-0.83904 0.6987-0.33878 0.1162-0.82946 0.0762-1.0067-0.2738-0.60353 0.3343-1.4389-0.0214-1.7642-0.5754-0.36232-0.6049-0.30408-1.3193-0.08616-1.9728s0.43196-1.2594 0.64988-1.9129c-0.27641 0.3611-0.58983 0.6711-1.022 0.9236-0.38743 0.2082-0.88976 0.311-1.3279 0.1315-0.43815-0.1796-0.72645-0.6825-0.56883-1.1012-0.54323 0.0995-1.0846-0.32817-1.2464-0.86877-0.16951-0.44534 0.04065-1.0036 0.36183-1.4089z" fill="#F393BE"/>
	//- 				<path d="m9.4141 7.5461c0.08944-0.0884 0.13802-0.18014 0.26442-0.21768z" fill="#ED9A95"/>
	//- 				<path d="m9.673 7.9031c0.04477-0.04425 0.08953-0.0885 0.1752-0.12943 0.47697-0.29644 0.13398-1.1388-0.34297-0.84231-0.13043 0.08517-0.26085 0.17035-0.35039 0.25886-0.13819 0.18035-0.20236 0.46254-0.05431 0.66622 0.11103 0.15276 0.39339 0.22368 0.57247 0.04666z" fill="#ED9A95"/>
	//- 				<path d="M7.1638 8.89771C7.29408 8.81264 7.38739 8.6767 7.47683 8.5883Z" fill="#ED9A95"/>
	//- 				<path d="M7.42239 9.25344C7.5567 9.12067 7.69101 8.98791 7.78443 8.85182C7.92261 8.67147 7.86799 8.33169 7.67517 8.17226C7.48236 8.01283 7.27015 8.09135 7.08719 8.31595C7.03854 8.40779 6.949 8.4963 6.86334 8.53722C6.5013 8.93884 7.01946 9.65172 7.42239 9.25344Z" fill="#ED9A95"/>
	//- 				<path d="m8.541 9.6803c-0.03325-0.09841-0.02163-0.241-0.05487-0.33941z" fill="#ED9A95"/>
	//- 				<path d="m8.9209 9.567c-0.03313-0.0985-0.02149-0.24127-0.05462-0.33978-0.07612-0.58104-0.91334-0.40977-0.79633 0.17461 0.03313 0.0985 0.0215 0.24127 0.05463 0.33978 0.11314 0.63195 0.90946 0.45735 0.79632-0.17461z" fill="#ED9A95"/>
	//- 				<path d="m9.7642 8.8214c-0.03693-0.05113-0.11468-0.10559-0.15161-0.15673z" fill="#ED9A95"/>
	//- 				<path d="m10.076 8.5115c-0.11491-0.10518-0.18893-0.20702-0.34861-0.26794-0.1967-0.11184-0.45757 0.05851-0.51785 0.29311-0.10506 0.27886 0.04299 0.48255 0.23969 0.59439 0.15192 0.15609 0.39339 0.22368 0.57247 0.04666 0.1791-0.17701 0.2471-0.50679 0.0543-0.66622z" fill="#ED9A95"/>
	//- 				<path d="M7.48828 7.43665C7.3735 7.33159 7.214 7.27074 7.09922 7.16569Z" fill="#ED9A95"/>
	//- 				<path d="m7.7239 7.0735c-0.11492-0.10517-0.2746-0.16609-0.38951-0.27126-0.42653-0.32219-0.90138 0.45346-0.47486 0.77565 0.11492 0.10517 0.2746 0.16609 0.38952 0.27126 0.42652 0.32219 0.90137-0.45346 0.47485-0.77565z" fill="#ED9A95"/>
	//- 				<path d="m9.0617 3.7769c0.1167-0.42179 0.18863-0.79931 0.38324-1.1668 0.23938-0.4118 0.55662-0.76932 1.022-0.92308 0.4653-0.15376 1.0339-0.05948 1.33 0.34803 0.111 0.15282 0.2181 0.35325 0.4187 0.41752s0.3797-0.11282 0.5919-0.19137c0.3835-0.16042 0.8957 0.12095 0.9464 0.50846 0.0585 0.29231-0.0913 0.61555-0.2334 0.84358-0.0486 0.09188-0.1012 0.23137-0.1907 0.31992 0.0603-0.2347 0.0388-0.47607-0.154-0.63555-0.2298-0.21043-0.6134-0.05-0.8665 0.02521-0.2979 0.11949-0.7107 0.13376-0.8548-0.11761-0.148-0.20376 0.0018-0.527-0.1054-0.72743-0.1071-0.20042-0.3486-0.26802-0.5608-0.18947-0.2083 0.03094-0.3835 0.16042-0.5626 0.33751-0.43608 0.29991-0.79813 0.7017-1.1641 1.1511z" fill="#FDECF2"/>
	//- 			</svg>

	//- 	.snow.snowflake.two.scale-2
	//- 		<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
	//- 			<path d="M1.5748 5.45341C1.7909 5.32719 2.00699 5.20097 2.2601 5.12571C2.42755 5.09141 2.59888 5.00948 2.76633 4.97518C3.18688 4.86562 3.60355 4.8037 4.00858 4.88466C4.41749 4.91799 4.81475 5.09421 5.07769 5.40333C5.08157 5.3557 5.04068 5.35237 5.04456 5.30474C4.83804 4.80843 4.63152 4.31213 4.50679 3.82249C4.34893 3.23425 4.31374 2.65602 4.44211 2.09112C4.56272 1.62148 4.80212 1.20948 5.23044 1.00466C5.65876 0.799836 6.30136 0.996058 6.42998 1.43807C6.78817 1.08369 7.40541 1.08605 7.79102 1.40517C8.18051 1.67665 8.38704 2.17296 8.3891 2.6526C8.39505 3.08461 8.23743 3.50328 8.0428 3.87099C8.03892 3.91863 7.99415 3.96292 7.99415 3.96292C7.99803 3.91529 8.0428 3.87099 8.04669 3.82336C8.19266 3.54758 8.37951 3.27513 8.60726 3.00602C8.8759 2.74023 9.22244 2.52874 9.59434 2.51111C9.96624 2.49348 10.3635 2.66971 10.4999 3.01645C10.57 3.16601 10.5954 3.35987 10.7142 3.4175C10.8738 3.47846 11.0452 3.39653 11.2087 3.40986C11.5398 3.3889 11.8436 3.70135 11.8203 3.98713C11.8009 4.22529 11.6218 4.40247 11.4427 4.57966C11.3531 4.66825 11.3084 4.71255 11.2188 4.80115C11.0845 4.93404 10.995 5.02263 10.8606 5.15553C10.4577 5.5542 10.0547 5.95288 9.61862 6.25296C9.53295 6.29392 9.48818 6.33822 9.40251 6.37918L9.35774 6.42348L9.31298 6.46778C9.2682 6.51208 9.18253 6.55304 9.13775 6.59734C9.60515 6.92312 9.93822 7.3818 10.1 7.9224C10.3065 8.4187 10.3417 8.99693 10.3807 9.52753C10.373 9.62279 10.4022 9.76902 10.3945 9.86429C10.3828 10.0072 10.3303 10.1467 10.2816 10.2387C10.1395 10.4668 9.80465 10.5354 9.61184 10.3759C9.76764 10.4844 9.78523 10.7736 9.6918 10.9098C9.5536 11.0903 9.34526 11.1213 9.09992 11.1013C8.89546 11.0846 8.69878 10.9727 8.50209 10.8608C7.95291 10.5283 7.54582 9.9677 7.34319 9.42376C6.89752 10.3464 6.14802 10.9565 5.27584 11.5567C5.05586 11.7306 4.7541 11.8977 4.46398 11.922C4.17386 11.9463 3.85839 11.7768 3.75513 11.5286C3.20802 11.6758 2.67049 11.2005 2.54575 10.7108C2.42102 10.2212 2.63118 9.66297 2.91535 9.20667C3.24041 8.75369 3.5207 8.34502 3.84576 7.89205C3.54011 8.10687 3.23834 8.27405 2.90345 8.34265C2.56856 8.41124 2.15965 8.37791 1.88894 8.16406C1.61824 7.9502 1.48962 7.5082 1.71737 7.23908C1.26757 7.20242 0.975389 6.74707 0.969442 6.31507C0.988855 6.07691 1.22438 5.71253 1.5748 5.45341Z" fill="#F393BE"/>
	//- 			<path d="M7.12137 8.11063C7.38225 7.9401 7.49897 7.5181 7.39959 7.22231C7.8085 7.25565 8.23293 7.09846 8.54246 6.83601C8.63201 6.74741 8.71767 6.70644 8.72932 6.56355C8.73708 6.46829 8.70785 6.32207 8.62607 6.3154C8.50728 6.25777 8.41773 6.34636 8.29118 6.384C8.20552 6.42496 8.03806 6.45926 7.96793 6.3097C7.9348 6.21111 7.97958 6.16681 8.02824 6.07488C8.17032 5.84673 8.1566 5.50998 8.00857 5.30613C7.58025 5.51095 7.18506 5.81436 6.90865 6.1754C6.80151 5.97488 6.65348 5.77102 6.54245 5.61813C6.50544 5.56717 6.47232 5.46858 6.39054 5.46191C6.23086 5.40095 6.05953 5.48288 6.007 5.62243C5.95446 5.76199 5.9837 5.90822 6.01294 6.05444C5.81237 5.99014 5.53002 5.91918 5.3957 6.05207C5.26138 6.18497 5.28674 6.37882 5.40165 6.48408C5.51267 6.63697 5.63146 6.6946 5.78726 6.8032C5.56728 6.97705 5.50308 7.2595 5.60634 7.50766C5.74273 7.8544 6.07762 7.78581 6.31132 7.9487C6.58203 8.16256 6.8196 8.27781 7.12137 8.11063Z" fill="#FAC4C2"/>
	//- 			<path d="M7.47076 6.84587C7.55634 6.8047 7.64193 6.76353 7.72752 6.72236Z" fill="#ED9A95"/>
	//- 			<path d="M7.61152 7.14427C7.65629 7.10001 7.69717 7.10335 7.78284 7.06243C8.20338 6.953 8.05712 6.22252 7.67746 6.33528C7.55091 6.37287 7.46524 6.41379 7.33869 6.45138C6.98829 6.71024 7.26112 7.40312 7.61152 7.14427Z" fill="#ED9A95"/>
	//- 			<path d="M5.49243 7.40345C5.57801 7.36228 5.70833 7.27661 5.79392 7.23544Z" fill="#ED9A95"/>
	//- 			<path d="M5.6275 7.74944C5.71316 7.70852 5.8436 7.62335 5.92926 7.58243C6.05969 7.49725 6.16086 7.26598 6.09459 7.06896C6.02445 6.91953 5.82775 6.80769 5.65643 6.88953C5.56689 6.97804 5.48124 7.01897 5.35469 7.05655C4.96727 7.26449 5.24397 7.90979 5.6275 7.74944Z" fill="#ED9A95"/>
	//- 			<path d="M6.65567 8.26453C6.66343 8.16935 6.67119 8.07418 6.67895 7.97901C6.75863 7.50647 6.10438 7.45314 6.02469 7.92568C6.01693 8.02085 6.00918 8.11602 6.00142 8.2112C5.96263 8.68707 6.61688 8.7404 6.65567 8.26453Z" fill="#ED9A95"/>
	//- 			<path d="M7.46973 7.85193C7.4328 7.80079 7.39587 7.74966 7.35895 7.69853Z" fill="#ED9A95"/>
	//- 			<path d="M7.77297 7.6855C7.73984 7.587 7.70282 7.53608 7.62491 7.48182C7.51388 7.32906 7.30944 7.3124 7.17513 7.44516C7.04082 7.57792 7.02142 7.81585 7.13246 7.96861C7.17335 7.97195 7.16946 8.01954 7.16946 8.01954C7.2396 8.16897 7.4363 8.28081 7.60762 8.19897C7.77894 8.11713 7.83924 7.88252 7.77297 7.6855Z" fill="#ED9A95"/>
	//- 			<path d="M6.07275 6.34863C5.99882 6.24691 5.92489 6.14519 5.85095 6.04346Z" fill="#ED9A95"/>
	//- 			<path d="M6.29502 6.12676C6.22099 6.02492 6.14698 5.92308 6.07296 5.82124C5.81388 5.4648 5.3214 5.95159 5.58049 6.30804C5.65451 6.40988 5.72853 6.51172 5.80256 6.61356C6.06164 6.97001 6.59499 6.48654 6.29502 6.12676Z" fill="#ED9A95"/>
	//- 			<path d="M1.57669 5.45306C1.79279 5.32683 2.00888 5.20061 2.26199 5.12535C2.04201 5.29921 1.81814 5.52069 1.67218 5.79648C1.52621 6.07226 1.45814 6.40234 1.59841 6.70146C1.69778 6.99724 2.00937 7.21442 2.34038 7.19346C2.11652 7.41494 2.08933 7.74836 2.23348 7.99985C2.37763 8.25134 2.697 8.37326 2.991 8.30133C3.19934 8.27037 3.37843 8.09318 3.54976 8.01125C3.72109 7.92932 4.0112 7.90502 4.12223 8.05791C4.23325 8.2108 4.17294 8.44563 4.07563 8.62948C3.92966 8.90527 3.66103 9.17105 3.47417 9.4435C3.28731 9.71595 3.09657 10.036 3.11028 10.3728C3.12399 10.7095 3.38305 11.0663 3.71406 11.0453C3.69464 11.2835 3.92446 11.494 4.16981 11.514C4.41515 11.534 4.62736 11.4554 4.84346 11.3292C5.65921 10.9162 6.40484 10.3537 6.95765 9.63156C7.05108 9.49534 7.18927 9.31482 7.31971 9.22956C7.49104 9.14763 7.70327 9.06904 7.85906 9.17763C8.01486 9.28622 8.08499 9.43578 8.15124 9.63297C8.36164 10.0816 8.73948 10.496 9.21464 10.7265C9.31195 10.5427 9.40538 10.4065 9.5027 10.2226C9.49881 10.2702 10.0343 10.2659 10.0752 10.2693C10.1608 10.2283 10.2913 10.143 10.3769 10.1021C10.3653 10.245 10.3127 10.3845 10.2641 10.4765C10.122 10.7046 9.78712 10.7732 9.59431 10.6136C9.75011 10.7222 9.7677 11.0114 9.67427 11.1476C9.53607 11.3281 9.32774 11.3591 9.08239 11.3391C8.87794 11.3224 8.68125 11.2105 8.48456 11.0985C7.93539 10.7661 7.5283 10.2055 7.32566 9.66156C6.87999 10.5842 6.13049 11.1943 5.25832 11.7945C5.03833 11.9684 4.73657 12.1355 4.44645 12.1598C4.15634 12.1841 3.84086 12.0146 3.7376 11.7664C3.19049 11.9136 2.65297 11.4383 2.52823 10.9486C2.40349 10.459 2.61365 9.90077 2.89782 9.44446C3.22288 8.99149 3.50317 8.58282 3.82823 8.12985C3.52258 8.34467 3.22081 8.51185 2.88592 8.58045C2.55103 8.64904 2.14212 8.61571 1.87142 8.40186C1.60071 8.188 1.47209 7.746 1.69984 7.47688C1.25004 7.44021 0.957863 6.98487 0.951916 6.55286C0.990743 6.07656 1.22627 5.71218 1.57669 5.45306Z" fill="#FDECF2"/>
	//- 			<path d="M8.08094 3.92175C8.2269 3.64611 8.41374 3.37381 8.64147 3.10483C8.9101 2.8392 9.25664 2.62783 9.62854 2.61023C10.0004 2.59262 10.3977 2.76877 10.5341 3.11534C10.6042 3.26483 10.6296 3.45859 10.7484 3.5162C10.9081 3.57713 11.0794 3.49525 11.243 3.50858C11.574 3.48764 11.8778 3.79995 11.8545 4.08559C11.8351 4.32362 11.656 4.50072 11.477 4.67781C11.3874 4.76635 11.3426 4.81063 11.2531 4.89917C11.3504 4.71541 11.4068 4.52832 11.2958 4.3755C11.1477 4.17174 10.8576 4.19602 10.6084 4.22362C10.3592 4.25123 10.0359 4.17696 10.0144 3.93559C9.94818 3.7385 10.1273 3.56141 10.1019 3.36765C10.0727 3.2215 9.87596 3.10962 9.7124 3.09629C9.54883 3.08295 9.37751 3.16483 9.25095 3.20244C8.81876 3.45474 8.43135 3.66278 8.08094 3.92175Z" fill="#FDECF2"/>
	//- 			<path d="M5.22768 1.05172C5.656 0.846904 6.2986 1.04313 6.42722 1.48513C6.78541 1.13076 7.40265 1.13312 7.78826 1.45224C8.17775 1.72372 8.38428 2.22003 8.38634 2.69967C8.39229 3.13167 8.23467 3.55035 8.04004 3.91806C7.90961 4.00332 7.77916 4.08858 7.68961 4.17717C7.98932 3.53035 7.96966 2.76159 7.64823 2.16003C7.5781 2.01047 7.4632 1.90521 7.34829 1.79995C7.18861 1.73899 7.02893 1.67802 6.89849 1.76328C6.76805 1.84855 6.7194 1.94047 6.59285 1.97811C6.38839 1.96144 6.36691 1.71995 6.25588 1.56706C6.07861 1.21698 5.54315 1.22128 5.23361 1.48373C4.92408 1.74618 4.81124 2.12055 4.73929 2.49827C4.66345 2.92361 4.62464 3.39991 4.58969 3.82859C4.43183 3.24036 4.39664 2.66212 4.52502 2.09722C4.55608 1.71618 4.79936 1.25654 5.22768 1.05172Z" fill="#FDECF2"/>
	//- 		</svg>
	//- 	.snow.snowflake.three.scale-5
	//- 		<svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
	//- 			<path d="M5.3785 1.50688C5.75809 1.77133 6.03805 2.02766 6.30855 2.39997C6.39872 2.52408 6.48887 2.64818 6.56959 2.88827C6.82118 3.49256 6.66485 4.18034 6.13837 4.48769C4.33132 5.74145 2.24801 3.00301 1.53611 1.89419L1.44591 1.77008C1.35574 1.64598 1.36522 1.52999 1.37467 1.41401C1.38413 1.29802 1.40305 1.06605 1.61175 0.966309C1.92007 0.874687 2.29962 1.13914 2.51778 0.923411C2.62685 0.815548 2.62689 0.815554 2.63634 0.69957C2.75488 0.475722 2.96355 0.375974 3.26242 0.400337C3.46167 0.416578 3.65147 0.548804 3.95034 0.573166C4.32992 0.837619 4.8993 1.2343 5.3785 1.50688Z" fill="#F9D1D8"/>
	//- 			<path d="M6.29773 2.51779C6.3879 2.64185 6.47806 2.76591 6.55878 3.00591C6.81039 3.60996 6.65408 4.29747 6.12761 4.60468C4.32061 5.85788 2.23721 3.12046 1.52529 2.01206L1.43508 1.888C2.45021 1.73733 3.69809 2.42259 4.45727 2.95131C4.89357 2.52004 5.60978 2.345 6.18862 2.6256C6.20752 2.39373 6.1981 2.50967 6.29773 2.51779Z" fill="#F393BE"/>
	//- 			<path d="M5.95177 5.52294C5.56273 5.37448 5.26388 5.35012 4.86539 5.31763C4.17749 5.1448 3.71718 4.64026 3.25688 4.13572C3.06709 4.00349 2.88677 3.75528 3.0053 3.53143C3.12383 3.30759 3.42267 3.33195 3.62192 3.34819C4.21966 3.39692 4.89816 3.68574 5.36791 4.07429C5.2872 3.8342 5.6144 3.51061 6.0129 3.54309C6.31176 3.56746 6.58226 3.93977 6.76259 4.18798C7.12327 4.6844 8.86482 6.69445 8.31943 7.23377C7.89258 7.54924 7.55084 6.82085 7.27088 6.56452C6.91966 5.95211 6.44043 5.67953 5.95177 5.52294Z" fill="#4D2C23"/>
	//- 		</svg>

//- .left-christmas
//- 	img(src="images/decorations/left-christmas.png" class="img-fluid")
//- .right-christmas
//- 	img(src="images/decorations/right-christmas.png" class="img-fluid")
//- .right-christmas
//- 	include ../../../images/decorations/right-header.svg