block Profile

- var moduleComment = []
- moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'MS YEN', 'info':'Car Owner', 'desc':'Dịch vụ tốt'})
- moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'It is an amazing experience on renting his car, very easy for my first try, I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'})
//- - moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'Excellent guest, made the rental process easy. Thanks!'})
//- - moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'})

- var moduleDeal = []
- moduleDeal.push({'class':'', 'heroes':'CHERVOLET SPARK 2016', 'img':'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/toyota_innova_2018/p/g/2018/10/29/15/U5qG-JJJ9Wm7yePWa8Vnmw.jpg', 'trips':'2 chuyến', 'distance': '1.1km'})
- moduleDeal.push({'class':'', 'heroes':'CHERVOLET COROLADO 2017', 'img':'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/toyota_innova_2018/p/g/2018/10/29/15/U5qG-JJJ9Wm7yePWa8Vnmw.jpg', 'trips':'1 chuyến', 'distance': '3.4km'})
- moduleDeal.push({'class':'', 'heroes':'KIA RIO 2016', 'img':'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/toyota_innova_2018/p/g/2018/10/29/15/U5qG-JJJ9Wm7yePWa8Vnmw.jpg', 'trips':'2 chuyến', 'distance': '6.4km'})
- moduleDeal.push({'class':'', 'heroes':'KIA MORNING SI 2016', 'img':'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/toyota_innova_2018/p/g/2018/10/29/15/U5qG-JJJ9Wm7yePWa8Vnmw.jpg', 'trips':'1 chuyến', 'distance': '8.2km'})
- moduleDeal.push({'class':'', 'heroes':'KIA MORNING SI 2017', 'img':'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/toyota_innova_2018/p/g/2018/10/29/15/U5qG-JJJ9Wm7yePWa8Vnmw.jpg', 'trips':'1 chuyến', 'distance': '8.3km'})


.cover-car
	.status-verify.status-ins
		i.ic.ic-insurance-wh
		span Bảo hiểm chuyến đi
	//- .status-verify <i class="ic ic-verify-stroke"></i> Thông tin đã xác thực
	//- .has-insurance
	//- 	img.img-fluid(src="images/homev2/mic.png")
	a.func-zoom(href="#!zoom")
		i.ic.ic-zoom
	.swiper-button-next
		i.i-arr
	.swiper-button-prev
		i.i-arr
	.swiper-container.swiper-car
		.swiper-wrapper
			.swiper-slide
				.img-cover.fit-img
					img(src="http://via.placeholder.com/800x600")
			.swiper-slide
				.img-cover.fit-img
					img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg")
			.swiper-slide
				.img-cover.fit-img
					img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg")
			.swiper-slide
				.img-cover.fit-img
					img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg")
		.swiper-pagination
	span.label-pos
		span.free
			i.ic.ic-passport
			| Chấp nhận passport
		span Đặt xe nhanh
		span.discount Giảm 30%

	a.qr-car
		i.ic.ic-qr-code
.module-detail.dt__wrapper
	.detail-container
		.content-detail
			.info-car
				.group-name
					h1.title-car MITSUBISHI PAJERO SPORT 2016
					p.price
						span.real 1050K
						span.special 900K
						span /ngày
				.group-line
					span.star
						span.star_rate-num 4
						i.full
					.bar-line
					p
						span.value 1
						|chuyến
				.group-label
					span MIC Insurance
					span Giao xe tận nơi
					span Miễn phí giao xe


		.sidebar-detail
			.rent-box.rent-car
				.price
					.tooltip.switch-state
						.tooltip-icon
							include ../../../images/switch-icon.svg
						.tooltip-text Chuyển sang trạng thái xe có tài xế
					span.real 1050K
					h3 900K
						span /ngày
				//-- For withdriver
				.line-form.location
					//- .d-flex.opt-city-tour
					//- 	label.label Lộ trình
					//- 	.line-radio.d-flex
					//- 		label.custom-radio.custom-control
					//- 			input(type="radio" name="setting-mode" class="custom-control-input")
					//- 			span.custom-control-indicator
					//- 			span.custom-control-description
					//- 				|Nội thành
					//- 		label.custom-radio.custom-control
					//- 			input(type="radio" name="setting-mode" class="custom-control-input")
					//- 			span.custom-control-indicator
					//- 			span.custom-control-description
					//- 				|Liên tỉnh
					//- label.label Lộ trình
					.map-route
						.fix-map
							img(src="images/map@2x.png" class="map")
					.tab-opt-route
						a(href="#!" class="opt-route")
							| Nội thành
						a(href="#!" class="opt-route active")
							| Liên tỉnh
					label.home-label Lộ trình
					
					.wrap-input.no-icon
						i.ic.ic-location-f
						div
							input( type="text" placeholder="Nhập thành phố, quận, địa chỉ...")
					.wrap-input
						i.ic.ic-sm-circle-fill
						div
							input( type="text" placeholder="Thêm lộ trình")
						i.ic.ic-remove-fill
					.wrap-input
						i.ic.ic-sm-circle-fill
						div
							input( type="text" placeholder="....")
						i.ic.ic-remove-fill
					.wrap-input
						i.ic.ic-location-f
						div
							input( type="text" placeholder="...")
					.wrap-input.add-address
						i.ic.ic-plus-fill
						span Thêm điểm nếu đi xa

					.total-address
						p
							| Tổng lộ trình:
							span.fontWeight-5 			1125km
					.note
						p
							| Số km được đi:
							span.fontWeight-5 			1603 km
						p
							| Phụ thu vượt giới hạn:
							span.fontWeight-5 			0 nghìn/ km
						p
							| Hỗ trợ đưa đón tận nơi trong vòng:
							span.fontWeight-5 			0 km
						p
							| Phí đưa đón:
							span.fontWeight-5 			Miễn phí
						p
							| :
							span.fontWeight-5 			Miễn phí

				.line-form.has-timer
					label.label Thời gian
					.wrap-input.has-dropdown.date
						.react-bootstrap-daterangepicker-container
							span.value.placeholder 05 / 06 / 2018
					.wrap-input.has-dropdown.time.wrap-select
						select
							option(value='0', disabled='', selected='') 7:30 PM
							option(value='1') 8:30 PM
							option(value='2') 9:30 PM
							option(value='3') 10:30 PM
							option(value='4') 11:30 PM
				.line-form.has-timer.start-time-wd.pick-time-until
					//- label.label Trong vòng
					div.wrap-input.has-dropdown.time-selection
						span.value.placeholder
							| Tùy chỉnh
						.options.hidden
							label.custom-radio-input.custom-control
								input(type="radio" name="payment" class="custom-control-input")
								span.custom-control-indicator
								span.custom-control-description 4 tiếng&nbsp;
									span.extra-info (thời gian kết thúc: 20:00, 03/06/2020)
							label.custom-radio-input.custom-control
								input(type="radio" name="payment" class="custom-control-input")
								span.custom-control-indicator
								span.custom-control-description 4 tiếng&nbsp;
									span.extra-info (thời gian kết thúc: 20:00, 03/06/2020) 
							label.custom-radio-input.custom-control
								input(type="radio" name="payment" class="custom-control-input")
								span.custom-control-indicator
								span.custom-control-description 4 tiếng&nbsp;
									span.extra-info (thời gian kết thúc: 20:00, 03/06/2020) 
							label.custom-radio-input.custom-control
								input(type="radio" name="payment" class="custom-control-input")
								span.custom-control-indicator
								span.custom-control-description 4 tiếng&nbsp;
									span.extra-info (thời gian kết thúc: 20:00, 03/06/2020)
							label.custom-radio-input.custom-control
								input(type="radio" name="payment" class="custom-control-input")
								span.custom-control-indicator
								span.custom-control-description Tùy chỉnh	
									//- i.i-chevron-down
				.line-form.has-timer.end-time-wd
						.wrap-input.wrap-input-transparent
								| Thời gian kết thúc
								span.marginLeft-xs
									| 01:00 05/07/2020
				.line-form.has-timer
					label.label Ngày kết thúc
					.wrap-input.has-dropdown.date
						.react-bootstrap-daterangepicker-container
							span.value.placeholder 06 / 06 / 2018
					.wrap-input.has-dropdown.time.wrap-select
						select
							option(value='0', disabled='', selected='') 7:30 PM
							option(value='1') 8:30 PM
							option(value='2') 9:30 PM
							option(value='3') 10:30 PM
							option(value='4') 11:30 PM
				
				.line-form.local
					.note
						p Phí thu vượt thời gian: 0 nghìn/km
				.notif-box
					.notif-body
						p
							| Thuê tuần giảm
							span 5%
							| - Thuê tháng giảm
							span 10%
				.line-form.local
					.d-flex.center
						label Địa điểm giao nhận xe
						span.link-trip-active.marginBottom-s Thay đổi	
					.note
						a.location-picker
							include ../../../images/ic-svg/location.svg
							span Chọn địa điểm giao nhận xe
						span.subnote Địa chỉ cụ thể sẽ được hiển thị sau khi đặt cọc
					.notice-form.marginTop-xs
						p.d-flex-between
							| Giao xe tận nơi
							span bán kính 20km
						p.d-flex-between
							| Miễn phí giao nhận xe
							span bán kính 5km
						p.d-flex-between
							| Phí giao nhận xe (2 chiều)
							span 20 000đ/km

				.calendar.text-danger
					span.ic.ic-notice
					| Vui lòng chọn địa điểm giao nhận xe.
				.calendar
					p
						span.ic.ic-notice
						|Xe không có sẵn
					p Từ ngày 12/02/2017 cho đến hết ngày 23/02/2017
				//- .line-form.local
				//- 	label Địa Điểm Giao Xe
				//- 	.squaredFour.have-label
				//- 		input(type="checkbox")
				//- 		label Nhận và trả xe tại địa chỉ của xe

				.line-form.local
					label Địa điểm giao nhận xe
					.line-radio
						label.custom-radio.custom-control
							input(type="radio" name="setting-mode" class="custom-control-input")
							span.custom-control-indicator
							span.custom-control-description
								|Mặc định
						label.custom-radio.custom-control
							input(type="radio" name="setting-mode" class="custom-control-input")
							span.custom-control-indicator
							span.custom-control-description
								|Tùy chỉnh
					.group
						i.ic.ic-location-f
						.wrap-input
							span.address-pickup.placeholder Click vào đây để chọn địa chỉ
					.note
						p Bình Thạnh, Hồ Chí Minh, Việt Nam
				.line-form.local
					.note
						label.label Giới hạn số km
						p Tối đa: 400km/ngày. Phí 10K/km vượt giới hạn

				.line-form.local
					.note.insurance
						label Bảo hiểm
						p
							a
								i.ic.ic-insurance-wh
								| Chuyến đi được bảo hiểm bởi
								img.img-fluid.logo-ins(src="../images/logomic.png")
								| .&nbsp;
								span.link-trip-active Tìm hiểu thêm

				.car-bill
					h4.text-center Chi tiết giá
					.bill-wrap

						.group
							p Đơn giá thuê
							span 403 200 / ngày
						.group.long-term
							p Thuê tuần (giảm 20%)
							span.line-through Giá gốc 560 000 / ngày
						.group.long-term
							.d-flex
								p Chương trình giảm giá
								.tooltip
									i.ic.ic-question-mark
									.tooltip-text Lorem ipsum dolor sit amet.
							span.line-through 448 000 / ngày

						.group.has-line
							p Tổng phí thuê xe
							span 403 200 x
								span.strong 7 ngày
						.group
							.d-flex
								p Phí bảo hiểm
								.tooltip
									i.ic.ic-question-mark
									.tooltip-text Lorem ipsum dolor sit amet.
							span 25 000
						.group
							p Phí giao nhận xe (2 chiều)
							span 25 000 (2,5 km)

						.group
							p Khuyến mãi mã MI20
								a.func-remove(href="")
									i.ic.ic-remove-thin
							span  - 150 000
						.group
							p
								strong Tổng cộng
							span
								strong 2 847 400đ
					.space.s
					.promotion-code.d-flex-between 
						p Mã Khuyến mãi
						.title-new 
							p Nhập mã khuyến mãi
					.space.m
					.wrap-btn
						a.btn.btn-primary.btn--m(href="#!")#open-modal-confirm-book
							i.ic.ic-thunderbolt-wh
							| ĐẶT XE
		.content-detail
			.info-car--desc
				.group
					span.lstitle-new ĐẶC ĐIỂM
					.ctn-desc-new
						ul.features
							li
								ic.ic.ic-chair
								|Số ghế: 8 ghế
							li
								ic.ic.ic-trans
								|Truyền động: Số sàn
							li
								ic.ic.ic-diesel
								|Nhiên liệu: Xăng
							li
								ic.ic.ic-fuel-consumption
								|Mức tiêu thụ nhiên liệu: 10 lít/100km
				.group
					span.lstitle-new MÔ TẢ
					.ctn-desc-new
						p Xe đời mới, sạch sẽ, không gây mùi bên trong
						P Nội thất nguyên bản theo xe, được lau chùi vệ sinh sa mỗi lần xe về
						P Xe được vệ sinh và mang đi kiểm tra bảo dưỡng theo đúng định kỳ để đảm bảo máy móc và thiết bị trên xe luôn an toàn cho người thuê khi đi công tác xa hay vui chơi cùng gia đình
				.group
					span.lstitle-new TÍNH NĂNG
					.ctn-desc-new
						ul.accessories
							li
								ic.ic.ic-bth
								|Bluetooth
							li
								ic.ic.ic-gps
								|Định vị GPS
							li
								ic.ic.ic-usb
								|Khe cắm USB
							li
								ic.ic.ic-window
								|Cửa sổ trời
							li
								ic.ic.ic-child
								|Ghế trẻ em
				.group
					span.lstitle-new
						|GIẤY TỜ BẮT BUỘC
					.ctn-desc-new
						ul.required
							li
								|CMND
								ic.ic.ic-check
							li
								|Giấy Phép Lái Xe
								ic.ic.ic-check
							li
								|Hộ Khẩu / KT3
								ic.ic.ic-check
						.ct-required
							span.lstitle-new CÁC GIẤY TỜ BẮT BUỘC KHÁC
							p 20 triệu tiền thế chân
				.group
					span.lstitle-new ĐIỀU KHOẢN
					.ctn-desc-new.clause
						p Khách thuê xe yêu cầu phải đầy đủ giấy tờ gốc:
						ul
							li CMND
							li Hộ khẩu thường trú/ KT3 phải trùng số nhà
							li HĐLĐ
							li Hoá đơn điện/ nước
						p Nếu là cty phải có GPKD bản chính, hoá đơn thuế 2 tháng gần nhất CAVET XE MÁY CHÍNH CHỦ VÀ XE MÁY TRỊ GIÁ TRÊN 20 triệu
						p Khách thuê sẽ được xác minh đầy đủ thông tin trước khi giao xe.
						p LƯU Ý: Giá trên chỉ áp dụng cho các ngày lẻ, không áp dụng cho ngày T7, CN, các ngày lễ tết. Hiện tại lịch cận tết có nhiều thay đổi nên quý khách vui lòng liên hệ hệ thống miOto để hướng dẫn book xe trên App
						p Cảm ơn quý khách đã hợp tác
						p “Trao chìa khoá - trao niềm tin”
				.group
					span.lstitle-new CHỦ XE
					.profile-mini
						.avatar.avatar-new(title="title name")
							.avatar-img(style="background-image:url(images/avatar_default.png)")
							span.host-stars 
								<svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M3.74373 14.1812L0 20.4535L4.36948 20.2293L6.35463 23.999L9.81785 18.1959C7.33642 17.5754 5.20562 16.1312 3.74373 14.1812Z" fill="#FFA800"/>
									<path d="M20.2329 14.1812C18.7834 16.1302 16.655 17.575 14.1816 18.2039L17.6518 23.999L19.6348 20.2413L23.9995 20.4648L20.2329 14.1812Z" fill="#FFA800"/>
									<circle cx="12.0004" cy="8.72698" r="8.72698" fill="#FFA800"/>
									<circle cx="12.0028" cy="8.7269" r="7.09067" fill="#FFE99D"/>
									<path d="M11.7334 4.59761C11.85 4.28582 12.291 4.28582 12.4076 4.59761L13.2976 6.9777C13.3482 7.11297 13.4747 7.2049 13.619 7.2112L16.1576 7.32213C16.4901 7.33666 16.6264 7.7561 16.3659 7.96333L14.3773 9.54523C14.2643 9.63513 14.216 9.78388 14.2546 9.92305L14.9336 12.3717C15.0225 12.6925 14.6657 12.9517 14.3881 12.768L12.2691 11.3656C12.1487 11.2859 11.9923 11.2859 11.8719 11.3656L9.7529 12.768C9.47531 12.9517 9.11852 12.6925 9.20746 12.3717L9.88644 9.92305C9.92503 9.78388 9.8767 9.63513 9.76368 9.54523L7.7751 7.96333C7.5146 7.7561 7.65088 7.33666 7.98344 7.32213L10.5221 7.2112C10.6663 7.2049 10.7929 7.11297 10.8434 6.9777L11.7334 4.59761Z" fill="#FFA800"/>
								</svg>
						.desc
							h2
								a(href="#!") NGUYỄN QUỐC THIỆN
							div
								span.star
									span.star_rate-num 5
									i.full
							.has-vaccinated
								include ../../../images/ic-svg/ic-vaccine-green.svg
								| Đã tiêm vaccine Covid-19
						.owner-response
							.response-desc
								p Tỉ lệ phản hồi
								span.rate 75%
							.response-desc
								p Thời gian phản hồi
								span.rate 7 phút
							.response-desc
								p Tỉ lệ đồng ý
								span.rate 70%
				.group
					span.lstitle-new VỊ TRÍ
					.ctn-desc-new
						.fix-map
							img(src="images/map@2x.png" class="map" alt=page)

				.wr-wrap-btn
					.wrap-btn
						a.btn.btn-secondary.btn--m(href="#!") Thêm vào yêu thích
					.wrap-btn
						a.btn.btn-default.btn--m(href="#!") Báo xấu

			.owner
				.left
					span.lstitle-new CHỦ XE
					.profile-mini-v2
						.avatar.avatar-new(title="title name")
							.avatar-img(style="background-image:url(images/avatar_default.png)")
				.desc-v2
					h2
						a(href="#!") NGUYỄN QUỐC THIỆN
					span.star
						span.star_rate-num 5
						i.full
			.review
				h4.title ĐÁNH GIÁ
				.group-review
					span.star
						span.star_rate-num 5
						i.full
					.bar-line
					p
						span 1
						|đánh giá
				hr.line
				mixin list-comments(comment)
					.list-comments
						.left
							.fix-avatar
								img(src=comment.img)
						.right
							h4.name= comment.heroes
							.cmt-box
								.group
									span.star
										i.full
										i.full
										i.full
										i.full

									p.date 22/02/2017
								p.desc= comment.desc
								.textAlign-right
									span.service-type Tự lái
				for comment in moduleComment
					+list-comments(comment)
				.s-all
					a.see-all Xem Thêm 
						ic.ic.ic-chevron-up
		.clear

	.module-deal
		h4.title XE TƯƠNG TỰ
		.swiper-button-next
			i.i-arr
		.swiper-button-prev
			i.i-arr
		.swiper-container.swiper-similar
			.swiper-wrapper.box-car__wrap
				each moduleDealItem in moduleDeal
					.swiper-slide.box-car__item
						.item-car(class=`${moduleDealItem.class}`)
							.img-car
								.fix-img
									img(src=`${moduleDealItem.img}`)
								.price-car
									span.real 1050K
									span.price 900K
								span.label-pos
									span.discount Giảm 30%
								.status-verify.status-ins
									span Bảo hiểm bởi
									img.img-fluid.logo-mic(src="images/logomic.png")
							.desc-car
								h2 #{moduleDealItem.heroes}
								.group-line.n-rating
									span.star
										span.star_rate-num 5
										i.full
									span 	&#8226   2 chuyến
									span 	&#8226   0.5 km
								.group-label.marginBottom-xs
									span Số tự động
									span Miễn phí giao xe
								.location
									p
										i.ic.ic-sm-car-location
										| Tân Bình, Hồ Chí Minh

	h5.btn-modal-text Button bật Modal
	.modal-buttons
		.modal-button
			a.btn.btn-default.btn--m(href="#!")#open-modal-qr-code QR CODE
		.modal-button
			a.btn.btn-default.btn--m(href="#!")#open-modal-insurance-cd Insurance CD
		.modal-button
			a.btn.btn-default.btn--m(href="#!")#open-modal-form-insurance Form Insurance
		.modal-button
			a.btn.btn-default.btn--m(href="#!")#open-modal-location-setting Location Setting
		.modal-button
			a.btn.btn-default.btn--m(href="#!")#open-modal-details Details
		.modal-button
			a.btn.btn-default.btn--m(href="#!")#open-modal-select-location Select Location
		.modal-button
			a.btn.btn-default.btn--m(href="#!")#open-modal-my-locations My Location
		.modal-button
			a.btn.btn-default.btn--m(href="#!")#open-modal-my-locations-1 My Location 1
		.modal-button
			a.btn.btn-default.btn--m(href="#!")#open-modal-notes Notes
		.modal-button
			a.btn.btn-default.btn--m(href="#!")#open-modal-payments Payments
		.modal-button
			a.btn.btn-default.btn--m(href="#!")#open-modal-history-messages History Messages
	
a(href="#!" class="app-link")
	.app-footer
		.left
			.fix-img
				img(src="images/appstore.png")
		.right
			p Trải nghiệm tốt hơn trên app Mioto
			button.func-remove
				ic.ic.ic-remove-wh








