block Map

- var moduleDeal = []
- moduleDeal.push({'class':'','rating_num': '4' , 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'','rating_num': '3' , 'heroes':'Telsa Model X', 'img':'images/upload/car_2.png'})
- moduleDeal.push({'class':'','rating_num': '3.5' , 'heroes':'Telsa Model X', 'img':'images/upload/car_3.png'})
- moduleDeal.push({'class':'','rating_num': '4.5' , 'heroes':'Telsa Model X', 'img':'images/upload/car_4.png'})
- moduleDeal.push({'class':'','rating_num': '4' , 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'','rating_num': '5' , 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'','rating_num': '5' , 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'','rating_num': '4' , 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'','rating_num': '3' , 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'','rating_num': '2' , 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'','rating_num': '1' , 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'','rating_num': '2' , 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'','rating_num': '4' , 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'','rating_num': '5' , 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'','rating_num': '5' , 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- var vehicletypes = []
- vehicletypes.push({'status':'active ', 'thumbnail':'images/vehicle-type/4 chỗ (cỡ nhỏ).png', 'description':'4 chỗ','subdesc':'(cỡ nhỏ)'})
- vehicletypes.push({'status':'','thumbnail':'images/vehicle-type/4 chỗ (sedan-4 cửa).png', 'description':'4 chỗ','subdesc':'(sedan - 4 cửa)'})
- vehicletypes.push({'status':'','thumbnail':'images/vehicle-type/4 chỗ (hatchback-5 cửa).png', 'description':'4 chỗ','subdesc':'(hatchback - 5 cửa)'})
- vehicletypes.push({'status':'','thumbnail':'images/vehicle-type/5 chỗ (gầm cao).png', 'description':'5 chỗ','subdesc':'(gầm cao)'})
- vehicletypes.push({'status':'','thumbnail':'images/vehicle-type/7 chỗ (gầm cao).png', 'description':'7 chỗ','subdesc':'(gầm cao)'})
- vehicletypes.push({'status':'','thumbnail':'images/vehicle-type/7 chỗ (gầm thấp).png', 'description':'7 chỗ','subdesc':'(gầm thấp)'})
- vehicletypes.push({'status':'','thumbnail':'images/vehicle-type/bán tải.png', 'description':'Bán tải'})
- var filterTag = []
- filterTag.push({'status':' active', 'content':'Loại xe', 'icon': 'ic-car-black'})
- filterTag.push({'status':' active', 'content':'Đặt xe nhanh', 'icon': 'ic-thunderbolt'})
- filterTag.push({'status':'', 'content':'Giao xe tận nơi', 'icon': 'ic-location-black'})
- filterTag.push({'status':'', 'content':'Chủ xe 5 sao', 'icon': 'ic-location-black'})
- var cardetail = []
- cardetail.push({'content': 'chevrolet aveo chevrolet aveo chevrolet aveo chevrolet aveo chevrolet aveo'})
- cardetail.push({'content': 'chevrolet captiva (2 xe)'})
- cardetail.push({'content': 'chevrolet corolado '})
- cardetail.push({'content': 'chevrolet cruze (2 xe)'})
//- Tính năng
- var listFeature = []
- listFeature.push({'status':'active ', 'thumbnail':'images/ic-faqs/features/map.png', 'description':'Bản đồ'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/bluetooth.png', 'description':'Bluetooth'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/360_camera.png', 'description':'Camera 360'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/parking_camera.png', 'description':'Camera cập lề'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/dash_camera.png', 'description':'Camera hành trình'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/reverse_camera.png', 'description':'Camera lùi'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/tpms.png', 'description':'Cảm biến áp suất lốp'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/impact_sensor.png', 'description':'Cảm biến va chạm'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/head_up.png', 'description':'Cảnh báo tốc độ'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/sunroof.png', 'description':'Cửa sổ trời'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/gps.png', 'description':'Định vị GPS'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/babyseat.png', 'description':'Ghế trẻ em'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/usb.png', 'description':'Khe cắm USB'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/spare_tire.png', 'description':'Lốp dự phòng'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/dvd.png', 'description':'Màn hình DVD'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/bonnet.png', 'description':'Nắp thùng xe bán tải'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/epass.png', 'description':'Thu phí không dừng'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/airbags.png', 'description':'Túi khí an toàn'})
//- search box map-view mobile
//- .finding-control.form-default
//- 	.wrapper-find
//- 		.tab-mode.hide-on-lg
//- 			ul
//- 				li
//- 					a(href="#!") <i class="ic ic-list-fill"></i> List View
//- 				|
//- 				li
//- 					a.active(href="#!") <i class="ic ic-map"></i> Map View
//- 		.line-form
//- 			label.label Địa điểm
//- 			.wrap-input.has-ico
//- 				i.ic.ic-location-f
//- 				//- .blah(style='width: 50px')
//- 				//- 	.lds-css
//- 				//- 		.lds-ellipsis(style='width:100%;height:100%')
//- 				//- 			div
//- 				//- 				div
//- 				//- 			div
//- 				//- 				div
//- 			//- 			div
//- 				//- 				div
//- 				//- 			div
//- 				//- 				div
//- 				//- 			div
//- 				//- 				div
//- 				//- .layer-loading
//- 				input(type="text" placeholder="Hồ Chí Minh")
//- 		.line-form.has-timer
//- 			label.label Thời gian
//- 			.wrap-input
//- 				input(type="text" placeholder="21:00 24/04/2018 - 20:00 25/04/2018")
//- 		.switch-search.show-on-small
//- 			i.ic.ic-datepicker

//- .tab-mode.show-on-lg
//- 	a(href="#!").view-mode <i class="ic ic-map-black"></i> Map View
//- 	a(href="#!").f-filter <i class="ic ic-filter-black"></i> Filter

//- .header.lg-header-search.show-on-lg-and-down
//- 	.header-container
//- 		.logo-container
//- 			a(href="index.html") #{page}
//- 		.location-datetime
//- 			div#searchingBox
//- 				h4.location.fontWeight-5 Lê Văn Sỹ, phường 1, Tân Bình, Thành phố Hồ chí minh
//- 				span.datetime 21:00 25/01/2019 - 20:00 26/01/2019
//- 				i.i-chevron-down
//- 			.searching-backdrop

//- 			//-- if WITHDRIVER ? add class withdriver : don't something (SELFDRIVE)
//- 			.searching-box.withdriver.has-scroll
//- 				.form-default.form-finding
//- 					//-- SELFDRIVE

//- 					//- .line-form
//- 					//- 	label.label Địa điểm
//- 					//- 	.wrap-input
//- 					//- 		input(type="text" placeholder="Hồ Chí Minh")

//- 					//-- Withdriver
//- 					.line-form
//- 						.map-route
//- 							.fix-map
//- 								img(src="images/map@2x.png" class="map")
//- 						.tab-opt-route.home
//- 							a(href="#!" class="opt-route")
//- 								| Nội thành
//- 							a(href="#!" class="opt-route active")
//- 								| Liên tỉnh
//- 						label.home-label Lộ trình

//- 						.wrap-input
//- 							i.ic.ic-location-f
//- 							div
//- 								input( type="text" placeholder="Nhập thành phố, quận, địa chỉ...")
//- 						.wrap-input
//- 							i.ic.ic-sm-circle-fill
//- 							div
//- 								input( type="text" placeholder="Thêm lộ trình")
//- 							i.ic.ic-remove-fill
//- 						.wrap-input
//- 							i.ic.ic-sm-circle-fill
//- 							div
//- 								input( type="text" placeholder="....")
//- 							i.ic.ic-remove-fill
//- 						.wrap-input
//- 							i.ic.ic-location-f
//- 							div
//- 								input( type="text" placeholder="...")
//- 						.wrap-input.add-address
//- 							i.ic.ic-plus-fill
//- 							span Thêm điểm nếu đi xa
//- 					.line-form.total-addr
//- 						label.home-label Tổng số km
//- 						span.total 1000km
//- 					label.label Thời gian
//- 					.line-form.has-timer.start-time-wd
//- 						.d-flex
//- 							.wrap-input.home-datetimerange
//- 								span.value.placeholder
//- 									| 05 / 06 / 2018
//- 									i.i-chevron-down
//- 							.wrap-select.home-select
//- 								select
//- 									option(value='0', disabled='', selected='') 7:30 PM
//- 									option(value='1') 8:30 PM
//- 									option(value='2') 9:30 PM
//- 									option(value='3') 10:30 PM
//- 									option(value='4') 11:30 PM
//- 							.pick-time-until
//- 								label.label Trong vòng
//- 								div.time-selection
//- 									span.value.placeholder
//- 										| Tùy chỉnh
//- 										i.i-chevron-down
//- 									.options
//- 										label.custom-control.custom-radio-input
//- 											input(type="radio" name="payment" class="custom-control-input")
//- 											span.custom-control-indicator
//- 											span.custom-control-description 4 tiếng&nbsp;
//- 												span.extra-info (thời gian kết thúc: 20:00, 03/06/2020)
//- 										label.custom-control.custom-radio-input
//- 											input(type="radio" name="payment" class="custom-control-input")
//- 											span.custom-control-indicator
//- 											span.custom-control-description 4 tiếng&nbsp;
//- 												span.extra-info (thời gian kết thúc: 20:00, 03/06/2020) 
//- 										label.custom-control.custom-radio-input
//- 											input(type="radio" name="payment" class="custom-control-input")
//- 											span.custom-control-indicator
//- 											span.custom-control-description 4 tiếng&nbsp;
//- 												span.extra-info (thời gian kết thúc: 20:00, 03/06/2020) 
//- 										label.custom-control.custom-radio-input
//- 											input(type="radio" name="payment" class="custom-control-input")
//- 											span.custom-control-indicator
//- 											span.custom-control-description 4 tiếng&nbsp;
//- 												span.extra-info (thời gian kết thúc: 20:00, 03/06/2020)
//- 										label.custom-control.custom-radio-input
//- 											input(type="radio" name="payment" class="custom-control-input")
//- 											span.custom-control-indicator
//- 											span.custom-control-description Tùy chỉnh	
//- 												//- i.i-chevron-down
//- 					.line-form.has-timer.disabled
//- 						label.label kết thúc
//- 						.wrap-input.home-datetimerange
//- 							span.marginLeft-xs.value.placeholder
//- 								| 01:00 05/07/2020

//- 					.line-form.has-timer.end-time-wd
//- 						//- label.label Kết thúc
//- 						.d-flex
//- 							.wrap-input.home-datetimerange
//- 								span.value.placeholder
//- 									| 06 / 06 / 2018
//- 									i.i-chevron-down
//- 							.wrap-select.home-select
//- 								select
//- 									option(value='0', disabled='', selected='') 7:30 PM
//- 									option(value='1') 8:30 PM 
//- 									option(value='2') 9:30 PM
//- 									option(value='3') 10:30 PM
//- 									option(value='4') 11:30 PM
//- 								//- i.i-chevron-down
//- 					.wrap-btn
//- 						a.btn.btn--m.btn-primary Tìm xe ngay

//- 
.finding-control.form-default.hide-on-lg
	.wrapper-find
		//- .tab-mode
		//- 	ul
		//- 		li
		//- 			a(href="#!") <i class="ic ic-list"></i> List View
		//- 		|
		//- 		li
		//- 			a.active(href="#!") <i class="ic ic-map-fill"></i> Map View
		//- .line-form
		//- 	label.label Địa điểm
		//- 	.wrap-input.has-ico
		//- 		i.ic.ic-location-f
		//- 		input(type="text" placeholder="Hồ Chí Minh")
		//- .line-form.has-timer
		//- 	label.label Thời gian
		//- 	.wrap-input
		//- 		input(type="text" placeholder="21:00 24/04/2018 - 20:00 25/04/2018")

		//---- Selfdrive

		//- .line-form.location
		//- 	label.label Địa điểm
			//- .blah
			//- 	.lds-css
			//- 		.lds-ellipsis(style='width:100%;height:100%')
			//- 			div
			//- 				div
			//- 			div
			//- 				div
			//- 			div
			//- 				div
			//- 			div
			//- 				div
			//- 			div
			//- 				div
			//- 	.layer-loading

			//- .wrap-input.wrap-input-transparent
			//- 	input(type="text" placeholder="Hồ Chí Minh")


		//-- With driver
		.line-form.location
			label.label Lộ trình
			.wrap-input.wrap-input-transparent.r-map
				span.route HCM - Đà Lạt - Nha Trang - HCM

		.line-form.has-timer
			label.label Thời gian
			.wrap-input.wrap-input-transparent
				span.value.placeholder
					| 05/06/2018
					i.i-chevron-down
			.wrap-select
				select
					option(value='0', disabled='', selected='') 07:30
					option(value='1') 08:30
					option(value='2') 09:30
					option(value='3') 10:30
					option(value='4') 11:30
				//- i.i-chevron-down
		.line-form.has-timer.pick-time-until
			.wrap-input.wrap-input-transparent.time-selection
				span.value.placeholder
					| Tùy chỉnh
					i.i-chevron-down
				.options
					label.custom-control.custom-radio-input
						input(type="radio" name="payment" class="custom-control-input" checked="checked")
						span.custom-control-indicator
						span.custom-control-description 4 tiếng&nbsp;
							span.extra-info (thời gian kết thúc: 20:00, 03/06/2020)
					label.custom-control.custom-radio-input
						input(type="radio" name="payment" class="custom-control-input")
						span.custom-control-indicator
						span.custom-control-description 4 tiếng&nbsp;
							span.extra-info (thời gian kết thúc: 20:00, 03/06/2020) 
					label.custom-control.custom-radio-input
						input(type="radio" name="payment" class="custom-control-input")
						span.custom-control-indicator
						span.custom-control-description 4 tiếng&nbsp;
							span.extra-info (thời gian kết thúc: 20:00, 03/06/2020) 
					label.custom-control.custom-radio-input
						input(type="radio" name="payment" class="custom-control-input")
						span.custom-control-indicator
						span.custom-control-description 4 tiếng&nbsp;
							span.extra-info (thời gian kết thúc: 20:00, 03/06/2020)
					label.custom-control.custom-radio-input
						input(type="radio" name="payment" class="custom-control-input")
						span.custom-control-indicator
						span.custom-control-description Tùy chỉnh	
		.line-form.has-timer.end-time-wd.disabled
			label.label Kết thúc
			.wrap-input.wrap-input-transparent
				span.value.placeholder
					| 06/06/2018
					i.i-chevron-down
			.wrap-select
				select
					option(value='0', disabled='', selected='') 07:30
					option(value='1') 08:30
					option(value='2') 09:30
					option(value='3') 10:30
					option(value='4') 11:30
				//- i.i-chevron-down
		//- .switch-search.show-on-small
		//- 	i.ic.ic-datepicker


.tab-mode.show-on-lg
	.tab-box
		a(href="#!").view-mode <i class="ic ic-map-black"></i> Bản đồ
		a(href="#!").f-filter.has-dot-red <i class="ic ic-filter-black"></i> Bộ lọc
.tab-mode
	.tab-box
		a.map-view.view-mode
			i.ic.ic-map-black
			| Bản Đồ
.module-map
	.has-list
		.map-container
			.tag-filter.swiper-car-filter.swiper-container
				.swiper-wrapper
					a.reset-filter.has-dot-red.swiper-slide
						i.ic.ic-reset-black
					
					

					each item in filterTag
						a(class='tag-filter-item swiper-slide'+item.status)
							<svg width="20" height="20" viewBox="0 0 24 24" class="svg-stars" xmlns="http://www.w3.org/2000/svg">
								<path d="M3.74395 14.1836L0 20.4563L4.36973 20.2321L6.355 24.002L9.81841 18.1986C7.33684 17.5781 5.20592 16.1337 3.74395 14.1836Z"/>
								<path d="M20.2313 14.1855C18.7817 16.1347 16.6532 17.5796 14.1797 18.2085L17.6501 24.004L19.6332 20.246L23.9981 20.4695L20.2313 14.1855Z"/>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M11.999 17.455C16.819 17.455 20.7264 13.5475 20.7264 8.72748C20.7264 3.90743 16.819 0 11.999 0C7.17891 0 3.27148 3.90743 3.27148 8.72748C3.27148 13.5475 7.17891 17.455 11.999 17.455ZM12.0001 15.8197C15.9164 15.8197 19.0912 12.6449 19.0912 8.72862C19.0912 4.81232 15.9164 1.63754 12.0001 1.63754C8.08381 1.63754 4.90902 4.81232 4.90902 8.72862C4.90902 12.6449 8.08381 15.8197 12.0001 15.8197Z"/>
								<path d="M11.7317 4.59714C11.8483 4.28533 12.2893 4.28533 12.4059 4.59714L13.296 6.97736C13.3465 7.11263 13.4731 7.20457 13.6174 7.21088L16.1561 7.32181C16.4887 7.33634 16.625 7.7558 16.3645 7.96305L14.3758 9.54504C14.2628 9.63495 14.2144 9.7837 14.253 9.92287L14.932 12.3717C15.021 12.6924 14.6642 12.9517 14.3866 12.768L12.2675 11.3655C12.147 11.2858 11.9906 11.2858 11.8702 11.3655L9.75107 12.768C9.47347 12.9517 9.11665 12.6924 9.2056 12.3717L9.88462 9.92287C9.92321 9.7837 9.87487 9.63495 9.76185 9.54504L7.77316 7.96305C7.51264 7.7558 7.64893 7.33634 7.98151 7.32181L10.5203 7.21088C10.6645 7.20457 10.7911 7.11263 10.8417 6.97736L11.7317 4.59714Z"/>
							</svg>
							i(class=`ic ${item.icon}`)
							| #{item.content}
					a.tag-filter-item.swiper-slide
						include ../../../images/ic-svg/ic-vaccine-black.svg
						span Đã tiêm vaccine
			.listing-car
				ul
					each moduleDealItem in moduleDeal
						li
							.item-car(class=`${moduleDealItem.class}`)
								.img-car
									.fix-img
										img(src="https://n1-pstg.mioto.vn/cho_thue_xe_o_to_tu_lai_thue_xe_du_lich_hochiminh/mitsubishi_xpander_2019/p/g/2019/09/03/11/Jm7GVbnjEpUo7lg7D7tchg.jpg")
									span.host-stars 
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M3.74373 14.1812L0 20.4535L4.36948 20.2293L6.35463 23.999L9.81785 18.1959C7.33642 17.5754 5.20562 16.1312 3.74373 14.1812Z" fill="#FFA800"/>
											<path d="M20.2329 14.1812C18.7834 16.1302 16.655 17.575 14.1816 18.2039L17.6518 23.999L19.6348 20.2413L23.9995 20.4648L20.2329 14.1812Z" fill="#FFA800"/>
											<circle cx="12.0004" cy="8.72698" r="8.72698" fill="#FFA800"/>
											<circle cx="12.0028" cy="8.7269" r="7.09067" fill="#FFE99D"/>
											<path d="M11.7334 4.59761C11.85 4.28582 12.291 4.28582 12.4076 4.59761L13.2976 6.9777C13.3482 7.11297 13.4747 7.2049 13.619 7.2112L16.1576 7.32213C16.4901 7.33666 16.6264 7.7561 16.3659 7.96333L14.3773 9.54523C14.2643 9.63513 14.216 9.78388 14.2546 9.92305L14.9336 12.3717C15.0225 12.6925 14.6657 12.9517 14.3881 12.768L12.2691 11.3656C12.1487 11.2859 11.9923 11.2859 11.8719 11.3656L9.7529 12.768C9.47531 12.9517 9.11852 12.6925 9.20746 12.3717L9.88644 9.92305C9.92503 9.78388 9.8767 9.63513 9.76368 9.54523L7.7751 7.96333C7.5146 7.7561 7.65088 7.33666 7.98344 7.32213L10.5221 7.2112C10.6663 7.2049 10.7929 7.11297 10.8434 6.9777L11.7334 4.59761Z" fill="#FFA800"/>
										</svg>
									span.label-pos
										span.free Miễn phí giao xe
										span.rent
											i.ic.ic-sm-thunderbolt-wh
											|Cho thuê ngay
										span.discount Giảm 30%
									

									.status-verify.status-ins
										i.ic.ic-insurance-wh
										span Bảo hiểm bởi
										img.img-fluid.logo-mic(src="images/logomic.png")
								.desc-car
									.group-line.n-price
										h2 #{moduleDealItem.heroes}
										p.price
											span.real 1050K
											span.special 900K
											span.unit /chuyến
									.group-line.n-rating
										span.star
											span.star_rate-num!= moduleDealItem.rating_num
											i.full
										span 	&#8226   2 chuyến
										span 	&#8226   0.5 km
										span
											i.ic.ic-star-badge
											| All-star host
									.group-label.marginBottom-xs
										span Số tự động
										span Miễn phí giao xe
									.location
										p
											i.ic.ic-sm-car-location
											| Tân Bình, Hồ Chí Minh


.filter-container
	.nav-filter
		a.context-back(href="javascript:void(0)" onclick="filterC()") « Quay lại
		h2 Bộ lọc
	.content-filter
		.rent-car.has-scroll
			.scroll-inner
				span.slstitle Filters
				.line-form
					.wrap-select
						select
							option(value="0" disabled selected) Set Number
							option(value="1") Set Number 1
				span.slstitle Dòng xe
				.line-form
					each car,index in cardetail
						.squaredFour.have-label
							input(id=`car ${index}` type='checkbox', name=`car ${index}`)
							label(for=`car ${index}`)!= car.content
				.line-form
					.wrap-select
						select
							option(value="0" disabled selected) Brand
							option(value="1") Brand 1
				span.slstitle Loại xe
				.vehicle-type
					each item, index in vehicletypes
						div(class='squaredFour have-label')
							input(type="checkbox" name="filter-car-type" id=`checkbox-sidebar-${index}`)
							label(for=`checkbox-sidebar-${index}` class="description")
								.thumbnail
									img(src= item.thumbnail alt="image" class="img-fluid")
								span!= item.description
								if item.subdesc
									span.extra-info!= item.subdesc
				span.slstitle Hãng xe
				.line-form
					.wrap-input.has-dropdown.car-type
						span.value.placeholder
							img.car-type-logo(src="./images/vehicle-type/bmw.png" alt="alt image")
							| Audi
						//- ul.dropdown-m
						//- 	li
						//- 		a
						//- 			span
						//- 				img.car-type-logo(src="./images/vehicle-type/bmw.png" alt="alt image")
						//- 				| Audi
						//- 	li
						//- 		a
						//- 			span
						//- 				img.car-type-logo(src="./images/vehicle-type/bmw.png" alt="alt image")
						//- 				| BMW
						//- 	li
						//- 		a
						//- 			span 
						//- 				img.car-type-logo(src="./images/vehicle-type/bmw.png" alt="alt image")
						//- 				| Chevrolet
						//- 	li
						//- 		a
						//- 			span 
						//- 				img.car-type-logo(src="./images/vehicle-type/bmw.png" alt="alt image")
						//- 				| Mazda
						//- 	li
						//- 		a
						//- 			span
						//- 				img.car-type-logo(src="./images/vehicle-type/bmw.png" alt="alt image")
						//- 				| Mercedes
						//- 	li
						//- 		a
						//- 			span
						//- 				img.car-type-logo(src="./images/vehicle-type/bmw.png" alt="alt image")
						//- 				| Mitsubishi
				.line-form
					.have-label
						input(type="checkbox")
						label.ic-mr(style="position: static; padding-left: 15px;") Đặt xe nhanh
				.line-form
					.have-label
						input(type="checkbox")
						label.ic-mr(style="position: static; padding-left: 15px;") Hỗ trợ bảo hiểm
				.line-form
					.have-label
						input(type="checkbox")
						label.ic-mr(style="position: static; padding-left: 15px;") Đã tiêm vaccine
				span.slstitle Tính năng
				.car-feature__sect 
					.list-feature
						each item, index in listFeature
							div(class='squaredTwo have-label')
								input(type="checkbox" name="filter-car-feature" id=`checkbox-sidebar-${index}`)
								label(for=`checkbox-sidebar-${index}` class="description")
									.thumbnail
										img(src= item.thumbnail alt="image" class="img-fluid")
										span!= item.description

				a.func-more.block(href="#!") Mở rộng <i class="i-arrow-down"></i>
				a.func-more.block(href="#!") Thu gọn <i class="i-arrow-up"></i>
				.wrap-btn-filter
					a.btn.btn-primary.btn--m.hide-on-med-and-down(href="#!") Áp dụng
					a.func-reset(href="#!")
						i.ic.ic-reset
	.sticky-filter
		.wr-btn
			a.btn.btn-primary.btn--m(href="#!") Áp dụng
		.wr-btn
			a.btn.btn--m(href="#!") Xóa tất cả
.clear
