.box-select
  .box-select__item
    span Địa điểm 
    span Thành phố Hồ Chí Minh, Việt Nam
  .box-select__item
    span Bắt đầu 
    span 23/04/2022
    .arrow-down
    span 21:00
    .arrow-down
  .box-select__item
    span Kết thúc 
    span 24/04/2022
    .arrow-down
    span 21:00
    .arrow-down

.box-swiper.swiper-container.swiper-car-filter
  .swiper-wrapper
    a.tag-filter-item.swiper-slide
      include ../../../images/ic-svg/ic-vaccine-black.svg
      span Đã tiêm vaccine
    a.tag-filter-item.swiper-slide
      include ../../../images/ic-svg/ic-vaccine-black.svg
      span Đã tiêm vaccine
    a.tag-filter-item.swiper-slide
      include ../../../images/ic-svg/ic-vaccine-black.svg
      span Đã tiêm vaccine
    a.tag-filter-item.swiper-slide
      include ../../../images/ic-svg/ic-vaccine-black.svg
      span Đã tiêm vaccine
    a.tag-filter-item.swiper-slide
      include ../../../images/ic-svg/ic-vaccine-black.svg
      span Đã tiêm vaccine
    a.tag-filter-item.swiper-slide
      include ../../../images/ic-svg/ic-vaccine-black.svg
      span Đã tiêm vaccine
    a.tag-filter-item.swiper-slide
      include ../../../images/ic-svg/ic-vaccine-black.svg
      span Đã tiêm vaccine
    a.tag-filter-item.swiper-slide
      include ../../../images/ic-svg/ic-vaccine-black.svg
      span Đã tiêm vaccine
    a.tag-filter-item.swiper-slide
      include ../../../images/ic-svg/ic-vaccine-black.svg
      span Đã tiêm vaccine
      


.box-container
  .has-scroll
    .box-filter
      h5.box-filter-title Sắp xếp 
      p.box-filter-select Tối ưu
      .box-filter-checkbox 
        .squaredFour.have-label
          input(id="car1" type='checkbox' name="car1")
          label(for="car1") Chủ xe 5
            include ../../../images/star-svgrepo-com.svg
            i.ic.ic-question-mark
      h5.box-filter-title Loại xe
      .vehicle-type
        .squaredFour.have-label
          input(type="checkbox" name="filter-car-type" id="checkbox-sidebar-1")
          label(for="checkbox-sidebar-1").description
            .thumbnail
              img(src="images/vehicle-type/4 chỗ (cỡ nhỏ).png").img-fluid
            span 4 chỗ
            span.extra-info (cỡ nhỏ)
        .squaredFour.have-label
          input(type="checkbox" name="filter-car-type" id="checkbox-sidebar-2")
          label(for="checkbox-sidebar-2").description
            .thumbnail
              img(src="images/vehicle-type/4 chỗ (sedan-4 cửa).png").img-fluid
            span 4 chỗ
            span.extra-info (cỡ nhỏ)
        .squaredFour.have-label
          input(type="checkbox" name="filter-car-type" id="checkbox-sidebar-3")
          label(for="checkbox-sidebar-3").description
            .thumbnail
              img(src="images/vehicle-type/4 chỗ (hatchback-5 cửa).png").img-fluid
            span 4 chỗ
            span.extra-info (cỡ nhỏ)
        .squaredFour.have-label
          input(type="checkbox" name="filter-car-type" id="checkbox-sidebar-4")
          label(for="checkbox-sidebar-4").description
            .thumbnail
              img(src="images/vehicle-type/5 chỗ (gầm cao).png").img-fluid
            span 5 chỗ
            span.extra-info (cỡ nhỏ)
        .squaredFour.have-label
          input(type="checkbox" name="filter-car-type" id="checkbox-sidebar-5")
          label(for="checkbox-sidebar-5").description
            .thumbnail
              img(src="images/vehicle-type/7 chỗ (gầm cao).png").img-fluid
            span 5 chỗ
            span.extra-info (cỡ nhỏ)
        .squaredFour.have-label
          input(type="checkbox" name="filter-car-type" id="checkbox-sidebar-6")
          label(for="checkbox-sidebar-6").description
            .thumbnail
              img(src="images/vehicle-type/7 chỗ (gầm thấp).png").img-fluid
            span 7 chỗ
            span.extra-info (cỡ nhỏ)
        .squaredFour.have-label
          input(type="checkbox" name="filter-car-type" id="checkbox-sidebar-7")
          label(for="checkbox-sidebar-7").description
            .thumbnail
              img(src="images/vehicle-type/bán tải.png").img-fluid
            span Bán tải
      h5.box-filter-title Hãng xe 
      p.box-filter-select Tất cả
      h5.box-filter-title Truyền động
      p.box-filter-select Tất cả
      .box-filter-checkbox 
        .squaredFour.have-label
          input(id="car2" type='checkbox' name="car2")
          label(for="car2") Đặt xe nhanh
      .box-filter-checkbox 
        .squaredFour.have-label
          input(id="car3" type='checkbox' name="car3")
          label(for="car3") Hỗ trợ bảo hiểm
      h5.box-filter-title Giao dịch
      .box-filter-checkbox 
        .squaredFour.have-label
          input(id="car4" type='checkbox' name="car4")
          label(for="car4") Giao xe tận nơi
      h5.box-filter-title Nhiên liệu
      p.box-filter-select Tất cả
      h5.box-filter-title Tính năng
      .box-filter-checkbox 
        .squaredFour.have-label
          input(id="car5" type='checkbox' name="car5")
          label(for="car5")
            img(src="https://n1-cstg.mioto.vn/v4/p/m/icons/features/map.png" style="width: 14px; height: 14px")
            |  Bản đồ
      .box-filter-checkbox 
        .squaredFour.have-label
          input(id="car6" type='checkbox' name="car6")
          label(for="car6")
            img(src="https://n1-cstg.mioto.vn/v4/p/m/icons/features/bluetooth.png" style="width: 14px; height: 14px")
            |  Bluetooth
      .box-filter-checkbox 
        .squaredFour.have-label
          input(id="car7" type='checkbox' name="car7")
          label(for="car7") 
            img(src="https://n1-cstg.mioto.vn/v4/p/m/icons/features/360_camera.png" style="width: 14px; height: 14px")
            |  Camera 360
      .box-filter-checkbox 
        .squaredFour.have-label
          input(id="car8" type='checkbox' name="car8")
          label(for="car8")
            img(src="https://n1-cstg.mioto.vn/v4/p/m/icons/features/parking_camera.png" style="width: 14px; height: 14px")
            |  Camera cập lề
      .box-filter-checkbox 
        .squaredFour.have-label
          input(id="car9" type='checkbox' name="car9")
          label(for="car9")
            img(src="https://n1-cstg.mioto.vn/v4/p/m/icons/features/dash_camera.png" style="width: 14px; height: 14px")
            |  Camera hành trình
      .box-filter-checkbox 
        .squaredFour.have-label
          input(id="car10" type='checkbox' name="car10")
          label(for="car10")
            img(src="https://n1-cstg.mioto.vn/v4/p/m/icons/features/reverse_camera.png" style="width: 14px; height: 14px")
            |  Camera lùi
      .box-filter-checkbox 
        .squaredFour.have-label
          input(id="car11" type='checkbox' name="car11")
          label(for="car11")
            img(src="https://n1-cstg.mioto.vn/v4/p/m/icons/features/tpms.png" style="width: 14px; height: 14px")
            |  Cảm biến áp suất lốp
      .box-filter-checkbox 
        .squaredFour.have-label
          input(id="car12" type='checkbox' name="car12")
          label(for="car12")
            img(src="https://n1-cstg.mioto.vn/v4/p/m/icons/features/impact_sensor.png" style="width: 14px; height: 14px")
            |  Cảm biến va chạm
      .box-filter-checkbox 
        .squaredFour.have-label
          input(id="car13" type='checkbox' name="car13")
          label(for="car13")
            img(src="https://n1-cstg.mioto.vn/v4/p/m/icons/features/head_up.png" style="width: 14px; height: 14px")
            |  Cảnh báo tốc độ
      .box-filter-checkbox 
        .squaredFour.have-label
          input(id="car14" type='checkbox' name="car14")
          label(for="car14")
            img(src="https://n1-cstg.mioto.vn/v4/p/m/icons/features/sunroof.png" style="width: 14px; height: 14px")
            |  Cửa sổ trời
      .box-filter-checkbox 
        .squaredFour.have-label
          input(id="car15" type='checkbox' name="car15")
          label(for="car15")
            img(src="https://n1-cstg.mioto.vn/v4/p/m/icons/features/gps.png" style="width: 14px; height: 14px")
            |  Định vị GPS 
      .box-filter-checkbox 
        .squaredFour.have-label
          input(id="car16" type='checkbox' name="car16")
          label(for="car16")
            img(src="https://n1-cstg.mioto.vn/v4/p/m/icons/features/babyseat.png" style="width: 14px; height: 14px")
            |  Ghế trẻ em 
      .box-filter-checkbox 
        .squaredFour.have-label
          input(id="car17" type='checkbox' name="car17")
          label(for="car17")
            img(src="https://n1-cstg.mioto.vn/v4/p/m/icons/features/usb.png" style="width: 14px; height: 14px")
            |  Khe cắm USB 
      .box-filter-checkbox 
        .squaredFour.have-label
          input(id="car18" type='checkbox' name="car18")
          label(for="car18")
            img(src="https://n1-cstg.mioto.vn/v4/p/m/icons/features/spare_tire.png" style="width: 14px; height: 14px")
            |  Lốp dự phòng 
      .box-filter-checkbox 
        .squaredFour.have-label
          input(id="car19" type='checkbox' name="car19")
          label(for="car19")
            img(src="https://n1-cstg.mioto.vn/v4/p/m/icons/features/dvd.png" style="width: 14px; height: 14px")
            |  Màn hình DVD 
      .box-filter-checkbox 
        .squaredFour.have-label
          input(id="car20" type='checkbox' name="car20")
          label(for="car20")
            img(src="https://n1-cstg.mioto.vn/v4/p/m/icons/features/bonnet.png" style="width: 14px; height: 14px")
            |  Nắp thùng xe bán tải 
      .box-filter-checkbox 
        .squaredFour.have-label
          input(id="car21" type='checkbox' name="car21")
          label(for="car21")
            img(src="https://n1-cstg.mioto.vn/v4/p/m/icons/features/epass.png" style="width: 14px; height: 14px")
            |  Thu phí không dừng 
      .box-filter-checkbox 
        .squaredFour.have-label
          input(id="car22" type='checkbox' name="car22")
          label(for="car22")
            img(src="https://n1-cstg.mioto.vn/v4/p/m/icons/features/airbags.png" style="width: 14px; height: 14px")
            |  Túi khí an toàn
      .btn-unfiltered 
        i.ic.ic-reset
        button Bỏ lọc

  .box-show
    .has-scroll
      .box-show-items
        .box-show-item
          .box-show-item__img
            img(src="https://n1-pstg.mioto.vn/cho_thue_xe_o_to_tu_lai_thue_xe_du_lich_hochiminh/vinfast_fadil_2021/p/g/2021/02/23/16/E8ZRlEg-53GoYEccuXXD8Q.jpg" alt="xe")
            .trip-ins 
              i.ic.ic-insurance-wh
              span Bảo hiểm chuyến đi 
            .booking-quick 
              i.ic.ic-sm-thunderbolt-wh
              span Đặt xe nhanh
          .box-show-item__desc
            .item__title
              span VINFAST FADIL 2021
              span 700K
            .item__star 
              span.star
                span 4
                i.full
                span • 
                span 1 chuyến
            .item__choose
              span Số tự động
            .item__address 
              i.ic.ic-sm-car-location
              span Quận Bình Thạnh, Hồ Chí Minh
            .five-star-owner
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.74373 14.1812L0 20.4535L4.36948 20.2293L6.35463 23.999L9.81785 18.1959C7.33642 17.5754 5.20562 16.1312 3.74373 14.1812Z" fill="#FFA800"/>
                <path d="M20.2329 14.1812C18.7834 16.1302 16.655 17.575 14.1816 18.2039L17.6518 23.999L19.6348 20.2413L23.9995 20.4648L20.2329 14.1812Z" fill="#FFA800"/>
                <circle cx="12.0004" cy="8.72698" r="8.72698" fill="#FFA800"/>
                <circle cx="12.0028" cy="8.7269" r="7.09067" fill="#FFE99D"/>
                <path d="M11.7334 4.59761C11.85 4.28582 12.291 4.28582 12.4076 4.59761L13.2976 6.9777C13.3482 7.11297 13.4747 7.2049 13.619 7.2112L16.1576 7.32213C16.4901 7.33666 16.6264 7.7561 16.3659 7.96333L14.3773 9.54523C14.2643 9.63513 14.216 9.78388 14.2546 9.92305L14.9336 12.3717C15.0225 12.6925 14.6657 12.9517 14.3881 12.768L12.2691 11.3656C12.1487 11.2859 11.9923 11.2859 11.8719 11.3656L9.7529 12.768C9.47531 12.9517 9.11852 12.6925 9.20746 12.3717L9.88644 9.92305C9.92503 9.78388 9.8767 9.63513 9.76368 9.54523L7.7751 7.96333C7.5146 7.7561 7.65088 7.33666 7.98344 7.32213L10.5221 7.2112C10.6663 7.2049 10.7929 7.11297 10.8434 6.9777L11.7334 4.59761Z" fill="#FFA800"/>
              </svg>
        .box-show-item
          .box-show-item__img
            img(src="https://n1-pstg.mioto.vn/cho_thue_xe_o_to_tu_lai_thue_xe_du_lich_hochiminh/vinfast_fadil_2021/p/g/2021/02/23/16/E8ZRlEg-53GoYEccuXXD8Q.jpg" alt="xe")
            .trip-ins 
              i.ic.ic-insurance-wh
              span Bảo hiểm chuyến đi 
            .booking-quick 
              i.ic.ic-sm-thunderbolt-wh
              span Đặt xe nhanh
          .box-show-item__desc
            .item__title
              span VINFAST FADIL 2021
              span 700K
            .item__star 
              span.star
                span 4
                i.full
                span • 
                span 1 chuyến
            .item__choose
              span Số tự động
            .item__address 
              i.ic.ic-sm-car-location
              span Quận Bình Thạnh, Hồ Chí Minh
            .five-star-owner
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.74373 14.1812L0 20.4535L4.36948 20.2293L6.35463 23.999L9.81785 18.1959C7.33642 17.5754 5.20562 16.1312 3.74373 14.1812Z" fill="#FFA800"/>
                <path d="M20.2329 14.1812C18.7834 16.1302 16.655 17.575 14.1816 18.2039L17.6518 23.999L19.6348 20.2413L23.9995 20.4648L20.2329 14.1812Z" fill="#FFA800"/>
                <circle cx="12.0004" cy="8.72698" r="8.72698" fill="#FFA800"/>
                <circle cx="12.0028" cy="8.7269" r="7.09067" fill="#FFE99D"/>
                <path d="M11.7334 4.59761C11.85 4.28582 12.291 4.28582 12.4076 4.59761L13.2976 6.9777C13.3482 7.11297 13.4747 7.2049 13.619 7.2112L16.1576 7.32213C16.4901 7.33666 16.6264 7.7561 16.3659 7.96333L14.3773 9.54523C14.2643 9.63513 14.216 9.78388 14.2546 9.92305L14.9336 12.3717C15.0225 12.6925 14.6657 12.9517 14.3881 12.768L12.2691 11.3656C12.1487 11.2859 11.9923 11.2859 11.8719 11.3656L9.7529 12.768C9.47531 12.9517 9.11852 12.6925 9.20746 12.3717L9.88644 9.92305C9.92503 9.78388 9.8767 9.63513 9.76368 9.54523L7.7751 7.96333C7.5146 7.7561 7.65088 7.33666 7.98344 7.32213L10.5221 7.2112C10.6663 7.2049 10.7929 7.11297 10.8434 6.9777L11.7334 4.59761Z" fill="#FFA800"/>
              </svg>
              
        .box-show-item
          .box-show-item__img
            img(src="https://n1-pstg.mioto.vn/cho_thue_xe_o_to_tu_lai_thue_xe_du_lich_hochiminh/vinfast_fadil_2021/p/g/2021/02/23/16/E8ZRlEg-53GoYEccuXXD8Q.jpg" alt="xe")
            .trip-ins 
              i.ic.ic-insurance-wh
              span Bảo hiểm chuyến đi 
            .booking-quick 
              i.ic.ic-sm-thunderbolt-wh
              span Đặt xe nhanh
          .box-show-item__desc
            .item__title
              span VINFAST FADIL 2021
              span 700K
            .item__star 
              span.star
                span 4
                i.full
                span • 
                span 1 chuyến
            .item__choose
              span Số tự động
            .item__address 
              i.ic.ic-sm-car-location
              span Quận Bình Thạnh, Hồ Chí Minh
            .five-star-owner
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.74373 14.1812L0 20.4535L4.36948 20.2293L6.35463 23.999L9.81785 18.1959C7.33642 17.5754 5.20562 16.1312 3.74373 14.1812Z" fill="#FFA800"/>
                <path d="M20.2329 14.1812C18.7834 16.1302 16.655 17.575 14.1816 18.2039L17.6518 23.999L19.6348 20.2413L23.9995 20.4648L20.2329 14.1812Z" fill="#FFA800"/>
                <circle cx="12.0004" cy="8.72698" r="8.72698" fill="#FFA800"/>
                <circle cx="12.0028" cy="8.7269" r="7.09067" fill="#FFE99D"/>
                <path d="M11.7334 4.59761C11.85 4.28582 12.291 4.28582 12.4076 4.59761L13.2976 6.9777C13.3482 7.11297 13.4747 7.2049 13.619 7.2112L16.1576 7.32213C16.4901 7.33666 16.6264 7.7561 16.3659 7.96333L14.3773 9.54523C14.2643 9.63513 14.216 9.78388 14.2546 9.92305L14.9336 12.3717C15.0225 12.6925 14.6657 12.9517 14.3881 12.768L12.2691 11.3656C12.1487 11.2859 11.9923 11.2859 11.8719 11.3656L9.7529 12.768C9.47531 12.9517 9.11852 12.6925 9.20746 12.3717L9.88644 9.92305C9.92503 9.78388 9.8767 9.63513 9.76368 9.54523L7.7751 7.96333C7.5146 7.7561 7.65088 7.33666 7.98344 7.32213L10.5221 7.2112C10.6663 7.2049 10.7929 7.11297 10.8434 6.9777L11.7334 4.59761Z" fill="#FFA800"/>
              </svg>
        .box-show-item
          .box-show-item__img
            img(src="https://n1-pstg.mioto.vn/cho_thue_xe_o_to_tu_lai_thue_xe_du_lich_hochiminh/vinfast_fadil_2021/p/g/2021/02/23/16/E8ZRlEg-53GoYEccuXXD8Q.jpg" alt="xe")
            .trip-ins 
              i.ic.ic-insurance-wh
              span Bảo hiểm chuyến đi 
            .booking-quick 
              i.ic.ic-sm-thunderbolt-wh
              span Đặt xe nhanh
          .box-show-item__desc
            .item__title
              span VINFAST FADIL 2021
              span 700K
            .item__star 
              span.star
                span 4
                i.full
                span • 
                span 1 chuyến
            .item__choose
              span Số tự động
            .item__address 
              i.ic.ic-sm-car-location
              span Quận Bình Thạnh, Hồ Chí Minh
            .five-star-owner
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.74373 14.1812L0 20.4535L4.36948 20.2293L6.35463 23.999L9.81785 18.1959C7.33642 17.5754 5.20562 16.1312 3.74373 14.1812Z" fill="#FFA800"/>
                <path d="M20.2329 14.1812C18.7834 16.1302 16.655 17.575 14.1816 18.2039L17.6518 23.999L19.6348 20.2413L23.9995 20.4648L20.2329 14.1812Z" fill="#FFA800"/>
                <circle cx="12.0004" cy="8.72698" r="8.72698" fill="#FFA800"/>
                <circle cx="12.0028" cy="8.7269" r="7.09067" fill="#FFE99D"/>
                <path d="M11.7334 4.59761C11.85 4.28582 12.291 4.28582 12.4076 4.59761L13.2976 6.9777C13.3482 7.11297 13.4747 7.2049 13.619 7.2112L16.1576 7.32213C16.4901 7.33666 16.6264 7.7561 16.3659 7.96333L14.3773 9.54523C14.2643 9.63513 14.216 9.78388 14.2546 9.92305L14.9336 12.3717C15.0225 12.6925 14.6657 12.9517 14.3881 12.768L12.2691 11.3656C12.1487 11.2859 11.9923 11.2859 11.8719 11.3656L9.7529 12.768C9.47531 12.9517 9.11852 12.6925 9.20746 12.3717L9.88644 9.92305C9.92503 9.78388 9.8767 9.63513 9.76368 9.54523L7.7751 7.96333C7.5146 7.7561 7.65088 7.33666 7.98344 7.32213L10.5221 7.2112C10.6663 7.2049 10.7929 7.11297 10.8434 6.9777L11.7334 4.59761Z" fill="#FFA800"/>
              </svg>
        .box-show-item
          .box-show-item__img
            img(src="https://n1-pstg.mioto.vn/cho_thue_xe_o_to_tu_lai_thue_xe_du_lich_hochiminh/vinfast_fadil_2021/p/g/2021/02/23/16/E8ZRlEg-53GoYEccuXXD8Q.jpg" alt="xe")
            .trip-ins 
              i.ic.ic-insurance-wh
              span Bảo hiểm chuyến đi 
            .booking-quick 
              i.ic.ic-sm-thunderbolt-wh
              span Đặt xe nhanh
          .box-show-item__desc
            .item__title
              span VINFAST FADIL 2021
              span 700K
            .item__star 
              span.star
                span 4
                i.full
                span • 
                span 1 chuyến
            .item__choose
              span Số tự động
            .item__address 
              i.ic.ic-sm-car-location
              span Quận Bình Thạnh, Hồ Chí Minh
            .five-star-owner
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.74373 14.1812L0 20.4535L4.36948 20.2293L6.35463 23.999L9.81785 18.1959C7.33642 17.5754 5.20562 16.1312 3.74373 14.1812Z" fill="#FFA800"/>
                <path d="M20.2329 14.1812C18.7834 16.1302 16.655 17.575 14.1816 18.2039L17.6518 23.999L19.6348 20.2413L23.9995 20.4648L20.2329 14.1812Z" fill="#FFA800"/>
                <circle cx="12.0004" cy="8.72698" r="8.72698" fill="#FFA800"/>
                <circle cx="12.0028" cy="8.7269" r="7.09067" fill="#FFE99D"/>
                <path d="M11.7334 4.59761C11.85 4.28582 12.291 4.28582 12.4076 4.59761L13.2976 6.9777C13.3482 7.11297 13.4747 7.2049 13.619 7.2112L16.1576 7.32213C16.4901 7.33666 16.6264 7.7561 16.3659 7.96333L14.3773 9.54523C14.2643 9.63513 14.216 9.78388 14.2546 9.92305L14.9336 12.3717C15.0225 12.6925 14.6657 12.9517 14.3881 12.768L12.2691 11.3656C12.1487 11.2859 11.9923 11.2859 11.8719 11.3656L9.7529 12.768C9.47531 12.9517 9.11852 12.6925 9.20746 12.3717L9.88644 9.92305C9.92503 9.78388 9.8767 9.63513 9.76368 9.54523L7.7751 7.96333C7.5146 7.7561 7.65088 7.33666 7.98344 7.32213L10.5221 7.2112C10.6663 7.2049 10.7929 7.11297 10.8434 6.9777L11.7334 4.59761Z" fill="#FFA800"/>
              </svg>
        .box-show-item
          .box-show-item__img
            img(src="https://n1-pstg.mioto.vn/cho_thue_xe_o_to_tu_lai_thue_xe_du_lich_hochiminh/vinfast_fadil_2021/p/g/2021/02/23/16/E8ZRlEg-53GoYEccuXXD8Q.jpg" alt="xe")
            .trip-ins 
              i.ic.ic-insurance-wh
              span Bảo hiểm chuyến đi 
            .booking-quick 
              i.ic.ic-sm-thunderbolt-wh
              span Đặt xe nhanh
          .box-show-item__desc
            .item__title
              span VINFAST FADIL 2021
              span 700K
            .item__star 
              span.star
                span 4
                i.full
                span • 
                span 1 chuyến
            .item__choose
              span Số tự động
            .item__address 
              i.ic.ic-sm-car-location
              span Quận Bình Thạnh, Hồ Chí Minh
            .five-star-owner
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.74373 14.1812L0 20.4535L4.36948 20.2293L6.35463 23.999L9.81785 18.1959C7.33642 17.5754 5.20562 16.1312 3.74373 14.1812Z" fill="#FFA800"/>
                <path d="M20.2329 14.1812C18.7834 16.1302 16.655 17.575 14.1816 18.2039L17.6518 23.999L19.6348 20.2413L23.9995 20.4648L20.2329 14.1812Z" fill="#FFA800"/>
                <circle cx="12.0004" cy="8.72698" r="8.72698" fill="#FFA800"/>
                <circle cx="12.0028" cy="8.7269" r="7.09067" fill="#FFE99D"/>
                <path d="M11.7334 4.59761C11.85 4.28582 12.291 4.28582 12.4076 4.59761L13.2976 6.9777C13.3482 7.11297 13.4747 7.2049 13.619 7.2112L16.1576 7.32213C16.4901 7.33666 16.6264 7.7561 16.3659 7.96333L14.3773 9.54523C14.2643 9.63513 14.216 9.78388 14.2546 9.92305L14.9336 12.3717C15.0225 12.6925 14.6657 12.9517 14.3881 12.768L12.2691 11.3656C12.1487 11.2859 11.9923 11.2859 11.8719 11.3656L9.7529 12.768C9.47531 12.9517 9.11852 12.6925 9.20746 12.3717L9.88644 9.92305C9.92503 9.78388 9.8767 9.63513 9.76368 9.54523L7.7751 7.96333C7.5146 7.7561 7.65088 7.33666 7.98344 7.32213L10.5221 7.2112C10.6663 7.2049 10.7929 7.11297 10.8434 6.9777L11.7334 4.59761Z" fill="#FFA800"/>
              </svg>
        .box-show-item
          .box-show-item__img
            img(src="https://n1-pstg.mioto.vn/cho_thue_xe_o_to_tu_lai_thue_xe_du_lich_hochiminh/vinfast_fadil_2021/p/g/2021/02/23/16/E8ZRlEg-53GoYEccuXXD8Q.jpg" alt="xe")
            .trip-ins 
              i.ic.ic-insurance-wh
              span Bảo hiểm chuyến đi 
            .booking-quick 
              i.ic.ic-sm-thunderbolt-wh
              span Đặt xe nhanh
          .box-show-item__desc
            .item__title
              span VINFAST FADIL 2021
              span 700K
            .item__star 
              span.star
                span 4
                i.full
                span • 
                span 1 chuyến
            .item__choose
              span Số tự động
            .item__address 
              i.ic.ic-sm-car-location
              span Quận Bình Thạnh, Hồ Chí Minh
            .five-star-owner
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.74373 14.1812L0 20.4535L4.36948 20.2293L6.35463 23.999L9.81785 18.1959C7.33642 17.5754 5.20562 16.1312 3.74373 14.1812Z" fill="#FFA800"/>
                <path d="M20.2329 14.1812C18.7834 16.1302 16.655 17.575 14.1816 18.2039L17.6518 23.999L19.6348 20.2413L23.9995 20.4648L20.2329 14.1812Z" fill="#FFA800"/>
                <circle cx="12.0004" cy="8.72698" r="8.72698" fill="#FFA800"/>
                <circle cx="12.0028" cy="8.7269" r="7.09067" fill="#FFE99D"/>
                <path d="M11.7334 4.59761C11.85 4.28582 12.291 4.28582 12.4076 4.59761L13.2976 6.9777C13.3482 7.11297 13.4747 7.2049 13.619 7.2112L16.1576 7.32213C16.4901 7.33666 16.6264 7.7561 16.3659 7.96333L14.3773 9.54523C14.2643 9.63513 14.216 9.78388 14.2546 9.92305L14.9336 12.3717C15.0225 12.6925 14.6657 12.9517 14.3881 12.768L12.2691 11.3656C12.1487 11.2859 11.9923 11.2859 11.8719 11.3656L9.7529 12.768C9.47531 12.9517 9.11852 12.6925 9.20746 12.3717L9.88644 9.92305C9.92503 9.78388 9.8767 9.63513 9.76368 9.54523L7.7751 7.96333C7.5146 7.7561 7.65088 7.33666 7.98344 7.32213L10.5221 7.2112C10.6663 7.2049 10.7929 7.11297 10.8434 6.9777L11.7334 4.59761Z" fill="#FFA800"/>
              </svg>
        .box-show-item
          .box-show-item__img
            img(src="https://n1-pstg.mioto.vn/cho_thue_xe_o_to_tu_lai_thue_xe_du_lich_hochiminh/vinfast_fadil_2021/p/g/2021/02/23/16/E8ZRlEg-53GoYEccuXXD8Q.jpg" alt="xe")
            .trip-ins 
              i.ic.ic-insurance-wh
              span Bảo hiểm chuyến đi 
            .booking-quick 
              i.ic.ic-sm-thunderbolt-wh
              span Đặt xe nhanh
          .box-show-item__desc
            .item__title
              span VINFAST FADIL 2021
              span 700K
            .item__star 
              span.star
                span 4
                i.full
                span • 
                span 1 chuyến
            .item__choose
              span Số tự động
            .item__address 
              i.ic.ic-sm-car-location
              span Quận Bình Thạnh, Hồ Chí Minh
            .five-star-owner
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.74373 14.1812L0 20.4535L4.36948 20.2293L6.35463 23.999L9.81785 18.1959C7.33642 17.5754 5.20562 16.1312 3.74373 14.1812Z" fill="#FFA800"/>
                <path d="M20.2329 14.1812C18.7834 16.1302 16.655 17.575 14.1816 18.2039L17.6518 23.999L19.6348 20.2413L23.9995 20.4648L20.2329 14.1812Z" fill="#FFA800"/>
                <circle cx="12.0004" cy="8.72698" r="8.72698" fill="#FFA800"/>
                <circle cx="12.0028" cy="8.7269" r="7.09067" fill="#FFE99D"/>
                <path d="M11.7334 4.59761C11.85 4.28582 12.291 4.28582 12.4076 4.59761L13.2976 6.9777C13.3482 7.11297 13.4747 7.2049 13.619 7.2112L16.1576 7.32213C16.4901 7.33666 16.6264 7.7561 16.3659 7.96333L14.3773 9.54523C14.2643 9.63513 14.216 9.78388 14.2546 9.92305L14.9336 12.3717C15.0225 12.6925 14.6657 12.9517 14.3881 12.768L12.2691 11.3656C12.1487 11.2859 11.9923 11.2859 11.8719 11.3656L9.7529 12.768C9.47531 12.9517 9.11852 12.6925 9.20746 12.3717L9.88644 9.92305C9.92503 9.78388 9.8767 9.63513 9.76368 9.54523L7.7751 7.96333C7.5146 7.7561 7.65088 7.33666 7.98344 7.32213L10.5221 7.2112C10.6663 7.2049 10.7929 7.11297 10.8434 6.9777L11.7334 4.59761Z" fill="#FFA800"/>
              </svg>
        .box-show-item
          .box-show-item__img
            img(src="https://n1-pstg.mioto.vn/cho_thue_xe_o_to_tu_lai_thue_xe_du_lich_hochiminh/vinfast_fadil_2021/p/g/2021/02/23/16/E8ZRlEg-53GoYEccuXXD8Q.jpg" alt="xe")
            .trip-ins 
              i.ic.ic-insurance-wh
              span Bảo hiểm chuyến đi 
            .booking-quick 
              i.ic.ic-sm-thunderbolt-wh
              span Đặt xe nhanh
          .box-show-item__desc
            .item__title
              span VINFAST FADIL 2021
              span 700K
            .item__star 
              span.star
                span 4
                i.full
                span • 
                span 1 chuyến
            .item__choose
              span Số tự động
            .item__address 
              i.ic.ic-sm-car-location
              span Quận Bình Thạnh, Hồ Chí Minh
            .five-star-owner
              <svg width="24" height="24" viewBox="0 0 24   24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.74373 14.1812L0 20.4535L4.36948 20.2293L6.35463 23.999L9.81785 18.1959C7.33642 17.5754 5.20562 16.1312 3.74373 14.1812Z" fill="#FFA800"/>
                <path d="M20.2329 14.1812C18.7834 16.1302 16.655 17.575 14.1816 18.2039L17.6518 23.999L19.6348 20.2413L23.9995 20.4648L20.2329 14.1812Z" fill="#FFA800"/>
                <circle cx="12.0004" cy="8.72698" r="8.72698" fill="#FFA800"/>
                <circle cx="12.0028" cy="8.7269" r="7.09067" fill="#FFE99D"/>
                <path d="M11.7334 4.59761C11.85 4.28582 12.291 4.28582 12.4076 4.59761L13.2976 6.9777C13.3482 7.11297 13.4747 7.2049 13.619 7.2112L16.1576 7.32213C16.4901 7.33666 16.6264 7.7561 16.3659 7.96333L14.3773 9.54523C14.2643 9.63513 14.216 9.78388 14.2546 9.92305L14.9336 12.3717C15.0225 12.6925 14.6657 12.9517 14.3881 12.768L12.2691 11.3656C12.1487 11.2859 11.9923 11.2859 11.8719 11.3656L9.7529 12.768C9.47531 12.9517 9.11852 12.6925 9.20746 12.3717L9.88644 9.92305C9.92503 9.78388 9.8767 9.63513 9.76368 9.54523L7.7751 7.96333C7.5146 7.7561 7.65088 7.33666 7.98344 7.32213L10.5221 7.2112C10.6663 7.2049 10.7929 7.11297 10.8434 6.9777L11.7334 4.59761Z" fill="#FFA800"/>
              </svg>

  .fixed-wrapper
    .fixed-button
      .fixed-1
        i.ic.ic-map-black
        p Bản đồ
      .fixed-2
        i.ic.ic-filter-black
        p Bộ lọc



