block Map

.finding-control.form-default.shadow
	.wrapper-find.wrapper-new-trips
		.tab-trips
			ul
				li
					a.active(href="#!") Chuyến hiện tại
				li
					a(href="#!") Lịch sử chuyến
		.tab-filter
			a(href="#!").btn.btn--m.has-dot-red
				<i class="ic ic-filter-black"></i>
				span Bộ lọc


.module-map.module-trips.min-height-no-footer
	.trip-container
		.has-trip
			.trip-box.new-box
				.trip-header
					h4.car-name
						span MITSUBISHI PAJERO SPORT 2016
						//- span.license-plate 51G - 30310
						span.service-type
							| Có tài nội thành
						span.label-biz 
							| Mi Bussiness
				.trip-body.trip-header
					.left
						.car-img
							.fix-img
								img(src="https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/mazda_6_2016/p/g/2018/07/15/15/50mi-k8zfYqv28w1_eGcVw.jpg")
					.right
						p
							|Bắt đầu
							span
								|   Thứ Năm, 01/02/2018, 21:00
						p
							|Kết thúc
							span
								|   Thứ Sáu, 02/02/2018, 20:00
						p.total-price
							|Tổng tiền
							span    900k
				.trip-footer
					.status-trips
						p
							span.status.green-dot
							|Đang chờ duyệt xe
					.time
						p 2 giờ trước
			.trip-box.new-box
				.trip-header
					h4.car-name
						span MITSUBISHI PAJERO SPORT 2016
						span.service-type
							i.ic.ic-wd-notif
				.trip-body.trip-header
					.left
						.car-img
							.fix-img
								img(src="https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/mazda_6_2016/p/g/2018/07/15/15/50mi-k8zfYqv28w1_eGcVw.jpg")
					.right
						p
							|Bắt đầu
							span
								|  Thứ Năm, 01/02/2018, 21:00
						p
							|Kết thúc
							span
								|  Thứ Sáu, 02/02/2018, 20:00
						p.total-price
							|Tổng tiền
							span    900k
				.trip-footer
					.status-trips
						p
							span.status.green-dot
							|Đang chờ duyệt xe
					.time
						p 2 giờ trước
			.trip-box.new-box
				.trip-header
					h4.car-name
						span MITSUBISHI PAJERO SPORT 2016
						span.service-type
							i.ic.ic-wd-notif
				.trip-body.trip-header
					.left
						.car-img
							.fix-img
								img(src="https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/mazda_6_2016/p/g/2018/07/15/15/50mi-k8zfYqv28w1_eGcVw.jpg")
					.right
						p
							|Bắt đầu
							span
								|Thứ Năm, 01/02/2018, 21:00
						p
							|Kết thúc
							span
								|Thứ Sáu, 02/02/2018, 20:00
						p.total-price
							|Tổng tiền
							span  900k
				.trip-footer
					.status-trips
						p
							span.status.green-dot
							|Đang chờ duyệt xe
					.time
						p 2 giờ trước
