block My Favorites

- var moduleCars = []
- moduleCars.push({'name': 'HUYNDAI SANTA FE 2015 1', 'img': 'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/huyndai_santa_fe_2015/p/g/2018/03/26/15/6404.jpg','trips': '20','price' : '900K', 'deal' : '5%', 'promo': '855K'})
- moduleCars.push({'name': 'MADZA 3 2018 2', 'img': 'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/mazda_3_2018/p/g/2018/03/16/15/5898.jpg','trips': '2','price' : '1000K', 'deal' : '50%', 'promo': '500K'})
- moduleCars.push({'name': 'HUYNDAI SANTA FE 2015 3', 'img': 'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/huyndai_santa_fe_2015/p/g/2018/03/26/15/6404.jpg','trips': '5','price' : '500K', 'deal' : '10%', 'promo': '450K'})
- moduleCars.push({'name': 'MADZA 3 2018 4', 'img': 'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/mazda_3_2018/p/g/2018/03/16/15/5898.jpg','trips': '10','price' : '3500K', 'deal' : '5%', 'promo': '3325K'})
- moduleCars.push({'name': 'HUYNDAI SANTA FE 2015 5', 'img': 'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/huyndai_santa_fe_2015/p/g/2018/03/26/15/6404.jpg','trips': '20','price' : '900K', 'deal' : '5%', 'promo': '855K'})
- moduleCars.push({'name': 'MADZA 3 2018 6', 'img': 'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/mazda_3_2018/p/g/2018/03/16/15/5898.jpg','trips': '2','price' : '1000K', 'deal' : '50%', 'promo': '500K'})
- moduleCars.push({'name': 'HUYNDAI SANTA FE 2015 7', 'img': 'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/huyndai_santa_fe_2015/p/g/2018/03/26/15/6404.jpg','trips': '5','price' : '500K', 'deal' : '10%', 'promo': '450K'})
- moduleCars.push({'name': 'MADZA 3 2018 8', 'img': 'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/mazda_3_2018/p/g/2018/03/16/15/5898.jpg','trips': '10','price' : '3500K', 'deal' : '5%', 'promo': '3325K'})
- moduleCars.push({'name': 'HUYNDAI SANTA FE 2015 9', 'img': 'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/huyndai_santa_fe_2015/p/g/2018/03/26/15/6404.jpg','trips': '5','price' : '500K', 'deal' : '10%', 'promo': '450K'})
- moduleCars.push({'name': 'MADZA 3 2018 10', 'img': 'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/mazda_3_2018/p/g/2018/03/16/15/5898.jpg','trips': '10','price' : '3500K', 'deal' : '5%', 'promo': '3325K'})

.my-favs__sect
  .m-container 
    .heading-title
      h4 DANH SÁCH XE YÊU THÍCH
    hr.l-gray 
    .car-area__sect 
      .box-car__wrap 
        each car in moduleCars
          .box-car__item 
            .img-car 
              .fix-img 
                img(src=`${car.img}`)
              .price-car!=car.price
              .status-verify <i class="ic ic-verify-stroke"></i> Ảnh đã xác thực
            .desc-car 
              .ratings 
                span.star
                  span.star_rate-num 5
                  i.full
                .bar-line 
                p.trips #{car.trips} chuyến 
              h2!=car.name
            .wr-btn-share
              a.btn.btn-secondary.btn--m Bỏ thích 
              a.btn.btn-primary.btn--m Xem chi tiết