block Booking

.module-register
	.register-container
		.content-register
			.stepbystep
				ul
					li.active.done
						span.nu 1
						span.value Eligibility
					li
						span.nu 2
						span.value Customize
					li
						span.nu 3
						span.value Photos
					li
						span.nu 4
						span.value Publish
			span.title-booking RECEIPT
				strong.timer Jan 8, 2017 07:23AM
			.content-booking
				.info-car.has-receipt
					img.img(src="images/upload/car_1.png" alt=page)
					.group-name
						span.lstitle CAR NAME
						h1.title-car BMW 3 SERIES 2013
						span.star
							span.star_rate-num 5
							i.full
					.col-right
						.group
							span.lstitle Owner
							.profile-mini
								.avatar.avatar--s(title="title name")
									.avatar-img(style="background-image:url(images/avatar_default.png)")
								.desc
									h2
										a(href="#!") Calvin Jenkins
									span.star
										span.star_rate-num 5
										i.full
						.group.end
							.line-group
								span.lstitle Car ID
								span.value F26-369
							.line-group
								span.lstitle Location
								span.value 459 Kessler Via Apt. 412
				.info-car--more.otr
					.col-left
						h6 Renting Location
						.form-default
							.line-form
								label.label PICKUP
								.wrap-input.has-ico.has-value
									i.ic.ic-location-f
									input(type="text" placeholder="Your Location" value="Test 123" disabled)
							.line-form
								label.label RETURN
								.wrap-input.has-ico.has-value
									i.ic.ic-location-f
									input(type="text" placeholder="Your Location" value="Test 123" disabled)
					.col-right
						h6 Renting Time
						.form-default
							.line-form.has-timer
								label.label From
								.wrap-input.has-dropdown.date.has-value
									span.value.placeholder 03 / 09 / 2017
								.wrap-input.has-dropdown.time.has-value
									span.value.placeholder 7:30 PM
								.clear
							.line-form.has-timer
								label.label Until
								.wrap-input.has-dropdown.date.has-value
									span.value.placeholder 03 / 09 / 2017
								.wrap-input.has-dropdown.time.has-value
									span.value.placeholder 7:30 PM
								.clear
					.clear
					h6 Credit Card Checkout
					.form-default
						.line-form
							label.label CARD NUMBER
							.wrap-input.has-ico.has-value
								i.ic.ic-card
								input(type="text" placeholder="000-0000-0000-0000" value="Test 123" disabled)
					h6 Your Payment
					ul.lp
						li
							.item-lp
								span.title-lp DEPOSIT AMOUNT
								span.value-lp $ 60
						li
							.item-lp
								span.title-lp TOTAL AMOUNT
								span.value-lp.value-total $ 120
			
	