block Sharedcode 

- var cardSharedcode = []
- cardSharedcode.push({"img": "images/sharedcode/car-gift.svg", "code":"78ULYNJC", "sale":"15%", "price":"100 000"})
- cardSharedcode.push({"img": "images/sharedcode/car-gift.svg", "code":"NN1G9524", "sale":"10%", "price":"120 000"})
- cardSharedcode.push({"img": "images/sharedcode/car-gift.svg", "code":"3M3MKSY1", "sale":"15%", "price":"100 000"})


- var vehicletypes = []
- vehicletypes.push({'status':'', 'description':'20', 'content':'Số lượt tạo tài khoản'})
- vehicletypes.push({'status':'', 'description':'10', 'content':'Số lượt xác thực số điện thoại thành công'})
- vehicletypes.push({'status':'', 'description':'5', 'content':'Số lượt xác thực GPLX thành công'})
- vehicletypes.push({'status':'', 'description':'9', 'content':'Số chuyến sắp hoàn thành'})
- vehicletypes.push({'status':'', 'description':'9', 'content':'Số chuyến đã hoàn thành'})

.sharedcode__header(style="background-image: url('images/sharedcode/background.svg')")
  .m-container
    h3 GIỚI THIỆU BẠN BÈ
    .sharedcode_content
      .main-title
        h6 Chia sẻ mã giới thiệu với bạn bè
        p Cả hai đều nhận được ưu đãi và quà tặng     
        .copy-code
          .container
            .icon
              i.ic.ic-copy
            input(disabled value='81GIY7GS')
        p Ưu đãi 170 000đ cho chuyến đi đầu tiên
        p.link-trip(style="color: #FA7D19") Tìm hiểu chi tiết chương trình
        .sharedcode-media
          include ../../../images/sharedcode/facebook.svg
          include ../../../images/sharedcode/gmail.svg
          include ../../../images/sharedcode/twitter.svg
          include ../../../images/sharedcode/linkedin.svg
      .header-image
        img(src="images/sharedcode/sharedcode.svg")
        //- include ../../../images/sharedcode/sharedcode.svg
.m-container
  h5 THEO DÕI MÃ GIỚI THIỆU
  .sharedcode__info
    .info-content
      h5(style="font-weight: initial")
        | Tổng điểm thưởng đã nhận được
        i.ic.ic-question-mark
      p.description ( Chương trình giới thiệu bạn bè )
      p.unit
        span.num 20
        | điểm
    .info-image
      include ../../../images/sharedcode/phone.svg

  .car-brands
    each item,index in vehicletypes
      div(class=item.status + 'car-brands-item')
        p!= item.content
        p!= item.description
  
  h5 DANH SÁCH SỐ CHUYẾN SẮP HOÀN THÀNH
  .sharedcode__info
    .info-content
      h5(style="font-weight: initial")
        | Số chuyến sắp hoàn thành
        i.ic.ic-question-mark
      p.unit
        span.num 0
        | chuyến
      p.font-12 Tổng điểm sẽ nhận được là 0 điểm
    .info-image
      img(alt="car" src="./images/sharedcode/car.svg")

  .sharedcode__card
    each item,index in cardSharedcode
      .card-wrapper
        .card-image
          //- include ../../../images/sharedcode/mipoint.svg
          img(alt="car" src="./images/sharedcode/mipoint.svg")
          p.label +100 MIPOINT
        .card-content
          p Người được giới thiệu
          span xxxxxx6132
          p Ngày kết thúc
          span 05/09/2020
  .notice-form
    p.d-flex-between
      | Mỗi lượt người được giới thiệu xác thực gplx
      span +30 điểm
    p.d-flex-between
      | Mỗi lượt hoàn thành chuyến có sử dụng mã giới thiệu
      span +100 điểm

//- .section_Sharedcode-title
//-   .m-container
//-     h5 MÃ KHUYẾN MÃI
//-     .form-default
//-       .line-form
//-         .wrap-input.has-ico-search 
//-           i.ic.ic-search
//-           input(type="text" placeholder="Nhập mã khuyến mãi")

//- .module-Sharedcode.m-container.d-flex
//-   mixin list-code(code)
//-     .box-Sharedcode.d-flex
//-       // a.func-remove(href="")
//-       // i.ic.ic-remove 
//-       .top
//-         img.img-Sharedcode(src=code.img)
//-       .center 
//-         p.code #{code.code}
//-         p.desc 
//-           |Giảm 
//-           span #{code.sale}
//-         p.desc 
//-           |(tối đa
//-           span #{code.price}
//-             | VNĐ) 
//-         //.bottom 
//-           a.btn.btn--m.btn-primary.btn--full(href="") SỬ DỤNG 
//-   for code in moduleSharedcode
//-     +list-code(code)
