block Sharedcodev2

- var statistics = []
- statistics.push({'description':'20', 'content':'Số lượt tạo tài khoản'})
- statistics.push({'description':'10', 'content':'Số lượt xác thực số điện thoại thành công'})
- statistics.push({'description':'5', 'content':'Số lượt xác thực GPLX thành công'})
- statistics.push({'description':'9', 'content':'Số chuyến sắp hoàn thành'})
- statistics.push({'description':'9', 'content':'Số chuyến đã hoàn thành'})



.sharedcode__banner
    .m-container
        h3 GIỚI THIỆU BẠN BÈ
        .banner-wrapper
            .banner-content 
                h6 Chia sẽ mã giới thiệu với bạn bè
                p.content1 Cả hai đều nhận được ưu đãi và quà tặng
                .referral-code 
                    .copy-paste
                        i.ic.ic-copy
                    p 81GIY7GS
                p.content2  Ưu đãi 170 000đ cho chuyến đi đầu tiên
                p.content3 Tìm hiểu chi tiết chương trình 
                .social-media 
                    include ../../../images/sharedcode/facebook.svg
                    include ../../../images/sharedcode/gmail.svg
                    include ../../../images/sharedcode/twitter.svg
                    include ../../../images/sharedcode/linkedin.svg
            .banner-img
                img(src="./images/sharedcode/sharedcode.svg")



.m-container
    .sharedcode__information
        h6 THEO DÕI MÃ GIỚI THIỆU
        .sharedcode__cover
            .cover-content
                h6 Tổng điểm thưởng đã nhận được    
                    i.ic.ic-question-mark
                p.desc (Chương trình giới thiệu bạn bè)
                .point 
                    span.number 19
                    span.string điểm
            .cover-img 
                img(src="./images/sharedcode/phone.svg")
        .sharedcode__statistics
            each item in statistics
                .sharedcode__statistics__item
                    p=item.content 
                    p=item.description
        h6 DANH SÁCH SỐ CHUYẾN SẮP HOÀN THÀNH
        .sharedcode__cover 
            .cover-content 
                h6 Số chuyến sắp hoàn thành    
                    i.ic.ic-question-mark
                .point
                    span.number 0
                    span.string chuyến 
                p Tổng điểm sẽ nhận được là 0 điểm 
            .cover-img 
                img(src="./images/sharedcode/car.svg")   
        .sharedcode__cardbox
            .cardbox-item
                .cardbox-img 
                    img(src="./images/sharedcode/mipoint.svg")
                    p.mipoint +100 MIPOINT
                .cardbox-content
                    p Người được giới thiệu 
                    span xxxxxx6132 
                    p Ngày kết thúc
                    span 05/09/2020
            .cardbox-item
                .cardbox-img 
                    img(src="./images/sharedcode/mipoint.svg")
                    p.mipoint +100 MIPOINT
                .cardbox-content
                    p Người được giới thiệu 
                    span xxxxxx6132 
                    p Ngày kết thúc
                    span 05/09/2020
            .cardbox-item
                .cardbox-img 
                    img(src="./images/sharedcode/mipoint.svg")
                    p.mipoint +100 MIPOINT
                .cardbox-content
                    p Người được giới thiệu 
                    span xxxxxx6132 
                    p Ngày kết thúc
                    span 05/09/2020
        .noteform
            .noteform__item 
                p Mỗi lượt người được giới thiệu xác thực gplx
                p +30 điểm
            .noteform__item 
                p Mỗi lượt hoàn thành chuyến có sử dụng mã giới thiệu
                p +100 điểm