block Share 

//- div(style='overflow: hidden; z-index: 10;')
//-   h2.stitle(style='text-align: center; font-size: 1.75rem; padding-top: 20px; margin-bottom: .5rem; font-weight: bold') Giới thiệu bạn bè
//-   .try(style='display: grid; grid-gap: 2rem; grid-template-columns: calc(50% - 1rem) calc(50% - 1rem); padding-bottom: 2rem; -ms-grid-gap: 2rem; -ms-grid-columns: calc(50% - 1rem) calc(50% - 1rem); padding: 0 15px; max-width: 540px; margin: 0 auto; align-items: center;')
//-     div
//-       p(style='line-height: 22px; text-align: justify; font-size: 1rem;') Chia sẻ mã giới thiệu với bạn bè để nhận được mã giảm giá 100.000đ cho cả hai.
//-     div(style='text-align: center;')
//-       img(src='images/sharecode.png', style='max-width: 100%;')
.scode_wrapper
  .m-container 
    h3 GIỚI THIỆU BẠN BÈ
    .scode_grid
      div 
        p.desc 
          |Chia sẻ mã giới thiệu với bạn bè để cả hai đều được giảm giá
          span  10% 
          |  (tối đa 
          span   50 000 
          |  VNĐ) 
        p.desc Mã giới thiệu 
        .form-default 
          .line-form
            .wrap-input.has-ico.right 
              i.ic.ic-copy 
              input(type="text" value="NII1LH6W" disabled readonly)
          .space.m
          .line-form.d-flex
            .btn-share.ic-fb 
              i.ic.ic-facebook 
            .btn-share.ic-gg
              i.ic.ic-google 
            .btn-share.ic-in
              i.ic.ic-linkedin
            .btn-share.ic-tweet
              i.ic.ic-twitter
            .btn-share.ic-mail
              i.ic.ic-email 
      .img-share
        img(src='images/sharecode.png')
      
//- .scode_social 
//-   .m-container.social_box
//-     .form-default.d-flex
//-       h4 MORE WAYS TO SHARE
//-       .wr-btn-share
//-         .wr-btn
//-           button.btn.btn-google.btn--m(type="button") <i class="ic ic-gmail"></i> Share on Gmail 
//-         .wr-btn
//-           button.btn.btn-facebook.btn--m(type="button") <i class="ic ic-facebook"></i> Post on Facebook