block Booking

- var moduleComment = []
- moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'MS YEN', 'info':'Car Owner', 'desc':'It is an amazing experience on renting his car, very easy for my first try, I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'})
//- - moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':''})
//- - moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'It is an amazing experience on renting his car, very easy for my first try, I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'})
- var type = 0
- var messenge = []
- messenge.push({'sender':'1', 'type':'0', 'mess':'Lorem ipsum', 'img':'', 'time': '10:48, 17 Th8'}, {'sender':'0', 'type':'0', 'mess':'Lorem ipsum', 'status':'1', 'img':'', 'send':'0'}, {'sender':'0', 'type':'0', 'mess':'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Habitasse tincidunt nunc', 'status':'0', 'img':'', 'send':'0'})
//- - messenge.push({'sender':'1', 'type':'0', 'mess':'Lorem ipsum', 'img':'', 'time': '10:48, 17 Th8'}, {'sender':'0', 'type':'0', 'mess':'Lorem ipsum', 'status':'1', 'img':'', 'send':'0'}, {'sender':'0', 'type':'0', 'mess':'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Habitasse tincidunt nunc', 'status':'0', 'img':'', 'send':'0'}, {'sender':'0', 'type':'1', 'mess':'', 'status':'1', 'img':'images/img_car.png', 'send':'0'}, {'sender':'1', 'type':'0', 'mess':'Lorem ipsum', 'img':'', 'time': '10:48, 17 Th8'}, {'sender':'0', 'type':'0', 'mess':'Lorem ipsum', 'status':'1', 'img':'', 'send':'0'}, {'sender':'1', 'type':'0', 'mess':'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Habitasse tincidunt nunc ', 'img':'', 'time': '10:48, 17 Th8'}, {'sender':'0', 'type':'0', 'mess':'Lorem ipsum dolor sit amet', 'status':'0', 'img':'', 'send':'0'}, {'sender':'0', 'type':'0', 'mess':'Lorem ipsum', 'status':'1', 'img':'', 'send':'0'}, {'sender':'1', 'type':'0', 'mess':'Lorem ipsum', 'img':'', 'time': '10:48, 17 Th8'}, {'sender':'0', 'type':'0', 'mess':'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Habitasse tincidunt nunc ', 'status':'1', 'img':'', 'send':'1'})

.module-register
	.register-container.trip-container
		.status-wrapper
			.content-register.d-shadow
				.stepbystep
					ul
						li.active
							span.nu 1
							span.value Đã duyệt
						li.next-step
							span.nu 2
							span.value Đã cọc
						li
							span.nu 3
							span.value Đã nhận xe
						li
							span.nu 4
							span.value Đã kết thúc

			.booking-status.status-trips.arrow-2
				p
					span.status.orange-dot
					span Bạn cần đặt cọc trong vòng 24h, nếu không hệ thống sẽ tự động hủy chuyến
				span.countdown 24:00:00
			.booking-status.status-trips.arrow-3
				p
					span.status.green-dot
					span Chuyến đi của bạn sẽ bắt đầu vào 21:00 - Thứ Tư 19/06/2018
				span.countdown 24:00:00
			.booking-status.status-trips.arrow-4
				p
					span.status.green-dot
					span Chuyến đi của bạn sẽ kết thúc vào 21:00 - Thứ Tư 19/06/2018
				span.countdown 24:00:00
			.booking-status.status-trips.arrow-5
				p
					span.status.black-dot
					span Bạn hãy để lại nhận xét cho chuyến của mình
				span.countdown 24:00:00
		//- .status-wrapper
		//- 	.content-trip.code
		//- 		h4.tt Mã code thanh toán Payoo
		//- 		p.code-payoo 888239799

			//- a.btn.btn--s.btn-primary(href="#!")
			//- 	i.ic.ic-repeat-app
			//- 	span Kích hoạt ngay

		.status-wrapper
			.content-trip.insurance.no-support
				p.status-insurance
					i.ic.ic-not-insurance
					| Chuyến không hỗ trợ bảo hiểm


		.status-wrapper
			.content-trip.insurance.waiting
				p.status-insurance
					i.ic.ic-wait-insurance
					| Gói Bảo hiểm chưa được kích hoạt
				p.note Bảo hiểm sẽ tự kích hoạt vào 30/10/2019 20:00

		.status-wrapper
			.content-trip.insurance.spaceBetween
				p.status-insurance
					i.ic.ic-act-insurance
					| Gói Bảo hiểm đã được kích hoạt
				a.btn.btn--s.btn-primary.btn-ins(href="#!")
					i.ic.ic-repeat-app
					span Xem thông tin Bảo hiểm


		.main-container 
			.sidebar
				ul 
					if type== 0
						li.active 
							i.ic-detail
							a.active(href='/detail') Chi tiết chuyến đi
					else 
						li 
							i.ic-detail
							a(href='/detail') Chi tiết chuyến đi

					if type== 1
						li.active 
							i.ic-mess
							a(href='/messenge') Trò chuyện
					else 
						li 
							i.ic-mess
							a(href='/messenge') Trò chuyện
					if type== 2
						li.active 
							i.ic-photo
							a.active(href='/photo') Hình ảnh
					else
						li 
							i.ic-photo
							a(href='/photo') Hình ảnh
					if type== 3
						li.active 
							i.ic-profile
							a.active(href='/profile') Thông tin
					else
						li 
							i.ic-profile
							a(href='/profile') Thông tin
			.content
				case type
					when 0
						.content-register.content-trip
							.content-booking
								.info-trip--more.info-car--more
									.group-1
										.car-img
											.fix-img
												img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg")
									.group-2
										.group-info
											span.label-biz Mi bussiness
											h6.name MITSUBISHI PAJERO SPORT 2016
											//- .bar-line
											span.star
												span.star_rate-num 5
												i.full
									//- .group-3
									//- 	.profile-mini-v2
									//- 		.avatar.avatar-new(title="title name")
									//- 			.avatar-img(style="background-image:url(images/avatar_default.png)")
									//- 		.desc-v2
									//- 			h2
									//- 				span.lstitle Chủ xe
									//- 				a(href="#!") NGUYỄN QUỐC THIỆN
									//- 			span.star
									//- 				span.star_rate-num 5
									//- 				i.full
									.group-4
										.group-info
											h6 Thời gian thuê xe
											.form-default.grid-form
												.line-form.has-timer
													p Bắt đầu 21:00 - 19/06/2018
												.line-form.has-timer
													p Kết thúc 20:00 - 21/06/2018
										.group-info
											h6 Địa điểm giao nhận xe
											.address-car
												.line-form
													span.value Nhận và trả xe tại địa điểm hiện tại của xe
													p
														| Địa chỉ cụ thể của xe sẽ được hiển thị sau khi đặt xe thành công (sau khi đặt cọc).
									//- .group-5
									//- 	.group-info.mb-4
									//- 		h6 Số điện thoại
									//- 		span Số điện thoại của khách thuê sẽ được hiển thị sau khi đặt cọc
									//- 	.group-info
									//- 		h6 Lời nhắn đến chủ xe
									//- 		span Không có lời nhắn đến chủ xe
									.group-6
										.group-info
											h6 Vị trí xe
											.fix-map
												img(src="images/map@2x.png" class="map" alt=page)
										.group-info
											h6 Giới hạn quãng đường
											.note
												p
													|Tối đa
													strong
														|  400
													|  km/ngày. Phí
													strong
														|  10K
													|  /km vượt giới hạn.
									.group-tphoto
										.group-info.required-paper
											h6 Giấy tờ thuê xe
											.ctn-desc-new
												ul.required
													li
														|CMND
														ic.ic.ic-check
													li
														|Giấy Phép Lái Xe
														ic.ic.ic-check
													li
														|Hộ Khẩu / KT3
														ic.ic.ic-check
										.group-info.mortgages
											h6 Tài sản thế chấp
											.ctn-desc-new
												ul.required
													li
														|CMND
														ic.ic.ic-check
													li
														|Giấy Phép Lái Xe
														ic.ic.ic-check
													li
														|Hộ Khẩu / KT3
														ic.ic.ic-check
										.group-info.policies
											h6 Điều khoản thuê xe
											.ctn-desc-new.clause
												p When you're perfect, can will begin again?

									.group-tphoto
										.group-info
											h6 Bảo hiểm được cung cấp bởi MIC
											.status-wrapper
												.content-trip.insurance
													p.status-insurance
														i.ic.ic-not-support
														| Gói Bảo hiểm đã được kích hoạt
											.swiper-container.swiper-trip-photo
												.swiper-wrapper.box-photo__wrap
													.box-item.swiper-slide
														.fix-img.add-box
															.add-photo
																i.ic.ic-dark-plus
													.box-item.swiper-slide
														.fix-img
															img(src="https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/hyundai_elantra_2017/p/g/2018/06/11/18/G291aLE79LkcVjL9stZUqw.jpg")
														a.func-remove(href="#!")
															i.ic.ic-remove
													.box-item.swiper-slide
														.fix-img
															img(src="https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/hyundai_elantra_2017/p/g/2018/06/11/18/G291aLE79LkcVjL9stZUqw.jpg")
													.box-item.swiper-slide
														.fix-img
															img(src="https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/hyundai_elantra_2017/p/g/2018/06/11/18/G291aLE79LkcVjL9stZUqw.jpg")
											.ins-notice
												p.note.text-danger Cung cấp thêm hình ảnh để kích hoạt gói Bảo hiểm
												a.btn.btn--s.btn-primary(href="#!")
													i.ic.ic-repeat-app
													span Kích hoạt ngay
									.group-7
										h6 Bảng tính giá
										.form-default
											.line-form.has-timer
												.wrap-input.has-dropdown.date.has-value(style='width: 50%;')
													span.value Đơn giá thuê
												.wrap-input.has-dropdown.time.has-value(style='width: 50%;')
													span.value
														span 403 200
														|  /ngày
												.wrap-input.has-dropdown.date.has-value.long-term(style='width: 50%;')
													span.value Thuê tuần (giảm 20%)
												.wrap-input.has-dropdown.time.has-value.long-term(style='width: 50%;')
													span.value
														span.line-through Giá gốc 560 000 / ngày
												.wrap-input.has-dropdown.date.has-value.long-term(style='width: 50%;')
													span.value Chương trình giảm giá
														.tooltip
															i.ic.ic-question-mark
															.tooltip-text Lorem ipsum dolor sit amet.
												.wrap-input.has-dropdown.time.has-value.long-term(style='width: 50%;')
													span.value
														span.line-through 448 000 / ngày
												.wrap-input.has-dropdown.date.has-value.line-gray(style='width: 50%;')
													span.value Tổng phí thuê xe
												.wrap-input.has-dropdown.time.has-value.line-gray(style='width: 50%;')
													span.value
														span 403 200 x
														strong 7 ngày
												.wrap-input.has-dropdown.date.has-value(style='width: 50%;')
													span.value Phí giao nhận xe (2 chiều)
												.wrap-input.has-dropdown.time.has-value(style='width: 50%;')
													span.value
														span 25 000 (2,5km)
												.wrap-input.has-dropdown.date.has-value(style='width: 50%;')
													span.value Khuyến mãi mã
														strong     MI20
														.tooltip
															i.ic.ic-question-mark
															.tooltip-text Mioto sẽ hoàn lại cho chủ xe số tiền giảm này
												.wrap-input.has-dropdown.time.has-value(style='width: 50%;')
													span.value
														span - 150 000
												.wrap-input.has-dropdown.date.has-value.line-gray(style='width: 50%;')
													span.value
														h6 Tổng cộng
												.wrap-input.has-dropdown.time.has-value.line-gray(style='width: 50%;')
													span.value
														h6
															span 2 847 400đ
									.group-8
										//- h6 Thanh toán
										ul.lp.lp-confirm
											li.lp-li
												.item-lp
													span.title-lp TIỀN PHẢI CỌC
													span.value-lp.value-total
														span 360 000
											li.lp-li
												.item-lp
													span.title-lp TIỀN TRẢ SAU
													span.value-lp
														span 840 000
									.group-9
										.group-info
											h6 Chính sách hủy chuyến
											table.cancel-privacy
												thead
													tr
														td Thời điểm hủy chuyến
														td Phí hủy chuyến
														td Số tiền cọc hoàn trả
												tbody
													tr
														td Trong vòng 1 giờ sau khi đặt cọc
														td 0% Tiền cọc
														td 100% Tiền cọc
													tr
														td > 7 ngày trước ngày đi
														td 30% Tiền cọc
														td 70% Tiền cọc
													tr
														td <= 7 ngày trước ngày đi
														td 100% Tiền cọc
														td 0% Tiền cọc
											p.text-danger.font-13 *** Tiền cọc sẽ được hoàn trả trong vòng 1 - 3 ngày làm việc.
											//- .line-form
											//- .review.group-info
											//- 	h6 Đánh giá từ khách thuê
											//- 	hr.line
											//- 	mixin list-comments(comment)
											//- 		.list-comments
											//- 			.left
											//- 				.fix-avatar
											//- 					img(src=`${comment.img}`)
											//- 			.right
											//- 				h4.name= comment.heroes
											//- 				.cmt-box
											//- 					.group
											//- 						span.star
											//- 							i.full
											//- 							i.full
											//- 							i.half
											//- 							i
											//- 							i
											//- 						p.date 22/02/2017
											//- 					p.desc= comment.desc
											//- 	for comment in moduleComment
											//- 		+list-comments(comment)
					when 1
						.mess
							.header-mess 
								.detail-owner
									img(src="images/avatar_default.png")
									.info
										p.name Nguyễn Văn B
										.number-plate 51G-12345
								.time-trip
									.ic-clock
									p 11h00, 24/05 - 17h00, 25/05
							.body-mess 
								if messenge.length == 0
									.blank
										include ../../../images/blank.svg
										//- img(src="images/blank.svg")
										strong Bạn chưa có tin nhắn nào
								else
									div
										each mess in messenge
											if (mess.sender==1) 
												.time-mess 
													p=mess.time
												.sender
													.avatar-sender
														img(src="images/avatar_default.png")
													p= mess.mess
													//- .mess-img
													//- img(src="images/img_car.jpg")
													//- img(src="images/img_car.png")
											else
												.receiver
													if (mess.type==0)
														p= mess.mess
													else 
														.mess-img
															//- img(src=mess.img)
															img(src="images/img_car.jpg")
															img(src=mess.img)
															img(src=mess.img)
													if mess.send==1
														.unsend
													else 
														.send
								.down-arrow
									img(src="images/ic-svg/down-arrow.svg")
							.mess-input
								//- .mess-container
								.ic-camera
								input(type="text" placeholder="Nhắn tin...") 
								.ic-send
					when 2
						.mess
							.header-mess 
								.detail-owner
									img(src="images/avatar_default.png")
									.info
										p.name Nguyễn Văn B
										.number-plate 51G-12345
								.time-trip
									.ic-clock
									p 11h00, 24/05 - 17h00, 25/05
							.body-mess.mess-photo
								.blank
									img(src="images/trip_photo.svg")
									strong Bạn tải app để sử dụng tính năng này nhé
									p Tải ngay ứng dụng tại App Store hoặc Google Play
									.store
										a.func-app(href="#!")
											img.responsive-img(src="images/googleplay.png")
										a.func-app(href="#!")
											img.responsive-img(src="images/appstore.png")
					default 
						.mess

		.cancel-policy
			h5 Chính sách hủy chuyến
			.canceler
				h6 Bạn hủy chuyến
				.policyy
					p.timer Đặt cọc thành công
					.graph
						p.deposit Hoàn cọc 100%
					p.timer Đặt cọc thành công
					.graph
						p.deposit.gray-point Hoàn cọc 100%
					p.timer Đặt cọc thành công
					.graph
						p.deposit.black-point Hoàn cọc 100%
						include ../../../images/cancel-policy/arrow-black.svg
					p.timer Bắt đầu chuyến đi
			.canceler
				h6 Bạn hủy chuyến
				.policyy 
					p.timer Đặt cọc thành công
					.graph
						p.deposit Hoàn cọc 100%
					p.timer Đặt cọc thành công
					.graph
						p.deposit.gray-point Hoàn cọc 100%
					p.timer Đặt cọc thành công
					.graph
						p.deposit.black-point Hoàn cọc 100%
						include ../../../images/cancel-policy/arrow-black.svg
					p.timer Bắt đầu chuyến đi



			.canceler
				h6 Bạn hủy chuyến
				.canceler__graph
					.circle-green
					.line-green 
					.circle-gray
					.line-gray
					.circle-black
					include ../../../images/cancel-policy/arrow-black.svg
				.canceler__content
					p.timer Đặt cọc thành công
					p.deposit Hoàn cọc: 100%
					p.timer 1h sau khi đặt cọc
					p.deposit.gray-point Hoàn cọc: 70%
					p.timer 7 ngày trước chuyến đi
					p.deposit.black-point Không hoàn tiền
					p.timer Bắt đầu chuyến đi
			.canceler
				h6 Chủ xe huỷ chuyến
				.canceler__graph
					.circle-green
					.line-green 
					.circle-gray
					.line-gray
					.circle-black
					include ../../../images/cancel-policy/arrow-black.svg
				.canceler__content
					p.timer Đặt cọc thành công
					p.deposit Không đền cọc (đánh giá hệ thống 3*)
					p.timer 1h sau khi đặt cọc
					p.deposit.gray-point Đền cọc: 30% (đánh giá hệ thống 3*)
					p.timer 7 ngày trước chuyến đi
					p.deposit.black-point Đền cọc: 100% (đánh giá hệ thống 2*)
					p.timer Bắt đầu chuyến đi
			p.note-red *Tiền cọc sẽ được hoàn trả trong vòng 1-3 ngày làm việc




		.cancel-policy
			h5 Chính sách hủy chuyến
			.canceler
				h6 Bạn hủy chuyến
				.canceler__graph-1
					.circle-line-green
					.circle-line-gray
					.circle-black
					include ../../../images/cancel-policy/arrow-black.svg
				.canceler__content
					p.timer Đặt cọc thành công
					p.deposit Hoàn cọc: 100%
					p.timer 1h sau khi đặt cọc
					p.deposit.gray-point Hoàn cọc: 70%
					p.timer 7 ngày trước chuyến đi
					p.deposit.black-point Không hoàn tiền
					p.timer Bắt đầu chuyến đi
			.canceler
				h6 Chủ xe huỷ chuyến
				.canceler__graph-1
					.circle-line-green
					.circle-line-gray
					.circle-black
					include ../../../images/cancel-policy/arrow-black.svg
				.canceler__content
					p.timer Đặt cọc thành công
					p.deposit Không đền cọc (đánh giá hệ thống 3*)
					p.timer 1h sau khi đặt cọc
					p.deposit.gray-point Đền cọc: 30% (đánh giá hệ thống 3*)
					p.timer 7 ngày trước chuyến đi
					p.deposit.black-point Đền cọc: 100% (đánh giá hệ thống 2*)
					p.timer Bắt đầu chuyến đi
			p.note-red *Tiền cọc sẽ được hoàn trả trong vòng 1-3 ngày làm việc








		.cancel-policy
			h5 Chính sách hủy chuyến
			.canceler
				h6 Bạn hủy chuyến
				.canceler__select.time-1
					img(src="./images/cancel-policy/human-flag.svg")
				.canceler__graph.include-select
					.circle-green
					.line-green 
					.circle-gray
					.line-gray
					.circle-black
					include ../../../images/cancel-policy/arrow-black.svg
				.canceler__content
					p.timer Đặt cọc thành công
					p.deposit Hoàn cọc: 100%
					p.timer 1h sau khi đặt cọc
					p.deposit.gray-point Hoàn cọc: 70%
					p.timer 7 ngày trước chuyến đi
					p.deposit.black-point Không hoàn tiền
					p.timer Bắt đầu chuyến đi
			.canceler
				h6 Chủ xe huỷ chuyến
				.canceler__select.time-1
					img(src="./images/cancel-policy/human-flag.svg")
				.canceler__graph.include-select
					.circle-green
					.line-green 
					.circle-gray
					.line-gray
					.circle-black
					include ../../../images/cancel-policy/arrow-black.svg
				.canceler__content
					p.timer Đặt cọc thành công
					p.deposit Không đền cọc (đánh giá hệ thống 3*)
					p.timer 1h sau khi đặt cọc
					p.deposit.gray-point Đền cọc: 30% (đánh giá hệ thống 3*)
					p.timer 7 ngày trước chuyến đi
					p.deposit.black-point Đền cọc: 100% (đánh giá hệ thống 2*)
					p.timer Bắt đầu chuyến đi
			p.note-gray *Tiền cọc sẽ được hoàn trả trong vòng 1-3 ngày làm việc

		.cancel-policy
			h5 Chính sách hủy chuyến
			.canceler
				h6 Bạn hủy chuyến
				.canceler__select.time-2
					img(src="./images/cancel-policy/human-flag.svg")
				.canceler__graph.include-select
					.circle-green
					.line-green 
					.circle-gray
					.line-gray
					.circle-black
					include ../../../images/cancel-policy/arrow-black.svg
				.canceler__content
					p.timer Đặt cọc thành công
					p.deposit Hoàn cọc: 100%
					p.timer 1h sau khi đặt cọc
					p.deposit.gray-point Hoàn cọc: 70%
					p.timer 7 ngày trước chuyến đi
					p.deposit.black-point Không hoàn tiền
					p.timer Bắt đầu chuyến đi
			.canceler
				h6 Chủ xe huỷ chuyến
				.canceler__select.time-2
					img(src="./images/cancel-policy/human-flag.svg")
				.canceler__graph.include-select
					.circle-green
					.line-green 
					.circle-gray
					.line-gray
					.circle-black
					include ../../../images/cancel-policy/arrow-black.svg
				.canceler__content
					p.timer Đặt cọc thành công
					p.deposit Không đền cọc (đánh giá hệ thống 3*)
					p.timer 1h sau khi đặt cọc
					p.deposit.gray-point Đền cọc: 30% (đánh giá hệ thống 3*)
					p.timer 7 ngày trước chuyến đi
					p.deposit.black-point Đền cọc: 100% (đánh giá hệ thống 2*)
					p.timer Bắt đầu chuyến đi
			p.note-gray *Tiền cọc sẽ được hoàn trả trong vòng 1-3 ngày làm việc

		.cancel-policy
			h5 Chính sách hủy chuyến
			.canceler
				h6 Bạn hủy chuyến
				.canceler__select.time-3
					img(src="./images/cancel-policy/human-flag.svg")
				.canceler__graph.include-select
					.circle-green
					.line-green 
					.circle-gray
					.line-gray
					.circle-black
					include ../../../images/cancel-policy/arrow-black.svg
				.canceler__content
					p.timer Đặt cọc thành công
					p.deposit Hoàn cọc: 100%
					p.timer 1h sau khi đặt cọc
					p.deposit.gray-point Hoàn cọc: 70%
					p.timer 7 ngày trước chuyến đi
					p.deposit.black-point Không hoàn tiền
					p.timer Bắt đầu chuyến đi
			.canceler
				h6 Chủ xe huỷ chuyến
				.canceler__select.time-3
					img(src="./images/cancel-policy/human-flag.svg")
				.canceler__graph.include-select
					.circle-green
					.line-green 
					.circle-gray
					.line-gray
					.circle-black
					include ../../../images/cancel-policy/arrow-black.svg
				.canceler__content
					p.timer Đặt cọc thành công
					p.deposit Không đền cọc (đánh giá hệ thống 3*)
					p.timer 1h sau khi đặt cọc
					p.deposit.gray-point Đền cọc: 30% (đánh giá hệ thống 3*)
					p.timer 7 ngày trước chuyến đi
					p.deposit.black-point Đền cọc: 100% (đánh giá hệ thống 2*)
					p.timer Bắt đầu chuyến đi
			p.note-gray *Tiền cọc sẽ được hoàn trả trong vòng 1-3 ngày làm việc




		//- .cancel-policy
		//- 	h5 Chính sách hủy chuyến
		//- 	.canceler-box
		//- 		.canceler
		//- 			h6 Bạn hủy chuyến
		//- 			.canceler-container
		//- 				.canceler-container__graph
		//- 					.circle-green
		//- 					.line-green 
		//- 					.circle-gray
		//- 					.line-gray
		//- 					.circle-black
		//- 					include ../../../images/cancel-policy/arrow-black.svg
		//- 				.canceler-container__content
		//- 					p.timer Đặt cọc thành công
		//- 					p.deposit Hoàn cọc: 100%
		//- 					p.timer 1h sau khi đặt cọc
		//- 					p.deposit.gray-point Hoàn cọc: 70%
		//- 					p.timer 7 ngày trước chuyến đi
		//- 					p.deposit.black-point Không hoàn tiền
		//- 					p.timer Bắt đầu chuyến đi
		//- 		.canceler
		//- 			h6 Chủ xe huỷ chuyến
		//- 			.canceler-container
		//- 				.canceler-container__graph
		//- 					.circle-green
		//- 					.line-green 
		//- 					.circle-gray
		//- 					.line-gray
		//- 					.circle-black
		//- 					include ../../../images/cancel-policy/arrow-black.svg
		//- 				.canceler-container__content
		//- 					p.timer Đặt cọc thành công
		//- 					p.deposit Không đền cọc (đánh giá hệ thống 3*)
		//- 					p.timer 1h sau khi đặt cọc
		//- 					p.deposit.gray-point Đền cọc: 30% (đánh giá hệ thống 3*)
		//- 					p.timer 7 ngày trước chuyến đi
		//- 					p.deposit.black-point Đền cọc: 100% (đánh giá hệ thống 2*)
		//- 					p.timer Bắt đầu chuyến đi
		//- 	p.note-gray *Tiền cọc sẽ được hoàn trả trong vòng 1-3 ngày làm việc




		//- .cancel-policy
		//- 	h5 Chính sách hủy chuyến
		//- 	.canceler-box
		//- 		.canceler
		//- 			h6 Bạn hủy chuyến
		//- 			.canceler-container
		//- 				.canceler-container__select
		//- 					img.time-1(src="./images/cancel-policy/human-flag.svg")
		//- 				.canceler-container__graph.include-select
		//- 					.circle-green
		//- 					.line-green 
		//- 					.circle-gray
		//- 					.line-gray
		//- 					.circle-black
		//- 					include ../../../images/cancel-policy/arrow-black.svg
		//- 				.canceler-container__content
		//- 					p.timer Đặt cọc thành công
		//- 					p.deposit Hoàn cọc: 100%
		//- 					p.timer 1h sau khi đặt cọc
		//- 					p.deposit.gray-point Hoàn cọc: 70%
		//- 					p.timer 7 ngày trước chuyến đi
		//- 					p.deposit.black-point Không hoàn tiền
		//- 					p.timer Bắt đầu chuyến đi
		//- 		.canceler
		//- 			h6 Chủ xe huỷ chuyến
		//- 			.canceler-container
		//- 				.canceler-container__select
		//- 					img.time-1(src="./images/cancel-policy/human-flag.svg")
		//- 				.canceler-container__graph.include-select
		//- 					.circle-green
		//- 					.line-green 
		//- 					.circle-gray
		//- 					.line-gray
		//- 					.circle-black
		//- 					include ../../../images/cancel-policy/arrow-black.svg
		//- 				.canceler-container__content
		//- 					p.timer Đặt cọc thành công
		//- 					p.deposit Không đền cọc (đánh giá hệ thống 3*)
		//- 					p.timer 1h sau khi đặt cọc
		//- 					p.deposit.gray-point Đền cọc: 30% (đánh giá hệ thống 3*)
		//- 					p.timer 7 ngày trước chuyến đi
		//- 					p.deposit.black-point Đền cọc: 100% (đánh giá hệ thống 2*)
		//- 					p.timer Bắt đầu chuyến đi
		//- 	p.note-gray *Tiền cọc sẽ được hoàn trả trong vòng 1-3 ngày làm việc



		//- .cancel-policy
		//- 	h5 Chính sách hủy chuyến
		//- 	.canceler-box
		//- 		.canceler
		//- 			h6 Bạn hủy chuyến
		//- 			.canceler-container
		//- 				.canceler-container__select
		//- 					img.time-2(src="./images/cancel-policy/human-flag.svg")
		//- 				.canceler-container__graph.include-select
		//- 					.circle-green
		//- 					.line-green 
		//- 					.circle-gray
		//- 					.line-gray
		//- 					.circle-black
		//- 					include ../../../images/cancel-policy/arrow-black.svg
		//- 				.canceler-container__content
		//- 					p.timer Đặt cọc thành công
		//- 					p.deposit Hoàn cọc: 100%
		//- 					p.timer 1h sau khi đặt cọc
		//- 					p.deposit.gray-point Hoàn cọc: 70%
		//- 					p.timer 7 ngày trước chuyến đi
		//- 					p.deposit.black-point Không hoàn tiền
		//- 					p.timer Bắt đầu chuyến đi
		//- 		.canceler
		//- 			h6 Chủ xe huỷ chuyến
		//- 			.canceler-container
		//- 				.canceler-container__select
		//- 					img.time-2(src="./images/cancel-policy/human-flag.svg")
		//- 				.canceler-container__graph.include-select
		//- 					.circle-green
		//- 					.line-green 
		//- 					.circle-gray
		//- 					.line-gray
		//- 					.circle-black
		//- 					include ../../../images/cancel-policy/arrow-black.svg
		//- 				.canceler-container__content
		//- 					p.timer Đặt cọc thành công
		//- 					p.deposit Không đền cọc (đánh giá hệ thống 3*)
		//- 					p.timer 1h sau khi đặt cọc
		//- 					p.deposit.gray-point Đền cọc: 30% (đánh giá hệ thống 3*)
		//- 					p.timer 7 ngày trước chuyến đi
		//- 					p.deposit.black-point Đền cọc: 100% (đánh giá hệ thống 2*)
		//- 					p.timer Bắt đầu chuyến đi
		//- 	p.note-gray *Tiền cọc sẽ được hoàn trả trong vòng 1-3 ngày làm việc



		//- .cancel-policy
		//- 	h5 Chính sách hủy chuyến
		//- 	.canceler-box
		//- 		.canceler
		//- 			h6 Bạn hủy chuyến
		//- 			.canceler-container
		//- 				.canceler-container__select
		//- 					img.time-3(src="./images/cancel-policy/human-flag.svg")
		//- 				.canceler-container__graph.include-select
		//- 					.circle-green
		//- 					.line-green 
		//- 					.circle-gray
		//- 					.line-gray
		//- 					.circle-black
		//- 					include ../../../images/cancel-policy/arrow-black.svg
		//- 				.canceler-container__content
		//- 					p.timer Đặt cọc thành công
		//- 					p.deposit Hoàn cọc: 100%
		//- 					p.timer 1h sau khi đặt cọc
		//- 					p.deposit.gray-point Hoàn cọc: 70%
		//- 					p.timer 7 ngày trước chuyến đi
		//- 					p.deposit.black-point Không hoàn tiền
		//- 					p.timer Bắt đầu chuyến đi
		//- 		.canceler
		//- 			h6 Chủ xe huỷ chuyến
		//- 			.canceler-container
		//- 				.canceler-container__select
		//- 					img.time-3(src="./images/cancel-policy/human-flag.svg")
		//- 				.canceler-container__graph.include-select
		//- 					.circle-green
		//- 					.line-green 
		//- 					.circle-gray
		//- 					.line-gray
		//- 					.circle-black
		//- 					include ../../../images/cancel-policy/arrow-black.svg
		//- 				.canceler-container__content
		//- 					p.timer Đặt cọc thành công
		//- 					p.deposit Không đền cọc (đánh giá hệ thống 3*)
		//- 					p.timer 1h sau khi đặt cọc
		//- 					p.deposit.gray-point Đền cọc: 30% (đánh giá hệ thống 3*)
		//- 					p.timer 7 ngày trước chuyến đi
		//- 					p.deposit.black-point Đền cọc: 100% (đánh giá hệ thống 2*)
		//- 					p.timer Bắt đầu chuyến đi
		//- 	p.note-gray *Tiền cọc sẽ được hoàn trả trong vòng 1-3 ngày làm việc











	.wrap-btn.dt-trip-btn
		.dt-btn
			a.btn.btn-red.btn--m(href="car_register_step1_verify.html") Hủy chuyến
	.wrap-btn.dt-trip-btn.has-2btn
		.dt-btn
			.wr-btn
				a.btn.btn-red.btn--m(href="car_register_step1_verify.html") Hủy chuyến
			.wr-btn
				a.btn.btn-primary.btn--m(href="car_register_step1_verify.html") Đặt cọc

