@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:300,400,500,600,700&subset=vietnamese');

@font-face {
	font-family: 'Sanomat Sans';
	src: url('../fonts/SanomatSans/SVN-SanomatSansBlack.eot');
	src: url('../fonts/SanomatSans/SVN-SanomatSansBlack.eot?#iefix') format('embedded-opentype'),
			url('../fonts/SanomatSans/SVN-SanomatSansBlack.woff2') format('woff2'),
			url('../fonts/SanomatSans/SVN-SanomatSansBlack.woff') format('woff'),
			url('../fonts/SanomatSans/SVN-SanomatSansBlack.ttf') format('truetype'),
			url('../fonts/SanomatSans/SVN-SanomatSansBlack.svg#SVN-SanomatSansBlack') format('svg');
	font-weight: 900;
	font-style: normal;
}


@font-face {
	font-family: 'Sanomat Sans';
	src: url('../fonts/SanomatSans/SVN-SanomatSansBold.eot');
	src: url('../fonts/SanomatSans/SVN-SanomatSansBold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/SanomatSans/SVN-SanomatSansBold.woff2') format('woff2'),
			url('../fonts/SanomatSans/SVN-SanomatSansBold.woff') format('woff'),
			url('../fonts/SanomatSans/SVN-SanomatSansBold.ttf') format('truetype'),
			url('../fonts/SanomatSans/SVN-SanomatSansBold.svg#SVN-SanomatSansBold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Sanomat Sans';
	src: url('../fonts/SanomatSans/SVN-SanomatSansXBold.eot');
	src: url('../fonts/SanomatSans/SVN-SanomatSansXBold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/SanomatSans/SVN-SanomatSansXBold.woff2') format('woff2'),
			url('../fonts/SanomatSans/SVN-SanomatSansXBold.woff') format('woff'),
			url('../fonts/SanomatSans/SVN-SanomatSansXBold.ttf') format('truetype'),
			url('../fonts/SanomatSans/SVN-SanomatSansXBold.svg#SVN-SanomatSansXBold') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Sanomat Sans';
	src: url('../fonts/SanomatSans/SVN-SanomatSans.eot');
	src: url('../fonts/SanomatSans/SVN-SanomatSans.eot?#iefix') format('embedded-opentype'),
			url('../fonts/SanomatSans/SVN-SanomatSans.woff2') format('woff2'),
			url('../fonts/SanomatSans/SVN-SanomatSans.woff') format('woff'),
			url('../fonts/SanomatSans/SVN-SanomatSans.ttf') format('truetype'),
			url('../fonts/SanomatSans/SVN-SanomatSans.svg#SVN-SanomatSans') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Sanomat Sans';
	src: url('../fonts/SanomatSans/SVN-SanomatSansMedium.eot');
	src: url('../fonts/SanomatSans/SVN-SanomatSansMedium.eot?#iefix') format('embedded-opentype'),
			url('../fonts/SanomatSans/SVN-SanomatSansMedium.woff2') format('woff2'),
			url('../fonts/SanomatSans/SVN-SanomatSansMedium.woff') format('woff'),
			url('../fonts/SanomatSans/SVN-SanomatSansMedium.ttf') format('truetype'),
			url('../fonts/SanomatSans/SVN-SanomatSansMedium.svg#SVN-SanomatSansMedium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Sanomat Sans';
	src: url('../fonts/SanomatSans/SVN-SanomatSansLight.eot');
	src: url('../fonts/SanomatSans/SVN-SanomatSansLight.eot?#iefix') format('embedded-opentype'),
			url('../fonts/SanomatSans/SVN-SanomatSansLight.woff2') format('woff2'),
			url('../fonts/SanomatSans/SVN-SanomatSansLight.woff') format('woff'),
			url('../fonts/SanomatSans/SVN-SanomatSansLight.ttf') format('truetype'),
			url('../fonts/SanomatSans/SVN-SanomatSansLight.svg#SVN-SanomatSansLight') format('svg');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family: 'Sanomat Sans';
	src: url('../fonts/SanomatSans/SVN-SanomatSansXLight.eot');
	src: url('../fonts/SanomatSans/SVN-SanomatSansXLight.eot?#iefix') format('embedded-opentype'),
			url('../fonts/SanomatSans/SVN-SanomatSansXLight.woff2') format('woff2'),
			url('../fonts/SanomatSans/SVN-SanomatSansXLight.woff') format('woff'),
			url('../fonts/SanomatSans/SVN-SanomatSansXLight.ttf') format('truetype'),
			url('../fonts/SanomatSans/SVN-SanomatSansXLight.svg#SVN-SanomatSansXLight') format('svg');
	font-weight: 200;
	font-style: normal;
}


@font-face {
	font-family: 'Sanomat Sans';
	src: url('../fonts/SanomatSans/SVN-SanomatSansThin.eot');
	src: url('../fonts/SanomatSans/SVN-SanomatSansThin.eot?#iefix') format('embedded-opentype'),
			url('../fonts/SanomatSans/SVN-SanomatSansThin.woff2') format('woff2'),
			url('../fonts/SanomatSans/SVN-SanomatSansThin.woff') format('woff'),
			url('../fonts/SanomatSans/SVN-SanomatSansXBold.ttf') format('truetype'),
			url('../fonts/SanomatSans/SVN-SanomatSansThin.svg#SVN-SanomatSansThin') format('svg');
	font-weight: 100;
	font-style: normal;
}


@mixin sanomat($type, $font_size: 0) {
    font-family: 'Sanomat Sans';
    //  $font_size != 0
    //     font-size: $font_size
    @if $font_size != 0 {
      font-size: $font_size;
    }
    @if $type == blackk{
        font-weight: 900;
        font-style: normal;
    }
    @else if $type == semiB {
        font-weight: 800;
        font-style: normal;
    }
    @else if $type == B {
        font-weight: bold;
        font-style: normal;
    }
    @else if $type == M {
        font-weight: 500;
        font-style: normal;
    }
    @else if  $type == R {
        font-weight: normal ;
        font-style: normal;
    }
    @else if $type == L {
        font-weight: 300;
        font-style: normal;
    }
    @else if $type == Xl {
        font-weight: 200;
        font-style: normal;
    }
    @else if $type == thin {
        font-weight: 100;
        font-style: normal;
    }

}