block Owner Register
- var stepReg = [];
- stepReg.push({'clg': 'ict-register', 'twoCase': true, 'step': 'Bước 1' ,'case1': 'Cách 1', 'dt1': `Trực tiếp tải ứng dụng Mioto và đăng xe tại mục "Xe của tôi" `, 'case2': 'Cách 2', 'dt2': `Đăng kí thông tin đầy đủ để Mioto hỗ trợ đăng xe giúp bạn` })
- stepReg.push({'clg': 'ict-checked', 'twoCase': false ,'step': 'Bước 2', 'dt': `Nhân viên Mioto sẽ kiểm tra thông tin, liên hệ chủ xe để tư vấn thủ tục và quy trình cho thuê xe`})
- stepReg.push({'clg': 'ict-accept', 'twoCase': false , 'step': 'Bước 3', 'dt': `Bắt đầu cho thuê trên Mioto ngay khi nhận thông báo xe được phê duyệt từ Mioto`})


- var entpBe = [];
- entpBe.push({'clg': 'ict-variety', 'benefit': 'Đa dạng dịch vụ xe', 'dt': "Trọn gói các dịch vụ xe theo yêu cầu" })
- entpBe.push({'clg': 'ict-management','benefit': 'Quản lý dễ dàng', 'dt': `Cung cấp tài khoản để quản lý booking và tài xế`})
- entpBe.push({'clg': 'ict-best-price', 'benefit': 'Giá thuê thấp nhất', 'dt': `Đội xe 1000 chiếc với giá thuê thấp nhất trên thị trường. Bao phủ toàn Việt Nam`})
- entpBe.push({'clg': 'ict-commission', 'benefit': 'Thông minh', 'dt': `Mức chiết khấu 10 - 15%`})

- var faqReg = [ {'faq': 'Lorem ispum......'}, {'faq': 'Lorem ispum......'}, {'faq': 'Lorem ispum......'}]

.banner-home__sect.owner-register__wrap#ownerRegister(style='background-image: url(images/background/bg-enterprise-2.jpg);')
	.reg-container
		.main-title
			h2.reg-tt ĐỐI TÁC KINH DOANH MIOTO
			p Bạn có khách hàng - Khách hàng có nhu cầu được phục vụ thuê xe
			p Hãy hợp tác với chúng tôi để đem lại dịch vụ giá trị gia tăng cho khách hàng và hưởng doanh thu từ những giao dịch thành công

		.box-register
			.form-register.form-default
				h4.title TƯ VẤN DỊCH VỤ THUÊ XE -  KHÁCH HÀNG DOANH NGHIỆP
				p Vui lòng điền thông tin đầy đủ và chính xác để Mioto liên hệ bạn sớm nhất
				.form-group
					//- .line-form
					//- 	.wrap-select
					//- 		select(required)
					//- 			option(value="" disabled selected hidden) Thành phố đăng ký hoạt động với Mioto
					//- 			option(value="1") Hồ Chí Minh
					//- 			option(value="2") Hà Nội
					//- 			option(value="3") Đà Nẵng
					.line-form.w-60
						.wrap-input.has-error-form
							input(type="text" placeholder="Họ và tên*")
					.line-form.w-40
						.wrap-input
							input(type="text" placeholder="Số di động*")
					.line-form
						.wrap-input
							input(type="text" placeholder="Địa chỉ email (nếu có)")
					p Vui lòng cung cấp một số thông tin về doanh nghiệp của bạn để Mioto đề xuất giải pháp phù hợp nhất
					.line-form
						.wrap-input
							input(type="text" placeholder="Tên công ty")
					.line-form
						.wrap-input
							input(type="text" placeholder="Website công ty")
					//- .line-form.local
					//- 	label Dịch vụ cho thuê
					//- 	.line-radio
					//- 		label.custom-radio.custom-control
					//- 			input(type="radio" name="setting-mode" class="custom-control-input")
					//- 			span.custom-control-indicator
					//- 			span.custom-control-description
					//- 				|Tự lái
					//- 		label.custom-radio.custom-control
					//- 			input(type="radio" name="setting-mode" class="custom-control-input")
					//- 			span.custom-control-indicator
					//- 			span.custom-control-description
					//- 				|Có tài xế
					.line-form
						.wrap-select
							select(required)
								option(value="" disabled selected hidden) Quy mô công ty
								option(value="1") < 100 nhân viên
								option(value="2") 100 - 249 nhân viên
								option(value="3") 250 - 500 nhân viên
								option(value="3") > 500 nhân viên
					.line-form.w-40
						.wrap-input
							input(type="text" placeholder="Chức vụ")
					.line-form.w-60
						.wrap-input
							input(type="text" placeholder="Phòng ban phụ trách")
					//- .line-form.local
					//- 	label Đã từng cho thuê xe chưa?
					//- 	.line-radio
					//- 		label.custom-radio.custom-control
					//- 			input(type="radio" name="setting-mode" class="custom-control-input")
					//- 			span.custom-control-indicator
					//- 			span.custom-control-description
					//- 				|Đã từng
					//- 		label.custom-radio.custom-control
					//- 			input(type="radio" name="setting-mode" class="custom-control-input")
					//- 			span.custom-control-indicator
					//- 			span.custom-control-description
					//- 				|Chưa từng
				p.read-paper
					| Khi tiếp tục, tôi đồng ý Mioto được phép thu thập, sử dụng và tiết lộ thông tin được tôi cung cấp theo
					a(href="https://www.mioto.vn/regu") Quy chế hoạt động
					|  của Mioto mà tôi đã đọc và hiểu
				a(href="").btn.btn--m.btn-primary Đăng ký
//- .reg-tutorial__sect
//- 	.ex-container
//- 		h3.n-title Đăng ký cho thuê trên Mioto trong 3 bước
//- 		.reg-step__wrap
//- 			mixin reg-step(step)
//- 				.reg-step__item
//- 					.ict-large(class= `${step.clg}`)
//- 					.step-detail
//- 						h4!=step.step
//- 						if step.twoCase
//- 							.dt-step
//- 								span!=step.case1
//- 								p.dt!=step.dt1
//- 							.dt-step
//- 								span!=step.case2
//- 								p.dt!=step.dt2
//- 						else
//- 							p.dt!=step.dt
//- 			for step in stepReg
//- 				+reg-step(step)
.reg-tutorial__sect
	.ex-container
		h3.n-title Tại sao nên hợp tác với chúng tôi?
		.reg-step__wrap
			mixin entp-be(benef)
				.reg-step__item.entp-benef
					i.ict-mbenefit(class= `${benef.clg}`)
					.step-detail
						h4!=benef.benefit
						p.dt!=benef.dt
			for benef in entpBe
				+entp-be(benef)

.reg-cact__sect(style="background-image: url(images/background/bg-3.jpg);")
	.inside.ex-container
		h3.n-title Tham gia đối tác Mioto ngay hôm nay!
		p Mioto - Cùng bạn trên mọi hành trình
		a(href="#ownerRegister").btn.btn--l.btn-primary Đăng ký ngay