$background: #e8eaef !default;
// Color Font
$color-base: #141414 !default;
$color-main: #00a550 !default;
$color-second: #a9aaad !default;
$color-third: #f8f9fb !default;
$color-four: #67737f !default;
$color-five: #ff8996 !default;
$color-border: #efefef !default;
$color-link: #57a8ff !default;
$color-gray: #1F2D3D !default;
$color-gray-1: #273444 !default;
$color-gray-2: #3C4858 !default;
$color-gray-3: #8492A6 !default;
$color-gray-4: #273444 !default;
$color-gray-5: #cccccc !default;
$color-gray-6: #6E6E6E !default;
$color-smoke: #E0E6ED !default;
$color-dark-smoke: #D3DCE6 !default;
$color-dark-smoke-ex: #C0CCDA !default;
$color-snow: #F9FAFC !default;
$color-dark-snow: #EFF2F7 !default;
$color-dark-snow-ex: #E5E9F2 !default;
$color-success: #33cc66 !default;
$color-error: #fc4a4a !default;
$color-warning: #FFC82C !default;
$color-warning-1: #F44336 !default;
$color-orange: #FA7D19 !default;
$color-green: #57DD98;
$color-green-1: #007237;
$color-discount: #FF4301;
$color-label: #34495F;

// Font Style
$font-icon: 'lazalo'!default;
// media screen
$tiny-screen: 349px !default;
$xsmall-screen: 480px !default;
$small-screen: 576px !default;
$medium-screen: 767px !default;
$large-screen: 991px !default;
$xlarge-screen: 1199px !default;
// Page
$base-font: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
"Roboto",
"Oxygen",
"Ubuntu",
"Cantarell",
"Fira Sans",
"Droid Sans",
"Helvetica Neue",
sans-serif;
$primary-font: 'Sanomat Sans', 'Encode Sans Expanded',-apple-system, BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue", sans-serif;
$main_sprites:"../images/main_sprites.png";
$main_sprites_size:400px 400px;
$tut_sprites:"../images/tutorial_sprites.png";
$tut_sprites_size:500px 250px;
$faqs_sprites:"../images/icon-faqs.png";
$faqs_sprites_size:500px 500px;
$line-height:1.5;
$max-width:1240px;
$easing: cubic-bezier(0.7, 0, 0.3, 1);
// Font-variables
$h7: 1.125rem;
$l-h7: 27px;
//-- Common Variables
$pd-no-full-sect: 60px 0px ;
$size-s: 0.75rem;
$size-sm: .875rem ;
$size-med: 1rem ;
$size-name-car: 1rem;