div(role='dialog').hidden#modal-insurance-cd
	.modal-backdrop.fade.in
	.fade.in.modal(role='dialog', tabindex='-1', style='display: block; padding-left: 6px;')
		.modal-dialog.modal-insurance
			.modal-content(role='document')
				.modal-header
					button.close.close-modal(type='button')
						span(aria-hidden='true') ×
						span.sr-only
					h4.modal-title Chuyến đi của bạn được bảo vệ bởi MIC
					.insurance-partner
						p.lstitle ĐỐI TÁC BẢO HIỂM
						.partner-logo
							img.img-fluid(src="images/homev2/mic.png")
				.modal-body
					.module-register(style='background: none; padding: 0px;')
						.register-container
							.content-insurance
								//- .partner-logo
								//- 	.partner-logo__image
								//- 		img.img-fluid(src="images/global-care.png")
								//- 	.partner-logo__image
								//- 		img.img-fluid(src="images/homev2/mic.png")
								//- 	.partner-logo__image
								//- 		img.img-fluid(src="images/pjico.png")
								p Chọn gói bảo hiểm:
								.insurance-options
									label.custom-radio
										input(type="radio" name="payment" class="custom-control-input")
										span.custom-control-indicator
										span.custom-control-description Bảo hiểm quân đội MIC
									label.custom-radio
										input(type="radio" name="payment" class="custom-control-input")
										span.custom-control-indicator
										span.custom-control-description Bảo hiểm PJICO
								.horizontal-line
								p Vững tay lái với gói bảo hiểm của MIC dành riêng cho các chuyến đi trên Mioto!
								p(classname='fontWeight-5') I. NỘI DUNG SẢN PHẨM BẢO HIỂM
								p
									| Trong thời gian thuê xe, nếu xảy ra các sự cố va chạm ngoài ý muốn dẫn đến tổn thất về xe, khách thuê sẽ chỉ bồi thường số tiền 
									span(classname='fontWeight-5') tối đa 2.000.000đ 
									| để sửa chữa xe (mức khấu trừ), nhà bảo hiểm sẽ hỗ trợ cho các chi phí phát sinh vượt mức khấu trừ.
								table
									tbody
										tr
											th Thiệt hại xe 
											th Khách thanh toán 
											th BH thanh toán 
										tr
											td <= 2 triệu 
											td <= 2 triệu
											td 0 triệu
										tr
											td > 2 triệu
											td 2 triệu 
											td Giá trị còn lại
								div(classname='horizontal-line marginTop-m')
								p(classname='fontWeight-5') II. ĐIỀU KHOẢN BẢO HIỂM
								ul
									li - Bảo hiểm vật chất xe: Đâm va, hỏa hoạn, cháy nổ
									li - Bảo hiểm mất cắp, mất nguyên chiếc
									li - Miễn phí cứu hộ tối đa 70km/vụ
									li - Bảo hiểm thùy kích (khấu trừ 20% số tiền bảo hiểm, tối thiểu 3.000.000VNĐ)
									li - Mức khấu trừ: 2.000.000 VND/vụ
								p(classname='ins-note')
									| * Mức khấu trừ: mọi sự cố ngoài ý muốn trong phạm vi bảo hiểm, số tiền tối đa bạn thanh toán là 
									span(classname='fontWeight-6') 2 triệu đồng
									|  (không bao gồm thiệt hại do xe không cho thuê được trong thời gian sửa chữa nếu có và các lý do chủ quan khác nằm ngoài phạm vi bảo hiểm).
								div(classname='horizontal-line marginTop-m')
								p(classname='fontWeight-5') III. GIẢI ĐÁP THẮC MẮC QUYỀN LỢI BẢO HIỂM
								p
									| Tổng đài Globalcare giải đáp thắc mắc quyền lợi bảo hiểm: 
									span(classname='fontWeight-5') 0888 809 966
									|  / 
									span(classname='fontWeight-5') 1900 29 29 87
								div(classname='horizontal-line marginTop-m')
								p(classname='fontWeight-5') HỖ TRỢ GIẢI QUYẾT SỰ CỐ
								p Nếu xe xảy ra sự cố trên đường, vui lòng:
								ul
									li 1. Chụp ảnh hiện trường
									li
										| 2. Gọi đến trung tâm bồi thường của {activeIns === 1 ? "MIC" : "Pjico"}, đọc số Hợp đồng bảo hiểm và làm theo hướng dẫn của tổng đài.
								p(classname='ins-note')
									| (*Số Hợp đồng bảo hiểm: Khách thuê kiểm tra tại mục Thông tin chuyến trên ứng dụng Mioto sau khi chuyến đi bắt đầu)
								p(classname='ins-note') Các bước xử lí còn lại:
								p(classname='ins-note')
									| 3. Giám định viên bảo hiểm liên hệ khách thuê để hướng dẫn xử lí, xác minh thông tin và xác minh hiện trường (nếu có).
								p(classname='ins-note')
									| 4. Giám định viên và chủ xe/khách thuê cùng mang xe ra Garage để giám định thiệt hại và ra 
									strong Báo giá sửa chữa.
								p(classname='ins-note')
									| 5. Trung tâm bồi thường của nhà bảo hiểm ra 
									strong Biên bản giám định 
									| thiệt hại.
								p(classname='ins-note') 6. Garage tiến hành sửa chữa theo báo giá.
								.notice-form 
									p.d-flex-between Hotline toàn quốc
										span.fontWeigth-5 1900 54 54 55
