div(role='dialog')
  .modal-backdrop.fade.in
  .fade.in.modal(role='dialog', tabindex='-1', style='display: block; padding-left: 6px;')
    .modal-dialog.modal-lg.modal-dialog
      .modal-content.modal-confirm(role='document')
        .modal-header
          button.close(type='button')
            span(aria-hidden='true') ×
            span.sr-only
          h4.modal-title Xác nhận đặt xe
        .modal-body
          .module-register(style='background: none; padding: 0px;')
            .register-container
              .content-register
                .content-booking(style='padding: 0px;')
                  .info-car--more(style='padding-top: 0px;')
                    .group-info
                      h6.name Mazda 3 2017
                      .show-on-small
                        .car-img
                          .fix-img 
                            img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg")
                        .profile-mini-v2
                          .avatar.avatar-new(title="title name")
                            .avatar-img(style="background-image:url(images/avatar_default.png)")
                          .desc-v2
                            h2
                              a(href="#!") NGUYỄN QUỐC THIỆN 
                            span.star
                              i.full
                              i.full
                              i.half
                              i
                              i
                      hr.line-name
                    .col-left
                      .group-info
                        h6 Thời gian thuê xe
                        .form-default.grid-form 
                          .line-form.has-timer
                            lable.label Bắt đầu
                            span.value 21:00 -
                            span.value  19/06/2018
                          .line-form.has-timer
                            label.label Kết thúc
                            span.value 20:00 - 
                            span.value  21/06/2018
                      .group-info
                        h6 Địa điểm giao nhận xe
                        .line-form
                          span.value Nhận và trả xe tại địa điểm hiện tại của xe
                          p(style='color: gray;')
                            | Địa chỉ cụ thể của xe sẽ được hiển thị sau khi đặt xe thành công (sau khi đặt cọc).
      
                        .ctn-desc-new
                          .fix-map
                            img(src="images/map@2x.png" alt=page)
                      .space.m
                      .space.m
                      h6 Bảng tính giá
                      .form-default
                        .line-form.has-timer
                          .wrap-input.has-dropdown.date.has-value(style='width: 50%;')
                            span.value Đơn giá thuê 
                          .wrap-input.has-dropdown.time.has-value(style='width: 50%;')
                            span.value
                              span 600 000
                              |  /ngày
                          .wrap-input.has-dropdown.date.has-value(style='width: 50%;')
                            span.value Tổng phí thuê xe
                          .wrap-input.has-dropdown.time.has-value(style='width: 50%;')
                            span.value
                              span 600 000
                              |  x 
                              strong 2
                          .wrap-input.has-dropdown.date.has-value(style='width: 50%;')
                            span.value
                              h6 Tổng chi phí
                          .wrap-input.has-dropdown.time.has-value(style='width: 50%;')
                            span.value
                              h6
                                span 1 200 000
               
                      h6 Thanh toán
                      ul.lp
                        li
                          .item-lp
                            span.title-lp TIỀN PHẢI CỌC
                            span.value-lp.value-total
                              span 360 000
                        li
                          .item-lp
                            span.title-lp TIỀN TRẢ SAU
                            span.value-lp
                              span 840 000

                      .require-paper
                        h6 Giấy tờ bắt buộc 
                        .ctn-desc-new
                          ul.required
                            li 
                              img.img-ico(src="https://n1-cstg.mioto.vn/m/cmnd.png" style="width: 20px; height: 20px;")
                              |CMND
                            li 
                              img.img-ico(src="https://n1-cstg.mioto.vn/m/gplx.png" style="width: 20px; height: 20px;")
                              |Giấy Phép Lái Xe 
                      .require-paper
                        h6 Các yêu cầu khác
                        .ctn-desc-new
                          p Hóa đơn điện nước
                
                    .col-right.d-flex.hide-on-med-and-down
                      .car-img 
                        .fix-img 
                          img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg")
                      .profile-mini-v2
                        .avatar.avatar-new(title="title name")
                          .avatar-img(style="background-image:url(images/avatar_default.png)")
                        .desc-v2
                          h2
                            a(href="#!") NGUYỄN QUỐC THIỆN 
                          span.star
                            i.full
                            i.full
                            i.half
                            i
                            i
                      
  
                      .review 
                        h4.lstitle-new Đánh giá 
                        .group 
                          span.star
                            i.full
                            i.full
                            i.half
                            i
                            i
                          .bar-line
                          p 
                            span 2
                            |  đánh giá
                        hr.line 
                        mixin list-comments(comment)
                          .list-comments 
                            .left 
                              .fix-avatar
                                img(src=comment.img)
                            .right  
                              .cmt-box 
                                .group
                                  a(href="#")
                                    h4.name= comment.heroes 
                                  p.date 22/02/2017 
                              span.star
                                i.full
                                i.full
                                i.half
                                i
                                i
                                  
                            p.desc= comment.desc
                        for comment in moduleComment 
                          +list-comments(comment)
                        .s-all
                          a.see-all Xem Thêm
                            ic.ic.ic-chevron-up
                
                    .full-wrapper 
                      
                      div 
                        h6 Lời nhắn đến chủ xe 
                        textarea.textarea(placeholder="Nhập nội dung cần nhắn đến chủ xe")
                      div
                        h6 Lưu ý
                        .line-form
                          p
                            | Nhằm gia tăng sự cam kết của khách thuê cũng như đảm bảo quyền lợi chủ xe, khách thuê chỉ được huỷ chuyến đã đặt trước thời điểm khởi hành 7 ngày. Mioto không có trách nhiệm hoàn trả lại tiền cọc trong trường hợp khách thuê huỷ chuyến đã đặt trễ hơn thời gian 7 ngày trước thời điểm khởi hành. Xin cảm ơn!
                     
                      .space.m
                      .space.m
                      .squaredFour.have-label
                        input#read_paper(type='checkbox', value='on')
                        label.label(for='read_paper', style='color: red;') Tôi đã có đầy đủ giấy tờ chủ xe yêu cầu.
                      .space.m
                      .squaredFour.have-label
                        input#read_policy(type='checkbox', value='on')
                        label.label(for='read_policy', style='color: red;') Tôi đã nắm rõ các điều khoản và quy định khi thuê xe.

                    .wrap-btn.has-2btn
                      .wr-btn
                        a.btn.btn-secondary.btn--m Huỷ
                      .wr-btn
                        a.btn.btn-primary.btn--m(disabled='') Đặt xe
              