block Modal 

- var modulePromo = []
- modulePromo.push({"img" : "https://payment-dev.mioto.vn/mipay/static/img/logo-vtcpay.png", "code": "Cổng thanh toán VTC Pay"})
- modulePromo.push({ "img" : "https://payment-dev.mioto.vn/mipay/static/img/logo-payoo.png", "code": "Cổng thanh toán Payoo"})

- var modulePayment = []
//- - modulePayment.push({'img': 'https://payment-dev.mioto.vn/mipay/static/img/logo-ttlh.png', 'code':'Thanh toán qua thẻ tín dụng/ thẻ ghi nợ VISA, Master', 'payment' : 'images/payments/cards.svg', 'pFirst': 'Trên thẻ của bạn phải có các ký hiệu Visa, Master để thanh toán được bằng hình thức này.',  'step1': '1. Lựa chọn thẻ thanh toán quốc tế', 'step2': `2. Bấm <strong>"THANH TOÁN"</strong> để chuyển hướng về cổng thanh toán Payoo và tiến hành đặt cọc.`, 'step3': '3. Nhập thông tin trên thẻ.','step4':'4. Sau khi thanh toán, bạn sẽ nhận được thông báo đặt xe thành công và thông tin chủ xe qua tin nhắn và qua ứng dụng/website Mioto.', 'visa': 'images/visa.png', 'master': 'images/mastercard-logo.png', 'jcb': 'images/jcb.png', 'isPayment': 'THANH TOÁN'})

//- - modulePayment.push({'img': 'https://payment-dev.mioto.vn/mipay/static/img/logo-ttlh.png', 'code':'Thanh toán qua thẻ ATM đã đăng kí thanh toán trực tuyến','payment' : 'images/payments/atm.svg', 'pFirst': 'Thẻ của bạn phải có đăng ký dịch vụ thanh toán trực tuyến với ngân hàng.', 'step1': ' 1. Chọn ngân hàng trên thẻ của bạn.', 'step2': `2. Bấm <strong>"THANH TOÁN"</strong> để chuyển hướng về cổng thanh toán Payoo và tiến hành đặt cọc.`, 'step3': '3. Nhập thông tin trên thẻ.', 'step4':'4. Sau khi thanh toán, bạn sẽ nhận được thông báo đặt xe thành công và thông tin chủ xe qua tin nhắn và qua ứng dụng/website Mioto.', 'isPayment': 'THANH TOÁN', 'atm': true})

//- - modulePayment.push({'img': 'https://payment-dev.mioto.vn/mipay/static/img/logo-ttlh.png', 'code':'Thanh toán tiền mặt tại cửa hàng tiện lợi gần nhà', 'payment' : 'images/payments/online-store.svg','step1': `1. Bấm <strong>"ĐẶT CHỖ"</strong> để nhận mã code "Thanh toán hóa đơn Payoo" (qua website và tin nhắn sms).`, 'step2': `2. Chụp / ghi lại mã code và đến thanh toán tại bất kì cửa hàng tiện lợi nào gần nhất trước <span> 12:00 20-09-2018 </span>, sau thời gian này nếu không thanh toán hệ thống sẽ tự động huỷ đặt chỗ.`, 'step3': '3. Sau khi thanh toán, bạn sẽ nhận được thông báo đặt xe thành công và thông tin chủ xe qua tin nhắn và qua ứng dụng/website Mioto.', 'isPayment': 'ĐẶT CHỖ' })

- modulePayment.push({'img': 'https://payment-dev.mioto.vn/mipay/static/img/logo-ttlh.png', 'code':'Thanh toán bằng hình thức chuyển khoản ngân hàng', 'payment' : 'images/payments/bank.svg', 'step1': `1. Bấm <strong>"ĐẶT CHỖ"</strong> để xác nhận lựa chọn hình thức thanh toán chuyển khoản ngân hàng.`, 'step2': `2. Bạn vui lòng chuyển tiền vào tài khoản Mioto trước <span> 12:00 20-09-2018 </span>, sau thời gian này nếu không thanh toán hệ thống sẽ tự động huỷ đặt chỗ`, 'step3': `3. Chụp lại màn hình <strong> "Chuyển khoản thành công" </strong> và gửi đến <a href="" class="link">Mioto fanpage </a>hoặc <a href="mailto:contact@mioto.vn" class="link"> contact@mioto.vn </a>. Sau khi nhận được hình chụp từ bạn hoặc có tin nhắn tiền đã vào tài khoản, Mioto sẽ gửi thông báo đặt cọc thành công và thông tin chủ xe qua tin nhắn sms và ứng dụng/website Mioto.`,'isPayment': 'ĐẶT CHỖ', 'bidv': true, 'logo': 'images/BIDV.png'})

- modulePayment.push({'img': 'https://payment-dev.mioto.vn/mipay/static/img/logo-ttlh.png', 'code':'Thanh toán bằng tiền mặt tại văn phòng Mioto', 'payment' : 'images/payments/cash.svg', 'step1': `1. Bấm <strong>"ĐẶT CHỖ"</strong> để xác nhận lựa chọn hình thức thanh toán tiền mặt tại văn phòng Mioto.`, 'step2': `2. Bạn vui lòng đặt cọc trực tiếp tại văn phòng Mioto trước <span> 12:00 20-09-2018 </span>, sau thời gian này nếu không thanh toán hệ thống sẽ tự động huỷ đặt chỗ.`, 'step3': '3. Sau khi nhận được tiền đặt cọc, Mioto sẽ thông báo đặt cọc thành công và thông tin chủ xe qua tin nhắn sms và qua ứng dụng/website Mioto.','isPayment': 'ĐẶT CHỖ', 'cash': true, 'logo': 'images/logo.png'})

div(role="dialog")
  .modal-backdrop.fade.in
  .fade.modal.in(role="dialog", tabindex="-1", style="display:block")
    .modal-sm.modal-dialog
      .modal-content(role="document")
        .modal-header.header-promo
          button.close(type="button")
            span(aria-hidden="true") x
          h4.modal-title Thanh toán bằng hình thức chuyển khoản ngân hàng
        .modal-body 
          .module-register(style="background: none; padding: 5px;")
            .form-default.form-s
              .line-form
                .body-promo.new-payments
                  mixin list-code(code)
                    .content-payment
                      if code.pFisrt
                        p!=code.pFirst
                      .step-by-step 
                        p.step!=code.step1 
                        p.step!=code.step2                        
                        if code.bidv 
                          .cash-content 
                            .left 
                              img.img-fluid(src=`${code.logo}`)
                            .right 
                              p Số tài khoản: 
                                span  31310000905628
                              p Chủ tài khoản: 
                                span Công ty CP Mioto Việt Nam
                              p Chi nhánh: 
                                span Nam Kì Khởi Nghĩa - TPHCM
                              p Nội dung chuyển khoản: 
                                span Tên_đăng_nhập, sdt 097xxxxxxx
                        if code.cash  
                          .cash-content 
                            .left
                              .main-logo  
                                img.img-fluid(src=`${code.logo}`)
                            .right 
                              p Công ty CP Mioto Việt Nam
                              p Địa chỉ: 305/4 Lê Văn Sỹ, Phường 1, Tân Bình, TPHCM
                              p Giờ làm việc: 9:00-17:00 (Thứ 2 - Thứ 7)
                        p.step!=code.step3 
                        if code.step4
                          p.step!=code.step4
                      .summary-bill 
                        .summary 
                          h4 TỔNG TIỀN 
                          p 2 000 000đ 
                        .link-payment
                          button.btn.btn--m.btn-primary.btn-payment!=code.isPayment
                  for code in modulePayment
                    +list-code(code)
  
              .wrap-btn.has-2btn
                .wr-btn
                  a.btn.btn-secondary.btn--m(type='button') Quay lại
                .wr-btn
                  a.btn.btn-primary.btn--m Đóng

        //- .modal-body
        //-   .form-default.form-s
        //-     .line-form
        //-       .body-promo.gateway-payments
        //-         p Chọn 1 trong 2 cổng thanh toán để tiến hành đặt cọc
        //-         mixin list-code(code)
        //-           .box-promo 
        //-             .left 
        //-               img.img-promo(src=`${code.img}`)
        //-             .center
        //-               p.code #{code.code} 
        //-             .right
        //-               label.custom-radio.custom-control 
        //-                 input.custom-control-input(type="radio" name="ttlh")
        //-                 span.custom-control-indicator
                      
        //-         for code in modulePromo
        //-           +list-code(code)
        //-         //- .line 
                
        //-     <a class="btn btn-primary btn--m">Thanh Toán</a>