div(role='dialog').hidden#modal-form-insurance
	.modal-backdrop.fade.in
	.fade.in.modal(role='dialog', tabindex='-1', style='display: block; padding-left: 6px;')
		.modal-dialog.modal-lg.modal-ins-form.modal-confirm
			.modal-content(role='document')
				.modal-header
					button.close.close-modal(type='button')
						span(aria-hidden='true') ×
						span.sr-only
				.modal-body
					.module-register
						.register-container
							.content-register
								.ins-form-logo
									.left
										p Đơn vị bảo hiểm
										img.img-fluid(src="../images/homev2/mic.png")
									.right
										p Phân phối bởi
										img.img-fluid(src="../images/global-care.png")
								.ins-form-title
									h3 CHỨNG NHẬN BẢO HIỂM VẬT CHẤT XE Ô TÔ
									p.cert-no
										| Số:
										span    5d022343047b0
								.ins-form-body(style="background-image: url(../images/background/bg-ins-form.png)")
									.ins-info
										h6 THÔNG TIN YÊU CẦU BẢO HIỂM
										.form-info
											p
												|Loại xe:
												span   	TOYOTA CAMRY 2017
											p
												|Năm SX:
												span 		2018
											p
												|Biển số xe:
												span 		51G-30021
									.ins-info
										h6 CÁC PHẠM VI BẢO HIỂM CHÍNH:
										p - Bảo hiểm vật chất xe: đâm va, hỏa hoạn, cháy nổ
										p - Bảo hiểm mất cắp, mất nguyên chiếc.
										p - Miễn phí cứu hộ tối đa 70 km/vụ.
										p - Mức khấu trừ: 2.000.000 VND/vụ.
									.ins-info
										h6 THỜI HẠN BẢO HIỂM
										p Từ 00:00 6/12/1019 - Đến 00:00 6/12/2019

										p Chương trình bảo hiểm này là sản phẩm bảo hiểm của MIC được phân phối tại Global Care
										p
											| Xảy ra sự cố, vui lòng gọi
											span       1900 55 88 91
											|		, đọc số Hợp đồng BH và làm theo hướng dẫn của tổng đài bảo hiểm MIC!

									.wrap-btn
										a.btn.btn--m.btn-down-ins.btn-primary(href="#!")
											i.ic.ic-pdf
											| Xem chi tiết

