block Withdrawal Request Gate

div(role='dialog')
	.modal-backdrop.fade.in
	.fade.in.modal(role='dialog', tabindex='-1', style='display: block; padding-left: 6px;')
		.modal-dialog.modal-sm.modal-withdrawal-gate
			.modal-content(role='document')
				.modal-header
					button.close(type='button')
						span(aria-hidden='true') ×
						span.sr-only
					h4.modal-title Chọn cổng rút tiền
				.modal-body
					.request-container
						.request-gate
							p.explain Lựa chọn một trong hai hình thức rút tiền từ ví Mioto
							.d-flex
								label.custom-radio.custom-control
									input(type="radio" name="payment" class="custom-control-input")
									span.custom-control-indicator
									span.custom-control-description
									.logo-request__item.d-flex
										.logo-request.viettel-pay
											img.img-fluid(src="images/viettelpay.svg")
										.info-card
											p ViettelPay
								label.custom-radio.custom-control
									input(type="radio" name="payment" class="custom-control-input")
									span.custom-control-indicator
									span.custom-control-description
									.logo-request__item.d-flex
										.logo-request.bank
											img.img-fluid(src="images/payments/cards.svg")
										.info-card
											p Chuyển khoản ngân hàng
