block Modal

- var modulePromo = []
- modulePromo.push({"img": "https://scontent.fsgn5-3.fna.fbcdn.net/v/t1.0-9/22196461_123620825006896_7778566556216764615_n.png?_nc_cat=0&oh=e9e9a9152f11df80dea4cfddbd7f1a86&oe=5B74017A", "code":"78ULYNJC", "sale":"15%", "price":"100.000"})
//- - modulePromo.push({"img": "https://scontent.fsgn5-3.fna.fbcdn.net/v/t1.0-9/22196461_123620825006896_7778566556216764615_n.png?_nc_cat=0&oh=e9e9a9152f11df80dea4cfddbd7f1a86&oe=5B74017A", "code":"NN1G9524", "sale":"10%", "price":"120.000"})
//- - modulePromo.push({"img": "https://scontent.fsgn5-3.fna.fbcdn.net/v/t1.0-9/22196461_123620825006896_7778566556216764615_n.png?_nc_cat=0&oh=e9e9a9152f11df80dea4cfddbd7f1a86&oe=5B74017A", "code":"3M3MKSY1", "sale":"15%", "price":"100.000"})

div(role="dialog").hidden
  .modal-backdrop.fade.in
  .fade.modal.in(role="dialog", tabindex="-1", style="display:block")
    .modal-sm.modal-dialog
      .modal-content(role="document")
        .modal-header.header-promo
          button.close(type="button")
            span(aria-hidden="true") x
          h4.modal-title MÃ KHUYẾN MÃI
          .form-default
            .line-form
              .wrap-input.has-ico-search 
                i.ic.ic-search
                input(type="text" placeholder="Nhập mã khuyến mãi")
        .modal-body
          .body-promo
            mixin list-code(code)
              .box-promo 
                .left 
                  img.img-promo(src=code.img)
                .center
                  p.code #{code.code}  
                  p.desc 
                    |Giảm 
                    span #{code.sale}
                    | (tối đa
                    span  #{code.price} VNĐ)
                  p.desc
                    a.link-desc.chevron-down(href="") Chi tiết
                    a.link-desc.chevron-up(href="") Ẩn chi tiết
                .right
                  a.btn.btn--m.btn-primary.btn-sm(href="") SỬ DỤNG
            for code in modulePromo
              +list-code(code)
            .line 
            .space.m
            .promo-details 
              .promo-header
                .cover-promo(style="background-image: url('images/img_car.jpg')") 
                .cover-detail 
                  .img-promo 
                    img(src="https://scontent.fsgn5-3.fna.fbcdn.net/v/t1.0-9/22196461_123620825006896_7778566556216764615_n.png?_nc_cat=0&oh=e9e9a9152f11df80dea4cfddbd7f1a86&oe=5B74017A")
                  .desc 
                    h4 MIOTO 1989
                    p 
                      | Áp dụng từ 
                      span.green 13/04/2018 
                      | đến
                      span.green 30/04/2018 
              .promo-body 
                h3 Ưu đãi 10% (tối đa 100.000đ)
                p
                  | Giảm 
                  span 10% (tối đa 100.000đ)
                  |  cho tất cả đơn hàng khi nhập mã:
                span.code-promo MIOTO
                .space.m
                ul
                  li Có giá trị đến hết ngày 01/05/2018. Chỉ áp dụng cho khách hàng nhận được thông báo.
                  li Chương trình có thể kết thức sớm hơn dự kiến khi hết số lượng khuyến mãi. 
                  li Không áp dụng chung với các chương trình khuyến mãi khác. 
                  li Mã chỉ áp dụng với phiên bản app mới nhất
                  li Mỗi chuyến đi chỉ được sử dụng 1 mã khuyến mãi.
              .promo-footer
                a.btn.btn-primary.btn--m(href="#!") SỬ DỤNG