- var vehicletypes = []
- vehicletypes.push({'status':'active ', 'thumbnail':'images/vehicle-type/4 chỗ (cỡ nhỏ).png', 'description':'4 chỗ','subdesc':'(cỡ nhỏ)'})
- vehicletypes.push({'status':'','thumbnail':'images/vehicle-type/4 chỗ (sedan-4 cửa).png', 'description':'4 chỗ','subdesc':'(sedan - 4 cửa)'})
- vehicletypes.push({'status':'','thumbnail':'images/vehicle-type/4 chỗ (hatchback-5 cửa).png', 'description':'4 chỗ','subdesc':'(hatchback - 5 cửa)'})
- vehicletypes.push({'status':'','thumbnail':'images/vehicle-type/5 chỗ (gầm cao).png', 'description':'5 chỗ','subdesc':'(gầm cao)'})
- vehicletypes.push({'status':'','thumbnail':'images/vehicle-type/7 chỗ (gầm cao).png', 'description':'7 chỗ','subdesc':'(gầm cao)'})
- vehicletypes.push({'status':'','thumbnail':'images/vehicle-type/7 chỗ (gầm thấp).png', 'description':'7 chỗ','subdesc':'(gầm thấp)'})
- vehicletypes.push({'status':'','thumbnail':'images/vehicle-type/bán tải.png', 'description':'Bán tải'})
- var cardetail = []
- cardetail.push({'content': 'chevrolet aveo'})
- cardetail.push({'content': 'chevrolet captiva (2 xe)'})
- cardetail.push({'content': 'chevrolet corolado '})
- cardetail.push({'content': 'chevrolet cruze (2 xe)'})

div(role='dialog')
	.modal-backdrop.fade.in
	.fade.in.modal(role='dialog', tabindex='-1', style='display: block')
		.modal-dialog.modal-sm
			.modal-content(role='document')
				.modal-header
					button.close(type='button')
						span(aria-hidden='true') ×
						span.sr-only
					h4.modal-title Bộ lọc
				.modal-body
					div( class="sidebar-container" style="padding: 0px")
						.sidebar-body
							ul
								li
									.content-filter
										div(class="rent-car" style="padding: 0px")
											span.slstitle Sắp xếp
											.line-form
												.wrap-select
													select
														option tối ưu
														option Ưu tiên khoảng cách
														option Ưu tiên giá thấp
														option Ưu tiên giá cao
														option Ưu tiên đánh giá
											span.slstitle Loại xe
											.vehicle-type.has-modal
												each item,index in vehicletypes
													div(class=item.status + 'squaredFour have-label')
														input(type="checkbox" name="filter-car-type" id=`checkbox-modal-${index}`)
														label(for=`checkbox-modal-${index}` class="description")
															.thumbnail
																img(src= item.thumbnail alt="image" class="img-fluid")
															span!= item.description
															if item.subdesc
																span.extra-info!= item.subdesc
											span.slstitle Dòng xe
											.line-form
												each car,index in cardetail
													.squaredFour.have-label
														input(id=`car ${index}-modal` type='checkbox', name=`car ${index}`)
														label(for=`car ${index}-modal`)!= car.content
											span.slstitle Truyền động
											.line-form
												.wrap-select
													select
														option Tất cả
														option Số tự động
														option Số sàn
											.line-form
												.squaredFour.have-label
													input(class="ip_instant_booking" type="checkbox")
													label(for="ip_instant_booking") Đặt xe nhanh
														.tooltip
														i.ic.ic-question-mark
											.line-form
												.squaredFour.have-label
													input(class="ip_support_passport" type="checkbox")
													label(for="ip_support_passport") Chấp nhận passport
											.line-form
												.squaredFour.have-label
													input(class="ip_support_insurance" type="checkbox")
													label(for="ip_support_insurance") Hỗ trợ bảo hiểm
											a(class="btn btn-default btn--m btn-reset has-dot-red" style="padding: 0px; color: rgb(0, 165, 80);")
												i.ic.ic-reset
												| Bỏ lọc
