div(role='dialog')
    .modal-backdrop.fade.in
    .fade.in.modal(role='dialog', tabindex='-1', style='display: block; padding-left: 6px;')
        .modal-dialog.modal-sm
            .modal-content(role='document')
                .modal-header
                    button.close(type='button')
                        span(aria-hidden='true') ×
                        span.sr-only
                    h4.modal-title Xác thực giấy phép lái xe
                .modal-body
                    .form-default.form-valid
                        .line-form
                            label.label Loại GPLX
                            .wrap-input.has-dropdown
                                select.value
                                    option GPLX PET (có thời hạn)
                                    option GPLX PET (không thời hạn)
                                    option GPLX PET (làm bằng giấy bìa)
                        .line-form
                            label.label Số GPLX
                            .wrap-input
                                input(class="value" placeholder='1234-5678-9012') 
                        .line-form
                            label.label Số GPLX
                            .wrap-input.invalid
                                input(class="value" placeholder='1234-5678-9012') 
                            p.invalid Số GPLX không hợp lệ
                        .line-form
                            label.label Số GPLX
                            .wrap-input.valid
                                input(class="value" placeholder='1234-5678-9012') 
                        .line-form
                            label.label Ngày sinh
                            .wrap-input
                                input(class="value" placeholder='dd/mm/yyyy')
                        .line-form
                            label.label Ngày sinh
                            .wrap-input.invalid
                                input(class="value" placeholder='dd/mm/yyyy')
                            p.invalid Ngày sinh không hợp lệ
                        .line-form
                            label.label Ngày sinh
                            .wrap-input.valid
                                input(class="value" placeholder='dd/mm/yyyy')
                        .line-form
                            label.label Ảnh bằng lái xe
                            .list-photos.mb-20
                                label Giấy Phép Lái Xe (mặt trước)
                                ul
                                    li
                                        a(class="obj-photo" style="background-color: #f8f9fb")
                                            span.ins
                                                .fileUploader
                                                    .fileContainer
                                                        .errorsContainer
                                                        button( type="button" class="choseFileButton btn btn-primary btn--m") Chọn hình
                                    li
                                        div(class="obj-photo" style="background-image: url('./images/drive-license-front.png')")
                                            a.func-remove
                                                i.ic.ic-remove
                            .list-photos
                                label Giấy Phép Lái Xe (mặt sau)
                                ul
                                    li
                                        a(class="obj-photo" style="background-color: #f8f9fb")
                                            span.ins
                                                .fileUploader
                                                    .fileContainer
                                                        .errorsContainer
                                                        button( type="button" class="choseFileButton btn btn-primary btn--m") Chọn hình
                                    li
                                        div(class="obj-photo" style="background-image: url('./images/drive-license-front.png')")
                                            a.func-remove
                                                i.ic.ic-remove
                            .license-photo
                                .fix-img
                                    img(src="./images/driving-license-1.svg")
                        button.btn.btn-primary.btn--m Cập nhật


