div(role='dialog').hidden#modal-select-location
	.modal-backdrop.fade.in
	.fade.in.modal(role='dialog', tabindex='-1', style='display: block')
		.modal-dialog.modal-sm.modal-location-settings
			.modal-content(role='document')
				.modal-header
					button.close.close-modal(type='button')
						span(aria-hidden='true') ×
						span.sr-only
					h4.modal-title Chọn địa chỉ
				.modal-body
					.form-default
						.line-form
							label.label Thành phố
							.wrap-select
								select
									option TP Hồ Chí Minh
									option Hà Nội
						.line-form
							label.label Quận /Huyện
							.wrap-select
								select
									option Quận 1
									option Quận Tân Bình
						.line-form
							label.label Phường/ xã
							.wrap-select
								select
									option Phường 1
									option Phường 4
						.line-form
							label.label Đường
							.wrap-input
								input(placeholder="305/4 Lê Văn Sỹ")
					.wrap-2-btn
						a.btn.btn-secondary.btn--m.close-modal Hủy bỏ
						a.btn.btn-primary.btn--m Áp dụng

