div(role='dialog').hidden#modal-confirm-book
	.modal-backdrop.fade.in
	.fade.in.modal(role='dialog', tabindex='-1', style='display: block; padding-left: 6px;')
		.modal-dialog.modal-lg.modal-dialog.modal-confirm
			.modal-content(role='document')
				.modal-header
					button.close.close-modal(type='button')
						span(aria-hidden='true') ×
						span.sr-only
					h4.modal-title Xác nhận đặt xe
				.modal-body
					.module-register(style='background: none; padding: 0px;')
						.register-container
							.content-register
								.content-booking(style='padding: 0px;')
									.info-car--more(style='padding-top: 0px;')
										.group-1
											h6.name MITSUBISHI PAJERO SPORT 2016
											.bar-line
											span.star
												span.star_rate-num 5
												i.full
											hr.line-name

										.group-2
											.car-img
												.fix-img
													img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg")

										.group-3

											.group-info
												h6 Thời gian thuê xe
												.form-default.grid-form
													.line-form.has-timer
														p Bắt đầu 21:00 - 19/06/2018
													.line-form.has-timer
														p Kết thúc 20:00 - 21/06/2018

											.group-info.insurance
												h6 Bảo hiểm
												p.df-align-center
													i.ic.ic-mr.ic-act-insurance
													| Bảo hiểm bởi MIC
												p.df-align-center
													i.ic.ic-mr.ic-not-insurance
													| Xe không hỗ trợ bảo hiểm

											//- .group-info
											//- 	h6 Địa điểm giao nhận xe
											//- 	.address-car
											//- 		.line-form
											//- 			span.value Nhận và trả xe tại địa điểm hiện tại của xe
											//- 			p
											//- 				| Địa chỉ cụ thể của xe sẽ được hiển thị sau khi đặt xe thành công (sau khi đặt cọc).

										.group-4
											.profile-mini-v2
												.avatar.avatar-new(title="title name")
													.avatar-img(style="background-image:url(images/avatar_default.png)")
												.desc-v2
													h2
														a(href="#!") NGUYỄN QUỐC THIỆN
													span.star
														span.star_rate-num 5
														i.full
										.group-5
											.group-info.mb-4
												h6 Số điện thoại
												span Số điện thoại của chủ xe sẽ được hiển thị sau khi đặt cọc
											.group-info
												.message
													h6 Lời nhắn
													a
														span.label Lịch sử
														i.ic.ic-clock
												textarea.textarea(placeholder="Nhập nội dung cần nhắn đến chủ xe")

										.group-6
											.address-car
												h6 Vị trí xe
												.fix-map
													img(src="images/map@2x.png" alt=page)
											.limited
												h6 Giới hạn quãng đường
												.note
													p
														|Tối đa
														strong
															|  400
														|  km/ngày. Phí
														strong
															|  10K
														|  /km vượt giới hạn.

											.require-paper
												h6 Giấy tờ bắt buộc
												.ctn-desc-new
													ul.required
														li
															img.img-ico(src="https://n1-cstg.mioto.vn/m/cmnd.png" style="width: 20px; height: 20px;")
															|CMND
														li
															img.img-ico(src="https://n1-cstg.mioto.vn/m/gplx.png" style="width: 20px; height: 20px;")
															|Giấy Phép Lái Xe
														li
															img.img-ico(src="https://n1-cstg.mioto.vn/m/gplx.png" style="width: 20px; height: 20px;")
															|Hộ khẩu/KT3

											.require-paper
												h6 Các yêu cầu khác
												.ctn-desc-new
													p Hóa đơn điện nước




										.group-7
											h6 Bảng tính giá
											.form-default
												.line-form.has-timer
													.wrap-input.has-dropdown.date.has-value(style='width: 50%;')
														span.value Đơn giá thuê
													.wrap-input.has-dropdown.time.has-value(style='width: 50%;')
														span.value
															span 403 200
															|  /ngày
													.wrap-input.has-dropdown.date.has-value.long-term(style='width: 50%;')
														span.value Thuê tuần (giảm 20%)
													.wrap-input.has-dropdown.time.has-value.long-term(style='width: 50%;')
														span.value
															span.line-through Giá gốc 560 000 / ngày
													.wrap-input.has-dropdown.date.has-value.long-term(style='width: 50%;')
														span.value Chương trình giảm giá
															.tooltip
																i.ic.ic-question-mark
																.tooltip-text Lorem ipsum dolor sit amet.
													.wrap-input.has-dropdown.time.has-value.long-term(style='width: 50%;')
														span.value
															span.line-through 448 000 / ngày
													.wrap-input.has-dropdown.date.has-value.line-gray(style='width: 50%;')
														span.value Tổng phí thuê xe
													.wrap-input.has-dropdown.time.has-value.line-gray(style='width: 50%;')
														span.value
															span 403 200
															|  x
															strong 7 ngày
													.wrap-input.has-dropdown.date.has-value(style='width: 50%;')
														span.value Phí giao nhận xe (2 chiều)
													.wrap-input.has-dropdown.time.has-value(style='width: 50%;')
														span.value
															span 25 000 (2,5km)
													.wrap-input.has-dropdown.date.has-value(style='width: 50%;')
														span.value Khuyến mãi mã
															strong MI20
													.wrap-input.has-dropdown.time.has-value(style='width: 50%;')
														span.value
															span - 150 000
													.wrap-input.has-dropdown.date.has-value.line-gray(style='width: 50%;')
														span.value
															h6 Tổng cộng
													.wrap-input.has-dropdown.time.has-value.line-gray(style='width: 50%;')
														span.value
															h6
																span 2 847 400đ
										.payment
											//- h6 Thanh toán
											ul.lp.lp-confirm
												li.lp-li
													.item-lp
														span.title-lp TIỀN PHẢI CỌC
														span.value-lp.value-total
															span 360 000
												li.lp-li
													.item-lp
														span.title-lp TIỀN TRẢ SAU
														span.value-lp
															span 840 000

										.full-wrapper
											h6 Chính sách hủy chuyến
											table.cancel-privacy
												thead
													tr
														td Thời điểm hủy chuyến
														td Phí hủy chuyến
														td Số tiền cọc hoàn trả
												tbody
													tr
														td Trong vòng 1 giờ sau khi đặt cọc
														td 0% Tiền cọc
														td 100% Tiền cọc
													tr
														td > 7 ngày trước ngày đi
														td 30% Tiền cọc
														td 70% Tiền cọc
													tr
														td <= 7 ngày trước ngày đi
														td 100% Tiền cọc
														td 0% Tiền cọc
											p.text-danger.font-13 *** Tiền cọc sẽ được hoàn trả trong 1 - 3 ngày làm việc.
											.space.m

											.squaredFour.have-label
												input#read_paper(type='checkbox', value='on')
												label.label(for='read_paper', style='color: red;') Tôi đã có đầy đủ giấy tờ chủ xe yêu cầu.

											.squaredFour.have-label
												input#read_policy(type='checkbox', value='on')
												label.label(for='read_policy', style='color: red;') Tôi đã nắm rõ các điều khoản và quy định khi thuê xe.

											.wrap-btn.has-2btn
												.wr-btn.close-modal
													a.btn.btn-secondary.btn--m Huỷ
												.wr-btn
													a.btn.btn-primary.btn--m(disabled='') Đặt xe
