block ViettelPay

- var icBenefit = [];
- icBenefit.push({'clgIc': 'ict-bank', 'desc': 'Miễn phí chuyển khoản đến 43 ngân hàng'})
- icBenefit.push({'clgIc': 'ict-withdraw', 'desc': 'Miễn phí rút tiền tại tất cả ATM và 200.000 cửa hàng Viettel trên toàn quốc'})
- icBenefit.push({'clgIc': 'ict-account', 'desc': 'Không phí duy trì tài khoản'})
- icBenefit.push({'clgIc': 'ict-phone-card', 'desc': 'Chiết khấu 5% mua thẻ cào, nạp cước điện thoại'})
- icBenefit.push({'clgIc': 'ict-payment', 'desc': 'Hơn 100+ tiện ích thanh toán và mua sắm trên Viettel Pay'})

div(role='dialog')
	.modal-backdrop.fade.in
	.fade.in.modal(role='dialog', tabindex='-1', style='display: block; padding-left: 6px;')
		.modal-dialog.modal-regis-viettelpay.modal-confirm
			.modal-content(role='document')
				.modal-header
					button.close(type='button')
						span(aria-hidden='true') ×
						span.sr-only
					h4.modal-title Rút tiền nhanh từ ví Mioto với thẻ Viettel Pay!
				.modal-body
					.register-container
						.register-wrapper
							.form-default
								.line-form
									label Số điện thoại đăng ký
									.wrap-input
										input(type="text")
							p Mioto phối hợp cùng Viettel Pay triển khai tính năng rút tiền nhanh dành cho các đối tác chủ xe Mioto thông qua tài khoản ngân hàng số Viettel Pay, rút ngắn thời gian xử lí trong vòng 1 ngày và tiết kiệm phí giao dịch.
							.benefit-withdraw
								h4 Tiện ích từ Mioto
								table.benefit-table
									thead
										tr
											th
											th Viettel Pay
											th Chuyển khoản Ngân hàng
									tbody
										tr
											th Thời gian xử lí
											td 1 ngày làm việc
											td 3 ngày làm việc
										tr
											th Phí giao dịch
											td 3,000 VNĐ / giao dịch
											td 11,000 VNĐ / giao dịch
							.benefit-withdraw
								h4 Ưu đãi khác từ Viettel Pay
								.benefit-item__wrap
									each item in icBenefit
										.benefit-item
											i.ict-benefit(class=`${item.clgIc}`)
											p!=item.desc
							.benefit-footer
								p Tư vấn, cài đặt và mở tài khoản miễn phí - tận nhà bởi nhân viên Viettel.
								p Các chủ xe trên ứng dụng có thể đăng kí mở tài khoản ngân hàng số Viettel Pay ngay tại đây !
							.wrap-btn.d-flex
								//- a.btn.btn--m.btn-default Bỏ qua
								a.btn.btn--m.btn-primary Đăng ký ngay