- var messages = []
- messages.push({'content': 'Chào anh chủ xe, tôi cần thuê xe đi du lịch Vũng Tàu cùng gia đình với thời gian như trên. Tôi có đầy đủ giấy tờ và tài sản đặt cọc như yêu cầu (hoặc tôi không có HK TPHCM nhưng có HK Đồng Nai thay thế..). Anh vui lòng sắp xếp báo giúp tình trạng xe sớm nhé. Cảm ơn!', 'clg': 'active'})
- messages.push({'content': 'Anh vui lòng sắp xếp báo giúp tình trạng xe sớm nhé. Cảm ơn!', 'clg': ''})

div(role='dialog').hidden#modal-history-messages
    .modal-backdrop.fade.in
    .fade.in.modal(role='dialog', tabindex='-1', style='display: block; padding-left: 6px;')
        .modal-dialog.modal-sm.modal-history-messages
            .modal-content(role='document')
                .modal-header
                    button.close.close-modal(type='button')
                        span(aria-hidden='true') ×
                        span.sr-only
                    h4.modal-title Lịch sử lời nhắn
                .modal-body
                    .wrap-message
                        mixin list-message(messages)
                            div(class="message "+messages.clg)
                                span.message-icon
                                    i.ic.ic-black-circle
                                p.message-content=messages.content
                        for message in messages
                            +list-message(message)
                        
                    .wrap-btn
                        a(class="btn btn-secondary btn--m").close-modal Hủy bỏ
                        a(class="btn btn-primary btn--m") Thay thế

