div(role='dialog').hidden#modal-add-addresses
	.modal-backdrop.fade.in
	.fade.in.modal(role='dialog', tabindex='-1', style='display: block')
		.modal-dialog.modal-sm.modal-address
			.modal-content(role='document')
				.modal-header
					button.close.close-modal(type='button')
						span(aria-hidden='true') ×
						span.sr-only
					h4.modal-title Thêm địa chỉ
				.modal-body
					.edit-address__box.form-default
						.line-form
							label.label
								| Loại địa chỉ
								span.require-star &nbsp;*
							.d-flex-wrap.filter-tag
								for tag in tagFilter
									+list-tag-filter(tag)
						.line-form
							label.label
								| Tên gợi nhớ
								span.require-star &nbsp;*
							.wrap-input
								input.value(placeholder="Công ty")
						.line-form
							label.label
								| Địa chỉ
								span.require-star &nbsp;*
							label.sublabel Tỉnh/ Thành phố
							.wrap-select
								select
									option TP Hồ Chí Minh
									option Hà Nội
							label.sublabel Quận/ Huyện
							.wrap-select
								select
									option Tân Bình
									option Bình Tân			
							label.sublabel Phường/ Xã
							.wrap-select
								select
									option Phường 1
									option Phường 2
									option Phường 3
							label.sublabel Đường
							.wrap-input
								input.value(placeholder="Lê Văn Sĩ")
						.address-default
							label.label Đặt làm mặc định
							.switch-on-off.size-s
								input.switch-input#cb-instant-booking(type="checkbox")
								label.switch-label(for="cb-instant-booking")
						button.btn.btn-primary.btn--m.close-modal Lưu
