- var vehicletypes = []
- vehicletypes.push({'status':'active ', 'description':'Tất cả'})
- vehicletypes.push({'status':'', 'description':'Toyota (5 xe)'})
- vehicletypes.push({'status':'', 'description':'Honda (10 xe)'})
- vehicletypes.push({'status':'', 'description':'Kia (15 xe)'})
- vehicletypes.push({'status':'', 'description':'Hyundai (20 xe)'})


div(role='dialog')
	.modal-backdrop.fade.in
	.fade.in.modal(role='dialog', tabindex='-1', style='display: block')
		.modal-dialog.modal-sm
			.modal-content(role='document')
				.modal-header
					button.close(type='button')
						span(aria-hidden='true') ×
						span.sr-only
					h4.modal-title Hãng xe
				.modal-body
					.car-brands
						each item in vehicletypes
							div(class=item.status + 'car-brands-item')
								.car-brands-content 
									img.car-type-logo(src="./images/vehicle-type/bmw.png" alt="alt image")
									p!= item.description
								i.ic.ic-black-circle
					.pag-search
						div.pag-search__item.left
							a Chọn loại xe		
						div.pag-search__item
							button.btn.btn-primary.btn--m.circle--m
								i.ic.ic-search-white
						div.pag-search__item.right
							a Chọn mẫu xe
					
