div(role='dialog').hidden#modal-location-setting
	.modal-backdrop.fade.in
	.fade.in.modal(role='dialog', tabindex='-1', style='display: block')
		.modal-dialog.modal-sm.modal-location-settings
			.modal-content(role='document')
				.modal-header
					button.close.close-modal(type='button')
						span(aria-hidden='true') ×
						span.sr-only
					h4.modal-title Địa điểm giao nhận xe
				.modal-body
					.form-default
						.line-form
							.map-route
								.fix-map
									img(src="images/map@2x.png" class="map")
						.line-form
							label.label ĐỊA CHỈ CỦA XE
							.location-section.active
								.location-item
									a
										include ../../images/ic-svg/car-2.svg
										include ../../images/ic-svg/checked.svg
									div
										p Quận 7, Hồ Chí Minh, Việt Nam
										p.subtext Địa chỉ cụ thể sẽ được hiển thị sau khi đặt cọc
								
						.line-form
							label.label TÔI MUỐN GIAO NHẬN XE TẠI
							.notice-form
								p.d-flex-between
									| Giao xe tận nơi
									span bán kính 20km
								p.d-flex-between
									| Miễn phí giao nhận xe
									span bán kính 5km
								p.d-flex-between
									| Phí giao nhận xe (2 chiều)
									span 20 000đ/km
							label.label Chọn từ bản đồ
							.location-section
								p.location-item.pick-address
									include ../../images/ic-svg/location.svg
									include ../../images/ic-svg/checked.svg
									span Chọn địa chỉ giao nhận xe
						.text-danger Địa điểm đưa đón quá xa so với vị trí xe.
						.space.m
						.text-gray Tổng phí giao nhận xe 0đ cho quãng đường 1.5km
						.space.m
						.text-danger Địa chỉ giao nhận xe quá xa và không hợp lệ. Chạm vào địa chỉ để thay đổi
					.space.m
					.wrap-2-btn
						a.btn.btn-secondary.btn--m.close-modal Hủy bỏ
						a.btn.btn-primary.btn--m Áp dụng