div(role='dialog')#modal-common
	.modal-backdrop.fade.in
	.fade.in.modal(role='dialog', tabindex='-1', style='display: block')
		.modal-dialog.modal-sm.modal-common
			.modal-content(role='document')
				.modal-header
					button.close.close-modal(type='button')
						span(aria-hidden='true') ×
						span.sr-only
					h4.modal-title Thông báo
				.modal-body
					.form-default
						p Xe không hỗ trợ bảo hiểm
					.wrap-btn
						a.btn.btn-primary.btn--m Lưu
					.wrap-2-btn.marginTop-m
						a.btn.btn-secondary.btn--m.close-modal Hủy bỏ
						a.btn.btn-primary.btn--m Áp dụng
