- var vehicletypes = []
- vehicletypes.push({'status':'active ', 'thumbnail':'images/vehicle-type/4 chỗ (cỡ nhỏ).png', 'description':'4 chỗ','subdesc':'(cỡ nhỏ)', 'quantity':'(42 xe)'})
- vehicletypes.push({'status':'','thumbnail':'images/vehicle-type/4 chỗ (sedan-4 cửa).png', 'description':'4 chỗ','subdesc':'( sedan )', 'quantity':'(15 xe)'})
- vehicletypes.push({'status':'','thumbnail':'images/vehicle-type/4 chỗ (hatchback-5 cửa).png', 'description':'4 chỗ','subdesc':'(hatchback)', 'quantity':'(25 xe)'})
- vehicletypes.push({'status':'','thumbnail':'images/vehicle-type/5 chỗ (gầm cao).png', 'description':'5 chỗ','subdesc':'(gầm cao)', 'quantity':'(35 xe)'})
- vehicletypes.push({'status':'','thumbnail':'images/vehicle-type/7 chỗ (gầm cao).png', 'description':'7 chỗ','subdesc':'(gầm cao)', 'quantity':'(420 xe)'})
- vehicletypes.push({'status':'','thumbnail':'images/vehicle-type/7 chỗ (gầm thấp).png', 'description':'7 chỗ','subdesc':'(gầm thấp)', 'quantity':'(42 xe)'})
- vehicletypes.push({'status':'','thumbnail':'images/vehicle-type/bán tải.png', 'description':'Bán tải', 'quantity':'(42 xe)'})

div(role='dialog')
	.modal-backdrop.fade.in
	.fade.in.modal(role='dialog', tabindex='-1', style='display: block')
		.modal-dialog.modal-sm
			.modal-content(role='document')
				.modal-header
					button.close(type='button')
						span(aria-hidden='true') ×
						span.sr-only
					h4.modal-title Loại xe
				.modal-body.modal-filter
					.vehicle-type.has-modal
						each item, index in vehicletypes
							div(class=item.status + 'squaredFour have-label')
								input(type="checkbox" name="filter-car-type" id=`checkbox-${index}`)
								label(for=`checkbox-${index}` class="description")
									.thumbnail
										img(src= item.thumbnail alt="image" class="img-fluid")
									span!= item.description
									if item.subdesc
										span.extra-info!= item.subdesc
									span.extra-info!= item.quantity
					.pag-search
						div.pag-search__item
						div.pag-search__item
							button.btn.btn-primary.btn--m.circle--m
								i.ic.ic-search-white
						div.pag-search__item.right
							a Chọn hãng xe
