block Modal 

- var modulePromo = []
- modulePromo.push({'img': 'https://payment-dev.mioto.vn/mipay/static/img/logo-ttlh.png', 'code':'Thanh toán qua thẻ tín dụng/ thẻ ghi nợ VISA, Master', 'payment' : 'images/payments/cards.svg', 'pFirst': 'Trên thẻ của bạn phải có các ký hiệu Visa, Master để thanh toán được bằng hình thức này.',  'step1': '1. Lựa chọn thẻ thanh toán quốc tế', 'step2': `2. Bấm <strong>"THANH TOÁN"</strong> để chuyển hướng về cổng thanh toán Payoo và tiến hành đặt cọc.`, 'step3': '3. Nhập thông tin trên thẻ.','step4':'4. Sau khi thanh toán, bạn sẽ nhận được thông báo đặt xe thành công và thông tin chủ xe qua tin nhắn và qua ứng dụng/website Mioto.', 'visa': 'images/visa.png', 'master': 'images/mastercard-logo.png', 'jcb': 'images/jcb.png', 'isPayment': true})

- modulePromo.push({'img': 'https://payment-dev.mioto.vn/mipay/static/img/logo-ttlh.png', 'code':'Thanh toán qua thẻ ATM đã đăng kí thanh toán trực tuyến','payment' : 'images/payments/atm.svg', 'pFirst': 'Thẻ của bạn phải có đăng ký dịch vụ thanh toán trực tuyến với ngân hàng.', 'step1': ' 1. Chọn ngân hàng trên thẻ của bạn.', 'step2': `2. Bấm <strong>"THANH TOÁN"</strong> để chuyển hướng về cổng thanh toán Payoo và tiến hành đặt cọc.`, 'step3': '3. Nhập thông tin trên thẻ.', 'step4':'4. Sau khi thanh toán, bạn sẽ nhận được thông báo đặt xe thành công và thông tin chủ xe qua tin nhắn và qua ứng dụng/website Mioto.', 'isPayment': true, 'atm': true})

- modulePromo.push({'img': 'https://payment-dev.mioto.vn/mipay/static/img/logo-ttlh.png', 'code':'Thanh toán tiền mặt tại cửa hàng tiện lợi gần nhà', 'payment' : 'images/payments/online-store.svg','step1': `1. Bấm <strong>"ĐẶT CHỖ"</strong> để nhận mã code "Thanh toán hóa đơn Payoo" (qua website và tin nhắn sms).`, 'step2': `2. Chụp / ghi lại mã code và đến thanh toán tại bất kì cửa hàng tiện lợi nào gần nhất trước <span> 12:00 20-09-2018 </span>, sau thời gian này nếu không thanh toán hệ thống sẽ tự động huỷ đặt chỗ.`, 'step3': '3. Sau khi thanh toán, bạn sẽ nhận được thông báo đặt xe thành công và thông tin chủ xe qua tin nhắn và qua ứng dụng/website Mioto.', 'isDeposit': true })

- modulePromo.push({'img': 'https://payment-dev.mioto.vn/mipay/static/img/logo-ttlh.png', 'code':'Thanh toán bằng hình thức chuyển khoản ngân hàng', 'payment' : 'images/payments/bank.svg', 'step1': `1. Bấm <strong>"ĐẶT CHỖ"</strong> để xác nhận lựa chọn hình thức thanh toán chuyển khoản ngân hàng.`, 'step2': `2. Bạn vui lòng chuyển tiền vào tài khoản Mioto trước <span> 12:00 20-09-2018 </span>, sau thời gian này nếu không thanh toán hệ thống sẽ tự động huỷ đặt chỗ`, 'step3': `3. Chụp lại màn hình <strong> "Chuyển khoản thành công" </strong> và gửi đến <a href="" class="link">Mioto fanpage </a>hoặc <a href="mailto:contact@mioto.vn" class="link"> contact@mioto.vn </a>. Sau khi nhận được hình chụp từ bạn hoặc có tin nhắn tiền đã vào tài khoản, Mioto sẽ gửi thông báo đặt cọc thành công và thông tin chủ xe qua tin nhắn sms và ứng dụng/website Mioto.`,'isDeposit': true, 'bidv': true, 'logo': 'images/BIDV.png'})

- modulePromo.push({'img': 'https://payment-dev.mioto.vn/mipay/static/img/logo-ttlh.png', 'code':'Thanh toán bằng tiền mặt tại văn phòng Mioto', 'payment' : 'images/payments/cash.svg', 'step1': `1. Bấm <strong>"ĐẶT CHỖ"</strong> để xác nhận lựa chọn hình thức thanh toán tiền mặt tại văn phòng Mioto.`, 'step2': `2. Bạn vui lòng đặt cọc trực tiếp tại văn phòng Mioto trước <span> 12:00 20-09-2018 </span>, sau thời gian này nếu không thanh toán hệ thống sẽ tự động huỷ đặt chỗ.`, 'step3': '3. Sau khi nhận được tiền đặt cọc, Mioto sẽ thông báo đặt cọc thành công và thông tin chủ xe qua tin nhắn sms và qua ứng dụng/website Mioto.','isDeposit': true, 'cash': true, 'logo': 'images/logo.png'})

div(role='dialog').hidden
  .modal-backdrop.fade.in
  .fade.modal.in(role='dialog', tabindex='-1', style='display:block')
    .modal-dialog.modal-confirm.modal-payment
      .modal-content(role='document')
        .modal-header.header-promo
          button.close(type='button')
            span(aria-hidden='true') x
          h4.modal-title Chọn phương thức
        .modal-body
          .form-default.form-s
            .line-form
              .body-promo.paymentsv2
                mixin list-code(code)
                  .box-promo 
                    .left 
                      img(src=`${code.payment}`)
                    .center.center-payment 
                      p.code #{code.code}
                    .right.right-payment
                      i.ic.ic-chevron-down 
                  .content-payment
                    unless code.pFisrt
                      p!=code.pFirst
                    .step-by-step 
                      p.step!=code.step1 
                      if code.visa 
                        .ccard-group 
                          label.custom-radio.custom-control
                            input(type="radio" name="payment" class="custom-control-input")
                            span.custom-control-indicator
                            span.custom-control-description
                              .img-card
                                img.img-fluid(src=`${code.visa}`)
                          label.custom-radio.custom-control
                            input(type="radio" name="payment" class="custom-control-input")
                            span.custom-control-indicator
                            span.custom-control-description
                              .img-card 
                                img.img-fluid(src=`${code.master}`)
                          label.custom-radio.custom-control
                            input(type="radio" name="payment" class="custom-control-input")
                            span.custom-control-indicator
                            span.custom-control-description
                              .img-card 
                                img.img-fluid(src=`${code.jcb}`)
                      p.step!=code.step2 
                      if code.atm 
                        .line-form
                          .wrap-select 
                            select 
                              option(value="0" disabled selected) Chọn ngân hàng 
                              option(value="1") BIDV - Đầu tư và Phát triển Việt Nam
                              option(value="2") Sacombank - Sài Gòn Thương Tín
                              option(value="3") TPBank - Ngân hàng Tiên Phong
                              option(value="4") VPBank - Việt Nam Thịnh Vượng
                      if code.bidv 
                        .cash-content 
                          .left 
                            img.img-fluid(src=`${code.logo}`)
                          .right 
                            p Số tài khoản: 
                              span  31310000905628
                            p Chủ tài khoản: 
                              span Công ty CP Mioto Việt Nam
                            p Chi nhánh: 
                              span Nam Kì Khởi Nghĩa - TPHCM
                            p Nội dung chuyển khoản: 
                              span Tên_đăng_nhập, sdt 097xxxxxxx
                      if code.cash  
                        .cash-content 
                          .left
                            .main-logo  
                              img.img-fluid(src=`${code.logo}`)
                          .right 
                            p Công ty CP Mioto Việt Nam
                            p Địa chỉ: 305/4 Lê Văn Sỹ, Phường 1, Tân Bình, TPHCM
                            p Giờ làm việc: 9:00-17:00 (Thứ 2 - Thứ 7)
                      p.step!=code.step3 
                      if code.step4
                        p.step!=code.step4
                    .summary-bill 
                      .summary 
                        h4 TỔNG TIỀN 
                        p 2 000 000đ 
                      if code.isPayment
                        .link-payment
                          button.btn.btn--m.btn-primary.btn-payment THANH TOÁN
                      if code.isDeposit
                        .link-booked
                          button.btn.btn--m.btn-primary.btn-payment ĐẶT CHỖ
                for code in modulePromo
                  +list-code(code)
            p.note
              | *Gọi 
              a(href="tel:19009217") 19009217 
              | hoặc Chat với Mioto tại 
              a(href="") Mioto fanpage 
              | nếu bạn gặp khó khăn trong quá trình thanh toán
          