- var vehicletypes = []
- vehicletypes.push({'status':'active ', 'description':'Tất cả'})
- vehicletypes.push({'status':'', 'description':'Toyota Camry (7 xe)'})
- vehicletypes.push({'status':'', 'description':'Toyota Fortuner (29 xe)'})
- vehicletypes.push({'status':'', 'description':'Toyota Innova (15 xe)'})
- vehicletypes.push({'status':'', 'description':'Toyota Vios (20 xe)'})


div(role='dialog')
	.modal-backdrop.fade.in
	.fade.in.modal(role='dialog', tabindex='-1', style='display: block')
		.modal-dialog.modal-sm
			.modal-content(role='document')
				.modal-header
					button.close(type='button')
						span(aria-hidden='true') ×
						span.sr-only
					h4.modal-title Mẫu xe
				.modal-body.modal-filter
					.car-brands
						each item,index in vehicletypes
							div(class=item.status + 'car-brands-item')
								p!= item.description
								i.ic.ic-black-circle
					.pag-search
						div.pag-search__item.left
						div.pag-search__item
							button.btn.btn-primary.btn--m.circle--m
								i.ic.ic-search-white
						div.pag-search__item.right
							a Chọn hãng xe
					
