- var moduleComment = []
- moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'MS YEN', 'info':'Car Owner', 'desc':'Dịch vụ tốt'})
- moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'It is an amazing experience on renting his car, very easy for my first try, I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'})

- var moduleDeal = []
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg'})
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg'})
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg'})
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg'})
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})

div(role="dialog").hidden#modal-details
	button.close-modal.func-remove-x
		ic.ic.ic-remove-wh 
	.modal-backdrop.dt-backdrop.fade.in
	.fade.modal.in(role="dialog", tabindex="-1", style="display:block")
		.modal-dialog.modal-details(style="margin-top: 40px")
			.modal-content(role="document")
				.module-detail.dt__wrapper
					.modal-header
						.info-car 
							h1.title-car MITSUBISHI PAJERO SPORT 2016 
							.group-line
								span.star
									i.full
									i.full
									i.half
									i
									i
								.bar-line 
								p 
									span.value 1 
									|chuyến 

					.modal-body.detail-container 
						.content-detail
							.info-car--desc.no-pd.cover-car
								.car-img 	
									.fix-img 
										img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg")

								span.label-pos
									span.free Miễn phí giao xe
									span Cho thuê ngay
								a.qr-car 
									i.ic.ic-qr-code
								.status-verify.left 1 trên 5
								.status-verify <i class="ic ic-verify-stroke"></i> Thông tin đã xác thực
								span.price 900K 
								
						.sidebar-detail
							.rent-box.rent-car
								.price 
									h3 900K
										span /ngày
									.tooltip.switch-state
										.tooltip-icon
											include ../../images/switch-icon.svg
										.tooltip-text Chuyển sang trạng thái xe có tài xế
								.line-form.has-timer
									label.label Ngày bắt đầu
									.wrap-input.has-dropdown.date
										span.value.placeholder 05 / 06 / 2018
									.wrap-input.has-dropdown.time.wrap-select
										select
											option(value='0', disabled='', selected='') 7:30 PM 
											option(value='1') 8:30 PM 
											option(value='2') 9:30 PM 
											option(value='3') 10:30 PM 
											option(value='4') 11:30 PM 
								.line-form.has-timer
									label.label Ngày kết thúc
									.wrap-input.has-dropdown.date
										span.value.placeholder 06 / 06 / 2018
									.wrap-input.has-dropdown.time.wrap-select
										select
											option(value='0', disabled='', selected='') 7:30 PM 
											option(value='1') 8:30 PM 
											option(value='2') 9:30 PM 
											option(value='3') 10:30 PM 
											option(value='4') 11:30 PM 
								.notif-box
									.notif-body
										p 
											| Thuê tuần giảm 
											span 5% 
											| - Thuê tháng giảm 
											span 10%
								.line-form.local
									.d-flex.center
										label Địa điểm giao nhận xe
										span.link-trip-active.marginBottom-s Thay đổi
									.note
										a.location-picker
											include ../../images/ic-svg/location.svg
											span Chọn địa điểm giao nhận xe
										p.subnote Địa chỉ cụ thể sẽ được hiển thị sau khi đặt cọc
									.notice-form
										p.d-flex-between
											| Giao xe tận nơi
											span bán kính 20km
										p.d-flex-between
											| Miễn phí giao nhận xe
											span bán kính 5km
										p.d-flex-between
											| Phí giao nhận xe (2 chiều)
											span 20 000đ/km
									.calendar.text-danger
										span.ic.ic-notice
										| Vui lòng chọn địa điểm giao nhận xe.
								.calendar 
									p 
										span.ic.ic-notice  
										|Xe không có sẵn 
									p Từ ngày 12/02/2017 cho đến hết ngày 23/02/2017
								.line-form.local
									label Địa Điểm Giao Xe 
									.squaredFour.have-label 
										input(type="checkbox")
										label Nhận và trả xe tại địa chỉ của xe 
									//- .group 
									//- 	i.ic.ic-location-f
									//- 	input(type="text" placeholder="Your Location")
									.group 
										i.ic.ic-location-f
										span.address-pickup.disabled Click vào đây để chọn địa chỉ
								.line-form.local
									.note
										label.label Giới hạn quãng đường
										P Quãng đường: 400km/ngày (phụ thu vượt giới hạn: 5K/km)
							
								.promotion-code
									.title-new
										h4.lstitle-new Sử Dụng Mã Giảm Giá
										a.func-plus(href="")
											i.ic.ic-plus-black
									.box-wrap 
										img(src="https://scontent.fsgn5-3.fna.fbcdn.net/v/t1.0-9/22196461_123620825006896_7778566556216764615_n.png?_nc_cat=0&oh=e9e9a9152f11df80dea4cfddbd7f1a86&oe=5B74017A" class="img-promo")
										p 78ULNJC
										a.func-remove(href="")
											i.ic.ic-remove
									.box-wrap-promo
										img(src="https://scontent.fsgn5-3.fna.fbcdn.net/v/t1.0-9/22196461_123620825006896_7778566556216764615_n.png?_nc_cat=0&oh=e9e9a9152f11df80dea4cfddbd7f1a86&oe=5B74017A" class="img-promo")
										p 78ULNJC
						
								.car-bill 
									h4.text-center Bảng Giá 
									.bill-wrap 
										.group 
											p Đơn giá thuê
											span 987 500 / ngày
										.group 
											p Tổng đơn giá
											span 987 500 / ngày
										.group 
											p Tổng phí thuê xe 
											span 987 500 x 1 ngày
										.group 
											p 
												strong Tổng cộng
											span 
												strong 987 500 VNĐ
									.space.m
									.wrap-btn
										a.btn.btn-primary.btn--m(href="#!") ĐẶT XE 
	
						.content-detail
							.info-car--desc 
								.group
									span.lstitle-new ĐẶC ĐIỂM
									.ctn-desc-new
										ul.features 
											li
												ic.ic.ic-chair 
												|Số ghế: 8 ghế
											li
												ic.ic.ic-trans 
												|Truyền động: Số sàn
											li
												ic.ic.ic-diesel 
												|Nhiên liệu: Xăng
								.group
									span.lstitle-new MÔ TẢ
									.ctn-desc-new
										p Xe đời mới, sạch sẽ, không gây mùi bên trong
										P Nội thất nguyên bản theo xe, được lau chùi vệ sinh sa mỗi lần xe về
										P Xe được vệ sinh và mang đi kiểm tra bảo dưỡng theo đúng định kỳ để đảm bảo máy móc và thiết bị trên xe luôn an toàn cho người thuê khi đi công tác xa hay vui chơi cùng gia đình
								.group
									span.lstitle-new TÍNH NĂNG
									.ctn-desc-new
										ul.accessories   
											li
												ic.ic.ic-bth 
												|Bluetooth
											li
												ic.ic.ic-gps 
												|Định vị GPS 
											li
												ic.ic.ic-usb 
												|Khe cắm USB 
											li
												ic.ic.ic-window 
												|Cửa sổ trời
											li
												ic.ic.ic-child 
												|Ghế trẻ em
							.info-car--desc
								.group
									span.lstitle-new 
										|GIẤY TỜ BẮT BUỘC 
									.ctn-desc-new
										ul.required
											li 
												|CMND
												ic.ic.ic-check 
											li 
												|Giấy Phép Lái Xe 
												ic.ic.ic-check
											li 
												|Hộ Khẩu / KT3
												ic.ic.ic-check
										.ct-required
											span.lstitle-new CÁC GIẤY TỜ BẮT BUỘC KHÁC 
											p 20 triệu tiền thế chân 
								.group
									span.lstitle-new ĐIỀU KHOẢN
									.ctn-desc-new.clause
										p Khách thuê xe yêu cầu phải đầy đủ giấy tờ gốc:
										ul 
											li CMND
											li Hộ khẩu thường trú/ KT3 phải trùng số nhà
											li HĐLĐ
											li Hoá đơn điện/ nước
										p Nếu là cty phải có GPKD bản chính, hoá đơn thuế 2 tháng gần nhất CAVET XE MÁY CHÍNH CHỦ VÀ XE MÁY TRỊ GIÁ TRÊN 20 triệu
										p Khách thuê sẽ được xác minh đầy đủ thông tin trước khi giao xe.
										p LƯU Ý: Giá trên chỉ áp dụng cho các ngày lẻ, không áp dụng cho ngày T7, CN, các ngày lễ tết. Hiện tại lịch cận tết có nhiều thay đổi nên quý khách vui lòng liên hệ hệ thống miOto để hướng dẫn book xe trên App
										p Cảm ơn quý khách đã hợp tác
										p “Trao chìa khoá - trao niềm tin”
							
							.info-car--desc 
								.group.group-owner 
									.profile-mini
										.avatar.avatar-new(title="title name")
											.avatar-img(style="background-image:url(images/avatar_default.png)")
										.desc
											a(href="#!")
												span.lstitle-new Chủ xe 
												h2 NGUYỄN QUỐC THIỆN 
												div 
													span.star
														i.full
														i.full
														i.half
														i
														i
											.has-vaccinated
												include ../../images/ic-svg/ic-vaccine-green.svg
												| Đã tiêm vaccine Covid-19
									.owner-response 
										.response-desc 
											p Tỉ lệ phản hồi 
											span.rate 75% 
										.response-desc 
											p Thời gian phản hồi  
											span.rate 7 phút 
										.response-desc 
											p Tỉ lệ đồng ý
											span.rate 70% 
							.info-car--desc.info--map 
								.group
									span.lstitle-new VỊ TRÍ 
									.ctn-desc-new
										.fix-map
											img(src="images/map@2x.png" alt=page)
							.info-car--desc
								.review 
									//- h4.title ĐÁNH GIÁ 
									span.lstitle-new ĐÁNH GIÁ
									.group 
										span.star
											i.full
											i.full
											i.half
											i
											i
										.bar-line
										p 
											span 1 
											|đánh giá
									hr.line 
									mixin list-comments(comment)
										.list-comments 
											.left 
												.fix-avatar
													img(src=comment.img)
											.right  
												h4.name= comment.heroes 
												.cmt-box 
													.group
														span.star
															i.full
															i.full
															i.half
															i
															i
														p.date 22/02/2017 
													p.desc= comment.desc
									for comment in moduleComment 
										+list-comments(comment)
									.s-all
										a.see-all Xem Thêm
											ic.ic.ic-chevron-up
							.info-car--desc.info--transparent
								.wr-wrap-btn
									.wrap-btn
										a.btn.btn-secondary.btn--m(href="#!") Thêm vào yêu thích 
									.wrap-btn
										a.btn.btn-primary.btn--m(href="#!") Xem chi tiết
						
					.module-deal
						span.title.title--wh XE LIÊN QUAN
						.swiper-button-next
							i.i-arr
						.swiper-button-prev
							i.i-arr
						.swiper-container.swiper-similar
							.swiper-wrapper
								each moduleDealItem in moduleDeal
									.swiper-slide
										.item-car(class=`${moduleDealItem.class}`)
											//- span.img-car(style="background-image:url(images/upload/car_1.png)")
											span.img-car
												.fix-img 
													img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg")
											.desc-car
												span.star
													i.full
													i.full
													i.half
													i
													i
												h2 #{moduleDealItem.heroes}
												p
													span <i class="ic ic-clock"></i> 2 trips
													span <i class="ic ic-tag"></i> $15/day
												//- a.btn.btn-primary.btn--m(href="#!") View Details