- var vehicletypes = []
- vehicletypes.push({'status':'active ', 'description':'Tất cả'})
- vehicletypes.push({'status':'', 'description':'Toyota (5 xe)'})
- vehicletypes.push({'status':'', 'description':'Honda (10 xe)'})
- vehicletypes.push({'status':'', 'description':'Kia (15 xe)'})
- vehicletypes.push({'status':'', 'description':'Hyundai (20 xe)'})


div(role='dialog').hidden#modal-notes
	.modal-backdrop.fade.in
	.fade.in.modal(role='dialog', tabindex='-1', style='display: block')
		.modal-dialog.modal-sm.modal-notes
			.modal-content(role='document')
				.modal-header
					button.close.close-modal(type='button')
						span(aria-hidden='true') ×
						span.sr-only
					h4.modal-title Lưu ý
				.modal-body
					.confirm-info
						h3 Giấy tờ thuê xe bản gốc
						p CMND và GPLX (đối chiếu)
						p Hộ khẩu hoặc KT3 hoặc Passport (giữ lại)
						h3 Tài sản thế chấp
						p 15 triệu (tiền mặt/chuyển khoản cho chủ xe khi nhận xe) hoặc Xe máy (kèm cà vẹt gốc) giá trị 15 triệu
						h3 Truyền động
						p Số tự động
						h3 Bảo hiểm
						p Xe đã đăng ký “Bảo hiểm vật chất xe ô tô”, mức khấu trừ 2 triệu đồng (mọi thiệt hại ngoài ý muốn về xe và trong phạm vi bảo hiểm, khách thuê bồi thường tối đa 2 triệu)
						table
							thead
								tr
									td *Thiệt hại xe
									td Khách thanh toán
									td BH thanh toán
							thead
							tbody
								tr
									td &lt;= 2 triệu 
									td &lt;= 2 triệu 
									td 0 triệu
								tr
									td &gt; 2 triệu 
									td 2 triệu 
									td Giá trị còn lại
								
						p.notes (*) Thiệt hại xe được ước tính theo báo giá của các garage trong mạng lưới đối tác bảo hiểm hiện hành của Mioto.							
					.wrap-2-btn
						a.btn.btn-default.btn--m.close-modal HỦY THUÊ
						a.btn.btn-primary.btn--m ÁP DỤNG
					
