- var messages = []
- messages.push({'content': 'Chào anh chủ xe, tôi cần thuê xe đi du lịch Vũng Tàu cùng gia đình với thời gian như trên. Tôi có đầy đủ giấy tờ và tài sản đặt cọc như yêu cầu (hoặc tôi không có HK TPHCM nhưng có HK Đồng Nai thay thế..). Anh vui lòng sắp xếp báo giúp tình trạng xe sớm nhé. Cảm ơn!', 'clg': 'active'})
- messages.push({'content': 'Anh vui lòng sắp xếp báo giúp tình trạng xe sớm nhé. Cảm ơn!', 'clg': ''})

div(role='dialog')
    .modal-backdrop.fade.in
    .fade.in.modal(role='dialog', tabindex='-1', style='display: block; padding-left: 6px;')
        .modal-dialog.modal-sm.modal-car-has-driver
            .modal-content(role='document')
                .modal-header
                    button.close(type='button')
                        span(aria-hidden='true') ×
                        span.sr-only
                    h4.modal-title Thuê xe di chuyển Nội thành
                .modal-body
                    .form-default.form-s    
                        img(src="images/popup-car-has-driver.png" class="img-fluid")
                        p.strong Giới thiệu
                        p - Tài xế sẽ đón và đưa bạn di chuyển đến các địa điểm trong cùng thành phố.
                        p - Bạn không cần nhập Điểm đến, hãy trao đổi lộ trình mong muốn với Tài xế.
                        p.strong Giá thuê
                        p - Giá thuê của chuyến đi được tính theo thời gian bạn lựa chọn trên ứng dụng, đã bao gồm tiền tài xế, xăng xe, phí qua đêm.


