- var myaddress = []
- myaddress.push({"img": "images/visa.svg", "address_number": "Sweeties", "address_name": "Tăng Bạt Hổ, Phường 11, Quận Bình Thạnh, Hồ Chí Minh, Việt Nam", "status": "default", "icon" :"ic-house-black"})
- myaddress.push({"img": "images/mastercard.svg", "address_number": "Sweeties", "address_name": "Tăng Bạt Hổ, Phường 11, Quận Bình Thạnh, Hồ Chí Minh, Việt Nam", "icon" :"ic-briefcase-black"})
- myaddress.push({"img": "images/jcb.svg", "address_number": "Sweeties", "address_name": "Tăng Bạt Hổ, Phường 11, Quận Bình Thạnh, Hồ Chí Minh, Việt Nam", "valid_address": "04/22", "icon" :"ic-flag-black"})
- myaddress.push({"img": "images/credit-card.svg", "address_number": "Sweeties", "address_name": "Tăng Bạt Hổ, Phường 11, Quận Bình Thạnh, Hồ Chí Minh, Việt Nam", "icon" :"ic-flag-black"})

mixin list-addresses(address)
	.car-brands-item
		div
			p
				<svg class="icsvg icsvg-bookmark" viewBox="0 0 120 175" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M1 0C0.447715 0 0 0.44771 0 0.999994V174.243C0 174.679 0.518853 174.906 0.839138 174.61L59.6609 120.313C59.8524 120.136 60.1476 120.136 60.3391 120.313L119.161 174.61C119.481 174.906 120 174.679 120 174.243V1C120 0.447715 119.552 0 119 0H1ZM9.91562 11.0661C9.63948 11.0661 9.41562 11.29 9.41562 11.5661V153.218L59.65 107.372C59.8409 107.198 60.1332 107.198 60.3241 107.372L110.558 153.218V11.5661C110.558 11.29 110.335 11.0661 110.058 11.0661H9.91562Z" />
				</svg> Sweeties
				if address.status
					span.label-status-orange Mặc định
			span.address Tăng Bạt Hổ, Phường 11, Quận Bình Thạnh, Hồ Chí Minh, Việt Nam
		i.ic.ic-black-circle

div(role='dialog').hidden#modal-my-locations-1
	.modal-backdrop.fade.in
	.fade.in.modal(role='dialog', tabindex='-1', style='display: block')
		.modal-dialog.modal-sm.modal-location-settings
			.modal-content(role='document')
				.modal-header
					button.close.close-modal(type='button')
						span(aria-hidden='true') ×
						span.sr-only
					h4.modal-title Địa điểm của tôi
				.modal-body
					.form-default
						.line-form
							.wrap-input.has-ico-search
								i.ic.ic-remove
								div#PlacesAutocomplete__root
									input.location-settings-input(type="text" autocomplete="off" placeholder="Nhập chi tiết địa chỉ của bạn")
							.space
					.wrap-2-btn
						a.btn.btn-secondary.btn--m.close-modal Hủy bỏ
						a.btn.btn-primary.btn--m Áp dụng
