@keyframes float1
	0%
		transform: translate(120px, 150px)
		opacity: 1
	50%
		opacity: .5
	100%
		transform: translate(20px, 0px)
		opacity: 0
@keyframes float2
	0%
		transform: translate(0px, -10px)
		opacity: 1
	50%
		opacity: .5
	100%
		transform: translate(-100px, 200px)
		opacity: 0
.header-container
	.decoration-spring,
		position: absolute
		top: 0px
		height: 60px
		width: 110%
		left: -10%
		z-index: -1
		display: flex
		justify-content: space-between
.decoration
	position: relative
	z-index: 2
	top: -40px
	opacity: 1
	// width: 20px
	// height: 20px
	animation: float1 8s ease infinite
	img
		width: 30px
		height: auto
	&:nth-child(2n)
		animation-duration: 12s
		animation-delay: 1s
		img
			transform: scale(0.8)
	&:nth-child(3n)
		animation-duration: 9s
		animation-delay: 0.5s
		img
			transform: scale(0.9)
	&:nth-child(5n)
		animation-duration: 10s
		animation-delay: 1.5s
		img
			transform: scale(1.2)
	// @for $i from 2 through 6
	// 	&:nth-child(#{$i}n)
	// 		animation-duration: (random(5)+8) + s
	// 		animation-delay: (random(2)+0.5) + s
	// 		img
	// 			transform: scale(random(10)/10+0.8)
	// &.one
	// 	animation: float1 8.5s ease infinite
	// 	animation-delay: 1s
	// &.two
	// 	animation: float2 6.5s ease infinite
	// 	animation-delay: 1s
	// &.three
	// 	animation: float2 5s ease infinite
	// 	animation-delay: 1s
	// &.four
	// 	animation: float1 7s ease infinite
	// 	animation-delay: 4s
	// &.five
	// 	animation: float1 7.8s ease infinite
	// 	animation-delay: 3s
	// &.six
	// 	animation: float2 10s ease infinite
	// 	animation-delay: 5s
	// &.scale-1
	// 	svg
	// 		transform: scale(.55)
	// &.scale-2
	// 	svg
	// 		transform: scale(.6)
	// &.scale-3
	// 	svg
	// 		transform: scale(.45)
	// &.scale-4
	// 	svg
	// 		transform: scale(.4)
	// &.scale-5
	// 	svg
	// 		transform: scale(.5)
	// &.scale-6
	// 	svg
	// 		transform: scale(.65)
	&.snowflake
		img.img-fluid
			width: 55%
.logo-container
	position: relative
	.hat
		position: absolute
		width: 60%
		bottom: -12%
		z-index: 0
		left: -2px
.right-spring
	// position: absolute
	// right: -10px
	// top: 25%
	// width: 13%
	// z-index: -1
	// @media (max-width: 1399px)
	// 	width: 10%
	// @media (max-width: 1199px)
	// 	top: 40%
	// @media (max-width: 991px)
	// 	display: none
.bottom-spring
	position: absolute
	right: 0
	bottom: 0

.left-decoration, .right-decoration
	@extend %pseudo-e
	z-index: -2
	// top: auto
	// bottom: -6px
	img
		max-height: 60px
		width: auto
	@media (max-width: 767px)
		img
			max-height: 50px
	@media (max-width: 1399px)
		opacity: 0.3
		// width: 12%
	// @media (max-width: 991px)
	// 	display: none
.right-decoration
	left: auto
	right: 0

.box-car__item
	.christmas-decor
		@extend %pseudo-e
		width: 20%
		z-index: 1
		left: auto
		right: 5px
		top: 10px
