block Owner Register

.gps-banner(style='background-image: url(images/gps/bg-gps-main.jpg);')
	.reg-container
		.main-title
			h2 MITRACK
			span 1.0
		a.btn.btn--l.btn-primary Đăng ký ngay
.about-gps__sect(style='background-image: url(images/gps/bg-gps-2.png);')
	.m-container
		h3.tt-gps GIỚI THIỆU 
		.content 
			ul 
				li MiTrack 1.0 với thiết kế nhỏ gọn (kích thước 6.5 x 4.5 x 1.5), chịu được nhiệt độ môi trường cao với công nghệ chip GPS tiên tiến giúp chủ xe dễ dàng kiểm tra vị trí xe 24/7.
				li Thiết bị cho vị trí có độ chính xác cao kèm lộ trình chi tiết giúp chủ xe có thể theo dõi từ xa vị trí của xe bằng điện thoại hoặc máy tính có kết nối internet.
				li Đặc biệt, các đối tác chủ xe của Mioto có thể xem và kiểm tra vị trí xe ngay trên ứng dụng Mioto (tại phần "Xe của tôi" -> "GPS").
.feature-gps__sect 
	div.product-img 
		img(src="images/gps/gps-1.png" class="img-fluid")
	.m-container
		.content 
			h3.tt-gps TÍNH NĂNG THIẾT BỊ
			ul 
				li.text-primary Xem vị trí xe hiện tại
				li.text-primary Xem lộ trình/ số km xe đã di chuyển
				li.text-primary Xem lịch sử hành trình của từng chuyến đi 
				li.text-primary Xem vận tốc xe 
				li Cảnh báo chạy xe quá tốc độ
				li Cảnh báo khi thiết bị mất tín hiệu
				li Cảnh báo khi xe di chuyển ngoài lộ trình cho phép
			p.note (.)Các tính năng đang phát triển, sẽ cập nhật trong phiên bản tiếp theo (Thiết bị sẽ tự động cập nhật ngay khi có phiên bản mới)
		div.img-content 
			img(src="images/gps/gps-2.png" class="img-fluid")
.pricing-gps__sect 
	.m-container
		h3.tt-gps.textAlign-right BẢNG GIÁ 
		.d-flex 
			div.img-content 
				img(src="images/gps/gps-3.png" class="img-fluid")
			.content
				.pricing-table 
					.col
						p.off-set
						p 
							span Giá thiết bị
						p 
							span Sim 3G + phí hòa mạng
						p 
							span Tặng 6 tháng phí phần mềm
						p 
							span Tặng 6 tháng phí 3G
					.col.bg-pink
						p 
							span.fontWeight-5 Nguyên giá
						p 
							span 1.200.000
						p 
							span 60.000
						p 
							span 420.000
						p 
							span 180.000
						p.fontWeight-5 1.860.000 đ
					.col.bg-green
						p 
							span.fontWeight-5 Giá ưu đãi
						p 
							span 600.000
						p 
							span -
						p 
							span -
						p 
							span -
						p.fontWeight-5 600.000 đ
				p.note.text-primary 
					| (Tiết kiệm 
					span.fontWeight-5 1,260,000đ 
					| cho bản thử nghiệm Beta, chương trình ưu đãi dành riêng cho các đối tác chủ xe Mioto trong tháng 11 & 12/2020)
				.extra
					h4.fontWeight-5 Phí 3G + phí dịch vụ
					p Miễn phí 6 tháng đầu tiên. Từ tháng 7 trở đi:
					ul 
						li 
							span.fontWeight-5 600.000VND 
							| /6 tháng 
						li 
							span.fontWeight-5 900.000VND 
							| /12 tháng 
.order-guide__sect 
	.m-container 
		h3.tt-gps 
			| HƯỚNG DẪN 
			br 
			| ĐẶT HÀNG
		.content 
			p Để đăng kí đặt hàng, Quý đối tác vui lòng bấm vào đường link đăng kí (ở cuối trang) và để lại thông tin đặt hàng. Nhân viên Mioto sẽ chủ động liên hệ Quý đối tác để tư vấn và xác nhận đơn hàng. Thời gian giao hàng dự kiến từ 10-15 ngày sau khi xác nhận đặt hàng. 
.equipment-install__sect
	.m-container
		h3.tt-gps.textAlign-center HÌNH THỨC LẮP ĐẶT
		.equipment-install__box
			.equipment-item 
				svg
				span.tt-equip Garage xe 
				p Chủ xe có thể mang xe và thiết bị đến các garage ô tô để kĩ thuật viên tại garage lắp đặt
			.equipment-item 
				svg
				span.tt-equip Tự lắp đặt tại nhà 
				p Các chủ xe có kiến thức và kinh nghiệm cơ bản về kĩ thuật ô tô có thể tham khảo video hướng dẫn đặt GPS ở đường link bên dưới.
			.equipment-item 
				svg
				span.tt-equip Đối tác liên kết của Mioto
				p Tại TPHCM, Mioto có liên kết với một số đối tác garage để cung cấp dịch vụ lắp đặt GPS tận nhà, chi phí di chuyển + lắp đặt: 150,000đ/thiết bị. (Hiện tại, Mioto hỗ trợ lắp đặt tại các quận nội thành TPHCM) Nếu muốn yêu cầu lắp GPS tại nhà, quý đối tác vui lòng chọn bấm vào ô "Tôi muốn lắp đặt thiết bị tại nhà" tại trang thông tin ở đường link đăng kí đặt hàng bên dưới.
.info-gps__sect
	.m-container
		.info-gps__wrap 
			h3.tt-gps.wh THÔNG TIN KHÁC 
			.equipment-install__box
				.equipment-item 
					img(src="" class="img-fluid")
					.ct-info
						span.tt-equip Bảo hành
						p 12 tháng (đổi mới thiết bị nếu bị lỗi phần cứng)
				.equipment-item 
					img(src="" class="img-fluid")
					.ct-info
						span.tt-equip Thời gian giao hàng
						p 10-15 ngày sau khi đặt hàng
				.equipment-item 
					img(src="" class="img-fluid")
					.ct-info
						span.tt-equip Hình thức thanh toán
						p Chuyển khoản qua tài khoản ngân hàng của Mioto
						p.fontWeight-5 NH Vietcombank - CN Kỳ Đồng; Số TK: 0721-0006-52087
						p Nội dung: ("Thanh toan tien mua GPS_"Tên chủ xe"_"SDT")
						p (Ví dụ: Thanh toan tien mua GPS_Nguyen Van A_0909090909)
.register-gps__sect 
	.m-container
		.textAlign-center
			.img-register 
				img(src="images/gps/gps-5.svg" class="img-fluid")
			a.btn.btn--l.btn-primary Đăng ký ngay!
		
			
//- .box-register
//- 	.form-register.form-default
//- 		h4.title Đăng ký Mioto ngay
//- 		p Vui lòng điền thông tin đầy đủ và chính xác để Mioto liên hệ bạn sớm nhất
//- 		.form-group
//- 			.line-form
//- 				.wrap-select
//- 					select(required)
//- 						option(value="" disabled selected hidden) Thành phố đăng ký hoạt động với Mioto
//- 						option(value="1") Hồ Chí Minh
//- 						option(value="2") Hà Nội
//- 						option(value="3") Đà Nẵng
//- 			.line-form.w-60
//- 				.wrap-input.has-error-form
//- 					input(type="text" placeholder="Họ và tên*")
//- 			.line-form.w-40
//- 				.wrap-input
//- 					input(type="text" placeholder="Số di động*")
//- 			.line-form
//- 				.wrap-input
//- 					input(type="text" placeholder="Địa chỉ email (nếu có)")
//- 			.line-form
//- 				.wrap-input
//- 					input(type="text" placeholder="Xe đăng ký cho thuê")
//- 			.line-form.local
//- 				label Dịch vụ cho thuê
//- 				.line-radio
//- 					label.custom-radio.custom-control
//- 						input(type="radio" name="setting-mode" class="custom-control-input")
//- 						span.custom-control-indicator
//- 						span.custom-control-description
//- 							|Tự lái
//- 					label.custom-radio.custom-control
//- 						input(type="radio" name="setting-mode" class="custom-control-input")
//- 						span.custom-control-indicator
//- 						span.custom-control-description
//- 							|Có tài xế
//- 			.line-form
//- 				.wrap-select
//- 					select(required)
//- 						option(value="" disabled selected hidden) Nguồn giới thiệu
//- 						option(value="1") Chủ xe Mioto
//- 						option(value="2") Báo chí
//- 						option(value="3") Facebook
//- 			.line-form.local
//- 				label Đã từng cho thuê xe chưa?
//- 				.line-radio
//- 					label.custom-radio.custom-control
//- 						input(type="radio" name="setting-mode" class="custom-control-input")
//- 						span.custom-control-indicator
//- 						span.custom-control-description
//- 							|Đã từng
//- 					label.custom-radio.custom-control
//- 						input(type="radio" name="setting-mode" class="custom-control-input")
//- 						span.custom-control-indicator
//- 						span.custom-control-description
//- 							|Chưa từng
//- 		p.read-paper
//- 			| Khi tiếp tục, tôi đồng ý Mioto được phép thu thập, sử dụng và tiết lộ thông tin được tôi cung cấp theo
//- 			a(href="https://www.mioto.vn/regu") Quy chế hoạt động
//- 			|  của Mioto mà tôi đã đọc và hiểu
//- 		a(href="").btn.btn--m.btn-primary Đăng ký
//- .reg-tutorial__sect
//- 	.ex-container
//- 		h3.n-title Đăng ký cho thuê trên Mioto trong 3 bước
//- 		.reg-step__wrap
//- 			mixin reg-step(step)
//- 				.reg-step__item
//- 					.ict-large(class= `${step.clg}`)
//- 					.step-detail
//- 						h4!=step.step
//- 						if step.twoCase
//- 							.dt-step
//- 								span!=step.case1
//- 								p.dt!=step.dt1
//- 							.dt-step
//- 								span!=step.case2
//- 								p.dt!=step.dt2
//- 						else
//- 							p.dt!=step.dt
//- 			for step in stepReg
//- 				+reg-step(step)
//- .reg-cact__sect(style="background-image: url(images/background/bg-3.jpg);")
//- 	.inside.ex-container
//- 		h3.n-title Tham gia Mioto ngay hôm nay!
//- 		p Gia nhập hệ thống chủ xe của Mioto để kiếm thêm thu nhập từ chính xe của bạn một cách chủ động
//- 		a(href="#ownerRegister").btn.btn--l.btn-primary Đăng ký ngay