block Booking

- var listFeature = []
- listFeature.push({'status':'active ', 'thumbnail':'images/ic-faqs/features/map.png', 'description':'Bản đồ'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/bluetooth.png', 'description':'Bluetooth'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/360_camera.png', 'description':'Camera 360'})
- listFeature.push({'status':'active','thumbnail':'images/ic-faqs/features/parking_camera.png', 'description':'Camera cập lề'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/dash_camera.png', 'description':'Camera hành trình'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/reverse_camera.png', 'description':'Camera lùi'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/tpms.png', 'description':'Cảm biến áp suất lốp'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/impact_sensor.png', 'description':'Cảm biến va chạm'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/head_up.png', 'description':'Cảnh báo tốc độ'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/sunroof.png', 'description':'Cửa sổ trời'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/gps.png', 'description':'Định vị GPS'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/babyseat.png', 'description':'Ghế trẻ em'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/usb.png', 'description':'Khe cắm USB'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/spare_tire.png', 'description':'Lốp dự phòng'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/dvd.png', 'description':'Màn hình DVD'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/bonnet.png', 'description':'Nắp thùng xe bán tải'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/epass.png', 'description':'Thu phí không dừng'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/airbags.png', 'description':'Túi khí an toàn'})

.module-register
	.register-container
		.content-register
			.stepbystep
				ul
					li.active.done
						span.nu 1
						span.value Eligibility
					li.active
						span.nu 2
						span.value Customize
					li
						span.nu 3
						span.value Photos
					li
						span.nu 4
						span.value Publish
			// - Edit 
			.form-default
				.group-inline.d-flex 
					h6 Giảm giá
					.switch-on-off
						input(type="checkbox" class="switch-input" id="cb-discount" value="on")
						label.switch-label(for="cb-discount")
			.space.m
			.group.form-default
				h6 Driver’s license
				p.summary Please provide your driver’s license information. It won’t be shared.
				.col-left
					.line-form
						label.label Full Name in Your License
						.wrap-input
							input(type="text" placeholder="Name")
				.col-right
					.line-form
						label.label Date of Birth
						span.wrap-select
							select
								option(value="1") DD/MM/YYYY
				.line-form
					label.label Driver’s License Number
					.wrap-input
						input(type="text" placeholder="Name")
				.space.m
				h6 Car Availability
				p.summary How much advance notice do you need to confirm a trip?
				.col-left
					.line-form
						label.label Advance Notice
						span.wrap-select
							select
								option(value="1") Select
				.clear
				p.str How long would you like trips to last?
				.col-left
					.line-form
						label.label Shortest possble trip
						span.wrap-select
							select
								option(value="1") Select
				.col-right
					.line-form
						label.label Longest possble trip
						span.wrap-select
							select
								option(value="1") Select
				h6 Details
				.col-left
					.line-form
						label.label License Plate Number
						.wrap-input
							input(type="text" placeholder="")
				.clear
				p.fl
					span.note Your license plate information won’t be publicly visible.
				.space.m.clear
				h6 Car Description
				p.summary A detailed description will help you get more trips.
				textarea.textarea(placeholder="")
				p
					span.note No need to include your contact info, travelers will receive it once you’ve confirmed their trups.
				.space.m
				h6 Tính năng
				.car-feature__sect 
					.list-feature
						each item, index in listFeature
							div(class='squaredThree have-label')
								input(type="checkbox" name="filter-car-feature" id=`checkbox-sidebar-${index}`)
								label(for=`checkbox-sidebar-${index}` class="description")
									.thumbnail
										img(src= item.thumbnail alt="image" class="img-fluid")
										span!= item.description

				//- .list-features
				//- 	ul
				//- 		li
				//- 			.squaredFour.have-label
				//- 				input(id="checked1" type="checkbox" checked)
				//- 				label(for="checked1") EV / Hybrid
				//- 		li
				//- 			.squaredFour.have-label
				//- 				input(id="checked1" type="checkbox" checked)
				//- 				label(for="checked1") EV / Hybrid
				//- 		li
				//- 			.squaredFour.have-label
				//- 				input(id="checked1" type="checkbox")
				//- 				label(for="checked1") EV / Hybrid
				//- 		li
				//- 			.squaredFour.have-label
				//- 				input(id="checked1" type="checkbox")
				//- 				label(for="checked1") EV / Hybrid
				//- 		li
				//- 			.squaredFour.have-label
				//- 				input(id="checked1" type="checkbox")
				//- 				label(for="checked1") EV / Hybrid
				//- 		li
				//- 			.squaredFour.have-label
				//- 				input(id="checked1" type="checkbox")
				//- 				label(for="checked1") EV / Hybrid
				//- 		li
				//- 			.squaredFour.have-label
				//- 				input(id="checked1" type="checkbox")
				//- 				label(for="checked1") EV / Hybrid
	.wrap-btn.has-2btn
		.wr-btn
			a.btn.btn-secondary.btn--m(href="car_register_step1_verify.html") Back
		.wr-btn
			a.btn.btn-primary.btn--m(href="car_register_step3.html") Next
	