.m-container.leases__sect
  img.img-fluid(src="images/owner/sample-contract.png")
  p Chọn loại hợp đồng bạn muốn xem
  .leases-option__wrap 
    .leases-option__box
      include ../../../images/ic-svg/ic-delivery-record.svg
      p HỢP ĐỒNG CHO THUÊ
    .leases-option__box
      include ../../../images/ic-svg/ic-leases.svg
      p BIÊN BẢN BÀN GIAO XE