block Map

- var moduleCar = []
- moduleCar.push({'class':'status green-dot','rating_num': '4', 'status': 'Chờ duyệt' ,'heroes':'MITSUBISHI PAJERO SPORT 2016', 'img':'https://n1-pstg.mioto.vn/thue_xe_tu_lai/kia_rio_2016/p/g/2017/11/17/20/2112.jpg'})
- moduleCar.push({'class':'status red-dot','rating_num': '4', 'status': 'Hủy chuyến' , 'heroes':'MAZDA 3 2017', 'img':'https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3892.jpg'})
- moduleCar.push({'class':'status black-dot','rating_num': '3', 'status': 'Đã từ chối' , 'heroes':'KIA MORING 2014', 'img':'https://n1-pstg.mioto.vn/thue_xe_tu_lai/mitsubishi_pajero_sport_2016/p/g/2018/00/05/11/2884.jpg'})
- moduleCar.push({'class':'status gray-dot','rating_num': '5', 'status': 'Hoàn thành' , 'heroes':'CHERVOLET COROLADO 2017', 'img':'https://n1-pstg.mioto.vn/thue_xe_tu_lai/toyota_vios_2016/p/g/2018/00/19/16/3495.jpg'})
- moduleCar.push({'class':'status orange-dot','rating_num': '4', 'status': 'Chờ đặt cọc' , 'heroes':'Telsa Model X', 'img':'https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2018/p/g/2018/01/22/10/3938.jpg'})


.filter-trips.show-on-small
	.content-filter
		.rent-car
			.line-form
				label.label Trạng Thái
				.wrap-select
					select
						option(value="0" disabled selected) Tất cả
						option(value="1") Đang hoạt động
						option(value="2") Đang chờ duyệt
						option(value="3") Đang tạm ngừng
						option(value="4") Đã bị từ chối
.body.has-filter
	.loading-container.hidden
		.img-loading
			.blah
				.lds-css
					.lds-ellipsis(style='width: 100%; height: 100%')
						div
							div
						div
							div
						div
							div
						div
							div
						div
							div
		.layer-loading

	.filter-trips
		.content-filter
			.rent-car
				.line-form
					label.label Trạng Thái
					.wrap-select
						select
							option(value="0" disabled selected) Tất cả
							option(value="1") Đang hoạt động
							option(value="2") Đang chờ duyệt
							option(value="3") Đang tạm ngừng
							option(value="4") Đã bị từ chối
				.space-m
				.btn-group
					.wrap-btn-filter
						a.btn.btn-primary.btn--m(href="#!") Đăng ký xe
					.wrap-btn-filter
						a.btn.btn-secondary.btn--m(href="#!") Thiết lập chung
	.module-map.module-car.min-height-no-footer.mycars
		.listing-car
			mixin list-cars(car)
				.trip-box
					a.func-remove(href="#!")
						i.ic.ic-remove
					.box-wrap
						.item-car.status-trips
							p.status
								span(class=car.class)
								|#{car.status}
							.car-img
								.fix-img
									img(src=car.img)
						.desc-car
							h2 #{car.heroes}
							.wrap-line
								span.star
									span.star_rate-num!= car.rating_num
									i.full
								.bar-line
								p
									|2 chuyến
							p.cost
								| Giá có tài:
								span.price 		900k
							p.cost
								| Giá tự lái:
								span.price 		1800k
							p.marginTop-xs
								i.ic.ic-sm-car-location
								|		Tân Bình, Hồ Chí Minh
							hr.line-m
							a.btn.btn-primary.btn--m(href="#!") Xem chi tiết
							a.btn.btn-secondary.btn--m(href="#!") Quản lý xe
					.trip-footer
						a.btn.btn-primary.btn--m(href="#!") Xem chi tiết
						a.btn.btn-secondary.btn--m(href="#!") Quản lý xe
			for car in moduleCar
				+list-cars(car)


//- .btn-group-trips
//-   .wrap-btn-filter
//-     a.btn.btn-primary.btn--m(href="#!") Đăng ký xe
//-   .wrap-btn-filter
//-     a.btn.btn-secondary.btn--m(href="#!") Thiết lập chung
