block New Cars

.module-settings.min-height-register.module-trips
	.trip-container
		.register-mode
			img(src="images/owner/register-car.png" class="img-fluid")
			//- p Chọn 1 trong 2 hình thức thuê xe dưới đây
			.wrap-2-btn
				a.btn.btn--m.btn-primary Đăng ký xe tự lái
				a.btn.btn--m.btn-default Đăng ký xe có tài