block Settings Vehicle

.sidebar-settings.show-on-med-and-down
	ul
		li
			a(href="setting_details.html")
				i.ic.ic-infomation 
		li
			a(href="setting_photos.html") 
				i.ic.ic-photo
		li
			a(href="setting_locations.html") 
				i.ic.ic-license
		li
			a(href="setting_references.html") 
				i.ic.ic-setting-rent
		li
			a(href="setting_pricing.html") 
				i.ic.ic-setting-price 
		li
			a(href="setting_calendar.html") 
				i.ic.ic-setting-calendar
		li
			a(href="setting_history.html") 
				i.ic.ic-management
		li
			a(href="setting_tracking.html") 
				i.ic.ic-gps
				
include ../_common/_infocar_owner.pug

.body-container.settings
	.sidebar.sidebar-settings.hide-on-med-and-down
			ul
				li
					a(href="setting_details.html")
						i.ic.ic-infomation
						|Thông tin 
				li
					a(href="setting_photos.html") 
						i.ic.ic-photo
						|Hình ảnh
				li
					a(href="setting_locations.html") 
						i.ic.ic-license
						|Giấy tờ
				li
					a(href="setting_references.html") 
						i.ic.ic-setting-rent
						|Cài đặt cho thuê
				li
					a(href="setting_pricing.html") 
						i.ic.ic-setting-price
						|Cài đặt giá 
				li
					a(href="setting_calendar.html ") 
						i.ic.ic-setting-calendar
						|Cài đặt lịch 
				li
					a(href="setting_history.html ") 
						i.ic.ic-management
						|Quản lý chuyến
				li
					a(href="setting_tracking.html ") 
						i.ic.ic-gps
						|Định vị xe
	.content
		.content-container
			h2.title Vehicle Protection
			p Choose from three protection plans. Spring for top-tier coverage, or pocket more of your earnings with less coverage. Or earn more by using your own protection.
			p
				a(href="#!") Learn how vehicle protection works
			.space.m
			.group-check.active
				.g-head
					h2
						.squaredFour.have-label
							input(id="checked1" type="checkbox" checked)
							label(for="checked1") Premium
					p Get extra peace of mind with top-tier protection
				.g-body
					ul
						li
							span Earn 65% of the trip price
						li
							span $1 million liability insurance
						li
							span Zero out of pocket cost for covered damage to your car
						li
							span Earn 65% of the trip price
						li
							span $1 million liability insurance
						li
							span Zero out of pocket cost for covered damage to your car
			.group-check
				.g-head
					h2
						.squaredFour.have-label
							input(id="checked2" type="checkbox" checked)
							label(for="checked2") Standard
					p Get extra peace of mind with top-tier protection
				.g-body
					ul
						li
							span Earn 65% of the trip price
						li
							span $1 million liability insurance
						li
							span Zero out of pocket cost for covered damage to your car
						li
							span Earn 65% of the trip price
						li
							span $1 million liability insurance
						li
							span Zero out of pocket cost for covered damage to your car
			.group-check
				.g-head
					h2
						.squaredFour.have-label
							input(id="checked3" type="checkbox" checked)
							label(for="checked3") Basic
					p Get extra peace of mind with top-tier protection
				.g-body
					ul
						li
							span Earn 65% of the trip price
						li
							span $1 million liability insurance
						li
							span Zero out of pocket cost for covered damage to your car
						li
							span Earn 65% of the trip price
						li
							span $1 million liability insurance
						li
							span Zero out of pocket cost for covered damage to your car

