block Settings

- var listFeature = []
- listFeature.push({'status':'active ', 'thumbnail':'images/ic-faqs/features/map.png', 'description':'Bản đồ'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/bluetooth.png', 'description':'Bluetooth'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/360_camera.png', 'description':'Camera 360'})
- listFeature.push({'status':'active','thumbnail':'images/ic-faqs/features/parking_camera.png', 'description':'Camera cập lề'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/dash_camera.png', 'description':'Camera hành trình'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/reverse_camera.png', 'description':'Camera lùi'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/tpms.png', 'description':'Cảm biến áp suất lốp'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/impact_sensor.png', 'description':'Cảm biến va chạm'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/head_up.png', 'description':'Cảnh báo tốc độ'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/sunroof.png', 'description':'Cửa sổ trời'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/gps.png', 'description':'Định vị GPS'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/babyseat.png', 'description':'Ghế trẻ em'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/usb.png', 'description':'Khe cắm USB'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/spare_tire.png', 'description':'Lốp dự phòng'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/dvd.png', 'description':'Màn hình DVD'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/bonnet.png', 'description':'Nắp thùng xe bán tải'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/epass.png', 'description':'Thu phí không dừng'})
- listFeature.push({'status':'','thumbnail':'images/ic-faqs/features/airbags.png', 'description':'Túi khí an toàn'})

include ../_common/_sidebar_setting_owner.pug

//-- Siderbar settings car id in Phone
//- include ../_common/_sidebar_setting_mobile.pug

include ../_common/_infocar_owner.pug

.body-container.settings
	include ../_common/_sidebar_setting_ownerpc.pug
	.content
		.content-container
			.col-1
				.form-default
					.line-form
						label.label Your Car Name
						.wrap-input
							input(type="text" placeholder="BMW 3 SERIES 2013")
			.space.m.clear
			h3 Car Description
			p A detailed description will help you get more trips.
			.form-default
				.line-form.end
					textarea.textarea(placeholder="")
				p
					span.note No need to include your contact info, travelers will receive it once you’ve confirmed their trips.
			.space.m.clear
			h3 Basic Car Details
			p Donec facilisis tortor ut augue lacinia, at viverra.
			.form-default
				.col-1
					.line-form
						label.label Number of Seats
						span.wrap-select
							select
								option(value="1") 5
				.col-2
					.line-form
						label.label Number of Doors
						span.wrap-select
							select
								option(value="1") 4
				.col-1.clear
					.line-form
						label.label Fuel Type
						span.wrap-select
							select
								option(value="1") Gas
				.col-2
					.line-form
						label.label Gas Grade
						span.wrap-select
							select
								option(value="1") Full
				.col-1.clear
					.line-form
						label.label City MPG
						span.wrap-select
							select
								option(value="1") 23
				.col-2
					.line-form
						label.label Hwy MPG
						span.wrap-select
							select
								option(value="1") 23
			.space.m.clear
			h3 Tính năng
			.car-feature__sect 
				.list-feature
					each item, index in listFeature
						div(class='squaredThree have-label')
							input(type="checkbox" name="filter-car-feature" id=`checkbox-sidebar-${index}`)
							label(for=`checkbox-sidebar-${index}` class="description")
								.thumbnail
									img(src= item.thumbnail alt="image" class="img-fluid")
									span!= item.description
			//- .list-features
			//- 	ul
			//- 		li
			//- 			.squaredFour.have-label
			//- 				input(id="checked1" type="checkbox" checked)
			//- 				label(for="checked1") EV / Hybrid
			//- 		li
			//- 			.squaredFour.have-label
			//- 				input(id="checked1" type="checkbox" checked)
			//- 				label(for="checked1") EV / Hybrid
			//- 		li
			//- 			.squaredFour.have-label
			//- 				input(id="checked1" type="checkbox")
			//- 				label(for="checked1") EV / Hybrid
			//- 		li
			//- 			.squaredFour.have-label
			//- 				input(id="checked1" type="checkbox")
			//- 				label(for="checked1") EV / Hybrid
			//- 		li
			//- 			.squaredFour.have-label
			//- 				input(id="checked1" type="checkbox")
			//- 				label(for="checked1") EV / Hybrid
			//- 		li
			//- 			.squaredFour.have-label
			//- 				input(id="checked1" type="checkbox")
			//- 				label(for="checked1") EV / Hybrid
			//- 		li
			//- 			.squaredFour.have-label
			//- 				input(id="checked1" type="checkbox")
			//- 				label(for="checked1") EV / Hybrid
			a.btn.btn-primary.btn--m(href="#!") Save

