block Tutorial

//-- Siderbar settings car id in Phone
include ../_common/_sidebar_setting_owner.pug

include ../_common/_infocar_owner.pug

.body-container.settings
	//- .sidebar.sidebar-settings.hide-on-med-and-down
	//- 		ul
	//- 			li
	//- 				a(href="setting_details.html")
	//- 					i.ic.ic-infomation
	//- 					|Thông tin
	//- 			li
	//- 				a(href="setting_photos.html")
	//- 					i.ic.ic-photo
	//- 					|Hình ảnh
	//- 			li
	//- 				a(href="setting_locations.html")
	//- 					i.ic.ic-license
	//- 					|Giấy tờ xe
	//- 					span.has-reddot
	//- 			li
	//- 				a(href="setting_references.html")
	//- 					i.ic.ic-mortgages
	//- 					|Tài sản thế chấp
	//- 			li
	//- 				a(href="setting_references.html")
	//- 					i.ic.ic-setting-rent
	//- 					|Cài đặt cho thuê
	//- 			li
	//- 				a(href="setting_pricing.html")
	//- 					i.ic.ic-setting-price
	//- 					|Cài đặt giá
	//- 			li
	//- 				a.active(href="setting_calendar.html ")
	//- 					i.ic.ic-setting-calendar
	//- 					|Cài đặt lịch
	//- 			li
	//- 				a(href="setting_history.html ")
	//- 					i.ic.ic-management
	//- 					|Quản lý chuyến
	//- 			li
	//- 				a(href="setting_tracking.html ")
	//- 					i.ic.ic-gps
	//- 					|Định vị xe
	include ../_common/_sidebar_setting_ownerpc.pug

	.content
		.content-container
			<div class="form-default">
				<h3 class="title text-inline">Đặt xe nhanh</h3>
				<div class="tooltip">
					<i class="ic ic-question-mark"></i>
					<div class="tooltip-text">Tính năng cho phép khách hàng đặt xe ngay lập tức không cần chủ xe phê duyệt <span> (Phù hợp với các chủ xe không thường xuyên online và kiểm tra điện thoại.) </span>
					</div>
			</div>
				<div class="position-relative pos-1">
					<div class="switch-on-off" style="right: 0px;position: absolute;bottom: 10px;">
						<input class="switch-input" id="cb-instant-booking" type="checkbox">
						<label class="switch-label" for="cb-instant-booking"></label>
					</div>
				</div>
				<span class="note marginBottom-s">Chủ xe không cần duyệt trước yêu cầu thuê xe của khách.</span>
				.form-default.form-instant-booking
					.line-form
						label.label Giới hạn từ
						.wrap-select
							select(disabled="disabled")
								option(value="0" selected) 24 tiếng sau khi chọn
					.line-form
						label.label Cho đến
						.wrap-select
							select(placeholder="hello")
								option(value="1") 2 tuần
								option(value="1") 1 tháng
								option(value="2") 2 tháng
								option(value="4" selected) 3 tháng (Khuyến nghị)
								option(value="3") 5 tháng
								option(value="3") Mãi mãi
				<div class="line"></div>
			</div>
			h3.title Thiết lập thời gian cho thuê
			.form-default.form-instant-booking
					.line-form
						label.label Bắt đầu từ
						.wrap-select
							select
								option(value="0" selected) Hiện tại (khuyến nghị)
								option(value="1") 1 tuần tới
								option(value="2") 2 tuần tới
								option(value="3") 1 tháng tới
					.line-form
						label.label Cho đến
						.wrap-select
							select
								option(value="0") 1 tháng tới
								option(value="1") 2 tháng tới
								option(value="2" selected) 3 tháng tới (khuyến nghị)
								option(value="3") 5 tháng tới
			.line
			h3.title Thời gian giao xe
			.form-default.form-pick-return-time
				.line-form
					label.label Từ
					.wrap-select
						select
							option(value='0', disabled='', selected='') 07:30
							option(value='1') 08:30
							option(value='2') 09:30
							option(value='3') 10:30
							option(value='4') 11:30
				.line-form
					label.label Đến
					.wrap-select
						select
							option(value='0', disabled='', selected='') 07:30
							option(value='1') 08:30
							option(value='2') 09:30
							option(value='3') 10:30
							option(value='4') 11:30
			.form-default.form-pick-return-time
				.line-form
					label.label Từ
					.wrap-select
						select
							option(value='0', disabled='', selected='') 07:30
							option(value='1') 08:30
							option(value='2') 09:30
							option(value='3') 10:30
							option(value='4') 11:30
				.line-form
					label.label Đến
					.wrap-select
						select
							option(value='0', disabled='', selected='') 07:30
							option(value='1') 08:30
							option(value='2') 09:30
							option(value='3') 10:30
							option(value='4') 11:30
				a.rm-mintimes
					i.ic.ic-remove
			a.text-primary.add-times
				i.ic.ic-plus
				| Thêm Khoảng thời gian
			.line
			h3.title Lịch xe
			//- p Tuỳ chỉnh giá và thiết lập lịch bận cho xe. Bạn chỉ được thiết lập lịch trong 3 tháng gần nhất.
			//- .space.m.clear
			.line-form.line-radio
				.wrap-input
					label.custom-radio.custom-control
						input(type="radio" name="setting-mode" class="custom-control-input")
						span.custom-control-indicator
						span.custom-control-description
							|Tùy chỉnh giá
				.wrap-input
					label.custom-radio.custom-control
						input(type="radio" name="setting-mode" class="custom-control-input")
						span.custom-control-indicator
						span.custom-control-description
							|Thiết lập lịch bận
			.space.m.clear
			.calendar-container
				i.ic.ic-clock-repeat
				.title-calendar
					//- a.func-prev(href="#!")
					span.t-ins November
					//- span.t-ins November <em>2017</em>
					//- a.func-next(href="#!")
				ul.list-status
					li.status-3
						span Giá mặc định
					li.status-6
						span Lặp lại tuần
					li.status-1
						span Ngày trống
					li.status-9
						span Chờ đặt cọc
					li.status-4
						span Giá tùy chỉnh
					li.status-5
						span Xe đã đặt
					li.status-2
						span Ngày bận
					li.status-8
						span Chờ duyệt
				ol.day-names
					li Sun
					li Mon
					li Tue
					li Wed
					li Thu
					li Fri
					li Sat
				ol.days
					li.outside
						.date 1
						.price-default 900K
						.label-in-calendar
							i.ic.ic-sm-thunderbolt
							i.ic.ic-clock-repeat
					li.outside
						.date 2
						.event 1000K
					li.current-date
						.date 3
						.price-default 900K
					li.available
						.date 4
					li.half-right
						.date 5
						.label-in-calendar
							i.ic.ic-sm-thunderbolt
							i.ic.ic-clock-repeat
					li.full
						i.ic.ic-management
						.date 6
						.price-default 850K
					li
						.booked.full
						.date 7
						.price-default
							|920K
					li
						.booked.half
						.date 8
						.event 1000K
						.label-in-calendar
							i.ic.ic-sm-thunderbolt
							i.ic.ic-clock-repeat
					li.half-left
						.date 9
						.label-in-calendar
							i.ic.ic-sm-thunderbolt
							i.ic.ic-clock-repeat
					li
						span.deposit-5.req-half-right
							i.ic.ic-sm-flat
						span.deposit-4
							i.ic.ic-sm-flat
						span.deposit-3.req-half-left
							i.ic.ic-sm-flat
						span.deposit-2
							i.ic.ic-sm-flat
						span.deposit-1
							i.ic.ic-sm-flat
						.date 10
					li.quarter-1-right
						.date 11
					li.quarter-1-left
						.date 12
					li.gray
						.date 13
						.label-in-calendar
							i.ic.ic-sm-thunderbolt
							i.ic.ic-clock-repeat
					li.gray
						.date 14
					li.quarter-3-right
						.date 15
					li.quarter-3-left
						.date 16
					li
						span.req-5.req-half-right
						span.req-4
						span.req-3.req-half-left
						span.req-2
						span.req-1
						.date 17
					li.gray
						.date 18
					li.gray
						.date 19
					li.quarter-2
						.date 20
					li.highlight
						.date 21
						.event $ 30
						a(class="func-edit" href="#!" title="Edit")
							ic.ic.ic-edit
						.line-form
							.squaredFour.have-label
								input(type="checkbox" id="ip_self_pickup" value="on")
								label(for="ip_self_pickup")
					li.highlight
						.date 22
						.event $ 30
					li.highlight
						.date 23
						.event $ 30
					li
						.date 24
					li
						.date 25
					li
						.date 26
					li
						.date 27
					li
						.date 28
					li
						.date 29
					li
						.date 30
					li
						.date 31
					li.outside
						.date 1
					li.outside
						.date 2
					li.outside
						.date 3
					li.outside
						.date 4
