block Settings

.sidebar-settings.show-on-med-and-down
	ul
		li
			a(href="setting_details.html")
				i.ic.ic-infomation 
		li
			a(href="setting_photos.html") 
				i.ic.ic-photo
		li
			a(href="setting_locations.html") 
				i.ic.ic-license
		li
			a(href="setting_references.html") 
				i.ic.ic-setting-rent
		li
			a(href="setting_pricing.html") 
				i.ic.ic-setting-price 
		li
			a(href="setting_calendar.html") 
				i.ic.ic-setting-calendar
		li
			a.active(href="setting_history.html") 
				i.ic.ic-management
		li
			a(href="setting_tracking.html") 
				i.ic.ic-gps
				
include ../_common/_infocar_owner.pug

.body-container.settings
	.sidebar.sidebar-settings.hide-on-med-and-down
			ul
				li
					a(href="setting_details.html")
						i.ic.ic-infomation
						|Thông tin 
				li
					a(href="setting_photos.html") 
						i.ic.ic-photo
						|Hình ảnh
				li
					a(href="setting_locations.html") 
						i.ic.ic-license
						|Giấy tờ
				li
					a(href="setting_references.html") 
						i.ic.ic-setting-rent
						|Cài đặt cho thuê
				li
					a(href="setting_pricing.html") 
						i.ic.ic-setting-price
						|Cài đặt giá 
				li
					a(href="setting_calendar.html ") 
						i.ic.ic-setting-calendar
						|Cài đặt lịch 
				li
					a.active(href="setting_history.html ") 
						i.ic.ic-management
						|Quản lý chuyến
				li
					a(href="setting_tracking.html ") 
						i.ic.ic-gps
						|Định vị xe
	.content
		.content-container
			h2.title Trip History
			p Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est..

