block Map

- var moduleDeal = []
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'images/upload/car_2.png'})
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'images/upload/car_3.png'})
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'images/upload/car_4.png'})
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})

.module-map.has-list
	.filter-map
		.filter-map-container.form-default
			.col-1
				.line-form
					.wrap-input.has-ico-search
						i.ic.ic-search
						input(type="text" placeholder="Search car name")
			.col-2
				.line-form
					.wrap-select
						select
							option(value="0" disabled selected) View All
							option(value="1") Pending
							option(value="2") Approved
							option(value="3") Canceled
							option(value="4") Bookmarked
					a.btn.btn-primary.btn--m(href="#!") Search
			
	.wrap-listing-car
		span.title-list My renting cars
		.listing-car.has-full
			ul
				li
					.item-car
						span.status.approved Approved
						span.img-car(style="background-image:url(images/upload/car_1.png)")
							span.label-rent Cho thuê ngay
						.desc-car
							span.star
								i.full
								i.full
								i.half
								i
								i
							h2 Telsa Model X
							p
								span <i class="ic ic-clock"></i> 2 trips
								span <i class="ic ic-tag"></i> $15/day
							a.btn.btn-secondary.btn--m(href="#!") View Details
				li
					.item-car
						span.status.pending Pending
						span.img-car(style="background-image:url(images/upload/demo1.jpg)")
						.desc-car
							span.star
								i.full
								i.full
								i.half
								i
								i
							h2 Telsa Model X
							p
								span <i class="ic ic-clock"></i> 2 trips
								span <i class="ic ic-tag"></i> $15/day
							a.btn.btn-secondary.btn--m(href="#!") View Details
								
	.wrap-listing-car
		span.title-list Bookmarked cars
		.listing-car.has-full
			ul
				each moduleDealItem in moduleDeal
					li
						.item-car(class=`${moduleDealItem.class}`)
							span.img-car(style="background-image:url(images/upload/car_1.png)")
							.desc-car
								span.star
									i.full
									i.full
									i.half
									i
									i
								h2 #{moduleDealItem.heroes}
								p
									span <i class="ic ic-clock"></i> 2 trips
									span <i class="ic ic-tag"></i> $15/day
								a.btn.btn-secondary.btn--m(href="#!") View Details
								a.btn.btn-primary.btn--m(href="#!") Booking Now

a.func-filter.plus(href="#!")
	i.ic.plus-o 
