block Discover 

- var moduleCars = []
- moduleCars.push({'name': 'HUYNDAI SANTA FE 2015 1', 'img': 'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/huyndai_santa_fe_2015/p/g/2018/03/26/15/6404.jpg','trips': '20','price' : '900K', 'deal' : '5%', 'promo': '855K'})
- moduleCars.push({'name': 'MADZA 3 2018 2', 'img': 'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/mazda_3_2018/p/g/2018/03/16/15/5898.jpg','trips': '2','price' : '1000K', 'deal' : '50%', 'promo': '500K'})
- moduleCars.push({'name': 'HUYNDAI SANTA FE 2015 3', 'img': 'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/huyndai_santa_fe_2015/p/g/2018/03/26/15/6404.jpg','trips': '5','price' : '500K', 'deal' : '10%', 'promo': '450K'})
- moduleCars.push({'name': 'MADZA 3 2018 4', 'img': 'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/mazda_3_2018/p/g/2018/03/16/15/5898.jpg','trips': '10','price' : '3500K', 'deal' : '5%', 'promo': '3325K'})
- moduleCars.push({'name': 'HUYNDAI SANTA FE 2015 5', 'img': 'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/huyndai_santa_fe_2015/p/g/2018/03/26/15/6404.jpg','trips': '20','price' : '900K', 'deal' : '5%', 'promo': '855K'})
- moduleCars.push({'name': 'MADZA 3 2018 6', 'img': 'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/mazda_3_2018/p/g/2018/03/16/15/5898.jpg','trips': '2','price' : '1000K', 'deal' : '50%', 'promo': '500K'})
- moduleCars.push({'name': 'HUYNDAI SANTA FE 2015 7', 'img': 'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/huyndai_santa_fe_2015/p/g/2018/03/26/15/6404.jpg','trips': '5','price' : '500K', 'deal' : '10%', 'promo': '450K'})
- moduleCars.push({'name': 'MADZA 3 2018 8', 'img': 'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/mazda_3_2018/p/g/2018/03/16/15/5898.jpg','trips': '10','price' : '3500K', 'deal' : '5%', 'promo': '3325K'})
- moduleCars.push({'name': 'HUYNDAI SANTA FE 2015 9', 'img': 'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/huyndai_santa_fe_2015/p/g/2018/03/26/15/6404.jpg','trips': '5','price' : '500K', 'deal' : '10%', 'promo': '450K'})
- moduleCars.push({'name': 'MADZA 3 2018 10', 'img': 'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/mazda_3_2018/p/g/2018/03/16/15/5898.jpg','trips': '10','price' : '3500K', 'deal' : '5%', 'promo': '3325K'})

- var blogItem = []
- blogItem.push({'img': 'images/homev2/blog-1.jpg', 'title': 'Trải nghiệm du lịch Đà Lạt bằng dịch vụ thuê xe tự lái', 'shortDesc': 'Đà Lạt là thành phố du lịch rất nổi bật ở khu vực Tây Nguyên – Việt Nam.  Nằm cách thành phố Hồ Chí Minh chừng 300km, Đà Lạt là điểm dừng chân  tuyệt vời cho du khách.'})

.banner-home__sect.discover-banner__wrap(style='background-image: url(images/discover/city.jpg);')
  .container
    h1.slogan 
      | Thuê xe tự lái tại
      span.break  Hồ Chí Minh
    .inside.d-flex
      .form-search.location 
        .blah.hidden 
          .lds-css
            .lds-ellipsis(style='width:100%;height:100%')
              div
                div
              div
                div
              div
                div
              div
                div
              div
                div
          .layer-loading
        i.ic.ic-location-f
        div
          input(type="text" value='Ho Chi Minh, Vietnam' placeholder="Tìm xe tại thành phố Hồ Chí Minh")
        a.func-remove(href="")
          i.ic.ic-remove
      .form-search.has-timer 
        i.ic.ic-datepicker
        div
          span  21:00 24/07/2018 - 21:00 25/07/2018
      .fn-search 
        a(href="!#").btn-search
          i.ic.ic-search
          span TÌM KIẾM 
//- .deal-area__sect
//-   .m-container 
//-     h3.title-car Deal around HCM  
//-     .deal-car__wrap 
//-       .swiper-container.gallery-top
//-         .swiper-wrapper
//-           each car in moduleCars
//-             .swiper-slide.common-box.box-lg-car__item
//-               //- .fix-img 
//-               //-   img(src=`${car.img}`)
//-               img.img(src=`${car.img}`)
//-               .price-car
//-                 span.real #{car.price} 
//-                 span.promo #{car.promo}
//-               .deal 
//-                 span Giảm #{car.deal}
//-               .desc-car 
//-                 .ratings 
//-                   span.star 
//-                     i.full 
//-                     i.full 
//-                     i.full 
//-                     i.half 
//-                     i 
//-                   .bar-line 
//-                   p.trips #{car.trips} chuyến 
//-                 h2!=car.name
//-         //- <div class="swiper-button-next swiper-button-white"></div>
//-         //- <div class="swiper-button-prev swiper-button-white"></div>
//-         //- .swiper-pagination.pagi-gallery
//-       .swiper-container.gallery-thumbs
//-         .swiper-wrapper.box-sm-car__wrap 
//-           each car in moduleCars
//-             .swiper-slide
//-               .common-box.box-sm-car__item
//-                 .deal 
//-                   span Giảm #{car.deal}
                
//-                 .left
//-                   .car-img 
//-                     .fix-img
//-                       img(src=`${car.img}`)
//-                   .price-car
//-                     span.real #{car.price} 
//-                     span.promo #{car.promo}
//-                 .right 
//-                   .desc-car 
//-                     h2!=car.name
//-                     .ratings 
//-                       span.star 
//-                         i.full 
//-                         i.full 
//-                         i.full 
//-                         i.half 
//-                         i 
//-                       .bar-line 
//-                       p.trips #{car.trips} chuyến
.car-area__sect 
  .m-container 
    h3.title-car Xe ở HCM 
    .swiper-button-next.next-recent-car 
      i.i-arr
    .swiper-button-prev.prev-recent-car 
      i.i-arr
    .swiper-container.swiper-recent-box  
      .swiper-wrapper.box-car__wrap 
        each car in moduleCars
          .swiper-slide.box-car__item 
            .img-car 
              .fix-img 
                img(src=`${car.img}`)
              .price-car!=car.price
            .desc-car 
              .ratings 
                span.star
                  span.star_rate-num 5
                  i.full
                .bar-line 
                p.trips #{car.trips} chuyến 
              h2!=car.name
      .swiper-pagination.pagi-car    
.avg-ratings__sect.review
  .m-container
    h3.title Những nhận xét tại Hồ Chí Minh 
    hr.line 
    .list-cmt-wrap 
      mixin list-comments(comments)
        each comment in comments 
          .list-comments 
            .list-wrap
              .left 
                .avatar.avatar--s 
                  img.img-fluid(src=comment.img)
              .right  
                h4.name= comment.heroes 
                .cmt-box 
                  .group
                    span.star
                      span.star_rate-num 5
                      i.full
                    p.date 22/02/2017 
                  p.desc= comment.desc
      +list-comments([
        {'class':'', 'img':'images/avatar_default.png', 'heroes':'MS YEN', 'info':'Car Owner', 'desc':'Xe dep chu xe nhiet tinh vui ve'},
        {'class':'', 'img':'images/avatar_default.png', 'heroes':'MS YEN', 'info':'Car Owner', 'desc':'Dịch vụ tốt'},
        {'class':'', 'img':'images/avatar_default.png', 'heroes':'MS YEN', 'info':'Car Owner', 'desc':'Dich vu tot, se quay tro lai ung ho'},
        {'class':'', 'img':'images/avatar_default.png', 'heroes':'MS YEN', 'info':'Car Owner', 'desc':'It is an amazing experience on renting his car, very easy for my first try, I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'},
        {'class':'', 'img':'images/avatar_default.png', 'heroes':'MS YEN', 'info':'Car Owner', 'desc':'Dịch vụ tốt'},
        {'class':'', 'img':'images/avatar_default.png', 'heroes':'MS YEN', 'info':'Car Owner', 'desc':'Dịch vụ tốt'},
      ])

    .s-all
      a.see-all Xem Thêm
        ic.ic.ic-chevron-up
//- .map-views__sect
//-   h3.n-title Xe cho thuê ở Hồ Chí Minh 
//-   .module-map.map-views__wrap 
//-     .map-result
//-       p.no-result No Results for “Kia Morning”
//-       i.ic.ic-pin 
//-     .loading-bar 
//-       .peg 
//-     .swiper-container.swiper-car-inmap
//-       .swiper-button-prev
//-       .swiper-button-next 
//-       .list-map-wrapper.swiper-wrapper 
//-         .car-item-inmap.swiper-slide 
//-           .car-item-wrapper
//-             .car-item-body 
//-               .car-item-img 
//-                 .img-car 
//-                   .fix-img 
//-                     img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg")
//-               .car-item-info
//-                 .rating  
//-                   span.star
//-                     i.full
//-                     i.full
//-                     i.half
//-                     i 
//-                     i
//-                 .car-name 
//-                   p Madza 3 2016 
//-                 .features 
//-                   p
//-                     span <i class="ic ic-tag"></i> 900K
//-                     span <i class="ic ic-clock"></i> 3 chuyến								
//-               .is-instant-book
//-                 i.ic.ic-sm-thunderbolt
//-         .car-item-inmap.swiper-slide
//-           .car-item-wrapper
//-             .car-item-body 
//-               .car-item-img 
//-                 .img-car 
//-                   .fix-img 
//-                     img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg")
//-               .car-item-info 
//-                 .rating  
//-                   span.star
//-                     i
//-                     i 
//-                     i 
//-                     i 
//-                     i
//-                 .car-name 
//-                   p Madza 3 2016 
//-                 .features 
//-                   p
//-                     span <i class="ic ic-tag"></i> 900K
//-                     span <i class="ic ic-clock"></i> 3 chuyến	
//-         .car-item-inmap.swiper-slide 
//-           .car-item-wrapper
//-             .car-item-body 
//-               .car-item-img 
//-                 .img-car 
//-                   .fix-img 
//-                     img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg")
//-               .car-item-info 
//-                 .rating  
//-                   span.star
//-                     i
//-                     i 
//-                     i 
//-                     i 
//-                     i
//-                 .car-name 
//-                   p Madza 3 2016 
//-                 .features 
//-                   p
//-                     span <i class="ic ic-tag"></i> 900K
//-                     span <i class="ic ic-clock"></i> 3 chuyến 
.nearby-car__sect
  .m-container 
    h3.title Những khu vực thuê xe phổ biến
    ul.list-areas
      - var list = ["Sân bay Tân Sơn Nhất", "Nhà Thờ Đức Bà", "Quận 4", "Phú Mỹ Hưng", "Quận Bình Thạnh", "Sân bay Tân Sơn Nhất", "Nhà Thờ Đức Bà", "Quận 4", "Phú Mỹ Hưng", "Quận Bình Thạnh"]
        each item in list
          li.area
            a(href="#!")
              p=item 
.blog__sect(style="background-image: url(images/homev2/bg-blog.png)")
  .m-container 
    h3.n-title Blog
    .swiper-container.swiper-blog 
      .swiper-wrapper.blog__wrap 
        mixin blog-item(blog)
          .swiper-slide.blog__item 
            .blog-img 
              .fix-img 
                img(src=`${blog.img}`)
              .title-blog 
                h3!=blog.title 
            .blog-detail 
              .bar-line 
              .content 
                p!=blog.shortDesc
              .group-info 
                .time-post 
                  i.ic.ic-sm-time-post
                  span 18/07/2018 
                .s-all 
                  p.see-all Xem tiếp 
                    i.ic.ic-chevron-right 
          .swiper-slide.blog__item  
            .blog-detail 
              .content 
                p!=blog.shortDesc
              .group-info 
                .time-post 
                  i.ic.ic-sm-time-post
                  span 18/07/2018 
                .s-all 
                  p.see-all Xem tiếp 
                    i.ic.ic-chevron-right
              .bar-line  
            .blog-img 
              .fix-img 
                img(src=`${blog.img}`)
              .title-blog 
                h3!=blog.title 
          .swiper-slide.blog__item 
            .blog-img 
              .fix-img 
                img(src=`${blog.img}`)
              .title-blog 
                h3!=blog.title 
            .blog-detail 
              .bar-line 
              .content 
                p!=blog.shortDesc
              .group-info 
                .time-post 
                  i.ic.ic-sm-time-post
                  span 18/07/2018 
                .s-all 
                  p.see-all Xem tiếp 
                    i.ic.ic-chevron-right
          .swiper-slide.blog__item  
            .blog-detail 
              .content 
                p!=blog.shortDesc
              .group-info 
                .time-post 
                  i.ic.ic-clock
                  span 18/07/2018 
                .s-all 
                  p.see-all Xem tiếp 
                    i.ic.ic-chevron-right
              .bar-line  
            .blog-img 
              .fix-img 
                img(src=`${blog.img}`)
              .title-blog 
                h3!=blog.title 
        for blog in blogItem
          +blog-item(blog)
      .swiper-pagination.pagi-blog
.start-adventure__sect(style="background-image:url(images/discover/discover.png)")
  .m-container 
    .start-adventure__wrap 
      h3.n-title Bắt đầu chuyến đi của bạn 
      a.btn.btn--l.btn-primary Tìm xe ở Hồ Chí Minh