block Homev2

- var moduleDest = []
- moduleDest.push({'title': 'Hồ Chí Minh', 'img':'images/homev2/hcm.jpg'})
- moduleDest.push({'title': 'Hà Nội', 'img':'images/homev2/ha-noi.jpg'})
- moduleDest.push({'title': 'Đà Nẵng', 'img':'images/homev2/da-nang.jpg'})
- moduleDest.push({'title': 'Đà Lạt', 'img':'images/homev2/da-lat.jpg'})
- moduleDest.push({'title': 'Nam Định', 'img':'images/homev2/nam-dinh.jpg'})
- moduleDest.push({'title': 'Ninh Thuận', 'img':'images/homev2/ninh-thuan.jpg'})
- moduleDest.push({'title': 'Quảng Ninh', 'img':'images/homev2/q-ninh.jpg'})
- moduleDest.push({'title': 'Hà Tĩnh', 'img':'images/homev2/ha-tinh.jpg'})
- moduleDest.push({'title': 'Hải Phòng', 'img':'images/homev2/hp.jpg'})
- moduleDest.push({'title': 'Long An', 'img':'images/homev2/longan.jpg'})
- moduleDest.push({'title': 'Đồng Nai', 'img':'images/homev2/dong-nai.jpg'})
- moduleDest.push({'title': 'Bình Phước', 'img':'images/homev2/binh-phuoc.jpg'})
- moduleDest.push({'title': 'Thanh Hóa', 'img':'images/homev2/thanh-hoa.jpg'})

- var moduleCars = []
- moduleCars.push({'name': 'HUYNDAI SANTA FE 2015 1', 'img': 'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/huyndai_santa_fe_2015/p/g/2018/03/26/15/6404.jpg','trips': '20','price' : '900K', 'deal' : '5%', 'promo': '855K'})
- moduleCars.push({'name': 'MADZA 3 2018 2', 'img': 'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/mazda_3_2018/p/g/2018/03/16/15/5898.jpg','trips': '2','price' : '1000K', 'deal' : '50%', 'promo': '500K'})
- moduleCars.push({'name': 'HUYNDAI SANTA FE 2015 3', 'img': 'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/huyndai_santa_fe_2015/p/g/2018/03/26/15/6404.jpg','trips': '5','price' : '500K', 'deal' : '10%', 'promo': '450K'})
- moduleCars.push({'name': 'MADZA 3 2018 4', 'img': 'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/mazda_3_2018/p/g/2018/03/16/15/5898.jpg','trips': '10','price' : '3500K', 'deal' : '5%', 'promo': '3325K'})
- moduleCars.push({'name': 'HUYNDAI SANTA FE 2015 5', 'img': 'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/huyndai_santa_fe_2015/p/g/2018/03/26/15/6404.jpg','trips': '20','price' : '900K', 'deal' : '5%', 'promo': '855K'})
- moduleCars.push({'name': 'MADZA 3 2018 6', 'img': 'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/mazda_3_2018/p/g/2018/03/16/15/5898.jpg','trips': '2','price' : '1000K', 'deal' : '50%', 'promo': '500K'})
- moduleCars.push({'name': 'HUYNDAI SANTA FE 2015 7', 'img': 'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/huyndai_santa_fe_2015/p/g/2018/03/26/15/6404.jpg','trips': '5','price' : '500K', 'deal' : '10%', 'promo': '450K'})
- moduleCars.push({'name': 'MADZA 3 2018 8', 'img': 'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/mazda_3_2018/p/g/2018/03/16/15/5898.jpg','trips': '10','price' : '3500K', 'deal' : '5%', 'promo': '3325K'})
- moduleCars.push({'name': 'HUYNDAI SANTA FE 2015 9', 'img': 'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/huyndai_santa_fe_2015/p/g/2018/03/26/15/6404.jpg','trips': '5','price' : '500K', 'deal' : '10%', 'promo': '450K'})
- moduleCars.push({'name': 'MADZA 3 2018 10', 'img': 'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/mazda_3_2018/p/g/2018/03/16/15/5898.jpg','trips': '10','price' : '3500K', 'deal' : '5%', 'promo': '3325K'})


- var stepTut = []
- stepTut.push({'img': 'images/homev2/step-1.svg', 'title': 'Đặt xe với Mioto', 'desc': 'Tìm kiếm ngay xe mà bạn ưng ý ngay tại đây hoặc qua app Mioto'})
- stepTut.push({'img': 'images/homev2/step-2.svg', 'title': 'Nhận xe hoặc giao tận nơi', 'desc': 'Bạn và chủ xe chủ động liên hệ gặp nhau và nhận xe hoặc giao xe tận nơi theo yêu cầu của bạn'})
- stepTut.push({'img': 'images/homev2/step-3.svg', 'title': 'Trải nghiệm chuyến đi', 'desc': 'Đã đến lúc bạn trải nghiệm chiếc xe yêu thích theo cách của chính mình'})
- stepTut.push({'img': 'images/homev2/step-4.svg', 'title': 'Kết thúc giao dịch', 'desc': 'Hoàn trả xe sau khi hoàn thành chuyến đi. Đừng quên rating và gửi nhận xét cho chủ xe nhé!'})

- var blogItem = []
- blogItem.push({'img': 'images/homev2/blog-1.jpg', 'title': 'Trải nghiệm du lịch Đà Lạt bằng dịch vụ thuê xe tự lái', 'shortDesc': 'Đà Lạt là thành phố du lịch rất nổi bật ở khu vực Tây Nguyên – Việt Nam.  Nằm cách thành phố Hồ Chí Minh chừng 300km, Đà Lạt là điểm dừng chân  tuyệt vời cho du khách.'})
//- - blogItem.push({'img': 'images/blog-2.jpg', 'title': 'Trải nghiệm du lịch Đà Lạt bằng dịch vụ thuê xe tự lái', 'shortDesc': 'Đà Lạt là thành phố du lịch rất nổi bật ở khu vực Tây Nguyên – Việt Nam.  Nằm cách thành phố Hồ Chí Minh chừng 300km, Đà Lạt là điểm dừng chân  tuyệt vời cho du khách.'})
//- - blogItem.push({'img': 'images/blog-3.jpg', 'title': 'Trải nghiệm du lịch Đà Lạt bằng dịch vụ thuê xe tự lái', 'shortDesc': 'Đà Lạt là thành phố du lịch rất nổi bật ở khu vực Tây Nguyên – Việt Nam.  Nằm cách thành phố Hồ Chí Minh chừng 300km, Đà Lạt là điểm dừng chân  tuyệt vời cho du khách.'})

- var newsItem = []
- newsItem.push({'img': 'images/homev2/news-1.png', 'logo': 'images/homev2/vn-express.png', 'title': '', 'shortDesc': ''})
- newsItem.push({'img': 'images/homev2/news-2.jpg', 'logo': 'images/homev2/dan-tri.png', 'title': '', 'shortDesc': ''})
- newsItem.push({'img': 'images/homev2/news-3.png', 'logo': 'images/homev2/genk.png', 'title': '', 'shortDesc': ''})


- var discover = 'discover.html';

.banner-home__sect(style="background-image: url(images/homev2/banner-1.jpg);")
	.insurance-partner
		p.lstitle ĐỐI TÁC BẢO HIỂM
		.partner-logo
			img.img-fluid(src="images/homev2/mic.png")
			img.img-fluid.g-care(src="images/global-care.png")
	.container
		h1.slogan
			| Thuê xe tự lái
			span.dash  -
			span.break  Tải ngay Mioto
		//- .inside.d-flex
		//-   .form-search.location.has-placeholder
		//-     //- .blah
		//-     //-   .lds-css
		//-     //-     .lds-ellipsis(style='width:100%;height:100%')
		//-     //-       div
		//-     //-         div
		//-     //-       div
		//-     //-         div
		//-     //-       div
		//-     //-         div
		//-     //-       div
		//-     //-         div
		//-     //-       div
		//-     //-         div
		//-     //-   .layer-loading
		//-     i.ic.ic-location-f
		//-     div
		//-       input( type="text" placeholder="Nhập thành phố, quận, địa chỉ...")
		//-     a.func-remove(href="")
		//-       i.ic.ic-remove
		//-   .form-search.has-timer
		//-     i.ic.ic-datepicker
		//-     div
		//-       span  21:00 24/07/2018 - 21:00 25/07/2018
		//-   .fn-search
		//-     a(href="!#").btn-search
		//-       i.ic.ic-search
		//-       span TÌM KIẾM

		//--- New search in cover (1/2019)
		.inside.d-flex.inside-new
			.form-search.location.has-placeholder
				label.home-label Địa điểm
				//- div(style="height: 24px")
				//- .blah
				//- 	.lds-css
				//- 		.lds-ellipsis(style='width:100%;height:100%')
				//- 			div
				//- 				div
				//- 			div
				//- 				div
				//- 			div
				//- 				div
				//- 			div
				//- 				div
				//- 			div
				//- 				div
				//- 	.layer-loading
				div
					input( type="text" placeholder="Nhập thành phố, quận, địa chỉ...")
			.form-search.has-timer
				label.home-label Bắt đầu
				.d-flex
					.wrap-input.home-datetimerange
						span
							| 25/01/2019
							i.i-chevron-down
					.wrap-select.home-select
						select
							option(value='0', disabled='', selected='') 07:30
							option(value='1') 08:30
							option(value='2') 09:30
							option(value='3') 10:30
							option(value='4') 11:30
						//- i.i-chevron-down
			.form-search.has-timer
				label.home-label Kết thúc
				.d-flex
					.wrap-input.home-datetimerange
						span
							| 27/01/2019
							i.i-chevron-down
					.wrap-select.home-select
						select
							option(value='0', disabled='', selected='') 07:30
							option(value='1') 08:30
							option(value='2') 09:30
							option(value='3') 10:30
							option(value='4') 11:30
						//- i.i-chevron-down
			.fn-search
				a(href="!#").btn-search
					i.ic.ic-search
					span TÌM KIẾM

		.swiper-container.swiper-banner.banner-promo__wrap
			.swiper-wrapper
				.swiper-slide
					.fix-img
						img(src='images/banners/promo-dl.jpg')
				.swiper-slide
					.fix-img
						img(src='images/banners/promo-dn.jpg')
				.swiper-slide
					.fix-img
						img(src='images/banners/monthly-promo.jpg')

.car-area__sect.has-insurance
	.m-container
		h3.title-car Xe giảm giá
		.swiper-button-next.next-recent-car
			i.i-arr
		.swiper-button-prev.prev-recent-car
			i.i-arr
		.swiper-container.swiper-recent-box
			.swiper-wrapper.box-car__wrap
				each car in moduleCars
					.swiper-slide.box-car__item
						.christmas-decor
							img(src="images/decorations/santa-claus.png" class="img-fluid")
						.item-car
							.img-car
								.fix-img
									img(src=`${car.img}`)
								.price-car
									span.real 1050K
									span.price!=car.price
							.desc-car
								.ratings
									span.star
										span.star_rate-num 5
										i.full
									.bar-line
									p.trips chuyến
								h2!=car.name
			.swiper-pagination.pagi-car


.destination__sect
	.m-container
		h3.n-title Địa điểm nổi bật
		.swiper-button-next.next-dest
			i.i-arr(style="background-image: url(images/homev2/right-arrow.png)")
		.swiper-button-prev.prev-dest
			i.i-arr(style="background-image: url(images/homev2/left-arrow.png)")
		.swiper-container.swiper-destination
			.swiper-wrapper.dest-item
				each desc in moduleDest
					.swiper-slide.dest-img
						a(href='/' + discover)
							.fix-img
								img(src=`${desc.img}`)
							h3
								| #{desc.title}
								span 500+ car
.car-area__sect
	.m-container
		h3.title-car Xe gần đây
		.swiper-button-next.next-recent-car
			i.i-arr
		.swiper-button-prev.prev-recent-car
			i.i-arr
		.swiper-container.swiper-recent-box
			.swiper-wrapper.box-car__wrap
				each car in moduleCars
					.swiper-slide.box-car__item
						//- .christmas-decor
						//-   img(src="images/homev2/santaclaus02.png" class="img-fluid")
						.img-car
							.fix-img
								img(src=`${car.img}`)
							.price-car
								span.real 1050K
								span.price!=car.price
						.desc-car
							.ratings
								span.star
									span.star_rate-num 5
									i.full
								.bar-line
								p.trips #{car.trips} chuyến
							h2!=car.name
			.swiper-pagination.pagi-car
//- .tutorial__sect(style="background-image: url(images/homev2/bg-1.jpg)")
.tutorial__sect
	.ex-container
		h3.n-title Hướng dẫn
		.step-box__wrap
			each step in stepTut
				.step-box__item
					.step-img
						.fix-img
							img(src=`${step.img}`)
					.step-detail
						h3!=step.title
						//- p!=step.desc
		.s-all
			p.see-all Xem Thêm
				i.ic.ic-chevron-right
.car-area__sect.no-pd-bottom
	.m-container
		h3.title-car Xe nổi bật
		.swiper-button-next.next-pf-car
			i.i-arr
		.swiper-button-prev.prev-pf-car
			i.i-arr
		.swiper-container.swiper-perfect-box
			.swiper-wrapper.box-car__wrap
				each car in moduleCars
					.swiper-slide.box-car__item
						.img-car
							.fix-img
								img(src=`${car.img}`)
							.price-car!=car.price
						.desc-car
							.ratings
								span.star
									span.star_rate-num 5
									i.full
								.bar-line
								p.trips #{car.trips} chuyến
							h2!=car.name
.car-area__sect
	.m-container
		h3.title-car Xe mới
		.swiper-button-next.next-new-car
			i.i-arr
		.swiper-button-prev.prev-new-car
			i.i-arr
		.swiper-container.swiper-new-box
			.swiper-wrapper.box-car__wrap
				each car in moduleCars
					.swiper-slide.box-car__item.item-car
						.img-car
							.fix-img
								img(src=`${car.img}`)
							.price-car!=car.price
							span.label-pos
								span.discount Giảm 30%
							.status-verify.status-ins
								span Bảo hiểm bởi
								img.img-fluid.logo-mic(src="images/logomic.png")
						.desc-car
							h2 #{car.name}
							.group-line.n-rating
								span.star
									span.star_rate-num 5
									i.full
								span 	&#8226   2 chuyến
								span 	&#8226   0.5 km
							.group-label.marginBottom-xs
								span Số tự động
								span Miễn phí giao xe
							.location
								p
									i.ic.ic-sm-car-location
									| Tân Bình, Hồ Chí Minh

.owner__sect(style="background-image: url(images/homev2/owner.jpg);")
	.ex-container
		.inner__wrap
			h2 Bạn muốn cho thuê xe tự lái
			p Trở thành đối tác của chúng tôi để có cơ hội kiếm thêm thu nhập hàng tháng.
			.has-2btn
				a.btn.btn-secondary.btn--m(href="#!") Tìm hiểu ngay
				a.btn.btn-primary.btn--m(href="#!") Đăng ký xe
.blog__sect
	.m-container
		h3.n-title Blog
		//- .swiper-button-next.next-blog
		//-   i.i-arr
		//- .swiper-button-prev.prev-blog
		//-   i.i-arr
		.swiper-container.swiper-blog
			.swiper-wrapper.blog__wrap
				mixin blog-item(blog)
					.swiper-slide.blog__item
						.blog-img
							.fix-img
								img(src=`${blog.img}`)
							.title-blog
								h3!=blog.title
						.blog-detail
							.bar-line
							.content
								p!=blog.shortDesc
							.group-info
								.time-post
									i.ic.ic-sm-time-post
									span 18/07/2018
								.s-all
									p.see-all Xem tiếp
										i.ic.ic-chevron-right
					.swiper-slide.blog__item
						.blog-detail
							.content
								p!=blog.shortDesc
							.group-info
								.time-post
									i.ic.ic-sm-time-post
									span 18/07/2018
								.s-all
									p.see-all Xem tiếp
										i.ic.ic-chevron-right
							.bar-line
						.blog-img
							.fix-img
								img(src=`${blog.img}`)
							.title-blog
								h3!=blog.title
					.swiper-slide.blog__item
						.blog-img
							.fix-img
								img(src=`${blog.img}`)
							.title-blog
								h3!=blog.title
						.blog-detail
							.bar-line
							.content
								p!=blog.shortDesc
							.group-info
								.time-post
									i.ic.ic-sm-time-post
									span 18/07/2018
								.s-all
									p.see-all Xem tiếp
										i.ic.ic-chevron-right
					.swiper-slide.blog__item
						.blog-detail
							.content
								p!=blog.shortDesc
							.group-info
								.time-post
									i.ic.ic-clock
									span 18/07/2018
								.s-all
									p.see-all Xem tiếp
										i.ic.ic-chevron-right
							.bar-line
						.blog-img
							.fix-img
								img(src=`${blog.img}`)
							.title-blog
								h3!=blog.title
				for blog in blogItem
					+blog-item(blog)
			.swiper-pagination.pagi-blog
.newspaper__sect(style="background-image: url(images/homev2/bg-news.png);")
	.m-container
		h3.n-title Báo chí nói về chúng tôi
		.swiper-container.swiper-news
			.swiper-wrapper.news-grid__wrap
				each item in newsItem
					.swiper-slide.news__item
						.news-img
							.fix-img
								img(src=`${item.img}`)
							.news-logo
								img(src=`${item.logo}`)
			.swiper-pagination.pagi-news
.down-app__sect(style="background-image: url(images/homev2/bg-app.png)")
	.ex-container
		.app-content
			h2 Ứng dụng cho điện thoại
			p Tải ngay ứng dụng tại App Store hoặc Google Play
			.store
				a.func-app(href="#!")
					img.responsive-img(src="images/appstore.png")
				a.func-app(href="#!")
					img.responsive-img(src="images/googleplay.png")
		.app-img
			img(src="images/homev2/app-4.png")
a(href="#!" class="app-link")
	.app-footer
		.left
			.fix-img
				img(src="images/appstore.png")
		.right
			p Trải nghiệm tốt hơn trên app Mioto
			//- button.func-remove
			//-   ic.ic.ic-remove-wh