block Home

- var moduleDeal = []
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'images/upload/car_2.png'})
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'images/upload/car_3.png'})
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'images/upload/car_4.png'})
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})

- var moduleDestination = []
- moduleDestination.push({'heroes':'Ho Chi Minh City', 'img':'images/upload/img_1.png'})
- moduleDestination.push({'heroes':'Nha Trang', 'img':'images/upload/img_2.png'})
- moduleDestination.push({'heroes':'Da Nang', 'img':'images/upload/img_3.png'})
- moduleDestination.push({'heroes':'Hoi An', 'img':'images/upload/img_4.png'})
- moduleDestination.push({'heroes':'Tay Bac', 'img':'images/upload/img_1.png'})


.cover
	.slogan
		h1 Thuê xe tự lái - Tải ngay Mioto!
		//- p Chọn xe của bạn ngay!
	.cover-container(style="background-image:url(images/banner_home.1aa27cfe.jpg)")
		//- .note
		//- 	p.new-year Chúc mừng năm mới 2018.
		//- 	p Mioto thông báo nghĩ Tết từ thứ ba 28 Tết đến hết mùng 5 Âm lịch.
		.inside
			.rent-car
				.lstitle
					i.ic.ic-car
					span Bạn cần thuê xe?
				.line-form
					label.label ĐỊA ĐIỂM
					.wrap-input.has-ico
						i.ic.ic-location-f
						input(type="text" placeholder="Hồ Chí Minh")
				.line-form.has-timer
					label.label THỜI GIAN
					.wrap-input
						input(type="text" placeholder="21:00 24/04/2018 - 20:00 25/04/2018")
						//span.value.placeholder 21:00 24/04/2018 - 20:00 25/04/2018
				.line-action
					a.cta-main(href="#!") FIND YOUR CAR
					i.i-arr

.module-destination
	span.title TOP DESTINATIONS
	.swiper-button-next
		i.i-arr
	.swiper-button-prev
		i.i-arr
	.swiper-container.swiper-destination
		.swiper-wrapper
			each moduleDestinationItem in moduleDestination
				.swiper-slide
					a.item-destination(href="#!")
						//- .img-destination(style=`background-image:url(${moduleDestinationItem.img})`)
						.img-destination
							.fix-img
								img(src=`${moduleDestinationItem.img}`)
							h2 #{moduleDestinationItem.heroes}

//- .not-your-typical
//- 	.wrap-img
//- 		img.responsive-img(src="images/img_car.jpg" alt=page)
//- 	.wrap-desc
//- 		.inside
//- 			span.title-desc Not your typical rental car ?
//- 			p Bypass the rental counter and rent unforgettable cars from friendly locals.
//- 			a.btn.btn-primary.btn--m(href="#!") Rent the perfect car
	//- .tutorial
		//- 	ul.tutorial-flow
		//- 		li
		//- 			span.step 1
		//- 			|Tìm Xe
		//- 		li
		//- 			span.step 2
		//- 			|Đặt Xe
		//- 		li
		//- 			span.step 3
		//- 			|Nhận Xe
		//- 		li
		//- 			span.step 4
		//- 			|Trả Xe

.not-your-typical.bg-promo(style="background-image:url(images/banner-7.png);")
	.wrapper__pr.m-container
		.wrap-promo
			h4.title-desc VUI HÈ THÁNG 7
			p.dt-code Giảm ngay 10% (tối đa 100.000đ/chuyến) khi nhập mã
			p.dt-code Bằng mã code
				span MI7
				|  từ Mioto
			p.note * Áp dụng đến hết ngày 31/07/2018
		//- a.btn.btn-primary.btn--m(href="#!") Tìm hiểu ngay
	//- .note-promo
	//- 	a(href="https://www.facebook.com/mioto.vn/" target="_blank") *Tham gia dự đoán tỉ số trận chung kết cúp C1 trên fanpage Mioto để có cơ hội nhận nhiều quà tặng hấp dẫn



//- .not-your-typical(style="background-image:url(images/img_car.jpg);")
//- 	.wrap-desc
//- 		.inside
//- 			span.title-desc Chỉ cần 5 phút!
//- 			p Thuê xe nhanh chóng, dễ dàng, mọi lúc mọi nơi.
//- 			a.btn.btn-primary.btn--m(href="#!") Tìm hiểu ngay


.module-deal
	span.title Today deals
	a.view-more(href="#!") See All <i class="i-arrow-right"></i>
	.swiper-button-next
		i.i-arr
	.swiper-button-prev
		i.i-arr
	.swiper-container.swiper-deal
		.swiper-wrapper
			each moduleDealItem in moduleDeal
				.swiper-slide
					.item-car(class=`${moduleDealItem.class}`)
						//- span.img-car(style="background-image:url(images/upload/car_1.png)")
						span.img-car
							.fix-img
								img(src="images/upload/car_1.png")
						.desc-car
							span.star
								span.star_rate-num 5
								i.full
							h2 #{moduleDealItem.heroes}
							p
								span <i class="ic ic-clock"></i> 2 trips
								span <i class="ic ic-tag"></i> $15/day
							a.btn.btn-primary.btn--m(href="#!") View Details

.module-explorer(style="background-image:url(images/bg-explore.jpg)")
	.explorer-container
		.inside
			h2 Bạn có muốn cho thuê xe tự lái
			p Maui helicopter tours are a great way to see the island from a different perspective and have a fun.
			a.btn.btn-primary.btn--m(href="#!") Explore More
//- .module-explorer(style="background-image:url(images/car-9.jpg)")
//- 	.explorer-container
//- 		.inside
//- 			h2 Bạn có muốn cho thuê xe tự lái
//- 			p Maui helicopter tours are a great way to see the island from a different perspective and have a fun.
//- 			a.btn.btn-primary.btn--m(href="#!") Explore More

.module-app
	.app-container
		.inside
			h4 Get the Apps
			p Maui helicopter tours are a great way to see the island.
			a.func-app(href="#!")
				img.responsive-img(src="images/appstore.png" alt=page)
			a.func-app(href="#!")
				img.responsive-img(src="images/googleplay.png" alt=page)
		.img
			img.responsive-img(src="images/iphone.png" alt=page)


a.func-filter.call(href="#!")
	i.ic.ic-filter.ic-call




