block LandingPage

- var moduleFeatures = []
- moduleFeatures.push({'img': 'images/homev2/features-1.jpg'})
- moduleFeatures.push({'img': 'images/homev2/features-2.jpg'})
- moduleFeatures.push({'img': 'images/homev2/features-3.jpg'})
- moduleFeatures.push({'img': 'images/homev2/features-4.jpg'})
- moduleFeatures.push({'img': 'images/homev2/features-5.jpg'})

- var moduleDest = []
- moduleDest.push({'title': 'Hồ Chí Minh', 'img':'images/homev2/hcm.jpg'})
- moduleDest.push({'title': 'Hà Nội', 'img':'images/homev2/ha-noi.jpg'})
- moduleDest.push({'title': 'Đà Nẵng', 'img':'images/homev2/da-nang.jpg'})
- moduleDest.push({'title': 'Đà Lạt', 'img':'images/homev2/da-lat.jpg'})
- moduleDest.push({'title': 'Nam Định', 'img':'images/homev2/nam-dinh.jpg'})
- moduleDest.push({'title': 'Ninh Thuận', 'img':'images/homev2/ninh-thuan.jpg'})
- moduleDest.push({'title': 'Quảng Ninh', 'img':'images/homev2/q-ninh.jpg'})
- moduleDest.push({'title': 'Hà Tĩnh', 'img':'images/homev2/ha-tinh.jpg'})
- moduleDest.push({'title': 'Hải Phòng', 'img':'images/homev2/hp.jpg'})
- moduleDest.push({'title': 'Long An', 'img':'images/homev2/longan.jpg'})
- moduleDest.push({'title': 'Đồng Nai', 'img':'images/homev2/dong-nai.jpg'})
- moduleDest.push({'title': 'Bình Phước', 'img':'images/homev2/binh-phuoc.jpg'})
- moduleDest.push({'title': 'Thanh Hóa', 'img':'images/homev2/thanh-hoa.jpg'})


- var stepTut = []
- stepTut.push({'img': 'images/homev2/step-1.svg', 'title': 'Đặt xe với Mioto', 'desc': 'Tìm kiếm ngay xe mà bạn ưng ý ngay tại đây hoặc qua app Mioto'})
- stepTut.push({'img': 'images/homev2/step-2.svg', 'title': 'Nhận xe hoặc giao tận nơi', 'desc': 'Bạn và chủ xe chủ động liên hệ gặp nhau và nhận xe hoặc giao xe tận nơi theo yêu cầu của bạn'})
- stepTut.push({'img': 'images/homev2/step-3.svg', 'title': 'Trải nghiệm chuyến đi', 'desc': 'Đã đến lúc bạn trải nghiệm chiếc xe yêu thích theo cách của chính mình'})
- stepTut.push({'img': 'images/homev2/step-4.svg', 'title': 'Kết thúc giao dịch', 'desc': 'Hoàn trả xe sau khi hoàn thành chuyến đi. Đừng quên rating và gửi nhận xét cho chủ xe nhé!'})

- var blogItem = []
- blogItem.push({'img': 'images/homev2/blog-1.jpg', 'title': 'Trải nghiệm du lịch Đà Lạt bằng dịch vụ thuê xe tự lái', 'shortDesc': 'Đà Lạt là thành phố du lịch rất nổi bật ở khu vực Tây Nguyên – Việt Nam.  Nằm cách thành phố Hồ Chí Minh chừng 300km, Đà Lạt là điểm dừng chân  tuyệt vời cho du khách.'})
//- - blogItem.push({'img': 'images/blog-2.jpg', 'title': 'Trải nghiệm du lịch Đà Lạt bằng dịch vụ thuê xe tự lái', 'shortDesc': 'Đà Lạt là thành phố du lịch rất nổi bật ở khu vực Tây Nguyên – Việt Nam.  Nằm cách thành phố Hồ Chí Minh chừng 300km, Đà Lạt là điểm dừng chân  tuyệt vời cho du khách.'})
//- - blogItem.push({'img': 'images/blog-3.jpg', 'title': 'Trải nghiệm du lịch Đà Lạt bằng dịch vụ thuê xe tự lái', 'shortDesc': 'Đà Lạt là thành phố du lịch rất nổi bật ở khu vực Tây Nguyên – Việt Nam.  Nằm cách thành phố Hồ Chí Minh chừng 300km, Đà Lạt là điểm dừng chân  tuyệt vời cho du khách.'})

- var newsItem = []
- newsItem.push({'img': 'images/homev2/news-1.png', 'logo': 'images/homev2/vn-express.png', 'title': '', 'shortDesc': ''})
- newsItem.push({'img': 'images/homev2/news-2.jpg', 'logo': 'images/homev2/dan-tri.png', 'title': '', 'shortDesc': ''})
- newsItem.push({'img': 'images/homev2/news-3.png', 'logo': 'images/homev2/genk.png', 'title': '', 'shortDesc': ''})

mixin blog-item(blog)
					.swiper-slide.blog__item
						.blog-img
							.fix-img
								img(src=`${blog.img}`)
							.title-blog
								h3!=blog.title
						.blog-detail
							.bar-line
							.content
								p!=blog.shortDesc
							.group-info
								.time-post
									i.ic.ic-sm-time-post
									span 18/07/2018
								.s-all
									p.see-all Xem tiếp
										i.ic.ic-chevron-right
					.swiper-slide.blog__item
						.blog-detail
							.content
								p!=blog.shortDesc
							.group-info
								.time-post
									i.ic.ic-sm-time-post
									span 18/07/2018
								.s-all
									p.see-all Xem tiếp
										i.ic.ic-chevron-right
							.bar-line
						.blog-img
							.fix-img
								img(src=`${blog.img}`)
							.title-blog
								h3!=blog.title
					.swiper-slide.blog__item
						.blog-img
							.fix-img
								img(src=`${blog.img}`)
							.title-blog
								h3!=blog.title
						.blog-detail
							.bar-line
							.content
								p!=blog.shortDesc
							.group-info
								.time-post
									i.ic.ic-sm-time-post
									span 18/07/2018
								.s-all
									p.see-all Xem tiếp
										i.ic.ic-chevron-right
					.swiper-slide.blog__item
						.blog-detail
							.content
								p!=blog.shortDesc
							.group-info
								.time-post
									i.ic.ic-clock
									span 18/07/2018
								.s-all
									p.see-all Xem tiếp
										i.ic.ic-chevron-right
							.bar-line
						.blog-img
							.fix-img
								img(src=`${blog.img}`)
							.title-blog
								h3!=blog.title

//- .notification(data-animation="animate__animated animate__fadeInUp")
//- 	.notification_icon.fix-img
//- 		img.img-fluid(src="images/notification/gift.png" alt="Gift")
//- 	.notification_content
//- 		h3 Lộ trình nổi bật
//- 		p Thuê xe có tài 4 chỗ lộ trình 1 chiều 
//- 			strong Bình Dương - Vũng Tàu 
//- 			| (4h) giá chỉ từ 
//- 			strong 1000k.
//- 	include ../../images/union.svg


//- .notification(style="bottom: 160px", data-animation="animate__animated animate__fadeInUp")
//- 	.notification_icon.fix-img
//- 		img.img-fluid(src="images/notification/bell.png" alt="Bell")
//- 	.notification_content
//- 		h3 Khách thuê hủy chuyến
//- 		p Khách thuê ABC đã hủy chuyến đi XYZ, xe 51G-12345, t2 02/11/2020. Khách thuê ABC đã hủy chuyến đi XYZ, xe 51G-12345, t2 02/11/2020. Khách thuê ABC đã hủy chuyến đi XYZ, xe 51G-12345, t2 02/11/2020.
//- 			| Khách thuê ABC đã hủy chuyến đi XYZ, xe 51G-12345, t2 02/11/2020. Khách thuê ABC đã hủy chuyến đi XYZ, xe 51G-12345, t2 02/11/2020.
//- 	include ../../images/union.svg

.banner-home__sect.wd__sect.landing-page(style="background-image: url(images/background/bg-try4.jpg);")
	.insurance-partner
		p.lstitle ĐỐI TÁC BẢO HIỂM
		.partner-logo
			.partner-logo__image
				img.img-fluid(src="images/global-care.png")
			.partner-logo__image.mic
				img.img-fluid(src="images/homev2/mic.png")
			.partner-logo__image
				img.img-fluid.pjico(src="images/pjico.png")
		//- .partner-logo
		//- 	img.img-fluid(src="images/homev2/mic.png")
		//- 	img.img-fluid.g-care(src="images/global-care.png")
	.container
		h1.slogan.landing-text
			| MIOTO
			span.dash  -
			span.break  ỨNG DỤNG CHO THUÊ XE
		.search-by-service__container
			.search-by-service__wrapper
				.tabs-left
					a(href="#!").active
						.service-box
							i.ict.ict-selfdrive
							p Xe tự lái
					a(href="#!")
						.service-box 
							i.ict.ict-withdriver
							p Xe có tài
					a(href="#!")
						.service-box 
							i.ict.ict-withdriver
							p Bảo hiểm xe
				.search-by-service__box
					.wd-search.hidden
						.wd-search__wrapper
							.form-search.location.has-placeholder
								label.home-label Địa điểm
								//- div(style="height: 24px")
								//- .blah
								//- 	.lds-css
								//- 		.lds-ellipsis(style='width:100%;height:100%')
								//- 			div
								//- 				div
								//- 			div
								//- 				div
								//- 			div
								//- 				div
								//- 			div
								//- 				div
								//- 			div
								//- 				div
								//- 	.layer-loading
								.wrap-input
									i.ic.ic-location-f
									div
										input( type="text" placeholder="Nhập thành phố, quận, địa chỉ...")
							.form-search.has-timer
								label.home-label Bắt đầu
								.d-flex
									.wrap-input.home-datetimerange
										span
											| 25/01/2019
											i.i-chevron-down
									.wrap-select.home-select
										select
											option(value='0', disabled='', selected='') 07:30
											option(value='1') 08:30
											option(value='2') 09:30
											option(value='3') 10:30
											option(value='4') 11:30
										//- i.i-chevron-down
							.form-search.has-timer
								.d-flex
									.wrap-input.home-datetimerange
										span
											| 27/01/2019
											i.i-chevron-down
									.wrap-select.home-select
										select
											option(value='0', disabled='', selected='') 07:30
											option(value='1') 08:30
											option(value='2') 09:30
											option(value='3') 10:30
											option(value='4') 11:30
										//- i.i-chevron-down
							.fn-search
								a(href="!#").btn.btn--m.btn-search-car
									i.ic.ic-search
									span TÌM KIẾM

					//--- Search car driver
					.wd-search
						.wd-search__wrapper
							.form-search.location.has-placeholder
								//- .line-radio.d-flex
								//- 	label.custom-control
								//- 		input(type="radio" name="setting-mode" class="custom-control-input")
								//- 		span.custom-control-indicator
								//- 		span.custom-control-description
								//- 			|Nội thành
								//- 	label.custom-control
								//- 		input(type="radio" name="setting-mode" class="custom-control-input")
								//- 		span.custom-control-indicator
								//- 		span.custom-control-description
								//- 			|Liên tỉnh
								.tab-opt-route.home
									a(href="#!" class="opt-route")
										| Nội thành
									a(href="#!" class="opt-route active")
										| Liên tỉnh

								.width-100
									label.home-label Lộ trình
									.wrap-input
										i.ic.ic-location-f
										div
											input( type="text" placeholder="Nhập thành phố, quận, địa chỉ...")
									.line-form
										.squaredFour.have-label
											input(id="checked1" type="checkbox")
											label.home(for="checked1") Tôi muốn đi một chiều
									p.delivery-at-start.home 
										i.ic.ic-delivery-at-start
										| Trả tại điểm đón
									p.notice
										| Di chuyển trong thành phố.
										a(href="#!") Tìm hiểu thêm
									.wrap-input
										i.ic.ic-sm-circle-fill
										div
											input( type="text" placeholder="Thêm lộ trình")
										i.ic.ic-remove-fill
									.wrap-input
										i.ic.ic-sm-circle-fill
										div
											input( type="text" placeholder="....")
										i.ic.ic-remove-fill
									.wrap-input
										i.ic.ic-location-f
										div
											input( type="text" placeholder="...")
									.wrap-input.add-address
										i.ic.ic-plus-fill
										span Thêm điểm nếu đi xa
								//- .form-search.total-addr
								//- 	label.home-label.w-2 Tổng số km
								//- 	span.total 1000km

								//- option 1
							.form-search.has-timer.option1.start-time-wd
								label.home-label Thời gian
								.d-flex
									.wrap-input.home-datetimerange
										span
											| 25/01/2019
											i.i-chevron-down
									.wrap-select.home-select.timedatarange
										select
											option(value='0', disabled='', selected='') 07:30
											option(value='1') 08:30
											option(value='2') 09:30
											option(value='3') 10:30
											option(value='4') 11:30
									.pick-time-until
										label.home-label Trong vòng
										.time-selection
											span.selected 4 tiếng
											i.i-chevron-down
											.options
												label.custom-radio-input.custom-control
													input(type="radio" name="payment" class="custom-control-input" checked="checked")
													span.custom-control-indicator
													span.custom-control-description 4 tiếng&nbsp;
														span.extra-info (thời gian kết thúc: 20:00, 03/06/2020)
												label.custom-radio-input.custom-control
													input(type="radio" name="payment" class="custom-control-input")
													span.custom-control-indicator
													span.custom-control-description 4 tiếng&nbsp;
														span.extra-info (thời gian kết thúc: 20:00, 03/06/2020) 
												label.custom-radio-input.custom-control
													input(type="radio" name="payment" class="custom-control-input")
													span.custom-control-indicator
													span.custom-control-description 4 tiếng&nbsp;
														span.extra-info (thời gian kết thúc: 20:00, 03/06/2020) 
												label.custom-radio-input.custom-control
													input(type="radio" name="payment" class="custom-control-input")
													span.custom-control-indicator
													span.custom-control-description 4 tiếng&nbsp;
														span.extra-info (thời gian kết thúc: 20:00, 03/06/2020)
												label.custom-radio-input.custom-control
													input(type="radio" name="payment" class="custom-control-input")
													span.custom-control-indicator
													span.custom-control-description 4 tiếng&nbsp;
														span.extra-info (thời gian kết thúc: 20:00, 03/06/2020)
												label.custom-radio-input.custom-control
													input(type="radio" name="payment" class="custom-control-input")
													span.custom-control-indicator
													span.custom-control-description 4 tiếng&nbsp;
														span.extra-info (thời gian kết thúc: 20:00, 03/06/2020)
												label.custom-radio-input.custom-control
													input(type="radio" name="payment" class="custom-control-input")
													span.custom-control-indicator
													span.custom-control-description 4 tiếng&nbsp;
														span.extra-info (thời gian kết thúc: 20:00, 03/06/2020)
												label.custom-radio-input.custom-control
													input(type="radio" name="payment" class="custom-control-input")
													span.custom-control-indicator
													span.custom-control-description 4 tiếng&nbsp;
														span.extra-info (thời gian kết thúc: 20:00, 03/06/2020)
												label.custom-radio-input.custom-control
													input(type="radio" name="payment" class="custom-control-input")
													span.custom-control-indicator
													span.custom-control-description 4 tiếng&nbsp;
														span.extra-info (thời gian kết thúc: 20:00, 03/06/2020)
												label.custom-radio-input.custom-control
													input(type="radio" name="payment" class="custom-control-input")
													span.custom-control-indicator
													span.custom-control-description 4 tiếng&nbsp;
														span.extra-info (thời gian kết thúc: 20:00, 03/06/2020)
												label.custom-radio-input.custom-control
													input(type="radio" name="payment" class="custom-control-input")
													span.custom-control-indicator
													span.custom-control-description 4 tiếng&nbsp;
														span.extra-info (thời gian kết thúc: 20:00, 03/06/2020)
												label.custom-radio-input.custom-control
													input(type="radio" name="payment" class="custom-control-input")
													span.custom-control-indicator
													span.custom-control-description Tùy chỉnh
							.form-search.has-timer.disabled
								.d-flex
									.wrap-input.home-datetimerange
										p.d-flex
											| Thời gian kết thúc
											span.marginLeft-xs
												| 01:00 05/07/2020
							.form-search.has-timer.end-time-wd
								//- label.home-label Kết thúc
								.d-flex
									.wrap-input.home-datetimerange
										span
											| 27/01/2019
											i.i-chevron-down
									.wrap-select.home-select
										select
											option(value='0', disabled='', selected='') 07:30
											option(value='1') 08:30
											option(value='2') 09:30
											option(value='3') 10:30
											option(value='4') 11:30
							.fn-search
								a(href="!#").btn.btn--m.btn-search-car
									i.ic.ic-search
									span TÌM KIẾM
		.swiper-container.swiper-banner.banner-promo__wrap
			.swiper-wrapper
				.swiper-slide
					.fix-img
						img(src='images/banners/banner1.jpg')
				.swiper-slide
					.fix-img
						img(src='images/banners/banner2.jpg')
				.swiper-slide
					.fix-img
						img(src='images/banners/banner3.jpg')
				.swiper-slide
					.fix-img
						img(src='images/banners/banner4.jpg')
			.swiper-pagination


.features__sect.has-insurance
	.m-container
		h3.title-car Tính năng nổi bật
		.swiper-button-next.next-ft
			i.i-arr
		.swiper-button-prev.prev-ft
			i.i-arr
		.swiper-container.swiper-features
			.swiper-wrapper.feature-item
				each item in moduleFeatures
					.swiper-slide.feature-img
						.fix-img
							img(src=`${item.img}`)

.tutorial__sect
	.ex-container
		h3.n-title Hướng dẫn
		.step-box__wrap
			each step in stepTut
				.step-box__item
					.step-img
						.fix-img
							img(src=`${step.img}`)
					.step-detail
						h3!=step.title
						//- p!=step.desc
		.s-all
			p.see-all Xem Thêm
				i.ic.ic-chevron-right

.destination__sect
	.m-container
		h3.title-car  Địa điểm nổi bật - xe tự lái
		.swiper-button-next.next-sd-dest
			i.i-arr
		.swiper-button-prev.prev-sd-dest
			i.i-arr
		.swiper-container.swiper-sd-destination
			.swiper-wrapper.dest-item
				each desc in moduleDest
					.swiper-slide.dest-img.box-car__item
						//- .christmas-decor
						//- 	img(src="images/decorations/bell.png" class="img-fluid")
						a(href='/' + discover)
							.fix-img
								img(src=`${desc.img}`)
							h3
								| #{desc.title}
								span 500+ car
	//- .left-decoration
	//- 	img(src="images/decorations/left-spring.svg" class="img-fluid")

.destination__sect.wd-dest
	.m-container
		h3.title-car  Địa điểm nổi bật - xe có tài
		.swiper-button-next.next-wd-dest
			i.i-arr
		.swiper-button-prev.prev-wd-dest
			i.i-arr
		.swiper-container.swiper-wd-destination
			.swiper-wrapper.dest-item
				each desc in moduleDest
					.swiper-slide.dest-img.box-car__item
						.christmas-decor
							//- include ../../images/decorations/bell.svg
							img(src="images/decorations/bell.png" class="img-fluid")
						a(href='/' + discover)
							.fix-img
								img(src=`${desc.img}`)
							h3
								| #{desc.title}
								span 500+ car
	//- .right-decoration
	//- 	img(src="images/decorations/right-bot.svg" class="img-fluid")


.owner__sect(style="background-image: url(images/homev2/owner.jpg);")
	.ex-container
		.inner__wrap
			h2 Bạn muốn cho thuê xe tự lái
			p Trở thành đối tác của chúng tôi để có cơ hội kiếm thêm thu nhập hàng tháng.
			.has-2btn
				a.btn.btn-secondary.btn--m(href="#!") Tìm hiểu ngay
				a.btn.btn-primary.btn--m(href="#!") Đăng ký xe

.blog__sect
	.blog__background
		include ../../images/homev2/white-dots.svg
	.m-container
		h3.n-title Blogs
		.swiper-button-next.next-blog
			i.i-arr
		.swiper-button-prev.prev-blog
			i.i-arr
		.swiper-container.swiper-blog
			.swiper-wrapper.blog__wrap-v2
				mixin blog-itemv2(blog)
					.swiper-slide.blog__item
						.blog-img
							.fix-img
								img(src=`${blog.img}`)
							.title-blog
								h3!=blog.title
								.overlay
						.blog-detail
							.content
								p!=blog.shortDesc
							.group-info
								.blog-CTA
									p Xem tiếp
										include ../../images/ic-svg/ic_arrow_next.svg
					.swiper-slide.blog__item
						.blog-img
							.fix-img
								img(src=`${blog.img}`)
							.title-blog
								h3!=blog.title
								.overlay
						.blog-detail
							.content
								p!=blog.shortDesc
							.group-info
								.blog-CTA
									p Xem tiếp
										include ../../images/ic-svg/ic_arrow_next.svg
					.swiper-slide.blog__item
						.blog-img
							.fix-img
								img(src=`${blog.img}`)
							.title-blog
								h3!=blog.title
								.overlay
						.blog-detail
							.content
								p!=blog.shortDesc
							.group-info
								.blog-CTA
									p Xem tiếp
										include ../../images/ic-svg/ic_arrow_next.svg
					.swiper-slide.blog__item
						.blog-img
							.fix-img
								img(src=`${blog.img}`)
							.title-blog
								h3!=blog.title
						.blog-detail
							.content
								p!=blog.shortDesc
							.group-info
								.blog-CTA
									p Xem tiếp
										include ../../images/ic-svg/ic_arrow_next.svg
					.swiper-slide.blog__item
						.blog-img
							.fix-img
								img(src=`${blog.img}`)
							.title-blog
								h3!=blog.title
						.blog-detail
							.content
								p!=blog.shortDesc
							.group-info
								.blog-CTA
									p Xem tiếp
										include ../../images/ic-svg/ic_arrow_next.svg
					.swiper-slide.blog__item
						.blog-img
							.fix-img
								img(src=`${blog.img}`)
							.title-blog
								h3!=blog.title
						.blog-detail
							.content
								p!=blog.shortDesc
							.group-info
								.blog-CTA
									p Xem tiếp
										include ../../images/ic-svg/ic_arrow_next.svg
				for blog in blogItem
					+blog-itemv2(blog)
			.swiper-pagination.pagi-blog
.newspaper__sect(style="background-image: url(images/homev2/bg-news.png);")
	.m-container
		h3.n-title Báo chí nói về chúng tôi
		.swiper-container.swiper-news
			.swiper-wrapper.news-grid__wrap
				each item in newsItem
					.swiper-slide.news__item
						.news-img
							.fix-img
								img(src=`${item.img}`)
							.news-logo
								img(src=`${item.logo}`)
			.swiper-pagination.pagi-news
.down-app__sect(style="background-image: url(images/homev2/background.svg)")
	img.down-app-1(src="images/homev2/phone-1.png")
	img.down-app-2(src="images/homev2/phone-2.png")
	.ex-container
		.app-content
			h2 Ứng dụng cho điện thoại
			p Tải ngay ứng dụng tại App Store hoặc Google Play
			.store
				a.func-app(href="#!")
					img.responsive-img(src="images/googleplay.png")
				a.func-app(href="#!")
					img.responsive-img(src="images/appstore.png")
//- a(href="#!" class="app-link")
//- 	.app-footer
//- 		.left
//- 			.fix-img
//- 				img(src="images/appstore.png")
//- 		.right
//- 			p Trải nghiệm tốt hơn trên app Mioto
