- var messenge = []
//- - messenge.push({'sender':'1', 'type':'0', 'mess':'Lorem ipsum', 'img':'', 'time': '10:48, 17 Th8'}, {'sender':'0', 'type':'0', 'mess':'Lorem ipsum', 'status':'1', 'img':'', 'send':'0'}, {'sender':'0', 'type':'0', 'mess':'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Habitasse tincidunt nunc', 'status':'0', 'img':'', 'send':'0'})
//- - messenge.push({'sender':'1', 'type':'0', 'mess':'Lorem ipsum', 'img':'', 'time': '10:48, 17 Th8'}, {'sender':'0', 'type':'0', 'mess':'Lorem ipsum', 'status':'1', 'img':'', 'send':'0'}, {'sender':'0', 'type':'0', 'mess':'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Habitasse tincidunt nunc', 'status':'0', 'img':'', 'send':'0'}, {'sender':'0', 'type':'1', 'mess':'', 'status':'1', 'img':'images/img_car.png', 'send':'0'}, {'sender':'1', 'type':'0', 'mess':'Lorem ipsum', 'img':'', 'time': '10:48, 17 Th8'}, {'sender':'0', 'type':'0', 'mess':'Lorem ipsum', 'status':'1', 'img':'', 'send':'0'}, {'sender':'1', 'type':'0', 'mess':'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Habitasse tincidunt nunc ', 'img':'', 'time': '10:48, 17 Th8'}, {'sender':'0', 'type':'0', 'mess':'Lorem ipsum dolor sit amet', 'status':'0', 'img':'', 'send':'0'}, {'sender':'0', 'type':'0', 'mess':'Lorem ipsum', 'status':'1', 'img':'', 'send':'0'}, {'sender':'1', 'type':'0', 'mess':'Lorem ipsum', 'img':'', 'time': '10:48, 17 Th8'}, {'sender':'0', 'type':'0', 'mess':'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Habitasse tincidunt nunc ', 'status':'1', 'img':'', 'send':'1'})

div(style="background-color: #e8eaef")
  .body-container
    .main-container
      .sidebar-mess
        h6.header-mess TRÒ CHUYỆN
        .msg-item 
          .msg-item__avt
            img.img-fluid(src="images/avatar_default.png")
          .msg-item__content 
            .msg-item__title
              p.name Nguyễn Văn B 
              .number-plate 51G-12345
      .content-mess
        .mess
          .header-mess 
            .detail-owner
              img(src="images/avatar_default.png")
              p.name Nguyễn Văn B
          .body-mess 
            if messenge.length == 0
              .blank
                include ../../images/blank.svg
                //- img(src="images/blank.svg")
                strong Bạn chưa có tin nhắn nào
            else
              div
                each mess in messenge
                  if (mess.sender==1) 
                    .time-mess 
                      p=mess.time
                    .sender
                      .avatar-sender
                        img(src="images/avatar_default.png")
                      p= mess.mess
                      //- .mess-img
                        //- img(src="images/img_car.jpg")
                        //- img(src="images/img_car.png")
                  else
                    .receiver
                      if (mess.type==0)
                        p= mess.mess
                      else 
                        .mess-img
                          //- img(src=mess.img)
                          img(src="images/img_car.jpg")
                          img(src=mess.img)
                          img(src=mess.img)
                      if mess.send==1
                        .unsend
                      else 
                        .send
            .down-arrow
              img(src="images/ic-svg/down-arrow.svg")
          .mess-input
            //- .mess-container
            .ic-camera
            input(type="text" placeholder="Nhắn tin...") 
            .ic-send