.b-container 
  max-width: 870px
  margin: 0 auto
  @media (max-width: 1399px)
    max-width: 770px 
  @media (max-width: 991px) 
    max-width: 540px
    padding: 0px
  @media (max-width: 576px) 
    max-width: none
    padding: 0 15px
a.btn-back-list 
  position: absolute
  z-index: 2
  top: 1.5%
  transform: rotate(180deg)
  left: 5%
  @media (max-width: 991px)
    top: 1.6% 
  @media (max-width: 767px)
    display: none
  .i-arr-left-dark
    display: inline-block
    background: url(../images/arr_right_dark.png) 0 0 no-repeat
    background-size: cover
    width: 36px
    height: 23px
    @media (max-width: 1399px)
      transform: scale(.85)
    @media (max-width: 991px)
      transform: scale(.75)
.blog-list__sect, .blog-detail__sect
  position: relative
  padding-bottom: 120px
  @media (max-width: 576px)
    padding-bottom: 60px
  > .m-container 
    max-width: 1260px
    @media (max-width: 1399px)
      max-width: 960px 
    @media (max-width: 1199px) 
      max-width: 720px
    @media (max-width: 767px) 
      max-width: 540px
      padding: 0px
    @media (max-width: 576px) 
      max-width: none
      padding: 0 15px
  .blog-list__title, .blog-detail__title 
    height: 18vw 
    background-size: cover 
    background-position: bottom 
    background-repeat: no-repeat
    background-position: center 80%
    position: relative
    @media (max-width: 1199px)
      height: 20vw
    @media (max-width: 991px)
      height: 30vw
    @media (max-width: 480px)
      height: 45vw 
    &:before 
      content: '' 
      position: absolute 
      width: 100% 
      height: 100% 
      top: 0 
      left: 0
      background: rgba(0,0,0,.45)
      z-index: 0 
    .m-container 
      height: 100% 
      @extend .d-flex 
      position: relative
      z-index: 1
    h4.blog-title, h4.entry-title
      font-weight: 700 
      color: #fff
      @media (max-width: 767px)
        font-size: 1.5rem
  .blog-list__wrap 
    @extend %d-flex 
    flex-wrap: wrap
    padding: 80px 0 
    @media (max-width: 1199px)
      padding: 60px 0 
    @media (max-width: 767px)
      padding: 40px 0
    .blog-list__item 
      width: calc(50% - 1.25rem)
      margin-right: 2.5rem 
      position: relative
      &:hover, &:focus 
        cursor: pointer
      &:not(:first-child), &:not(:nth-child(2))
        margin-top: 2.5rem
        @media (max-width: 767px)
          margin-top: 1.5rem
      &:first-child   
        @media (max-width: 767px)
          margin-top: 0rem
      &:nth-child(2n)
        margin-right: 0
      @media (max-width: 1199px)
        width: calc(50% - .75rem)
        margin-right: 1.5rem 
      @media (max-width: 767px)
        width: 100% 
        margin-right: 0 
      .blog-list-img 
        position: relative
        transition: all .3s ease 
        margin-bottom: 1rem
        &:hover, &:focus 
          cursor: pointer
          &:before 
            content: ''
            position: absolute 
            top: 0 
            left: 0 
            width: 100% 
            height: 100% 
            background: rgba(0,0,0,.1)
            z-index: 1
      .fix-img
        padding-bottom: 56.25%
        position: relative 
        overflow: hidden
        z-index: 0
      .title-blog 
        h3 
          font-size: 1.5rem
          color: #141414
          font-weight: 700
          line-height: 32px
          &:hover, &:focus 
            cursor: default
          @media (max-width: 1399px)
            font-size: 1.125rem
            line-height: 26px
          @media (max-width: 576px)
            font-size: 1rem
      .bar-line 
        width: 10vw
        height: 2px
        background: $color-main 
        margin-top: 1rem 
        margin-bottom: 1rem 
        @media (max-width: 767px)
          width: 30vw
      p.short-desc 
        overflow: hidden
        text-overflow: ellipsis
        display: block
        display: -webkit-box!important
        line-height: 24px
        max-height: 96px
        -webkit-line-clamp: 4
        -webkit-box-orient: vertical
        word-break: break-word 
        margin-bottom: .5rem
        @media (max-width: 576px)
          font-size: 13px
        &:hover, &:focus 
          cursor: default  
      .group-info
        width: 100%
        @extend .d-flex
        justify-content: space-between 
        .time-post 
          span 
            font-size: 13px
            color: $color-main
            margin-left: 5px
        .s-all 
          padding-top: 0px  
          .see-all 
            @media (max-width: 576px)
              font-size: 12px                                       

//=== Blog Detail
.blog-detail__title 
  h4.entry-title 
    text-align: center
    max-width: 85%
.blog-detail__wrap 
  position: relative
  padding-top: 60px
  @media (max-width: 576px)
    padding-top: 45px
  .time-post 
    margin-bottom: 1rem
    // @media (max-width: 576px)
    //   margin-bottom: 0px
    span 
      font-size: 13px
      color: $color-main
      margin-left: 5px
  .bar-line 
    width: 10vw
    height: 2px
    background: $color-main 
    margin-top: 1rem 
    margin-bottom: 1rem 
    @media (max-width: 767px)
      width: 30vw
  .content-container 
    .entry-content  
      white-space: pre-line
    p 
      // margin-bottom: 2rem 
      text-align: justify
      @media (max-width: 576px)
        font-size: .875rem 
    ul 
      list-style: disc!important
      li 
        margin-left: 25px
        // margin-bottom: 1rem
        list-style: disc!important
        @media (max-width: 576px)
          font-size: .875rem 
        &:last-childs
          margin-bottom: 2rem
    img 
      max-width: 100% 
      height: auto
      margin: 0 auto 
  .block-separator
    width: 100%
    max-width: 100%
    margin-top: 45px
    margin-bottom: 25px
    position: relative
    text-align: center
    height: auto
    border: none
    @media (max-width: 576px)
      margin-top: 25px
      margin-bottom: 15px
    &:before 
      content: '...'
      display: inline-block
      margin-left: .6em
      color: rgba(0, 0, 0, 0.54)
      position: relative
      top: -30px
      font-weight: 400
      font-size: 30px
      letter-spacing: .6em
  .relevant-blog, .relevant-car
    h4.title 
      margin-bottom: 1.5rem
      @media (max-width: 576px)
        font-size: .875rem
    ul.relevant-list 
      li 
        margin-bottom: 1rem
    .post-list 
      background: #f7f8fb 
      padding: 5px
      display: flex
      align-items: center
      &:hover, &:focus 
        background-color: shade(#f7f8fb, 2%)
        cursor: pointer
      .post-img 
        width: 80px
        height: 45px
        @media (max-width: 576px)
          width: 60px 
          height: 36px
        .fix-img 
          overflow: hidden
          padding-bottom: 56%
          @media (max-width: 576px)
            min-height: 36px
      .post-title 
        padding-left: 1.5rem
        max-width: calc( 100% - 85px )
        @media (max-width: 991px)
          width: 80%
        @media (max-width: 576px)
          padding-left: .75rem
        h4 
          font-size: .875rem
          font-weight: bold
          max-width: 100%
          display: block
          overflow: hidden
          -o-text-overflow: ellipsis
          text-overflow: ellipsis
          white-space: nowrap
          word-wrap: normal
          @media (max-width: 576px)
            font-size: .75rem
          
  .relevant-car 
    padding-top: 2.5rem
    .post-list 
      width: 55% 
      padding: 0
      background: #e8eaef
      @media (max-width: 991px)
        width: 100%
      .post-img 
        width: 150px
        height: 84px
        @media (max-width: 576px)
          width: 150px
          height: 84px
        .fix-img 
          min-height: 84px
          @media (max-width: 576px)
            min-height: 84px
      .post-title 
        h4 
          font-size: 1rem 
        p 
          font-size: .875rem