.cancel-policy {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  padding: 36px 72px;
  background: #ffffff;
  line-height: 24px;
  @media (max-width: 991px) {
    padding: 36px;
  }
  @media (max-width: 767px) {
    padding: 15px;
    flex-direction: column;
  }
  h5 {
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .note-gray {
    margin-top: 20px;
    font-size: 14px;
    color: #6e6e6e;
    @media (max-width: 767px) {
      font-size: 12px;
    }
  }
  .note-red {
    margin-top: 20px;
    font-size: 14px;
    color: #f44336;
    @media (max-width: 767px) {
      font-size: 12px;
    }
  }

  .canceler {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    @media (max-width: 767px) {
      width: 100%;
      padding: 0 36px;
      &:first-of-type {
        margin-bottom: 50px;
      }
    }
    @media (max-width: 480px) {
      padding: 0;
    }
    h6 {
      font-size: 14px;
      font-weight: 500;
      width: 100%;
      margin-bottom: 20px;
    }
    &__select {
      img {
        height: 24px;
        width: auto;
        @media (max-width: 480px) {
          height: 18px;
        }
      }
    }
    .time-1 {
      img {
        margin-top: 56px;
      }
    }
    .time-2 {
      img {
        margin-top: 170px;
      }
    }
    .time-3 {
      img {
        margin-top: 280px;
      }
    }

    .include-select {
      padding: 0 10px;
      width: 15%;
      @media (max-width: 480px) {
        width: 10%;
      }
    }

    &__graph {
      display: flex;
      flex-direction: column;
      padding: 0 10px 0 50px;
      justify-content: center;
      align-items: center;
      width: 25%;
      @media (max-width: 767px) {
        padding: 0 10px 0 20px;
        width: 15%;
      }

      .circle-green {
        background-color: #4cc084;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 3px solid #ffffff;
        outline: 2px solid #4cc084;
      }

      .circle-gray {
        background-color: #999999;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 3px solid #ffffff;
        outline: 2px solid #999999;
      }

      .circle-black {
        background-color: #5a5a5a;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 3px solid #ffffff;
        outline: 2px solid #5a5a5a;
      }
      .line-green {
        width: 4px;
        height: 100px;
        background: #4cc084;
      }
      .line-gray {
        width: 4px;
        height: 100px;
        background: #999999;
      }
    }

    &__content {
      width: 218px;
      .timer {
        font-size: 14px;
      }
      .deposit {
        text-align: center;
        color: #ffffff;
        font-size: 12px;
        padding: 10px;
        background-color: #4cc084;
        border-radius: 4px;
        margin: 22px 0;
      }
      .gray-point {
        background-color: #999999;
      }
      .black-point {
        background-color: #5a5a5a;
      }
    }
  }
}

.policyy {
  padding-left: 65px;
  margin-bottom: 20px;
  width: 80%;
  .timer {
    font-size: 14px;
    &::before {
      content: "";
      background-color: #999999;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      display: inline-flex;
      border: 3px solid #ffffff;
      outline: 2px solid #999999;
      margin-right: 20px;
    }
    &:first-child {
      &::before {
        border: 3px solid #ffffff;
        outline: 2px solid #4cc084;
        background-color: #4cc084;
      }
    }
    &:nth-child(5) {
      &::before {
        border: 3px solid #ffffff;
        outline: 2px solid #5a5a5a;
        background-color: #5a5a5a;
      }
    }
    &:last-child {
      margin-left: 35px;
      &::before {
        display: none;
      }
    }
  }
  .deposit {
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
    background-color: #4cc084;
    border-radius: 4px;
    margin: 22px 0;
    position: relative;
  }
  .gray-point {
    background-color: #999999;
  }
  .black-point {
    background-color: #5a5a5a;
  }
  .graph {
    position: relative;
    margin-left: 35px;
    svg {
      position: absolute;
      left: -43px;
      top: -25px;
      height: 112px;
    }
    &::before {
      content: "";
      // display: inline-flex;
      position: absolute;
      width: 4px;
      height: 94px;
      // background-color: #5a5a5a;
      left: -30px;
      top: -24px;
    }
    &:nth-child(2) {
      &::before {
        background-color: #4cc084;
      }
    }
    &:nth-child(4) {
      &::before {
        background-color: #999999;
      }
    }
    &:nth-child(6) {
      &::before {
        display: none;
      }
    }
  }
}

.canceler__graph-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 50px;
  align-items: center;
  width: 25%;
  @media (max-width: 767px) {
    padding: 0 10px 0 20px;
    width: 15%;
  }
  .circle-line-green {
    background-color: #4cc084;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    outline: 2px solid #4cc084;
    position: relative;
    top: 7px;
    &::after {
      content: "";
      width: 4px;
      height: 100px;
      background: #4cc084;
      position: absolute;
      right: 1.5px;
      top: 12px;
    }
  }

  .circle-line-gray {
    background-color: #999999;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    outline: 2px solid #999999;
    position: relative;
    top: 105px;
    &::after {
      content: "";
      width: 4px;
      height: 100px;
      background: #999999;
      position: absolute;
      right: 1.5px;
      top: 12px;
    }
  }

  .circle-black {
    background-color: #5a5a5a;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    outline: 2px solid #5a5a5a;
    position: absolute;
    bottom: 115px;
  }
  svg {
    position: absolute;
    bottom: 2px;
  }
}
