/* Avatar */

.avatar {
  position: relative;
  @extend .borderRadius-circle;
}

.avatar--s {
  width: 44px;
  height: 44px;
  line-height: 44px;
}

.avatar--m {
  width: 70px;
  height: 70px;
  line-height: 70px;
}

.avatar--l {
  width: 120px;
  height: 120px;
  line-height: 120px;
}

.avatar--xl {
  width: 200px;
  height: 200px;
  line-height: 200px;
  @media (max-width: 991px) {
    width: 150px;
    height: 150px;
    line-height: 150px;
  }
  @media (max-width: 480px) {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }
}

.avatar-img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @extend .backgroundCover--center;
  @extend .borderRadius-circle;
}
/* Button */

.btn-adding {
  padding: 8px 20px;
  background-color: #ffffff;
  border-radius: 3px;
  color: $color-main;
  display: table-cell;
  @media (max-width: 576px) {
    padding: 6px 10px;
  }
  &:hover {
    color: $color-main;
  }
  i.ic {
    margin-right: 10px;
    @media (max-width: 767px) {
      transform: scale(0.75)
    }
    @media (max-width: 576px) {
      margin-right: 5px
    }
    @media (max-width: 480px) {
      transform: scale(0.6)
    }
  }
}

.btn {
  display: inline-block;
  background-color: #fff;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  color: $color-base;
  // font-weight: bold;
  font-weight: 500;
  border: 0 none;
  @extend .borderRadius-s;
  @extend .textAlign-center;
  @extend .userSelect-none;
  box-shadow: inset 0 0 0 1px $color-border;
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: shade(#fff, 10%);
  }
  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    @include opacity(0.5);
    box-shadow: none;
  }
  &.btn-default {
    color: $color-main;
    background-color: #fff;
    border-color: $color-main;
    box-shadow: inset 0 0 0 1px $color-main;
    &:hover,
    &:focus,
    &:active,
    &.active {
      color: $color-main;
      background-color: #ebf2f7;
    }
  }
  &.btn-primary {
    color: #fff;
    background-color: $color-main;
    box-shadow: none;
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: shade($color-main, 10%);
    }
  }
  &.btn-secondary {
    color: #fff;
    background-color: $color-base;
    box-shadow: none;
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: tint($color-base, 10%);
    }
  }
  &.btn-third {
    color: $color-second;
    background-color: #fff;
    box-shadow: none;
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: #f8f8f8;
    }
  }
  &.btn-link {
    background: none;
    color: $color-main;
    text-decoration: underline;
    border: 0 none;
    box-shadow: none;
    &:hover,
    &:focus {
      color: shade($color-main, 10%);
    }
  }
  &.btn-transparent {
    background: none;
    color: $color-third;
    border: 0 none;
    box-shadow: inset 0 0 0 1px $color-third;
    &:hover,
    &:focus {
      color: #fff;
    }
  }
  &.btn-red {
    background: $color-error;
    color: #fff;
    border: 0 none;
    box-shadow: none;
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: shade($color-error, 10%);
    }
  }
  &.btn-info {
    background: $color-link;
    color: #fff;
    border: 0 none;
    box-shadow: none;
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: shade($color-link, 10%);
    }
  }
  &.btn-not-allowed {
    opacity: 0.4;
    cursor: not-allowed;
  }
  &.btn--s {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 0.875rem;
  }
  &.btn--m {
    height: 46px;
    line-height: 46px;
    padding: 0 20px;
    font-size: 1rem;
  }
  &.btn--l {
    height: 54px;
    line-height: 54px;
    padding: 0 30px;
    font-size: 1rem;
  }
  &.circle--m {
    border-radius: 50%;
    width: 46px;
    padding: 0;
  }
  .ic {
    position: relative;
    top: -1px;
  }
}

fieldset[disabled] {
  .btn {
    cursor: not-allowed;
    pointer-events: none;
    @include opacity(0.5);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .btn-default {
    cursor: not-allowed;
    pointer-events: none;
    @include opacity(0.5);
    -webkit-box-shadow: none;
    box-shadow: none;
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: #fff;
      border-color: #ccc;
      color: #555;
    }
  }
  .btn-primary {
    cursor: not-allowed;
    pointer-events: none;
    @include opacity(0.5);
    -webkit-box-shadow: none;
    box-shadow: none;
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: #ddd;
      border-color: #ccc;
      color: #888;
    }
  }
}
/* Icon */

.ic {
  display: inline-block;
  background-image: url($main_sprites);
  background-repeat: no-repeat;
  background-size: $main_sprites_size;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  text-indent: -9999px;
  &.ic-twitter {
    background-position: 0 0;
  }
  &.ic-facebook {
    background-position: -24px 0;
  }
  &.ic-messenger {
    background-position: -168px -193px;
  }
  &.ic-instagram {
    background-position: -48px 0;
  }
  &.ic-linkedin {
    background-position: -72px 0;
  }
  &.ic-email {
    background-position: -96px 0;
  }
  &.ic-phone {
    background-position: -120px 0;
  }
  &.ic-home {
    background-position: -142px 0;
  }
  &.ic-google {
    background-position: -166px 0;
  }
  &.ic-youtube {
    background-position: -171px -191px;
  }
  &.ic-pinterest {
    background-position: -316px 2px;
  }
  &.ic-location-f {
    background-position: 0 -24px;
  }
  &.ic-star-f {
    background-position: -24px -24px;
  }
  &.ic-clock {
    background-position: -48px -24px;
  }
  &.ic-clock-fill {
    background-position: -48px -192px;
  }
  &.ic-tag {
    background-position: -72px -24px;
  }
  &.ic-tag-fill {
    background-position: -72px -192px;
  }
  &.ic-arr-down {
    background-position: 0 -48px;
  }
  &.ic-car {
    background-position: -24px -48px;
    width: 72px;
    height: 72px;
  }
  &.ic-car-fill {
    background-position: 0 -168px;
  }
  &.ic-sm-car {
    background-position: -112px -299px;
    height: 14px;
    width: 14px;
    background-size: 325px;
  }

  &.ic-sm-cars {
    background-position: -62px -247px;
    height: 13px;
    width: 16px;
    background-size: 320px;
  }
  &.ic-cars {
    background-position: -76px -304px;
  }
  &.ic-car-gps {
    background-position: -292px -264px;
    width: 105px;
    height: 49px;
  }
  &.ic-list {
    background-position: -94px -24px;
  }
  &.ic-list-fill {
    background-position: -94px -48px;
  }
  &.ic-list-black {
    background-position: -325px -147px;
  }
  &.ic-map {
    background-position: -118px -24px;
  }
  &.ic-map-fill {
    background-position: -118px -48px;
  }
  &.ic-map-black {
    background-position: -356px -147px;
  }
  &.ic-filter {
    background-position: -80px -61px;
    width: 45px;
    height: 40px;
    background-size: 350px;
  }
  &.ic-filter-black {
    // background-position: -273px -39px;
		// background-size: 300px;
		background-position: -193px -193px;
  }
  &.ic-search {
    // background-position: 0 -72px
    background-position: 1px -74px;
  }
  &.ic-lock-fill {
    background-position: -144px -24px;
  }
  &.ic-card {
    background-position: -166px -48px;
  }
  &.ic-email-fill {
    background-position: -143px -48px;
    width: 23px;
  }
  &.ic-phone-fill {
    background-position: -144px -72px;
  }
  &.ic-upload {
    background-position: 0 -120px;
  }
  &.ic-upload-fill {
    background-position: 0 -144px;
  }
  &.ic-remove {
    background-position: -24px -120px;
  }
  &.ic-remove-wh {
    background-position: -400px -144px;
    background-size: 600px;
    width: 35px;
    height: 35px;
  }
  &.ic-remove-thin {
    background-position: -168px -145px;
  }
  &.ic.ic-remove-gray {
    background-position: -146px -146px;
    width: 18px;
    height: 18px;
  }
  &.ic-edit {
    background-position: -24px -144px;
  }
  &.ic-edit-black {
    background-position: -317px -220px;
  }
  &.ic-remove-green {
    background-position: -344px -193px;
  }
  &.ic-garbage-black {
    background-position: -284px -315px;
  }
  &.ic-flag-black {
    background-position: -369px -193px;
  }
  &.ic-flag--black {
    background-position: -307px -343px;
  }
  &.ic-airplane--black {
    background-position: -219px -225px;
    background-size: 250px;
  }
  &.ic-car--black {
    background-position: -173px -205px;
    background-size: 225px;
  }
  // &.ic-location--black {
  //   background-position: -223px -215px;
  //   background-size: 275px;
  // }
  &.ic-star-badge {
    background-position: -268px -247px;
  }
  &.ic-checked-green{
    background-position: -341px -121px;
  }
  &.ic-briefcase-black {
    background-position: -345px -218px;
  }

  &.ic-house-black {
    background-position: -369px -219px;
  }
  &.ic-car-black {
    background-position: -356px -315px;
  }
  &.ic-location-black {
    background-position: -329px -315px;
  }
  &.ic-reset-black {
    background-position: -317px -194px;
  }
  &.ic-search-white {
    background-position: -329px -341px;
  }

  &.ic-logout {
    background-position: -48px -144px;
  }
  &.ic-logout-fill {
    background-position: -48px -168px;
  }
  &.ic-logout-h {
    background-position: -72px -168px;
  }
  &.ic-reset {
    background-position: -168px -24px;
  }
  &.ic-user-fill {
    background-position: -192px 0;
  }
  &.ic-sex-fill {
    background-position: -216px 0;
  }
  &.ic-calendar-fill {
    background-position: -240px 0;
  }
  &.ic-verify {
    background-position: -120px -120px;
  }
  &.ic-verify-gray {
    background-position: -120px -144px;
  }
  &.ic-verify-large {
    background-position: -352px -2px;
    width: 48px;
    height: 48px;
  }
  &.ic-verify-stroke {
    background-position: -142px -168px;
  }
  &.ic-plus {
    background-position: -143px -120px;
  }
  &.ic-plus-black {
    background-position: -216px -95px;
	}
	&.ic-dark-plus {
		background-position: -239px -24px;
	}
  &.ic-green-plus {
		background-position: -222px -220px;
	}
  &.ic-remove {
    background-position: -167px -120px;
  }
  &.ic-link {
    background-position: -191px -120px;
  }
  &.ic-error {
    background-position: -215px -120px;
  }
  &.ic-error-gray {
    background-position: -214px -144px;
  }
  &.ic-error-large {
    background-position: -46px -216px;
    width: 48px;
    height: 48px;
  }
  &.ic-info {
    background-position: -240px -120px;
  }
  &.ic-info-wh {
    background-position: -238px -96px;
  }
  &.ic-notify {
    background-position: -96px -168px;
  }
  &.ic-download {
    background-position: -120px -168px;
  }
  &.ic-zoom {
    background-position: -168px -72px;
  }
  &.ic-thunderbolt {
    background-position: -118px -191px;
  }
  &.ic-thunderbolt-wh {
    background-position: -96px -221px;
  }
  &.ic-sm-thunderbolt-wh {
    background-position: -60px -136px;
    width: 13px;
    height: 13px;
    background-size: 245px;
  }
  &.ic-sm-thunderbolt {
    background-position: -73px -119px;
    width: 13px;
    height: 13px;
    background-size: 245px;
  }
  &.ic-xs-thunderbolt {
    background-position: -53px -88px;
    width: 11px;
    height: 11px;
    background-size: 180px;
  }
  &.ic-total-price {
    background-position: -194px -275px;
  }
  &.ic-fuel {
    background-position: -222px -275px;
  }
  &.ic-infomation {
    background-position: -192px -95px;
  }
  &.ic-photo {
    background-position: -104px -305px;
  }
  &.ic-photo-fill {
    background-position: -104px -333px;
  }
  &.ic-license {
    background-position: -48px -305px;
  }
  &.ic-license-fill {
    background-position: -48px -333px;
  }
  &.ic-setting-rent {
    background-position: -161px -306px;
  }
  &.ic-setting-rent-fill {
    background-position: -161px -333px;
  }
  &.ic-setting-price {
    // background-position: -188px -305px;
    background-position: -220px -305px;
    width: 27px;
  }
  &.ic-setting-price-fill {
    background-position: -188px -333px;
  }
  &.ic-setting-calendar {
    background-position: -263px 0px;
  }
  &.ic-setting-calendar-fill {
    background-position: -240px 0px;
  }
  &.ic-management {
    background-position: -133px -305px;
  }
  &.ic-instant-booking {
    background-position: -172px -220px
  }
  &.ic-tag-filter{
    background-position: -317px -194px;
  }
  &.ic-verifying {
    background-position: -344px -170px;
  }
  &.ic-management-fill {
    background-position: -133px -333px;
  }
  &.ic-close-fill {
    background-position: -120px -220px;
  }
  &.ic-clock-repeat {
    background-position: -242px -144px;
  }
  &.ic-price-repeat {
    background-position: -268px -144px;
    margin-right: 2px;
  }
  &.ic-calendar-repeat {
    background-position: -296px -144px;
  }
  &.ic-sort-descend {
    background-position: 0px -364px;
  }
  &.ic-sort-increase {
    background-position: -24px -364px;
  }
  &.ic-qr-code {
    background-position: -352px -380px;
    width: 35px;
    height: 35px;
    background-size: 550px;
    border-radius: 100%;
  }
  &.ic-sm-flat {
    background-position: -52px -120px;
    background-size: 160px;
    width: 12px;
    height: 12px;
  }
  &.ic-copy {
    background-position: -52px -364px;
  }
  &.ic-gmail {
    background-position: -79px -364px;
  }
  &.ic-datepicker {
    background-position: -373px -121px;
  }
  &.ic-pin {
    width: 42px;
    height: 42px;
    background-position: -249px -312px;
  }
  // Red Circle Pin
  &.ic-pin-circle {
    background-size: 500px;
    width: 42px;
    height: 42px;
    background-position: -232px -392px;
  }
  &.ic-sm-time-post {
    background-position: -238px -72px;
    background-size: 300px;
    width: 18px;
    height: 18px;
  }
  &.ic-chevron-right {
    background-position: -1px -166px;
    background-size: 350px;
    width: 15px;
    height: 24px;
  }
  &.ic-chevron-right-wh {
    background-position: -19px -167px;
    background-size: 350px;
    width: 15px;
    height: 22px;
  }
  &.ic-promocode {
    background-position: -105px -365px;
    width: 30px;
  }
  &.ic-question-mark {
    background-position: -168px -169px;
  }
  &.ic-chevron-down {
    background-position: -4px -645px;
    background-size: 850px;
  }
  &.ic-chevron-up {
    background-position: -4px -645px;
    background-size: 850px;
    transform: rotate(180deg);
  }
  &.ic-gps {
    background-position: -192px -170px;
  }
  &.ic-owner-wallet {
    background-position: -217.5px -194px;
	}
	&.ic-settings-app {
		background-position: -252px -360px;
	}
	&.ic-repeat-app {
		background-position: -281px -361px
	}
	&.ic-insurance {
    background-position: -265px -25px;
    &-wh {
      background-position: -344px -69px;
    }
	}
	&.ic-act-insurance {
		background-position: -294px -25px;
	}
	&.ic-wait-insurance {
		background-position: -240px -49px;
	}
	&.ic-deact-insurance {
		background-position: -322px -25px;
	}
	&.ic-not-insurance {
		background-position: -215px -49px;
	}
	&.ic-mortgages {
		background-position: -245px -172px;
		width: 27px;
	}
	&.ic-passport {
		background-position: -300px -84px;
    width: 20px;
    height: 20px;
    background-size: 350px;
    margin-right: 3px;
	}
	&.ic-pdf {
		background-position: -195px -362px;
	}
	&.ic-retry-insurance {
		background-position: -192px -70px;
		margin-right: 3px;
	}
	&.ic-sm-car-location {
		background-position: -147px -220px;
		transform: scale(.8);
		margin-right: 3px;
	}
	//-- Fill Green
	&.ic-sm-circle-fill {
		background-position: -197px -220px;
		transform: scale(.5);
	}
	&.ic-remove-fill {
		background-position: -248px -220px;
	}
	&.ic-plus-fill {
		background-position: -222px -220px;
	}

	&.ic-sd-notif {
		background-position: -295px -49px;
	}
	&.ic-wd-notif {
		background-position: -265px -49px;
	}

	//-- icon new setting
	&.ic-delivery {
		background-position: -292px -169px;
    transform: scale(1.125);
	}
	&.ic-policy {
		background-position: -271px -169px;
  }
  
  &.ic-start-location {
    background-position: -271px -220px;
  }
  &.ic-delivery-at-start {
    background-position: -294px -220px;
	}
	&.ic-plus-no-circle {
		background-position: -240px -25px;
  }
  &.ic-green-minus {
    background-position: -216px -72px;
  }
  &.ic-black-circle {
    background-position: -243px -249px;
  }
  &.ic-black-circle-small {
    background-position: -182px -187px;
    width: 18px;
    height: 18px;
    background-size: 300px;
  }
  &.ic-black-plus {
    background-position: -316px -171px;
  }
}

.ict {
  display: inline-block;
  background-image: url($tut_sprites);
  background-repeat: no-repeat;
  background-size: $tut_sprites_size;
  width: 60px;
  height: 60px;
  vertical-align: middle;
  text-indent: -9999px;
  &.ict-click {
    background-position: 0 0;
    width: 80px;
    height: 100px;
  }
  &.ict-location {
    background-position: -80px 0;
    width: 80px;
    height: 100px;
  }
  &.ict-car {
    background-position: -160px 0;
    width: 94px;
    height: 100px;
  }
  &.ict-price {
    background-position: -254px 0;
    width: 82px;
    height: 100px;
  }
  &.ict-salary {
    background-position: -336px 0;
    width: 80px;
    height: 100px;
  }
  &.ict-coin {
    background-position: 0 -100px;
    width: 60px;
    height: 60px;
  }
  &.ict-time {
    background-position: -60px -160px;
    width: 60px;
    height: 70px;
  }
  &.ict-crown {
    background-position: -120px -170px;
    width: 75px;
    height: 60px;
  }
  &.ict-gift {
    background-position: -60px -100px;
    width: 60px;
    height: 60px;
  }
  &.ict-run {
    background-position: -120px -100px;
    width: 60px;
    height: 70px;
  }
  &.ict-shield {
    background-position: -180px -100px;
    width: 60px;
    height: 70px;
  }
  &.ict-star {
    background-position: -240px -100px;
    width: 60px;
    height: 60px;
  }
  &.ict-support {
    background-position: -300px -100px;
    width: 60px;
    height: 86px;
  }
  &.ict-wheel {
    background-position: -360px -100px;
    width: 60px;
    height: 78px;
  }
  &.ict-cash {
    background-position: 0 -160px;
    width: 60px;
    height: 52px;
	}

	&.ict-mioto {
		background-position: -671px -266px;
		background-size: 800px 400px;
		width: 130px;
		height: 132px;
	}
	&.ict-notif{
		background-position: -671px 0;
		background-size: 800px 400px;
		width: 130px;
		height: 132px;
	}
	//-- Service type
	&.ict-selfdrive {
		background-position: -202px -171px;
    width: 75px;
    height: 76px;
	}
	&.ict-withdriver {
		background-position: -425px -87px;
		width: 75px;
		height: 76px;
  }
  
}
/* ic svg */
.ic-clock {
  display: inline-block;
  background-image: url(../images/ic-svg/clock.svg);
  display: inline-block;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}

/* How it works */

.ict-large {
  display: inline-block;
  background-image: url(../images/tutorial.png);
  background-repeat: no-repeat;
  background-size: 800px 400px;
  width: 130px;
  height: 130px;
  vertical-align: middle;
  text-indent: -9999px;
  &.ict-login {
    background-position: -7px -5px;
    height: 132px;
  }
  &.ict-search {
    background-position: -139px -5px;
    height: 148px;
    width: 140px;
  }
  &.ict-deposit {
    background-position: -289px -4px;
  }
  &.ict-pickup {
    background-position: -428px -4px;
  }
  &.ict-return {
    background-position: -567px -4px;
    height: 140px;
  }
  &.ict-register {
    background-position: -153px -163px;
    height: 132px;
  }
  &.ict-checked {
    background-position: -7px -163px;
    width: 137px;
  }
  &.ict-allow {
    background-position: -296px -163px;
    height: 134px;
  }
  &.ict-send-car {
    background-position: -428px -163px;
    width: 140px;
    height: 148px;
  }
  &.ict-accept {
    background-position: -576px -163px;
    height: 130px;
  }
  
}

/* Benefit ViettelPay */

.ict-benefit {
	display: inline-block;
  background-image: url(../images/benefit_vtpay.png);
  background-repeat: no-repeat;
  background-size: 600px 405px;
  width: 125px;
  height: 125px;
  vertical-align: middle;
	text-indent: -9999px;
	&.ict-bank {
		background-position: -10px -8px;
	}
	&.ict-withdraw {
		background-position: -148px -8px;
	}
	&.ict-account {
		background-position: -285px -9px;
	}
	&.ict-phone-card {
		background-position: -10px -150px;
	}
	&.ict-payment {
		background-position: -146px -151px;
	}
}

.ict-mbenefit {
	display: inline-block;
  background-image: url(../images/benefit-sprites.png);
  background-repeat: no-repeat;
  background-size: 600px;
  width: 125px;
  height: 125px;
  vertical-align: middle;
	text-indent: -9999px;
	&.ict-saving {
		background-position: -25px -25px;
	}
	&.ict-effective {
		background-position: -168px -25px;
	}
	&.ict-quality {
		background-position: -309px -25px;
	}
	&.ict-smart {
		background-position: -451px -25px;
	}
	&.ict-variety {
		background-position: -25px -163px;
	}
	&.ict-management {
		background-position: -168px -163px;
	}
	&.ict-best-price {
		background-position: -309px -163px;
	}
	&.ict-commission {
		background-position: -451px -163px;
	}
}

.ict-faqs {
  display: inline-block;
  background-image: url($faqs_sprites);
  background-repeat: no-repeat;
  background-size: $faqs_sprites_size;
  width: 80px;
  height: 80px;
  vertical-align: middle;
	text-indent: -9999px; 
	margin-bottom: 1.25rem;
	&.ict-register-car {
		background-position: -32px -32px;
	}
	&.ict-management {
		background-position: -115px -32px;
	}
	&.ict-pickup {
		background-position: -195px -32px;
	}
	&.ict-canceltrip {
		background-position: -32px -150px;
	}
	&.ict-insurance {
		background-position: -115px -155px;
	}
	&.ict-question-more {
		background-position: -195px -150px;
	}
	&.ict-booking-car {
		background-position: -32px -270px;
	}
	&.ict-tpickup {
		background-position: -115px -270px;
	}
	&.ict-tcanceltrip {
		background-position: -195px -270px;
	}
	&.ict-experience {
		background-position: -32px -375px;
	}
}

.pagination {
  text-align: center;
  li {
    display: block;
    float: left;
    &:first-child a {
      @include widborder(3px, 0, 0, 3px);
    }
    &:last-child a {
      @include widborder(0, 3px, 3px, 0);
    }
    a {
      display: block;
      background: #fff;
      margin: 0 -1px 0 0;
      min-width: 32px;
      padding: 5px 8px;
      font-size: 0.75em;
      cursor: pointer;
      color: $color-base;
      border: 1px solid #ddd;
      &.active {
        background-color: #bac9d6;
        color: #fff;
        border-color: #bac9d6;
        &:hover {
          background-color: #bac9d6;
        }
      }
      &:hover {
        background-color: #f7f7f7;
      }
    }
  }
}

.show-pagination {
  position: relative;
  padding-left: 50px;
  .label {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    line-height: 30px;
    color: #666;
    font-size: 0.75em;
    font-weight: normal;
  }
  .wrap-select {
    min-width: 46px;
    height: 29px;
    box-shadow: none;
  }
}
/* Table */

table {
  table-layout: fixed;
  margin: 0;
  border-spacing: 0;
  border-bottom: solid 1px #e0e8ef;
  box-shadow: 0 1px 0 0 rgba(204, 204, 204, 0.5);
  tr {
    &:hover td {
      background-color: #e6f6e5;
    }
    &.active td {
      background-color: #bae4ff !important;
      border-bottom: 1px solid #98d2f6 !important;
    }
  }
  td {
    padding: 6px 10px;
    color: #666;
    font-size: 0.825em;
    border-bottom: 1px solid #ebf2f7;
    -ms-word-break: break-all;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    vertical-align: top;
    * {
      -ms-word-break: break-all;
      word-wrap: break-word;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
    }
  }
  table {
    width: 100%;
    box-shadow: none;
    border-bottom: none;
    td,
    th {
      background: none !important;
      font-size: 1em;
    }
  }
  th {
    background-color: #ebf2f7;
    padding: 6px 10px;
    color: $color-second;
    font-size: 0.825em;
    font-weight: bold;
    text-align: left;
    &.thead {
      padding: 7px 10px;
      font-size: 0.688em;
    }
    a {
      color: $color-second;
      &.sort-up {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        i {
          position: relative;
          padding-right: 14px;
          &:before {
            position: absolute;
            top: 6px;
            right: 0;
            content: '';
            @include triangle(8px, $color-second, up);
          }
        }
        &.sort-down {
          i {
            &:before {
              display: none;
            }
            &:after {
              position: absolute;
              top: 6px;
              right: 0;
              content: '';
              @include triangle(8px, $color-second, down);
            }
          }
        }
      }
    }
  }
  &.table-odd {
    border-collapse: separate;
    border-bottom: none;
    tr {
      &:nth-child(odd) {
        td {
          background-color: #f5faff;
        }
        &:hover td {
          // background-color: #87e48d;
          background-color: #ebf4fc;
        }
      }
    }
  }
  &.table-bordered {
    border-collapse: separate;
    border-bottom: none;
    td {
      border-bottom: 1px solid #e0e8ef !important;
    }
  }
}
/* Form */

input[type='radio'] + label,
input[type='checkbox'] + label {
  @extend .userSelect-none;
}

input,
select,
textarea {
  display: inline-block;
  background-color: #fff;
  width: 100%;
  padding: 13px 20px;
  font-size: 0.875rem;
  font-family: $primary-font;
  @extend .borderRadius-s;
  border: none;
  box-shadow: none;
  &:focus {
    outline: 0 none;
  }
  &:disabled {
    background-color: #f8f8f8;
    color: #333;
    -webkit-text-fill-color: #333;
    -webkit-opacity: 1;
  }
}

input[type='radio'],
input[type='checkbox'] {
  width: auto;
  box-shadow: none;
}

select {
  padding: 14px 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.wrap-select {
  display: block;
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 45px;
  @extend .borderRadius-s;
  border: 1px solid $background;
  &:before {
    position: absolute;
    top: 11px;
    right: 5px;
    content: '';
    background: url($main_sprites) 0 -48px no-repeat;
    background-size: $main_sprites_size;
    width: 24px;
    height: 24px;
  }
  select {
    position: relative;
    z-index: 2;
    background-color: transparent;
    padding-right: 20px;
    border: 0 none;
    box-shadow: none;
  }
  &.focus {
    border-color: $color-main;
    select {
      color: $color-main;
    }
  }
}

.wrap-radio {
  display: inline-block;
  position: relative;
  margin-right: 20px;
  padding-top: 3px;
  input {
    width: auto;
    margin-right: 5px;
    vertical-align: middle;
  }
  label {
    position: static;
    display: inline-block;
    width: auto;
    margin-bottom: 5px;
    color: #333;
    font-size: 0.75rem;
    cursor: pointer;
  }
}

.wrap-checkbox {
  display: inline-block;
  position: relative;
  margin-right: 20px;
  input {
    width: auto;
    margin-right: 5px;
    vertical-align: middle;
  }
  label {
    position: static;
    display: inline-block;
    width: auto;
    margin-bottom: 10px;
    color: #333;
    font-size: 0.75rem;
    cursor: pointer;
  }
}

.squaredFour {
  position: relative;
  width: 16pc;
  label {
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    &:after {
      content: '';
      position: absolute;
      top: 4px;
      left: 0;
      background: url(../images/checkbox.png) 0 0 no-repeat;
      background-size: 32px 16px;
      width: 16px;
      height: 16px;
    }
  }
  input[type='checkbox'] {
    visibility: hidden;
    &:checked + label:after {
      background-position: -16px 0;
    }
  }
  &.have-label {
    width: auto;
    top: 0 !important;
    label {
      width: auto;
      height: auto;
      padding-left: 25px;
      color: $color-base;
      font-size: 1em;
    }
  }
}

.turn-on {
  display: block;
  position: relative;
  background-color: $color-main;
  width: 40px;
  height: 20px;
  margin: 0 5px;
  @extend .borderRadius-s;
  &:before {
    position: absolute;
    top: 1px;
    right: 1px;
    content: '';
    background-color: #c2d0dc;
    width: 10px;
    height: 18px;
    @extend .borderRadius-s;
  }
  &:after {
    position: absolute;
    top: 0;
    left: 5px;
    content: 'Hiện';
    color: #fff;
    font-size: 0.75em;
    font-family: Tahoma;
    font-weight: bold;
    line-height: 20px;
  }
  &.off {
    background-color: #c2d0dc;
    &:before {
      right: inherit;
      left: 1px;
      background-color: #fff;
    }
    &:after {
      left: inherit;
      right: 10px;
      content: 'Ẩn';
    }
  }
}

.toggle-input {
  max-height: 0;
  max-width: 0;
  @include opacity(0);
}

.toggle-input + label {
  cursor: pointer;
  display: block;
  position: relative;
  background: #dde9f3;
  height: 16px;
  width: 50px;
  @include radius(10px);
  &:before {
    content: '';
    position: absolute;
    display: block;
    background: #dde9f3;
    height: 16px;
    width: 30px;
    top: 0;
    left: 0;
    @include radius(10px);
    @include transition(0.25s ease-in-out);
  }
  &:after {
    content: 'TẮT';
    position: absolute;
    display: block;
    background: #88a2b8;
    height: 16px;
    width: 30px;
    top: 0;
    left: 0;
    @include radius(10px);
    @include transition(0.25s ease-in-out);
    color: #fff;
    font-size: 0.625em;
    line-height: 18px;
    text-align: center;
    font-weight: 500;
  }
}

.toggle-input:checked + label:before {
  width: 30px;
  background: #dde9f3;
}

.toggle-input:checked + label:after {
  content: 'BẬT';
  background-color: $color-main;
  left: 20px;
}

.toggle.mini {
  // .toggle-input {}
  .toggle-input + label {
    background: none;
    width: 30px;
    height: 12px;
    &:before {
      top: 6px;
      height: 12px;
    }
    &:after {
      top: 6px;
      content: '';
      width: 12px;
      height: 12px;
    }
  }
  .toggle-input:checked + label:before {
    height: 12px;
  }
  .toggle-input:checked + label:after {
    content: '';
    left: 18px;
  }
}
/* Utility - Ratio */

.aspectRatio {
  position: relative;
  &.aspectRatio--100 {
    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }
  &.aspectRatio--16-9 {
    &:before {
      content: '';
      display: block;
      padding-top: 56.25%;
    }
  }
  &.aspectRatio--2-1 {
    &:before {
      content: '';
      display: block;
      padding-top: 50%;
    }
  }
  &.aspectRatio--5-2 {
    &:before {
      content: '';
      display: block;
      padding-top: 40%;
    }
  }
  &.aspectRatio--5-3 {
    &:before {
      content: '';
      display: block;
      padding-top: 60%;
    }
  }
  &.aspectRatio--4-3 {
    &:before {
      content: '';
      display: block;
      padding-top: 75%;
    }
  }
}
/* Utility - Layout */

.marginLeft-xs {
  margin-left: 10px;
}

.marginLeft-s {
  margin-left: 15px;
}

.marginLeft-m {
  margin-left: 20px;
}

.marginLeft-ml {
  margin-left: 30px;
}

.marginLeft-l {
  margin-left: 40px;
}

.marginLeft-xl {
  margin-left: 80px;
}

.ic-mr {
	margin-right: 5px;
}

.marginRight-xs {
  margin-right: 10px;
}

.marginRight-s {
  margin-right: 15px;
}

.marginRight-m {
  margin-right: 20px;
}

.marginRight-l {
  margin-right: 40px;
}

.marginRight-xl {
  margin-right: 80px;
}

.marginTop-xs {
  margin-top: 10px;
}

.marginTop-s {
  margin-top: 15px;
}

.marginTop-m {
  margin-top: 20px;
}

.marginTop-l {
  margin-top: 40px;
}

.marginTop-xl {
  margin-top: 80px;
}

.marginBottom-xs {
  margin-bottom: 10px;
}

.marginBottom-s {
  margin-bottom: 15px;
}

.marginBottom-m {
  margin-bottom: 20px;
}

.marginBottom-l {
  margin-bottom: 40px;
}

.marginBottom-xl {
  margin-bottom: 80px;
}

.marginVertical-xs {
  margin-top: 10px;
  margin-bottom: 10px;    
}

.paddingB-none {
  padding-bottom: 0;
}

.w-100 {
  width: 100% !important;
}

// Input file Container
.inputfile-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .inputfile + label {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  //     .inputfile:focus+label,
  //     .inputfile+label:hover {}
}

//=== Colors of Status
.green-dot {
  background-color: #00a550;
}

.red-dot {
  background-color: #f44336;
}

.require-star {
  color: #f44336;
}

.black-dot {
  background-color: #141414;
}

.orange-dot {
  background-color: #fde28b;
}

.orange-label {
  background-color: #FA7D19;
}

.gray-dot {
  background-color: #a9aaad;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.pjico {
  width: 95px;
}

.mic {
  @media (min-width: 576px) {
    max-width: 200px !important;
  }
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(300%);
    transform: translateX(300%);
  }
  100% {
    -webkit-transform: translateX(500%);
    transform: translateX(500%);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(300%);
    transform: translateX(300%);
  }
  100% {
    -webkit-transform: translateX(500%);
    transform: translateX(500%);
  }
}

//=== Progress Loading Lines
.loading-bar {
  background: #00a550;
  position: absolute;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  .peg {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 15%;
    height: 100%;
    box-shadow: 0 0 0px #00a550, 0 0 2px #00a550;
    opacity: 1;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
    -webkit-animation: slide-right 0.5s 0.1s infinite both;
    animation: slide-right 0.5s 0.1s infinite both;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  i.ic.ic-question-mark {
    position: static !important;
    // margin-left: 5px;
    transform: scale(0.85);
  }
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 160px;
  background-color: #00a550;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 0.5rem;
  position: absolute;
  z-index: 2;
  bottom: 150%;
  left: 50%;
  margin-left: -85px;
  font-size: 12px;
	line-height: 18px;
  &:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: #00a550 transparent transparent transparent;
  }
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

//--- Line-through
.line-through {
  text-decoration: line-through;
  color: rgb(174, 174, 176);
}

.strong {
  font-weight: 700;
}

// Handle svg
.box-info {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  background-color: rgba(250, 125, 25, 0.05);
  padding: 10px 15px;
  border-radius: 3px;
  div p:not(:last-child) {
    margin-bottom: 10px;
  }
  div p:last-child {
    margin-bottom: 0; 
  }
  p {
    line-height: 15px;
  }
}

.icsvg {
  fill: #141414;
  width: 24px;
  height: 24px;
  &-notification {
    height: 50px;
  }
  &-remove {
    height: 12px;
  }
  &-pattern {
    height: 115px;
    width: auto;
  }
  &-pattern1 {
    height: 270px;
    width: auto;
  }
  &-gift {
    height: 50px;
  }
  &-switch {
    height: 18px;
  }
}


.horizontal-line {
  background-color: $background; 
  width: 100%;
  height: 1px;
  margin: 20px 0;
}

// GPS Box
.gps-box-time {
  span.time {
    background: #fff;
    padding: 0.5rem 1.5rem;
    color: #6e6e6e;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    font-size: 0.875rem;
    span.status {
      border-radius: 100%;
      display: inline-block;
      margin-right: 10px;
      width: 12px;
      height: 12px;
      &.green-dot {
        box-shadow: 0 0 10px 0 #00a550;
      }
    }
  }
}
.gps-box {
  display: flex;
  flex-direction: column;
  span.license-plate {
    padding: 5px;
    position: relative;
    background-color: #fff;
    color: rgba(18, 18, 19, 0.933);
    border-radius: 5px;
    font-size: 12px;
    border: 2px solid #4a4a4a;
    &:before {
      content: '';
      position: absolute;
      top: -6px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0px;
      border-bottom: solid 6px #4a4a4a;
      border-left: solid 6px transparent;
      border-right: solid 6px transparent;
    }
  }
  i.ic.ic-car-gps {
    margin-bottom: 10px;
  }
}

// Check form default
.has-error-form {
  border-color: $color-error !important;
}

.form-default .line-form {
  .wrap-input {
    &.has-error-form {
      input:focus {
        border: none !important;
      }
		}
		input:disabled {
			background-color: #f8f8f8;
			color: #333;
			-webkit-text-fill-color: #333;
			opacity: 1;
		}
  }
  .wrap-select.has-error-form:focus {
    border-color: $color-error !important;
    outline: none;
  }
}


.spaceBetween {
	justify-content: space-between;
}


//-- Checkbox mode in settings

.mode-renting {
	.control-group {
		display: flex;
		margin-top: .5rem;
		margin-bottom: .5rem;
	}
	.controls {
		position: relative;

	}
	div:not(#foo) > input[type="checkbox"] {

			// * Hide the input, but still be clickable
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			cursor: pointer;

			//* Unchecked mode
			& + label {
				padding: .25rem 1.5rem;
				cursor: pointer;
				background: #fff;
				border: 1px solid #00a550;
				font-weight: 600;
				text-transform: uppercase;
				color: #00a550;
				display: block;
			}

			//* Checked mode
			&:checked + label {
				background: $color-main;
				color: #fff;
				box-shadow: 1px 1px 2px rgba(87, 221, 152, 1);
			}
	}
}

@keyframes options-move-top {
  from {
    transform: translateY(-60px) rotate(45deg);
    opacity: 0;
  }
  to {
    transform: translateY(0) rotate(0);
    opacity: 1;
  }
}
@keyframes options-move-top-X {
  from {
    transform: translate(-120px,20px) rotate(45deg);
    opacity: 0;
  }
  to {
    transform: translate(0,0) rotate(0);
    opacity: 1;
  }
}
@keyframes options-items-rotate {
  0% {
    transform: rotate(-90deg);
    opacity: 0;
  }

  60% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes box-shadow {
  from {
    box-shadow: 0
  }
  to {
    box-shadow: 1px 6px 6px rgba(0,0,0,.2)
  }
}
// Label

.label-status-orange {
  font-weight: 400;
  font-size: .75rem;
  margin-left: 15px;
  padding: 3px 11px;
  border-radius: 999px;
  background-color: $color-orange;
  color: #fff;
  @media (max-width: 767px) {
    font-size: 0.625rem;
    margin-left: 10px;
  }
}

.sublabel {
  color: $color-label;
  font-size: $size-sm;
}

// notification
.notification {
  display: flex;
  padding: 15px 20px;
  border-radius: 5px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  align-items: center;
  background: #fff;
  cursor: pointer;
  overflow: hidden;
  width: calc(100% - 20px);
  max-width: 355px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 2px 4px rgba(0, 0, 0, 0.15);

  @media (max-width: 767px){
    bottom: 55px;
    left: 50%;
    transform: translate(-50%);
  }
  &::before {
    content: "";
    position: absolute;
    background-image: url('../images/notification/pattern.png');
    background-position: 13px 3px;
    background-repeat: no-repeat;
    width: 112px;
    height: 112px;
    top: -3px;
    left: -12px;
    z-index: -1;
  }
  &::after {
    content: "";
    background-image: url('../images/notification/pattern1.png');
    position: absolute;
    background-position: 30px 90px;
    background-repeat: no-repeat;
    bottom: -93px;
    right: -3px;
    width: 270px;
    height: 270px;
    z-index: -1;

  }

  &_icon {
    margin-right: 15px;
    min-width: 50px;
    padding-bottom: 50px;
  }
  .icsvg {
    &-remove {
      position: absolute;
      right: 20px;
      top: 18px;
    }
    
  }
  &_content {
    h3 {
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 5px;
      line-height: 20px;
      @media (max-width: 767px) {
        font-size: 0.875rem;
        margin-bottom: 0;
      }
    }
    p {
      font-size: 0.875rem;
      line-height: 18px;
      max-height: 54px;
      overflow: hidden;
      text-overflow: ellipsis;
      @media (max-width: 767px) {
        font-size: 0.75rem;
      }
    }
    strong {
      font-weight: 500;
    }
  }
}

// prevent click event
.prevent-click {
  pointer-events: none;
  opacity: .5;
}

.notice-form {
  background-color: rgba(250, 125, 25, 0.1);
  padding: .25rem 1rem;
  margin-bottom: 10px;
  font-size: 0.875rem;
}

.notice-form-m {
  padding: 20px 20px 15px;
  p {
    margin-bottom: 10px;
    font-size: 1rem;
  }
}

.partner-logo {
  @extend %align-center;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: stretch;
  &__image {
    position: relative;
    @extend %d-flex-center;
    padding: 0 25px;
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 170px;
    &.g-care {
      max-width: 150px;
      @media (max-width: 576px){
        max-width: 125px;
      }
    }
    // &.pjico {
    //   max-width: 135px;
    //   @media (max-width: 576px){
    //     max-width: 100px;
    //   }
    // }
    

    @media (max-width: 576px) {
      padding: 0 15px;
      max-width: 140px;
      
    }
    &:not(:last-child) {
      &:after {
        content: '';
        position: absolute;
        width: 2px;
        right: -2px;
        height: 40%;
        top: auto;
        border-left: 1px solid $color-gray-6;
        border-right: 1px solid $color-gray-6;
      }
    }
  }
  .img-fluid {
    &:not(:last-child) {
        margin-right: 40px;
        @media (max-width: 576px) {
          margin-right: 20px;
          max-width: 100px;
        }
    }
  }
}

.wr-2-btn {
  .btn-primary {
    min-width: auto;
  }
  a.btn {
    width: 48%;
    margin: 1%;
  }
}

.d-flex-between {
  display: flex;
  justify-content: space-between;
}

.d-flex-start {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.d-flex-align-center {
  @extend %align-center
}
