//test
.d-none {
    display:none;
}



// Modal
.modal-open {
    overflow: hidden;
    position: relative;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal {
    display: none;
    overflow: auto;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1200;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    //--padding-left: 0px !important;
    @include transition(.25s ease-in-out);
    &.in {
        visibility: visible;
        .close {
            @include opacity(1)
        }
    }
    &.fade {
        .modal-dialog {
            @include opacity(0);
            @include transform(scale(0.5))
        }
        &.in {
            .modal-dialog {
                @include opacity(1);
                @include transform(scale(1))
            }
        }
    }
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 40px auto;
    &.modal-sm {
        max-width: 570px;
		}
    @media (max-width: 576px) {
        &.modal-sm {
            max-width: none;
            margin: 40px .5rem;
        }
    }
    &.modal-m {
        max-width: 770px;
        @media (max-width: 767px) {
            max-width: none;
            padding: 0 10px;
        }
    }
}

.modal-backdrop {
    position: fixed;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 1100 !important;
    background-color: rgba(0, 0, 0, 1);
    width: 100%; 
    height: 200%;
    transform: translate(-50%, -50%)
}

.modal-backdrop.fade {
    @include opacity(0);
    @include transition(.25s ease-in-out)
}

.modal-backdrop.in {
    @include opacity(0.5)
}

// Modal Content
.modal-content {
    position: relative;
    background-color: #fff;
    //--max-width: 570px;
    margin: 0 auto;
    width: 100%;
    @extend .borderRadius-s;
    box-shadow: 0px 6px 10px rgba(0,0,0,.3);
    .pag-search {
        display:flex;
        margin-bottom: 10px;
        &__item {
            width: percentage(1/3);
            display: flex;
            justify-content: center;
            align-items: center;
            &.left {
                justify-content: flex-start;
            }
            &.right {
                justify-content: flex-end;
            }

            a {
                color: $color-main;
                font-weight: 500;
            }
        }
    }
    .modal-body {
        position: relative;
        padding: 0 20px 48px;
        font-size: 0.875em;
        @include clearfix;
        &.modal-padding {
            padding: 0 40px 30px;
            @media (max-width: $small-screen) {
                padding: 0 15px 20px;
            }
        }
        &.modal-filter {
            padding: 0 40px 20px;
            @media (max-width: $small-screen) {
                padding: 0 20px 20px;
            }
        }
        @media (max-width: $medium-screen) {
            padding: 0 20px 20px
        }
    }
    .modal-header {
        position: relative;
        padding: 60px 20px 40px;
        color: $color-base;
        font-size: 1.5em;
        line-height: 1.5;
        font-weight: bold;
        text-align: center;
        @media (max-width: $medium-screen) {
            padding: 20px;
            font-size: 1.25em
        }
    }
    .modal-footer {
        position: absolute;
        bottom: -50px;
        width: 100%;
        text-align: center;
        .btn {
            display: inline-block;
            background-color: transparent;
            color: #fff;
            font-size: 0.875em;
            font-weight: bold;
            box-shadow: none;
            border: 1px solid transparent;
            outline: 0 none;
            i.i-close {
                position: relative;
                display: inline-block;
                width: 24px;
                height: 24px;
                margin-right: 3px;
                vertical-align: middle;
                &:before {
                    position: absolute;
                    left: 11px;
                    content: '';
                    background-color: #fff;
                    height: 25px;
                    width: 1px;
                    @include transform(rotate(45deg))
                }
                &:after {
                    position: absolute;
                    left: 11px;
                    content: '';
                    background-color: #fff;
                    height: 25px;
                    width: 1px;
                    @include transform(rotate(-45deg))
                }
            }
            &:hover {
                @include opacity(0.75)
            }
        }
    }
    .wrap-btn {
        margin: 20px 0 0;
        font-size: 0;
        .btn {
            margin: 0 5px
        }
    }
}

.modal-address {
    .modal-body {
        padding: 0 40px 25px;
        @media ( max-width: 767px) {
            padding: 0 40px 25px;
        }
        @media ( max-width: 576px) {
            padding: 0 15px 20px;
        }
    }
    button.btn-primary {
        margin-bottom: 0;
    }
}

.modal-insurance {
	max-width: 770px;
	@media (max-width: 767px) {
		max-width: none;
        padding: 0 10px;
    }
	.modal-header {
		background-image: url("../images/background/ins-1.jpg");
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center 55%;
		padding: 100px 20px;
		@media (max-width: 767px) {
            padding: 80px 25px;
        }
		@media (max-width: 576px) {
            padding: 60px 20px;
        }
		h4.modal-title, .close {
			color: #fff;
			@media (max-width: 576px) {
                margin-bottom: .75rem;
            }
        }
    }
    .partner-logo {
        justify-content: center;
    }
	.insurance-partner {
        left: 50%;
        bottom: -80px;
        padding: 1rem 6rem .75rem;
		transform: translateX(-50%);
		@media (max-width: 767px){
            padding: .75rem 2.5rem;
        }
		@media (max-width: 576px) {
            border-radius: 20px;
            padding: .75rem 1rem;
            width: auto;
        }
		p.lstitle {
			@media (max-width: 576px) {
                font-size: .75rem;
            }
        }
    }
	.modal-body {
        padding: 85px 45px 48px;
    }
    .insurance-options {
        margin-bottom: 20px;
        display: flex;
        font-size: 1rem;
        flex-direction: column;
        @media ( max-width: 767px ) {
            font-size: 0.875rem;
        }
        .custom-radio {
        display: inline-flex;
        position: relative;
        align-items: center;
        cursor: pointer;
        width: fit-content;
            &:not(:last-child) {
                margin-bottom: 5px;
            }
            input[type="radio"] {
                opacity: 0;
                position: absolute;
                &:checked + .custom-control-indicator {
                    background-position: -341px -121px;
                }
            }
        .custom-control-indicator {
            display: inline-block;
            background: url($main_sprites);
            background-size: 400px 400px;
            background-position: -243px -249px;
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            transform: scale(0.85);
            border-radius: 0;
        }
        .custom-control-description {
            margin-left: 10px;
        }
    }
    }
        

	.content-insurance {
		@media (max-width: 767px) {
            padding-top: 80px;
        }
        
		p, ul > li {
			font-size: 1rem;
			margin-bottom: .5rem;
			@media (max-width: 767px) {
                font-size: .875rem;
            }
        }
		p.ins-note {
            font-size: 0.875rem;
			color: #6e6e6e;
            margin-bottom: 0;
        }
		ul {
            margin-bottom: 1rem;
        }
        .notice-form{
            p{
                margin-bottom: 0;
            }
        }
        table{
            border-radius: 3px;
            width: 100%;
            border: none;
            -webkit-box-shadow: none;
            th, td{
                background-color: rgba(250, 125, 25, 0.1);
                border: none;
                text-align: center;
                color: black !important;
            }
        }
    }
}

.modal-my-location {
    .modal-body {
        padding: 0 50px;
        @media (max-width: 767px){
            padding: 0 30px;
        }
    }
    p {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        font-size: 0.875rem;
        color: #141414;
        .icsvg {
            margin-right: 10px;
            transform: scale(0.85);
        }
    }
    .car-brands-item {
        .address {
            margin: 0 10px 0 34px;
            display: block;
            font-size: 0.8125rem;
        }
    }
    .ic {
        min-width: 24px;
    }

}