
//--- Page Payment
.register-container.payment-container
	max-width: 960px
	.payment-desc
		margin-bottom: 1.5rem
		.logo
			width: 50%
			@media (max-width: 767px)
				width: 70%
			@media (max-width: 480px)
				width: 100%
		.desc
			p
				margin-bottom: .5rem
				font-size: .875rem
				@media (max-width: 480px)
					font-size: .825rem
				> span
					font-size: 1.25rem
					color: #00a550
					font-weight: 600
					@media (max-width: 480px)
						font-size: 1rem
	.body-promo
		max-width: 870px
		margin: 0 auto

		&.new-payments // Modal - Payments
			padding: 2rem 0 45px
			@media (max-width: 991px)
				padding: 2rem 25px 25px
			@media (max-width: 767px)
				max-width: none
				padding: 1.5rem 25px 25px
			@media (max-width: 576px)
				padding: 1rem 15px 15px
			> div:first-of-type
					.box-promo
						border-top: none
			h4.title
				font-size: 1.5rem
				margin-bottom: 1.5rem
				color: #141414
			.left
				width: 10%
				text-align: center
				img
					width: 40px
					height: 40px
					@media (max-width: 480px)
						width: 30px
						height: 30px
			.box-promo
				padding-top: 15px
				padding-bottom: 15px
				@extend %align-center
				border-top: 1px solid #eee8ee

				&:hover
					background-color: rgb(238, 232, 238)
					cursor: pointer
			.center.center-payment
				padding: 0 30px
				width: 82%
				@media (max-width: 480px)
					padding: 0 15px
				p.code
					margin-bottom: 0
					color: #6e6e6e
					font-weight: bold
					@media (max-width: 767px)
						font-size: .875rem
			.right-payment
				width: 8%
				justify-content: center
				i.ic-chevron-down
					@media (max-width: 480px)
						transform: scale(.8)

			.content-payment
				padding: 1rem 1.5rem
				border-top: 1px solid #eee8ee
				background: #f7f8fb
				@media (max-width: 480px)
					padding: 1rem

				p
					color: #141414
					margin-bottom: 1rem
					font-size: .875rem
					@media (max-width: 767px)
						font-size: 13px
				.step-by-step
					p.step
						> span
							color: $color-link
							font-weight: bold
						> a
							color: #00a550
					.line-form.code-atm
						margin-bottom: 1.5rem

				.list-cards
					@extend %d-flex-wrap
					label.custom-control
						width: calc(50% - .75rem)
						margin-right: 0
						padding-left: 3rem
						@media (max-width: 991px)
							width: 100%
						@media (max-width: 576px)
							padding-left: 1.5rem
						&:first-child
							margin-right: 1.5rem
							@media (max-width: 991px)
								margin-right: 0
				.box-card__item
					padding: 15px 45px
					box-shadow: 1px 2px 5px rgba(0,0,0,.2)
					@media (max-width: 991px)
						max-width: 380px
					@media (max-width: 576px)
						padding: 12px
						max-width: none
					.logo-card
						width: 20%
						@media (max-width: 576px)
							width: 18%
					.info-card
						padding-left: 40px
						@media (max-width: 576px)
							padding-left: 15px
						p
							margin-bottom: .5rem
						.valid-card
							margin-bottom: 0
						.card-type
							@media (max-width: 576px)
								margin-left: 10px
								font-size: 10px
				.ccard-group
					@extend %d-flex
					margin-bottom: 1.5rem
					label
						width: 33.33%
						flex-direction: column
						@media (max-width: 480px) //add +
							width: 50%
					.img-card
						width: 140px
						// height: 80px
						height: 135px
						padding: 10px 0
						border: 1px solid #ccc
						@extend %d-flex
						@media (max-width: 767px)
							width: 100px
							height: 90px
							padding: 5px 0 //add +
						@media (max-width: 480px)
							width: 80px
							height: 75px

						img
							max-width: 85%
							margin: 0 auto
					.prov
						text-align: center

						padding-top: 5px
						max-width: 140px
						@media (max-width: 767px)
							max-width: 100px
						@media (max-width: 480px)
							max-width: 80px
					&.provider
						@extend %d-flex
						align-items: center
						flex-wrap: wrap
						.ccard-item
							@extend %align-center
							width: calc(50% - 2.5rem)
							@media (max-width: 767px)
								width: 100%
							&:not(:last-child)
								margin-right: 2.5rem
								@media (max-width: 767px)
									margin-right: 0
									margin-bottom: 1rem
							.img-card
								margin-right: 1rem
								margin-bottom: 0
								@media (max-width: 767px)
									width: 90px
									height: 55px
						.btn.btn-payment
							font-size: 13px
				.cash-content
					@extend %align-center
					margin-bottom: .5rem
					flex-wrap: wrap
					.main-logo
						background: #141414
						padding: 10px
						@media (max-width: 480px)
							padding: 5px 5px 0
					.left
						width: calc(25% - 1rem)
						margin-right: 1rem
						padding: 15px
						@media (max-width: 480px)
							width: 30%
							padding: 0
							margin-bottom: 1rem
							margin-right: 0
						img
							width: unset
							height: unset
					.right
						width: 75%
						@media (max-width: 480px)
							width: 100%
							margin-right: 0
						p
							margin-bottom: .75rem
				.code-payoo
					display: inline-block
					padding: 10px 15px
					background: #fff
					color: #6e6e6e
					border-radius: 3px
					> span
						font-size: 1rem
						color: #00a550
						font-weight: bold
						margin-left: 5px

				.summary-bill
					@extend %d-flex
					justify-content: flex-end
					align-items: center
					margin-bottom: .5rem
					@media (max-width: 767px)
						flex-wrap: wrap
					.img-store
						width: 65%
						@media (max-width: 991px)
							width: 57%
						@media (max-width: 767px)
							width: 100%
						.img-fluid
							max-width: 80%
							@media (max-width: 767px)
								max-width: 100%
					.summary
						margin-right: 1rem
						h4
							font-weight: bold
							font-size: .875rem
							color: #a9aaad
							@media (max-width: 480px)
								font-size: 13px
						> p
							font-weight: bold
							font-size: 1rem
							color: #00a550
							margin-bottom: 0
							@media (max-width: 480px)
								font-size: .875rem
					.summary-countdown
						@media (max-width: 767px)
							width: 100%
						.d-flex
							justify-content: flex-end
						span.countdown
							display: block
							text-align: right
							border-bottom: 1px solid #cccc
							margin-bottom: 1rem
							font-weight: bold
							padding-bottom: .5rem
							font-family: Arial, Helvetica, sans-serif
							@media (max-width: 767px)
								font-size: .875rem
							> label
								font-weight: normal
								margin-right: 5px

					.link-payment
						// width: 25%
						text-align: right
						// @media (max-width: 767px)
						//   width: 30%
						// @media (max-width: 480px)
						//   min-width: 125px
						> .btn.btn--m
							white-space: nowrap
							@media (max-width: 767px)
								font-size: .875rem
							@media (max-width: 480px)
								font-size: 13px
								padding: 0 10px
						// &.link-book
						//   width: 19%
						//   @media (max-width: 480px)
						//     min-width: 100px
						//   > button
						//     @media (max-width: 480px)
						//       font-size: 13px
						//       padding: 0 15px
			.note-payment
				padding-top: 15px
				text-align: center
				p
					color: #6e6e6e
					font-size: 12px
	.link-manage
		background: #eee8ee
		padding-top: 1.5rem
		> .btn.btn--m
			width: 100%
	p.note-payment
		color: gray
		font-size: 13px
		text-align: center
		background: #eee8ee
		padding-top: 1rem
		@media (max-width: 480px)
			font-size: 11px
		a
			color: #00a550

//-- Payment Guide
.payment-guide
	&__sect
		padding: 60px 0
		@media (max-width: 767px)
			padding: 45px 0
		h3.n-title
			color: #00a550
			margin-bottom: 2rem
		p
			margin-bottom: .5rem
			@media (max-width: 767px)
				font-size: .875rem
		a
			color: #00a550
			&.text-danger
				&:hover, &:focus
					color: #fc4a4a
		a:hover, a:focus
			text-decoration: underline

	&-content
		.list-method
			padding-left: 2rem
			@media (max-width: 767px)
				padding-left: 1rem
			> li
				list-style-type: circle
				margin-bottom: .5rem
				@media (max-width: 767px)
					font-size: .875rem

	&-detail
		.box-classify, .content-guide
			align-items: flex-start
			flex-wrap: wrap
			.left
				width: calc(70% - 3rem)
				margin-right: 3rem
				text-align:center
				@media (max-width: 1399px)
					width: calc(70% - 1.5rem)
					margin-right: 1.5rem
				@media (max-width: 1199px)
					width: calc(62% - 1.5rem)
					margin-right: 1.5rem
				@media (max-width: 767px)
					width: 100%
					margin-right: 0
					margin-bottom: 1rem
			.right
				width: 28%
				text-align:center
				@media (max-width: 1399px)
					width: 24%
				@media (max-width: 1199px)
					width: 30%
				@media (max-width: 767px)
					width: 100%
			.img-fluid
				box-shadow: 1px 2px 4px rgba(0,0,0,.25)
		.box-classify, .method-item
			padding-top: 2rem
			margin-bottom: 1rem
			@media (max-width: 767px)
				padding-top: 1.5rem
		.box-classify
			h4.ls-title
				font-size: 1.25rem
				font-weight: 600
				text-align: center
				color: $color-main
				margin-bottom: 1rem
				@media (max-width: 767px)
					font-size: 1.125rem
		.method-item
			h4.method-name
				font-weight: 600
				font-size: 1.125rem
				margin-bottom: 1rem
				@media (max-width: 767px)
					font-size: 1rem
			.d-flex
				padding-top: .5rem
				align-items: flex-start
				flex-wrap: wrap

