.here-autocomplete .autocomplt-box {
	position: absolute;
	z-index: 3;
	width: 100%;
	border: 1px solid #fff;
	background-color:rgba(0, 0, 0, .9);
}

.here-autocomplete .autocomplt-box.light {
	background-color:rgba(255, 255, 255, 1);
	border: 1px solid #e8e8e8;
}

.here-autocomplete .autocomplt-box.light .location-item p { 
	color: #141414;
	font-size: 0.8125rem;
}

.here-autocomplete .autocomplt-box .location-item {
	padding: .5rem .75rem;
	justify-content: unset;
	align-items: flex-start;
}

.here-autocomplete .autocomplt-box .location-item:hover {
	cursor: pointer;
	background-color: gray;
}


.here-autocomplete .autocomplt-box.light .location-item:hover{
	background-color: #fafafa
}

.here-autocomplete .autocomplt-box .location-item p {
	font-size: .875rem;
	margin: 0;
	line-height: 24px;
}

.here-autocomplete .autocomplt-box .location-item i {
	margin-right: .5rem;
	position: static !important;
	min-width: 24px;
}

.hiddenInput {
	position: relative;
	z-index: -1;
}

