//- All Settings for owner

// Settings bar
.body .body-container.settings
	padding: 60px 10px
	@media (max-width: 767px)
		padding: 50px 15px
	.content
		.form-default
			h3.text-inline
				display: inline
			> .tooltip
				display: inline
				.tooltip-text
					width: 200px
					margin-left: -105px
					span
						font-size: 11px
		.line-form.line-radio
			display: flex
			@media (max-width: 480px)
				flex-direction: column
			.wrap-input:first-child
				margin-right: 15px
				@media (max-width: 480px)
					margin-right: 0px
					margin-bottom: 10px
	.sidebar-settings.hide-on-med-and-down ul li
		margin-bottom: .5rem
		a
			&.active:before
				display: none
			&.active
				padding-left: 10px
		i.ic
			margin-right: 5px

//Sidebar settings in desktop
.body
	.sidebar-settings
		ul
			li
				&.heading
					font-weight: 500
					margin-bottom: 1rem
					@extend %align-center
					display:flex
					@media ( max-width:1199px )
						flex-direction: column
						align-items: flex-start
						
					// justify-content: space-between
					&:not(:first-child)
						margin-top: 1.5rem
					> p
						margin-right: 10px
						// width: 90%
					& > span.status
						font-size: 13px
						font-weight: 400
						padding: 5px 8px
						border: 1px solid #E8EAEF
						border-radius: 20px
						@extend %align-center

						@media (max-width: 1199px)
							margin-top: 5px

						& span.status
							
							width: 13px
							height: 13px
							border-radius: 100%
							display: inline-block
							margin-right: 10px
							box-shadow: 0 0 10px 0 #fde28b

				i.i-chevron-down
					@extend %i-chevron-down
					width: 8px
					height: 8px
					border-right: 2px #141414 solid
					border-bottom: 2px #141414 solid
					cursor: pointer
				a
					transition: all .3s ease
					position: relative
					&.active, &:hover, &:focus
						i.ic.ic-infomation
							background-position: -240px -119px
						i.ic.ic-photo
							background-position: -104px -333px
						i.ic.ic-license
							background-position: -48px -333px
						i.ic.ic-setting-rent
							background-position: -161px -333px
						i.ic.ic-setting-price
							background-position: -220px -333px
						i.ic.ic-setting-calendar
							background-position: -240px 0px
						i.ic.ic-management
							background-position: -133px -333px
						i.ic.ic-plus-black
							background-position: -143px -120px
						i.ic.ic-gps
							background-position: -192px -145px
						i.ic.ic-cars
							background-position: -161px -362px
						i.ic.ic-owner-wallet
							background-position: -217.5px -170px
						i.ic.ic-mortgages
							background-position: -245px -194px
						i.ic.ic-thunderbolt
							background-position: -170.5px -219px
						i.ic.ic-delivery
							background-position: -292px -192.5px
						i.ic.ic-policy
							background-position: -271px -192.5px

				span.has-reddot
					@extend %red-dot
					right: auto
					top: 7px
					@media (max-width: 767px)
						right: -10px
						top: -5px
					@media (max-width: 480px)
						right: -4px
						top: -3px
						width: 5px
						height: 5px

//Sidebar Show on Phone
.sidebar-settings.show-on-med-and-down
	display: none !important
	@media (max-width: 767px)
		position: fixed
		bottom: 0
		display: flex !important
		background-color: white
		padding: 15px 0
		width: 100%
		margin-bottom: 0px
		box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.3)
		z-index: 9999
		justify-content: center
		border-top: 1px solid #ddd
	@media (max-width: 480px)
		padding: 10px 0
	ul
		display: flex
		justify-content: space-around
		width: 100%
	li
		i.ic
			transform: scale(1.3)
			@media (max-width: 480px)
				transform: scale(1.1)
	ul li a
		&.active
			padding-left: 0px
			color: #00a550
		&.active:before
			display: none

	//-- Dropdowwn sd & wd setting
	.sd-settings, .wd-settings
		// &.open
		// 	i.ic.ic-sd-notif
		// 		background-position: -321px -49px
		// 	i.ic.ic-wd-notif
		// 		background-position: -372px -95px
		.bg-overlay.dropdown
			@extend %overlay-bg
			background: rgba(0, 0, 0, 0.75)
			height: calc(100vh - 250px)
		.dropdown-menu
			@extend %pseudo-e
			top: calc(-100% - 200px)
			width: 100%
			min-height: 245px
			background: #fafafa
			box-shadow: 0 -7px 10px 0 rgba(0, 0, 0, 0.3)
			z-index: 2
			padding: 15px 15px 0
			@media (max-width: 480px)
				top: calc(-100% - 210px)

			& > span.status
				font-size: 13px
				font-weight: 400
				padding: 5px 8px
				border: 1px solid #E8EAEF
				border-radius: 20px

				& span.status
					vertical-align: middle
					width: 13px
					height: 13px
					border-radius: 100%
					display: inline-block
					margin-right: 10px
					box-shadow: 0 0 10px 0 #fde28b
		ul.sub-menu
			margin-top: 20px
			> li
				margin-bottom: 1rem
				a
					@extend %align-center
				i.ic
					margin-right: .75rem

// Headerbar - General Setting for manage (List cars, manage car, GPS...)
.sidebar-control.z-2
	position: relative
	z-index: 2
.sidebar-settings.general-settings
	display: flex
	background-color: white
	padding: 15px 0
	width: 100%
	margin-bottom: 0px
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3)
	justify-content: center
	border-bottom: 1px solid #f7f8f7
	@media (max-width: 480px)
		padding: 10px 0
	ul
		display: flex
		max-width: 1260px
		margin: 0 auto
		width: 100%
		justify-content: center
		@media (max-width: 991px)
			justify-content: space-around
			max-width: none
	li
		padding: 0 40px
		@media (max-width: 1199px)
			padding: 0 20px
		@media (max-width: 991px)
			padding: 0
		&:not(:last-child)
			border-right: 1px solid #e8e8e8
			@media (max-width: 991px)
				border-right: none
		// &:nth-child(5)
		// 	border-right: none
		// &:last-child
		// 	display: none
		i.ic
			transform: scale(1.3)
			@media (max-width: 480px)
				transform: scale(1.1)
		span.label
			padding-left: 15px
			font-size: .875rem
			@media (max-width: 991px)
				display: none
		img
			height: 24px
			width: auto
	ul > li > a
		display: flex
		align-items: center
		&.active
			padding-left: 0px
			span.label
				color: #00a550
		&.active:before
			display: none
		&:hover, &:focus
			span.label
				color: #00a550

//- Setting Calendar
//Status of Calendar -- user for manage cars
.event
	color: $color-main
	font-weight: bold
.outside
	p
		color: #ddd
	.event
		color: rgba(0, 165, 80, .35)
.current-date
	border: 1px solid rgba(169, 170, 173, .5)
.available
	background: #f8f9fb
.gray
	background: repeating-linear-gradient(-45deg, #a9aaad, #a9aaad 5px, #6c6c6e 5px, #6c6c6e 10px)
.full-gray
	background-color: darkgray
.full
	background: repeating-linear-gradient(-45deg, #ccc, #ccc 5px, #c01623 5px, #c01623 10px)
.booked
	position: absolute
	top: 0
	height: 100%
	background: #C0392B
.half
	width: 50%
	left: 0
.available.mn-weekend
	background-color: rgba(211,211,211,.5)
.label-in-calendar
	position: absolute
	top: 3px
	right: 5px
	display: flex
	@media (max-width: 576px)
		right: 3px
	i.ic:last-child
		margin-left: 5px
		@media (max-width: 576px)
			margin-left: 3px

//-- Setting Pricicing
.link-calendar
	display: flex
	&:hover, &:focus
		color: #00a500
		i.ic.ic-setting-calendar
			background-position: -240px 0px

//- Setting Renting
//- Setting Renting - Instant booking
.content-container
	.form-instant-booking
		@extend %d-flex-wrap
		.line-form
			width: calc(50% - .75rem)
			margin-bottom: 0
			@media (max-width: 767px)
				width: 100%
			&:not(:last-child)
				margin-right: 1.5rem
				@media (max-width: 767px)
					margin-right: 0
					margin-bottom: 1rem
			select:disabled
				color: gray
				-webkit-text-fill-color: gray
	.form-min-times
		@extend %d-flex-wrap
		flex-wrap: nowrap
		margin-bottom: 1rem
		position: relative
		.line-form
			width: calc(20% - 1rem)
			margin-bottom: 0
			@media (max-width: 767px)
				width: calc(20% - .75rem)
			&.has-timer
				width: calc(40% - 1rem)
				@media (max-width: 767px)
					width: calc(40% - .75rem)
			&:not(:last-child)
				margin-right: 1.5rem
				@media (max-width: 767px)
					margin-right: .75rem
			.wrap-input-label
				padding-right: 0
				.wrap-input
					width: 90%
					input
						@media (max-width: 576px)
							padding: 13px 10px
			.wrap-input.has-dropdown
				.value
					@media (max-width: 576px)
						font-size: 13px
						padding: 11px 10px
		a.rm-mintimes
			position: absolute
			right: -10px
			top: 50%
	a.add-times
		font-size: 0.875rem
		&:hover, &:focus
			color: #00a550
		.ic
			margin-right: 5px

// Setting-GPS
// Tracking
.filter-control
	margin-bottom: 1rem
	.wrap-select
		width: 320px

.form-default
	&.form-pick-return-time
		display: flex
		margin-bottom: 25px
		position: relative
		@media ( max-width: 767px)
			margin-bottom: 15px
		.rm-mintimes
			position: absolute
			left: calc(#{percentage(2/3)} + 60px) 
			top: calc(50% - 12px)
			@media ( max-width: 767px )
				left: auto
				right: 0px
				top: 50%
		.line-form
			width: calc(#{percentage(1/3)} - 1.875rem)
			display: flex
			align-items: center
			margin-right: 3.75rem
			margin-bottom: 0
			@media ( max-width: 767px )
				flex-direction: column
				align-items: flex-start
				width: calc(50% - 23px)
				margin-right: 0.75rem
			&:last-child
				margin-right: 0
				
		label.label
			margin-bottom: 0
			margin-right: 0.625rem
			width: 20%
			@media ( max-width: 767px )
				margin-bottom: 5px
				margin-right: 0