//-- Style of My Trips (Owner & Driver), List Car & Trip Details


// Component
table.cancel-privacy
	width: 100%
	margin-bottom: 10px
	td
		text-align: center
		color: #141414
	thead
		border-top: 2px solid #e0e8ef
		border-bottom: 2px solid #e0e8ef
		td
			font-weight: 500

span.label-biz 
	@extend %label-span
	padding: 3px 10px 
	font-size: 11px
	background: $color-link
	display: inline-block 
	margin-bottom: .5rem
	@media (max-width: 767px)
		font-size: 10px  

//-- When no trips
.min-height-no-trips
	min-height: calc(100vh - 60px - 60px)
	@media (max-width: 767px)
		min-height: calc(100vh - 50px - 55px)

//-- When register cars
.min-height-register
	min-height: calc(100vh - 60px - 55px)
	@media (max-width: 767px)
		min-height: calc(100vh - 50px - 55px)

//-- New Trips - Header Menu Trips & history
.finding-control.shadow
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3)
	min-height: 60px
	@media (max-width: 767px)
		min-height: 55px
	.wrapper-find.wrapper-new-trips
		justify-content: space-between
		padding: 6px 0
	.tab-filter
		margin-right: 70px
		@media (max-width: 1199px)
			margin-right: 45px
		@media (max-width: 991px)
			margin-right: 25px
		@media (max-width: 576px)
			margin-right: 10px
		.btn.btn--m
			position: relative
			@media (max-width: 576px)
				font-size: .875rem
				padding: 0 10px
				height: 36px
				line-height: 36px
			> span
				@media (max-width: 480px)
					display: none
			&:focus
				background-color: #fff
			&.has-dot-red
				&:after
					@extend %red-dot
					@media (max-width: 576px)
						top: 7px
						right: 7px
						width: 6px
						height: 6px
	.tab-trips
		width: auto
		margin-left: 10px
		margin-right: .5rem
		ul
			@extend %d-flex
			li
				padding: 8.5px 0
				a
					font-weight: 600
					color: #a9aaad
					font-size: 1rem
					position: relative
					padding: 0 30px
					transition: all .3s ease
					@media (max-width: 576px)
						font-size: .875rem
						padding: 0 10px
					&:hover
						color: #00a550
					&.active
						color: #00a550
						&:before
							@extend %pseudo-e
							bottom: -22px
							top: auto
							width: 100%
							height: 2px
							background-color: #00a550


.module-trips
	padding-left: 40px
	width: 100%
	&.module-map
		padding-left: 0
	.tabs-lt
		margin-bottom: 15px
		ul
			display: flex
			justify-content: flex-end
			li
				padding: 10px 15px
				border: 1px solid #00a550
				border-radius: 5px
				a
					color: #a9aaad
				&:last-child
					display: none
				i.ic.ic-list
					margin-left: 5px
	.trip-container
		max-width: 770px
		margin: 0 auto
		@media (max-width: 991px)
			max-width: 670px
		@media (max-width: 767px)
			max-width: none
			padding: 0 25px
		@media (max-width: 480px)
			padding: 0 10px
		.has-trip
			padding-top: 40px
			@media (max-width: 480px)
				padding-top: 30px


// Box trips
.trip-box
	width: 100%
	background-color: white
	margin-bottom: 30px
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3)
	@media (max-width: 480px)
		margin-bottom: 15px
	.trip-header
		display: flex
		justify-content: space-between
		align-items: center
		padding: 15px 30px 0 30px
		@media (max-width: 480px)
			padding: 15px 15px 10px 15px
		.left
			width: 30%
			display: flex
			@media (max-width: 480px)
				width: 40%
			.car-img
				position: relative
				width: 100%
			.fix-img
				position: relative
				max-width: 100%
				padding-bottom: 70%
				img
					position: absolute
					top: 0
					left: 0
					width: 100%
					height: 100%
					object-fit: cover
		.right
			padding-left: 20px
			width: 70%
			@media (max-width: 480px)
				width: 60%
			h4
				font-size: 1.5em
				font-weight: bold
				@media (max-width: 767px)
					font-size: 1em

	.trip-body
		display: flex
		align-items: center
		flex-wrap: wrap
		justify-content: space-between
		padding: 0px 30px 15px 30px
		@media (max-width: 480px)
			padding: 0px 15px 15px 15px
		.left
			width: 75%
			@media (max-width: 1199px)
				width: 65%
			@media (max-width: 576px)
				width: 100%
				padding-bottom: 10px
			.total-price
				font-weight: bold
				padding-bottom: 10px
				margin-bottom: 0px
				position: relative
				display: flex
				align-items: center
				i.ic.ic-total-price
					margin-right: 5px
			p
				margin-bottom: .25rem
				@media (max-width: 767px)
					font-size: 14px
				@media (max-width: 480px)
					font-size: 13px
		.right
			display: flex
			flex-direction: column
			align-items: center
			width: 25%
			@media (max-width: 1199px)
				width: 35%
			@media (max-width: 576px)
				width: 100%
				flex-direction: row
			.lstitle
				font-size: 16px
				text-transform: uppercase
				text-align: center
				padding-bottom: .5rem
				padding-top: 10px
				color: #57a8ff
				@media (max-width: 576px)
					padding-left: 10px
					width: 70%
					font-size: 14px
					text-align: left
			.avatar
				width: 85px
				height: 85px
				@media (max-width: 991px)
					width: 75px
					height: 75px
				@media (max-width: 576px)
					width: 65px
					height: 65px
			.avatar-img
				position: relative
				max-width: 100%
				border-radius: 100%
				padding-bottom: 100%
				overflow: hidden
				box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3)
				img
					position: absolute
					top: 0
					bottom: 0
					width: 100%
					height: 100%
					object-fit: cover
	.trip-footer
		border-top: 1px solid #e0e0e0
		width: 100%
		display: flex
		justify-content: space-between
		background: #f8f9fb
		padding: 15px 30px 15px
		@media (max-width: 480px)
			padding: 15px
		.time
			p
				@media (max-width: 767px)
					font-size: 14px
				@media (max-width: 480px)
					font-size: 12px
	//-- New My Trips
	&.new-box
		.trip-header
			justify-content: normal 
			margin-bottom: .75rem
			@media (max-width: 576px)
				margin-bottom: 0
			@media (max-width: 480px)
				flex-wrap: wrap

		h4.car-name
			font-weight: 600
			font-size: 1.5rem
			// margin-bottom: .75rem
			@extend %align-center
			// flex-wrap: wrap
			// width: 80%
			// justify-content: space-between
			@media (max-width: 767px)
				font-size: 1.25rem
			@media (max-width: 576px)
				font-size: 1.125rem
				display: flex 
				flex-wrap: wrap 
			> span:first-child 
				@media (max-width: 576px)
					width: 100% 
					order: 3 


		span:first-child
			padding-right: 10px
		
	
		span 
			&.service-type, &.label-biz 
				@media (max-width: 576px)
					font-size: 10px

			&.service-type
				background: rgba(0, 165, 80, .6) 
				border-radius: 20px
				padding: .125rem .75rem
				color: #fff
				font-size: .75rem
				margin-right: 5px 
			&.label-biz 
				padding: .125rem .75rem 
				font-size: .75rem
				line-height: unset
				margin-bottom: 0

		.trip-body
			align-items: flex-start
			.left
				width: 20%
				@media (max-width: 576px)
					width: 30%
					padding-bottom: 0
			.right
				width: 80%
				align-items: flex-start
				@media (max-width: 576px)
					flex-direction: column
					width: 70%
					padding-left: 10px
				p
					margin-bottom: .5rem
					@media (max-width: 480px)
						font-size: .75rem
					&.total-price
						font-weight: 600

// Filter Generates for list car and list trips
.filter-trips
	width: 325px
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3)
	height: auto
	z-index: 2
	float: left
	background-color: #fff
	position: relative
	margin-top: 50px
	@media (max-width: 991px)
		float: none
		display: none
	@media (max-width: 480px)
		margin-top: 25px
	.content-filter
		box-shadow: none
		.btn-group
			margin-top: 40px
		.wrap-btn-filter
			margin-top: 20px
			width: 100%
			padding-right: 0px
			&:first-child
				margin-top: 0px
				margin-bottom: 0px
			&:last-child
				margin-bottom: 40px
	.rent-car
		.line-form
			.label
				font-weight: bold
			.wrap-input.date
				width: 100%


// Drivers
.status-trips
	p
		display: flex
		align-items: center
		@media (max-width: 767px)
			font-size: 14px
		@media (max-width: 480px)
			font-size: 12px
		span.status
			width: 16px
			height: 16px
			border-radius: 100%
			display: inline-block
			margin-right: 10px
		span.status.green-dot
			background-color: #00a550
			box-shadow: 0 0 10px 0 #00a550
		span.status.red-dot
			background-color: #f44336
			box-shadow: 0 0 10px 0 #f44336
		span.status.black-dot
			background-color: #6e6e6e
			box-shadow: 0 0 10px 0 #6e6e6e
		span.status.orange-dot
			background-color: #fde28b
			box-shadow: 0 0 10px 0 #fde28b
		span.status.gray-dot
			background-color: #a9aaad
			box-shadow: 0 0 10px 0 #a9aaad

// List Car
.btn-group-trips
	background-color: #e8eaef
	display: flex
	justify-content: center
	flex-direction: column
	align-items: center
	padding: 30px 0px
	position: relative
	top: 50px
	width: 325px
	@media (max-width: 991px)
		flex-direction: row
		position: absolute
		top: 0px
		right: 15px
		background: transparent
	@media (max-width: 480px)
		right: 0
		width: 100%
		flex-direction: column
		margin: 0 auto
	.wrap-btn-filter
		width: 100%
		margin-top: 20px
		@media (max-width: 480px)
			width: 90%
			margin-top: 0px
		a.btn.btn--m
			width: 100%
			@media (max-width: 480px)
				font-size: 15px
		&:first-child
			@media (max-width: 991px)
				margin-right: 10px
				margin-top: 20px
			@media (max-width: 480px)
				margin-right: 0px
				margin-top: 0px
				margin-bottom: 10px
.module-map.module-car
	@media (min-width: 767px)
		overflow-y: unset
	&.mycars
		@media( min-width: 992px)
			width: calc( 100% - 340px )
	.listing-car
		display: flex
		width: 100%
		flex-wrap: wrap
		padding-left: 0px
		padding-top: 50px
		@media (max-width: 991px)
			padding-top: 50px
			padding-right: 0px
		@media (max-width: 480px)
			padding-top: 45px
		.trip-box
			width: 100%
			border-radius: 5px
			position: relative
			margin-bottom: 2.5%
			&:hover, &:focus
				.func-remove
					opacity: 1
					visibility: visible
			@media (max-width: 576px)
				width: 100%
				margin-bottom: 15px
				&:nth-child(2n+2)
					margin-left: 0px
		.box-wrap
			display: flex
			flex-wrap: wrap
			position: relative
		.func-remove
			opacity: 0
			visibility: hidden
			position: absolute
			z-index: 2
			top: -15px
			right: -10px
			border-radius: 100%
			width: 32px
			height: 32px
			box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1)
			background-color: #fff
			transition: all .3s ease
			display: flex
			justify-content: center
			align-items: center
	.item-car.status-trips
		padding: 20px 15px
		width: 50%
		@media (max-width: 767px)
			width: 100%
		@media (max-width: 480px)
			padding: 10px
		p.status
			position: absolute
			top: 20px
			left: 20px
			z-index: 2
			background-color: rgba(0,0,0,.5)
			border-radius: 20px
			padding: 5px 8px
			color: #ffffff
			font-size: .75em
			span.status
				position: static
				z-index: unset
				padding: 0px
				padding-left: 0px
		.car-img
			position: relative
		.fix-img
			position: relative
			max-width: 100%
			padding-bottom: 72%
			@media (max-width: 480px)
				padding-bottom: 82%
			img
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				object-fit: cover
		span.price
			display: none
			color: #00a550
			font-size: 18px
			font-weight: bold
			position: absolute
			top: 0
			right: 0
			background-color: #fff
			padding: 5px 15px
			border-radius: 0px 0 0 15px
			@media (max-width: 767px)
				display: block

	.desc-car
		padding: 15px 15px 15px
		width: 50%
		@media (max-width: 767px)
			// position: absolute
			// width: auto
			// background: rgba(0,0,0,.5)
			// padding: 10px 15px
			// right: 15px
			// bottom: 15px
			width: 100%
			padding-top: 0px
		@media (max-width: 480px)
			padding: 10px
			width: 100%
			padding-top: 0px
			// right: 10px
			// bottom: 10px
			// width: 85%
		.wrap-line
			display: flex
			align-items: center
			.bar-line
				width: 10px
				height: 1px
				background: #141414
				margin-left: 5px
				margin-right: 5px
				@media (max-width: 767px)
					background: white
			p
				font-size: 14px
				line-height: 24px
				@media (max-width: 767px)
					color: white
				@media (max-width: 480px)
					font-size: 13px
		p.cost
			margin-top: 8px
			@media (max-width: 767px)
				font-size: .875rem
		span.price
			font-size: 1rem
			font-weight: 600
			color: #00a550
			@media (max-width: 767px)
				font-size: .875rem
		h2
			margin-bottom: 5px
			color: #141414
			font-size: 1.125em
			font-weight: 700
			// @media (max-width: 767px)
				// color: #fff
			@media (max-width: 480px)
				font-size: 1em
		hr.line-m
			position: absolute
			width: 46%
			bottom: 80px
			border: .5px solid #e8e8e8
			@media (max-width: 1199px)
				bottom: 70px
				width: 45%
			@media (max-width: 991px)
				bottom: 80px
			@media (max-width: 767px)
				display: none
		a.btn.btn--m
			width: 22%
			bottom: 15px
			position: absolute
			@media (max-width: 1199px)
				width: 21.5%
				font-size: 14px
			@media (max-width: 991px)
				width: 22%
			@media (max-width: 767px)
				display: none
			&:last-child
				right: 15px
		// p
		//   display: flex
		//   padding-top: 10px
		//   color: #141414
		//   font-size: .875em
		//   span
		//     display: flex
		//     align-items: center
		//     margin-right: 25px
		//     i
		//       margin-right: 5px
	.trip-footer
		border-radius: 0 0 5px 5px
		padding: 15px
		display: none
		@media (max-width: 767px)
			display: flex
			flex-wrap: wrap
		@media (max-width: 480px)
			padding: 10px
		a.btn
			width: 100%
			margin-bottom: 8px
			&:last-child
				margin-bottom: 0px

// Filter on Small Device
.filter-trips.show-on-small
	display: none
	@media (max-width: 991px)
		display: flex !important
		width: 100%
		margin-top: 0px
	.content-filter
		width: 100%
	.rent-car
		padding: 0 15px
		padding-top: 12px
		display: flex
		.line-form
			display: flex
			justify-content: center
			align-items: center
			width: 100%
			margin-bottom: 12px
			label
				padding-right: 10px
				@media (max-width: 480px)
					width: 30%
					padding-right: 0px
			.wrap-select
				width: 70%

	// Sidebar control
.sidebar-control
	.sidebar-settings.show-on-med-and-down
		@media (max-width: 991px)
			display: flex !important
			background-color: white
			padding: 12px 0
			width: 100%
			margin-bottom: 0px
			box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3)
			z-index: 9999
			justify-content: center
			border-bottom: 1px solid #f7f8f7
		@media (max-width: 480px)
			padding: 10px 0
//== Modal Confirm Book
.modal-dialog.modal-confirm
	max-width: 870px
	width: auto
	@media (max-width: 991px)
		max-width: none
		margin: 40px .5rem
	.modal-content
		max-width: none
		width: 100%
		.modal-body
			padding-bottom: 0px
		.module-register
			.content-register
				padding: 0
				.info-car--more
					.lp.lp-confirm
						margin: 0 -5px 40px
						@media (max-width: 767px)
							margin: 0 -5px 20px
						.lp-li
							width: 100%
							float: none
							margin-bottom: .5rem
							@media (max-width: 767px)
								width: 50%
								float: left
							&:last-child
								margin-bottom: 0px
							.item-lp
								height: 80px
								padding: 15px 8px
					.message
						display: flex
						justify-content: space-between
						margin-bottom: 10px

						h6
							margin: 0

						a
							@extend %d-flex-center
							.label
								margin-right: 5px
						i.ic
							width: 18px
							height: 18px
							background-size: 300px
							background-position: -36px -18px
							cursor: pointer
					textarea.textarea
						margin-bottom: 0px
				.info-car--more
					@extend .df-full
					@supports (display: grid)
						display: grid
						grid-template-columns: 30% 20% 20% 30%
						grid-template-rows: auto
					@media (max-width: 767px)
						@supports (display: grid)
							grid-template-columns: 35% 65%
					[class^='group-'], .payment
						@media (max-width: 767px)
							flex-basis: 100%
							grid-column: 1/ span 2
					.group-1, .group-6, .full-wrapper
						flex-basis: 100%
						@supports (display: grid)
							grid-column: 1/span 4
					.group-2, .group-4
						flex-basis: 30%
						align-self: flex-start
						@supports (display: grid)
							grid-column: 1/2
							padding-right: 15px
						@media (max-width: 767px)
							flex-basis: 35%
							@supports (display: grid)
								grid-column: 1
						@media (max-width: 576px)
							flex-basis: 100%
							@supports (display: grid)
								grid-column: 1/span 2
								padding-right: 0px
					.group-3, .group-5
						flex-basis: 70%
						@supports (display: grid)
							grid-column: 2/ span 4
							padding-left: 15px
						@media (max-width: 767px)
							flex-basis: 65%
							@supports (display: grid)
								grid-column: 2
						@media (max-width: 576px)
							flex-basis: 100%
							@supports (display: grid)
								grid-column: 1/span 2
								padding-left: 0px
					.group-7
						flex-basis: 70%
						@supports (display: grid)
							grid-column: 1/span 3
						padding-right: 15px
						@media (max-width: 576px)
							padding-right: 0px
						.line-form
							border: 1px solid #e8eaef
							border-radius: 3px
							padding: 15px 25px
							@media (max-width: 576px)
								padding: 0 10px

					.payment
						flex-basis: 30%
						@supports (display: grid)
							grid-column: 4
							align-self: flex-end
						padding-left: 15px
						@media (max-width: 767px)
							padding-left: 0px
					.group-1
						@extend .d-flex
						justify-content: flex-start
						align-items: center
						flex-flow: row wrap
					.group-4, .group-5
						margin-bottom: 20px
					.group-4
						align-self: center
					.bar-line
						width: 3rem
						height: 1px
						background-color: #141414
						margin: 0 15px
						@media (max-width: 576px)
							display: none
					.group-info
						flex-basis: 100%
						&.mb-4
							margin-bottom: 20px
						&.insurance
							margin-bottom: 40px
						span
							font-weight: normal
						.grid-form
							@extend .df-full
							flex-wrap: nowrap
							justify-content: space-between
							@supports (display: grid)
								//display: grid
								grid-template-columns: repeat(2, 50%)
							@media (max-width: 767px)
								flex-wrap: wrap
								@supports (display: grid)
									grid-template-columns: 100%
							.line-form
								@media (max-width: 767px)
									width: 100%

					.address-car, .note
						margin-bottom: 20px

					.fix-map
						// padding-top: 10px
						position: relative
						max-width: 100%
						padding-bottom: 30%
						overflow: hidden
						@media (max-width: 576px)
							padding-bottom: 45%
						img.map, iframe
							width: 100%
							position: absolute
							left: 0
							top: 0
							object-fit: cover
					.col-right.d-flex
						align-self: flex-start
						flex-wrap: wrap
						flex: 1 auto
						// justify-content: flex-end
						// @media (max-width: 767px)
						//   display: none
					h6.name
						text-transform: uppercase
						text-align: left
						font-size: 1rem
						margin-bottom: 0px
						@media (max-width: 576px)
							width: 100%
							font-size: .875rem
					hr.line-name
						border: .5px solid rgba(0,0,0,.1)
						width: 100%
						margin-bottom: 30px
						margin-top: 10px

					.car-img
						width: 100%
						@media (max-width: 576px)
							margin-bottom: 20px
						.fix-img
							padding-bottom: 75%
							overflow: hidden
							box-shadow: 0 1px 2px rgba(0,0,0,.3)
					.form-default
						.line-form
							.wrap-input.has-dropdown.has-value
								@extend .d-flex
								justify-content: flex-start
								border: none
								@media (max-width: 576px)
									height: 45px
								.value
									@media (max-width: 576px)
										font-size: 12px
									h6
										margin-bottom: 0
										@media (max-width: 576px)
											font-size: 12px
								&.time
									span
										@media (max-width: 576px)
											display: inline
											padding-right: 0
											width: 100%
											text-align: right
								&.long-term
									height: 30px
									padding-bottom: 10px
									@media (max-width: 576px)
										height: 25px
									i.ic.ic-question-mark
										transform: scale(.65)
										@media (max-width: 576px)
											transform: scale(.5)
											position: relative !important
											top: 0
											left: -5px
									span.value
										color: rgb(174, 174, 176)
										font-size: 12px
										line-height: 18px
										@media (max-width: 576px)
											font-size: 10px
											line-height: 12px
											padding: 0
								&.line-gray
									border-top: 1px solid #ccc
					.profile-mini-v2
						@extend .df-full
						text-align: center
						position: relative
						padding: 0px
						@media (max-width: 767px)
							//padding-left: 15px
						@media (max-width: 480px)
							justify-content: center

						.avatar.avatar-new
							width: 80px
							height: 80px
							.avatar-img
								box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3)
							@media (max-width: 767px)
								width: 65px
								height: 65px
						.desc-v2
							padding-top: 10px
							@extend .df-full
							flex-direction: column
							h2
								font-size: 1rem
								@media (max-width: 480px)
									font-size: .875rem

					.lstitle-new
						width: 100%
						margin-bottom: 20px
						color: #141414
						font-size: 1em
						font-weight: bold
						line-height: 1.5
						display: block
					.require-paper
						margin-bottom: 20px
						flex: auto
						ul.required
							@extend .d-flex
							flex-wrap: wrap
							justify-content: flex-start
							li
								font-size: .875rem
								flex-basis: 50%
								display: flex
								align-items: center
								@media (max-width: 576px)
									flex-basis: 100%
									margin-bottom: .5rem
								&:last-child
									@media (max-width: 576px)
										margin-bottom: 0px
							img
								margin-right: 5px
					.full-wrapper
						.line-form, .squaredFour.have-label
							margin-bottom: 20px
					.wrap-btn.has-2btn
						margin: unset
						padding: 0
						max-width: unset
						//margin-top: 20px
						@media (max-width: 576px)
							padding-top: 20px
						.btn
							margin: 0
					.form-default
						.line-form.has-timer
							@media (max-width: 767px)
								margin-bottom: 10px
						.line-form.has-timer:last-child
							@media (max-width: 767px)
								margin-bottom: 0px
						p
							color: #141414
							margin-bottom: 0px


//-- Box Trip Photo Component in Trip detail
.box-photo__wrap
	margin-bottom: 1rem
	.box-item
		margin: 15px 0 0 0
		.fix-img
			padding-bottom: 75%
			&.add-box
				background: #cccccc
				position: relative
				&:before
					content: ""
					position: absolute
					top: 0
					left: 0
					width: 100%
					height: 100%
					background: rgba(255, 255, 255, .5)
					z-index: 2
		.add-photo
			position: absolute
			top: 50%
			left: 50%
			width: 80px
			height: 80px
			background: #fff
			transform: translate(-50%, -50%)
			border-radius: 100%
			z-index: 3
			@extend %d-flex-center
			> i
				transform: scale(1.2)
		a.func-remove
			position: absolute
			top: -17px
			right: -17px
			background-color: #fff
			width: 34px
			height: 34px
			padding: 4px
			box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1)
			z-index: 2
			@include radius(100%)
//== Trip Details
.module-register
	.wrap-btn.dt-trip-btn
		max-width: 960px
		padding: 0px
		.btn
			margin-bottom: 15px
		&.has-2btn
			.wr-btn
				@media (max-width: 480px)
					width: 100%
					float: none
					padding: 0
	.register-container.trip-container
		max-width: 960px
		background-color: transparent
		h4.title-page
			font-size: 1.25em
			font-weight: bold
			margin-bottom: .5rem
		.content-register
			background-color: #fff
			&.d-shadow
				box-shadow: 0px 2px 3px rgba(0,0,0,.1)
				position: relative
				padding: 0px
			.stepbystep
				border-bottom: none
				margin: 0
				ul
					li
						&.active, &.pre-step, &.next-step
							transition: all .3s ease
							span.value
								color: #141414
						&.next-step
							position: relative
							span.nu
								background-color: #ffffff
								border: 1px solid #00a550
						span.nu
							@media (max-width: 767px)
								font-size: 10px

		.booking-status
			background: $color-gray-2
			padding: 15px 25px
			position: relative
			@media (max-width: 576px)
				padding: 10px 15px
			&.reject-trip
				background-color: #141414
			&.arrow-1, &.arrow-2, &.arrow-3, &.arrow-4, &.arrow-5, &.arrow-opp-2, &.arrow-opp-3, &.arrow-opp-4
				&:before
					content: ""
					position: absolute
					top: -10px
					left: 0%
					transform: translateX(0%)
					width: 0
					height: 0px
					border-bottom: solid 10px #3C4858
					border-left: solid 10px transparent
					border-right: solid 10px transparent
			&.arrow-2
				&:before
					left: 25%
					transform: translateX(-25%)
			&.arrow-3
				&:before
					left: 50%
					transform: translateX(-50%)
			&.arrow-4
				&:before
					left: 75%
					transform: translateX(-75%)
			&.arrow-5,  &.arrow-opp-4
				&:before
					left: 100%
					transform: translateX(-100%)
			&.arrow-opp-2, &.arrow-opp-3, &.arrow-opp-4
				&:before
					border-bottom: none
					bottom: -10px
					top: auto
					border-top: solid 10px #3C4858
			&.arrow-opp-2
				&:before
					left: 33.33%
					transform: translateX(-33.33%)
			&.arrow-opp-3
				&:before
					left: 66.67%
					transform: translateX(-66.67%)
			p
				color: white
				width: 100%
				// @media (max-width: 767px)
				//   width: 100%


			&.status-trips
				flex-wrap: wrap
				display: flex
				p > span
					@media (max-width: 576px)
						width: 100%
						//width: 90%
				span.status
					@media (max-width: 576px)
						width: 12px
						height: 12px
				span:nth-child(2)
					width: 100%
			span.countdown
				color: white
				width: 100%
				text-align: left
				font-weight: 700
				margin-top: .5rem
				margin-left: 26px
				font-family: sans-serif
				@media (max-width: 767px)
					font-size: 14px
				@media (max-width: 576px)
					font-size: 12px
					margin-left: 22px

		.content-register.line-gray
			border-bottom: 5px solid #e8eaef
			.reject
				padding: 20px 0
				display: flex
				align-items: center
				h6
					margin-bottom: 0px
				p
					padding-left: 10px

		.content-register.content-trip
			padding: 0 25px
			@media (max-width: 576px)
				padding: 0 15px
			.info-car--more
				@media (max-width: 767px)
					padding: 0
				.review.group-info
					> h6
						margin-bottom: 0
				h6.name
					margin-bottom: 0px
				h6
					@media (max-width: 576px)
						font-size: .875rem
						margin-bottom: 10px
				.lp.lp-confirm
					margin: 0 -5px 40px
					width: 100%
					@media (max-width: 767px)
						margin: 0 -5px 20px
					.lp-li
						width: 100%
						float: none
						margin-bottom: .5rem
						@media (max-width: 767px)
							width: 50%
							float: left
						&:last-child
							margin-bottom: 0px
						.item-lp
							height: 80px
							padding: 15px 8px
			.group-info.count-down
				display: flex
				justify-content: space-between
				padding: 15px 0
				border-top: 1px solid #00a550
				border-bottom: 1px solid #00a550
				margin-bottom: 25px
				> h6
					margin-bottom: 0
				> h6, > p
					@media (max-width: 480px)
						font-size: .825rem
	.status-wrapper
		margin-bottom: 40px
		.content-trip
			background: #fff
			h4.title
				color: #141414
				padding: 15px 25px 0
			.fix-map
				padding-bottom: 30%
			&.code
				padding: 15px 25px
				background: #00a550
				h4.tt
					color: #fff
					margin-bottom: 0
					font-size: 16px
				.code-payoo
					font-size: 24px
					text-align: center
					font-weight: bold
					color: #fff
			&.insurance
				padding: 10px 25px
				border-left: 5px solid #00a550
				@extend %align-center
				flex-wrap: wrap
				box-shadow: 0px 1px 5px rgba(0,0,0,.3)
				@media (max-width: 480px)
					padding: 10px 15px
				.status-insurance
					color: #00a550
					> i
						margin-right: 5px
				.note
					width: 100%
					color: $color-second
					font-size: .875rem
					padding-left: 30px
					@media (max-width: 576px)
						width: 100%
						font-size: .8125rem
				.btn-ins
					@media (max-width: 576px)
						margin-top: .5rem
					> i
						margin-right: 5px
				&.deactive
					border-left: 5px solid #f44336
					.status-insurance
						color: #f44336
				&.waiting
					border-left: 5px solid #F2C94C
					.status-insurance
						color: #F2C94C
				&.no-support
					border-left: 5px solid #A9AAAD
					.status-insurance
						color: #A9AAAD
	.info-trip--more
		display: flex
		// flex: 1 auto
		flex-wrap: wrap
		@supports (display: grid)
			display: grid
			grid-template-columns: 20% 45% 35%
			grid-template-rows: auto
			@media (max-width: 767px)
				@supports (display: grid)
					grid-template-columns: 100%
		[class^="group-"]
			@media (max-width: 767px)
				flex-basis: 100%
				@supports (display: grid)
					grid-column: 1

		.group-1
			flex-basis: 20%
			order: 1
			@supports (display: grid)
				grid-column: 1/2

		.group-2
			flex-basis: 45%
			order: 2
			padding: 0 15px
			word-wrap: break-word
			@supports (display: grid)
				grid-column: 2/3
			@media (max-width: 767px)
				padding: 0px
		.group-1, .group-2
			align-self: flex-end
		.group-4
			flex-basis: 65%
			padding-right: 15px
			order: 4
			@supports (display: grid)
				grid-column: 1/span 2
			@media (max-width: 767px)
				padding-right: 0px
				order: 3

		.group-3, .group-5
			flex-basis: 35%
			border: 1px solid #e8e8e8
			padding: 15px 25px
			@supports (display: grid)
				grid-column: 3
			@media (max-width: 767px)
				padding: 0
				border: none
		.group-7
			flex-basis: 70%
			padding-right: 15px
			order: 8
			@supports (display: grid)
				grid-column: 1/span 2
			@media (max-width: 767px)
				padding-right: 0px
			.line-form
				border: 1px solid #e8eaef
				border-radius: 3px
				padding: 15px 25px
				@media (max-width: 576px)
					padding: 0 10px
					margin-bottom: 0
		.group-8
			flex-basis: 30%
			@extend .df-full
			align-items: flex-end
			padding-left: 15px
			order: 9
			@supports (display: grid)
				grid-column: 3
			@media (max-width: 767px)
				padding-left: 0px
		.group-6, .group-9, .group-tphoto
			flex-basis: 100%
			@supports (display: grid)
				grid-column: 1/span 3
		.group-6
			order: 6
		.group-tphoto
			order: 7
		.group-9
			order: 10
			p, span
				@media (max-width: 576px)
					font-size: .875rem
		.group-3
			border-bottom: none
			padding-bottom: 0px
			border-radius: 15px 15px 0 0
			order: 3
			@media (max-width: 767px)
				order: 4
		.group-5
			border-top: none
			padding-top: 0px
			border-radius:  0 0 15px 15px
			order: 5
		.car-img
			margin-bottom: 40px
			@media (max-width: 767px)
				margin-bottom: 20px
			.fix-img
				padding-bottom: 75%
				box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3)
		.group-info
			margin-bottom: 40px
			@media (max-width: 576px)
				margin-bottom: 20px
			p, span
				@media (max-width: 576px)
					font-size: .875rem
			.fix-map
				position: relative
				max-width: 100%
				padding-bottom: 22%
				overflow: hidden
				@media (max-width: 576px)
					padding-bottom: 45%
				img.map, iframe
					width: 100%
					position: absolute
					left: 0
					top: 0
					object-fit: cover
			.grid-form
				@extend .d-flex
				justify-content: space-between
				margin-bottom: 0px
				@media (max-width: 576px)
					flex-direction: column
					align-items: flex-start
				.line-form
					margin-bottom: 0
					&.has-timer:nth-child(1)
						@media (max-width: 576px)
							margin-bottom: 10px
				p
					color: #141414
					margin: 0
		.form-default
			.line-form
				.wrap-input.has-dropdown.has-value
					@extend .d-flex
					justify-content: flex-start
					border: none
					@media (max-width: 576px)
						height: 45px
					.value
						@media (max-width: 576px)
							font-size: 12px
						h6
							margin-bottom: 0
							@media (max-width: 576px)
								font-size: 12px
					&.date
						@media (max-width: 480px)
							width: 60% !important
						span.value
							@media (max-width: 480px)
								padding-right: 0
					&.time
						@media (max-width: 480px)
							width: 40% !important
						span
							@media (max-width: 576px)
								display: inline
								padding-right: 0
								width: 100%
								text-align: right
					.tooltip
						i.ic.ic-question-mark
							@media (max-width: 576px)
								transform: scale(.7)
					&.long-term
						height: 30px
						padding-bottom: 10px
						@media (max-width: 576px)
							height: 25px
						i.ic.ic-question-mark
							transform: scale(.65)
							@media (max-width: 576px)
								transform: scale(.5)
						span.value
							color: rgb(174, 174, 176)
							font-size: 12px
							line-height: 18px
							@media (max-width: 576px)
								font-size: 9px
								line-height: 12px
								padding: 0
					&.line-gray
						border-top: 1px solid #ccc

		.profile-mini-v2
			@extend .df-full
			text-align: center
			position: relative
			padding: 0px
			margin-bottom: 40px
			@media (max-width: 576px)
				margin-bottom: 20px
			@media (max-width: 480px)
				justify-content: center
			.avatar.avatar-new
				width: 65px
				height: 65px
				.avatar-img
					box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3)
				@media (max-width: 767px)
					width: 65px
					height: 65px
			.desc-v2
				padding-top: 10px
				@extend .df-full
				flex-direction: column
				span.lstitle
					font-size: 12px
					text-transform: none
				h2
					font-size: 1rem
					@media (max-width: 480px)
						font-size: .875rem
		.review.group-info
			.group
				padding: 0
				display: flex
				align-items: center
				&:after
					content: none
				.bar-line
					width: 60px
					height: 1px
					background-color: #141414
					margin: 0 15px
				p
					font-size: .875rem
					@media (max-width: $medium-screen)
						font-size: 13px
				.date
					font-size: 12px
					@media (max-width: $small-screen)
						font-size: 11px
				.desc
					padding-top: 15px
					font-size: 14px
					@media (max-width: 767px)
						padding-top: 0px
			.list-comments:last-child
				border-bottom: none
			hr.line
				margin-top: 15px
				border: .5px solid #e0e0e0
		.required-paper, .mortgages
			.required
				@extend %d-flex
				flex-wrap: wrap
				li
					@extend %align-center
					flex-basis: 50%
					margin-bottom: 1rem
					@media (max-width: 576px)
						flex-basis: 100%
						margin-bottom: .5rem
					&:last-child
						@media (max-width: 576px)
							margin-bottom: 0px
		.ins-notice
			@extend %align-center
			justify-content: space-between
			flex-wrap: wrap
			width: 100%
			.note
				color: $color-second
				font-size: .8125rem
				@media (max-width: 576px)
					width: 100%
					margin-bottom: .75rem
			.btn > i.ic-plus
				margin-right: 5px
		.status-wrapper
			margin-bottom: 1rem
			@media (max-width: 576px)
				margin-top: 15px
				margin-bottom: 10px

// body
.main-container
	display: flex
	flex-wrap: wrap
	position: relative
	.sidebar
		width: 21%
		@media(max-width: 991px)
			width: 100%
			z-index: 2
		ul
			li
				display: flex
				flex-wrap: wrap
				// justify-content: center
				align-items: center
				font-style: normal
				font-weight: 500
				line-height: 20px
				&.active
					background: #E8F5FF
				a
					padding: 30px 20px 30px 50px
					width: 100%
					// height: 
			@media(max-width: 991px)
				display: flex
				justify-content: space-around
				background: #FFFFFF
				box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1)
				width: 100%
				height: 72px
				// margin-bottom: 5px
				// padding: 10px 0
				li
					&.active
						background-color: #fff
						.ic-detail, .ic-mess, .ic-photo, .ic-profile
							// stroke: green
							filter: invert(35%) sepia(82%) saturate(2396%) hue-rotate(131deg) brightness(96%) contrast(102%)
						a
							color: $color-main

					a
						padding: 0 0 0 30px
						margin: auto
						// text-transform: uppercases
					.ic-detail, .ic-mess, .ic-photo, .ic-profile
						margin-left: 0px
			@media(max-width: 640px)
				height: 45px
				li
					width: fit-content
					margin: auto 10px
					// &.active
						// border-bottom: 2px solid $color-main
					a
						display: none

		.ic-detail, .ic-mess, .ic-photo, .ic-profile
			display: inline-block
			position: absolute
			background-repeat: no-repeat
			width: 24px
			height: 24px
			margin-left: 20px
			@media(max-width: 640px)
				position: relative
				margin: 10px 5px

		.ic-detail
			background-image: url(../images/ic-svg/trip_detail.svg)
		.ic-mess
			background-image: url(../images/ic-svg/trip_mess.svg)
		.ic-photo
			background-image: url(../images/ic-svg/trip_photo.svg)
		.ic-profile
			background-image: url(../images/ic-svg/profile.svg)
	

	.content
		width: 79%
		@media(max-width: 991px)
			width: 100%
			z-index: 1
	.content, .content-mess
		.mess
			width: 100%
			min-height: 650px
			background-color: #fff
			@media(max-width: 640px)
				p
					font-size: 0.875rem !important
			
			.mess-photo
				height: 590px !important
				
			.header-mess
				// height: 70px
				padding: 10px 15px
				border-bottom: 1px solid #E8EAEF
				display: flex
				align-items: center
				.detail-owner
					display: flex
					align-items: center
				img
					height: 40px
					width: 40px
					border-radius: 100%
				.info
					display: flex
					flex-wrap: wrap
					flex: 2 1 350px
					.name
						font-weight: 500
						// font-size: 1rem
						line-height: 20px
						margin: 5px 0 5px 10px
					.number-plate
						width: fit-content
						height: fit-content
						background: $background
						border-radius: 20px
						padding: 0 10px
						margin: auto 10px
						font-size: 0.875rem
				.time-trip
					// position: absolute
					// right: 40px
					display: inline-flex
					flex: 1 2 370px
					justify-content: flex-end
					align-items: center
					p
						max-width: calc(100% - 25px)
						margin-left: 5px
				@media (max-width: 640px)
					padding: 10px
					img
						height: 30px
						width: 30px
					.info 
						.name
							margin-bottom: 3px
						.number-plate
							font-size: 0.8rem
			.body-mess
				overflow-y: auto
				height: 510px
				width: 100%
				padding: 0 10px
				display: flex
				// justify-content: flex-end
				// flex-wrap: wrap
				flex-direction: column-reverse
				.blank
					height: 100%
					display: flex
					justify-content: center
					align-items: center
					flex-direction: column
					img
						max-width: 100%
						height: auto
					strong
						padding-top: 30px
						text-align: center
					p
						text-align: center
						padding-top: 15px
					.store
						display: flex
						margin-top: 20px
						.func-app:first-child
							margin-right: 10px
				.blank > svg
					max-width: 75%
					padding: 0 30px
					height: auto

				.sender
					height: fit-content
					width: 90%
					display: flex
					align-items: center
					// padding: 5px 0
					.avatar-sender
						display: flex
						img
							height: 40px
							width: 40px
							border-radius: 100%
							
					p
						height: fit-content
						width: fit-content
						border: 1px solid $background
						box-sizing: border-box
						border-radius: 18px
						padding: 5px 10px
						margin: 5px
					.mess-img
						justify-content: flex-start
						img
							margin: 5px
					
				.time-mess
					width: 100%
					text-align: center
					font-size: 0.875rem
					color: $color-gray-6
					margin: 10px 0 3px 0
				.receiver
					width: 90%
					display: flex
					flex-wrap: wrap
					justify-content: flex-end
					// padding-top: 5px 
					// margin-left: 10%
					margin: 5px 0 5px 10%
					.send
						display: inline-block
						// position: absolute
						background-position: bottom
						background-repeat: no-repeat
						background-image: url(../images/ic-svg/tick.svg)
						width: 12px
						height: auto
						margin-left: 5px
					.unsend
						background-image: url(../images/ic-svg/unsend.svg)
						display: inline-block
						// position: absolute
						background-position: bottom
						background-repeat: no-repeat
						width: 12px
						height: auto
						margin-left: 5px
						// bottom: 0
						
					p
						height: fit-content
						width: fit-content
						max-width: 90%
						background-color: #F2F2F2
						box-sizing: border-box
						border-radius: 18px
						padding: 6px 10px
					
				.mess-img
					width: 90%
					display: flex
					flex-wrap: wrap
					justify-content: flex-end
					// margin: 5px 0
					img
						max-height: 150px
						max-width: 100%
						height: auto
						border-radius: 15px 15px 15px 15px
						margin: 5px 0 0 5px
			.down-arrow
				position: absolute
				display: flex
				justify-content: center
				width: calc(80% - 20px)
				margin-bottom: -2px
				img
					width: 50px
					height: 50px
				@media(max-width: 991px)
					width: calc(100% - 20px)

				

			.mess-input
				height: 80px
				display: flex
				// justify-content: center
				align-items: center
				margin: auto 10px
				input
					width: calc(100%)
					height: 45px
					border: 1px solid $background
					box-sizing: border-box
					border-radius: 30px
					padding: 0 50px
					::placeholder
						color: $color-gray-6
				.ic-camera
					position: absolute
					background-repeat: no-repeat
					width: 24px
					height: 24px
					// left: calc(20% + 30px)
					margin-left: 20px
					background-image: url(../images/ic-svg/ic_camera.svg)
					@media (max-width: 991px)
						left: 30px
						
				.ic-send
					position: absolute
					background-repeat: no-repeat
					width: 24px
					height: 24px
					right: 30px
					background-image: url(../images/ic-svg/ic_send.svg)

	.sidebar-mess
		width: calc( 35% - 1rem )
		background-color: #fff
		margin-right: 1rem
		.header-mess
			// height: 70px
			padding: 10px 15px
			border-bottom: 1px solid #E8EAEF
			font-weight: 500
			line-height: 40px
		.msg-item
			display: flex
			padding: 20px 10px 15px
			&__avt
				width: 45px
				height: 45px
				border-radius: 100%
			&__content
				display: block
				width: 100%
			&__title
				display: flex
				justify-content: space-between
				.name
					font-weight: 500
					// font-size: 1rem
					line-height: 20px
					margin: 5px 0 5px 10px
				.number-plate
					width: fit-content
					height: fit-content
					background: $background
					border-radius: 20px
					padding: 0 10px
					margin: auto 10px
					font-size: 0.875rem

	.content-mess
		width: 65%
