
//-- Tutorial Step By Step
.tutorial.step-box__wrap
	// @extend %d-flex
	margin-bottom: 1.5rem
	.step-box__item
		// width: calc(20% - 1rem)
		text-align: center
		&:not(:last-child)
			margin-right: 1.25rem
		//- Step detail
		.title
			font-size: 12px

		.short-desc
			font-size: .875rem
			margin-bottom: .5rem
			word-wrap: break-word
			-webkit-line-clamp: 2
			line-height: 20px
			min-height: 40px
			font-weight: 500
		//- Step images
		.box-desc
			background: #f7f8fb
			padding: .25rem .75rem
			border-radius: 3px
			color: $color-gray-2
			min-height: 58px
			text-align: center
			@extend %d-flex-center
			margin-bottom: 1rem
			position: relative
			box-shadow: 0px 1px 4px rgba(0,0,0,.1)
			p
				font-size: .875rem
			&:before
				content: ""
				position: absolute
				bottom: -10px
				left: 50%
				-webkit-transform: translateX(-50%)
				transform: translateX(-50%)
				width: 0
				border-right: solid 10px transparent
				height: 0px
				border-left: solid 10px transparent
				border-top: solid 10px #f7f8fb

.link-step-by-step
	margin-bottom: 1rem
	a.text-primary
		display: block
		font-weight: 500
		margin-bottom: .5rem
		@media (max-width: 767px)
			font-size: .875rem
.payment-guide-detail
	.content-guide
		.method-item
			p.method-title
				font-weight: 500
			.left, .right
				text-align: center
			.img-only
				width: 30%
				margin-bottom: 2rem
				@media (max-width: 991px)
					width: 40%
				@media (max-width: 767px)
					width: 100%
			.img-50
				width: 60%
				margin: 1rem
				@media (max-width: 991px)
					width: 80%
				@media (max-width: 767px)
					width: 100%
					margin: 1rem 0 0
			.img-fluid:not(:last-of-type)
				margin-bottom: 1.5rem
				@media (max-width:767px)
					margin-bottom: 1rem
			.box-item-title
				width: calc(25% - 3rem)
				margin-right: 3rem
				@media (max-width: 767px)
					width: 100%
					margin-bottom: 1rem
					margin-right: 0
			.box-item-content
				width: 75%
				@media (max-width: 767px)
					width: 100%

		.content-detail
			padding-left: 1rem
			@media (max-width: 767px)
				padding-left: 0rem
		.left.filter
			@extend %col-align-center
		.ctn-desc
			padding: 0 30px
			p
				font-style: italic
				font-size: 14px
		.box-item
			@extend %d-flex-center
			flex-wrap: wrap
			padding-top: 0.5rem
			width: calc(100%/3 - 2rem)
			margin-right: 2rem
			margin-bottom: 1rem
			&:nth-child(3n)
				margin-right: 0rem
			&:last-child
				margin-right: 0
			@media (max-width:767px)
				width: 100%
				margin-right: 0
		.box-item-l
			@extend %d-flex-center
			flex-wrap: wrap
			padding-top: 0.5rem
			width: calc(62% - 2rem)
			margin-right: 2rem
			margin-bottom: 1rem
			&:last-child
				margin-right: 0
			@media (max-width:767px)
				width: 100%
				margin-right: 0
		.box-item-m
			@extend %d-flex-center
			flex-wrap: wrap
			padding-top: 0.5rem
			width: calc(100%/2 - 1rem)
			margin-right: 2rem
			margin-bottom: 1rem
			&:nth-child(2n)
				margin-right: 0rem
			&:last-child
				margin-right: 0
			@media (max-width:767px)
				width: 100%
				margin-right: 0
		.box-item-sm
			@extend %d-flex-center
			flex-wrap: wrap
			padding-top: 0.5rem
			width: calc(27% - 2rem)
			margin-right: 2rem
			margin-bottom: 1rem
			&:nth-child(2n)
				margin-right: 0rem
			&:last-child
				margin-right: 0
			@media (max-width:767px)
				width: 100%
				margin-right: 0
		.box-item-50
			@extend %d-flex-center
			flex-wrap: wrap
			padding-top: 0.5rem
			width: calc(51% - 2rem)
			margin-right: 2rem
			margin-bottom: 1rem
			&:last-child
				margin-right: 0
			@media (max-width:767px)
				width: 100%
				margin-right: 0
		.box-50
			width: calc( 50% - 1rem)
			margin-right: 2rem
			margin-bottom: 2rem
			&:nth-child(2n)
				margin-right: 0
			@media (max-width:767px)
				width: 100%
				margin-right: 0
		p.caption-img
			margin-top: 0.5em
			font-size: 14px
			color: #00a550
			font-style: italic
			text-align: center
		.pl-2
			padding-left: 20px
			@media (max-width: 767px)
				padding-left: 0
		.flex-start
			justify-content: flex-start
	span.app-icon
		width: 30px
		height: 30px
		background: $color-base
		border-radius: 99%
		margin: 0 5px
		display: inline-block
		text-align: center

//--- FAQS Page
.faqs-search__sect
	height: 50vh
	position: relative
	background-repeat: no-repeat
	background-position: center 82%
	background-size: cover
	@media ( max-width: 1199px )
		height: 45vh
	@media ( max-width: 767px )
		height: 40vh

	&::before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		background: rgba(0, 0, 0, 0.45)
		z-index: 0
.faqs__sect
	@extend %d-flex
	.sidebar
		&.full-size
			.sidebar_content ul li a.active
				padding-left: 10px
				&::before
					display: none
			@media (max-width: 991px)
				width: 30%
			@media (max-width: 767px)
				width: 100%

		&_content
			padding: 30px 0 30px 30px
			height: 100%

			@media ( max-width: 767px )
				padding: 15px

	.content-faqs
		padding-top: 30px

		> h3
			font-weight: 600
			font-size: 1.5rem
			margin-bottom: 1.5rem
	@media ( max-width:767px )
		flex-direction: column

.list-faq__wrap
	@extend %d-flex
	flex-wrap: wrap
	width: 100%

	.faqs-image
		width: 80px
		height: 80px
		margin-bottom: 1.25rem

	.faqs-box
		width: calc(50% - 2.5rem)
		margin-right: 2.5rem
		@media (max-width: 767px)
			width: 100%
			margin-right: 0
			margin-bottom: 15px
		&:nth-child(2n)
			margin-right: 0
		> h6
			font-size: 1rem
			font-weight: 600
	.list-faq
		margin-bottom: 3.5rem
		ul
			> li.item
				padding: 1rem 0
				border-bottom: 1px solid #dddfe2

//-- FAQs Detail
.body-container.faqs-detail
	padding-top: 44px
	padding-bottom: 0
.faqs-detail
	.back-to-faqs
		display: inline-flex
		margin: 0 0 10px 30px

		@media ( max-width:767px)
			display: none
			
		> span
			margin-left: 10px
			// transition: all 0.3s ease-in
			@media ( max-width:767px)
				font-size: 0.875em
				
		.icon
			position: relative
			width: 15px
			height: 15px

			.back-icon
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				background-color: transparent
				border-left: 2px solid #141414
				border-bottom: 2px solid #141414
				transform: rotate(45deg)
				cursor: pointer
			.bar
				height: 2px
				width: 25px
				position: absolute
				background-color: #141414
				left: -2px
				top: 6.5px

	&__sect
		.breadcumb
			padding-bottom: 2rem
			
			span
				font-size: 12px
				color: gray
				font-weight: 400
				cursor: default
				&:nth-child( 2n+1 ):hover
					text-decoration: underline
					cursor: pointer
				&.active 
					font-weight: 600
					
			
	&__wrap
		display: flex
		
		@media (max-width: 767px)
			flex-direction: column
		.sidebar
			&_content
				padding: 30px 0 30px 30px
				height: 100%

				> h3.title 
					margin: 0

				@media ( max-width: 767px )
					padding: 15px
			&.full-size
				@media (max-width: 991px)
					width: 30%
				@media (max-width: 767px)
					width: 100%
				
		h3.faqs-title
			font-size: 2rem
			font-weight: bold
			margin-bottom: 3rem
			@media (max-width: 767px)
				font-size: 1.5rem
		.qa-list
			border-bottom: 1px solid #dddfe2
			&:first-child
				border-top: 1px solid #dddfe2
		.ques
			padding: 1rem .5rem
			
			p.ques-content
				transition: all .3s ease
				cursor: pointer
				display: inline-block
		
				@media (max-width:767px)
					font-size: 0.875rem

				> i
					transform: scale(.85)
					margin-right: .5rem
				
				span
					font-weight: 600
			&.active
				border-bottom: 1px solid #dddfe2
				& + div
					display: block
				p.ques-content	
					& > span
						color: #00a550 
					& > i.ic.ic-plus-no-circle
						background-position: -216px -72px
				// color: #00a550

		.answer-content
			display: none
			&.Fade-in
				animation: collapse 1s ease reverse
				animation-fill-mode: forwards
			&.Fade-out
				animation: collapse 1s ease
				animation-fill-mode: forwards
				
		.answer
			padding: 1.5rem 0 1.5rem 0.5rem

			a 
				color: #00a550
				
			p, a, li
				@media ( max-width:767px )
					font-size: 0.875rem
			> ul
				margin-left: 40px
				li
					list-style-type: disc
			strong
				font-weight: 500				
				
.faqs-footer
	& > img
		vertical-align: top

//--- Insurance
.insurance-box
	width: 50%
	@media (max-width: 767px)
		width: 100%
	.box
		// content: ""
		background: #00A550
		opacity: 0.05
		position: absolute
		height: 14%
		width: 34%
		right: 0%
		bottom: 25px
		@media (max-width: 1199px)
			bottom: -25px
		@media (max-width: 991px)
			display: none
	
.margin-left
	margin-left: 7vw
.margin-right
	margin-right: 7vw	

.insurance-banner
	background: linear-gradient(180deg, #B9E4FF 0%, #DFF1FF 100%)
	position: relative
	padding: 20px 45px
	.m-container
		padding: 0 15px !important
	&:before,&:after
		content: ""
		position: absolute
		background-repeat: no-repeat
		background-size: contain
		z-index: 1
			
	&:before
		height: 100px
		width: 100px
		bottom: 20px
		left: 1.5%
		background-image: url('../images/insurance/layer1.svg')
	&:after
		display: none
		height: 15vw
		width: 15vw
		right: 1.5%
		top: 20px
		background-image: url('../images/insurance/layer2.svg')
		z-index: 1
		
	@media (max-width: 991px)
		padding: 0 20px
	@media (max-width: 767px)
		&:before
			bottom: 30px
		&:after
			top: 15px
			height: 20vw
			width: 20vw

.insurance__sect
	position: relative
	padding: 50px 0
	width: 100%
	display: flex 
	flex-wrap: wrap
	justify-content: center
	align-items: center
	// background: linear-gradient(180deg, #B9E4FF 0%, #DFF1FF 100%)
	.img
		position: relative
		z-index: 2
		display: flex
		width: 100%
		svg
			margin: 30px 0 0 20px
			height: auto
			// @media ( max-width: 1199px )
			// 	width: 80%
				// margin: 60px 0 0 20px
		@media ( max-width: 767px )
			width: 100%
			justify-content: flex-end
			bottom: 40px
			right: 7%
			svg
				margin: 0
				width: 50%
	@media (max-width: 767px)
		height: fit-content
		padding-bottom: 20px



	
	.insurance-box
		display: flex
		flex-wrap: wrap
		align-items: center
		.content
			// margin-left: 16%
			// margin-top: 15%
			margin-bottom: 50px
			h3, h6
				color: #165731
				font-weight: bold
				margin-bottom: 10px
			h3
				// text-transform: uppercase
				font-size: 2rem
			p
				text-align: justify
			
			@media (max-width: 991px)
				h3	
					font-size: 1.75rem
				h6
					font-size: 1.5rem
			@media (max-width: 767px)
				h3	
					margin-bottom: 0
					font-size: 1.5rem
				h6
					font-size: 1.25rem
				p
					font-size: 0.875rem
			// @media (max-width: 640px)
			// 	margin-right: 7vw
			@media (max-width: 480px)
				h3
					font-size: 1.25rem
				h6
					font-size: 1rem
			// 	h3, h6
			// 		position: absolute
			// 	h3
			// 		font-size: 1.25rem
			// 		top: 30px
			// 	h6
			// 		font-size: 1rem
			// 		top: 60px
			// 	p
			// 		margin-top: 90px
			// 		font-size: 0.6rem
				
	.insurance-partner
		bottom: -75px
		// @media (max-width: 767px)
		// 	display: none	
		// padding: 1rem 0 .75rem
.insurance__content
	padding: 140px 45px 0px
	height: fit-content
	width: 100%
	display: flex
	flex-wrap: wrap
	@media ( max-width: 991px)
		padding: 100px 35px 0
		// 	margin-bottom: 200px
	// &:nth-child(4)
	// 	margin: 150px 0 50px 0
	@media ( max-width: 767px)
		padding: 40px 20px 50px
	// 	height: fit-content !important
	// 	margin: 20px 0 30px

	.img-rules
		// justify-content: center
		justify-content: flex-end
		svg
			width: 60% !important
		@media (max-width: 991px)
			svg
				// margin-right: 7vw
				width: 70% !important
		@media (max-width: 767px)
			svg
				display: none
	.img-content
		svg
			// margin: auto
			width: 75%
			height: auto
			// @media (max-width: 991px)
				// width: 65%
			@media (max-width: 767px)
				display: none
		
	.insurance-box
		position: relative
		display: flex
		// justify-content: center
		align-items: center
		
		
	.content__right
		position: relative
		text-align: right
		height: 100%
		// padding-top: 130px
		&::after
			content: ""
			background: #00A550
			opacity: 0.05
			position: absolute
			height: 80px
			// width: 260px
			// right: -120px
			// bottom: -60px
			width: 140px
			right: -70px
			bottom: -40px
			// top: 275px
			@media (max-width: 1440px)
				width: 75%
				right: -60%
		h3, h5
				color: #00A550
				// text-transform: uppercase
				font-weight: bold
		h3
			font-size: 2rem
			margin-bottom: 20px
		h5
			font-size: 1.65rem
		p
			// font-family: SVN-Sanomat Sans
			// font-style: normal
			// font-weight: normal
			margin-bottom: 20px
			// margin-left: 20%
			line-height: 1.5

		table
			width: 100%
			border: none
			// margin-left: 16%
			border-radius: 3px
			-webkit-box-shadow: none
			th, td
				// height: 40px
				border: none
				background-color: rgba(250, 125, 25, 0.1)
				text-align: center
				color: black !important
				@media (max-width: 991px)
					height: 1rem
					font-size: 0.8rem
		

		@media (max-width: 991px)
			h3
				font-size: 1.75rem
			h5
				font-size: 1.4rem
			p
				font-size: 0.875rem
				line-height: 1.25
		@media (max-width: 767px)
			padding-top: 100px
			h3, h5
				text-align: left
			h3
				margin-bottom: 10px
				font-size: 1.5rem
			p
				text-align: justify
				margin-left: 0
		

	.content__left
		position: relative
		text-align: left
		h5
			color: #00A550
			// text-transform: uppercase
			font-weight: bold
			margin-bottom: 20px
			font-size: 1.75rem
			

		&::after
			content: ""
			background: #00A550
			opacity: 0.05
			position: absolute
			width: 140px
			height: 80px
			bottom: -40px
			left: -70px
			@media (max-width: 1440px)
				width: 75%
				left: -50%
				// display: none
		ul
			padding-left: 30px
		li
			list-style: initial
			margin-top: 15px
			@media (max-width: 991px)
				font-size: 0.875rem
		@media (max-width: 767px)
			h5
				font-size: 1.5rem
		// @media (max-width: 640px)
		// 	margin-right: 7vw
		// 	h5
		// 		font-size: 1.25rem

		.notes
			height: fit-content
			background-color: rgba(250, 125, 25, 0.1)
			border-radius: 3px
			padding: 10px 15px
			margin: 20px 0 0
			text-align: justify
			font-size: 0.875rem
			@media ( max-width: 991px )
				font-size: 0.75rem

			
	.procedure
		position: relative
		width: 100%
		display: flex 
		flex-wrap: wrap
		padding-bottom: 40px
		@media (max-width: 991px)
			padding-bottom: 0
		// .insurance-box28
		// 	width: 27%
		// 	margin: auto
		// 	h5
		// 		color: #00A550
		// 		// text-transform: uppercase
		// 		font-weight: bold
		// 		font-size: 1.75rem
		// 		margin-right: 50px
		// 		@media ( max-width: 1199px )
		// 			margin: 0 15% 0 0
		// 		// 	font-size: 
		// 		@media ( max-width: 991px)
		// 			font-size: 1.5rem
		// 		@media ( max-width: 640px)
		// 			font-size: 1.25rem
		// 	@media (max-width: 991px)
		// 		width: 100%
		// 		margin-bottom: 20px
		// 		h5
		// 			font-size: 1.5rem
		// 			text-align: center
		// 			margin: 0
		.box2
			width: 73%
			display: flex 
			flex-wrap: wrap
			justify-content: space-between
			@media (max-width: 991px)
				width: 100%

		// .insurance-box2
		// 	width: 31%
		// 	min-height: 280px
		// 	margin-bottom: 20px
		// 	// &:nth-child(3n)
		// 		// margin-right: 0
		// 	@media (max-width: 991px)
		// 		min-height: 280px
		// 		// width: 30%
		// 		// margin: 0 2.5vw 2.5vw 0
		// 		// &:nth-child(3n)
		// 			// margin-right: 0
		// 	@media (max-width: 480px)
		// 		min-height: fit-content
		// 		width: 100% !important
		// 		display: flex
		// 		justify-content: center
		// 		// margin: 0 0 10px 0
		// 	&:nth-child(1)
		// 		.step
		// 			p
		// 				text-align: center
		// 			svg
		// 				height: 109px
		// 				@media (max-width: 991px)
		// 					height: 87.2px
		// 				@media (max-width: 490px)
		// 					height: 76.3
		// 	&:nth-child(6)
		// 		.step
		// 			p
		// 				text-align: center

		// 	.step
		// 		// position: absolute
		// 		// margin: 25px 0
		// 		// width: 90%
		// 		height: 100%
		// 		// margin-right: 20px
		// 		background: #F8F9FB
		// 		border-radius: 5px
		// 		display: flex 
		// 		flex-wrap: wrap
		// 		justify-content: center
		// 		p
		// 			padding: 0 14px
		// 			text-align: justify
		// 		svg 
		// 			width: 100px
		// 			height: 100px
		// 			margin: 20px auto 10px
		// 		@media ( max-width: 1199px )
		// 			p
		// 				font-size: 0.9rem
		// 		@media (max-width: 991px)
		// 			p
		// 				font-size: 0.875rem
		// 			svg
		// 				width: 80px
		// 				height: 80px
		// 		@media (max-width: 640px)
		// 			p
		// 				font-size: 0.75rem
		// 		@media (max-width: 480px)
		// 			// max-width: 190px
		// 			width: 100%
		// 			svg
		// 				width: 70px
		// 				height: 70px
		// 			p
		// 				width: 100%
		// 				font-size: 0.875rem
		// 				padding-bottom: 20px

				
.insurance__guide
	background-color: #f7fbff
	padding: 40px 0
	strong
		font-weight: 500
	h6
		margin-bottom: 40px
		font-weight: bold
		text-align: center
	h5
		color: #00A550
		// text-transform: uppercase
		height: auto
		font-weight: bold
		font-size: 1.65rem
		text-align: center
		padding-bottom: 15px
		// padding: 5% 0 15px
	@media ( max-width: 991px)
		h5
			font-size: 1.5rem
		h6
			font-size: 1.25rem
	@media ( max-width: 767px)
		h5, h6
			font-size: 1rem
	.m-container
		padding: 0 15px !important
.guide
	position: relative
	height: fit-content

	// padding: 0 7vw 5%
	display: flex 
	justify-content: center
	flex-wrap: wrap

	.insurance-box
		display: flex
		flex-direction: column
		padding: 0 8% 
		text-align: justify
		svg
			// left: calc( 50% - 75px )
			justify-self: center
			width: auto
			height: 150px
			margin: 20px auto 
		@media ( max-width: 991px)
			p
				font-size: 0.875rem
		@media ( max-width: 767px)
			width: 50%
			svg
				height: 100px
		@media ( max-width: 480px)
			padding: 10px
			width: 100% !important
			svg
				// width: 90px
				height: 90px !important
				margin: auto
			p
				margin: 10px 0

// Year Insurance (Bảo hiểm năm)
.year-insurance_sect
	background-position: center bottom
	background-size: cover
	background-repeat: no-repeat
	position: relative
	display: flex
	align-items: center
	height: fit-content
	padding: 6rem 0
	@media(max-width: 991px)
		padding: 2rem 0 3rem
	@media(max-width: 767px)
		.insurance-partner
			bottom: -75px
			width: fit-content
			.pjico 
				top: 8px
	@media(max-width: 767px)
		padding-top: 1rem
	// 	padding: 2rem 0 3rem
	.banner-img
		position: absolute
		right: 10px
		width: 50%
		@media(max-width: 991px)
			width: 55%
			right: -10px
		@media(max-width: 767px)
			display: flex
			justify-content: flex-end
			position: relative
			width: 100%
			// margin: 1rem 1rem 0 0
			right: 10px
			top: 10px
			img
				width: 65%
			
	h1,h6
		color: #fff
		width: 100%
	.register_btn
		width: 100%
		a
			margin-top: 20px
			@media (max-width: 425px)
				margin-top: 0
				font-size: 0.875rem

	h1
		font-size: 2rem
		font-weight: bold
	h3
		font-size: 1.75rem
		color: #06EE5F
		margin-top: 10px
		width: 100%
	h6
		margin: 15px 0 20px 0
	@media (max-width: 991px)
		h1
			font-size: 1.75rem
		h3
			font-size: 1.5rem
		h6
			font-size: 1.25rem
	@media (max-width: 767px)
		h1, h3
			font-size: 1.5rem
		h6
			font-size: 1rem
	@media (max-width: 425px)
		h1,h3
			font-size: 1rem
		h6
			font-size: 0.75rem
		
	.insurance__sect
		padding: 0
		.insurance-box
			// &:nth-child(1)
			// 	padding-right: 50px
			@media (max-width: 767px)
				justify-content: center
				&:nth-child(1)
					padding-right: 0
					margin-top: 20px

.year-insurance_body
	height: fit-content
	padding: 8rem 0 3rem
	@media ( max-width: 767px )
		padding: 6rem 1rem 3rem
	.img-price
		padding: 2rem 4rem
		box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1)
		border-radius: 8px
		width: fit-content
		@media ( min-width: 991px )
			img
				max-width: 740px
		@media ( max-width: 991px )
			padding: 20px
		@media ( max-width: 767px )
			max-width: 400px
		// 	padding: 0
		// 	box-shadow: none

			
				



//-- FAQs v2
// .faqsv2-search__sect
// 	height: 50vh
// 	position: relative
// 	background-repeat: no-repeat
// 	background-position: center 82%
// 	background-size: cover
// 	@media ( max-width: 1199px )
// 		height: 45vh
// 	@media ( max-width: 767px )
// 		height: 40vh

// 	&::before
// 		content: ''
// 		position: absolute
// 		width: 100%
// 		height: 100%
// 		top: 0
// 		left: 0
// 		background: rgba(0, 0, 0, 0.45)
// 		z-index: 0
// .faqsv2__sect
// 	color: #141414
// 	@extend %d-flex
// 	.sidebar
// 		&.full-size
// 			.sidebar_content ul li a.active
// 				padding-left: 10px
// 				&::before
// 					display: none
// 			@media (max-width: 991px)
// 				width: 30%
// 			@media (max-width: 767px)
// 				width: 100%

// 		&_content
// 			padding: 30px 0 30px 30px
// 			height: 100%

// 			@media ( max-width: 767px )
// 				padding: 15px

// 	.content-faqsv2
// 		padding: 30px 10px 0 0px

// 		> h3
// 			font-weight: 600
// 			font-size: 1.5rem
// 			margin-bottom: 1.5rem
// 	@media ( max-width:767px )
// 		flex-direction: column

// .list-faqv2__wrap
// 	display: block
// 	width: 100%
// 	.faqsv2-box
// 		> h6
// 			font-size: 1.25rem
// 			font-weight: 600
	
// 	.faqsv2-image
// 		display: inline-block
// 		width: 80px
// 		height: 80px
// 		vertical-align: middle
// 		margin-bottom: 1.25rem

// 	.list-faqv2
// 		margin-bottom: 3.5rem
// 		li.item
// 			> a.subhead
// 				display: block
// 				padding: 1rem 0
// 				font-size: 1.125rem
// 				border-bottom: 1px solid #dddfe2
// 			.qa-box
// 				border-bottom: 1px solid #dddfe2
// 			.qa-list
// 				margin-left: 1rem

// 				&:not(:last-child)
// 					border-bottom: 1px solid #dddfe2

// 				&:last-child
// 					border-bottom: none
						
// 		.ques
// 			padding: 1rem 0rem

// 			p.ques-content
// 				transition: all .3s ease
// 				cursor: pointer
// 				display: flex

// 				> i
// 					transform: scale(.85)
// 					margin-right: .5rem
	
// 			&.active
// 				border-bottom: 1px solid #dddfe2
// 				i.ic-black-plus
// 					background-position: -240px -72px
// 					+ span
// 						color: #00a550
				

// 		.answer
// 			padding: 1rem 2rem
				
// 			> p
// 				text-align: justify
// 				@media ( max-width:767px )
// 					font-size: 0.875em

@keyframes collapse
	0%
		opacity: 1
		transform: translate(0)
	100%
		opacity: 0
		transform: translate(20px,50px)


