$md-pd-box: 15px
$lg-pd-box: 15px 25px
$wd-left: 30%
$wd-right: 70%
//-Components


.information .inside,.wr-info, .review.review__wrap, .properties__wrap
  border-radius: 2px
  box-shadow: 0 1px 2px rgba(0,0,0,.1)

//--- Profile
//-- Header Profile
%mg-box-profile
  margin-bottom: 1.5rem
  @media (max-width: 767px)
    margin-bottom: 1rem
  @media (max-width: 576px)
    margin-bottom: .75rem
.cover-profile.new-profile
  height: 26vw
  @extend %d-flex
  background-position: right 100%
  @media (max-width: 1399px)
    height: 22vw
  @media (max-width: 991px)
    height: 44vw
.content-profile--new
  @extend %full-container
  align-items: center
  justify-content: center
  @media (max-width: 576px)
    padding: 0 10px
  hr.pro-line
    display: none
    @media (max-width: 991px)
      border: 1px solid ccc
      width: 100%
  .profile-info
    display: flex
    justify-content: space-between
    margin-bottom: 15px
    .item-points
      display: flex
      padding: 15px
      align-items: center
      background: #FAFBFC
      border-radius: 5px
      span
        margin-left: 5px
        font-weight: 500
        @media ( max-width: 576px )
          font-size: 0.875rem
          margin: 0 0 0 5px
      .ic-question-mark
        transform: scale(0.65)
      @media ( max-width: 576px )
        margin-top: 15px
        min-width: calc(50% - 0.375rem)
        width: fit-content
    @media ( max-width: 576px )
      flex-direction: column      
  .desc-profile
    width: 100%
    @extend %d-flex
    flex-wrap: wrap
    &:not(:last-child)
      align-items: flex-end
    .avatar-box
      margin: -100px 0px 0px 0
      @extend %d-flex
      justify-content: center
      // align-items: flex-end
      @media (max-width: 991px)
        width: 25%
        justify-content: flex-start
      @media (max-width: 767px)
        width: 35%
        margin-top: -80px
      @media (max-width: 480px)
        margin-top: -60px
        margin-bottom: 0
        padding-bottom: 20px
    &.account-profile
      margin-bottom: 0
      @media (max-width: 767px)
        margin-bottom: 0
      @media (max-width: 576px)
        margin-bottom: 0 
      .inside
        padding: 40px 60px
        display: flex
        @media (max-width: 991px)
          padding: 25px
          flex-direction: column
        @media (max-width: 480px)
          padding: 15px
        span.label
          width: 25%
          margin-bottom: 0
        span.ctn
          width: 75%
          margin-left: 40px
          @media ( max-width: 991px )
              margin-left: 0
              padding: 0
          .ic-verify,.ic-error,.ic-verifying
            margin-right: 15px
            @media ( max-width: 767px )
              margin-right: 5px
          .verify.btn
            margin-top: 15px
            @media ( max-width: 767px )
              font-size: 0.75rem
      a.func-edit
        position: absolute
        top: -4px
        right: 40px
        background: #ffffff
        border-radius: 50%
        padding: 4px
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1)
        @media (max-width: 991px)
          right: -8px
        @media (max-width: 576px)
          padding: 0
        i.ic
          transform: scale(0.75)
          @media (max-width: 576px)
            transform: scale(0.65)

      .account-column
        width: 50%
        @media (max-width: 991px)
          width: 100%
        &:not(:last-child)
          @media (max-width: 991px)
            margin-bottom: 1rem
      .account-content
        width: 100%
        display: flex
        position: relative
        &:not(:last-child)
          margin-bottom: 25px
          @media (max-width: 991px)
            margin-bottom: 1rem
      
              
    .avatar--xl
      background: #fff
    .avatar.has-edit
      overflow: hidden
      cursor: pointer
      transition: all .3s ease-in-out
      box-shadow: 0 3px 4px rgba(0,0,0,.3)
      &:hover
        &:before
          position: absolute
          top: 50%
          left: 50%
          z-index: 2
          content: ""
          background: url(../images/main_sprites.png) -72px -120px no-repeat
          background-size: 400px 400px
          width: 48px
          height: 48px
          margin-top: -24px
          margin-left: -24px
        &:after
          position: absolute
          top: 0
          left: 0
          right: 0
          bottom: 0
          z-index: 1
          content: ""
          background-color: rgba(0, 0, 0, 0.5)
      .avatar-img
        box-shadow: 0 3px 4px rgba(0,0,0,.3)
    .snippet
      // padding-top: 20px
      @media (max-width: 991px)
        width: 75%
        margin-left: 0
        padding-top: 15px
      @media (max-width: 767px)
        width: 65%
      @media (max-width: 480px)
        width: 100%
        padding-top: 0
    .item-title
      color: #141414
      font-size: 1.875em
      font-weight: 700
      line-height: 1.25
      margin-bottom: .25rem
      position: relative
      @extend %d-flex
      justify-content: flex-start
      @media (max-width: 576px)
        font-size: 1.65rem
      a.func-edit
        margin-left: 15px
      .ic.ic-edit
        opacity: .65

    .d-flex
      justify-content: flex-start
      &:not(:last-child)
        margin-bottom: .75rem
      span.sum-trips
        color: #141414
        font-weight: 700
      .bar-line
        width: 45px
        height: 1px
        background: #141414
        margin: 0 10px
      span.join, span.sum-trips
        font-size: .875rem
        @media (max-width: 991px)
          font-size: .75rem
      .info
        display: flex
        flex-direction: column
        margin-right: 1rem
        background: rgba(255,255,255,.8)
        border: 1px solid #fff
        border-radius: 5px
        padding: .25rem 1rem
        width: calc(50% - .5rem)
        align-items: center
        min-height: 58px
        @media (max-width: 1199px)
          width: calc(50% - .25rem)
          margin-right: .5rem
          min-height: 54px
        @media (max-width: 991px)
          width: auto
          margin-right: .75rem
          padding: .25rem 1.5rem
        @media (max-width: 767px)
          width: 50%
          padding: .25rem .5rem
          min-height: 56px
        @media (max-width: 480px)
          padding: .25rem 1rem
          margin-right: .75rem
        &:last-child
          margin-right: 0
        .label
          color: #6e6e6e
          font-size: 1rem
          font-weight: 700
          margin-bottom: .25rem
          @media (max-width: 1199px)
            font-size: .825rem
          @media (max-width: 767px)
            font-size: .875rem
        span.ctn
          position: relative
          font-size: .875rem
          font-weight: normal
          text-align: center
          @media (max-width: 767px)
            font-size: .85rem
    .wr-info
      @extend %d-flex
      @extend %mg-box-profile
      flex-wrap: wrap
      margin-right: 0px
      padding: 5px 45px
      background: rgba(255, 255, 255, 0.8)
      @media (max-width: 1199px)
        padding: 0 25px
      @media (max-width: 991px)
        padding: 1.5rem 0
        width: 100%
      @media (max-width: 767px)
        padding: 15px

    .s-info
      display: flex
      justify-content: space-between
      align-items: center
      width: 100%
      @media (max-width: 991px)
        width: 33.33%
        flex-direction: column
      @media (max-width: 480px)
        width: 100%
        flex-direction: row
        &:not(:last-child)
          margin-bottom: .75rem
      span.lstitle
        @extend %sub-title
        font-size: .875rem
        color: #6e6e6e
        text-transform: none
        width: 65%
        @media (max-width: 991px)
          width: auto
        @media (max-width: 480px)
          width: 60%
      span.ctn
        display: block
        color: #141414
        font-size: 1em
        font-weight: 700
        line-height: 1.5
        width: 35%
        @media (max-width: 991px)
          width: auto
        @media (max-width: 480px)
          font-size: .875rem
          width: 40%
    .information
      @media (max-width: 991px)
        width: 100%
        margin-left: 0
      &.information--acc
        width: 100%
        margin-left: 0
        li
          span.label
            @media (max-width: 991px)
              width: 25%
          span.ctn
            @media (max-width: 991px)
              width: 75%
            > span
              @media (max-width: 767px)
                max-width: 100%
              @media (max-width: 480px)
                max-width: 90%
                height: auto
                overflow: hidden
                text-overflow: ellipsis
                display: block
                display: -webkit-box!important
                -webkit-line-clamp: 1
                -webkit-box-orient: vertical
                word-break: break-word
      
    .inside
      @extend %mg-box-profile
      padding: 1.5rem 0
      background: rgba(255, 255, 255, 0.8)
      @media (max-width: 991px)
        padding: 25px
      @media (max-width: 480px)
        padding: 15px
      ul
        @extend %d-flex
        align-items: flex-start
        text-align: center
        @media (max-width: 991px)
          flex-wrap: wrap
      li
        position: relative
        @extend %flex-column
        width: 25%
        @media (max-width: 991px)
          flex-flow: row wrap
          width: 100%
        &:not(:last-child)
          @media (max-width: 991px)
            margin-bottom: 1rem
        a.func-edit
          position: absolute
          top: -35px
          right: 15px
          padding: 7px
          font-size: 12px
          @media (max-width: 991px)
            top: -9px
            right: -15px
          &:hover, &:focus
            .ic.ic-edit
              background-position: -24px -168px
              opacity: .75
          i.ic-link, i.ic-remove
            @media (max-width: 767px)
              transform: scale(.85)
          .ic.ic-edit
            opacity: .65
            transform: scale(.7)
      span.label
        width: 100%
        color: #141414
        font-size: 16px
        font-weight: 700
        display: block
        margin-bottom: .25rem
        @media (max-width: 991px)
          width: 35%
          text-align: left
        @media (max-width: 767px)
          font-size: .875rem
          margin-bottom: 0
        @media (max-width: 480px)
          font-size: .8rem
      span.ctn
        position: relative
        width: 100%
        font-size: .875rem
        font-weight: normal
        > span:first-child
          display: block
        @media (max-width: 991px)
          width: 65%
          text-align: left
          padding-right: 15px
        @media (max-width: 480px)
          font-size: .825rem
          word-break: break-word
          white-space: pre-wrap
        .ic-verify,.ic-error,.ic-verifying
          margin-right: 5px
          @media (max-width: 767px)
            transform: scale(.75)
          @media (max-width: 480px)
            transform: scale(.6)
            margin-right: 0
        
        .verify.btn
          background: rgba(255,255,255,.8)
          font-size: .75rem
          margin: 0 auto
          margin-top: 5px
          &.verifying
            background: rgba(250,125,25,0.05) 
          &.verified
            background: rgba(0,165,80,0.05)
          @media (max-width: 991px)
            margin: 5px 0 0 0
            display: block
            width: 55%
          @media (max-width: 480px)
            width: 90%
    .avatar-box, .wr-info
      width: $wd-left
    .information, .snippet
      width: calc(#{$wd-right} - 1.5rem)
      margin-left: 1.5rem
    &.desc-account
      margin-bottom: 0.75rem
      .avatar-box
        margin: -100px 0px 30px 0
        @media (max-width: 991px)
          margin-bottom: 60px
        @media (max-width: 767px)
          margin-bottom: 0px
          margin-top: -80px
        @media (max-width: 480px)
          margin-top: -60px
          margin-bottom: 0
          padding-bottom: 0
      .snippet
        padding-top: 20px
        margin-left: 0
        width: $wd-right
        @media (max-width: 991px)
          width: 75%
          margin-left: 0
          padding-top: 15px
        @media (max-width: 767px)
          width: 100%
      .line-info
        @extend %d-flex
        width: 100%
        @media (max-width: 991px)
          flex-wrap: wrap
        > .d-flex
          width: calc(35% - 1rem)
          margin-right: 1rem
          @media (max-width: 1199px)
            width: calc(35% - .5rem)
            margin-right: .5rem
          @media (max-width: 991px)
            width: 100%
            margin-right: 0
        .wr-info
          width: 65%
          border: 1px solid #fff
          border-radius: 5px
          padding: .25rem 0
          margin-bottom: .75rem
          box-shadow: none
          @media (max-width: 991px)
            width: 100%
            padding: .5rem 0
          @media (max-width: 767px)
            margin-bottom: 0
            box-shadow: 0 1px 2px rgba(0,0,0,.1)
            border-radius: 0
            border: none
          @media (max-width: 480px)
            width: 100%
            flex-direction: row
            padding: 15px
          &:not(:last-child)
            margin-bottom: .75rem
        .s-info
          width: 33.33%
          flex-wrap: wrap
          text-align: center
          @media (max-width: 480px)
            width: 100%
            text-align: left
        span.lstitle, span.ctn
          width: 100%
        span.lstitle
          margin-bottom: .25rem
          @media (max-width: 1199px)
            font-size: .825rem
          @media (max-width: 480px)
            width: 60%
        span.ctn
          @media (max-width: 1199px)
            font-size: .875rem
          @media (max-width: 480px)
            font-size: .875rem
            width: 40%

//-- Body Profile
.profile__sect
	background: #e8eaef
	position: relative
	.avatar-box 
		span.host-stars
			@extend %host-stars-avatar
			right: 15px
			bottom: 15px
			&::before
				content: ""
				position: absolute 
				width: 40px
				height:	40px 
				border-radius: 100%
				background: rgba(255, 255, 255, .8)
				z-index: -1

.profile__wrap
  @extend %full-container
  @extend %d-flex
  flex-wrap: wrap
  width: 100%
  position: relative
  padding: 0px 0px 1.5rem
  @media (max-width: 576px)
    padding: 0 10px 1rem
  .review__sect
    @extend %d-flex
    flex-wrap: wrap
    position: relative
    width: 100%
    padding-right: 0
  .review-container
    width: 100%
  .review__wrap
    padding: 30px 45px 45px
    width: 100%
    background: #fff
    @extend %mg-box-profile
    @media (max-width: 1199px)
      padding: $lg-pd-box
    @media (max-width: 576px)
      padding: 10px 15px 20px
    .head-content
      border-bottom: 1px solid #ccc
      padding-bottom: 1rem
    .rating
      @extend %d-flex
      align-items: center
    .bar-line
      width: 100px
      margin: 0 15px
      height: 1px
      background: #141414
      @media (max-width: 991px)
        width: 75px
      @media (max-width: 576px)
        width: 25px
        margin: 0 3px
    .list-comments
      padding-top: 20px
      padding-bottom: 20px
      .left
        width: 7%
        @media (max-width: 991px)
          width: 10%
        @media (max-width: 576px)
          width: 18%
      .cmt-box
        > .group
          margin-bottom: 20px
          @media (max-width: 767px)
            margin-bottom: 10px
        .desc
          @media (max-width: 767px)
            font-size: .875rem
        
          
    p.no-result
      padding: 25px 0 25px 50px
      background: #e8eaeb
      @media (max-width: 576px)
        padding: 25px 15px
    span.lstitle
      @extend %title-in-profile
  .properties
    position: relative
    z-index: 2
    width: 100%
    padding-left: 0
    .properties__wrap
      background: #fff
      padding: 30px 45px
      @media (max-width: 1199px)
        padding: $lg-pd-box
      @media (max-width: 991px)
        flex-wrap: wrap
        display: flex
      @media (max-width: 576px)
        padding: 10px 15px 20px
    .props-header
      position: relative
      margin-bottom: 1.5rem
      @media (max-width: 991px)
        width: 100%
      @media (max-width: 576px)
        margin-bottom: 1rem
      span.lstitle
        @extend %title-in-profile
    .props-body
      padding: 0 10px
      position: relative
      width: 100%
      .swiper-button-next, .swiper-button-prev
        top: 50%
        right: -1.5vw
        @media(max-width: 1399px)
          right: -1.75vw
        @media(max-width: 1199px)
          right: -1.75vw
        @media (max-width: 991px)
          right: -2.25vw
        @media(max-width: 576px)
          display: none
      .swiper-button-prev
        left: -1.5vw
        right: auto
        @media(max-width: 1399px)
          left: -1.75vw
        @media(max-width: 1199px)
          left: -1.75vw
        @media (max-width: 991px)
          left: -2.25vw
        @media(max-width: 576px)
          display: none
    .swiper-container
      padding: 0 10px 5px
    .swiper-slide
      padding: 10px 0 0
      @media (max-width:$large-screen)
        padding: 5px 0 0
    .item-car
      margin-bottom: 30px
      background: #fff
      padding: 0
      // box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5)
      // height: auto
      transition: all 0.35s cubic-bezier(0.7, 0, 0.3, 1)
      @media (max-width: 1199px)
        margin-bottom: 25px
      // &:hover, &:focus
      //   -webkit-box-shadow: 0 13px 34px 0 rgba(0,0,0,.1)
      //   box-shadow: 0 13px 34px 0 rgba(0,0,0,.1)
      .fix-img
        padding-bottom: 75%
      .img-car:before
        content: none
    .s-all
      @media (max-width: 991px)
        width: 100%

  // class in modal confirm-license
.license-photo
  .fix-img
    padding-bottom: 63%