extends layout.pug

//- Setting
block Setting
	- var Layout = true
	- var Header = true
	- var Footer = true
	- var Modal = true
	- var swiperjs = true

block Head
	include head.pug

block Pages
	- bodyC.push("")
	- layoutClasses.push("mioto-layout")
	- headerClasses.push("header")
	- bodyClasses.push("body")
	- footerClasses.push("footer")

//- Add Header
block Header
	include _layout/_common/header.pug

//- Add Body
block Body
	include _layout/_car/_car_detailv2.pug

//- Add Footer
block Footer
	include _layout/_common/footer.pug

//- Add Modal
block Modal
	include _modal/modal_qr_code.pug
	include _modal/modal_insurance_cd.pug
	include _modal/modal_form_insurance.pug
	include _modal/modal_location_setting.pug
	include _modal/modal_details.pug
	include _modal/modal_select_location.pug
	include _modal/modal_my_locations.pug
	include _modal/modal_my_locations_1.pug
	include _modal/modal_notes.pug
	include _modal/modal_confirm_book.pug
	include _modal/modal_payments.pug
	include _modal/modal_history_messages.pug


block JavaScripts Extend
	script.
		var swiperCar = new Swiper('.swiper-car', {
			slidesPerView: 2.4,
			centeredSlides: true,
			spaceBetween: 0,
			threshold: 15,
			speed: 600,
			loop: true,
			nextButton: '.swiper-button-next',
			prevButton: '.swiper-button-prev',
			slidesOffsetBefore: 0,
			slidesOffsetAfter: 0,
			pagination: '.swiper-pagination',
			paginationClickable: true,
			breakpoints: {
				992: {
					slidesPerView: 2,
				},
				768: {
					slidesPerView: 1.5,
				},
				480: {
					slidesPerView: 1.2,
				}
			}
		});
		var swiperSimilar = new Swiper('.swiper-similar', {
			slidesPerView: 4,
			spaceBetween: 24,
			threshold: 15,
			speed: 600,
			nextButton: '.swiper-button-next',
			prevButton: '.swiper-button-prev',
			slidesOffsetBefore: 0,
			slidesOffsetAfter: 0,
			breakpoints: {
				992: {
					slidesPerView: 3,
					spaceBetween: 30
				},
				768: {
					slidesPerView: 3,
					spaceBetween: 30
				},
				480: {
					slidesPerView: 1.2,
					spaceBetween: 15
				}
			}
		});
		var confirmBookBtn = document.getElementById("open-modal-confirm-book");
		confirmBookBtn.addEventListener("click", function() {
			document.getElementById("modal-confirm-book").classList.remove("hidden");
		})

		var qrCodeBtn = document.getElementById("open-modal-qr-code");
		qrCodeBtn.addEventListener("click", function() {
			document.getElementById("modal-qr-code").classList.remove("hidden");
		})

		var insCdBtn = document.getElementById("open-modal-insurance-cd");
		insCdBtn.addEventListener("click", function() {
			document.getElementById("modal-insurance-cd").classList.remove("hidden");
		})

		var formInsBtn = document.getElementById("open-modal-form-insurance");
		formInsBtn.addEventListener("click", function() {
			document.getElementById("modal-form-insurance").classList.remove("hidden");
		})

		var locationSettingBtn = document.getElementById("open-modal-location-setting");
		locationSettingBtn.addEventListener("click", function() {
			document.getElementById("modal-location-setting").classList.remove("hidden");
		})

		var detailsBtn = document.getElementById("open-modal-details");
		detailsBtn.addEventListener("click", function() {
			document.getElementById("modal-details").classList.remove("hidden");
		})

		var selectLocationBtn = document.getElementById("open-modal-select-location");
		selectLocationBtn.addEventListener("click", function() {
			document.getElementById("modal-select-location").classList.remove("hidden");
		})

		var myLocationsBtn = document.getElementById("open-modal-my-locations");
		myLocationsBtn.addEventListener("click", function() {
			document.getElementById("modal-my-locations").classList.remove("hidden");
		})

		var myLocations1Btn = document.getElementById("open-modal-my-locations-1");
		myLocations1Btn.addEventListener("click", function() {
			document.getElementById("modal-my-locations-1").classList.remove("hidden");
		})

		var notesBtn = document.getElementById("open-modal-notes");
		notesBtn.addEventListener("click", function() {
			document.getElementById("modal-notes").classList.remove("hidden");
		})

		var paymentsBtn = document.getElementById("open-modal-payments");
		paymentsBtn.addEventListener("click", function() {
			document.getElementById("modal-payments").classList.remove("hidden");
		})

		var hisMessBtn = document.getElementById("open-modal-history-messages");
		hisMessBtn.addEventListener("click", function() {
			document.getElementById("modal-history-messages").classList.remove("hidden");
		})

		var closeBtn = document.getElementsByClassName("close-modal");
		for(let i = 0; i < closeBtn.length; i++) {
			closeBtn[i].addEventListener("click", function() {
			document.getElementById("modal-confirm-book").classList.add("hidden");
			document.getElementById("modal-qr-code").classList.add("hidden");
			document.getElementById("modal-insurance-cd").classList.add("hidden");
			document.getElementById("modal-form-insurance").classList.add("hidden");
			document.getElementById("modal-location-setting").classList.add("hidden");
			document.getElementById("modal-details").classList.add("hidden");
			document.getElementById("modal-select-location").classList.add("hidden");
			document.getElementById("modal-my-locations").classList.add("hidden");
			document.getElementById("modal-my-locations-1").classList.add("hidden");
			document.getElementById("modal-notes").classList.add("hidden");
			document.getElementById("modal-payments").classList.add("hidden");
			document.getElementById("modal-history-messages").classList.add("hidden");


			})
		}