title=page

block Meta
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
	meta(name="viewport" content=`${responsiveDevice}`)
	meta(name="description" content=`${description}`)
	meta(name="format-detection" content="telephone=no")

//- Include css
block Css
	link(href="css/layout.css" rel="stylesheet" type="text/css")
	link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css', integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr', crossorigin='anonymous')
