extends layout.pug

//- Setting
block Setting
	- var Layout = true
	- var Header = true
	- var Footer = true
	- var Modal = true
	- var swiperjs = true

block Head
	include head.pug

block Pages
	- bodyC.push("")
	- layoutClasses.push("mioto-layout")
	- headerClasses.push("header")
	- bodyClasses.push("body")
	- footerClasses.push("footer")

//- Add Header
block Header
	include _layout/_common/header.pug

//- Add Body
block Body
	include _layout/_home_wd.pug

//- Add Footer
block Footer
	include _layout/_common/footer.pug

block JavaScripts Extend
	script.
		var swiperDestination = new Swiper('.swiper-destination', {
			slidesPerView: 5,
			spaceBetween: 5,
			threshold: 15,
			loop: true,
			speed: 600,
			nextButton: '.swiper-button-next.next-dest',
			prevButton: '.swiper-button-prev.prev-dest',
			slidesOffsetBefore: 0,
			slidesOffsetAfter: 0,
			breakpoints: {
				991: {
					slidesPerView: 4,
					spaceBetween: 10,
					centeredSlides: false,
				},
				767: {
					slidesPerView: 3,
					spaceBetween: 10,
					centeredSlides: false,
				},
				480: {
					slidesPerView: 2,
					spaceBetween: 5,
					centeredSlides: true,
				}
			}
		});
		var swiperRecent = new Swiper('.swiper-recent-box', {
			slidesPerView: 4,
			spaceBetween: 24,
			threshold: 15,
			loop: true,
			speed: 600,
			nextButton: '.swiper-button-next.next-recent-car',
			prevButton: '.swiper-button-prev.prev-recent-car',
			slidesOffsetBefore: 0,
			slidesOffsetAfter: 0,
			breakpoints: {
				991: {
					slidesPerView: 3,
					spaceBetween: 15
				},
				767: {
					slidesPerView: 2,
					spaceBetween: 15
				},
				480: {
					slidesPerView: 1.25,
					spaceBetween: 15,
					pagination: '.swiper-pagination.pagi-car',
					paginationClickable: true,
				}
			}
		});
		var swiperDestination = new Swiper('.swiper-perfect-box', {
			slidesPerView: 4,
			spaceBetween: 24,
			threshold: 15,
			loop: true,
			speed: 600,
			nextButton: '.swiper-button-next.next-pf-car',
			prevButton: '.swiper-button-prev.prev-pf-car',
			slidesOffsetBefore: 0,
			slidesOffsetAfter: 0,
			breakpoints: {
				991: {
					slidesPerView: 3,
					spaceBetween: 15
				},
				767: {
					slidesPerView: 2,
					spaceBetween: 15
				},
				480: {
					slidesPerView: 1.25,
					spaceBetween: 15
				}
			}
		});
		var swiperNewCar = new Swiper('.swiper-new-box', {
			slidesPerView: 4,
			spaceBetween: 24,
			threshold: 15,
			loop: true,
			speed: 600,
			nextButton: '.swiper-button-next.next-new-car',
			prevButton: '.swiper-button-prev.prev-new-car',
			slidesOffsetBefore: 0,
			slidesOffsetAfter: 0,
			breakpoints: {
				991: {
					slidesPerView: 3,
					spaceBetween: 15
				},
				767: {
					slidesPerView: 2,
					spaceBetween: 15
				},
				480: {
					slidesPerView: 1.25,
					spaceBetween: 15
				}
			}
		});
		var swiperBlog = new Swiper('.swiper-blog', {
			slidesPerView: 3,
			spaceBetween: 24,
			threshold: 15,
			speed: 600,
			//- nextButton: '.swiper-button-next.next-blog',
			//- prevButton: '.swiper-button-prev.prev-blog',
			slidesOffsetBefore: 0,
			slidesOffsetAfter: 0,
			pagination: '.swiper-pagination.pagi-blog',
			paginationClickable: true,
			breakpoints: {
				991: {
					slidesPerView: 2,
					spaceBetween: 10,
				},
				767: {
					slidesPerView: 1,
					spaceBetween: 15,
				},
				480: {
					slidesPerView: 1,
					spaceBetween: 10,
					autoplay: 5000,
				}
			}
		});
		var swiperNews = new Swiper('.swiper-news', {
				slidesPerView: 3,
				spaceBetween: 30,
				threshold: 15,
				speed: 600,
				slidesOffsetBefore: 0,
				slidesOffsetAfter: 0,

				breakpoints: {
				991: {
					slidesPerView: 3,
					spaceBetween: 10,
				},
				767: {
					slidesPerView: 3,
					spaceBetween: 15,
				},
				480: {
					slidesPerView: 1,
					spaceBetween: 10,
					autoplay: 5000,
					pagination: '.swiper-pagination.pagi-news',
					paginationClickable: true,
				}
			}
		});

		var swiperBanner = new Swiper('.swiper-banner', {
				slidesPerView: 1.5,
				spaceBetween: 15,
				threshold: 15,
				speed: 600,
				slidesOffsetBefore: 0,
				slidesOffsetAfter: 0,
				autoplay: 5000,
				breakpoints: {
				991: {
					slidesPerView: 3,
					spaceBetween: 10,
				},
				767: {
					slidesPerView: 3,
					spaceBetween: 15,
				},
				480: {
					slidesPerView: 1,
					spaceBetween: 10,
					autoplay: 5000,
					paginationClickable: true,
				}
			}
		});