extends layout.pug

//- Setting
block Setting
	- var Layout = true
	- var Header = true
	- var Footer = true
	- var Modal = true
	- var swiperjs = true

block Head
	include head.pug

block Pages
	- bodyC.push("")
	- layoutClasses.push("mioto-layout")
	- headerClasses.push("header")
	- bodyClasses.push("body")
	- footerClasses.push("footer")

//- Add Header
block Header
	//- include _layout/_common/header.pug
	include _layout/_common/header_account.pug

//- Add Body
block Body
	include _layout/_landingpage.pug

//- Add Footer
block Footer
	include _layout/_common/footer.pug

//- Add Modal
block Modal
	//- include _modal/modal_info_has_driver.pug
	//- include _modal/modal_request_detail.pug
	//- include _modal/modal_gateway.pug
	//- include _modal/modal_paymentsv2.pug

block JavaScripts Extend
	script.
		$(".icsvg").click(function() {
			var animation = $(".notification").attr("data-animation");
			$(".notification").addClass(animation).delay(1000).queue(function(next) {
				$(this).removeClass(animation);
				next();
			});
		});
		//- var swiperDeal = new Swiper('.swiper-deal', {
		//- 	slidesPerView: 4,
		//- 	spaceBetween: 24,
		//- 	threshold: 15,
		//- 	speed: 600,
		//- 	nextButton: '.swiper-button-next',
		//- 	prevButton: '.swiper-button-prev',
		//- 	slidesOffsetBefore: 0,
		//- 	slidesOffsetAfter: 0,
		//- 	breakpoints: {
		//- 		992: {
		//- 			slidesPerView: 3,
		//- 			spaceBetween: 30
		//- 		},
		//- 		768: {
		//- 			slidesPerView: 3,
		//- 			spaceBetween: 30
		//- 		},
		//- 		480: {
		//- 			slidesPerView: 1.2,
		//- 			spaceBetween: 15
		//- 		}
		//- 	}
		//- });
		//- var swiperDestination = new Swiper('.swiper-destination', {
		//- 	slidesPerView: 4,
		//- 	spaceBetween: 30,
		//- 	threshold: 15,
		//- 	speed: 600,
		//- 	nextButton: '.swiper-button-next',
		//- 	prevButton: '.swiper-button-prev',
		//- 	slidesOffsetBefore: 0,
		//- 	slidesOffsetAfter: 0,
		//- 	breakpoints: {
		//- 		992: {
		//- 			slidesPerView: 3,
		//- 			spaceBetween: 40
		//- 		},
		//- 		768: {
		//- 			slidesPerView: 3,
		//- 			spaceBetween: 40
		//- 		},
		//- 		480: {
		//- 			slidesPerView: 1,
		//- 			spaceBetween: 15
		//- 		}
		//- 	}
		//- });
		//$(window).load(function(){
			//$("#modal-confirm").modal("show");
		//});
		var swiperFeatures = new Swiper('.swiper-features', {
			slidesPerView: 3.5,
			spaceBetween: 15,
			threshold: 15,
			loop: true,
			speed: 600,
			nextButton: '.swiper-button-next.next-ft',
			prevButton: '.swiper-button-prev.prev-ft',
			slidesOffsetBefore: 0,
			slidesOffsetAfter: 0,
			breakpoints: {
				991: {
					slidesPerView: 4,
					spaceBetween: 10,
					centeredSlides: false,
				},
				767: {
					slidesPerView: 3,
					spaceBetween: 10,
					centeredSlides: false,
				},
				480: {
					slidesPerView: 2,
					spaceBetween: 5,
					centeredSlides: true,
				}
			}
		});
		var swiperSdDestination = new Swiper('.swiper-sd-destination', {
			slidesPerView: 5,
			spaceBetween: 15,
			threshold: 15,
			loop: true,
			speed: 600,
			nextButton: '.swiper-button-next.next-sd-dest',
			prevButton: '.swiper-button-prev.prev-sd-dest',
			slidesOffsetBefore: 0,
			slidesOffsetAfter: 0,
			breakpoints: {
				991: {
					slidesPerView: 4,
					spaceBetween: 10,
					centeredSlides: false,
				},
				767: {
					slidesPerView: 3,
					spaceBetween: 10,
					centeredSlides: false,
				},
				480: {
					slidesPerView: 2,
					spaceBetween: 5,
					centeredSlides: true,
				}
			}
		});
		var swiperWdDestination = new Swiper('.swiper-wd-destination', {
			slidesPerView: 5,
			spaceBetween: 15,
			threshold: 15,
			loop: true,
			speed: 600,
			nextButton: '.swiper-button-next.next-wd-dest',
			prevButton: '.swiper-button-prev.prev-wd-dest',
			slidesOffsetBefore: 0,
			slidesOffsetAfter: 0,
			breakpoints: {
				991: {
					slidesPerView: 4,
					spaceBetween: 10,
					centeredSlides: false,
				},
				767: {
					slidesPerView: 3,
					spaceBetween: 10,
					centeredSlides: false,
				},
				480: {
					slidesPerView: 2,
					spaceBetween: 5,
					centeredSlides: true,
				}
			}
		});
		var swiperRecent = new Swiper('.swiper-recent-box', {
			slidesPerView: 4,
			spaceBetween: 24,
			threshold: 15,
			loop: true,
			speed: 600,
			nextButton: '.swiper-button-next.next-recent-car',
			prevButton: '.swiper-button-prev.prev-recent-car',
			slidesOffsetBefore: 0,
			slidesOffsetAfter: 0,
			breakpoints: {
				991: {
					slidesPerView: 3,
					spaceBetween: 15
				},
				767: {
					slidesPerView: 2,
					spaceBetween: 15
				},
				480: {
					slidesPerView: 1.25,
					spaceBetween: 15,
					pagination: '.swiper-pagination.pagi-car',
					paginationClickable: true,
				}
			}
		});
		var swiperDestination = new Swiper('.swiper-perfect-box', {
			slidesPerView: 4,
			spaceBetween: 24,
			threshold: 15,
			loop: true,
			speed: 600,
			nextButton: '.swiper-button-next.next-pf-car',
			prevButton: '.swiper-button-prev.prev-pf-car',
			slidesOffsetBefore: 0,
			slidesOffsetAfter: 0,
			breakpoints: {
				991: {
					slidesPerView: 3,
					spaceBetween: 15
				},
				767: {
					slidesPerView: 2,
					spaceBetween: 15
				},
				480: {
					slidesPerView: 1.25,
					spaceBetween: 15
				}
			}
		});
		var swiperNewCar = new Swiper('.swiper-new-box', {
			slidesPerView: 4,
			spaceBetween: 24,
			threshold: 15,
			loop: true,
			speed: 600,
			nextButton: '.swiper-button-next.next-new-car',
			prevButton: '.swiper-button-prev.prev-new-car',
			slidesOffsetBefore: 0,
			slidesOffsetAfter: 0,
			breakpoints: {
				991: {
					slidesPerView: 3,
					spaceBetween: 15
				},
				767: {
					slidesPerView: 2,
					spaceBetween: 15
				},
				480: {
					slidesPerView: 1.25,
					spaceBetween: 15
				}
			}
		});
		var swiperBlog = new Swiper('.swiper-blog', {
			slidesPerView: 3,
			spaceBetween: 24,
			threshold: 15,
			speed: 600,
			nextButton: '.swiper-button-next.next-blog',
			prevButton: '.swiper-button-prev.prev-blog',
			slidesOffsetBefore: 0,
			slidesOffsetAfter: 0,
			pagination: '.swiper-pagination.pagi-blog',
			paginationClickable: true,
			breakpoints: {
				991: {
					slidesPerView: 2,
					spaceBetween: 10,
				},
				767: {
					slidesPerView: 1,
					spaceBetween: 15,
				},
				480: {
					slidesPerView: 1,
					spaceBetween: 10,
					autoplay: 5000,
				}
			}
		});
		var swiperNews = new Swiper('.swiper-news', {
				slidesPerView: 3,
				spaceBetween: 30,
				threshold: 15,
				speed: 600,
				slidesOffsetBefore: 0,
				slidesOffsetAfter: 0,

				breakpoints: {
				991: {
					slidesPerView: 3,
					spaceBetween: 10,
				},
				767: {
					slidesPerView: 3,
					spaceBetween: 15,
				},
				480: {
					slidesPerView: 1,
					spaceBetween: 10,
					autoplay: 5000,
					pagination: '.swiper-pagination.pagi-news',
					paginationClickable: true,
				}
			}
		});
		var swiperBanner = new Swiper('.swiper-banner', {
				slidesPerView: 1,
				spaceBetween: 15,
				threshold: 15,
				speed: 1000,
				slidesOffsetBefore: 0,
				slidesOffsetAfter: 0,
				loop: true,
				autoplay: 6000,
				pagination: '.swiper-pagination',
				paginationClickable: true,
				breakpoints: {
				991: {
					slidesPerView: 1,
					spaceBetween: 10,
				},
				767: {
					slidesPerView: 1,
					spaceBetween: 10,
				},
				480: {
					slidesPerView: 1,
					spaceBetween: 10,
				}
			}
		});

		//- var galleryTop = new Swiper(".gallery-top", {
		//- 	nextButton: ".swiper-button-next",
		//- 	prevButton: ".swiper-button-prev",
		//- 	spaceBetween: 15,
		//- 	loop:true,
		//- 	loopedSlides: 50,
		//- 	//- pagination: '.swiper-pagination.pagi-gallery',
		//- 	//- paginationClickable: true,

		//- });
		//- var galleryThumbs = new Swiper(".gallery-thumbs", {
		//- 	spaceBetween: 5,
		//- 	slidesPerView: "auto",
		//- 	touchRatio: 0.2,
		//- 	loop:true,
		//- 	slideToClickedSlide: true,
		//- 	loopedSlides: 50,
		//- 	direction:'vertical',
		//- 	centeredSlides: true,
		//- });
		//- galleryTop.params.control = galleryThumbs;
		//- galleryThumbs.params.control = galleryTop;
