extends layout.pug

//- Setting
block Setting
	- var Layout = true
	- var Header = true
	- var Footer = true

block Head
	include head.pug

block Pages
	- bodyC.push("")
	- layoutClasses.push("mioto-layout")
	- headerClasses.push("header")
	- bodyClasses.push("body")
	- footerClasses.push("footer")
	
//- Add Header
block Header
	include _layout/_common/header.pug

//- Add Body
block Body
	include _layout/_insurance/_home.pug


//- Add Footer
block Footer
	include _layout/_common/footer.pug

//- Add Modal
block Modal

block JavaScripts Extend
	script.


block JavaScripts Extend
	script.
		$(".icsvg").click(function() {
			var animation = $(".notification").attr("data-animation");
			$(".notification").addClass(animation).delay(1000).queue(function(next) {
				$(this).removeClass(animation);
				next();
			});
		});

		var swiperFeatures = new Swiper('.swiper-features', {
			slidesPerView: 4,
			spaceBetween: 15,
			threshold: 15,
			loop: true,
			speed: 600,
			nextButton: '.swiper-button-next.next-ft',
			prevButton: '.swiper-button-prev.prev-ft',
			slidesOffsetBefore: 0,
			slidesOffsetAfter: 0,
			breakpoints: {
				991: {
					slidesPerView: 3.5,
					spaceBetween: 10,
					centeredSlides: false,
				},
				767: {
					slidesPerView: 2.5,
					spaceBetween: 10,
					centeredSlides: false,
				},
				480: {
					slidesPerView: 1.5,
					spaceBetween: 5,
					centeredSlides: true,
				}
			}
		});