extends layout.pug

//- Setting
block Setting
	- var Layout = true
	- var Header = true
	- var Footer = true
	- var Modal = true

block Head
	include head.pug

block Pages
	- bodyC.push("")
	- layoutClasses.push("mioto-layout")
	//- - headerClasses.push("header")
	//- - bodyClasses.push("body")
	//- - footerClasses.push("footer")


//- Add Modal
block Modal
	//- include _layout/_insurance/_popup/booking_insurance.pug
	//- include _layout/_insurance/_popup/sent_ins.pug
	//- include _layout/_insurance/_popup/not_found_ins.pug
	include _layout/_insurance/_popup/buy_more.pug
	//- include _layout/_insurance/_popup/tutorial_ins.pug

block JavaScripts Extend
	script.
