extends layout.pug

//- Setting
block Setting
	- var Layout = true
	- var Header = true
	- var Footer = true

block Head
	include head.pug

block Pages
	- bodyC.push("")
	- layoutClasses.push("mioto-layout")
	- headerClasses.push("header")
	- bodyClasses.push("body")
	- footerClasses.push("footer")

//- Add Header
block Header
	include _layout/_common/header.pug

//- Add Body
block Body
	include _layout/_insurance/_step1_v2.pug


//- Add Footer
block Footer
	include _layout/_common/footer.pug


block JavaScripts Extend
	script.
		var btnClick = document.getElementsByClassName("parent");
		btnClick[0].addEventListener("click", function() {
		btnClick[0].classList.toggle("active");
		for (let i = 0; i < document.getElementsByClassName("child1").length; i++) {
			document.getElementsByClassName("child1")[i].classList.toggle("disp-none");
			}
			
		for (let i = 0; i < document.getElementsByClassName("plus-minus1").length; i++) {
			document.getElementsByClassName("plus-minus1")[i].classList.toggle("disp-none");
			}
		})

		btnClick[1].addEventListener("click", function() {
		btnClick[1].classList.toggle("active");
		for (let i = 0; i < document.getElementsByClassName("child2").length; i++) {
			document.getElementsByClassName("child2")[i].classList.toggle("disp-none");
			}

		for (let i = 0; i < document.getElementsByClassName("plus-minus2").length; i++) {
			document.getElementsByClassName("plus-minus2")[i].classList.toggle("disp-none");
			}
		})
		btnClick[2].addEventListener("click", function() {
		btnClick[2].classList.toggle("active");
		for (let i = 0; i < document.getElementsByClassName("child3").length; i++) {
			document.getElementsByClassName("child3")[i].classList.toggle("disp-none");
			}

		for (let i = 0; i < document.getElementsByClassName("plus-minus3").length; i++) {
			document.getElementsByClassName("plus-minus3")[i].classList.toggle("disp-none");
			}
		})

		btnClick[3].addEventListener("click", function() {
		btnClick[3].classList.toggle("active");
		for (let i = 0; i < document.getElementsByClassName("child4").length; i++) {
			document.getElementsByClassName("child4")[i].classList.toggle("disp-none");
			}

		for (let i = 0; i < document.getElementsByClassName("plus-minus4").length; i++) {
			document.getElementsByClassName("plus-minus4")[i].classList.toggle("disp-none");
			}
		})

		btnClick[4].addEventListener("click", function() {
		btnClick[4].classList.toggle("active");
		for (let i = 0; i < document.getElementsByClassName("child5").length; i++) {
			document.getElementsByClassName("child5")[i].classList.toggle("disp-none");
			}

		for (let i = 0; i < document.getElementsByClassName("plus-minus5").length; i++) {
			document.getElementsByClassName("plus-minus5")[i].classList.toggle("disp-none");
			}
		})

		btnClick[5].addEventListener("click", function() {
		btnClick[5].classList.toggle("active");
		for (let i = 0; i < document.getElementsByClassName("child6").length; i++) {
			document.getElementsByClassName("child6")[i].classList.toggle("disp-none");
			}

		for (let i = 0; i < document.getElementsByClassName("plus-minus6").length; i++) {
			document.getElementsByClassName("plus-minus6")[i].classList.toggle("disp-none");
			}
		})

		btnClick[6].addEventListener("click", function() {
		btnClick[6].classList.toggle("active");
		for (let i = 0; i < document.getElementsByClassName("child7").length; i++) {
			document.getElementsByClassName("child7")[i].classList.toggle("disp-none");
			}

		for (let i = 0; i < document.getElementsByClassName("plus-minus7").length; i++) {
			document.getElementsByClassName("plus-minus7")[i].classList.toggle("disp-none");
			}
		})

		btnClick[7].addEventListener("click", function() {
		btnClick[7].classList.toggle("active");
		for (let i = 0; i < document.getElementsByClassName("child8").length; i++) {
			document.getElementsByClassName("child8")[i].classList.toggle("disp-none");
			}

		for (let i = 0; i < document.getElementsByClassName("plus-minus8").length; i++) {
			document.getElementsByClassName("plus-minus8")[i].classList.toggle("disp-none");
			}
		})