extends layout1.pug

//- Setting
block Setting
	- var Layout = true
	- var Header = true
	- var Footer = false

block Head
	include head.pug

block Pages
	- bodyC.push("")
	- layoutClasses.push("mioto-layout bg-gray")
	- headerClasses.push("header")
	- bodyClasses.push("body")
	- footerClasses.push("footer")

//- Add Header
block Header
	include _layout/_common/header.pug

//- Add Body
block Body
	//- include _layout/_common/_header_owner.pug
	//- *When has cars
	include _layout/_carowner/_list_cars.pug

	//- When registered cars
	include _layout/_carowner/_newcars.pug

//- Add Footer
block Footer
	include _layout/_common/footer.pug

block JavaScripts Extend
	script.



