extends layout1.pug

//- Setting
block Setting
	- var Layout = true
	- var Header = true
	- var Footer = false

block Head
	include head.pug

block Pages
	- bodyC.push("")
	- layoutClasses.push("mioto-layout bg-gray")
	- headerClasses.push("header")
	- bodyClasses.push("body")
	- footerClasses.push("footer")
	
//- Add Header
block Header
	include _layout/_common/header.pug

//- Add Body
block Body
	include _layout/_carowner/_list_trips.pug

//- Add Footer
block Footer
	include _layout/_common/footer.pug

//- Add Modal
block Modal
	//include _layout/modal_confirm.pug

block JavaScripts Extend
	script.