extends layout1.pug

//- Setting
block Setting
	- var Layout = true
	- var Header = false
	- var Footer = false

block Head
	include head.pug

block Pages
	- bodyC.push("")
	- layoutClasses.push("mioto-layout bg-gray")
	- headerClasses.push("header")
	- bodyClasses.push("body")
	- footerClasses.push("footer")
	

//- Add Body
block Body
	include _layout/_profile/_login.pug


block JavaScripts Extend
	script.