extends layout1.pug

//- Setting
block Setting
	- var Layout = true
	- var Header = true
	- var Footer = false
	- var ggmap = true
	- var Modal = true
	- var swiperjs = true

block Head
	include head.pug

block Pages
	- layoutClasses.push("mioto-layout bg-gray")
	- headerClasses.push("header")
	- bodyClasses.push("body has-filter no-pd-on-mobile")
	- footerClasses.push("footer")

//- Add Header
block Header
	include _layout/_common/header.pug

//- Add Body
block Body
	include _layout/_car/_map_view.pug

//- Add Footer
block Footer
	include _layout/_common/footer.pug

//- Add Modal
block Modal
	//- include _modal/modal_filters_mobile.pug
	//- include _modal/modal_filter_vehicle_type.pug
	//- include _modal/modal_filter_car.pug
	//- include _modal/modal_filter_car_type.pug
	//- include _modal/modal_details.pug
	//- include _modal/modal_notes.pug
block JavaScripts Extend
	script.
		var swiperFilterCars = new Swiper('.swiper-car-filter', {
			slidesPerView: 'auto',
			threshold: 15,
			speed: 600,
		});
		//- var hMain = $(window).height() - 164;
		//- $( ".has-scroll" ).css({"height": hMain});

		//- var hSub = $(window).height() - 80;
		//- $( ".module-map" ).css({"height": hSub});
		var map;
		function InitializeMap() {
			var latlng = new google.maps.LatLng(10.823099, 106.629664);
			map = new google.maps.Map(document.getElementById('map'), {
				center: latlng,
				zoom: 8,
			});
		};
		window.onload = InitializeMap;






		function filterM(){
			document.querySelector("body").className = "state-filter";
			document.querySelector("html").style.overflow = "hidden"
		}
		function filterC(){
			document.querySelector("body").className = "";
			document.querySelector("html").style.overflow = ""
		}

		function changeRange() {
			var width = '100%';

			var percent = document.getElementById('range-slider-input').value/5;

			if (percent > 95) percent -= 5;
			if (percent < 5) percent += 5;

			document.getElementById('range-fill').style.width = percent+ '%';
		}

		document.onload = changeRange();

		var rangeSlider = function(){
			var slider = $('.range-slider'),
			range = $('.range-slider__range'),
			value = $('.range-slider__value');

			slider.each(function(){

			value.each(function(){
				var value = $(this).prev().attr('value');
				$(this).html(value);
			});

			range.on('input', function(){
				$(this).next(value).html(this.value);
				});
			});
		};

		rangeSlider();
