extends layout.pug

//- Setting
block Setting
	- var Layout = true
	- var Header = true
	- var Footer = true
	- var Modal = true
	- var swiperjs = true

block Head
	include head.pug

block Pages
	- bodyC.push("")
	- layoutClasses.push("mioto-layout bg-gray")
	- headerClasses.push("header")
	- bodyClasses.push("body no-pd-on-mobile")
	- footerClasses.push("footer")

//- Add Header
block Header
	include _layout/_common/header.pug
//- Add Body
block Body
	include _layout/_profile/_myaddress.pug
//- Add Footer
block Footer
	include _layout/_common/footer.pug

//- Add Modal
block Modal
	include _modal/modal_add_addresses.pug
	include _modal/modal_common.pug

block JavaScripts Extend
	script.
		var addAddressesBtn = document.getElementById("open-modal-add-addresses");
		addAddressesBtn.addEventListener("click", function() {
			document.getElementById("modal-add-addresses").classList.remove("hidden");
		})


		var closeBtn = document.getElementsByClassName("close-modal");
		for(let i = 0; i < closeBtn.length; i++) {
			closeBtn[i].addEventListener("click", function() {
			document.getElementById("modal-add-addresses").classList.add("hidden");
			document.getElementById("modal-common").classList.add("hidden");
			
			
			})
		}