extends layout.pug

//- Setting
block Setting
	- var Layout = true
	- var Header = true
	- var Footer = true
	- var Modal = true
	- var swiperjs = true

block Head
	include head.pug

block Pages
	- bodyC.push("")
	- layoutClasses.push("mioto-layout bg-gray")
	- headerClasses.push("header")
	- bodyClasses.push("body no-pd-on-mobile")
	- footerClasses.push("footer")

//- Add Header
block Header
	include _layout/_common/header.pug

//- Add Body
block Body
	include _layout/_profile/_mycard.pug

//- Add Footer
block Footer
	include _layout/_common/footer.pug

//- Add Modal
block Modal


block JavaScripts Extend
	script.
