extends layout1.pug

//- Setting
block Setting
	- var Layout = true
	- var Header = true
	- var Footer = false
	- var Modal = true

block Head
	include head.pug

block Pages
	- bodyC.push("")
	- layoutClasses.push("mioto-layout bg-gray")
	- headerClasses.push("header")
	- bodyClasses.push("body")
	- footerClasses.push("footer")

//- Add Header
block Header
	include _layout/_common/header.pug

//- Add Body
block Body
	include _layout/_common/_header_owner.pug
	include _layout/_carowner/_owner_report.pug

//- Add Footer
block Footer
	include _layout/_common/footer.pug

block Modal
	//- include _modal/modal_withdrawal_request.pug
	//- include _modal/modal_req_withdraw_gate.pug
	include _modal/modal_history_messages.pug
	//- include _modal/modal_regis_viettelpay.pug

block JavaScripts Extend
	script.