extends layout.pug

//- Setting
block Setting
	- var Layout = true
	- var Header = true
	- var Footer = true
	- var Modal = true

block Head
	include head.pug

block Pages
	- bodyC.push("")
	- layoutClasses.push("mioto-layout")
	//- - headerClasses.push("header")
	//- - bodyClasses.push("body")
	//- - footerClasses.push("footer")


//- Add Modal
block Modal
	//- include _popupnotify/popup_payment.pug
	//- include _popupnotify/promo_9.pug
	//- include _popupnotify/women_day.pug
	//- include _popupnotify/promo_11.pug
	//- include _popupnotify/promo_dn.pug
	//- include _popupnotify/mwedding.pug
	//- include _popupnotify/privacy_template.pug

	//- include _popupnotify/promo_6.pug
	//- include _popupnotify/promo_7.pug

	//-- Noti Wallet
	//- include _popupnotify/w_addmoney.pug
	//- include _popupnotify/w_addaccount.pug
	//- include _popupnotify/w_addcanceltrip.pug
	//- include _popupnotify/w_changebalance.pug
	//- include _popupnotify/w_substractcanceltrip.pug
	//- include _popupnotify/w_withdrawtransfer.pug

	//- include _popupnotify/register_viettelpay.pug


	//- include _popupnotify/realease_wallet.pug

	//-- Deposit Success
	//- include _popupnotify/deposit_owner.pug
	//- include _popupnotify/deposit_traveller.pug

	//-- Reminder
	//- include _popupnotify/reminder8days.pug
	//- include _popupnotify/reminder1day.pug
	//- include _popupnotify/reminder2hours.pug

	//- include _popupnotify/owner_reminder8days.pug
	//- include _popupnotify/owner_reminder1day.pug
	//- include _popupnotify/owner_reminder2hours.pug

	//- include _popupnotify/owner_contract.pug

	//- include _popupnotify/fee_service.pug
	//- include _popupnotify/owner_insurance.pug

	//- include _popupnotify/close_in_holiday.pug

	//- include _popupnotify/popup_welcome.pug
	//- include _popupnotify/car_rental_experence.pug
	//- include _popupnotify/car_owner_experience.pug

	//- include _popupnotify/privacy_traveller.pug

	//- Insurance
	//- include _popupnotify/insurance.pug

	//- Call OTP 
	include _popupnotify/call_otp.pug

	//- Reason to delete car
	//- include _popupnotify/reason_delete_car.pug

block JavaScripts Extend
	script.
