extends layout.pug

//- Setting
block Setting
	- var Layout = true
	- var Header = true
	- var Footer = true

block Head
	include head.pug

block Pages
	- bodyC.push("")
	- layoutClasses.push("mioto-layout")
	- headerClasses.push("header")
	- bodyClasses.push("body")
	- footerClasses.push("footer")

//- Add Header
block Header
	include _layout/_common/header.pug

//- Add Body
block Body
	include _layout/_common/_header_owner.pug
	include _layout/_carowner/_setting_details.pug

//- Add Footer
block Footer
	include _layout/_common/footer.pug

//- Add Modal
block Modal

block JavaScripts Extend
	script.
		//- var menu = document.querySelector('.sidebar-settings.show-on-med-and-down');
		//- var menuPosition = menu.getBoundingClientRect();
		//- var placeholder = document.createElement('div');
		//- placeholder.style.width = menuPosition.width + 'px';
		//- placeholder.style.height = menuPosition.height + 'px';
		//- placeholder.style.display = 'none';
		//- var isAdded = false;

		//- window.addEventListener('scroll', function() {
		//- 		if (window.pageYOffset >= menuPosition.top && !isAdded) {
		//- 				menu.classList.add('sticky');
		//- 				menu.parentNode.insertBefore(placeholder, menu);
		//- 				isAdded = true;
		//- 		} else if (window.pageYOffset < menuPosition.top && isAdded) {
		//- 				menu.classList.remove('sticky');
		//- 				menu.parentNode.removeChild(placeholder);
		//- 				isAdded = false;
		//- 		}
		//- });