block Profile

- var moduleComment = []
- moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'It is an amazing experience on renting his car, very easy for my first try, I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'})
- moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'It is an amazing experience on renting his car, very easy for my first try, I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'})
- moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'Excellent guest, made the rental process easy. Thanks!'})
- var moduleDeal = []
- moduleDeal.push({'class':'','rating_num': '4' , 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'','rating_num': '3' , 'heroes':'Telsa Model X', 'img':'images/upload/car_2.png'})
- moduleDeal.push({'class':'','rating_num': '3.5' , 'heroes':'Telsa Model X', 'img':'images/upload/car_3.png'})
- moduleDeal.push({'class':'','rating_num': '4.5' , 'heroes':'Telsa Model X', 'img':'images/upload/car_4.png'})
- moduleDeal.push({'class':'','rating_num': '4' , 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'','rating_num': '5' , 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'','rating_num': '5' , 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'','rating_num': '4' , 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'','rating_num': '3' , 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'','rating_num': '2' , 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'','rating_num': '1' , 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'','rating_num': '2' , 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'','rating_num': '4' , 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'','rating_num': '5' , 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'','rating_num': '5' , 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
//- - var moduleDeal = []
//- - moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
//- - moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})

.cover-profile.new-profile(style="background-image:url(images/background/car-9.jpg)")
	.qr-car 
		.ic.ic-qr-code
.profile__sect 
	.content-profile--new 
		.desc-profile.desc-account 
			.avatar-box
				.avatar.avatar--xl.has-edit
					.avatar-img(style="background-image: url(https://n1-astg-dev.mioto.vn/g/2018/07/15/15/FU9GKsAR-AYZOFuNldjUzw.jpg)")
			.snippet
				.profile-info
					.item-content
						.item-title 
							p Minh Minh
							a.func-edit(title='Chỉnh sửa')
								i.ic.ic-edit 
						.d-flex
							span.join Tham gia vào 08/2018 
							.bar-line 
							span.sum-trips 303 chuyến 
					.item-points
						include ../../../images/ic-svg/star.svg
						span 100 điểm
						.tooltip
							i.ic.ic-question-mark
							.tooltip-text Lorem ipsum dolor sit amet.
				.line-info 
					.d-flex 
						.info 
							span.label Ngày sinh 
							span.ctn 30/10/1995 
						.info 
							span.label Giới tính 
							span.ctn Nữ
					.wr-info
						.s-info
							span.lstitle Tỉ lệ phản hồi 
							span.ctn 75%
						.s-info 
							span.lstitle Thời gian phản hồi
							span.ctn 7 phút 
						.s-info 
							span.lstitle Tỉ lệ đồng ý
							span.ctn 70%
		.desc-profile
			.information.information--acc
				.inside 
					ul
						li
							span.label Điện thoại
							span.ctn
								span +986643851
								a.verify.btn.btn--s Xác minh 
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-edit
						li
							span.label GPLX
							span.ctn
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-edit
						li
							span.label Email 
							span.ctn
								i.ic.ic-verify 
								span minhminhyk@gmail.com
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-edit
						li
							span.label Facebook 
							span.ctn
								span Chưa liên kết
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-link 
						li
							span.label Google 
							span.ctn Minh Minh 
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-remove
		.desc-profile
			.information.information--acc
				.inside 
					ul
						li
							span.label Điện thoại
							span.ctn
								span +986643851
								a.verify.btn.btn--s Xác minh 
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-edit
						li
							span.label GPLX
							span.ctn
								span
									i.ic.ic-verifying
									| 1234-5678-9012
								span.verify.btn.btn--s.verifying
									| Chờ xác thực
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-edit
						li
							span.label Email 
							span.ctn
								i.ic.ic-verify 
								span minhminhyk@gmail.com
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-edit
						li
							span.label Facebook 
							span.ctn
								span Chưa liên kết
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-link 
						li
							span.label Google 
							span.ctn Minh Minh 
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-remove
		.desc-profile
			.information.information--acc
				.inside 
					ul
						li
							span.label Điện thoại
							span.ctn
								span +986643851
								a.verify.btn.btn--s Xác minh
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-edit
						li
							span.label GPLX
							span.ctn
								span
									i.ic.ic-error
									| 1234-5678-9012
								span.verify.btn.btn--s.verifying
									| Xác thực không thành công
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-edit
						li
							span.label Email 
							span.ctn
								i.ic.ic-verify 
								| minhminhyk@gmail.com
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-edit
						li
							span.label Facebook 
							span.ctn
								span Chưa liên kết
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-link 
						li
							span.label Google 
							span.ctn Minh Minh 
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-remove
		.desc-profile
			.information.information--acc
				.inside 
					ul
						li
							span.label Điện thoại
							span.ctn
								span +986643851
								a.verify.btn.btn--s Xác minh
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-edit
						li
							span.label GPLX
							span.ctn
								span
									i.ic.ic-verify
									| 1234-5678-9012
								span.verify.btn.btn--s.verified
									| Xác thực thành công
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-edit
						li
							span.label Email 
							span.ctn
								i.ic.ic-verify 
								| minhminhyk@gmail.com
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-edit
						li
							span.label Facebook 
							span.ctn
								span Chưa liên kết
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-link 
						li
							span.label Google 
							span.ctn Minh Minh 
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-remove
									//- option 1 
		.desc-profile.account-profile
			.information.information--acc
				.inside 
					.account-column
						.account-content
							span.label Điện thoại
							span.ctn
								span 
									i.ic.ic-error
									| +986643851
								a.verify.btn.btn--s Xác minh
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-edit-black
						.account-content
							span.label GPLX
							span.ctn
								span
									i.ic.ic-error
									| 1234-5678-9012
								span.verify.btn.btn--s.verifying Xác thực không thành công
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-edit-black
						.account-content
							span.label Email 
							span.ctn
								span
									i.ic.ic-error
									| minhminhyk@gmail.com
								span.verify.btn.btn--s.verify Xác minh
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-edit-black
					.account-column
						.account-content
							span.label Facebook 
							span.ctn
								a.btn-adding
									i.ic.ic-link
									| Liên kết với Facebook
						.account-content
							span.label Google 
							span.ctn
								a.btn-adding
									i.ic.ic-link
									| Liên kết với Google
		//- option 2
		.desc-profile.account-profile
			.information.information--acc
				.inside 
					.account-column
						.account-content
							span.label Điện thoại
							span.ctn
								a.btn-adding
									i.ic.ic-plus
									| Thêm số điện thoại
						.account-content
							span.label GPLX
							span.ctn
								a.btn-adding
									i.ic.ic-plus
									| Thêm GPLX
						.account-content
							span.label Email 
							span.ctn
								a.btn-adding
									i.ic.ic-plus
									| Thêm email
					.account-column
						.account-content
							span.label Facebook 
							span.ctn
								a.btn-adding
									i.ic.ic-link
									| Liên kết với Facebook
						.account-content
							span.label Google 
							span.ctn Minh Minh 
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-remove-green
		//- option 3
		.desc-profile.account-profile
			.information.information--acc
				.inside 
					.account-column
						.account-content
							span.label Điện thoại
							span.ctn
								span 
									i.ic.ic-verify
									| +986643851
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-edit-black
						.account-content
							span.label GPLX
							span.ctn
								span
									i.ic.ic-verify
									| 1234-5678-9012
								span.verify.btn.btn--s.verified Xác thực thành công
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-edit-black
						.account-content
							span.label Email 
							span.ctn
								span
									i.ic.ic-verify
									| minhminhyk@gmail.com
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-edit-black
					.account-column
						.account-content
							span.label Facebook 
							span.ctn
								a.btn-adding
									i.ic.ic-link
									| Liên kết với Facebook
						.account-content
							span.label Google 
							span.ctn Minh Minh 
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-remove-green
		//- option 4
		.desc-profile.account-profile
			.information.information--acc
				.inside 
					.account-column
						.account-content
							span.label Điện thoại
							span.ctn
								span 
									i.ic.ic-verify
									| +986643851
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-edit-black
						.account-content
							span.label GPLX
							span.ctn
								span
									i.ic.ic-verifying
									| 1234-5678-9012
								span.verify.btn.btn--s.verifying Chờ xác thực
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-edit-black
						.account-content
							span.label Email 
							span.ctn
								span
									i.ic.ic-verify
									| minhminhyk@gmail.com
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-edit-black
					.account-column
						.account-content
							span.label Facebook 
							span.ctn
								a.btn-adding
									i.ic.ic-link
									| Liên kết với Facebook
						.account-content
							span.label Google 
							span.ctn Minh Minh 
								a.func-edit(href="#!" title="Edit")
									i.ic.ic-remove-green
	.profile__wrap
		.review__sect 
			.review.review__wrap
				.head-content 
					span.lstitle Đánh giá từ chủ xe
					.rating
						span.star
							span.star_rate-num 5
							i.full
						.bar-line 
						.trips 3 chuyến
				p.no-result Chưa có nhận xét nào 
				mixin list-comments(comment)
					.list-comments.hidden
						.left 
							.fix-avatar
								img(src=comment.img)
						.right  
							h4.name= comment.heroes 
							.cmt-box 
								.group
									span.star
										span.star_rate-num 5
										i.full
									p.date 22/02/2017 
								p.desc= comment.desc
				for comment in moduleComment 
					+list-comments(comment)
				.s-all.hidden
					p.see-all Xem thêm 
						i.ic.ic-chevron-up 
			.review.review__wrap
				.head-content 
					span.lstitle Đánh giá từ khách thuê 	
					.rating
						span.star
							span.star_rate-num 5
							i.full
						.bar-line 
						.trips Không có chuyến nào 
				//- p.no-result Chưa có nhận xét nào 
				mixin list-comments(comment)
					.list-comments 
						.left 
							.fix-avatar
								img(src=comment.img)
						.right
							h4.name= comment.heroes 
							.cmt-box 
								.group
									span.star
										i.full
										i.full
										i.full
										i.full
										i.half
									p.date 22/02/2017 
								p.desc= comment.desc
				for comment in moduleComment 
					+list-comments(comment)
				.s-all 
					p.see-all Xem thêm 
						i.ic.ic-chevron-up
		.properties
			.properties__wrap 
				.props-header 
					span.lstitle Xe của tôi 
				.props-body 
					.swiper-button-next
						i.i-arr
					.swiper-button-prev
						i.i-arr
					.swiper-container.swiper-similar
						.swiper-wrapper.box-car__wrap
							each moduleDealItem in moduleDeal
								.swiper-slide.box-car__item.swiper-slide-active
									.item-car(class=`${moduleDealItem.class}`)
										.img-car
											.fix-img
												img(src="https://n1-pstg.mioto.vn/cho_thue_xe_o_to_tu_lai_thue_xe_du_lich_hochiminh/mitsubishi_xpander_2019/p/g/2019/09/03/11/Jm7GVbnjEpUo7lg7D7tchg.jpg")
											span.label-pos
												span.free Miễn phí giao xe
											span.price-car 500k
										.desc-car
											.group-line.n-price
												h2 #{moduleDealItem.heroes}
												//- p.price
												//- 	span.real 1050K
												//- 	span.special 900K
												//- 	span.unit /chuyến
											.group-line.n-rating
												span.star
													span.star_rate-num!= moduleDealItem.rating_num
													i.full
												span 	&#8226   2 chuyến
												if moduleDealItem.rating_num == '5'
													span
														i.ic.ic-star-badge
														| All-star host
											.group-label.marginBottom-xs
												span Số tự động
												span Miễn phí giao xe
											.location
												p
													i.ic.ic-sm-car-location
													| Tân Bình, Hồ Chí Minh
						.swiper-pagination