block FW Password

.body-container
	.form-default.form-s
		h2.title-form Đặt Lại Mật Khẩu
		.line-form.end
			.wrap-input.has-ico
				i.ic.ic-email-fill
				input(type="text" name="Email" placeholder="Email")
		.clear
		button.btn.btn-primary.btn--m(type="button", name="loginBtn") Gởi Mật Khẩu Mới
		.space.m
		p.textAlign-center Trở lại <a href="#!">Đăng Nhập</a>
