block Login 

.login__sect(style='background-image: url(images/background/bg-enterprise.jpg);')
	.form-login.form-default.form-s
		h2.title-form Đăng Nhập 
		.login 
			img(src="images/login.svg" class="img-fluid")
		.line-form
			.wrap-input.has-ico
				i.ic.ic-email-fill
				input(type="text" name="Điện Thoại" placeholder="Điện Thoại")
		.line-form
			.wrap-input.has-ico
				i.ic.ic-lock-fill
				input.has-error(type="password" name="Mật Khẩu" placeholder="Mật Khẩu")
		a.forgot-password Quên mật khẩu? 

		.clear
		button.btn.btn-primary.btn--m(type="button", name="loginBtn") Đăng Nhập

