block Myaddress

- var myaddress = []
- myaddress.push({"img": "images/visa.svg", "address_number": "Công ty", "address_name": "305/4 Lê Văn Sỹ, phường 1, quận Tân Bình, tp HCM", "status": "default", "icon" :"ic-house-black"})
- myaddress.push({"img": "images/mastercard.svg", "address_number": "Nhà riêng", "address_name": "661 Lũy Bán Bích, phường Phú Thọ Hòa, quận Tân Phú, tp HCM", "icon" :"ic-briefcase-black"})
- myaddress.push({"img": "images/jcb.svg", "address_number": "Phòng gym", "address_name": "305/4 Lê Văn Sỹ, phường 1, quận Tân Bình, tp HCM", "valid_address": "04/22", "icon" :"ic-flag-black"})
- myaddress.push({"img": "images/credit-card.svg", "address_number": "Họp mặt", "address_name": "305/4 Lê Văn Sỹ, phường 1, quận Tân Bình, tp HCM", "icon" :"ic-flag-black"})
- var tagFilter = []
- tagFilter.push({"name": "Nhà riêng","icon" :"ic-house-black"})
- tagFilter.push({"name": "Công ty","icon" :"ic-briefcase-black"})
- tagFilter.push({"name": "khác","icon" :"ic-flag-black"})



.my-card__sect.address__sect
	.m-container
		.my-card__wrap
			h3.n-title ĐỊA CHỈ CỦA TÔI
			a.btn.btn--m.btn-add-address.hide-on-med#open-modal-add-addresses
				i.ic.ic-plus
				| &nbsp;&nbsp;Thêm địa chỉ 
			a.func-filter.plus.show-on-med
				i.ic.plus-o

mixin  list-tag-filter(tag)
	label.custom-control.custom-tag-radio
		input.custom-control-input(type='radio' name="filterTag")
		span.wrap-content
			if tag.name == 'Nhà riêng'
				include ../../../images/ic-svg/ic_home_address.svg
			else if tag.name == 'Công ty' 
				include ../../../images/ic-svg/ic_company_address.svg
			else 
				include ../../../images/ic-svg/exclude.svg
			span.custom-control-description!=tag.name
.list-address__sect.module-trips
	.trip-container
		.box-address__wrap
			div.address-image
				img.img-fluid(alt="address car" src="images/user-address.svg")
				p Bạn chưa có địa chỉ
		.box-address__wrap
			h3.address-title ĐỊA CHỈ ĐÃ LƯU
			mixin list-addresses(address)
				.box-address__item
					span.address-icon
						if address.address_number == 'Công ty'
							include ../../../images/ic-svg/ic_company_address.svg
						else if address.address_number == 'Nhà riêng'
							include ../../../images/ic-svg/ic_home_address.svg
						else
							include ../../../images/ic-svg/exclude.svg
					.address-info
						p.address-name
							| #{address.address_number}
							if address.status
								span.label-status-orange Mặc định
						p.address-location #{address.address_name}
					.address-edit 
						p CHỈNH SỬA
						i.ic.ic-edit
			for address in myaddress
				+list-addresses(address)
		.box-address__wrap.size-s
			h3.address-title CHỈNH SỬA ĐỊA CHỈ ĐÃ LƯU
			.edit-address__wrap
				.edit-address__box.form-default
					.line-form
						label.label
							| Loại địa chỉ
							span.require-star &nbsp;*
						.d-flex-wrap.filter-tag
							for tag in tagFilter
								+list-tag-filter(tag)
					.line-form
						label.label
							| Tên gợi nhớ
							span.require-star &nbsp;*
						.wrap-input
							input.value(placeholder="Công ty")
					.line-form
						label.label
							| Địa chỉ
							span.require-star &nbsp;*
						label.sublabel Tỉnh/ Thành phố
						.wrap-select
							select
								option TP Hồ Chí Minh
								option Hà Nội
						label.sublabel Quận/ Huyện
						.wrap-select
							select
								option Tân Bình
								option Bình Tân			
						label.sublabel Phường/ Xã
						.wrap-select
							select
								option Phường 1
								option Phường 2
								option Phường 3
						label.sublabel Đường
						.wrap-input
							input.value(placeholder="Lê Văn Sĩ")
					.address-default
						label.label Đặt làm mặc định
						.switch-on-off.size-s
							input.switch-input#cb-instant-book(type="checkbox")
							label.switch-label(for="cb-instant-book")
					.horizontal-line
					a.address-remove Xóa
					button.btn.btn-primary.btn--m Lưu
					




