block Profile

- var moduleComment = []
- moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'It is an amazing experience on renting his car, very easy for my first try, I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'})
- moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'It is an amazing experience on renting his car, very easy for my first try, I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'})
- moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'Excellent guest, made the rental process easy. Thanks!'})
//- - moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'})
//- - moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'happy 4th July!!!'})
//- - moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'It is an amazing experience on renting his car, very easy for my first try, I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'})

- var moduleDeal = []
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})

.cover-profile.new-profile(style="background-image:url(images/background/car-9.jpg)")
	.qr-car 
		.ic.ic-qr-code
	
.profile__sect 
	.content-profile--new 
		.desc-profile.desc-account
			.avatar-box
				.avatar.avatar--xl
					span.host-stars 
						<svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M3.74373 14.1812L0 20.4535L4.36948 20.2293L6.35463 23.999L9.81785 18.1959C7.33642 17.5754 5.20562 16.1312 3.74373 14.1812Z" fill="#FFA800"/>
							<path d="M20.2329 14.1812C18.7834 16.1302 16.655 17.575 14.1816 18.2039L17.6518 23.999L19.6348 20.2413L23.9995 20.4648L20.2329 14.1812Z" fill="#FFA800"/>
							<circle cx="12.0004" cy="8.72698" r="8.72698" fill="#FFA800"/>
							<circle cx="12.0028" cy="8.7269" r="7.09067" fill="#FFE99D"/>
							<path d="M11.7334 4.59761C11.85 4.28582 12.291 4.28582 12.4076 4.59761L13.2976 6.9777C13.3482 7.11297 13.4747 7.2049 13.619 7.2112L16.1576 7.32213C16.4901 7.33666 16.6264 7.7561 16.3659 7.96333L14.3773 9.54523C14.2643 9.63513 14.216 9.78388 14.2546 9.92305L14.9336 12.3717C15.0225 12.6925 14.6657 12.9517 14.3881 12.768L12.2691 11.3656C12.1487 11.2859 11.9923 11.2859 11.8719 11.3656L9.7529 12.768C9.47531 12.9517 9.11852 12.6925 9.20746 12.3717L9.88644 9.92305C9.92503 9.78388 9.8767 9.63513 9.76368 9.54523L7.7751 7.96333C7.5146 7.7561 7.65088 7.33666 7.98344 7.32213L10.5221 7.2112C10.6663 7.2049 10.7929 7.11297 10.8434 6.9777L11.7334 4.59761Z" fill="#FFA800"/>
						</svg>
					.avatar-img(style="background-image: url(https://n1-astg-dev.mioto.vn/g/2018/07/15/15/FU9GKsAR-AYZOFuNldjUzw.jpg)")
			.snippet
				//- .profile-info
				//- 	.item-content
				.item-title 
					p Minh Minh
					a.func-edit(title='Báo xấu')
						i.ic.ic-error-gray
				.d-flex
					span.join Tham gia vào 08/2018 
					.bar-line
					span.sum-trips 303 chuyến
					//- .item-points
					//- 	include ../../../images/ic-svg/star.svg
					//- 	span 100 điểm
					//- 	.tooltip
					//- 		i.ic.ic-question-mark
					//- 		.tooltip-text Lorem ipsum dolor sit amet.
				.line-info
					.d-flex
						.info
							span.label Ngày sinh 
							span.ctn 30/10/1995
						.info
							span.label Giới tính
							span.ctn Nữ
					.wr-info
						.s-info
							span.lstitle Tỉ lệ phản hồi
							span.ctn 33%
						.s-info
							span.lstitle Thời gian phản hồi
							span.ctn 0 tiếng
						.s-info
							span.lstitle Tỉ lệ đồng ý
							span.ctn 100%
		.desc-profile 
			//- .wr-info
			//- 	.s-info
			//- 		span.lstitle Tỉ lệ phản hồi 
			//- 		span.ctn 75%
			//- 	.s-info 
			//- 		span.lstitle Thời gian phản hồi
			//- 		span.ctn 7 phút 
			//- 	.s-info 
			//- 		span.lstitle Tỉ lệ đồng ý
			//- 		span.ctn 70%
			.information.information--acc
				.inside 
					ul
						li
							span.label Điện thoại
							span.ctn
								i.ic.ic-verify 
								| Đã xác thực
						li
							span.label Email 
							span.ctn
								i.ic.ic-verify 
								| Đã xác thực 
						li
							span.label Facebook 
							span.ctn
								i.ic.ic-verify 
								| Đã xác thực
						li
							span.label Google 
							span.ctn 
								i.ic.ic-verify 
								| Đã xác thực
	.profile__wrap
		.review__sect 
			.review-container
				.review.review__wrap
					.head-content 
						span.lstitle Đánh giá từ Chủ xe
						.rating
							span.star
								span.star_rate-num 5
								i.full 
							.bar-line 
							.desc 10 nhận xét 
					//- p.no-result Chưa có nhận xét nào 
					mixin list-comments(comment)
						.list-comments 
							.left 
								.fix-avatar
									img(src=comment.img)
							.right  
								.cmt-box 
									.group
										h4.name= comment.heroes 
										p.date 22/02/2017 
									span.star
										span.star_rate-num 5
										i.full
									p.desc= comment.desc
					for comment in moduleComment 
						+list-comments(comment) 
					.s-all 
						p.see-all Xem thêm 
							i.ic.ic-chevron-up 
				.review.review__wrap
					.head-content 
						span.lstitle Đánh giá từ Khách thuê 	
						.rating
							span.star
								span.star_rate-num 5
								i.full 
							.bar-line 
							.desc 78 nhận xét
					//- p.no-result Chưa có nhận xét nào 
					mixin list-comments(comment)
						.list-comments 
							.left 
								.fix-avatar
									img(src=comment.img)
							.right  
								
								.cmt-box 
									.group
										h4.name= comment.heroes 
										p.date 22/02/2017 
									span.star
										span.star_rate-num 5
										i.full
									p.desc= comment.desc
					for comment in moduleComment 
						+list-comments(comment) 
					.s-all 
						p.see-all Xem thêm 
							i.ic.ic-chevron-up
		.properties
			.properties__wrap 
				.props-header 
					span.lstitle Xe của tôi 
				.props-body 
					.swiper-button-next
						i.i-arr
					.swiper-button-prev
						i.i-arr
					.swiper-container.swiper-similar
						.swiper-wrapper
							each moduleDealItem in moduleDeal
								.swiper-slide
									.item-car
										span.img-car 
											.fix-img 
												img(src=`${moduleDealItem.img}`)
										.desc-car 
											span.star
												span.star_rate-num 5
												i.full
											h2 #{moduleDealItem.heroes}
											p 
												span 
													i.ic.ic-clock 
													| 2 trips 
												span 
													i.ic.ic-tag 
													| 900K 
						.swiper-pagination
				//- .s-all
				//- 	p.see-all Xem thêm 
				//- 		i.ic.ic-chevron-up
		